@mixin fonts ($fontName, $fontWay, $weight: normal, $fontTypeList: (woff2, woff, ttf, otf), $style: normal, $display: swap)

	$fontList: (null, null)

	@each $type in $fontTypeList
		$fontList: append(($fontList),  url('../fonts/#{$fontWay}.#{$type}') format('#{$type}'))
			 
	@font-face
		font-family: '#{$fontName}'
		src: $fontList
		font-weight: $weight
		font-style: $style
		font-display: $display //block-для неинформативных шрифтов, optional-для несущих информацию

+fonts(Gilroy, Gilroy-Bold, 700, (woff2, woff))
+fonts(Gilroy, Gilroy-SemiBold, 600, (woff2, woff))
+fonts(Gilroy, Gilroy-Medium, 500, (woff2, woff))
+fonts(Gilroy, Gilroy-Regular, normal, (woff2, woff))


@mixin fontsSecondary ($fontName, $fontWay, $weight: normal, $fontTypeList: (woff2, woff, ttf, otf), $style: normal, $display: swap)

	$fontList: (null, null)

	@each $type in $fontTypeList
		$fontList: append(($fontList),  url('../fonts/#{$fontWay}.#{$type}') format('#{$type}'))

	@font-face
		font-family: '#{$fontName}'
		src: $fontList
		font-weight: $weight
		font-style: $style
		font-display: $display

+fontsSecondary(Helvetica, HelveticaHeavy, 700, (eot, ttf, woff, woff2))
+fontsSecondary(Helvetica, HelveticaBold, 600, (eot, ttf, woff, woff2))
+fontsSecondary(Helvetica, HelveticaMedium, 500, (eot, ttf, woff, woff2))
+fontsSecondary(Helvetica, HelveticaRoman, normal, (eot, ttf, woff, woff2))
