::-webkit-scrollbar-track
	border-radius: 10px
	background-color: $neutral-light-color

::-webkit-scrollbar
	width: 5px
	height: 5px
	background-color: $neutral-light-color

::-webkit-scrollbar-thumb
	border-radius: 10px
	background-color: $color-success-light

html
	box-sizing: border-box
	font-size: 16px
	color: $ui-black-dark
	background: $ui-background
	-ms-overflow-style: none
	overflow: hidden

	+media(1200px)
		font-size: 15px

	+media(640px)
		font-size: 14px

	+media(480px)
		font-size: 13px

html::-webkit-scrollbar
  display: none

body
	font-family: $main-fonts

	&.noclick *
		pointer-events: none

		.button
			pointer-events: auto

.click.click
	pointer-events: auto

*, *:before, *:after 
	box-sizing: border-box
	outline: none
	margin: 0
	padding: 0

ul, ol
	list-style: none
	padding: 0
	margin: 0

.browserupgrade
	margin: 0.2em 0
	background: #ccc
	color: #000
	padding: 0.2em 0

.svg
	display: none

button	
	cursor: pointer

button, input, textarea, select
	font-family: $input-font

img
	max-width: 100%

.container
	display: flex
	flex-direction: column
	flex-grow: 1
	max-width: 1200px
	width: 100%
	padding: 0 30px
	margin: 0 auto

.main__content
	display: flex
	flex-direction: column
	flex-grow: 1

.wrapper
	position: relative
	min-height: 100vh
	background: $ui-background
	transition: all .1s

	&.-menu-opened-
		width: calc(100% - 240px)
		margin-left: 240px

		+media(960px)
			width: 100%
			margin-left: 0

	&.-menu-closed-
		width: calc(100% - 60px)
		margin-left: 60px

		+media(960px)
			width: 100%
			margin-left: 0

		.nav__text
			white-space: nowrap

.page
	position: relative
	display: flex

.pointer
	cursor: pointer

body .-overflow-visible-
	overflow: visible

.__jivoMobileButton
	transform: scale(.6)

.-main-accent-color-
	color: $main-accent-color

.-flex-1-
	flex: 1

.medium-editor-placeholder:after
	color: #e1e2ec
	font-style: normal !important


.-helvetica-
	font-family: $secondary-fonts !important
	letter-spacing: -.3px
	.table
		&__title
			@extend %text-500-18
		&__col-title
			@extend %text-500-14
		&__text
			@extend %text-400-14