<template>
  <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#email-confirm-clip0)">
    <path d="M77.4607 54.8523C75.8269 56.4821 73.6121 57.3956 71.3042 57.3914H8.69558C6.3877 57.3955 4.17292 56.4821 2.53906 54.8523L30.9217 26.4697L35.7216 29.9479C38.2645 31.8265 41.7353 31.8265 44.2782 29.9479L49.0782 26.4697L77.4607 54.8523Z" fill="url(#email-confirm-paint0_linear)"/>
    <path d="M78.3304 5.32185L49.0783 26.4697L44.2783 29.9479C41.7354 31.8265 38.2646 31.8265 35.7218 29.9479L30.9218 26.4697L1.63477 5.35674C3.26373 3.0787 5.89509 1.7305 8.69568 1.7393H71.3043C74.0844 1.74175 76.6957 3.07316 78.3304 5.32185Z" fill="url(#email-confirm-paint1_linear)"/>
    <path d="M1.63491 5.35742L30.9219 26.4704L2.53931 54.853C0.909532 53.2191 -0.00400014 51.0043 7.59434e-05 48.6965V10.4356C-0.00758709 8.61226 0.564858 6.83378 1.63491 5.35742Z" fill="url(#email-confirm-paint2_linear)"/>
    <path d="M79.9998 10.4353V48.6962C80.0038 51.0041 79.0905 53.2189 77.4607 54.8527L49.0781 26.4701L78.3302 5.32227C79.4162 6.8058 80.0009 8.59683 79.9998 10.4353Z" fill="url(#email-confirm-paint3_linear)"/>
    <path d="M39.9995 78.2607C50.5649 78.2607 59.1299 69.6958 59.1299 59.1304C59.1299 48.565 50.5649 40 39.9995 40C29.4341 40 20.8691 48.565 20.8691 59.1304C20.8691 69.6958 29.4341 78.2607 39.9995 78.2607Z" fill="#6979F8"/>
    <path d="M36.5218 67.8263C36.0602 67.8271 35.6172 67.6445 35.2905 67.3185L28.3339 60.3619C27.6666 59.6711 27.6858 58.57 28.3766 57.9027C29.0507 57.2517 30.1191 57.2517 30.7931 57.9027L36.5218 63.6281L47.4644 52.6855C48.1553 52.0181 49.2563 52.0374 49.9236 52.7282C50.5747 53.4022 50.5747 54.4706 49.9236 55.1447L37.7497 67.3186C37.4237 67.6437 36.9822 67.8263 36.5218 67.8263Z" fill="#FAFAFA"/>
    </g>
    <defs>
    <linearGradient id="email-confirm-paint0_linear" x1="39.9999" y1="26.4697" x2="39.9999" y2="57.3914" gradientUnits="userSpaceOnUse">
    <stop stop-color="#C9D3E3"/>
    <stop offset="1" stop-color="#D7DCEC"/>
    </linearGradient>
    <linearGradient id="email-confirm-paint1_linear" x1="39.9826" y1="1.73926" x2="39.9826" y2="31.3569" gradientUnits="userSpaceOnUse">
    <stop stop-color="#D3D9EE"/>
    <stop offset="1" stop-color="#EFF1F9"/>
    </linearGradient>
    <linearGradient id="email-confirm-paint2_linear" x1="15.461" y1="5.35742" x2="15.461" y2="54.853" gradientUnits="userSpaceOnUse">
    <stop stop-color="#C8D2E6"/>
    <stop offset="1" stop-color="#BFCADF" stop-opacity="0.3"/>
    </linearGradient>
    <linearGradient id="email-confirm-paint3_linear" x1="64.539" y1="5.32227" x2="64.539" y2="54.8527" gradientUnits="userSpaceOnUse">
    <stop stop-color="#C8D2E6"/>
    <stop offset="1" stop-color="#BFCADF" stop-opacity="0.3"/>
    </linearGradient>
    <clipPath id="email-confirm-clip0">
    <rect width="80" height="80" fill="white"/>
    </clipPath>
    </defs>
  </svg>
</template>
