<template lang="pug">
  .ui-kit-options(ref="el")
    Options(
      :optionsFields="optionsFields"
      v-click-outside="closeMenu"
      @click="completeFunction"
    )
      slot

    Confirm(
      v-if="confirm"
      :parent="$refs.el"
      :isOpen.sync="confirm"
      :selectedField="selectedField"
      v-model="confirmResult"
    )

</template>

<script>
  import vClickOutside from 'v-click-outside'
  import Options from './Options'

  export default {
    directives: {clickOutside: vClickOutside.directive},
    components: {Options},
    props: {
      optionsFields: {
        default: () => []
      }
    },
    data: () => ({
      open: false,
      confirm: false,
      selectedField: {},
      confirmResult: '',
    }),
    methods: {
      closeMenu(){
        if(this.confirm)
          return
        this.open = false
        this.clearConfirmData()
      },
      toggleMenu(){
        this.open = !this.open
      },
      completeFunction(idx){
        this.selectedField = this.optionsFields[idx]

        if(this.selectedField.confirm) {
          //слушается this.confirmResult
          this.confirm = true;
        } else {
          this.selectedField.func()
          this.closeMenu()
        }
      },
      clearConfirmData() {
        this.confirm = false
        this.confirmResult = ''
      }
    },
    watch: {
      confirmResult() {
        switch(this.confirmResult) {
          case 'success':
            this.selectedField.func()
            this.closeMenu()
            this.clearConfirmData()
            break;
          case 'cancel':
            this.clearConfirmData()
            break;
          default:
            return
        }
      }
    },
    destroyed() {
      this.clearConfirmData()
    }
  }
</script>