<template lang="pug">
  .ui-kit-options__list
    slot

    .ui-kit-options__field(
      v-for="(field, idx) in optionsFields" :key="idx"
      @click="$emit('click', idx)"
      :class="{'-main-second-color-': field.red}"
    )
      Icon.ui-kit-options__field-icon(
        v-if="field.icon"
        :icon="field.icon"
        :style="{'width': field.iconWidth ? field.iconWidth + ' !important' : ''}"
      )

      //.options__text.hover__link
        | {{field.text}}

</template>
<script>
  export default {
    props: {
      optionsFields: {
        type: Array,
        default: () => []
      }
    },
  }
</script>