<template lang="pug">
  .rating
    Header
      .rating-header__block
        UiSelect.rating-header__item.-l-(
          title="Выбор курса"
          placeholder="Ничего не выбрано"
          :option="courseList"
          :value="filter.course === '' ? filter.stream : filter.course"
          :show-grouped="true"
          :select-groups="filter.course === ''"
          :canUnset="true"
          @input="filterByCourse($event)"
          @group-input="filterByStream($event)"
        )
        UiInput.rating-header__item.-l-(
          title="Найти участника"
          icon="ui-search"
          placeholder="Введите имя участника"
          v-model="filter.userName"
          @input="changeValueDebounced($event, 'q')"
        )
      .rating-header__block
        UiDateInput.rating-header__item.-s-.-background-main-(
          :value="filter.dateStart"
          title="Выберите дату"
          placeholder="От"
          icon="ui-calendar"
          iconClass="rating-icon -calendar-"
          :defaultNow="false"
          :disabled-days="dateDisabled"
          :clearable="true"

          @input="startDateChanged($event)"
        )
        UiDateInput.rating-header__item.-s-.-background-main-(
          :value="filter.dateEnd"
          title="Выберите дату"
          placeholder="До"
          icon="ui-calendar"
          iconClass="rating-icon -calendar-"
          :defaultNow="false"
          :disabled-days="dateDisabled"
          :clearable="true"
          @input="endDateChanged($event)"
        )
        // Оставлено до лучших времен
        //UiButton.-transparent-blue-.rating-header__item(
        //  v-else
        //  @click="openModal"
        //)
        //  Icon.rating-header__icon(icon="ui-export")
        //  | Экспорт CSV
    UnifiedTable(
      :sortChanel="filter.sort.order"
      :navTitles="navTitles"

      @setSort="setSort"
    )
    // Оставлено до лучших времен
    //CsvModal(
    //  v-if="isAdmin"
    //  v-model="isShowModal"
    //  :groupId="filter.course"
    //)

</template>

<script>
import Header from "@views/Rating/components/Header";
import Body from "@views/Rating/components/Body";
import Table from "@views/Rating/components/Table";
import Row from "@views/Rating/components/Table/Row";
import Cell from "@views/Rating/components/Table/Cell";
import UnifiedTable from "./components/UnifiedTable";
import CsvModal from "@views/Rating/Hundred/components/CsvModal";
import {mapGetters, mapState} from "vuex";
import replaceRouteQuery from "@lms/functions/replaceMultipleRouteQuery";
import _ from 'lodash';
import moment from "moment";

export default {
  name: "UnifiedGlobal",
  components: {
    Header,
    Body,
    Table,
    Row,
    Cell,
    UnifiedTable,
    CsvModal,
  },
  data: () => ({
    isShowModal: false,
    filter: {
      userName: '',
      course: '',
      stream: '',
      dateStart: '',
      dateEnd: '',
      sort: {
        order: null,
        // 0 - DESC; 1 - ASC
        reversed: null,
      }
    },
    navTitles: [
      {
        title: 'Имя',
        id: 1,
        width: '2fr',
      },
      {
        title: 'Ниша',
        id: 2,
        width: '1fr',
      },
      {
        title: 'Выручка',
        id: 3,
        width: '1fr',

        order: 'revenue',
        reversed: 0,
      },
      {
        title: 'Прибыль',
        id: 4,
        width: '1fr',

        order: 'profit',
        reversed: 0,
      },
    ],
  }),
  computed: {
    ...mapGetters('ratingUnifiedGlobal', {
      courseList: 'courseList',
    }),
    ...mapState('ratingUnifiedGlobal', {
      // Фильтр со вложенностью
      // folders : s => s.data.folders.map(item=> ({
      //   title: item.folder.name[0][0], //Убрать массивы
      //   id: item.folder.id,
      //   list: item.groupArray.map(({id, name})=> ({title: name, id}))
      // }))
    }),
    ...mapState('auth', {
      isAdmin: s => s.data.user.permissions.isAdmin,
      user: s => s.data.user,
      isLoadingUser: s => s.meta.loading,
    }),
  },
  watch: {
    '$route.query'() {
      this.getUserList();
    },
  },
  created() {
    this.initFilter()
  },
  mounted() {
    this.getFoulder()
    this.getUserList()
  },
  methods: {
    initFilter() {
      let query = this.$route.query
      let filter = this.filter

      filter.userName = query['name'] || filter.userName;
      filter.course = +query['groupIds'] || filter.course;
      filter.stream = query['stream'] || filter.stream;
      filter.dateStart = query['date_start'] || filter.dateStart;
      filter.dateEnd = query['date_end'] || filter.dateEnd;

      filter.sort.order = query['order'] || filter.order;
      filter.sort.reversed = query['reversed'] || filter.reversed;

      if(query['order'] !== undefined && query['reversed'] !== undefined)
        this.changeSort({order: +query['order'], reversed: +query['reversed']})
    },
    filterByStream(value) {
      this.filter.stream = value;
      this.filter.course = '';
      this.multipleChangeValue({
        'group': this.filter.course,
        'stream': this.filter.stream
      });
    },
    filterByCourse(value) {
      this.filter.course = value;
      this.filter.stream = '';
      this.multipleChangeValue({
        'group': this.filter.course,
        'stream': this.filter.stream
      });
    },
    openUser(id) {
      this.$router.push(`/rating/hundred/user/${id}`)
    },
    getFoulder() {
      this.$store.dispatch('ratingUnifiedGlobal/getFoulders')
    },
    getUserList() {
      this.$store.dispatch('ratingUnifiedGlobal/getUserList', this.filter.sort)
    },
    changeValue(value, name) {
      let obj = {}
      obj[name] = value

      let arrQuery = Object.entries({...this.$route.query, ...obj }).map( el =>
          ({
            method: 'replace',
            name: el[0],
            value: el[1]
          }))

      if(this.checkRouterEqual(arrQuery))
        return
      replaceRouteQuery( arrQuery )
    },
    dateDisabled(date) {
      return moment(date).isoWeekday() !== 1;
    },
    changeValueDebounced: _.debounce(function(value, name) { this.changeValue(value, name) }, 500),
    multipleChangeValue(params) {
      let arrQuery = Object.entries({...this.$route.query, ...params }).map( el => ({
        method: 'replace',
        name: el[0],
        value: el[1]
      }))

      if(this.checkRouterEqual(arrQuery))
        return
      replaceRouteQuery( arrQuery )
    },
    checkRouterEqual(arrQuery) {
      return !arrQuery.find(param => param.value != this.$route.query[param.name])
    },
    setSort({order, reversed, id}) {
      if(order !== this.filter.sort.order) {
        this.changeSort({order})
        this.multipleChangeValue({order: order, reversed})
      } else {
        let idx = this.navTitles.findIndex(nav => nav.id === id)
        this.changeSort({order, reversed: reversed ? 0 : 1});
        this.multipleChangeValue({reversed: this.navTitles[idx].reversed})
      }
    },
    startDateChanged(newDate) {
      const startOfWeek = newDate ? moment(newDate).startOf('week').format('YYYY-MM-DD') : undefined
      this.filter.dateStart = startOfWeek
      this.changeValue(startOfWeek, 'startDate')
    },
    endDateChanged(newDate) {
      const startOfWeek = newDate ? moment(newDate).startOf('week').format('YYYY-MM-DD') : undefined
      this.filter.dateEnd = startOfWeek
      this.changeValue(startOfWeek, 'endDate')
    },
    changeSort({order, reversed}) {
      if(order !== undefined)
        this.filter.sort.order = order

      if(order !== undefined && reversed !== undefined) {
        let idx = this.navTitles.findIndex(nav => nav.order === order)
        if(idx === -1) return
        this.navTitles[idx].reversed = reversed;
        this.filter.sort.reversed
      }
    },
    openModal() {
      this.isShowModal = true
    },
  },
  destroyed() {
    this.$store.dispatch('ratingUnifiedGlobal/clearUserList')
  }
}
</script>

<style scoped>

</style>
