<template lang="pug">
.questionnaire-copy
  .questionnaire-copy__title
    | {{title}}
  .questionnaire-copy__field(
    @click="copyText"
  )
    p.questionnaire-copy__text(
      v-if="!loading"
      ref="input"
    )
      span {{text}}
    p.questionnaire-copy__text.ajax__line.-round-(
      v-else
      :style="{height: '26px', width: '160px'}"
    )
    .questionnaire-copy__icon-wrap
      Icon.questionnaire-copy__icon(
        v-if="!loading"
        icon="ui-copy"
      )
</template>

<script>
export default {
  props: {
    title: {},
    text: {},
    loading: {
      default: false,
    },
  },
  methods: {
    copyText() {
      navigator.clipboard.writeText(this.text)
      .then(() => {
        this.$store.dispatch('ajax/addMessage', { message: 'Код скопирован', type: 'success' }, { root: true })
      })
      .catch(err => {
        console.warn('Не удалось скопировать код');
      });
    }
  }
}
</script>

<style>

</style>