<template lang="pug">
div(
  :class="[`questionnaire-question-${display}`, `-${type}-`]"
)
  template(v-for="question in option")
    UiButton.-blue-gray-(
      :class="[`questionnaire-question-${display}__item`,{'-active-': question.id === value}]"
      @click="setActive(question.id)"
    ) {{question.title}}
  
  
</template>

<script>

export default {
  props: {
    option: {},
    value: {},
    type: {},
    display: {},
  },
  computed: {
    activeClass() {

    }
  },
  methods: {
    setActive(id) {
      this.$emit('input', id)
    },
  }
}
</script>

<style>

</style>