<template lang="pug">
.questionnaire-question-grid.-double-
  UiTextarea.questionnaire-question-grid__item(
    :height="100"
    title="Ответ"
    placeholder="Напишите ответ в свободной форме"
    :value="value"
    @input="setValue"
  )

  
</template>

<script>

export default {
  props: {
    option: {},
    value: {}
  },
  methods: {
    setValue(value) {
      this.$emit('input', value)
    }
  }
}
</script>

<style>

</style>