<template lang="pug">
div(
  :class="[`questionnaire-question-${display}`, `-${type}-`]"
)
  template(v-if="option && option.length")
    UiButton.-blue-gray-.ajax__line(
      v-for="question in option" :key="question.id"
      :class="[`questionnaire-question-${display}__item`]"
      :style="{minHeight: '39px'}"
    ) 
      span(style="visibility: hidden") {{question.title}}
  template(v-else)
    UiButton.-blue-gray-.ajax__line(
      :class="[`questionnaire-question-grid__item`]"
      :style="{minHeight: '134px'}"
    ) 
  

</template>

<script>

export default {
  props: {
    option: {},
    value: {},
    type: {},
    display: {},
  },
  computed: {
    // minHeight() {
    //   let height = this.type === 'long-text' ? '200px' : '39px'
    //   return height
    // }
  },
  methods: {
    setActive(id) {
      this.$emit('input', id)
    },
  }
}
</script>

<style>

</style>