<template lang="pug">
.questionnaire-question-grid.-square-
  template(v-for="question in option")
    UiButton.questionnaire-question-grid__item.-blue-gray-(
      :class="{'-active-': question.id === value}"
      @click="setActive(question.id)"
    ) {{question.value}}
  
  
</template>

<script>

export default {
  props: {
    option: {},
    value: {}
  },
  methods: {
    setActive(id) {
      this.$emit('input', id)
    }
  }
}
</script>

<style>

</style>