<template lang="pug">
  .rating-avatar
    img.rating-avatar__img(
      :src="src || 'https://lms.toolbox.wip/lms/img/user-default.jpg'"
      alt=""
    )
    Icon.rating-avatar__img-icon(
      v-if="isLeader"
      icon="ui-star-volume"
    )
</template>

<script>
export default {
  props: {
    src: {},
    isLeader: {
      default: false,
    },
    loading: {
      
    }
  }

}
</script>

<style>

</style>