<template lang="pug">
  Row.-pointer-(
    :navTitles="navTitles"
    height="43px"
  )
    Cell.-full-border-(
      :text="false"
    )
      AvatarLoading
      p.ajax__line.-round-(
        :style="style"
      )
    //- Факультет
    Cell.-full-border-(
      :text="true"
    )
      p.ajax__line.-round-(
        :style="style"
      )
    //- Ниша
    Cell.-full-border-(
      :text="true"
    )
      p.ajax__line.-round-(
        :style="style"
      )
    //- Выручка
    Cell.-full-border-(
      :text="true"
    )
      p.ajax__line.-round-(
        :style="style"
      )
    //- Продажи
    Cell.-full-border-(
      :text="true"
    )
      p.ajax__line.-round-(
        :style="style"
      )
</template>

<script>
import Row from '@lms/views/Rating/components/Table/Row'
import Cell from '@lms/views/Rating/components/Table/Cell'
import AvatarLoading from './AvatarLoading'
export default {
  components: {
    Row,
    Cell,
    AvatarLoading,
  },
  data: ()=>({
    style: {
      width: '100%',
      height: '1em',
    }
  }),
  props: {
    navTitles: {},
  },
}
</script>
