<template lang="pug">
.rating-team-dropdown
  .rating-team-dropdown__row(
    @click="toggle"
    :class="{'-active-': isOpen, '-loading-': loading}"
  )
    .rating-team-dropdown__table(v-if="!loading")
      .rating-team-dropdown__table-item.-controll-
        p.rating-team-dropdown__title(
          :class="`rating-team-dropdown__title--size-${sizeTitle}`"
        ) {{title}}
        Icon.rating-team-dropdown__icon(
          icon="ui-arrow-down-alternative"
          :class="{'-active-': isOpen}"
        )
      .rating-team-dropdown__table-item
        p.rating-team-dropdown__table-text
          | {{revenue}}

      .rating-team-dropdown__table-item
        p.rating-team-dropdown__table-text
          | {{profit}}

    .rating-team-dropdown__loader-wrap(v-else)
      .rating-team-dropdown__loader.ajax__line.-round-
  SlideUpDown.rating-team-dropdown__body(
    :active="isOpen"
    :duration="300"
  )
    slot
  
</template>

<script>
import SlideUpDown from 'vue-slide-up-down'

export default {
  components: {
    SlideUpDown,
  },
  props: {
    title: {},
    sizeTitle: {
      default: 'md'
    },
    revenue: {},
    profit: {},
    loading: {
      default: false,
    },
  },
  data: () => ({
    isOpen: false
  }),
  methods: {
    toggle() {
      this.isOpen = !this.isOpen
      this.$emit('isOpen', this.isOpen)
    },
  }
}
</script>
