<template lang="pug">
  TableDropdown(
    :title="folderTeam.name"
    sizeTitle="l"
    rowClass="-gray-"
    headerClass="-team-analityc-table-"

    :revenue="revenue"
    :profit="profit"

    @isOpen="watchStateDropdown"
  )
    template(
      v-if="isTeamLoading"
    )
      //- Лодер по количеству юзеров 
      EmptyRow.-pointer-(
        v-for="user in +folderTeam.count" :key="user"
        :navTitles="navTitles"
        height="43px"
      )
    template(
      v-else
    )
      TeamRow(
        v-for="user in team.users" :key="user.id"
        :leader="team.leader"
        :user="user"
        :navTitles="navTitles"
        height="43px"
        @click.native="openUserTraction(user.id)"
      )
    
</template>

<script>
import { mapState } from 'vuex'

import TeamRow from './TeamRow'
import EmptyRow from './EmptyRow'
import TableDropdown from './TableDropdown'

import numberFormat from "toolbox/filters/numberFormat.filter";

export default {
  components: {
    TeamRow,
    EmptyRow,
    TableDropdown,
  },
  props: {
    navTitles: {},
    folderTeam: {},
  },
  computed: {
    ...mapState('ratingTeams', {
      teamList: s => s.data.teamList,
    }),
    team() {
      let team = this.teamList.find(item => item.id === this.folderTeam.id) || {}
      return team
    },
    revenue() {
      if(this.folderTeam.revenue !== null)
        return `${numberFormat(this.folderTeam.revenue)} ₽`
      return `Нет данных`
    },
    profit() {
      if(this.folderTeam.profit !== null)
        return `${numberFormat(this.folderTeam.profit)} ₽`
      return `Нет данных`
    }
  },
  data: () => ({
    isTeamLoading: false,
  }),
  methods: {
    async getTeam() {
      if (this.teamList.findIndex(item => item.id === this.folderTeam.id) === -1) {
        this.isTeamLoading = true
        await this.$store.dispatch('ratingTeams/getTeam', this.folderTeam.id)
        this.isTeamLoading = false
      }
    },
    watchStateDropdown(isOpen) {
      if(isOpen)
        this.getTeam()
    },
    openUserTraction(userId) {
      this.$router.push(`/rating/${this.team.tractionType}/user/${userId}`)
    }
  }

}
</script>

<style>

</style>