<template lang="pug">
  PageScroll.-width-limiter-( 
    :data="teamList"
    @incrementPage="setPage"
    :isLoading="noMorePage"
    width="100%"
  )
    .ui-space-table__body-custom
      template(
        v-if="isGroupLoading"
      )
        TeamDropdown(
          v-for="i in 5" :key="i"
          :loading="true"
          sizeTitle="l"
        )
      template(
        v-else
      )
        Team.-pointer-(
          v-for="team in teamPagination" :key="team.id"
          :folderTeam="team"
          :navTitles="navTitles"
        )
        
</template>

<script>
import { mapState, mapGetters } from 'vuex'

import TeamDropdown from './TableDropdown'
import TeamRow from './TeamRow'
import Team from './Team'

export default {
  components: {
    TeamRow,
    TeamDropdown,
    Team,
  },
  data: ()=> ({
    page: 0,
    limit: 20,
  }),
  props: {
    navTitles: {},
  },
  computed: {
    ...mapState('ratingTeams', {
      users: s => s.data.users,
      isGroupLoading: s => s.meta.isGroupLoading,
    }),
    ...mapGetters('ratingTeams', {
      teamList: 'teamList',
    }),
    noMorePage() {
      return this.teamList.length === this.teamPagination.length
    },
    teamPagination() {
      return this.teamList.slice(0, this.page * this.limit)
    },
  },
  mounted() {
    this.setPage()
  },
  methods: {
    setPage() {
      ++this.page
    }
  }
}
</script>

<style>

</style>