<template lang="pug">
  Row.-pointer-(
    :navTitles="navTitles"
    height="43px"
  )
    //- Имя 
    Cell.-full-border-.rating-table-profile(
      :text="false"
    )
      Avatar.rating-table-profile__img(
        :src="user.avatar"
        :isLeader="user.id === leader"
      )
      .rating-table-profile__info
        p.rating-table-profile__title
          | {{userName}}
        p.rating-table-profile__subtitle
          | {{user.city}}
    //- Ниша
    Cell.-full-border-(:title="user.faculty")
      | {{user.faculty || "Нет факультета / сборной"}}
    //- Ниша
    Cell.-full-border-
      | {{user.niche || "Нет ниши"}}
    //- Выручка
    Cell.-full-border-
      | {{revenue}}
    //- Прибыль
    Cell.-full-border-
      | {{profit}}
</template>

<script>
import Row from '@lms/views/Rating/components/Table/Row'
import Cell from '@lms/views/Rating/components/Table/Cell'
import Avatar from './Avatar'

import numberFormat from "toolbox/filters/numberFormat.filter";

export default {
  components: {
    Row,
    Cell,
    Avatar,
  },
  props: {
    navTitles: {},
    user: {
      default: ()=> ({})
    },
    leader: {
      default: false,
    }
  },
  computed: {
    userName() {
      if(this.user.name || this.user.lastname)
        return `${this.user.name} ${this.user.lastname}`
      return 'Аноним'
    },
    revenue() {
      if(this.user.revenue !== null)
        return `${numberFormat(this.user.revenue)} ₽`
      return `Нет данных`
    },
    profit() {
      if(this.user.profit !== null)
        return `${numberFormat(this.user.profit)} ₽`
      return `Нет данных`
    }
  },
}
</script>

<style>

</style>
