<template lang="pug">
  .comment
    template(v-if="isOpen || comments.length <= 3")
      Comment(v-for="( comment, i ) in comments" :key="'answer'+i" :value="comment") 
    Send( :task="task")
    .comment-submit(v-if="commentsCount > 3 && !isOpen" @click="loadComments" )
      | Показать все комментарии ({{ commentsCount }})
</template>
<script>
import Send from './Send';
import Comment from './Comment'
import { mapActions, mapState } from 'vuex';

export default {
  components:
  {
    Send,
    Comment
  },
  props:
  {
    task:{},
    value:
    {
      type: Array,
      default: () => []
    }
  },
  data()
  {
    return {
      isOpen: false
    }
  },
  computed:
  {
    commentsCount()
    {
      return this.comments.length
    },
    comments()
    {
      return typeof this.answer.comments !== 'undefined' ? this.answer.comments : []
    },
    answer()
    {
      return this.value[0].answer || {}
    }
  },
  methods:
  {
    loadComments()
    {
      this.isOpen = true
    }
  }
}
</script>