<template lang="pug">
.course-lesson(
	:class="{'-hidden-': lesson.isHidden}"
	:style="{zIndex: lessonsLength - idx, cursor: !isAdmin && showStartDate ? 'auto' : 'pointer'}"
	@click.self="openLesson"
)
	.course-lesson__side(
		:style="{backgroundImage: `url('`+lesson.side.img.url+`')`}"
		@click="openLesson"
	)
		.course-lesson__side-ddl(v-if="showStartDate && lesson.dateOfStart")
			p Открытие {{startDate}}
		.course-lesson__side-text(
			:class="{'-text-border-': lesson.side.img}"
		)
			| {{lesson.side.imgText}}

	.course-lesson__info(@click.self="openLesson")
		.course-lesson__info-header(@click.self="openLesson")
			.course-lesson__name(@click="openLesson")
				span.course-lesson__name-lesson {{lesson.name}}

				.course-lesson__name-icon(v-if="lesson.isImportant" v-tiny-text-tooltip="{text: 'Важный урок'}")
					Icon(icon="fire")

				.course-lesson__name-icon(v-if="lesson.isStopLesson" v-tiny-text-tooltip="{text: 'Стоп урок'}")
					Icon.-opacity-(icon="hand")

		.course-lesson__description(@click="openLesson")
			p.course-lesson__description-text(v-if="lesson.description" ) {{lesson.description}}

		.course-lesson__footer(@click="openLesson")
			p.course-lesson__footer-item(v-if="lesson.speakers.length > 0")
				| {{lesson.speakers.length > 1 ? 'Спикеры:&nbsp;' : 'Спикер:&nbsp;'}}

				span(v-for="(speaker, idx) in lesson.speakers" :key="speaker.id")
					span.-main-accent-color- {{idx !== 0 ? ', '+speaker.name+' '+speaker.lastname : speaker.name+' '+speaker.lastname}}

				span(v-if="hasTags") ;


			div.course-lesson__footer-item(v-if="hasTags")
				span(v-for="(tag, idx) in lesson.tags" :key="tag.id")
				| #
				span.-main-accent-color- {{tag.name}}
				span {{lesson.tags.length > 1 && idx !== lesson.tags.length-1 ? ', ' : ''}}

		.course-lesson__description-status(v-if="statusIcon" v-tiny-text-tooltip="tooltipText")
			Icon(:icon="statusIcon")
	.course-lesson__helpers
		p.course-lesson__ddl(
			v-if="showDDL && ddlDate" :class="{'-error-': isDdlClose}")
			| Крайний срок: {{ddlDate}}

	template(v-if="isAdmin && !hideControls")
		ControlsArrow.course-lesson__controls(
			v-if="$permissionsUpdate"
			:firstBlock="firstLesson"
			:lastBlock="lastLesson"
			@moveUp="moveUp"
			@moveDown="moveDown"
		)

	OptionsList.course-lesson__options( v-if="optionsFields.length > 0"
		:optionsFields="optionsFields"
	)

</template>

<script>
	import moment from 'moment-timezone';
	import {mapState, mapActions} from 'vuex';

	moment.locale('ru');

	export default {
		props: ['lesson', 'firstLesson', 'lastLesson', 'idx', 'lessonsLength', 'hideControls'],
		data() {
			return {
				options: [
					{
						text: 'Редактировать',
						func: this.openLessonEdit,
						icon: 'edit',
					},
					{
						text: 'Дублировать',
						func: this.openLessonCopy,
						icon: 'copy',
					},
					{
						text: 'Удалить',
						func: this.deleteLessonCall,
						icon: 'delete',
						iconWidth: '10px',
						confirm: true,
						confirmTitle: 'Вы уверены, что хотите удалить этот урок?',
						confirmDescription: 'Урок будет удален навсегда',
						confirmApplyText: 'Удалить',
						confirmCancelText: 'Отменить',
						red: true
					}
				]
			}
		},
		computed: {
			...mapState('auth', {
				$permissions: s => s.data.user.permissions.lessonModuleAdmin,
				isAdmin: s => s.data.user.permissions.isAdmin
			}),
			showStartDate(){
				if(!this.lesson.dateOfStart)
					return false
				
				let nowDate = new Date();
        		let now = moment.tz(nowDate, 'Europe/Moscow');
				let startDate = moment.tz(this.lesson.dateOfStart, 'Europe/Moscow');

				return startDate.format() > now.format()
			},
			isDdlClose() {
				let tomorrow = moment().add(1, 'days')
				tomorrow = moment.tz(tomorrow, 'Europe/Moscow');
				const ddl = moment.tz(this.lesson.task.ddl, 'Europe/Moscow');
				return tomorrow.format() > ddl.format()
			},
			showDDL(){
				if(!this.lesson.dateOfStart && this.lesson.task.ddl)
					return true

				let startDate = moment.tz(this.lesson.dateOfStart, 'Europe/Moscow');
				let ddlDate = moment.tz(this.lesson.task.ddl, 'Europe/Moscow');
				return ddlDate.format() > startDate.format() || ddlDate.format == startDate.format()
			},
			hasTags(){
				return this.lesson.tags.length > 0
			},
			ddlDate(){
				if(!this.lesson.task.ddl)
					return

				let date = moment(this.lesson.task.ddl)
				return date.format('DD.MM HH:mm')
			},
			startDate(){
				let date = moment(this.lesson.dateOfStart)
				return date.format('DD.MM')
			},
			tooltipText(){
				let text = ''
				switch(this.lesson.state){
					case 1 :
						text = 'Урок не просмотрен'
						break;
					case 2 :
						text =  'Урок просмотрен'
						break;
					case 3 :
						text =  'Задание отправлено'
						break;
					case 4 :
						text =  'Задание проверено'
						break;
					default:
						break
				}
				return {
					text: text
				}
			},
			statusIcon(){
				switch(this.lesson.state){
					case 1 :
						return 'lesson-no__watch'
					case 2 :
						return 'lesson-watch'
					case 3 :
						return 'lesson-sending'
					case 4 :
						return 'lesson-checking'
					default:
						return undefined
				}
			},
      optionsFields(){
        let arr = []
        if(this.$permissionsUpdate)
          arr.push(this.options[0])
        if(this.$permissionsCreate)
          arr.push(this.options[1])
        if(this.$permissionsDelete)
          arr.push(this.options[2])
        return arr
      },
		},
		methods: {
			...mapActions('coursesCourse', [
				'moveLesson',
				'openLessonInAside',
				'deleteLesson',
			]),
			openLessonEdit(){
				this.openLessonInAside({lesson: this.lesson, idx: this.idx})
			},
			openLessonCopy(){
				let lessonToCopy = _.cloneDeep(this.lesson)
				lessonToCopy.parentLessonId = lessonToCopy.id
				delete lessonToCopy.id
				this.openLessonInAside({lesson: lessonToCopy, idx: '', copy: true})
			},
			deleteLessonCall(){
				this.deleteLesson({lesson: this.lesson, idx: this.idx})
			},
			openLesson(){
				if(!this.isAdmin && this.showStartDate)
					return

				this.$router.push({path: '/courses/lesson/'+this.lesson.id})
			},
			moveUp(){
				this.moveLesson({id: this.lesson.id, idx: this.idx, direction: 'up'})
			},
			moveDown(){
				this.moveLesson({id: this.lesson.id, idx: this.idx, direction: 'down'})
			}
		},
		destroyed(){
			
		}
	}
</script>
