<template lang="pug">
  .course-lesson
    .course-lesson__side

      .course-lesson__side-text


    .course-lesson__info
      .course-lesson__info-header
        .course-lesson__name
          span.ajax__line.ajax__line-card-text

      .course-lesson__description
        p.ajax__line.ajax__line-card-text

</template>

<script>
</script>