<template>

</template>

<script>
  import eruda from 'eruda'

  export default {
    mounted(){
      this.initEruda()
    },
    methods: {
      initEruda(){
        if(this.$route.query.eruda) {
          let query = _.cloneDeep(this.$route.query)
          delete query.eruda
          this.$router.replace({query})
        }

        eruda.init()
        let y = window.innerHeight - 60
        eruda.position({x: 20, y})
      }
    }
  }
</script>