<template lang='pug'>
    .settings()
      UserInfo

</template>
	
<script>
	import MainInfo from './components/MainInfo/index'
	import MainInfoEdited from './components/MainInfo/Edited'
	import CompanyInfo from './components/CompanyInfo/index'
  import CompanyInfoEdited from './components/CompanyInfo/Edited'
  
  import UserInfo from './components/UserInfo'
	import {mapState, mapActions} from 'vuex'

	export default {
		components: {UserInfo},
	}
</script>