<template lang="pug">
  .rating-avatar(
    v-if="!loading"
  )
    img.rating-avatar__img(
      :src="src || 'https://lms.toolbox.wip/lms/img/user-default.jpg'"
      alt=""
    )
    Icon.rating-avatar__img-icon(
      v-if="isLeader"
      icon="ui-star-volume"
    )
  .rating-avatar.ajax__line(
    v-else
    style="border-radius: 50%"
  )
</template>

<script>
export default {
  props: {
    src: {},
    isLeader: {
      default: false,
    },
    loading: {
      
    }
  }

}
</script>

<style>

</style>