<template lang="pug">
  .ui-space-table__col(@click="$emit('click')")
    .ui-space-table__col-container.-flex-
      component(
        :class="[text ? 'ui-space-table__text' : 'ui-space-table__block']"
        :is="text ? 'p': 'div'"
      )
        slot
</template>

<script>
export default {
  props: {
    loading: {
      default: false,
    },
    text: {
      default: true,
    }
  }

}
</script>

<style>

</style>
