<template lang="pug">
  .ui-space-table__spoiler(
    :style="{'grid-template-columns': gridLayout, 'grid-template-rows': height,}"
  )
    Row.-spoiler-.-pointer-(
      :navTitles="navTitles"
      height="43px"
      @click="changeSpoiler()"
    )
      Cell.-full-border-
        | {{ title }}
        Icon.ui-space-table__icon.-arrow-(
          icon="arrow-down-thick"
          :class="{'-rotate-': !localHidden}"
        )
      Cell.-full-border-
        | {{ fillable }} %
      Cell.-full-border-
        | {{ revenueToOne }} ₽
        .ui-space-table__upper-text(:class="{'-negative-': revenueGrowth <= 0, '-positive-': revenueGrowth > 0}")
          Icon.ui-space-table__icon.-arrow-(
            icon="arrow-down-thick"
            :class="{'-rotate-': revenueGrowth > 0}"
          )
          | {{ Math.abs(revenueGrowth) }} %
      Cell.-full-border-
        | {{ profitToOne }} ₽
        .ui-space-table__upper-text(:class="{'-negative-': profitGrowth <= 0, '-positive-': profitGrowth > 0}")
          Icon.ui-space-table__icon.-arrow-(
            icon="arrow-down-thick"
            :class="{'-rotate-': profitGrowth > 0}"
          )
          | {{ Math.abs(profitGrowth) }} %
    .ui-space-table__spoiler-opener(
      :class="{'-hidden-': localHidden}"
    )
      slot
</template>

<script>
import Cell from './Cell'
import Row from '../../components/Table/Row'

export default {
  components: {Cell, Row},
  props: {
    title: {
      type: String
    },
    fillable: {},
    revenueToOne:{},
    profitToOne:{},
    revenueGrowth: {},
    profitGrowth: {},
    defaultWidth: {
      default: '60px',
    },
    navTitles: {},
    height: {
      default: '32px'
    },
    hidden: {
      default: true
    }
  },
  data () {
    return {
      localHidden: this.hidden
    }
  },
  computed: {
    gridLayout() {
      const result = []

      this.navTitles.forEach(prop => {
        if (!prop) return
        result.push((prop.width || this.defaultWidth))
      })

      return result.join(' ')
    },
  },
  methods: {
    changeSpoiler() {
      this.localHidden = !this.localHidden

      if (this.localHidden) {
        this.$emit('closed')
      } else {
        this.$emit('opened')
      }
    }
  }
}
</script>
