<template lang="pug">
.ui-page-menu(:class="{ '-open-': isOpen, '-min-': isMinimize }")
  .ui-page-menu-toolbox
    Icon.ui-page-menu-toolbox__icon(icon="like-logo")
    transition(name="ui-page-menu__title-fade")
      p(v-if="!isMinimize") Like Центр
    Icon.ui-page-menu__close(icon="side-close", @click="closeAdaptiveMenu")
  #menu-container.ui-page-menu__container
    .ui-page-menu__block
      .ui-page-menu__subblock
        .ui-page-menu__routes
          template(v-for="(route, idx) in mainRoutes")
            List.-main-(
              v-if="route.list",
              :key="route.name",
              v-bind="route",
              :class="route.class && route.class",
              :isMinimize="isMinimize"
            )
            Link.-main-(
              v-else-if="route.show || route.show === undefined",
              :key="route.name",
              v-bind="route",
              :class="route.class && route.class",
              :isMinimize="isMinimize"
            )
    BonusPoints(
      v-if="!isAdmin && (this.isCurrentRoute('/courses/course/') || this.isCurrentRoute('/courses/lesson/'))",
      :isMinimize="isMinimize"
    )
    .ui-page-menu__block
      .ui-page-menu__routes
        template(v-for="(route, idx) in subRoutes")
          List.-main-(
            v-if="route.list",
            :key="route.name",
            v-bind="route",
            :class="route.class && route.class",
            :isMinimize="isMinimize"
          )
          Link.-main-(
            v-else-if="route.show || route.show === undefined",
            :key="route.name",
            v-bind="route",
            :class="route.class && route.class",
            :isMinimize="isMinimize"
          )

  .ui-page-menu-footer
    img.ui-page-menu-footer__logo(src="/lms/img/sk-logo.svg")
    .ui-page-menu-footer__block.-resize-
      Icon.ui-page-menu-footer__icon(
        :icon="isMinimize ? 'ui-resizer-min' : 'ui-resizer-max'",
        @click="toggleMinimize"
      )
  ModalList(v-if="isMinimize && (menuFocus || modalFocus)")
</template>

<script>
import { mapState } from "vuex";
import Link from "./Link";
import List from "./List";
import ModalList from "./ModalList";
import BonusPoints from "./specialBlocks/BonusPoints";

export default {
  components: {
    Link,
    List,
    ModalList,
    BonusPoints,
  },
  computed: {
    ...mapState("menu", {
      isOpen: (s) => s.meta.isOpen,
      isMinimize: (s) => s.meta.isMinimize,
      menuFocus: (s) => s.data.modal.menuFocus,
      modalFocus: (s) => s.data.modal.focus,
      franchLoading: (s) => s.meta.isLoadFranch,
    }),
    ...mapState("lms", {
      course: (s) => s.menu.data.course,
      isFranch: (s) => s.menu.meta.isFranch,
    }),
    ...mapState("auth", {
      $permissions: (s) => s.data.user.permissions,
      $otherPermissions: (s) => s.data.user.permissions,
      isAdmin: (s) => s.data.user.permissions.isAdmin,
      isInFranchGame: (s) => s.data.user.isInFranchGame,
      user: (s) => s.data.user,
      authLoading: (s) => s.meta.loading,
    }),
    loading() {
      return !this.franchLoading && !this.authLoading;
    },
    mainRoutes() {
      return [
        {
          name: "Toolbox",
          class: "-courses-",
          path: "https://toolbox.bz",
          tag: "a",
          icon: "logo-toolbox-uncolor",
        },
        {
          name: "Клуб",
          isActive: this.isCurrentRoute("/club") || this.isCurrentRoute("/profile-club") ,
          icon: "user-group",
          accessName: "userModuleAdmin",
          list: [
            {
              name: "Мой профиль",
              path: `/profile-club/${this.user.id}`,
              show:
                  this.hasAccess("analyticsModelAdmin") ||
                  !!this.user.isSpeedCourse,
            },
            {
              name: "Участники клуба",
              isActive: this.isCurrentRoute("/club"),
              path: "/club",
              show:
                  this.hasAccess("analyticsModelAdmin") ||
                  !!this.user.isSpeedCourse,
            },
          ]
        },
        {
          name: "Курсы",
          path: "/courses/folder/list",
          icon: "dashboard",
        },
        {
          name: "Проверка заданий",
          path: "/answers/validating",
          icon: "book-teach",
          accessName: "taskAnswerCheckAdmin",
          exact: true,
        },
        {
          name: "Лента ответов",
          path: "/answers/validating/feed",
          icon: "answers-feed",
          accessName: "taskAnswerCheckAdmin",
        },
        {
          name: "Аналитика проверяющих",
          path: "/answers/analytics/validators",
          icon: "f200",
          accessName: "taskAnswerCheckAdmin",
        },
        {
          name: "Комментарии",
          path: "/answers/comments",
          icon: "f200",
          accessName: "taskAnswerCheckAdmin",
        },
        {
          name: "Твой прогресс",
          isActive:
            this.isCurrentRoute("/rating/hundred") ||
            this.isCurrentRoute("/rating/msa") ||
            this.isCurrentRoute("/rating/speed") ||
            this.isCurrentRoute("/rating/teams") ||
            this.isCurrentRoute("/rating/investments") ||
            this.isCurrentRoute("/rating/fast-cash") ||
            this.isCurrentRoute("/rating/unified") ||
            this.isCurrentRoute("/traction-analytics/speed-and-hundred") ||
            this.isCurrentRoute("/traction-analytics/reports"),
          icon: "progress-chart",
          list: [
            {
              name: "Трекшен MсA",
              path: this.analyticLink({
                admin: {
                  accessName: "analyticsModelAdmin",
                  path: "/rating/msa",
                },
                user: {
                  access: 'null',
                  path: '/courses/folder/list'
                }
              }),
              show:
                this.hasAccess("analyticsModelAdmin") || this.user.isAdmin,
            },
            {
              name: "Трекшен",
              path: this.analyticLink({
                admin: {
                  accessName: "analyticsModelAdmin",
                  path: `/rating/unified`,
                },
                user: {
                  access: "isSpeedHundredCourse",
                  path: `/rating/unified/user/${this.user.id}`,
                },
              }),
              show: true
            },
            {
              name: "Аналитика МИ",
              path: this.analyticLink({
                admin: {
                  accessName: "analyticsModelAdmin",
                  path: "/rating/investments",
                },
                user: {
                  access: 'null',
                  path: '/courses/folder/list'
                }
              }),
              show:
                this.hasAccess("analyticsModelAdmin") ||
                !!this.user.isMarathonInvestment,
            },
            {
              name: "Аналитика по командам",
              path: "/rating/teams",
              show:
                this.hasAccess("analyticsModelAdmin") || !!this.user.teamWorker,
            },
            {
              name: "Общая аналитика",
              path: "/traction-analytics/speed-and-hundred",
              show: this.hasAccess("analyticsModelAdmin"),
            },
            {
              name: "Общая аналитика - отчеты",
              path: "/traction-analytics/reports",
              show: this.hasAccess("analyticsModelAdmin"),
            },
          ],
        },
        {
          name: "Команды",
          icon: "teams",
          isActive: this.isCurrentRoute("/teams/allocated") || this.isCurrentRoute("/teams/unallocated"),
          list: [
            {
              name: 'Распределенные',
              path: '/teams/allocated',
              show: !!this.user.teams || !!this.user.isAdmin,
            },
            {
              name: 'Нераспределенные',
              path: '/teams/unallocated',
              show: !!this.user.teams || !!this.user.isAdmin,
            }
          ],
        },
        {
          name: "Группы",
          path: "/users/group/list",
          icon: "user-group",
          accessName: "userGroupModuleAdmin",
        },
        {
          name: "Пользователи",
          path: "/users/list",
          icon: "user-tie",
          accessName: "userModuleAdmin",
        },
        {
          name: "Баллы",
          path: "/users/points",
          icon: "points",
          accessName: "userModuleAdmin",
        },
      ];
    },
    subRoutes() {
      return [
        { name: "Подарки партнёров", path: "/partners", icon: "gift", show: !!this.user.isSpeedCourse || !!this.user.isHundredCourse || this.user.isAdmin},
        { name: "Профиль", path: "/user/settings", icon: "gear" },
        { name: "Выйти", path: "/logout", icon: "logout" },
      ];
    }
  },
  watch: {
    isOpen(cur) {
      if (cur === true)
        this.$store.dispatch("menu/setMeta", {
          path: "isMinimize",
          value: false,
        });
    },
  },
  methods: {
    isCurrentRoute(path) {
      return this.$route.path.includes(path);
    },
    closeAdaptiveMenu() {
      this.$store.dispatch("menu/setMeta", { path: "isOpen", value: false });
    },
    toggleMinimize() {
      this.$store.dispatch("menu/setMeta", {
        path: "isMinimize",
        value: !this.isMinimize,
      });
    },
    hasAnyCourse() {
      return this.user.isHundredCourse || this.user.isSpeedCourse
          || this.user.isMSACourse || this.user.isMarathonInvestment || this.user.isFastCashCourse
    },
    analyticLink({ admin, user }) {
      if (this.checkPermission({ key: admin.accessName, type: "read" }))
        return admin.path;
      else if (user && user.access && this.user[user.access]) return user.path;
      else if (user.access === 'isSpeedHundredCourse') {
        return user.path
      }
      else return "/";
    },
    hasAccess(accessName) {
      if (!accessName) return true;

      if (!this.loading) return false;

      return !!this.checkPermission({ key: accessName, type: "read" });
    },
  },

};
</script>
