<template lang="pug">
  router-link.ui-page-menu__route(
    v-if="tag === 'routerLink' && hasAccess"
    active-class="-active-"
    :class="{'-active-': isActive, '-open-': minimizeFocus}"
    :to="path"
    :exact="exact"
    @click.native="changeRoute"
    @mouseenter.native="watchScroll"
    @mouseleave.native="unwatchScroll"
    ref="category"
  )
    Icon.ui-page-menu__route-icon(
      :class="iconClass"
      :icon="icon || 'empty'"
    )
    transition(name="ui-page-menu__title-fade")
      p.ui-page-menu__route-name(v-if="!isMinimize")
        | {{name}}

  a.ui-page-menu__route(
    v-else-if="tag === 'a' && hasAccess"
    :href="path"
    :target="target"
    :class="{'-open-': minimizeFocus}"
    @mouseenter="watchScroll"
    @mouseleave="unwatchScroll"
    ref="category"
  )
    Icon.ui-page-menu__route-icon(
      :class="iconClass"
      :icon="icon"
    )
    transition(name="ui-page-menu__title-fade")
      p.ui-page-menu__route-name(v-if="!isMinimize")
        | {{name}}

</template>

<script>    
  import {mapState} from 'vuex'

  export default {
    props: {
      isActive: {},
      path: {},
      name: {},
      tag: {
        default: 'routerLink'
      },
      icon: {},
      iconClass: {},
      target: {
        default: '_blank'
      },
      accessName: {},
      isMinimize: {},
      exact: {},
    },
    methods: {
      changeRoute() {
        this.$emit('changeRoute')
        if(window.innerWidth < 960)
          this.$store.dispatch('menu/setMeta', {path: 'isOpen', value: false})
      },
      setModal() {
        let category = this.tag === 'routerLink' ? this.$refs.category.$el : this.$refs.category;
        this.$store.dispatch('menu/setModal', {
          position: category.getBoundingClientRect().y,
          path: this.path,
          name: this.name,
          tag: this.tag,
          isActive: this.isActive,
        })
      },
      unsetModal() {
        this.$store.dispatch('menu/unsetMenuFocus')
      },
      watchScroll() {
        this.setModal()
        document.querySelector('#menu-container').addEventListener('scroll', this.setModal)
        this.$store.dispatch('menu/setMenuFocus')
      },
      unwatchScroll() {
        document.querySelector('#menu-container').removeEventListener('scroll', this.setModal)
        this.$store.dispatch('menu/unsetMenuFocus')
      },
    },
    computed: {
      hasAccess() {
        if(!this.accessName)
          return true

        if(Array.isArray(this.accessName))
          return !this.accessName.find(access => !this.checkPermission({key: this.accessName, type: 'read'}))

        return this.checkPermission({key: this.accessName, type: 'read'})
      },
      ...mapState('menu', {
        menuFocus: s => s.data.modal.menuFocus,
        modalFocus: s => s.data.modal.focus,
        focusItem: s => s.data.modal.name, //надо бы id с бэка взять
      }),
      minimizeFocus() {
        let isFocusItem = this.focusItem === this.name;
        //чекаем фокусы на модалке и самом элементе 
        return isFocusItem && (this.modalFocus || this.menuFocus)
      },
    },
  }
</script>