<template lang="pug">
  .ui-page-menu__list(
    :class="{'-open-': isOpen || minimizeFocus, '-active-': isActive}"
    v-click-outside="closeSlider"
    v-if="hasAccessList"
    ref="category"
    @mouseenter="watchScroll"
    @mouseleave="unwatchScroll"
  )
    .ui-page-menu__list-main(
      :class="{'-active-': isActive, '-open-': !isMinimize && isOpen}"
      @click="!isMinimize ? toggleSlider() : openFirstLink()"
    )
      Icon.ui-page-menu__list-icon(v-if="icon" :icon="icon")
      transition(name="ui-page-menu__title-fade")
        p.ui-page-menu__list-name(v-if="!isMinimize")
          | {{name}}

    SlideUpDown.ui-page-menu__list-slider(
      :active="isOpen && !isMinimize"
      :duration="200"
      tag="div"
    )
      .ui-page-menu__routes
        template(v-for="(route, idx) in list")
          Link(
            v-if="(route.show || route.show === undefined) && hasAccess(route.accessName)"
            :key="route.name"
            v-bind="route"
            :children="true"
            @changeRoute="closeSlider"
            :class="route.class && route.class"
          )

</template>

<script>
  import Link from "toolbox/components/UiKit/Menu/Link";
  import SlideUpDown from 'vue-slide-up-down'
  import vClickOutside from 'v-click-outside'

  import {mapState} from 'vuex'

  export default {
    directives: {clickOutside: vClickOutside.directive},
    props: {
      isActive: {},
      name: {},
      icon: {},
      iconClass: {},
      list: {
        default: () => []
      },
      tag:{
        default: 'routerLink'
      },
      isMinimize: {},
      focus: false,
    },
    components: {Link, SlideUpDown},
    data: () => ({
      isOpen: false
    }),
    computed: {
      ...mapState('menu', {
        menuFocus: s => s.data.modal.menuFocus,
        modalFocus: s => s.data.modal.focus,
        focusItem: s => s.data.modal.name, //надо бы id с бэка взять
      }),
      minimizeFocus() {
        let isFocusItem = this.focusItem === this.name;
        //чекаем фокусы на модалке и самом элементе
        return isFocusItem && (this.modalFocus || this.menuFocus)
      },
      accessList() {
        let list = this.list.map(route => route.accessName || "")

        return list
      },
      hasAccessList() {

        let accessResult = this.list.findIndex(({accessName, show}) => {
          if(!accessName && show !== undefined)
            return show
          return this.hasAccess(accessName)
        })

        return accessResult !== -1
      },
    },
    created() {
      this.isOpen = this.isActive
    },
    methods: {
      toggleSlider() {
        this.isOpen = !this.isOpen
      },
      openFirstLink() {
        //Проверяем есть ли ссылки вообще
        if (!this.list.length) return
        let accessLink = this.list.find(({accessName}) => this.hasAccess(accessName))

        if(accessLink) {
          // если стоит тег a, открываем в новом окне
          if(accessLink.tag === 'a')
            window.open(accessLink.path, accessLink.target || '_blank' );
            // если нет, пушим роут
          else
            this.$router.push(accessLink.path)
        }

      },
      closeSlider() {
        //this.isOpen = false
      },
      hasAccess(accessName) {
        if (!accessName)
          return true

        // return this.getRights({module: accessName, action: 'read'}) !== 'denied'
        return !!this.checkPermission({key: accessName, type: 'read'})
      },
      setModal() {
        this.$store.dispatch('menu/setModal', {
          position: this.$refs.category.getBoundingClientRect().y,
          name: this.name,
          list: this.list,
          tag: this.tag,
          isActive: this.isActive,
        })
        this.$store.dispatch('menu/setMenuFocus')
      },
      unsetModal() {
        this.$store.dispatch('menu/unsetMenuFocus')
      },
      watchScroll() {
        this.setModal()
        document.querySelector('#menu-container').addEventListener('scroll', this.setModal)
        this.$store.dispatch('menu/setMenuFocus')
      },
      unwatchScroll() {
        document.querySelector('#menu-container').removeEventListener('scroll', this.setModal)
        this.$store.dispatch('menu/unsetMenuFocus')
      },
    },
    watch: {
      isMinimize(val) {
        if (val)
          this.isOpen = false
      },
      isActive(val) {
        this.isOpen = val
        if (val)
          this.setModal()
      }
    }
  }
</script>
