<template lang="pug">
router-link.ui-page-menu-modal-list__link(
  v-if="tag === 'routerLink'"
  active-class="-active-"
  :class="{'-active-': link.isActive}"
  :to="link.path"
) 
  slot {{link.name}}
a.ui-page-menu-modal-list__link(
  v-else
  :href="link.path"
  :target="target"
) 
  slot {{link.name}}

</template>

<script>
export default {
  props: {
    link: {},
    tag: {
      default: 'routerLink'
    },
    target: {
      default: '_blank'
    },
  },
}
</script>
