<template lang="pug">
.ui-page-menu-modal-list-wrap(
    @mouseenter="setModalFocus"
    @mouseleave="unsetModalFocus"
    :style="[position]"
)
  .ui-page-menu-modal-list(
    ref="modal"
  )
    ModalLink.ui-page-menu-modal-list__name(
      :class="{'-active-': isActive}"
      :link="mainLink"
      :tag="mainLink.tag"
      :target="mainLink.target"
      :path="mainLink.path"
    )
      | {{modal.name}}
    .ui-page-menu-modal-list__list(v-if="modal.list.length")
      ModalLink.ui-page-menu-modal-list__link(
        v-for="link in modal.list" :key="link.name"
        v-if="isShow(link)"
        :link="link"
        :tag="link.tag"
        :target="link.target"
        :path="link.path"
      )

    
</template>

<script>
import { mapState } from 'vuex'
import ModalLink from './ModalLink'
export default {
  components: {ModalLink},
  data: ()=> ({
    position: '',
    menuScroll: '',
  }),
  computed: {
    ...mapState('menu', {
      modal: s => s.data.modal,
      isActive: s => s.data.modal.isActive
    }),
    mainLink() {
      if (!this.modal) return

      if(this.modal.path)
        return this.modal
      else if(this.modal.list.length) {
        let accessLink = this.modal.list.find(({accessName}) => this.hasAccess(accessName))
        return accessLink
      }
    }
  },
  mounted() {
    this.setPosition()
  },
  methods: {
    setPosition() {
      this.position = {
        top: `${this.modal.position}px`
      }
    },
    isShow({accessName, show}) {
      if(!accessName && show !== undefined)
        return show

      return this.hasAccess(accessName)
    },
    hasAccess(accessName) {
      if(!accessName)
        return true

      // return this.getRights({module: accessName, action: 'read'}) !== 'denied'
      return !!this.checkPermission({key: accessName, type: 'read'})
    },

    setModalFocus() {
      this.$store.dispatch('menu/setModalFocus')
    },
    unsetModalFocus() {
      this.$store.dispatch('menu/unsetModalFocus')
    }

  },
  watch: {
    'modal.position'() {
      this.setPosition()
    },

  }
}
</script>

<style>

</style>