<template>
   <div id="confirmPopupInBody" ref="el" class="options__confirm" :style="{'top':top+'px','left':left+'px'}" v-click-outside="close">
      <p class="options__confirm-title" v-if="selectedField.confirmTitle">
         {{selectedField.confirmTitle}}
      </p>
      <p  class="options__confirm-description" v-if="selectedField.confirmDescription">
        {{selectedField.confirmDescription}}
      </p>
      <div class="options__confirm-buttons">
        <Button class="-xs-" @click="$emit('input','success')">
          {{selectedField.confirmApplyText ? selectedField.confirmApplyText : 'Да'}}
        </Button>
        <div class="options__confirm-cancel" @click="$emit('input','cancel')">
          {{selectedField.confirmCancelText ? selectedField.confirmCancelText : 'Отменить'}}
        </div>
      </div>
    </div>
</template>

<script>
  import vClickOutside from 'v-click-outside'

  export default {
    directives: {clickOutside: vClickOutside.directive},
    props:{
      selectedField:{},
      value:{},
      isOpen: {},
      parent: {},
      scrollTrigger: {},
      container: {
        default: () => document.querySelector('.ui-space')
      }
    },
    data(){
      return{
        top:'',
        left:'',
        width: '',
        closed: false
      }
    },
    mounted(){
      this.getCoords()
      this.watchScroll()
    },
    methods: {
      getCoords() {
        this.container.append(this.$refs.el);
        this.setCoords()
      },
      setCoords(){
      let containerRect = this.container.getBoundingClientRect()
      let parentRect = this.parent.getBoundingClientRect()

      this.top = parentRect.top - containerRect.top + this.container.scrollTop + parentRect.height + 10;
      this.left = parentRect.left - containerRect.left + this.container.scrollLeft
      },
      close() {
        this.$destroy()
      },
      watchScroll() {
        if(this.scrollTrigger)
          this.scrollTrigger.addEventListener('scroll', this.setCoords)
      },
      unwatchScroll() {
        if(this.scrollTrigger)
          this.scrollTrigger.removeEventListener('scroll', this.setCoords)
      },
    },
    destroyed() {
      this.$emit('update:isOpen', false)
      this.unwatchScroll()
      if(document.getElementById('confirmPopupInBody'))
        document.getElementById('confirmPopupInBody').remove()
    }
  }
</script>