<template lang="pug">
  .aside__subblock
    .aside__list
      .aside__item.-full-
        .aside__list-title
          | Личные данные
      .aside__item.-full-
        UserInfo( :value="user" @compare="compareUser")
      
      .aside__item.-full-
        .aside__list-title
          | Другие данные
        
      .aside__item.-full-( v-for="( course, idx ) in coursesList" :key="idx")

        .aside__item.-full-.position-relative(v-if="coursesList.length > 1")
          Icon.aside-options__icon.aside__block-remove(icon="input-delete" @click="removeCourse(course)" ) 

        CourseInfo( :value="coursesList[idx]" :user="user.id" @compare="compare")
        .aside__item.-full-

      .aside__item.-full-
        .aside-options__flex( 
          @click="addCourse"
        )
          Icon.aside-options__icon(icon="plus-circle") 
          | Добавить курс

</template>

<script>
  import {mapState} from 'vuex'
  import UserInfo from './Forms/UserInfo'
  import CourseInfo from './Forms/CourseInfo'
  

  export default {
    components:{
      UserInfo,
      CourseInfo
    },
    data: () => ({
      isUserCompare: false,
      user: {
        id:'',
        select:'',
        email: '',
        name: '',
        lastname: '',
        phone: '',
        city:'',
        site:'',
        niche:'',
        profitPerYear:'',
        profitPerLastYear:''
      },
      coursesList:[
        {
          rowId: 1,
          courseId:'',
          tariffId: '',
          manager:'',
          tracker: '',
          // mentor: '',
          faculty:'',
        }
      ],
      count:0,
    }),
    computed: {
      ...mapState('users', {
        canSave: s => s.aside.meta.canSave,
        dataUser: s => s.aside.data.user,
        userCoruseList: s=> s.data.userCoruseList
      }),
    },
    mounted(){
      if( this.dataUser.id){
        this.$store.dispatch('users/getUsersCourse',{ id: this.dataUser.id })
        this.user = _.cloneDeep(this.dataUser)
        this.coursesList = _.cloneDeep(this.userCoruseList).map( el => ( {
          ...el,
          rowId: this.count++
        } ))
      }
    },
    watch:{
      userCoruseList(){
        if(this.userCoruseList)
          this.coursesList = _.cloneDeep(this.userCoruseList).map( el => ( {
            ...el,
            rowId: this.count++
          }))
      }
    },
    methods: {
      compare(v){
        let index = this.coursesList.findIndex( el => el.id == v.id)
        this.coursesList[index] = {...v}
        if(this.user.id || this.isUserCompare)
          this.$store.dispatch('users/setAsideMeta',{ path: 'canSave', value: true })
        if(!v.courseId)
          this.$store.dispatch('users/setAsideMeta',{ path: 'canSave', value: true })
        if(v.courseId && !v.tariffId)
          this.$store.dispatch('users/setAsideMeta',{ path: 'canSave', value: false })

        this.$store.dispatch('users/setAsideData', { path:'user', value: this.user })
        this.$store.dispatch('users/setData',{ path: 'selectedCourse', value: this.coursesList })

      },
      compareUser(v){
        this.user = {...v}
        this.isUserCompare = true
        this.$store.dispatch('users/setAsideMeta',{ path: 'canSave', value: true })
        this.$store.dispatch('users/setAsideData', { path:'user', value: this.user })
        this.$store.dispatch('users/setData',{ path: 'selectedCourse', value: this.coursesList })
      },
      addCourse(){
        let max = Math.max.apply(null,this.coursesList.map( el => el.rowId));
        this.coursesList = [...this.coursesList, {
          rowId: +max+1,
          courseId:'',
          tariffId: '',
          manager:'',
          tracker: ''
        }]
      },
      removeCourse(course){
        if( course.courseId)
          this.$store.dispatch('users/setSelectedCourse', { id: course.courseId, remove: true });
        this.coursesList = this.coursesList.filter( el => el.rowId !== course.rowId)
        this.$store.dispatch('users/setData',{ path: 'selectedCourse', value: this.coursesList })
      }
    },
    destroyed() {
      this.$store.dispatch('usersGroupsUsers/setAsideData', {path: 'stagedUser', value: {}})
      this.$store.dispatch('usersGroupsUsers/setAsideMeta', {path: 'canSave', value: false})
      this.$store.dispatch('users/setAsideMeta',{ path: 'canSave', value: false})
    }
  }
</script>