<template lang="pug">
  .aside__block
    Head
    Form

</template>

<script>
  import Head from './Head'
  import Form from './Form'

  import {mapActions} from 'vuex'

  export default {
    components: {Head, Form},
    methods: {
      ...mapActions('users', [
        'setAsideMeta',
        'setAsideData',
        'setData'
      ])
    },
    destroyed() {
      this.setAsideMeta({path: 'copy', value: false})
      this.setAsideMeta({path: 'canSave', value: false})
      this.setData({ path: 'selectedData', value: []})
      this.setData({ path: 'userCoruseList', value: []})
      this.setData({ path: 'courseList', value: {}})
      this.setData({ path: 'selectedCourse', value: []})
    }
  }
</script>