<template lang="pug">
  .franch-type-popup
    .franch-type-popup__container
      template(v-if="isLoading")
        .ajax__line.ajax__line-card

      template(v-else)
        .franch-type-popup__title
          | Расскажи нам, в каком формате будет проходить твое обучение?
        .franch-type-popup__svg
          svg(width='97', height='120', viewBox='0 0 97 120', fill='none', xmlns='http://www.w3.org/2000/svg')
            path(d='M39.4272 97.7971L34.3105 112.437H61.9105L56.7939 97.7971H39.4272Z', fill='#DDEBFD')
            path(d='M58.7519 103.4L56.7937 97.7971H39.427L37.4688 103.4H58.7519Z', fill='#BED9FD')
            path(d='M24.8945 116.36V119.072C24.8945 119.585 25.3098 120 25.8222 120H70.3984C70.9108 120 71.3261 119.585 71.3261 119.072V116.36C71.3261 114.193 69.5697 112.437 67.4031 112.437H28.8175C26.6509 112.437 24.8945 114.193 24.8945 116.36Z', fill='#BED9FD')
            path(d='M0 95.2392V76.4613C0 75.0485 1.14539 73.9031 2.5582 73.9031H93.6637C95.0765 73.9031 96.2219 75.0485 96.2219 76.4613V95.2392C96.2219 96.652 95.0765 97.7974 93.6637 97.7974H2.5582C1.14539 97.7974 0 96.652 0 95.2392Z', fill='#DDEBFD')
            path(d='M96.2222 88.3316H0V27.2423C0 25.8295 1.14539 24.6841 2.5582 24.6841H93.6637C95.0766 24.6841 96.222 25.8295 96.222 27.2423V88.3316H96.2222Z', fill='#8D9AA4')
            path(d='M7.16406 32.8704V80.1451C7.16406 80.7101 7.62226 81.1683 8.18734 81.1683H88.0365C88.6016 81.1683 89.0598 80.7101 89.0598 80.1451V32.8704C89.0598 32.3054 88.6016 31.8472 88.0365 31.8472H8.18734C7.62226 31.8472 7.16406 32.3051 7.16406 32.8704Z', fill='#80B6FC')
            path(d='M27.0791 20.6455H69.1426C70.3566 20.6455 71.3408 21.6297 71.3408 22.8437V81.1687H24.8809V22.8437C24.8809 21.6297 25.865 20.6455 27.0791 20.6455Z', fill='#DDEBFD')
            path(d='M55.4304 93.1975L49.0725 88.8845C48.4915 88.4905 47.7291 88.4905 47.148 88.8845L40.7902 93.1975C40.2731 93.5483 39.5742 93.1778 39.5742 92.5529V65.2542H56.6461V92.5529C56.6463 93.1778 55.9474 93.5481 55.4304 93.1975Z', fill='#FFDE55')
            path(d='M39.5762 81.5704C39.9591 81.6484 40.3508 81.6857 40.7448 81.6752C41.9131 81.644 43.0243 82.2855 43.5816 83.313C44.4537 84.9208 46.1539 86.0127 48.1121 86.0127C50.0705 86.0127 51.7707 84.9208 52.6426 83.313C53.1999 82.2855 54.3111 81.644 55.4794 81.6752C55.8732 81.6857 56.2651 81.6482 56.648 81.5704V65.2542H39.5762V81.5704Z', fill='#FFCE00')
            path(d='M60.0085 69.3866C59.3973 68.3903 59.3973 67.1073 60.0085 66.1107C60.965 64.5517 61.0606 62.5332 60.0814 60.8373C59.1022 59.1413 57.3067 58.2149 55.4781 58.2636C54.3097 58.2948 53.1985 57.6533 52.6412 56.6258C51.7691 55.0177 50.0689 53.926 48.1107 53.926C46.1523 53.926 44.4521 55.018 43.5803 56.6258C43.0229 57.6533 41.9117 58.2948 40.7434 58.2636C38.9148 58.2149 37.1193 59.1413 36.14 60.8373C35.1608 62.5332 35.2564 64.5517 36.2129 66.1107C36.8242 67.1071 36.8242 68.39 36.2129 69.3866C35.2564 70.9457 35.1608 72.9641 36.14 74.66C37.1193 76.356 38.9148 77.2825 40.7434 77.2337C41.9117 77.2025 43.0229 77.844 43.5803 78.8715C44.4524 80.4793 46.1525 81.5713 48.1107 81.5713C50.0692 81.5713 51.7693 80.4793 52.6412 78.8715C53.1985 77.844 54.3095 77.2025 55.4781 77.2337C57.3067 77.2825 59.1022 76.356 60.0814 74.66C61.0606 72.9641 60.965 70.9457 60.0085 69.3866Z', fill='#D49CFF')
            path(d='M60.0097 69.3864C59.3985 68.3901 59.3985 67.1071 60.0097 66.1105C60.9662 64.5515 61.0618 62.5331 60.0826 60.8371C59.2675 59.425 57.8856 58.5489 56.3905 58.3225C56.7692 59.7081 56.5449 61.177 55.8099 62.3748C55.1987 63.3712 55.1987 64.6544 55.8099 65.6507C56.7664 67.2098 56.8621 69.2282 55.8828 70.9241C54.9036 72.6201 53.1078 73.5466 51.2795 73.4978C50.1111 73.4666 48.9999 74.1081 48.4426 75.1356C47.5705 76.7434 45.8703 77.8354 43.9121 77.8354C43.2542 77.8354 42.6268 77.7098 42.0488 77.485C42.691 77.759 43.2402 78.2423 43.5812 78.8711C44.4533 80.4791 46.1534 81.5708 48.1116 81.5708C50.0701 81.5708 51.7703 80.4789 52.6421 78.8711C53.1995 77.8436 54.3106 77.2021 55.479 77.2333C57.3076 77.282 59.1032 76.3555 60.0824 74.6596C61.0618 72.9639 60.9662 70.9455 60.0097 69.3864Z', fill='#C882FD')
            path(d='M48.1116 63.5493C45.7923 63.5493 43.9121 65.4295 43.9121 67.7491C43.9121 70.0685 45.7923 71.9486 48.1116 71.9486C50.431 71.9486 52.3111 70.0685 52.3111 67.7491C52.3111 65.4295 50.431 63.5493 48.1116 63.5493Z', fill='#FFDE55')
            path(d='M53.7823 37.3731H42.4381C41.5046 37.3731 40.748 36.6165 40.748 35.683C40.748 34.7495 41.5046 33.9929 42.4381 33.9929H53.7823C54.7158 33.9929 55.4724 34.7495 55.4724 35.683C55.4724 36.6165 54.7158 37.3731 53.7823 37.3731Z', fill='#9EC8FC')
            path(d='M58.4712 45.6341H37.7506C36.8171 45.6341 36.0605 44.8775 36.0605 43.944C36.0605 43.0105 36.8171 42.2539 37.7506 42.2539H58.4712C59.4048 42.2539 60.1613 43.0105 60.1613 43.944C60.1613 44.8773 59.4048 45.6341 58.4712 45.6341Z', fill='#9EC8FC')
            path(d='M34.7266 6.94067V21.1215C34.7266 21.8136 35.182 22.4176 35.833 22.5894L47.3807 25.6351C47.86 25.7615 48.3625 25.7615 48.8418 25.6351L60.3895 22.5894C61.0405 22.4176 61.4959 21.8136 61.4959 21.1215V6.94067H34.7266Z', fill='#6979F8')
            path(d='M47.6904 0.0631055L27.4273 6.27873C26.7872 6.47514 26.7872 7.40842 27.4273 7.60459L47.6904 13.8202C47.9647 13.9044 48.2567 13.9044 48.5309 13.8202L68.794 7.60459C69.4341 7.40818 69.4341 6.4749 68.794 6.27873L48.5309 0.0631055C48.2567 -0.0210352 47.9647 -0.0210352 47.6904 0.0631055Z', fill='#A5AFFB')
            path(d='M29.8413 15.3756C29.0413 15.3756 28.3926 14.7269 28.3926 13.9269V7.60468C28.3926 6.80476 29.0413 6.15601 29.8413 6.15601C30.6412 6.15601 31.2899 6.80476 31.2899 7.60468V13.9269C31.2899 14.7271 30.6412 15.3756 29.8413 15.3756Z', fill='#A5AFFB')
        .franch-type-popup__buttons
          Button.franch-type-popup__button(
            @click="setType(1)"
          )
            | Онлайн
          Button.franch-type-popup__button.button-accent-fourth(
            @click="setType(2)"
          )
            | Офлайн

</template>

<script>
  export default {
    data: () => ({
      isLoading: false
    }),
    methods: {
      async setType(typeId) {
        this.isLoading = true
        await this.$store.dispatch('lms/setFranchAttendance', {typeId})
        this.isLoading = false
      }
    }
  }
</script>