<template lang="pug">
  .page
    NotificationHandler
    Popups
    Eruda(v-if="initEruda")

    .wrapper(
      :class="{'-mobile-': isMobile, '-menu-opened-': menuIsOpen, '-menu-closed-': !menuIsOpen}"
    )
      //- Menu
      UiMenu

      HeaderDesktop.wrapper(
        v-if="!isMobile"
        :class="{'-mobile-': isMobile, '-menu-opened-': menuIsOpen, '-menu-closed-': !menuIsOpen}"
      )

      HeaderMobile(v-if="isMobile")

      .container.main(
        :class="[$route.meta.containerClass, {'-wide-': $route.meta.wide}]"
      )
        //- Есть в HeaderDesktop и HeaderMobile
        //- Notification.notification__main
        router-view.main__content

      EmailConfirm(v-if="!gettingUserInfo && !isValidMail")

</template>

<script>
  import NotificationHandler from '@lms/components/NotificationHandler/index'
  import Menu from '@lms/components/Menu/index'
  import UiMenu from '@lms/components/UiKit/Menu'
  import HeaderMobile from '@lms/components/Header/Mobile/index'
  import HeaderDesktop from '@lms/components/Header/Desktop/index'
  import EmailConfirm from '@lms/components/EmailConfirm'

  import Eruda from '@lms/components/Eruda/index'

  import Popups from './Popups/index'

  import {mapState, mapGetters} from 'vuex'
  import cookieMethod from "@lms/functions/cookieMethod";

  export default {
    components: {
      NotificationHandler,
      Eruda,
      Menu,
      HeaderDesktop,
      HeaderMobile,
      Popups,
      EmailConfirm,
      UiMenu
    },
    data: () => ({
      isMobile: false,
      initEruda: false,
    }),
    created() {
      window.addEventListener("resize", this.toggleMenu)
    },
    beforeMount(){
      this.$store.dispatch('auth/getUserInfo')
    },
    async mounted(){
      this.checkForFlash()
      this.toggleMenu()

      let eruda = await cookieMethod({name: 'eruda', method: 'get'})
      if(this.$route.query.eruda === 'true' || eruda) {
        document.cookie = "eruda=true;"
        this.initEruda = true
      }

      if(this.$route.meta.docTitle)
        document.title = this.$route.meta.docTitle
    },
    computed: {
      ...mapState('lms', {
        asideIsOpen: s => s.aside.meta.isOpen,
        menuIsOpen: s => s.menu.meta.isOpen,
        headerPrevLink: s => s.data.headerPrevLink,
        headerTitle: s => s.data.headerTitle,
      }),
      ...mapState('auth', {
        gettingUserInfo: s => s.meta.gettingUserInfo,
      }),
      ...mapGetters('auth', {
        isValidMail: 'isValidMail',
      })
    },
    watch: {
      '$route.path'(curr, old) {
        if(curr !== old) {
          this.$store.dispatch('lms/setMultipleData', [
            {path: 'headerTitle', value: ''},
            {path: 'headerPrevLink', value: ''}
          ])
        }
      },
      '$route.meta'(curr, old){
        if(curr.docTitle && curr.docTitle !== old.docTitle)
          document.title = curr.docTitle
        else
          document.title = 'Образовательная платформа'
      },
    },
    methods: {
      toggleMenu(){
        this.isMobile = window.innerWidth < 961
        let store = localStorage.getItem('menuIsOpen')
        let boolean = store !== null && store != 'false';

        this.$store.dispatch('lms/setMenuMeta', {path: 'isOpen', value: boolean})
      },
      checkForFlash(){
        if(this.$route.query.flashMessage){
          this.$store.dispatch('ajax/addMessage', {message: this.$route.query.flashMessage, type: 'notification'}, {root: true})
          let newQuery = _.cloneDeep(this.$route.query)
          delete newQuery.flashMessage
          this.$router.push({query: {...newQuery}})
        }
      },
    },
    destroyed() {
      window.removeEventListener("resize", this.toggleMenu)
    },
  }
</script>
