.answers
	
	&__
	
	&__
	
	&__
	
	&__
	
	&__
	
	&__
	
	&__


.answers-feed

	&__content
		&-list
			> * + *
				margin-top: 10px

	&__list

		> * + *
			margin-top: 10px

	&__item
	
	&__search
		margin: -10px -20px 5px
		border: none
		background: none
		display: flex
		align-items: center
		justify-content: space-between
		flex-flow: row wrap
		& > *
			margin: 10px 20px !important
		+media(600px)
			flex-flow: column
			justify-content: center
			
		&-all
			@extend %text-700-17
		
		&-input
			width: 350px


.answers-card
	padding: 15px 20px
	position: relative
	> * + *
		margin-top: 10px
	&__block
		padding: 10px 0px
		border-bottom: 1px solid $border-color
		&:last-child
			border-bottom-color: transparent

	&__header
		&.-feed-
			padding-right: 20px

	&-company
		max-width: 50%
		width: 100%
		margin-top: 15px
		+media(480px)
			max-width: 100%

		& * + *
			margin-top: 3px
		&__item
			@extend %text-600-14
			color: $text-extra-color
			&-value
				color: $main-accent-color

	&-user
		display: flex
		align-items: center
		margin-right: 10px
		& > * + *
			margin-left: 15px
		&__name
			@extend %text-600-18
			color: $main-color
		&__tariff
			margin-top: 4px
			padding: 2px 5px 2px
			color: $main-light-color
			@extend %text-500-12
			border-radius: 2px
			text-transform: uppercase
			align-self: flex-start
		&__info

		&__avatar
			+size(44px)
			min-width: 44px
			background-position: center center
			background-size: cover
			background-repeat: no-repeat
			background: #CDBAFA
			color: $main-light-color
			@extend %text-600-14
			border-radius: 50%
			display: flex
			justify-content: center
			align-items: center
			text-transform: uppercase
		&__email
			@extend %text-600-12
			color: $text-extra-color

	&__label
		padding: 5px 0px
		&:nth-child(2)
			padding: 10px 0px
	
	&__user
		display: flex
		align-items: center

		> * + *
			margin-left: 15px

		&-img
			border-radius: 50%
			overflow: hidden
			+size(44px)
		
		&-photo
			width: 100%
		
		&-block
		
		&-name
			@extend %text-600-18

	&__body

		&:not(:first-child)
			margin-top: 20px

		> * + *
			margin-top: 10px
	
	&__row
		display: flex
		flex-wrap: wrap
		padding: 5px 0px
		margin: -5px
		> *
			margin: 5px

	&__footer
		padding-top: 15px
		border-top: 1px solid $border-color

	&__review

		> * + *
			margin-top: 15px
		
		&-row
			display: flex
			justify-content: space-between
			align-items: center

			> * + *
				margin-left: 10px
			
			&-between
				display: flex
				justify-content: space-between
				align-items: center
	&__person
		display: flex
		flex-flow: row
		width: 100%
		align-items: center
		justify-content: flex-start
		margin: 15px 0px
	&__reviewer
		display: flex
		align-items: center

		> * + *
			margin-left: 15px

		&-img
			+size(24px)
			overflow: hidden
			border-radius: 50%
			background-color: $text-dark-color
		
		&-photo
			max-width: 100%
		
	&__rating
	
	&__text
		white-space: pre-line
		
	&__item

		&.-min-
			width: 30%

		&.-mid-
			width: 45%
			flex-grow: 1

		&.-max-
			flex-grow: 1
	&-feedback
		&__select
			&-script,
			&-bonus
				width: 100%
	&__options
		position: absolute
		top: 5px
		right: 2px

.answers-task
	position: relative
	width: 100%
	margin-top: 10px
	padding: 15px 20px
	background-color: white
	border: 1px solid $border-color
	border-radius: 8px
	&__empty
		@extend %text-500-14
	& > * + *
		margin-top: 10px
	.answers-card__body
		position: relative
		padding-right: 150px
	&-question
		padding: 10px 15px
		background: $main-bg
		border-radius: 4px
		&__name
			@extend %text-600-14
		.answers-card
			&__row
				margin: 5px -5px -5px
				padding: 0
			&__label
				margin-top: 15px
				padding: 0
			&__person
				margin: 0
				.avatar
					width: 24px
					height: 24px
					min-width: 24px
			&__text
				margin-top: 5px
				@extend %text-500-12
		.lesson-block
			&__markdown
				@extend %text-500-12
			&__person
				&-name
					margin-left: 15px
					@extend %text-500-12
					color: #000
		.file__content
			background: $main-light-color
		&-date
			position: absolute
			top: 0
			right: 0
			margin: 0
			z-index: 5
			@extend %text-500-12
			color: $text-extra-color
			display: flex
			flex-direction: column
			align-items: flex-end
			& > * + *
				margin-top: 10px
			&__ddl
				padding: 1px 7px
				color: $main-light-color
				background: $main-accent-color
				border-radius: 2px

	&-checking__work
		position: absolute
		top: -30px
		right: 0
		color: $text-extra-color
		@extend %text-500-12
		&-info
			color: $main-accent-color

	&__info
		@extend %text-600-14
		color: $text-extra-color

		&-block
			padding: 2px 0px

		&-text
			color: $main-accent-color

	&__name
		@extend %text-600-18
		color: $main-color

		&-answer
			&-name
				color: $text-extra-color
				padding: 15px 0px

		&-files
			padding-top: 30px
			padding-bottom: 15px

			&-file
				position: relative
				max-width: 140px
				background-color: $main-bg
				color: $main-accent-color
				padding: 10px 10px 10px 30px
				margin-right: 10px

				svg
					left: 10px
	hr
		width: 100%
		margin: 10px 0px
		background-color: rgba(0, 0, 0, 0.1)
		color: rgba(0, 0, 0, 0.1)
		border: none
		height: 1px
	&__buttons
		margin-top: 15px
		& > * + *
			margin-left: 20px
		.answers-task-cancel
			border-color: $main-light-color
			background: $main-light-color
			color: $main-error-bg
			&:hover
				color: $main-error-bg
				background: $main-light-color
				border-color: $main-error-bg
	&-feedback
		width: 100%
		margin-top: 10px
		padding-top: 10px
		border-top: 1px solid #DFE0EB
		display: flex
		flex-flow: column
		.answers-task-feedback__input-label__input
			.form-item__input
				min-height: 46px
		&__input,
		&__select
			width: 100%
			display: flex
			flex-flow: row wrap
			justify-content: space-between
			align-items: center
			&-label
				&.-error-
					.form-item__title
						color: $color-error
					.answers-task-feedback__input-point
						border-color: $color-error
			&-label__input
				max-width: 140px
				margin: 0
			&-point
				position: relative
				min-height: 46px
				width: 140px
				padding: 5px 30px 5px 12px
				@extend %text-600-12
				background: $main-light-color
				border: 1px solid $border-color
				border-radius: 4px
				display: flex
				align-items: center
				.answers-card__label
					margin-top: 0
				&-point
				&-input
				&-consent,
				&-no__consent
					position: absolute
					cursor: pointer
					font-size: 0
				&-consent
					right: 40px
					z-index: 1
					
					&:focus,&:active
						opacity: 0.6
						
				&-no__consent
					right: 10px
					z-index: 1

					&:focus,&:active
						opacity: 0.6


			&-comment
				width: calc(100% - 160px)
				display: flex
				flex-flow: column
				justify-content: space-between
				.form-item__textarea
					@extend %text-400-12

			&-script,
			&-bonus
				width: calc(50% - 10px)

@keyframes wave
	0%
		opacity: 0
		transform: scale(0.8)
	20%
		opacity: 1
	60%
		opacity: 1
	100%
		opacity: 0
		transform: scale(1.2)


.answers-header
	height: 167px
	min-height: 130px
	padding: 15px 7px 15px 20px
	background: #FFFFFF
	border-radius: 8px
	border: 1px solid $border-color
	box-sizing: border-box
	display: flex
	justify-content: space-between
	align-items: flex-start

	&__information
		width: calc(100% - 60px)
		display: flex
		flex-flow: column

	&__user
		display: flex
		margin-bottom: 15px
		flex-flow: row nowrap
		align-items: center
		justify-content: flex-start

		&-img
			width: 44px
			height: 44px
			margin-right: 15px
			background:
				color: grey
				position: center
				origin: border-box
				repeat: no-repeat
				size: cover
			border-radius: 100%

		&-block
			display: flex
			flex-direction: column

		&-name
			@extend %text-500-18
			font-weight: bold
			color: $main-color

		&-links
			@extend %text-600-14
			color: $text-extra-color
			display: flex

			p
				padding: 0px 5px 0px 0px

			a
				color: $main-accent-color
				cursor: pointer

				&:not(:last-child):after
					content: ','
					color: $text-extra-color

	&__status
		margin-bottom: 10px

		&-block
			@extend %text-600-14
			color: $main-accent-color
			display: flex
			flex-flow: row wrap

			p:first-child
				color: $text-extra-color

	&__groups
		display: flex

		&-btn
			margin-right: 5px
			padding: 10px 6px
			@extend %text-600-14
			color: $main-accent-color
			background: #F7F8FC
			border-radius: 4px
			cursor: pointer

	&__actions
		min-width: 70px
		display: flex
		flex-flow: row
		justify-content: space-between
		align-items: center

		&-time
			color: $text-extra-color
			@extend %text-600-14

.answers-body
	margin-top: 15px
	&-selects
		display: flex
		flex-flow: row
		justify-content: flex-start
		align-items: center
		flex-wrap: wrap
		& .form-item.group__select
			&:not(:last-child)
				margin-right: 20px
			
		+media(600px)
			flex-flow: column
			justify-content: center
			& .form-item.group__select
				&:not(:last-child)
					margin-right: 0
		
.select__checkbox
		display: flex
		justify-content: space-between
		align-items: center
		flex-flow: row nowrap
		min-height: 25px
.select-custom
		white-space: nowrap
.group__select
	min-height: 38px
	margin: 5px 0px
	&.form-item
		min-width: 250px
		max-width: 300px
		background-color: white
	&-list
		@extend %text-500-12
		padding: 10px 0px 0px 15px
		color: black
		cursor: default
		&-folder
			color: $text-extra-color
			padding-right: 5px
			overflow: hidden
			text-overflow: ellipsis
		&-course,
		&-tasks
			display: flex
			justify-content: space-between
			white-space: nowrap
		&-name
			width: 75%
			overflow: hidden
			&:hover
				color: $main-accent-color
		&-text
			padding-right: 5px
			cursor: pointer
			overflow: hidden
			text-overflow: ellipsis
			&:hover
				color: $main-accent-color
		&-point
			color: $text-extra-color

.folders-select
	min-height: 38px
	margin: 5px 0px
	&.form-item
		min-width: 250px
		max-width: 300px
		background-color: white
	&__list
		@extend %text-500-12
		color: black
	&__folder
		display: flex
		flex-flow: row
		justify-content: space-between
		color: $text-extra-color
		width: 100%
		&-accent
			display: flex
			flex-flow: row
			justify-content: space-between
			color: $main-accent-color
			width: 100%
	&__row
		padding: 5px 0px
		cursor: pointer
		display: flex
		justify-content: space-between
		white-space: nowrap
		flex-flow: row
		&.-course-
			padding-left: 15px
			&:hover
				color: $main-accent-color
		&.-folder-
			&:hover
				.folders-select__folder
					color: darken($text-extra-color, 30%)
	&__name
		&:hover
			color: $main-accent-color
	&__text
		display: flex
		flex-flow: row
		justify-content: space-between
		width: 100%
		cursor: pointer
		overflow: hidden
		text-overflow: ellipsis
		&:hover
			color: $main-accent-color
	&__point
		color: $text-extra-color

.answers-validatin__feed-search
	position: relative
	width: 250px
	min-width: 250px

.-answers-analytics
	display: flex
	align-items: center
	flex-direction: row
	padding: 20px 30px
	justify-content: space-between
	+media(980px)
		flex-wrap: wrap
	+media(701px)
		flex-direction: column
		justify-content: center
	
	&__item
		@extend %text-500-11
		margin-right: 30px
		+media(980px)
			margin: 10px 0px
		&:last-child
			margin-right: 0px
		&-button
			white-space: nowrap
	&__table
		display: flex
		flex-flow: column
		border: 1px solid $border-color
		border-radius: 8px
		margin-top: 10px
		overflow: hidden
		&-row
			display: flex
			justify-content: flex-start
			padding: 10px 30px
			background: white
			border: none
		&-col
			display: flex
			justify-content: flex-start
			align-items: center
			width: calc( (100% - 50px) / 5)
			padding-left: 20px
			overflow: hidden
			&:first-child
				padding: 0px
			&:last-child
				width: 50px
			& .select__icon
				top: calc( 50% - 6px)
				&.-opened-
					transform: rotate(-180deg)

	&__title
		@extend %text-600-12
		color: $text-extra-color
		text-overflow: ellipsis
	&__text
		@extend %text-500-14
		color: $text-color
		text-overflow: ellipsis
	&__name
		@extend %text-600-14
		color: $text-extra-color
		text-overflow: ellipsis;
	&__email
		@extend %text-500-12
		color: $text-color
		text-overflow: ellipsis
	&__info
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		border-radius: 4px
		width: 100%
		min-height: 45px
		padding: 6px 9px
		background-color: $main-bg
		&-open
			background-color: $main-accent-color
			& > * 
				color: white
	&-empty
		top: 50% !important
	&__users
		background-color: $main-bg
		
		&-row
			display: flex
			flex-flow: row
			justify-content: flex-start
			align-items: center
			padding: 17px 30px
			border-top: 1px solid $border-color
			&:first-child
				padding: 10px 30px
		
		&-col
			@extend %text-600-14
			display: flex
			justify-content: flex-start
			align-items: center
			width: calc( (100% / 4)
			padding-left: 20px
			overflow: hidden
			&:first-child
				padding: 0
				width: calc( (100% / 5)
				
		
		&-header
			min-width: 120px
			text-align: start
			color: $text-extra-color
		
		&-text
			color: $text-extra-color
			text-overflow: ellipsis;
		&-title
			@extend %text-600-14
			color: $text-color
			text-overflow: ellipsis;
			&__main
				@extend %text-600-14
				color: $main-accent-color
				cursor: pointer
				border-bottom: 1px solid transparent	
				&:hover
					border-bottom-color: $main-accent-color
					