.auth-layout
	background: $ui-background
	width: 100%
	min-height: 100vh
	padding: 50px 0
	display: flex
	align-items: center
	justify-content: center

	&__content

	&__block
		background-color: #fff
		width: 480px
		padding: 40px 50px
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
		max-width: 90%
		margin: 0 auto

		+media(960px)
			padding: 40px 50px
			width: 500px

		+media(640px)
			padding: 30px 40px
		
		+media(480px)
			padding: 20px 30px
		
		&--quote
			width: 900px

	&__title
		font-weight: 500
		font-size: 40px
		line-height: 1.1
		letter-spacing: 0.01em
		margin-bottom: 10px

		+media(960px)
			font-size: 30px
		
		+media(640px)
			text-align: center

	&__subtitle
		font-size: 14px
		line-height: 1.1
		letter-spacing: 0.01em

		+media(640px)
			text-align: center

	&__form
		position: relative
		margin-top: 30px

		&-block
			margin-bottom: 30px

			.form__input, .form__placeholder
				font-size: 15px

			&.focus, &.change
				.form__placeholder
					font-size: 12px
					top: -15px
			
		&-checkbox
			display: flex
			align-items: flex-start
			margin-top: 20px

			.checkbox__icon
				flex-shrink: 0

			.checkbox__text
				font-size: 13px

		&-buttons
			display: flex
			justify-content: space-between
			align-items: center
			margin-top: 40px

			+media(640px)
				margin-top: 30px
				flex-direction: column

	&__text
		font-size: 14px
		line-height: 1.1
		letter-spacing: 0.01em

		&:not(:last-child)
			margin-bottom: 10px

		&-block
			text-align: right

			+media(640px)
				text-align: center

	&__link
		color: $color-primary
		text-decoration: none
	
	&__button

		+media(640px)
			margin-bottom: 20px

	&__select

		&_max
			width: 100%
	
	&__mb

		&--s
			margin-bottom: 10px

		&--x
			margin-bottom: 20px

		&--xl
			margin-bottom: 30px

		&--l
			margin-bottom: 40px

.auth
	position: relative
	width: 380px
	padding: 30px 20px 46px
	background: $main-bg
	border-radius: 6px
	cursor: auto
	overflow: auto
	+media(480px)
		width: 310px
		padding: 30px 15px 46px

	&.-company-
		padding-top: 35px
		padding-bottom: 30px

	&__header
		display: flex

		&-title
			@extend %text-700-17

	&.-new-company-
		.auth
			&__header
				position: relative
				padding: 30px 0
				&-title
					position: relative
					padding-left: 7px
					z-index: 5
				&-bg
					position: absolute
					right: 30px
					top: -10px
					width: 130px
					pointer-events: none
					z-index: 5
			&__form
				&-domain
					position: absolute
					top: 15px
					right: 0
					width: 55%
					@extend %text-700-15
					z-index: 10
					+media(640px)
						top: 13px
						width: 45%

				&-input
					width: 100%
					padding: 13px 16px
					border-radius: 6px
					@extend %text-400-14
					border: 1px solid $border-color
					transition: all .1s
					&::placeholder
						color: $text-extra-color
					&:focus
						border-color: $main-accent-color

					&.-domain-
						padding-right: 200px
						+media(480px)
							padding-right: 140px


	&__title
		position: relative
		padding: 5px 14px 12px
		@extend %title-700-17
		color: $text-extra-color
		cursor: pointer
		&:after
			content: ''
			position: absolute
			bottom: 0
			left: 50%
			display: block
			width: 0%
			height: 3px
			background: $main-accent-color
			transition: all .3s
			transform: translateX(-50%)
			border-radius: 200px 200px 0px 0px
		+media(480px)
			padding: 5px 4px 12px
		&.-active-
			color: $text-color
			&:after
				width: 100%

		&-standart
			@extend %title-700-22
			margin-bottom: 5px

		&-block
			width: 47.06%
			display: flex
			justify-content: center
			align-items: center
			&--full
				width: 100%
				.auth__title
					cursor: default
					&:after
						content: none

	&__subtitle
		&-standart
			@extend %text-400-16
			margin-bottom: 20px

	&__text
		&-bottom
			@extend %text-500-12

	&__body
		margin-top: 40px

	&__form
		position: relative
		z-index: 5
		&.-login-
			.auth__form-button
				margin-bottom: 0
		&-block
			display: block
			position: relative
			width: 100%
			margin-bottom: 13px
			transition: all .2s
			&.-error-
				padding-bottom: 17px
				.auth__form-input
					border-color: $color-error
			&--checkbox
				display: flex

		&-input
			width: 100%
			padding: 13px 16px
			border-radius: 6px
			@extend %text-400-14
			border: 1px solid $border-color
			transition: all .1s
			&::placeholder
				color: $text-extra-color
			&:focus
				border-color: $main-accent-color

		&-checkbox
			width: 24px
			min-width: 24px
			height: 24px
			margin-right: 12px
			border-radius: 50%
			background: $main-accent-color
			display: flex
			justify-content: center
			align-items: center

			&-svg
				width: 10px
				fill: #fff

			&-text
				@extend %text-400-10
				color: $text-extra-color
				a
					@extend %text-400-10
					color: inherit
					text-decoration: underline

		&-button
			width: 100%
			margin-bottom: 14px
			padding: 10px 10px
			@extend %text-700-16
			color: $main-light-color
			border-radius: 6px
			text-align: center
			text-transform: uppercase
			background: $main-accent-color
			border: 2px solid $main-accent-color
			transition: all .1s

			&:hover, &:focus
				background: transparent
				color: $main-accent-color

		&-error
			position: absolute
			bottom: 0px
			left: 10px
			@extend %text-400-12
			color: $color-error

	&__link
		display: inline-block
		color: $main-accent-color
		@extend %text-500-12

	&__logout
		margin-top: 25px

	&__companies
		&-title
			@extend %text-700-12
		&-list
			max-height: 230px
			margin: 15px -20px 0
			border-bottom: 1px solid $border-color
			overflow-y: auto
			+media(480px)
				margin: 10px -15px 0
			&-title
				margin-top: 30px
				@extend %text-700-22

	&__company
		padding: 18px 20px 14px
		display: flex
		align-items: center
		cursor: pointer
		transition: all .2s
		&:hover
			background: $main-accent-third-color
		&-logo
			width: 44px
			min-width: 44px
			height: 44px
			margin-right: 10px
			border-radius: 50%
			display: flex
			justify-content: center
			align-items: center
			&.-color-0-
				background: linear-gradient(225deg, #CDDDF4 3.26%, #CDBAFA 100%)
			&.-color-1-
				background: #FECB52
			&.-color-2-
				background: $color-error
			p
				color: $main-light-color
				@extend %text-700-17
		&-name
			@extend %text-500-12
		&-link
			margin-top: 5px
			@extend %text-500-11
			color: $text-extra-color

	&__user
		margin-top: 20px

		&-block
			overflow: hidden
			display: flex
			align-items: center
			& > *:not(:last-child)
				margin-right: 10px

		&-avatar
			width: 44px
			min-width: 44px
			height: 44px
			border-radius: 50%
			border: 1.5px solid $border-color
			display: flex
			justify-content: center
			align-items: center

			img
				width: 37px
				border-radius: 50%

			&-text
				margin-top: 2px
				@extend %text-700-15
				text-transform: uppercase

		&-name
			@extend %text-700-15

		&-email
			@extend %text-500-11
			color: $text-extra-color

	&__socials
		margin-top: 30px
		+media(480px)
			margin-top: 25px
		&-title
			color: $text-extra-light-color
			@extend %text-700-15
			text-align: center
		&-items
			margin-top: 20px
			display: flex
			justify-content: space-between
		&-item
			width: 76px
			height: 30px
			border-radius: 6px
			cursor: pointer
			display: flex
			align-items: center
			justify-content: center
			+media(480px)
				width: 66px
			&.-vk-
				background: #4C75A3
				svg
					width: 25px
					+media(480px)
						width: 20px
			&.-fb-
				background: #475993
				svg
					width: 8.5px
					+media(480px)
						width: 7.6px
			&.-google-
				background: #518EF8
				svg
					width: 16px
					+media(480px)
						width: 15px
			&.-ya-
				background: #e7b448
				svg
					width: 18px
					+media(480px)
						width: 15px
			svg
				fill: $main-light-color

	&__restore
		margin-top: 20px

//редизайн

.inherited-link
	font: inherit
	color: inherit

.login
	display: flex
	flex-direction: column
	align-items: center
	//Для того, что бы лого на всех страницах находилось на одном месте
	min-height: 627px
	max-width: 440px
	width: 100%
	+uiFont

	+media(640px)
		padding: 0 20px


	.-hidden-
		visibility: hidden

	&__content
		display: flex
		flex-direction: column
		align-items: center
		width: 100%

	&__logo
		height: 183px
		widows: 182px
		margin-bottom: 36px

	&__form
		max-width: 440px
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
	
	&__input + &__input
		margin-top: 11px

	&__restore
		@extend %text-500-12
		margin: 4px 0
		align-self: flex-end
		color: $ui-black-dark
		text-decoration: none

		&:hover
			text-decoration: underline
	
	&__outer-button
		position: absolute
		top: 53px
		left: 71px
		+media(768px)
			position: static
			margin-top: 20px


	&__privacy-policy
		margin: 17px 0

	&__submit
		margin-top: 24px
	
	&__text
		+uiFont
		margin-top: 20px
		@extend %text-400-14
		color: $ui-black-dark

		&.-reset-password-
			margin-top: 60px
	&__link
		color: $ui-blue-accident
		text-decoration: none
		&:hover
			text-decoration: underline

	&-modal-input
		width: 100%
		position: relative
		+uiFont

		&__input

		&__modal-wrap
			width: 100%
			display: flex
			position: absolute
			top: calc(100% + 5px)
			left: 0
			padding-right: 23px
			z-index: 1

		&__modal
			width: 100%
			padding: 15px 20px
			background: $ui-white
			box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.09)
			border-radius: 4px

		&__header
			@extend %text-700-16
			

		&__body
			margin-top: 5px
			@extend %text-400-14

		&__footer
			margin-top: 20px
		
		&__button
			min-width: unset
			padding: 6px 16px
			@extend %text-500-12
		
		&__close-wrap
			+size(16px)
			padding: 4px
			position: absolute
			top: 4px
			right: 0
			background: $ui-red
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center
			cursor: pointer

		&__close
			height: 100%
			width: 100%
			path
				stroke: $ui-white




.social-auth
	display: flex
	flex-direction: column
	margin: 17px 0 

	&__title
		@extend %text-500-12
		color: $ui-gray-less
		
	&__list
		display: flex
		justify-content: center
		margin-top: 9px
	&__item
		display: flex
		align-items: center
		justify-content: center
		margin: 0 4px	
		height: 24px
		width: 24px
		border-radius: 50%
		background: $ui-white


	&__icon
		&.-vk-
			height: 8px
			width: 14px

		&.-yandex-
			height: 13px
			width: 8px

		&.-fb-
			height: 14px
			width: 7px

		&.-google-
			height: 13px
			width: 13px
	&.-hidden-
		visibility: hidden


		


	




