.club
  &-list
    &__not-found
      text-align: center
      margin: auto

      &-icon
        width: 100px
        height: 100px

    &__search
      &-input
        background: $ui-white
        box-shadow: 0px 4px 10px 0px #2B2D341F
        display: flex
        justify-content: space-between
        padding: 14px
        margin-bottom: 20px
        align-items: center

        & .search__main, & .form-item__input
          border: none
          background: #F0F0F5
          fill: $ui-gray-less-contrast
          &::placeholder
            color: $ui-gray-less-contrast

      &-cancel
        @extend %text-400-16
        color: #007AFF

      &-buttons
        display: flex
        justify-content: flex-end
        margin-bottom: 20px

      &-item
        position: relative
        margin-left: 16px
        border-radius: 4px
        padding: 7px
        background: $ui-white

        & svg
          +size(14px)
          color: $ui-black
          margin: auto
      &-notification
        +size(10px)
        border-radius: 50px
        background: #6979F8
        position: absolute
        left: -5px
        top: -5px


    &__grid
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 20px
      +media(1024px)
        grid-template-columns: 1fr 1fr
      +media(641px)
        grid-template-columns: 1fr

    &__card
      background: $ui-white
      border-radius: 8px
      padding: 20px
      display: flex
      text-decoration: none
      color: $text-color

      &-avatar
        background: $ui-space-background
        height: 140px
        width: 96px
        border-radius: 8px
        overflow: hidden
        margin-right: 16px
        fill: $ui-white-contrast

        & img
          height: 140px
          width: 96px
          object-fit: cover

        &-icon
          display: block
          position: relative
          +size(56px)
          margin: auto
          top: 50%
          transform: translateY(-50%)


      &-info
        display: flex
        flex-direction: column

      &-city
        @extend %text-500-12
        margin-bottom: 8px

        & svg
          width: 12px
          height: 12px
          margin-right: 4px

      &-name
        @extend %text-500-18
        margin-bottom: 4px

      &-scope
        display: flex
        align-items: center
        margin-bottom: 8px

        &:last-child
          margin-bottom: 0


      &-scope-image
        height: 40px
        min-width: 40px
        margin-right: 12px

      &-scope-text
        display: flex
        flex-direction: column
        height: 100%
        justify-content: space-around

      &-scope-title
        @extend %text-500-12
        color: $ui-light-grey-4-5-contrast

      &-scope-val
        text-overflow: ellipsis
        overflow: hidden
        width: 17ch
        height: 2ch
        padding: 2px 0
        white-space: nowrap
        +media(960px)
          padding: 0
          width: 18ch
          height: 1.5ch
        +media(641px)
          width: 29ch

    &__filter
      &-form
        position: fixed
        box-shadow: 0 12px 20px 0 #00000024
        background: $ui-white
        padding: 20px
        top: 70px
        right: 20%
        transform: translateX(-20%)
        width: 355px
        max-height: calc(100vh - 70px)
        overflow-x: scroll
        +media(641px)
          right: 0
          top: 62px
          transform: unset
          width: 100vw
          box-shadow: none
          height: calc(100vh - 62px)

        & .ui-kit-button.-wide-.-gray-.-primary-
          margin-top: 12px

      &-title
        @extend %text-500-16
        margin-bottom: 16px
        text-align: center
        +media(641px)
          text-align: left

      &-closer
        +size(14px)
        position: absolute
        right: 20px
        top: 20px
        display: none
        +media(641px)
          display: block


      &-between
        display: flex
        justify-content: space-between
        margin-bottom: 6px
        align-items: center

        &-dash
          padding: 0 5px

        & .ui-kit-input
          min-width: unset

        & .club-list__filter-field
          margin: 0

      &-label
        @extend %text-500-12
        display: block
        margin-bottom: 6px
        color: $ui-gray-dark

      &-field
        margin-bottom: 12px

        & .ui-kit-select__hood, &.ui-kit-input
          padding: 0

        & .ui-kit-select__label, & .ui-kit-input__label
          margin-bottom: 6px
          color: $ui-gray-dark

        & .ui-kit-input__field, & .ui-kit-select__field
          background: #F7F7FB
          border-radius: 8px
          padding: 15px
          position: relative

        & .ui-kit-select__dropdown-icon
          top: 63%
          right: 15px
          fill: $ui-gray-dark

      &-spacer
        display: block
        height: 26px

  &-user
    &__edit-icon
      position: absolute
      cursor: pointer
      display: inline-block
      margin-left: 14px
      right: 0
      +size(16px)

      & svg
        fill: #2B305F

    &__edit-save
      position: absolute
      cursor: pointer
      display: inline-block
      right: 0
      color: #6979F8
      @extend %text-500-12
      &.-mr-
        right: 12px

    &__input
      margin-bottom: 4px

      &-city
        background: $ui-background

      &-title
        @extend %text-500-12
        color: $ui-gray-less
        margin-bottom: 5px

      &.ui-kit-input
        padding: 0
      & .ui-kit
        &-select__hood
          padding: 0
          & svg
            top: 58%
            right: 22px
        &-select__label, &-input__label
          color: $ui-gray-less

        &-select__field, &-input__field
          padding-left: 14px
          padding-right: 6px

        &-select__field, &-input__field, &-input__input
          background: #F7F7FB
          height: 40px
          align-items: center
          & .-placeholder-, &::placeholder
            color: #76767B

    &__info
      display: grid
      grid-template-columns: 1fr 1fr 2fr
      grid-gap: 20px
      margin-bottom: 20px
      +media(641px)
        grid-template-columns: 1fr

    &__block
      position: relative
      background: $ui-white
      padding: 20px
      border-radius: 8px
      height: 100%
      max-width: calc(100vw - 45px)

      &-title
        position: relative
        @extend %text-700-16
        margin-bottom: 20px
        &.-s-
          @extend %text-500-14

      &-button
        float: right
        position: relative
        top: -5px

    &__avatar
      +size(100px)
      position: relative
      margin: 20px auto

      &-border
        +size(100px)
        overflow: hidden
        border-radius: 50px

      &-icon
        +size(100px)
        padding: 20px
        background: $main-bg
        & svg
          +size(60px)

      &-update
        position: absolute
        display: block
        background: #D8DEFD
        padding: 8px 6px 4px
        border-radius: 4px
        border: 2px solid #F7F7FB
        bottom: -5px
        right: -5px
        box-shadow: 0 6px 8px 0 #1B23631A

        & svg
          width: 18px
          height: 14px


    &__name
      position: relative
      text-align: center
      @extend %text-500-18
      margin-bottom: 8px

    &__city
      text-align: center
      @extend %text-500-12
      color: $ui-light-grey-4-5-contrast
      & svg
        +size(12px)

    &__social
      display: flex
      justify-content: space-around
      margin: 30px auto auto
      width: 200px

      &-icon
        +size(36px)
        cursor: pointer
        padding: 10px
        border-radius: 8px
        border: 1px solid #B8B8BE
        fill: #B8B8BE
        text-align: center

        &.-tg-, &.-vk-
            border-color: #588FF9
            fill: #588FF9

        &.-fb-
          border-color: #4059A8
          fill: #4059A8

        &.-ig-
          border-color: #EB4A67
          fill: #EB4A67

        &.-inactive-
          border: 1px solid #B8B8BE
          fill: #B8B8BE

        & svg
          max-width: 14px
          max-height: 14px

    &__company
      background: #F8F8FF
      text-align: center
      padding: 10px
      border-radius: 8px
      position: absolute
      left: 20px
      right: 20px
      bottom: 15px

      &-title
        @extend %text-500-12
        margin-bottom: 6px
        color: $ui-light-grey-4-5-contrast

      &-name
        @extend %text-500-14

    &__photos
      display: flex
      justify-content: space-between
      height: 213px
      flex-direction: column
      flex-wrap: wrap

      &-image
        height: 100%

      &-item
        position: relative
        background: #F7F8FC
        border-radius: 8px
        width: 30%
        height: 100px
        overflow: hidden

        &:first-child
          height: 213px
          width: 65%

      &-placeholder
        background: #F7F8FC
        margin: auto
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)

        & svg
          +size(52px)

      &-delete
        position: absolute
        cursor: pointer
        right: 20px
        top: 20px
        background: #00000066
        border-radius: 4px
        padding: 2px
        padding-bottom: 0

        & svg
          +size(14px)


    &__traction
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 20px
      margin-bottom: 20px
      +media(960px)
        grid-template-columns: 1fr

    &__hypothesis
      border-radius: 8px
      background: $ui-gray-light
      padding: 20px

      &-empty
        text-align: center
        padding: 30px 0

      &-icon
        +size(80px)
        margin-bottom: 20px

      &-actions
        &-item
          margin-top: 12px
          display: flex
        &-text
          @extend %text-400-12
        &-success
          min-width: 12px
          height: 12px
          background: #eee
          border-radius: 50px
          margin-right: 12px

          &.-active-
            background: #00C48C


      &-header
        display: flex
        justify-content: space-between

      &-add
        +size(16px)
        margin-left: auto
        background: $ui-blue-accident
        border-radius: 50px
        text-align: center

        & svg
          +size(8px)
          fill: $ui-white
          position: relative
          top: 1px
          +media(641px)
            top: 2px
          +media(481px)
            top: 3px

      &-blocks-list
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 15px
        +media(641px)
          grid-template-columns: 1fr

      &-block
        border-radius: 8px
        padding: 20px
        background: $ui-white

      &-text
        @extend %text-400-14

      &-tag
        @extend %text-500-12
        padding: 4px 10px
        color: $ui-white
        background: $ui-light-grey-low-contrast
        border-radius: 3px
        display: inline-block
        margin-bottom: 15px

        &.-green-
          background: #00C48C
        &.-blue-
          background: #69B3F8
        &.-purple-
          background: #D49CFF
