.comments
  &-head
    display: inline-flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    width: 100%
    margin-bottom: 20px
  &-body
  &-list
    &__title 
      @extend %text-500-14
      color: #2B2D34
      opacity: .5
  &-card
    display: flex
    flex-flow: column
    background-color: white
    padding: 15px 30px
    border-radius: 8px
    margin: 10px 0px
    &__header
      display: flex
      justify-content: space-between
    &__edit-icon
      +size(20px)
      margin: 7px 0 7px 7px
      cursor: pointer
      flex-shrink: 0
    &__info
      @extend %text-400-14
      display: flex
      align-items: center
      justify-content: flex-start
      &-date
        color: #B8B8BE
        margin-right: 20px
      &-action
        color: #6979F8
        cursor: pointer
        margin-right: 20px
        // Что бы не дёргался при изменении текста
        min-width: 56px
    &__comment
      @extend %text-400-14
      color: #2B2D34
      margin: 10px 0px
    &__user
      display: inline-flex
      // align-items: center
      justify-content: flex-start
      & > *
        margin-right: 10px
        &:last-child
          margin-right: 0px
      &-text
        @extend %text-500-14
        color: #6979F8
        cursor: pointer
      &-default
        @extend %text-500-14
        color: #2B2D34

      &-action
        display: flex
        align-items: center
        flex-wrap: wrap
        & > *
          margin-right: 10px
          &:last-child
            margin-right: 0px
    &__switcher
      transition: color .3s
      color: $ui-gray-less
      &.-active-
        color: $ui-black
    
    &__icon
      &.-eye-
        +size(16px)
        background: $ui-gray-less
        &.-active-
          background: $ui-blue-accident

    &__file-list
      margin-bottom: 10px
      
    &-list
      &__toggle
        @extend %text-500-12
        margin-top: 15px
        display: flex
        height: 30px
        align-items: center
        justify-content: center
        background: #EFF1F8
        color: #6979F8
        cursor: pointer
        border-radius: 2px
        &.-active-
          background: transparent
      &__list
        display: flex
        flex-direction: column

      &__item
        padding: 15px 0
        margin: 0
        border-top: 1px solid #DFE0EB
        display: flex
        flex-direction: column
        border-radius: 0
        
  &-send
    margin-top: 20px
    &__send
      display: flex
      align-items: center
      justify-content: space-between
    &__upload
      position: relative
      width: 15px
      background-color: transparent
      cursor: pointer
      & svg 
        position: absolute
        top: 0px
        left: 0px
        width: 15px
        height: 15px
        fill: #9FA2B4
      & .button
        min-width: 15px
        border: none
        border-color: transparent
        background: transparent
    &__title
      @extend %text-500-12
    &__input
      @extend %text-400-14
      width: calc( 100% - 30px )
      outline: none
      border: none
      background-color: transparent
    &__comment
      width: calc(100% - 40px)
      background-color: #F7F8FC
      border-radius: 4px
      padding: 9px 14px
    &__value
      display: flex
      justify-content: space-between
      align-items: center
    &__btn
      width: 24px
      height: 24px
      fill: #6979F8
      cursor: pointer
    &__files
      margin-top: 15px
      & .file
        margin-right: 10px
        &:last-child
          margin-right: 0px
        & .file__content
          background-color: transparent
          & svg 
            fill: #3040C2
        & .file__delete
          & svg
            width: 12px
            height: 12px
            fill: #2B2D34
