.course
  &__header
    display: flex
    justify-content: space-between
    align-items: center

    +media(640px)
      flex-direction: column
      align-items: flex-start

      > * + *
        margin-top: 20px

    &:not(:last-child)
      margin-bottom: 20px

    &-controls
      display: flex

      > * + *
        margin-left: 10px

    &-amount
      @extend %text-600-18
      display: flex
      align-items: center
      justify-content: center

      span
        color: $main-accent-color

    &-progress

      +media(640px)
        width: 100%

    &-end
      display: flex
    
    &-button
      margin-right: 10px
      padding: 0
      &-icon
        +size(12px)
        margin-right: 4px

  &__content

  &__list
    +media(640px)
      display: flex
      flex-wrap: wrap
      margin: -10px -5px 0

    +media($min: 641px)
      > * + *
        margin-top: 10px

  &__item
    margin-top: 15px

    +media(640px)
      padding: 0 5px

    +media(640px, 481px)
      width: 50%

    +media(480px)
      width: 100%


.course-lesson
  position: relative
  min-height: 130px
  background: $main-light-color
  border: 1px solid $border-color
  border-radius: 8px
  display: flex
  transition: all .1s

  &:hover
    box-shadow: $main-popup-shadow

  +media(640px)
    flex-direction: column

  &.-hidden-
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      display: block
      width: 100%
      height: 100%
      background: rgba(#fff, .5)
      pointer-events: none
      z-index: 10
    & .course-lesson__helpers
      & > *
        opacity: .5
  &__side
    position: relative
    width: 130px
    min-width: 130px
    min-height: 78px
    padding: 15px 10px
    background-color: $main-accent-color
    background-size: cover
    background-position: center center
    border-radius: 8px 0 0 8px
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center

    +media(640px)
      width: 100%
      border-radius: 8px 8px 0 0

    &-ddl
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding: 5px
      z-index: 10
      @extend %text-500-14
      color: $main-light-color
      background: rgba(0, 0, 0, 0.7)
      text-align: center
      display: flex
      align-items: center
      justify-content: center


    &-text
      @extend %text-700-38
      color: $main-light-color

  &__header
    display: flex
    justify-content: space-between
    align-items: flex-start

  &__helpers
    position: absolute
    left: 0
    top: -3px
    z-index: 11

    +media(640px)
      display: flex
      align-items: center
      justify-content: space-between
      width: 100%
      min-height: 2.1rem
      z-index: 10

  &__controls
    position: absolute
    justify-content: flex-end
    right: 15px
    bottom: 15px

    +media(640px)
      margin-top: 0
      background-color: #fff
      border-radius: 8px 0 4px 0

  &__ddl
    padding: 8px 9px
    border-radius: 4px
    background-color: $main-accent-color
    color: $main-light-color
    @extend %text-500-12
    top: -1px
    &::after
      content: ''
      position: absolute
      left: 0px
      top: 20px
      border: 8px solid transparent
      border-left: 8px solid transparent
      border-top: 8px solid transparent
    +media(640px)
      align-self: flex-start
      order: 1
      margin-left: auto
      &::after
        left: auto
        right: 0px
        border-left-color: transparent
        border-right: 8px solid transparent

    &.-error-
      background-color: $main-second-color
      &::after
        border-top-color: $main-second-color
        border-left-color: $main-second-color
        border-right-color: transparent
      +media(640px)
        &::after
          border-left-color: transparent
          border-right-color: $main-second-color
        

  &__info
    position: relative
    padding: 18px 180px 14px 40px
    flex-grow: 1
    +media( 1000px )
      padding-left: 31px
    +media(640px)
      padding: 15px 20px 15px 17px

    &-header
      margin-bottom: 10px
      display: flex
      justify-content: space-between
      align-items: flex-start

  &__name
    @extend %text-600-14
    padding-right: 17px
    display: flex
    align-items: flex-start

    &-lesson
      @extend %text-700-16
    & > span
      display: inline-block
      margin-top: 2px

    &-icon
      position: relative
      margin-left: 13px

      svg
        width: 12px
        min-width: 12px
        fill: $main-accent-color

        &.-opacity-
          fill: rgba($main-accent-color, .6)

  &__description
    display: flex
    align-items: center
    margin-bottom: 10px
    @extend %text-500-12

    &-text
      @extend %text-500-14

    &-status
      position: absolute
      width: 18px
      height: 18px
      top: 20px
      right: 30px
      border-radius: 2px
      +media(640px)
        top: 15px
        right: 25px

      & .tiny-text-tooltip
        @extend %text-500-14
        color: black
        left: auto
        right: 0

      & svg
        width: 18px
        height: 18px
        fill: $text-extra-light-color

  &__footer
    @extend %text-600-12
    color: $text-extra-color
    display: flex

    & > *:not(:last-child)
      margin-right: 10px

    .-main-accent-color-
      color: $main-accent-color

    .-ddl-
      color: $main-second-color

    &-item
      display: flex
      flex-wrap: wrap

  &-speakers

    &__speaker
      color: $main-accent-color

  &__options
    position: absolute
    top: 15px
    right: 7px
    z-index: 15

    +media(640px)
      background-color: #fff
      font-size: 0
      top: 78px
      right: 0px
      border-radius: 0 8px 0 4px

      .options__dots
        top: 0


.course-points-shop
  +uiFont
  &__icon
    &.-arrow-
      width: 1rem
      height: .5rem
      path 
        stroke: $ui-blue-accident

  &__title
    +media(640px)
      width: 100%

  &__header
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    +media(768px)
      flex-direction: column-reverse
      align-items: flex-start

    &-controls-wrap
      display: flex
      align-items: center
      flex-wrap: wrap
        
      & > * + *
        margin-left: 20px
      +media(640px)
        flex-direction: column
        align-self: center
        margin-bottom: 10px
        & > * + *
          margin-left: 0
        &:not(.-start-)
          .course-points-shop-info-popup-wrap
            left: 50%
            transform: translate3d(-50%, 10px, 10px)

      &.-start-
        & > * + *
          margin-left: 0
        +media(640px)
          flex-direction: column
          align-self: auto
          & > * + *
            margin-left: 0
          .course-points-shop__header-tag 
            margin: 0
        //делаем ужасные вещи
        //устанавливаем попап под экран
        +media($min: 769px, $max: 830px)
          .course-points-shop-info-popup-wrap
            left: auto
            right: -25px



    &-controls
      display: flex
      align-items: center
      flex-wrap: wrap
      & > *
        margin: 10px
      +media(640px)
        justify-content: center
        & > *
          margin: 5px


    &-text
      @extend %text-500-12
      display: flex
      align-items: center
      cursor: pointer
        
    &-icon
      &.-question-
        margin-left: 5px
        +size(14px)
        fill: $ui-blue-accident


    // &-points
    //   padding: 8px 10px
    //   background: $main-light-color
    //   @extend %text-600-12
    //   border-radius: 6px

    //   &-amount
    //     color: $main-accent-color
    &-tag
      display: flex
      align-items: center
      justify-content: center
      padding: 10px
      margin-top: 5px
      margin-bottom: 5px
      min-width: 140px
      background: $ui-white
      @extend %text-500-14
      border-radius: 4px
      border: 1px solid $ui-white

      &__highlight
        color: $ui-blue-accident
    
  &-products
    margin: 5px -10px 0px
    display: flex
    flex-wrap: wrap

  &-product
    width: calc(50% - 20px)
    min-height: 275px
    margin: 10px
    background: $main-light-color
    border-radius: 8px
    border: 1px solid $border-color
    overflow: hidden
    display: flex
    flex-direction: column
    +media(640px)
      width: 100%

    &__header
      +ratio(480px, 95px)
      background-image: url('/lms/img/course/pointsShop/preview-header.jpg')
      background-position: center center
      background-size: cover
      background-repeat: no-repeat
      border-top-left-radius: inherit
      border-top-right-radius: inherit
      display: flex
      position: relative

    &__prices
      position: absolute
      top: 10px
      right: 10px
      user-select: none

    &__price
      min-width: 85px
      padding: 3px 11px
      background: rgba(1, 28, 69, 0.6)
      border-radius: 4px
      @extend %text-600-12
      color: $main-light-color
      text-align: center

      &:not(:first-child)
        margin-top: 5px

    &__content
      min-height: 165px
      padding: 15px 6.4% //для выравнивание с картинкой
      display: flex
      flex-direction: column
      justify-content: space-between
      flex: 1

    &__title
      @extend %text-700-18

    &__subtitle
      margin-top: 10px
      @extend %text-700-14

    &__description
      margin-top: 20px
      @extend %text-500-14
      white-space: pre-line

    &__list
      margin-top: 10px

      & > * + *
        margin-top: 5px

      &-item
        position: relative
        padding-left: 16px
        @extend %text-500-14

        &:before
          content: ''
          position: absolute
          top: 6px
          left: 0
          display: block
          +size(6px)
          background: $main-accent-second-color
          border-radius: 50%

    &__more
      @extend %text-500-12
      margin-top: 5px
      color: $ui-blue-accident
      cursor: pointer

    &__offers
      margin: 23px -7.5px 0
      display: flex

    &__offer
      min-width: initial !important
      margin: 0 7.5px
      flex: 1 1 0
      padding-left: 5px
      padding-right: 5px

    &__loading
      width: 100%
      border-radius: 4px

  &-popup
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: rgba(0, 0, 0, .5)
    display: flex
    align-items: center
    justify-content: center
    z-index: 100
    +media(960px)
      padding: 40px 5px
      overflow-y: auto
      align-items: flex-start

    .course-points-shop-product
      position: relative
      border: none
      overflow: visible
      width: 100%
      max-width: 480px

      &__close
        fill: $ui-red
        +size(16px)
        position: absolute
        top: 3px
        left: calc(100% + 7px)
        cursor: pointer
        +media(960px)
          top: auto
          bottom: calc(100% + 7px)
          left: auto
          right: 0

    .course-points-shop-confirm
      position: relative
      max-width: 362px
      padding: 25px 30px
      background: $main-light-color
      border-radius: 4px
      display: flex
      flex-direction: column
      align-items: center

      &__description
        @extend %text-400-14
        a 
          color: $ui-blue-accident
          text-decoration: unset
          &:hover
            text-decoration: underline
      &__highlight
        color: $ui-blue-accident
        

      &__image
        margin: 30px 0
      .-promocode-
        margin-top: 10px
        padding: 7px 15px
        @extend %text-700-18
        color: $ui-blue-accident
        text-align: center
        background: $main-bg
        cursor: pointer
        border-radius: 4px
      &__subdescription
        margin-top: -20px
        @extend %text-600-14
        a
          @extend %text-600-14
          color: $main-accent-color
      &__button-list
        display: flex
        justify-content: center
      &__button 
        margin: 5px
        padding: 6px 10px
        min-width: unset
        width: 117px

  &-info
    position: relative
    &__text
      @extend %text-500-12
      display: flex
      align-items: center
      cursor: pointer
      +media(640px)
        margin-bottom: 10px
      
    
    &__icon
      flex-shrink: 0
      +size(14px)
      margin-left: 5px
      fill: #6979F8

    
    &-popup-wrap
      position: absolute
      top: calc(100% + 15px)
      right: -25px
      padding-right: 25px
      width: 393px 
      max-width: calc(100vw - 25px)
      z-index: 1
      +media(830px)
        right: auto
        left: 0
      +media(360px)
        max-width: calc(100vw - 10px)

    &-popup
      padding: 15px 20px
      background: $ui-white
      border-radius: 4px
      box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.09)

      &__close
        right: 0
        width: 16px
        height: 16px
        position: absolute
        top: 3px
        cursor: pointer
        fill: #EB5757

      &__title
        @extend %text-600-16
        margin-bottom: 5px
      &__text
        @extend  %text-400-14
      a
        color: $ui-blue-accident
        text-decoration: none
        &:hover
          text-decoration: underline



  &-preview
    +uiFont
    display: flex
    flex-direction: column
    align-items: center
    background: $main-light-color
    border-radius: 8px

    &__header
      width: 100%
      min-height: 200px
      padding: 20px 170px
      background-image: url('/lms/img/course/pointsShop/preview-header.jpg')
      background-color: rgba(0,0,0,.2)
      background-blend-mode: overlay
      background-position: center center
      background-size: cover
      background-repeat: no-repeat
      border-top-left-radius: inherit
      border-top-right-radius: inherit
      display: flex
      justify-content: center
      align-items: center
      +media(980px)
        min-height: 140px
        padding: 20px 70px
      +media(640px)
        padding: 20px

      &-text
        @extend %text-600-24
        text-align: center
        color: $main-light-color

    &__content
      text-align: center
      padding: 50px 20px 30px
      max-width: 600px
      display: flex
      flex-direction: column
      align-items: center
      max-width: 
      +media(980px)
        padding-top: 30px

    &__icon 
      &.-gift-
        margin: 30px 0

    &__title
      @extend %text-600-24
      margin-bottom: 15px

    &__subtitle
      @extend %text-400-14

    &__text
      @extend %text-600-24
      color: $ui-blue-accident
      margin-bottom: 5px
    
    &__subtext
      @extend %text-400-14

    &__button
      $button: &
      margin-top: 40px
      &-icon
        width: 1rem
        height: .5rem
        path
          stroke: $ui-white
      &:hover
        #{$button}-icon
          path
            stroke: $ui-blue-accident

      +media(980px)
        margin-top: 30px

  
.course-points-shop-orders
  margin-top: 10px

.course-points-shop-gift
  margin-top: 136px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  &__title
    margin-top: 34px 
    @extend %text-600-18
    color: $ui-light-grey-low-contrast

.course-points-shop-order
  .ajax__line
    border-radius: 4px
  @extend %text-400-14
  padding: 20px 30px
  background: $main-light-color
  border-radius: 8px
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  &:not(:last-child)
    margin-bottom: 10px
  +media(480px)
    padding: 14px 12px
  &__info
    flex: 1 1 0
    +media(640px)
      flex: auto
      width: 100%
      margin-bottom: 10px
  &__date
    color: $ui-gray-less
    display: flex
    & > * + *
      margin-left: 8px
    +media(480px)
      justify-content: space-between
  &__description
    margin-top: 10px
  &__promocode
    padding: 5px 26px
    @extend %text-500-14
    color: $ui-blue-accident
    text-align: center
    background: $ui-background
    cursor: pointer
    border-radius: 4px
    +media(480px)
      padding: 10px
      width: 100%