.courses

  &-banner
    display: block
    width: 100%
    height: 150px
    margin-bottom: 20px
    border-radius: 8px
    background: #bbb

  &-cards
    &__list
      display: flex
      flex-wrap: wrap
      margin: -10px

      +media(640px)
        justify-content: center

  &-card
    position: relative
    width: calc(50% - 24px)
    min-height: 280px
    margin: 12px
    border-radius: 8px
    transition: all .1s
    will-change: box-shadow
    $card: &
    background: $main-light-color
    display: flex
    flex-direction: column
    z-index: 1
    overflow: hidden

    +media(640px)
      width: calc(100% - 20px)
      min-height: 200px
      max-width: 400px
    
    &__image
      display: block
      width: 100%
      // +ratio(480, 164)
      +ratio(410, 120)
      background-color: #bbb
      background-position: center center
      background-size: cover
      cursor: pointer
    &__info
      padding: 25px 35px
      flex-grow: 1
      display: flex
      flex-direction: column

      > * + *
        margin-top: 20px
      
      &-head
        flex-grow: 1
        &-top
          display: flex
          justify-content: space-between
          & > * + *
            margin-left: 15px
        

    &__name
      @extend %text-700-16
      color: $ui-black-darkest

    &__description
      margin-top: 20px
      @extend %text-400-14
      color: $ui-black-darkest
      flex-grow: 1

    &__numbers
      margin-top: 25px
      display: flex
      justify-content: space-between
      &-item
        @extend %text-400-14
        display: flex
        &-name
          color: $ui-gray-dark
        &-amount
          color: $ui-blue-accident

    &-create
      text-align: center
      cursor: auto
      justify-content: center
      align-items: center

      +media(640px)
        height: 250px

      &:hover
        box-shadow: none
      &__icon
        +size(80px)
        min-width: 80px
        margin-bottom: 5px
        fill: $ui-blue-accident

  &__ajax
    width: 100%
    border-radius: 4px

    &_s
      height: 18px

    &_l
      height: 28px

    &_xl
      height: 120px
      border-radius: 0
    

  &-side-folder-container
    &.-new-folder-
      min-width: 500px;

  