.-menu-closed-
  .franch
    display: none

.franch
  &-block
    width: 200px
    margin: 0 auto
    +media(480px)
      width: 100%
      padding: 0 20px
  &-card
    position: relative    
    min-height: 280px
    border: 1px solid $border-color
    border-radius: 8px
    transition: all .1s
    will-change: box-shadow
    background-color: white
    padding: 15px 10px
    display: flex
    flex-flow: column
    +media(480px)
      padding: 15px 20px

    &__title
      @extend %text-700-16
      margin-bottom: 15px
    &__text
      color: $main-accent-color
      fill: $main-accent-color
      @extend %text-500-12
      +media(480px)
        font-size: 14px
    &__label
      color: $text-extra-color
      fill: $text-extra-color
      @extend %text-500-12
      +media(480px)
        font-size: 14px
    

    &__info
      display: flex
      flex-flow: column
      justify-content: space-between
      &-block
        display: flex
        flex-flow: row
        justify-content: flex-start
        align-items: center
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0

    &__rating
      margin-top: 15px
      padding-top: 15px
      border-top: 1px solid $main-bg
      display: flex
      flex-flow: row wrap
      justify-content: space-between
      &-block
        min-width: calc(50% - 10px)
        margin-bottom: 15px
        &:nth-child(3)
          margin-bottom: 0px
        &:nth-child(4)
          margin-bottom: 0px
      &-info
        display: flex
        flex-flow: row
        justify-content: flex-start
        align-items: center
  &-rating
    display: flex
    flex-flow: row
    height: 20px
    margin-top: 10px
    margin-bottom: 0px
    & > * + *
      margin-left: 3px
    &__stars
      margin-top: 8px
      display: flex
      & > * + *
        margin-left: 3px
    &__star
      width: 13px
      height: 12px
  &-action
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
    margin: 10px -5px 0
    &__btn
      width: calc(50% - 10px)
      margin: 5px
      +media(480px)
        font-size: 14px
      &.-blocked-
        pointer-events: none
        color: rgba(#fff, .5)

  .menu__subblock
    border: none

  .menu__subblock.-controls-
    margin: 0 -17px
    +media(480px)
      margin: 0 -20px

  .menu__subblock.-teammates-
    margin: 15px 0 0
    padding: 0
    border: none

  .menu-teammates
    max-width: initial
    margin: 0 -5px
    +media(480px)
      max-width: 220px
    &__member
      margin: 10px 5px
      width: 28px
      height: 28px
      min-width: 28px
      background-repeat: no-repeat
      &.-unknown-
        width: 30px
        height: 30px
        min-width: 30px
  .ajax__line
    height: 20px
    margin: 0 20px 10px

  &-type
    &-popup
      position: fixed
      left: 0
      top: 0
      width: 100vw
      height: 100vh
      background: rgba(0, 0, 0, 0.55)
      z-index: 150
      display: flex
      justify-content: center
      align-items: center
      +media(640px)
        align-items: flex-start
        overflow: auto

      &__container
        width: 100%
        max-width: 410px
        padding: 30px 30px 20px
        background: $main-bg
        border-radius: 6px
        cursor: auto
        overflow: auto
        +media(480px)
          border-radius: 0

      .ajax__line
        height: 20px

      &__title
        margin-bottom: 20px
        @extend %text-700-22
        color: $main-dark-color
      &__svg
        margin-bottom: 30px
        display: flex
        justify-content: center
      &__buttons
        display: flex
        flex-direction: column
        & > * + *
          margin-top: 10px

.-franch-points-table-
  position: relative
  .table__body-content
    min-width: 1700px
  .table__col
    width: calc(100% / 13)
