.lesson
	&__header
		margin-top: 70px
		.main__top
			margin-bottom: 0
		&-title
			margin-bottom: 20px
			display: flex
			justify-content: space-between
			align-items: center

			+media(640px)
				flex-direction: column
				align-items: flex-start

				> * + *
					margin-top: 20px

	&__block
		margin-top: 10px
	
	&__content
		&.-user-
			.lesson-block__content
				padding: 15px 20px 15px 20px
	
	&__list

		> * + *
			margin-top: 10px
	
	&__item
		position: relative
		&:hover
			.lesson-block-add
				opacity: 1
				pointer-events: auto
		&.-empty-
			.lesson-block-add
				position: relative
				opacity: 1
				pointer-events: auto
		&-title
	
	&__controls
		position: absolute
		top: 15px
		right: 35px
	
	&__navigation
		margin-bottom: 15px
		min-height: 20px

	&__role
		.select
			width: 170px
			background: $main-light-color

	&-prev, &-next
		padding: 7px 24px
		background: white
		border-radius: 4px
		& a
			@extend %text-400-14
			line-height: 20px
			color: $text-extra-color
		& svg 
			width: 5px
			height: 10px
			margin-right: 15px
			stroke: $text-extra-color
			transform: translateY(1px)
		&:hover
			& a
				color: $main-accent-color
			& svg
				stroke: $main-accent-color
	
	&-next
		& svg
			margin-right: 0px
			margin-left: 15px
			transform: translateY(1px) rotate(180deg)

.vimeo__frame
	border: none
.lesson-block
	position: relative
	display: flex
	align-items: center
	flex-flow: column
	min-height: 54px
	// overflow: hidden
	$block: &

	&__block
		> * + *
			margin-top: 10px
	
	&__upload
		width: 100%
		display: flex !important
		justify-content: flex-end
		& .upload-file__button
			border-radius: 4px
			background-color: #EFF1F8
			color: #B8B8BE
			border-color: transparent
	
	&.-ov-hid-
		overflow: hidden
		
	&__content
		padding: 15px 80px 15px 20px
		width: 100%

		> * + *
			margin-top: 15px

		&.-ajax-
			padding-right: 20px

	&__title
		@extend %text-700-16
	&__descr
		@extend %text-400-12

	&__text
		&-title
			color: $text-extra-color
			&:not(:last-child)
				margin-bottom: 10px

	&__edit
		flex-grow: 1

		&.-error-
			textarea, input
				border-color: $color-error
		&-user
			display: flex
			flex-flow: column
			padding: 9px 14px
			border-radius: 4px
			background-color: $main-bg
			&__label
				@extend %text-500-12
				margin-bottom: 5px
			& .form-item
				& > *
					padding: 0px
					background-color: transparent
					border: none
	
	&__buttons
		display: flex
		align-items: center

		> * + *
			margin-left: 50px

	&__pict
		display: block
		width: 100%
		height: 200px
		background-size: cover
		background-position: center center
	
	&__user
		&__frame
			width: 100%
			border-radius: 8px
			overflow: hidden

	&__video
		width: 100%
		min-height: 400px
		// position: absolute
		// top: 0
		// left: 0
		margin: 0

		&-wrapper
			position: relative
			width: 100%
			font-size: 0
			// padding-top: 9 / 16 * 100%
			&-preview
				padding-top: 0
				cursor: pointer
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;

		&__preview
			width: 335px
			position: relative
			margin-top: 40px
		&-close
			+size(12px)
			fill: #fff
			position: absolute
			top: 8px
			right: 8px
			cursor: pointer

		img
			max-width: 100%
	
	&__person
		@extend %text-500-12
		margin-left: 15px
	
	&__row
		display: flex

		> * + *
			margin-left: 20px

		&.-answer-
			margin-top: 30px

		&.-files-row-
			margin: 0 -10px
			flex-wrap: wrap
			> *
				margin: 10px

		&.-task-header-
			justify-content: space-between
			align-items: center

		&-numbers
			flex: 1 0 0
			display: flex
			& > *
				min-width: 110px
			& > * + *
				margin-left: 20px
	
	&__ajax
		+size(100%, 25px)
		border-radius: 6px

	&__select

	.-grow-
		flex-grow: 1

	.-no-grow-
		flex-grow: 0

	&.-add-block-

		#{$block}__content
			padding-right: 20px

	&__markdown
		@extend %text-400-14
		color: #2B2D34
		h2
			font-size: 1.25em
			font-weight: 700
		h3
			font-size: 1.1em
			font-weight: 700

	&-add
		position: absolute
		top: calc(100% - 6px)
		left: 0
		width: 100%
		z-index: 5
		cursor: pointer
		pointer-events: none
		opacity: 0
		transition: all .1s
		&__content
			position: relative
			width: 100%
			height: 22px
			display: flex
			align-items: center
		&__dashes
			position: relative
			display: block
			width: 100%
			height: 1px
			border: 0.5px dashed rgba(105, 121, 248, 0.3)
			&:after
				content: ''
				position: absolute
				top: -1px
				display: block
				width: 38px
				height: 2px
				background: $main-bg
				+cx()
		&__icon
			position: absolute
			+size(22px)
			fill: rgba(105, 121, 248, 0.3)
			+cxy()
			z-index: 5

	&-franch
		&-numbers
			margin-top: 9px
			padding-left: 10px
			display: flex
			& > * + *
				margin-left: 20px
			&__item
				display: flex
				align-items: center
				& > * + *
					margin-left: 10px

			&__title
				@extend %text-500-12
				color: $text-extra-color
				text-transform: uppercase

			&__icon
				position: relative
				+size(14px)
				min-width: 14px
				svg
					width: 100%
					height: 100%
					fill: $border-color
			&__input
				position: relative
				width: 41px
				min-height: 20px
				min-width: 40px
				padding: 0 5px
				border: 1px solid $border-color
				border-radius: 4px
				display: flex
				align-items: center
				justify-content: center
				input
					@extend %input-text
					padding: 0
					font-size: 12px
					min-height: auto
					border: none
					outline: none
					text-align: center
		&-answer
			align-items: center
			+media(640px)
				display: block
				& > label.form-item
					width: 100% !important
		&-validating
			margin-left: 20px
			@extend %text-600-12
			+media(640px)
				margin-top: 10px
				margin-left: 0
			&.-correct-
				color: #3ABA80
			&.-incorrect-
				color: $main-error-bg

		&-team
			margin-top: 30px
			position: relative
			&:after
				content: ''
				position: absolute
				top: -15px
				left: -20px
				display: block
				height: 1px
				width: calc(100% + 40px)
				background: $border-color
			& > div + div
				margin-top: 15px
				padding-top: 15px
				border-top: 1px solid $border-color

			&__header
				margin-top: 30px

			&-marks
				&__header
					margin-top: 10px
					padding: 5px 15px
					border-radius: 4px
					cursor: pointer
					background: $main-bg
					transition: all .1s
					display: flex
					justify-content: space-between
					align-items: center
					&:hover
						background: darken($main-bg, 3%)
					&.-active-
						margin-bottom: 8px
						background: transparent
						&:hover
							background: $main-bg
				&__title
					@extend %text-600-12
					color: $text-extra-color
				&__icon
					+size(22px)
					min-width: 22px
					display: flex
					justify-content: center
					align-items: center
					svg
						width: 6px
						height: 10px
						fill: $main-accent-second-color
						transition: all .1s
						transform: rotate(-90deg)
						&.-active-
							transform: rotate(90deg)

				&-list
					& > * + *
						margin-top: 10px

				&-item
					padding: 8px 15px
					background: $main-bg
					&__stars
						display: flex
						& > * + *
							margin-left: 4px
					&__star
						width: 13px
						height: 12px
					&__comment
						margin-top: 4px
						@extend %text-500-12
						color: #000

			&-rate
				&:nth-child(2)
					margin-top: 15px
				& > * + *
					margin-top: 15px
				&__comment
					@extend %text-500-12
					color: #000
					white-space: pre-line
				&__header
					display: flex
					align-items: center
					justify-content: space-between
					+media(640px)
						display: block
						& > * + *
							margin-top: 15px
				&__member
					display: flex
					align-items: center
					&-info
						margin-left: 15px
					&-name
						@extend %text-600-18
					&-location
						margin-top: 4px
						@extend %text-600-12
						color: $text-extra-color
				&__stars
					display: flex
					align-items: center
					+media(480px)
						display: block
					&.-header-
						+media(480px)
							display: flex
							align-items: center
					&-title
						@extend %text-600-14
						color: $text-extra-color
					&-points
						margin-left: 10px
						@extend %text-700-18
						color: $main-accent-color
					&-list
						margin-left: 15px
						display: flex
						+media(480px)
							margin-left: 0
							margin-top: 5px
						& > * + *
							margin-left: 7px

				&__star
					width: 20px
					height: 19px
					min-width: 19px
					cursor: pointer
					&.-answered-
						cursor: default


.lesson-aside-block
	margin-top: 0
	margin-bottom: 5px
	padding: 20px 0
	cursor: pointer
	transition: all .1s

	&:hover
		background: rgba($main-accent-third-color, .4)

	&:not(:last-child)
		border-bottom: 1px solid rgba(0, 0, 0, 0.1)

	&__title
		@extend %text-600-18
		color: $text-extra-color
		padding: 0 20px
		text-align: center
		&:not(:last-child)
			margin-bottom: 15px
	&__image
		width: 50px
		height: 50px
		margin-bottom: 22px
		svg
			fill: $border-color
		&.-test-
			width: 40px
	&-content
		padding: 20px 20px 15px
		border: 1px solid #DFE0EB
		border-radius: 8px
		overflow: hidden

		&__title
			@extend %text-600-14
			&:not(:last-child)
				margin-bottom: 10px

		&__description
			@extend %text-400-12

		&__picture
			display: block
			width: calc(100% + 40px)
			height: 210px
			margin: -20px -20px -15px
			background-image: url('/lms/img/lesson/lesson-aside-img.jpg')
			background-position: center center
			background-size: cover
			background-repeat: no-repeat

		&__video
			display: block
			width: calc(100% + 40px)
			height: 210px
			margin: -20px -20px -15px
			background-image: url('/lms/img/lesson/lesson-aside-video.jpg')
			background-position: center center
			background-size: cover
			background-repeat: no-repeat

		&__list
			&:not(:last-child)
				margin-bottom: 20px
				padding-bottom: 15px
				border-bottom: 1px solid rgba(0, 0, 0, 0.1)

		&__answer
			&-title
				margin-bottom: 20px
				@extend %text-600-14

.lesson-aside-card
	width: 240px
	height: 200px
	display: flex
	justify-content: center
	align-items: center
	flex-flow: column
	background: $main-bg
	border-radius: 8px
	border: none !important
	margin-bottom: 7px
	margin-top: 7px
	&:hover
		background: $neutral-light-color

.lesson-test
	&.-edit-
		padding: 15px 20px 15px 20px
	&-preview
		position: relative
		min-height: 185px
		padding-right: 300px
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-start
		$preview: &
		&__title
			@extend %text-700-24
			color: $main-accent-color

		&__description
			margin-top: 15px
			@extend %text-600-14

		&__img
			margin-top: 0
			position: absolute
			top: 15px
			right: 100px
			display: block
			+size(130px)
			background-position: center center
			background-size: cover
			background-repeat: no-repeat
			border-radius: 8px
			overflow: hidden

		&.-user-.-user-
			padding-right: 300px
			+media(640px)
				min-height: auto
				padding-right: 20px
			#{$preview}
				&__img
					+media(640px)
						margin-bottom: 15px
						position: static
						order: -1


	&-slide
		min-width: 100%
		&-header
			margin-bottom: 15px
			position: relative
			display: flex
			&__nav
				position: absolute
				+cxy
				display: flex
				align-items: center
				& > * + *
					margin-left: 15px
				&-icon
					padding: 5px 7px
					cursor: pointer
					svg
						width: 6.5px
						height: 10.5px
						fill: $main-accent-second-color
						transition: all .2s
					&.-prev-
						svg
							transform: rotate(-180deg)
					&:hover
						svg
							fill: $main-accent-color
				&-text
					@extend %text-600-14
					color: $text-extra-color
		&__input
			margin-bottom: 10px
			&:not(:last-child)
				margin-bottom: 15px
			&.-markdown-
				.form-item__input
					min-height: 90px
					max-height: 90px
					overflow-y: auto

		&-controls
			margin-bottom: 15px
			display: flex
			justify-content: space-between
			.file
				margin-top: 10px
			.button-cancel
				font-weight: 600

		&-answers
			&__header
				display: flex

			&__title
				@extend %text-500-12

			&-types
				margin-left: 50px
				display: flex
				& > * + *
					margin-left: 40px
				&__checkbox
					cursor: pointer
					display: flex
					.checkbox__text
						margin-top: 0
						margin-left: 10px
						@extend %text-500-12
						color: $text-extra-color

			&__list
				margin-top: 10px
				border: 1px solid $border-color
				border-radius: 4px

			&-answer
				padding: 10px
				&:not(:last-child)
					border-bottom: 1px solid $border-color

				&__header
					width: 100%
					transition: all .2s
					display: flex
					align-items: center
					justify-content: space-between
					&.-numbers-opened-
						padding-bottom: 9px
					& > div > * + *
						margin-left: 10px
					&-left
						padding-right: 20px
						flex: 1
						display: flex

					&-right
						display: flex

				&__checkbox
					cursor: pointer

				&__input
					width: 100%
					.form-item__block
						height: 18px
					input
						padding: 0
						border: none
						color: #000
						background: transparent
						@extend %text-500-12

				&__points
					position: relative
					width: 40px
					min-height: 20px
					min-width: 40px
					padding: 0 5px
					border: 1px solid $border-color
					border-radius: 4px
					display: flex
					align-items: center
					justify-content: center
					input
						@extend %input-text
						padding: 0
						font-size: 12px
						min-height: auto
						border: none
						outline: none
						text-align: center

				&__arrow
					padding: 5px 7px
					cursor: pointer
					svg
						width: 6.5px
						height: 10.5px
						fill: $main-accent-second-color
						transition: all .2s
						transform: rotate(90deg)
					&.-active-
						svg
							transform: rotate(-90deg)
					&:hover
						svg
							fill: $main-accent-color

				&-numbers
					display: flex
					padding-top: 9px
					border-top: 1px solid $border-color
					& > * + *
						margin-left: 20px
					&__item
						display: flex
						align-items: center
						& > * + *
							margin-left: 10px
					&__icon
						position: relative
						+size(14px)
						min-width: 14px
						svg
							width: 100%
							height: 100%
							fill: $border-color
					&__input
						position: relative
						width: 41px
						min-height: 20px
						min-width: 40px
						padding: 0 5px
						border: 1px solid $border-color
						border-radius: 4px
						display: flex
						align-items: center
						justify-content: center
						input
							@extend %input-text
							padding: 0
							font-size: 12px
							min-height: auto
							border: none
							outline: none
							text-align: center

		&__intervals

		&-interval
			&__title
				@extend %text-600-12
				color: $text-extra-color
			&-points
				&__title
					margin-bottom: 5px
					@extend %text-500-14
					color: $text-extra-color
				&-row
					display: flex
					& > * + *
						margin-left: 10px
				&__point
					position: relative
					width: 40px
					min-height: 40px
					min-width: 40px
					padding: 5px
					border: 1px solid $border-color
					border-radius: 4px
					display: flex
					align-items: center
					justify-content: center
					input
						@extend %input-text
						padding: 0
						min-height: auto
						border: none
						outline: none
						text-align: center
					&:first-child
						&:after
							content: ''
							display: block
							position: absolute
							+cy
							left: calc(100% + 2px)
							width: 6px
							height: 1px
							background: $border-color
							border-radius: 50%
	&-navigation
		position: relative
		+media(640px)
			padding-bottom: 30px
		&-list
			position: absolute
			+cxy()
			display: flex
			z-index: 5
			+media(640px)
				bottom: 8px
				top: auto
				transform: translate(-50%, 0)
			& * + *
				margin-left: 5px
			&__item
				cursor: pointer
				padding: 3px
				&.-questions-
					cursor: auto
				&:before
					content: ''
					display: block
					+size(8px)
					border: 1px solid $main-accent-second-color
					border-radius: 50%
					transition: all .2s
				&:hover:not(.-questions-)
					&:before
						background: $main-accent-color
						border-color: $main-accent-color
				&.-active-
					&:before
						background: $main-accent-color
						border-color: $main-accent-color

	.-asc-
		align-self: center

	&-question
		&__img
			display: block
			width: 100%
			height: 500px
			margin-bottom: 20px
			background-position: center center
			background-size: cover
			background-repeat: no-repeat
			border-radius: 8px
			+media(960px)
				height: 250px
			+media(640px)
				height: 170px
		&__text
			@extend %text-600-14
			margin-bottom: 15px
		&-answer
			padding: 11px 10px
			border-radius: 8px
			cursor: pointer
			transition: all .1s
			display: flex
			align-items: center
			&:hover
				background: $neutral-light-color
			&__text
				margin-left: 10px
				@extend %text-500-12

	&-finish
		&__title
			@extend %text-700-24
			color: $main-accent-color
			text-align: center
		&__img
			display: block
			margin-left: auto
			margin-right: auto
			+size(180px)
			background-position: center center
			background-size: cover
			background-repeat: no-repeat
			border-radius: 8px
			+media(640px)
				width: 140px
				height: 140px
		&__text
			margin-top: 30px
			@extend %text-600-14

	&-header
		display: flex
		justify-content: space-between
		&__title
			@extend %text-600-14
		&__position
			@extend %text-600-14
			color: $text-extra-color