.msg
  &-skeleton
    margin: 0
    margin-top: 10px
  &-header
    &__header
      display: grid
      grid-gap: 10px
      grid-template-columns: repeat(4 , calc(25% - 10px))
      align-items: center
      justify-content: space-between
      padding-left: 10px
      width: calc( 100% - 200px)
      +media(1080px)
        grid-template-columns: repeat(2 , calc(50% - 10px))
        grid-template-rows: repeat(2, calc(50% - 10px))
        grid-gap: 15px
        justify-content: center
      +media(700px)
        grid-template-columns: 100%
        grid-template-rows: repeat(4 , calc(25% - 10px))
        grid-gap: 15px
        justify-content: center
      +media(480px)
        width: 100%
        justify-content: center
    &__body
      padding: 0px
      border-top: 1px solid $border-color
    &__search,
      position: relative
      max-width: 300px
      min-width: 200px
      +media(700px)
        max-width: 100%
  
  &-block
    margin-top: 10px
    border: 1px solid $border-color 
    border-radius: 8px
    overflow: hidden
  
  &-items
    max-width: 300px
    min-width: 200px
    width: 100%
    +media(700px)
      max-width: 100%
  
  &__bisness
    position: absolute
    display: flex
    left: 50%
    transform: translateX(-50%)
  
  &-createdAt
    position: absolute
    top: 10px
    right: 20px
    background: $main-bg
    padding: 1px 8px
    color: $text-extra-light-color
  
  &-date
    display: flex
    align-items: center
    justify-content: center
    background-color: #F7F8FC
    width: 100%
    &:first-child
      border-right: 1px solid $border-color
    &__current
      background-color: $main-accent-second-color
      & .msg-text
        color: white
  
  &-data
    &__input
      display: flex
      flex-flow: row
      justify-content: space-between
      max-width: 300px
      min-width: 180px
      +media(700px)
        max-width: 100%

      &-info
        @extend %text-600-15
        color: $main-accent-color
      &-prev
        cursor: pointer
        & svg 
          margin-right: 2px
          transform: rotate(90deg)
      &-next
        cursor: pointer
        & svg
          margin-left: 2px
          transform: rotate(-90deg)
      &-icon
        fill: $main-accent-second-color
        width: 10px
        height: 10px
  
  &-text
    @extend %text-600-12
  &-label
    padding-left: 15px
    +media(750px)
      padding-left: 10px
  &-select
    @extend %text-600-12
    width: 100%
    min-height: 30px
    padding: 15px 0px 
    padding-left: 25px
    margin: 0px
    border-radius: 2px
    border: none
    border-bottom: 1px solid $border-color

  &-table
    min-width: 800px
    +media( 480px )
      padding: 0px
    &:last-child
      border-bottom: none
    & [data-table="msg"]
      height: auto
      // min-width: calc( 100% / 21)
      // &:first-child, &:last-child
      //   min-width: calc( 100% / 8 )
    &-row
      display: grid !important
      grid-template-columns: repeat(2, 50%)
    &-col
      position: relative
      display: flex
      align-items: center
      justify-content: flex-start
      color: black
      height: 100%
      &:first-child
        border-right: 1px solid $border-color
    & li
      position: relative
      display: flex
      flex-flow: column
      justify-content: center
      align-items: center
      min-width: calc( 100% / 8)
      height: 90px
      padding: 0px
      border-right: 1px solid $border-color
      &:first-child
        padding: 0px
      &:last-child
        padding: 0px
        border-right: none
    &-types
      display: flex
      flex-flow: row
      height: 50%
      width: 100%
      border-top: 1px solid $border-color
    &-info
      display: flex
      justify-content: center
      align-items: center
      height: 50%
      width: 100%
    &-text
      padding-left: 20px
      white-space: break-spaces
  
  &-tariff, &-stream
    @extend %text-600-12
    margin-left: 10px
    background-color: $main-accent-second-color
    color: white
    padding: 2px 5px
    border-radius: 4px
  
  &-stream
    background-color: $color-success-light
  
  &-input
    width: 100%
    height: 100%
    border: 1px solid transparent
    padding-right: 20px
    cursor: pointer
    &:focus
      border-color: $main-accent-color
      background-color: $neutral-light-color
      & ~ *
        display: block
    &-after
      @extend %text-500-12
      display: none
      position: absolute
      right: 10px
      color: $main-accent-color
