.questionnaire
  min-height: 100vh
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden

  &__icon
    &-back
      height: 15px
      width: 22px
      position: absolute
      top: 34px
      left: 41px
      cursor: pointer
      path
        stroke: $ui-light-grey-4-5-contrast
      +media(480px)
        top: 26px
        left: 13px

  &__header
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 30px
    &.-margin-xl-
      margin-bottom: 60px
    &.-full-
      width: 100%

  &__title
    @extend %text-700-24
    text-align: center
    max-width: 460px
    margin-bottom: 30px
    &.-min-margin-
      margin-bottom: 10px
    &.-margin-none-
      margin-bottom: 0
    &.-margin-m-
      margin-bottom: 15px

  &__description
    @extend %text-500-14
    max-width: 512px
    text-align: center
    color: $ui-light-grey-4-5-contrast
    &.-xl-
      max-width: 827px
      padding: 0 10px



  &__substrate-wrap
    display: flex
    flex-direction: column
    justify-content: center

    position: relative
    margin: 20px 0

    min-height: 560px
    max-width: 1010px
    width: 100%
  
  &__substrate
    display: flex
    flex-direction: column
    justify-content: center
    flex-grow: 1

    position: relative
    border-radius: 8px
    background: $ui-white
    &-bg
      position: absolute
      &.-left-
        top: 10%
        left: -200px
      &.-right-
        top: 15%
        right: -210px
    &-img
      position: absolute
      right: -100px
      bottom: -70px
      +media(1140px)
        display: none

  &__limiter
    max-width: 440px
  
  &-question
    padding: 50px 10px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    flex-grow: 1

    &__title
      @extend %text-700-18

    &__space
      
    &-grid
      width: 100%
      margin-top: 30px
      margin-bottom: 70px
      display: grid
      grid-gap: 20px
      .-margin-top-none-
      &.-square-
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
      &.-big-square-
        grid-template-columns: 1fr 1fr
        grid-auto-rows: 1fr
        max-width: 800px
        width: 100%
        +media(640px)
          grid-template-columns: 1fr

      &.-one-
        grid-template-columns: 1fr

      &__item 
        background: $ui-background
        border-color: $ui-background
      &.-center-
        justify-items: center
      &.-margin-m-
        margin-bottom: 30px
    &-flex
      $flex: &
      width: 100%
      margin-top: 30px
      margin-bottom: 70px
      display: flex

      button
        padding: 10px 5px

      &__item 
        min-width: 180px
        background: $ui-background
        border-color: $ui-background
      

      &.-square-
        max-width: 800px
        width: 100%
        flex-wrap: wrap
        justify-content: center
        #{$flex}__item
          width: calc(25% - 20px)
          margin: 10px
      &.-triple-
        max-width: 600px
        width: 100%
        flex-wrap: wrap
        justify-content: center
        #{$flex}__item
          width: calc(33.3% - 20px)
          margin: 10px
      &.-big-square-odd-
        display: flex
        justify-content: center
        flex-wrap: wrap
        max-width: 800px
        width: 100%
        #{$flex}__item
          width: calc(50% - 20px)
          margin: 10px
          flex-grow: 1
          &:last-child
            flex-grow: 0
            flex-shrink: 1
            width: 529px

  &-content
    padding: 50px 10px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    flex-grow: 1
    &__title
      @extend %text-700-18
    &__block
      margin-bottom: 30px
      display: flex
      flex-direction: column
      align-items: center
      &.-underline-
        position: relative
        padding-bottom: 32px
        &::before
          content: ''
          bottom: 0
          left: 50%
          transform: translateX(-50%)
          position: absolute
          height: 2px
          width: 67px
          background: $ui-light-blue
      &.-margin-l-
        margin-bottom: 40px
      &.-margin-s-
        margin-bottom: 15px
    &__input.-l-
      min-width: 380px
      +media(480px)
        min-width: 280px
    &__link
      +uiFont
      @extend %text-500-14
      color: $ui-light-grey-4-5-contrast
      text-decoration: none
      transition: .1s color
      margin: 10px 0
      cursor: pointer
      &:hover
        color: $ui-blue-accident


    &-list
      display: flex
      flex-direction: column
      &__item
        @extend %text-400-14
        display: flex
        flex-direction: column
        margin-bottom: 10px

      &__button-list-wrap
        display: flex
        justify-content: center
      &__button-list
        display: grid
        grid-template-columns: 220px 220px
        grid-gap: 10px
        margin-top: 15px
        margin-bottom: 5px
        +media(480px)
          grid-template-columns: 220px
      &__button
        color: $ui-blue-less-contras
        &-field
          display: flex
          align-items: center
        &-icon
          margin-right: 11px
          +size(14px)
          fill: $ui-blue-less-contras
      
    &-postscript
      @extend %text-400-14
      color: $ui-light-grey-4-5-contrast
      &__highlight
        color: $ui-blue-accident

  &-info
    position: relative
    max-width: 460px
    width: 100%
    display: flex
    flex-direction: column
    padding: 0 10px

    &__field-list
      margin-bottom: 20px
      display: grid
      grid-gap: 12px


    &__field
    
    &__checkbox
      @extend %text-500-12
      color: $ui-light-grey-4-5-contrast
      a 
        @extend %text-500-12
        color: inherit
        &:hover
          color: $ui-blue-accident

      &__content

    &__footer
      margin-top: 30px
      &.-center-
        display: flex
        justify-content: center
  
  &-button-telegram
    @extend %text-500-14
    display: flex
    align-items: center
    justify-content: center
    min-width: 242px
    min-height: 40px
    padding: 10px 30px
    background: #039BE5 //tg-color
    color: $ui-white
    border-radius: 43px
    text-decoration: none

    svg
      height: 20px
      width: 24px
      margin-right: 12px
      fill: $ui-white

  &-copy
    display: flex
    flex-direction: column
    justify-content: center
    cursor: pointer
    &__title
      @extend %text-500-12
      margin-bottom: 10px
      text-align: center
      color: $ui-gray-less

    &__text
      display: flex
      align-items: center
      text-align: center

    &__field
      position: relative
      font-size: rem(24px)
      font-weight: 400
      letter-spacing: 6px
      display: flex
      align-items: center
      +media(640px)
        font-size: rem(20px)
        letter-spacing: 5px
      +media(480px)
        font-size: rem(18px)
        letter-spacing: 4px
      +media(360px)
        font-size: rem(14px)
        letter-spacing: 4px
      

    &__text
      transition: color .1s


    &__icon-wrap
      padding-left: 5px
      position: absolute
      left: 100%
      display: flex
      align-items: center

    &__icon
      +size(18px)
      fill: $ui-gray-less
      transition: fill .1s
    &__field:hover
      .questionnaire-copy__icon
        fill: $ui-blue-accident
      .questionnaire-copy__text
        color: $ui-blue-accident

    
    &__input
      // display: none

  &-modal
    max-width: 633px

    &__button
      &.-min-
        width: 100px

    &-content
      display: flex
      flex-direction: column

      &.-center-
        align-items: center

      &__title
        margin-bottom: 30px

      &__button
        margin-top: 30px

      &__img
        +size(114px)
        
        