.rating-investments
  &-table
    &__block
      background-color: $main-bg
      padding: 20px
      border-radius: 8px
    &__city-text .ui-space-table__text
      max-width: 85px
      line-break: auto
      overflow: hidden
    &__user-group
      display: flex
      flex-direction: column
      &:nth-child(2n) .ui-space-table__row
        background-color: $ui-gray-light
      &:not(:last-child)
        border-bottom: 1px solid $ui-background
      & .user-group
        &__container
          display: block
          flex: 1
          .ui-space-table__row:not(:first-child)
            border-top: unset
            .-with-border-
              border-top: 1px solid $ui-background
        &__delimiter
          height: 4px
          border-radius: 0 0 4px 4px
          background-color: $ui-blue-accident
    &__header
      +uiFont
      @extend %text-500-14
      display: flex
      flex-direction: row
      gap: 4px
    &__text
      &_sm
        font-size: 10px
        letter-spacing: -0.3px
        font-weight: 500
        line-height: 14px
        &.-gray-
          color: $ui-gray-less
  &-user
    & .rating-user-info-stats__input-list
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))
    &-niches
      &__header
        display: flex
        flex-direction: row
        justify-content: space-between
        grid-column: 1 / -1
        &_text
          +uiFont
          @extend %text-500-14
          display: flex
          flex-direction: row
          gap: 4px
        &_add-new
          +uiFont
          @extend %text-500-12
          display: flex
          flex-direction: row
          gap: 10px
          color: $ui-blue-accident
          cursor: pointer
          svg
            height: 14px
            width: 14px
            fill: $ui-blue-accident
      &__row
        display: grid
        background-color: $main-bg
        box-shadow: 3px 8px 14px rgba(48, 64, 194, 0.05)
        padding: 20px
        border-radius: 8px
        grid-template-columns: repeat(2, minmax(300px, 1fr))
        grid-template-rows: auto
        gap: 20px
        margin-bottom: 20px
        +media(900px)
          grid-template-columns: 1fr
      &__card
        padding: 15px
        border-radius: 8px
        background-color: $ui-white
        &_header
          +uiFont
          @extend %text-500-14
          display: flex
          flex-direction: row
          justify-content: flex-start
          margin-bottom: 10px
          gap: 10px
          align-items: flex-start
          &-title
            display: flex
            flex-direction: row
            flex-wrap: wrap
            gap: 10px
            span.-title-
              line-break: auto
              overflow: hidden
              text-overflow: ellipsis
            .v-popover
              cursor: pointer
              svg
                width: 14px
                path
                  fill: $ui-gray-less
                &:hover path
                  fill: $ui-gray-dark

            & > .-accepted-
              @extend %text-500-12
              font-size: 10px!important
              color: $ui-success
              background-color: $ui-background
              border-radius: 2px
              padding: 3px 5px
              margin-top: -2px
            & > .-primary-
              @extend %text-500-12
              font-size: 10px!important
              color: $ui-blue-accident
              background-color: $ui-background
              border-radius: 2px
              padding: 3px 5px
              margin-top: -2px
            & > .-awaits-
              @extend %text-500-12
              font-size: 10px!important
              color: $ui-gray-dark
              background-color: $ui-gray-light
              border-radius: 2px
              padding: 3px 5px
              margin-top: -2px
          &-icons
            margin-left: auto
            display: flex
            flex-direction: row
            gap: 10px
            svg
              cursor: pointer
              height: 12px
              width: 12px
              fill: $ui-gray-less
              &:hover
                fill: $ui-gray-dark
        &_body
          +uiFont
          @extend %text-400-14
          padding-bottom: 30px
          overflow-wrap: anywhere
    &-actions
      background-color: $main-bg
      border-radius: 8px
      padding: 20px
      &__header
        +uiFont
        @extend %text-500-14
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-bottom: 20px
        & > div
          display: flex
          flex-direction: row
          gap: 4px
        &-total
          +uiFont
          @extend %text-500-12
          span
            color: $ui-blue-accident
      &__list
        column-count: 2
        gap: 20px
        +media(900px)
          column-count: 1
        &-item
          display: flex
          break-inside: avoid
          flex-direction: row
          justify-content: space-between
          padding: 14px
          border-radius: 8px
          margin-top: 10px
          background-color: $ui-white
          &:first-child
            margin-top: 0
          & > .-link-
            +uiFont
            @extend %text-500-12
            text-decoration: unset
            color: $ui-blue-accident
sup.comment-total
  position: absolute
  top: 20%
  right: 5%
  background-color: $ui-orange-extra-accident
  color: $ui-white
  width: 12px
  height: 12px
  font-size: 10px
  text-align: center
  padding-top: 6px
  border-radius: 6px
sup.comment-total-user
  background-color: $ui-orange-extra-accident
  color: $ui-white
  width: 12px
  height: 12px
  font-size: 10px
  text-align: center
  padding-top: 6px
  border-radius: 6px
  display: block
  margin-top: -18px
  margin-left: 7px
.niche-table__cell
  .ui-space-table__text
    display: flex
    flex-direction: row
    align-items: center
    .niche-cell__checkbox
    .niche-cell__text
      display: flex
      flex-direction: column
      max-width: 180px
      overflow: hidden
      white-space: nowrap
      div
        cursor: default
        text-overflow: ellipsis
        overflow: inherit
    .niche-cell__comment
      margin-left: auto
      .trigger
        width: 16px
      &:hover svg > path
        fill: $ui-gray-dark
.niche-comment
  &__box
    max-width: 350px
    min-width: 300px
    border-radius: 4px
    background-color: $ui-white
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2)
  &__header
    display: flex
    flex-direction: row
    gap: 4px
    padding-left: 15px
    padding-top: 10px
    padding-bottom: 10px
    border-bottom: thin solid $ui-background
    &_text
      +uiFont
      @extend %text-500-12
    &_total
      +uiFont
      @extend %text-500-12
      color: $ui-blue-accident
      background-color: $main-bg
      padding-left: 5px
      padding-right: 5px
  &__input
    border-bottom: thin solid $ui-background
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding-right: 15px
    .ui-kit-button
      margin: 0
      padding: 5px 5px
      min-width: fit-content
  &__comment-list
    max-height: 250px
    overflow: auto
  &__comment-item
    border-top: thin solid $ui-background
    margin-left: 15px
    margin-right: 15px
    padding-top: 10px
    padding-bottom: 10px
    overflow-wrap: break-word
    &:first-child
      border-top: unset
    &_empty
      height: 100px
      display: flex
      justify-content: center
      align-items: center
      padding: 15px
      & p
        +uiFont
        @extend %text-500-14
        color: $ui-gray-dark
.comment-item__header
  display: flex
  flex-direction: row
  align-items: center
  gap: 10px
  &_avatar
    background-color: $ui-gray-dark
    border-radius: 10px
    width: 20px
    height: 20px
    object-fit: cover
  &_name
    +uiFont
    @extend %text-500-14
  &_date
    +uiFont
    @extend %text-500-12
    color: $ui-gray-dark
    margin-left: auto
.comment-item__text
  +uiFont
  @extend %text-400-14
  text-align: justify

.tooltip.popover .wrapper
  background: unset

.investments-table__header
  .ui-space-table__title
    display: flex
    flex: 1
    align-items: baseline
    justify-content: center
    &::before
      content: " "
      margin-right: auto
    .table-header__tooltip
      margin-left: auto


