.rating__msa
  &__send
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    margin: 25px 0px
    +media(800px)
      justify-content: flex-start
    +media(400px)
      justify-content: center
    &-text
      @extend %text-700-16
      margin-top: 5px
      margin-right: 15px
    &-field
      margin-right: 15px
      &:last-child
        margin-right: 30px
    &-btn
      min-width: 180px
      align-self: flex-end
      +media(1000px)
        margin-top: 15px
        align-self: flex-start
    &-input
      max-width: 110px
  & .select, & .search__main
    min-height: 50px
    border-color: transparent
  & .search__main 
    width: 100%
  &-header
    display: flex
    justify-content: space-between
    margin-top: 15px
    margin-bottom: 30px
    margin-left: auto
    margin-right: auto
    +media(850px)
      flex-wrap: wrap
      justify-content: center
      &__actions
        margin: 5px
        min-width: 200px
        width: 200px
    +media(550px)
      width: 300px
      min-width: 300px
      &__actions
        margin-bottom: 5px
    &__actions
      height: 53px
      &__btn
        height: 40px
  &-table
    // overflow-x: auto
    &__row
      display: flex
      justify-content: space-between
      align-items: center
      margin: 2px 0px
    &__col
      @extend %text-400-14
      display: flex
      align-items: center
      justify-content: flex-start
      width: calc( (100% - 200px ) / 4)
      padding: 15px 20px 20px 10px
      border-left: 1px solid $border-color
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      min-width: 150px
      background-color: white
      &:first-child
        border-left-color: transparent
        width: 200px
        padding: 15px 20px 20px 30px
        border-radius: 4px 0px 0px 4px
      &:last-child
        border-radius: 0px 4px 4px 0px
      &-header
        @extend %text-500-14
        display: flex
        align-items: center
        justify-content: center
        height: 25px
        width: calc( (100% - 250px ) / 4)
        min-width: 150px
        color: #2B2D34
        background-color: #FAFBFE
        transform: translateX( -5px)
        border-radius: 4px 4px 0px 0px
        &:first-child
          width: 200px
          transform: translateX(0px)
        & .form-item__block
          background-color: transparent
        & .select
          min-height: 25px
          background-color: transparent
        & svg
          width: 10px
          fill: black
    &__body

    &__header >  &__col
      border-left-color: transparent
      background-color: transparent
      &:first-child
        padding-left: 60px
  &-text
    @extend %text-400-14
    &-success
      color: $color-success
  &__user
    display: flex
    flex-flow: column
    &-user
      display: flex
      flex-flow: column
      justify-content: flex-start
      align-items: flex-start
      &__name
        @extend %text-700-16
      &__data
        @extend %text-400-14
    &-info
      width: 100%
      display: flex
      flex-flow: column
      justify-content: flex-start
      align-items: flex-start
      padding: 20px
      background-color: white
      border-radius: 4px
      &-business
        display: flex
        flex-flow: row
        align-items: center
        justify-content: space-between
        width: 100%
        margin-left: 20px
        +media()
      &-achivki
        display: flex
        flex-flow: column
        align-items: center
        width: 100%
        height: 24px
        margin-top: 15px
        position: relative
        &-icons
          display: flex
          align-items: center
          justify-content: space-between
          width: 100%
          height: 100%
          z-index: 1
        &-icon
          & svg
            width: 24px
            height: 24px
        &-line
          position: absolute
          width: 100%
          height: 6px
          left: 0px
          top: 50%
          transform: translateY(-50%)
          background-color: #EFF1F8
          z-index: 0
          &-active
            position: absolute
            height: 6px
            width: 0%
            background-color: #6979F8
            border-radius: 4px



      &-col
        display: flex
        flex-flow: row
        width: 100%
        border-bottom: 1px solid $border-color
        padding-bottom: 20px

      &-data
        display: flex
        flex-flow: row
        min-width: 215px
        border-right: 1px solid #DFE0EB
      &-business
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: space-between
        +media( 640px)
          justify-content: center
          flex-flow: column
        &__card
          display: flex
          flex-flow: column
          align-items: flex-start
          justify-content: flex-start
          padding: 14px
          border-radius: 4px
          background-color: #F7F8FC
          width: 150px
          margin: 5px
          &-title
            @extend %text-500-12
            margin-bottom: 2px
          &-text
            @extend %text-400-14
          &-img
            width: 110px
            height: 80px
    &-diagrams
      width: 100%
      display: flex
      align-items: flex-end
      justify-content: space-between
      overflow-x: auto
      padding: 10px 0px
      &__footer
        display: flex
        align-items: center
        justify-content: flex-start
        margin-top: 20px
    &-table
      width: 100%
      overflow-x: auto
      overflow-y: hidden
      margin-top: 25px
      &__row
        width: 100%
        display: inline-flex
        margin: 1px 0px
        background-color: white
        border-radius: 4px
        &-header
          display: inline-flex
          width: 100%
          height: 25px
          margin: 1px 0px

      &__col
        @extend %text-400-14
        width: calc( (100vW - 200px) / 12)
        min-width: 50px
        min-height: 50px
        padding: 0
        border-right: 1px solid #EFF1F8
        &:first-child
          width: 200px
        &-header
          display: flex
          justify-content: center
          align-items: flex-end
          width: calc( (100vW - 200px) / 12)
          min-width: 50px
          height: 25px
          padding: 0
          border-radius: 4px 4px 0px 0px
          &-text
            @extend %text-500-14
            display: flex
            align-items: flex-end
            justify-content: center
            background-color:  #FAFBFE
            border-radius: 4px 4px 0px 0px
            width: 95%
            height: 20px
            border-radius: 4px 4px 0px 0px
            color: #2B2D34

          &:first-child
            width: 200px
            background-color: transparent
          &:last-child
            padding: 0px
  &__select 
    max-width: 280px
    margin-top: 10px

  &-modal
    &__field-list
      text-align: left
      display: flex
      justify-content: space-between
      & > * + *
        margin-left: 10px
    &__footer
      width: 100%
      display: flex
      justify-content: center
    