.rating
  +uiFont
  &-header
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    margin: 0 -8px

    & > *
      margin: 8px
    &__item
      width: auto
      flex: 0
      &.-s-
        min-width: 128px
      &.-m-
        min-width: 180px
      &.-l-
        min-width: 220px
      &.member-count
        @extend %text-500-14
        flex: 1
        text-align: end

    &__icon
      +size(13px)
    &__block
      display: flex
      align-items: center
      justify-content: space-between
      flex-wrap: wrap
      margin: 0
      & > *
        margin: 8px

    +media(480px)
      margin: 0
      flex-direction: column
      align-items: flex-start
      &__block
        width: 100%
        flex-direction: column
        align-items: flex-start
      &__item
        margin: 8px 0
        width: 100%

  &-body
    margin-top: 20px
    display: flex
    flex-direction: column
    flex-grow: 1
  &-icon
    &.-calendar-
      +size(14px)
      fill: $ui-gray-dark-less

  &-user
    +uiFont
    &__title
      @extend %text-700-16

    &__block
      & + &
        margin-top: 15px
    &__row
      display: flex
      justify-content: space-between
      flex-wrap: wrap

    &-info
      padding: 20px
      display: flex
      flex-direction: column
      background: $ui-white
      border-radius: 4px

      &__row
        display: flex
        +media(640px)
          flex-direction: column


      &-profile
        display: flex
        width: 100%
        max-width: 300px
        padding-right: 20px

        &__img
          margin-right: 20px
          +size(80px)
          background: $ui-background
          flex-shrink: 0
          border-radius: 4px

          background-origin: border-box
          background-position: center
          background-repeat: no-repeat
          background-size: cover
        &__field-list
          display: flex
          flex-direction: column
          flex-grow: 1
          overflow: hidden

        &__field
          text-overflow: ellipsis
          overflow: inherit
          @extend %text-400-14
          & + &
            margin-top: 10px

          &.-title-
            @extend %text-700-16

          .phone__text-number
            @extend %text-400-14
      &-stats
        display: flex
        flex: 1
        padding-left: 20px
        border-left: 1px solid $ui-border
        +media(640px)
          flex-direction: column
          padding-left: 0
          border-left: unset
          padding-top: 20px
          margin-top: 20px
          border-top: 1px solid  $ui-border


        &__input-list
          flex: 1
          display: grid
          grid-template-columns: repeat(auto-fill, 160px)
          grid-auto-rows: 51px
          grid-gap: 10px 15px

        &__input
          min-width: unset

        &__img
          margin-left: 20px
          height: 80px
          width: 110px
          background: $ui-background
          border-radius: 4px

          background-origin: border-box
          background-position: center
          background-repeat: no-repeat
          background-size: cover

      &-progress
        margin-top: 15px
        padding-top: 15px
        border-top: 1px solid $ui-border
        width: 100%
        display: flex
        align-items: center

        &__achievement-list

    &-chart
      margin-top: 10px

      &__header

      &__body
        margin-top: 15px

    &-table
      .ui-space-table__container
        width: 1400px

  &-card-list-dropdown
    padding-bottom: 20px

    &__list
      display: grid
      grid-template-columns: repeat(4, 1fr)
      grid-gap: 20px
      +media(1200px)
        grid-template-columns: repeat(3, 1fr)
      +media(960px)
        grid-template-columns: repeat(auto-fit, minmax(189px, 1fr))

    &__item
      position: relative
      display: flex
      align-items: center
      padding: 15px
      background: $ui-white
      border-radius: 8px
      justify-content: space-between
      &.-l-
        width: 360px

    &__content

    &__icon
      +size(50px)
      flex-shrink: 0
      margin-right: 10px

    &__title
      @extend %text-400-14
      line-height: 20px
      margin-bottom: 6px

    &__value
      @extend %text-500-20
      line-height: 28px

    &__arrow
      +size(12px, 8px)
      cursor: pointer
      vertical-align: middle
      margin-left: 10px
      margin-bottom: 4px
      transition: fill .3s, transform .3s, -webkit-transform .3s
      &.-rotate-
        transform: rotate(180deg)

    &__opener
      margin-top: 15px
      transition: fill .3s, transform .3s, -webkit-transform .3s
      background: $ui-white
      border-radius: 8px
      box-shadow: 3px 8px 14px 0px #3040C20D

    &__opener-helper
      position: absolute
      background: $ui-white
      width: inherit
      height: 30px
      left: 0
      bottom: -20px

    &__opener-table
      padding: 20px
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 20px

    &__opener-item
      &:first-child
        border-right: 1px solid #EFF1F8

    &__opener-text
      @extend %text-400-14
      line-height: 20px
      margin-bottom: 6px
      & b
        @extend %text-500-14


  &-card-list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 16px
    +media(1200px)
      grid-template-columns: repeat(3, 1fr)
    +media(960px)
      grid-template-columns: repeat(auto-fit, minmax(189px, 1fr))
    &.-margin-m-
      margin-bottom: 30px
    &__item
      display: flex
      align-items: center
      padding: 15px
      background: $ui-white
      border-radius: 4px

    &__icon
      +size(28px)
      flex-shrink: 0
      margin-right: 10px

    &__content

    &__title
      @extend %text-400-18

    &__description
      @extend %text-500-12
      color: $ui-gray-middle

  &-tooltip
    display: flex
    position: relative
    align-self: center
    justify-content: flex-end

    // &:hover
    //   .rating-tooltip__popup
    //     display: flex


    &__icon
      +size(14px)
      fill: $ui-light-grey-low-contrast
      cursor: pointer
      transition: .3s
      &.-active-
        fill: $ui-blue-accident

    &__popup
      @extend %text-400-14
      position: absolute
      top: calc(100% + 5px)

      padding: 10px 20px
      max-width: 546px
      width: max-content
      box-shadow: 0px 4px 10px rgba(43, 45, 52, 0.12)
      background: $ui-white
      border-radius: 4px
      z-index: 1
      +media(640px)
        max-width: calc(100vw - 40px)
      &-left
        right: calc(100% + 10px)
      &-right
        left: calc(100% + 10px)
    &__message
      +uiFont
      @extend %text-400-14
      padding: 10px 20px
      box-shadow: 0 4px 10px rgba(43, 45, 52, 0.12)
      background: $ui-white
      border-radius: 4px

    &__close
      cursor: pointer
      position: absolute
      top: 0
      left: calc(100% + 5px)
      +size(14px)
      fill: $ui-red
  &-avatar
    position: relative
    margin-right: 15px
    +size(36px)
    border-radius: 50%
    flex-shrink: 0
    flex-grow: 0

    &__img
      position: absolute
      min-width: 100%
      min-height: 100%
      border-radius: 50%
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
    &__img-icon
      position: absolute
      +size(14px)
      bottom: 0
      right: -2px

  &-table-profile
    &__info
      display: flex
      flex-direction: column
    &__subtitle
      @extend %text-500-12
      color: $ui-light-grey-4-5-contrast

  &-team-dropdown
    width: 100%

    &__row
      min-height: 38px
      border-radius: 4px
      padding: 11px 0
      background: $main-bg
      transition: background .3s
      border-bottom: 1px solid $ui-background
      cursor: pointer
      &.-loading-
        height: 37px
    &__icon
      margin-left: 11px
      height: 6px
      width: 10px
      fill: $main-accent-second-color
      transition: transform .3s, fill .3s
      flex-shrink: 0
      &.-active-
        transform: rotate(180deg)

    &__table
      display: grid
      grid-template-columns: 4fr 1fr 1fr
      &-item
        @extend %text-500-12
        display: flex
        padding: 0 15px
        justify-content: center
        align-items: center
        color: $ui-light-grey-4-5-contrast
        &.-controll-
          justify-content: flex-start
          @extend %text-600-12
          color: $ui-black
    &__loader-wrap
      height: 100%
      padding: 0 15px
    &__loader
      width: 100%
      height: 100%

  &-chart-list
    margin-bottom: 40px

    &__list
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 16px

  &-chart-with-table
    padding: 20px
    background: $ui-white
    &__chart
      display: flex
      margin-bottom: 44px

    &__title
      @extend %text-500-14
      margin-bottom: 16px

    &__columns-table
      height: 105px
      width: 100%

    &__columns, &__labels
      width: 100%
      display: grid
      grid-template-columns: repeat(6, 1fr)
      grid-gap: 16px
      justify-items: center

    &__columns
      height: 100%

    &__labels
      padding: 8px 0
      border-top: 1px solid $border-color

    &__left-bar
      height: 105px
      width: 70px
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: space-between
      border-right: 1px solid $border-color
      padding-right: 4px

    &__percent
      @extend %text-500-12
      color: $ui-gray-middle

    &__label-text
      @extend %text-500-12
      color: $ui-gray-middle

    &__col-background
      position: relative
      height: 100%
      width: 32px
      border-radius: 8px
      background: #EEF0FF

    &__col
      position: absolute
      bottom: 0
      width: 100%
      height: 100%
      border-radius: 8px
      background: #91B3FA

    &__table-row
      display: flex
      border-radius: 4px
      background: $main-bg
      margin-bottom: 12px

      &.-active-
        background: #EEF0FF
        & .rating-chart-with-table__table-col, .rating-chart-with-table__table-row-title
          color: $ui-blue-accident

      &:last-child
        margin-bottom: 0

    &__table-data
      width: 100%
      display: grid
      grid-template-columns: repeat(6, 1fr)
      justify-items: center
      grid-gap: 16px

    &__table-col, &__table-row-title
      padding: 8px 0
      color: $ui-light-grey-4-5-contrast
      @extend %text-500-12

    &__table-row-title
      width: 70px
      padding-left: 10px

  &-speed-hundred-user-card
    border-radius: 8px
    background: #FFFFFF
    padding: 20px 24px
    margin-bottom: 10px

    &__table
      padding-top: 20px

    &__data
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 16px
      padding-bottom: 20px
      border-bottom: 1px solid $ui-border

    &__data-item
      border-right: 1px solid $ui-border

      &:last-child
        border-right: none

    &__data-icon
      width: 12px
      height: 12px
      margin-right: 6px

    &__data-text
      @extend %text-400-14
      color: $ui-black
      margin-bottom: 8px

      &.-grey-
        color: $ui-light-grey-4-5-contrast

      & b
        @extend %text-500-14

    &__data-button
      width: 136px
      height: 36px

    & .ui-space-table__text
      text-align: center

    & .ui-space-table__container
      min-width: unset
