@import '../utils/vars'
@import '../utils/mixins'
@import '../utils/functions'

html.scroll
  overflow: unset

.ui-kit-filter-select.-max-height-
  .ui-kit-filter-select__option
    max-height: 150px

.investment-reg
  display: flex
  align-items: center
  justify-content: center
  padding-top: 100px
  padding-bottom: 100px

  &__icon_btn
    height: 16px
    width: 16px
    margin-right: 10px
    path
      fill: $ui-blue-accident

  &__btn-icon.ui-kit-button
    p
      display: flex
      align-items: center
    &:hover
      path
        fill: $ui-white
    &:disabled
      path
        fill: $ui_gray-less

  &__card
    border-radius: 8px
    background-color: $ui-white
    padding: 40px

    &-icon_back
      height: 24px
      width: 24px
      cursor: pointer
      path
        stroke: $ui-light-grey-4-5-contrast

    &-body
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

    &-header
      +uiFont
      @extend %text-700-24
      text-align: center
      margin-bottom: 20px

    &-text
      +uiFont
      @extend %text-500-14
      color: $ui-light-grey-4-5-contrast
      text-align: center
      margin-bottom: 60px
      max-width: 600px
      &.tg-help
        margin-top: 20px
        margin-bottom: 0
        cursor: pointer
        &:hover
          text-decoration: underline

    &-form, .card-form__niche-block
      display: grid
      grid-column-gap: 20px
      grid-row-gap: 12px
      grid-template-columns: repeat(2, minmax(180px, 1fr))
      grid-auto-rows: auto
      +media(480px)
        grid-template-columns: 1fr
      & > .niche-header
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        .niche-header__text
          @extend %text-500-14
        .niche-header__icon
          height: 16px
          width: 16px
          cursor: pointer
          fill: $ui_gray-less
          &:hover
            fill: $ui-gray-dark
      & > .fill-row
        grid-column: 1 / -1
        &.text
          +uiFont
          @extend %text-400-14
          text-align: justify
          max-width: 500px
        .fill-row.text
          +uiFont
          @extend %text-400-14
          text-align: justify
          max-width: 500px
      .radio-set
        display: flex
        gap: 10px
      .ui-kit-input, .ui-kit-filter-select, .ui-kit-textarea
        min-width: 180px
        background-color: $ui-background

    .questionnaire__title
      @extend %text-700-24
    .questionnaire-content-list__item-name
      @extend %text-500-14
  &__tg-download
    +uiFont
    &.tg-steps__list
      width: 80%
    .questionnaire__description.-xl-
      @extend %text-400-14
      color: $ui-black
    .questionnaire-content
      &__title
        @extend %text-500-14
      &-list
        max-width: 650px
        &__item-name span
          @extend %text-400-14
  &__tg-help
    +uiFont

