.settings

	&__top
		display: flex
		align-items: center
		justify-content: space-between

	&__block
		position: relative
		padding: 15px 30px 15px 20px
		+media(640px)
			padding: 15px 20px 15px 20px

	&__body
		margin-top: 20px
		display: flex
		flex-wrap: wrap

	&-user
		margin-top: 20px
		+media(640px)
			padding-right: 10px

	&__options
		position: absolute
		top: 15px
		right: 7px

	&__list
		flex: 1 0 50%

		> * + *
			margin-top: 5px
		
		&:not(:first-child)
			border-left: 1px solid $border-color
			padding-left: 20px
			+media(480px)
				border: none
				padding-left: 0

		&:nth-child(2n-1)
			padding-right: 10px
			+media(480px)
				padding-right: 0

		+media(480px)
			flex: 1 0 100%
			&:not(:first-child)
				margin-top: 6px

	&__item

	&__content

		> * + *
			margin-top: 10px

	&__title
		margin-bottom: 10px

	&__descr
		@extend %text-600-12

	&__exit
		display: flex
		align-items: center
		cursor: pointer
		height: 31px // для того, чтобы заголовок не скакал при редактировании

		> * + *
			margin-left: 10px

		&-text
			@extend %text-400-12
			color: $main-accent-color
		
		&-icon
			+size(16px)
			fill: $main-accent-color

	&__


.settings-user
	display: flex

	&__img
		+size(44px)
		min-width: 44px
		border-radius: 50%
		overflow: hidden
		margin-right: 15px
		flex-shrink: 0
		background-color: $main-accent-color
		background-size: cover
		background-position: center center
		display: flex
		justify-content: center
		align-items: center

		&-edit
			flex-shrink: 0
			margin-right: 30px
	
	&__photo
		max-width: 100%

	&__info

		&-edit
			flex-grow: 1

			> *
				flex-grow: 1

	&__socials
		margin-left: auto

	+media(960px)
		.form-item__photo-icon
			opacity: .7


	&__

	&__

	&__


.settings-edit

	&__body

	&__list
		display: flex
		flex-wrap: wrap
		margin: -10px -5px 0
		flex-grow: 1

		&.-max-
			width: 100%

	&__item
		width: 50%
		margin-top: 10px
		padding: 0 5px
		+media(480px)
			width: 100%

		&.-max-
			width: 100%

		&.-min-
			width: 33%
			flex-grow: 0.5
			+media(480px)
				width: 100%
				flex-grow: 1

	&__title
		@extend %text-700-15
		color: $text-extra-color
		margin-bottom: 15px

	&__block
		margin-top: 15px
		width: 48%
		flex-grow: 1

		&:not(:first-of-type)
			margin-left: 20px

	&__controls
		margin-top: 20px
		display: flex
		align-items: center
		& * + *
			margin-left: 15px

// Редизайн

.profile-edit
	max-width: 900px
	width: 100%
	margin: 0 auto
	position: relative
	display: flex
	flex-direction: column
	align-items: center

	&__slider,
	&__container
		width: 100%
		//Возможен баг, при котором слайды выстраиваются в столбик
		.swiper-wrapper
			flex-direction: row !important


	&__container
		&.-password-
			padding-top: 145px

	&__row
		display: flex
		flex-wrap: wrap

		&.-password-
			padding-top: 160px
			+media(640px)
				padding-top: 60px

	&__col
		display: flex
		flex-direction: column
		width: 50%
		padding: 0 10px
		min-width: 300px
		flex-grow: 1
		
	&__field
		padding: 6px 0

	&__input
		display: flex

	&__pagination
		display: flex
		justify-content: center

		.swiper-pagination-bullet
			background: $ui-gray-less
			opacity: 1
			margin: 6px 3px 

		.swiper-pagination-bullet-active
			background: $ui-white
	
	&__control 
		display: flex
		flex-wrap: wrap
		justify-content: center

	&__button
		margin: 10px 0
		&-icon
			+size(13px)
			margin-right: 12px
		&.-outside-
			margin: 15px 0
			position: absolute
			z-index: 1
			top: 0
			right: 0
			+media(640px)
				position: static


.user-icon
	display: flex
	flex-direction: column
	align-items: center
	margin-bottom: 25px

	&__img
		display: flex
		align-items: center
		justify-content: center
		position: relative
		height: 74px
		width: 74px
		border-radius: 50%
		background-position: center
		background-size: cover

		&.-no-img-
			background-color: #CDBAFA
				
	&__unknown
		height: 56%
		fill: #FFF


	&__file
		margin-top: 9px
