
.user-team
  display: flex
  flex-direction: column
  flex-grow: 1

  &__progress 
    width: 14px
    height: 14px
    min-width: 14px
    border-radius: 50%
    border-top: 2px solid #B8B8BE
    border-left: 2px solid #B8B8BE
    border-bottom: 2px solid transparent
    border-right: 2px solid transparent
    transform: rotate(45deg)
    animation: progress .3s linear infinite
    transform-origin: 50% 50%

  &-icon-search

    path
      stroke: $ui-black

  &-input
    max-width: 200px

  &-select
    &.-m-
      width: 190px
      min-width: unset
  
  &-header
    display: flex
    align-items: center
    flex-wrap: wrap
    margin: 0 -15px 20px

    &.-between-
      justify-content: space-between

    & > *
      margin: 5px 15px

    &__block
      margin: 5px 5px
      display: flex
      flex-grow: 1
      flex-wrap: wrap

      & > *
        margin: 5px 10px

  &-body
    margin-bottom: 26px
    flex-grow: 1
    display: flex
    flex-direction: column

    &__scroll
      overflow: auto
      display: flex
      flex-direction: column


    &__limiter
      display: flex
      flex-direction: column
      min-width: 1100px
      &.-s-
        min-width: unset

  &-table
    display: grid

    &:last-child
      .user-team-table__cell
        .user-team__wrapper
          .user-team__prompt
            bottom: auto
            top: 0
            transform: translateY(-100%)

    &__cell
      background: $ui-gray-light
      overflow: hidden
      padding: 7px 15px
 
      &.-header-
        @extend %text-500-14
        display: flex
        justify-content: center
        padding: 6px 10px
        background: $ui-gray-light
        color: $ui-light-grey-4-5-contrast
        border: 1px solid $ui-background
        border-left: none
        border-radius: 4px

        &:last-child
          border-right: none
      &.-center-
        align-items: center
        justify-content: center
        text-align: center

      &.-body-
        @extend %text-400-14
        display: flex
        align-items: center
        justify-content: center
        color: $ui-black
        border-bottom: 1px solid $ui-background
  
    &__head
      padding: 7px 15px
      display: flex
      background-color: $ui-white
      border-radius: 4px

    &__link
      color: $ui-black
      text-decoration: unset
      
      overflow: hidden
      text-overflow: ellipsis
      cursor: pointer
      transition: color .1s
      &:hover
        color: $ui-blue-accident

  &__icon-wrapper
    display: flex
    font-size: 0
    justify-content: flex-end !important

    & > *
      margin: 0 5px

    &.-group-
      width: 70px
      margin-right: -10px
    &.-center-
      justify-content: center !important

    // > * + *
    //   margin-left: 14px

  &__icon
    +size(14px)
    flex-grow: 0
    flex-shrink: 0
    fill: $ui-gray-dark
    transition: fill $main-transitions ease

    &--hover

      &-warning
        cursor: pointer
        &:hover,
        &.-active-
          fill: $ui-yellow

      &-danger
        cursor: pointer
        &:hover,
        &.-active-
          fill: $ui-red

      &-accent
        cursor: pointer
        &:hover,
        &.-active-
          fill: $ui-blue-accident
    &-access
      cursor: pointer
      &.-active-
        fill: $ui-success
    
  &__skeleton-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $ui-white
    border-radius: 4px
    padding: 14px 25px
    border-bottom: 1px solid $ui-background
  
  &__skeleton

    &:not(:first-child)
      margin-left: 10px
  
  &-person
    display: flex
    align-items: center
    width: 100%

    > * + *
      margin-left: 15px

    &__img-wrapper
      +size(36px)
      flex-shrink: 0
      position: relative
      border-radius: 50%
      // overflow: hidden
    
    &__img
      position: absolute
      min-width: 100%
      min-height: 100%
      border-radius: 50%
      +cxy

    &__img-icon
      position: absolute
      +size(14px)
      bottom: -2px
      right: -2px

    &__info
    
    &__name
      position: relative
      display: inline-block
      @extend %text-400-14
      &.-icon-
        padding-right: 10px

    &__icon
      position: absolute
      top: 3px
      left: 100%
      // margin-left: 7px
      +size(12px)
      fill: $ui-gray-less
      +media(640px)
        top: 1px
    
    &__city
      @extend %text-500-12
    

  
  &-full-select
    margin-bottom: 10px
    flex-grow: 1
    display: flex
    flex-direction: column
    &__title
      @extend %text-500-14
      margin-bottom: 14px

    &__option-wrap
      flex-grow: 1
      margin-top: 24px
      height: 200px
      overflow: auto
    
    &__option
      display: grid
      grid-auto-rows: minmax(50px, auto)
      grid-gap: 10px

    &-card
      $card: &
      min-width: 50px
      display: flex
      flex-direction: column
      justify-content: space-between
      padding: 7px 14px
      border-radius: 4px
      background: $ui-white
      transition: background .2s
      cursor: pointer
      &__title
        @extend %text-500-12
        display: flex
        justify-content: space-between
        color: $ui-light-grey-4-5-contrast
        transition: color .2s
      &__value
        @extend %text-500-14
        display: flex
        justify-content: space-between
        transition: color .2s

      &.-active-
        background: $ui-blue-accident
        #{$card}__title,
        #{$card}__value
          color: $ui-white
  &-plug
    height: 100%
    width: 100%
    padding: 20px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background: $main-bg
    border-radius: 4px
    &__img
      // такая вот картинка
      margin-top: -50px
      max-width: 100%
    &__message
      width: 100%
      max-width: 550px
      display: flex
      flex-direction: column
      align-items: center
      
      color: $ui-light-grey-4-5-contrast
      text-align: center

    &__title
      @extend %text-700-20

      display: flex
      margin-bottom: 15px

    &__subtitle
      @extend %text-500-14

      display: flex

        


.dropdown-row

  &__row
    border-radius: 4px
    padding: 11px 25px
    background: $ui-white
    transition: background .3s
    border-bottom: 1px solid $ui-background
    cursor: pointer

    &.-active-,
    &.-gray-
      background: $main-bg

      .dropdown-row__title--size-xl
        color: $ui-blue-accident
    

  &__icon
    margin-left: 11px
    height: 7px
    width: 14px
    stroke: $ui-dark-blue
    transition: transform .3s

    &.-active-
      transform: rotate(180deg)

  &__header
    display: flex
    align-items: center
    justify-content: space-between
    position: relative

    &.-center-
      display: flex
      justify-content: center

    &-controll
      display: flex
      align-items: center
      &.-full-
        width: 100%
    
    &-buttons
      display: flex

      > * + *
        margin-left: 10px
    
  &-card
    display: flex
  
  &__title
    color: $text-color
    transition: color $main-transitions ease
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    max-width: 44%

    &--size-xl
      @extend %text-700-16

    &--size-l
      @extend %text-600-12

    &--size-md
      @extend %text-500-14
  
  &__count
    @extend %text-400-14

    &.-absolute-
      position: absolute
      +cxy

  @keyframes progress
    0%
      transform: rotate(45deg)
    100%
      transform: rotate(405deg) 