.traction__map
    &-header
        display: flex
        align-items: center
        justify-content: space-between
        margin: 30px

        &__header 
            padding: 30px
            & button
                min-width: 200px
        &__body
            padding-bottom: 15px
            & .table__col
                padding: 0
    &-percents
        position: absolute
        top: 0
        right: 0
        height: 90%
        display: flex
        flex-flow: column
        justify-content: space-between
        & .percents
            position: relative
    &-empty
        position: relative
    
    &-body
        position: relative
        margin-top: 10px
    
    &-block
        border-radius: 8px
        overflow: hidden
        border: 1px solid $border-color
        border-top: none
        margin-bottom: 10px
        min-width: 850px
    &-input
        @extend %text-500-12
        border: none
        margin: 0px 10px
        padding: 0px 5px
        min-height: 20px !important
        & ~ .form-item__delete
            right:  -5px
        &-search
            display: flex
            flex-direction: column
            background-color: white
            max-width: 250px
            min-width: 150px
            width: 100%
            min-height: 50px    
            cursor: pointer
            & .analytics__speed-select__value
                padding:  8px 15px
        &__icon
            padding-left: 10px
        &__grey
            @extend %text-500-12
            border: none
            margin: 0px 5px
            
            background-color: $neutral-light-color
    
    &-col
        width: calc(100% / 10)
        min-width: 100px
        &:first-child
            min-width: 150px
        & .teams-report__text
            justify-content: flex-start
    
    &-row
        &:last-child
            border-bottom: 1px solid $border-color

    &-table
        border-bottom: 1px solid $border-color
        &:last-child
            border-bottom: none
        &__block
            // border: 1px solid $border-color
            border-top-color: transparent
        & .table__body
            margin-top: 0px
            overflow: visible
        &__col
            width: calc(100% / 8)
            min-width: 100px
            &:first-child
                min-width: 150px
            +media( 900px )
                &:first-child
                    width: 100px
    
    &-info
        background-color: white
        &__header
            display: flex
            justify-content: space-between
            align-items: center
            padding: 10px 20px
            background-color: $main-accent-color
            border-bottom: 1px solid $border-color
        &__user
            display: flex
            align-items: center
            &-block
                display: flex
                flex-direction: column
                &__item
                    display: flex
                    flex-direction: row
        &__text
            @extend %text-600-12
            margin-left: 5px
            &-blue
                color: $main-accent-color
            &-grey
                color: $text-extra-color
            &-white
                color: white
        &__city
            @extend %text-600-12
        &__niche
            @extend %text-600-12
        &__title
            @extend  %text-600-14

        &__body
            position: relative
            display: flex
            justify-content: space-between
            padding: 5px 0px
            background-color: white

            &-left
                display: flex
                flex-direction: column
            &-right
                display: flex
                flex-direction: column
                align-items: flex-end
                padding-right: 20px
            & > *
                margin: 5px 0px
            
    &-left
        margin-left: calc(20% - 50px)

    &-svg
        width: 14px
        height: 14px
        min-width: 14px
        min-height: 14px
        margin-right: 10px
        cursor: pointer
        &-container
            display: flex
            align-items: center
            justify-content: center
            width: 24px
            height: 24px
            border-radius: 100%
            background-color: white
            &__link
                margin: 0px 5px 0px 20px
        &-link
            fill: $main-accent-color
            min-width: 18px
            min-height: 18px
            margin: auto
        &-inline
            fill: $main-accent-color
            margin: auto
        &-blue
            fill: $main-accent-color
        &-white
            fill: rgb(255,255,255)
        &-edit
            fill: rgb(255,255,255)
            margin-left: 10px
        &__search
            height: 15px
            left: 0px
            position: absolute
            top: 50%
            transform: translateY(-50%)
            z-index: 1
        &.-opened-
            transform: rotate(180deg)
            transition-duration: .3s
    
    &-label
        @extend  %text-600-12
        color: black
        margin: 10px 0px
        padding-left: 20px

    &-links
        display: flex
        align-items: center
        margin-left: 10px
    
    &-connect
        display: flex
        align-items: center
    
    &-text
        @extend %text-600-12
        color: $main-color
        margin-left: 5px
        padding: 5px
        
        &:first-child
            padding-left: 20px
        &__grey
            @extend %text-600-12
            color: $text-extra-color
        &__black
            @extend %text-600-12
            color: black
        &__orange
            @extend %text-600-12
            border-radius: 2px
            background-color: #F39200
            color: white
        &__blue
            @extend %text-600-12
            border-radius: 2px
            background-color: #3040C2
            color: white
        &__light
            @extend %text-600-12
            border-radius: 2px
            background-color: #EFF1F8
            color: #B8B8BE
        &__head
            @extend %text-500-14
            width: 100%
            color: $text-color
            text-align: center

    &-title
        @extend %text-600-14
        color: $main-accent-second-color
        margin-right: 10px
    
    &-main
        margin-top: 35px
        overflow-x: auto
        
    &-captain
        color: white
        // background-color: white
        width: 100%
        & .traction__map-info__header
            background-color: #3040C2

            & .traction__map-title
                @extend %text-600-15
                color: white
                
            & .traction__map-text__grey
                color: white
            
            & .traction__map-text
                color: white
    
    &-team
        position: relative
        background-color: #EEEEF8
        min-height: 40px
        width: 100%
        &__header
            position: absolute
            display: flex
            cursor: pointer
            height: 100%
            align-items: center
            & svg
                fill: $main-accent-second-color
                margin: 0
                margin-left: 10px
        &:last-child
            & .traction__map-row
                &:last-child
                    border-bottom: none
