.users-groups
  font-family: $secondary-fonts
  .-folder-select-
    .select__field
      padding: 0
    .select__text
      padding: 5px 15px
      @extend %text-500-12
      cursor: pointer
      color: $text-extra-color
      &:hover
        color: darken($text-extra-color, 15%)
  &-popup
    .pop__up-container
      max-height: 300px
      overflow: auto

  &-users
    &-list
      max-height: 240px
      overflow-y: auto
      &::-webkit-scrollbar-track
        border-radius: 2px
        background-color: rgba(165, 175, 251, 0.3)

      &::-webkit-scrollbar
        width: 4px
        background-color: rgba(165, 175, 251, 0.3)

      &::-webkit-scrollbar-thumb
        border-radius: 2px
        background-color: rgba(165, 175, 251, 0.7)

      ul.table__row
        background: $main-bg
        transition: all .2s
        cursor: pointer
        &:hover
          background: darken($main-bg, 2%)
        .table__col
          width: calc(100% / 6)
          justify-content: flex-start
          &:nth-child(1)
            width: 22%
          &:nth-child(2)
            width: 10%
          &:nth-child(3)
            width: 19%
          &:nth-child(5)
            width: 10%
          &:nth-child(6)
            width: 18%
        .-empty-niche-
          color: $text-extra-color

.-users-group-table-
  .table
    &__body
      width: 100%
    &__col
      &:nth-child(1)
        width: 50%
      &:nth-child(2)
        width: 15%
      &:nth-child(3)
        width: 35%
        justify-content: flex-end
    .select__icon
      fill: $main-accent-second-color

  .-group-row-
    background: $neutral-light-color
    .-group-name-col-
      cursor: pointer

  .-folder-row-
    .-folder-name-
      @extend %text-500-14

  .options
    &__dots
      top: 0
    &__field
      white-space: nowrap
    &__confirm
      white-space: initial

  .table__actions
    svg
      width: 16px
      height: 16px
      fill: $border-color
    .button-transparent
      margin-right: 40px
      display: flex
      justify-content: center
      align-items: center
      svg
        fill: $main-accent-color

  .-controls-
    display: flex
    justify-content: flex-end



.-users-group-users-table-
  $users-cols: 9
  $users-last-col-width: 5%
  .table
    &__nav
      padding-bottom: 10px
    &__body
      width: 100%
      &-block
        min-width: 1000px
    &__col
      width: (100% - $users-last-col-width) / ($users-cols - 1)

      &:last-child
        width: $users-last-col-width

    &__text
      padding-right: 5px

  .options
    &__dots
      top: 0
    &__confirm
      white-space: initial

  .-controls-
    display: flex
    justify-content: flex-end

.-users-table-
  $users-cols: 10
  color: $text-color
  .-overflow-
    max-width: calc(100% - 20px)
    +dotdotdot
  .-groups-col-
    padding-top: 2px
    padding-bottom: 2px
    flex-direction: row
    align-items: center
    justify-content: center
  &text
    @extend %text-500-14
    letter-spacing: -.3px
  &__button
    min-width: 48px
    max-height: 24px
    padding: 4px 5px
  .table
    &__nav
      padding-bottom: 10px
    &__body
      width: 100%
      overflow-x: auto
      &-content
        min-width: 1250px
    &__col
      width: calc(100% / #{$users-cols})
  .-controls-
    display: flex
    justify-content: flex-end

.-motion-calculator-table-
  .table
    &__col
      width: 130px;
      flex-shrink: 0;
      &:last-child
        padding-right: 0;
      &--m
        width: 200px;
    &__row
      width: max-content;
    &__text
      @extend %text-400-13
    &__input
      width: 90%;
  .form-item__input
    min-height: 31px
