.validating
    position: relative
    &-header
        position: relative
        margin-bottom: 20px
        & h2
            color: $main-accent-color
            padding: 15px 0px
        &__name
            @extend %text-600-18
            color: $text-dark-color
        &__actions
            display: flex
            flex-flow: row
            justify-content: flex-start
            align-items: center
    &-button__groups
        display: inherit
        cursor: pointer
        user-select: none
        width: 100%
        justify-content: flex-end
        align-items: center
        flex-flow: row wrap
        &-btn
            @extend %text-500-14
            display: inherit
            width: 140px
            height: 30px
            align-items: center
            justify-content: center
            margin: 5px 0px 5px 10px
            background-color: #FFFFFF
            border-radius: 6px
            color: $main-accent-color
            &:hover
                background-color: $main-accent-third-color

        &-valid__btn
            height: 30px
            width: 140px
            margin: 5px 0px 5px 10px
            padding: 0
    &-body
        position: relative
        display: flex
        flex-flow: row wrap
        justify-content: space-between
    &-card
        width: calc(50% - 10px)
        height: 155px
        position: relative
        margin-bottom: 10px
        padding: 15px 15px 15px 20px
        border: 1px solid $border-color
        border-radius: 8px
        &__header
            display: flex
            margin-bottom: 15px
            &-info
                display: inherit
                flex-flow: column
                justify-content: space-between
            &-image
                margin-right: 15px
            &-name
                @extend %text-600-14
                color: $text-dark-color
            &-specialty
                @extend %text-500-13
                color: $text-extra-color
        &__body
            margin-bottom: 15px
            &-text
                @extend %text-500-12
                color: black
        &-option
                position: absolute
                top: 15px
                right: 8px
        &__footer
            display: flex
            justify-content: space-between
            align-items: center
            &-status
                position: relative
                cursor: pointer
            &-tooltip
                position: absolute
                width: 18px 
                height: 18px
                top: 0
                left: 0
            &-type
                +size(24px)
                position: relative

                &:not(:last-child)
                    margin-right: 5px

@media screen and ( max-width: 650px )
    .validating-card
        width: 100%
