<template lang="pug">
  div(style="position: absolute;")
    UserInfoPopup(v-if="showUserInfoPopup")

</template>

<script>
  import {mapState} from 'vuex'

  import UserInfoPopup from './UserInfoPopup'

  export default {
    components: {
      UserInfoPopup
    },
    computed: {
      ...mapState('lms', {
        showFranchTypePopup: s => s.meta.showFranchTypePopup
      }),
      ...mapState('auth', {
        user: s => s.data.user,
        userInfoLoading: s => s.meta.loading,
      }),
      isInCourse() {
        return this.$route.meta.isCourse
      },
      showUserInfoPopup() {
        if (Object.keys(this.user).length && !this.userInfoLoading)
          return !this.user.name || !this.user.lastname || (this.user.isSpeedCourse && !this.user.patronymic) || !this.user.businessCategoryId
      }
    },
    watch: {
      user: {
        deep: true,
        handler(userData) {
          // franch game
          if (userData.franchGameAttendanceTypeId === '' && this.$route.path.includes('/franch'))
            this.$store.dispatch('lms/setMeta', {path: 'showFranchTypePopup', value: true})
        }
      },
      // isInCourse(curr, old){
      //   if(curr !== old && curr)
      //     this.$store.dispatch('coursesCourse/getCourse')
      // }
    },
  }
</script>