<template lang="pug">
  Header
    .rating-header__block
      UiNumberInput.rating-header__item.-s-(
        v-model="monthData.proceeds"
        title="Выручка"
        placeholder="Не изменять"
        :dotAmount="0"
        :differZero="true"
        :showEmpty="false"
        :allowMinus="true"
      )
      UiNumberInput.rating-header__item.-s-(
        v-model="monthData.profit"
        title="Прибыль"
        placeholder="Не изменять"
        :dotAmount="0"
        :differZero="true"
        :showEmpty="false"
        :allowMinus="true"
      )
      UiNumberInput.rating-header__item.-s-(
        v-model="monthData.nps"
        title="NPS"
        placeholder="Не изменять"
        :dotAmount="0"
        :differZero="true"
        :showEmpty="false"
        :allowMinus="true"
      )
      UiNumberInput.rating-header__item.-m-(
        v-model="monthData.points"
        title="Всего точек"
        placeholder="Не изменять"
        :dotAmount="0"
        :differZero="true"
        :showEmpty="false"
        :allowMinus="true"
      )
      UiButton.rating-header__item(
        @click="sendMonthData"
      ) Отправить
    //- .rating-header__block
    //-   UiButton.rating-header__item.-light-(
    //-     to="/rating/msa"
    //-   ) Рейтинг
</template>

<script>
import Header from '../../../components/Header'
import {mapState} from 'vuex'

export default {
  components: {
    Header,
  },
  data: ()=> ({
    monthData: {
      proceeds: '',
      profit: '',
      nps: '',
      points: '',
    },
  }),
  computed: {
    ...mapState('ratingMsaUser', {
      months: s => s.data.months,
    }),
  },
  methods: {
    getChanelId(id) {
      if (!this.monthData) return
      return this.months.find(month => month.channelId === id).id
    },
    async sendMonthData() {
      let data = [
        {
          id: this.getChanelId(0),
          profit: this.monthData.proceeds
        },
        {
          id: this.getChanelId(1),
          profit: this.monthData.profit
          },
        {
          id: this.getChanelId(2),
          profit: this.monthData.nps
          },
        {
          id: this.getChanelId(3),
          profit: this.monthData.points
          },
      ]
      let sendData = data.filter(({profit}) => profit !== "")
      let status = await this.$store.dispatch('ratingMsaUser/userEdit', sendData)
      if (status === 'success') {
        this.monthData.proceeds = '';
        this.monthData.profit = '';
        this.monthData.nps = '';
        this.monthData.points = '';
      }


    },
  }

}
</script>

<style>

</style>