<template lang="pug">
label.ui-kit-dropdown(
  ref="el"
  @click="openOption",
  v-click-outside="closeOption"
)
  UiInput.ui-kit-dropdown__case(
    v-model="input"
    :title="title"
    :placeholder="placeholder"
    :icon="icon"
    :status="getStatus"
    :popup="popup"
    @focus="onFocus"
    @blur="onBlur"
  )

  SlideUpDown.ui-kit-dropdown__option(
    @click="openOption"
    :active="isOpen"
    :duration="300"
    :tag="'span'"
    style="position: absolute"
    :style="{top: optionPosition.top + 'px', left: optionPosition.left + 'px', width: optionPosition.width + 'px'}"
    ref="option"
  )
    span.ui-kit-dropdown__option-list
      UiCheckbox.ui-kit-dropdown__option-item(
        v-for="item in filterOption"
        :key="item.id"
        :class="{'-active-': item.id == activeIndex}"
        @input="changeOption(item.id)"
        :value="isChange(item.id)"
        )
          span.ui-kit-dropdown__option-title {{item.title}}
</template>

<script>

import Popup from "../Popup"
import SlideUpDown from 'vue-slide-up-down'
import vClickOutside from 'v-click-outside'

export default {
  directives: {clickOutside: vClickOutside.directive},
  props: {
    value: {
      type: Array,
      required: true,
    },
    title: {
      type: String,
      default: 'Поиск'
    },
    placeholder: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: 'ui-search'
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    status: {
      type: String,
      default: ''
    },
    popup: {
      type: Object,
      default: () => ({
        msg: ''
      })
    },
    option: {
      type: Array,
      required: true
    },
    error: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      activeOption: [],
      activeIndex: null,
      isOpen: false,
      optionPosition: {
        top: '',
        left: '',
        width: ''
      },
      input:'',
      isFocus: false,
    }
  },
  components: {
    Popup,
    SlideUpDown
  },
  computed: {
    filterOption() {
      return this.indexOption.filter(item => {
        return item.title.toLowerCase().indexOf(this.input.toLowerCase()) !== -1
      })
    },
    indexOption() {
      return this.option.map((option, index)=> {
        return {
          ...option,
          idx: index,
        }
      })
    },
    getStatus() {
      if(this.popup) {
        if(this.popup.error) {
          return 'error'
        } else if(this.popup.status) {
          return this.popup.status
        }
      }

      if(this.error) {
        return 'error'
      } else if(this.status) {
        return this.status
      }
      return ''
    }
  },
  mounted() {
    this.calcPosition();
    document.body.append(this.$refs.option.$el)
    window.addEventListener(`resize`, this.calcPosition);
    this.setParentPropsValue()
  },
  beforeDestroy() {
    this.$el.append(this.$refs.option.$el)
    window.removeEventListener(`resize`, this.calcPosition);
  },
  methods: {
    calcPosition() {
      let x = window.pageXOffset
      let y = window.pageYOffset

      let clientRect = this.$refs.el.getBoundingClientRect();

      this.optionPosition.top = clientRect.top + +y + clientRect.height ;
      this.optionPosition.left = clientRect.left +x ;
      this.optionPosition.width = clientRect.width;

    },
    toggleOption() {
      this.isOpen = !this.isOpen;
    },
    closeOption(e) {
      //TODO: Не самая лучшая проверка. option находятся в body
      if(e.path.indexOf(this.$refs.option.$el) !== -1) return
      this.isOpen = false;
    },
    openOption() {
      this.isOpen = true;
    },
    changeOption(id) {
      let index = this.activeOption.findIndex(activeId => activeId == id )

      if(index === -1) {
        this.activeOption.push(id)
      } else {
        this.activeOption.splice(index, 1)
      }
      this.$emit('input', this.activeOption);
      this.$emit('change', this.activeOption)

    },
    isChange(id) {
      //find т.к. не нужна строгая проверка
      return this.activeOption.find(item => item == id) !== undefined;
    },
    setParentPropsValue() {
      if(!this.option.length)
        return
      this.activeOption = this.value
    },
    onFocus() {
     this.isFocus = true
    },
    onBlur() {
     this.isFocus = false
    }
  },
  watch: {
    value() {
      this.setParentPropsValue()
    },
    option() {
      this.setParentPropsValue()
    },
    isOpen() {
      if (this.isOpen == true) {
        this.calcPosition()
      } else {
      if(this.isFocus)
        this.openOption()
      }
    },
    isFocus() {
      if(this.isFocus)
        this.openOption()
    }
  }
};
</script>
