<template lang="pug">
  .form-item.group__select
    span.form-item__title(v-if="title")
      | {{title}}
    .form-item__block(v-click-outside="close")
      span.form-item__error(v-if="error")
        | {{error}}

      .form-item__select.select(@click="toggleOpen")
        input.form-item__input(
          :disabled="true"
          :value='value'
          :placeholder="placeholder"
        )
      SlideUpDown.select__slider(
        :duration="slideDuration"
        :active="isOpen"
      )
        .select__field
          .group__select-list(
                v-for="(field, idx) in fields"
                :key="field.folder.id"
              )
            .group__select-list-course.select__checkbox
              span.group__select-list-folder
                | {{field.folder.name}}
              Checkbox(
                @input="setFolder($event, field)"
              )
            SelectItem(
                @click="setCourse"
                :groupCourses="courses"
                :courses="field.courseArray"
              )

      Icon.select__icon.form-item__icon(
        :icon="!icon ? 'arrow-down' : icon"
        @click="toggleOpen"
        :class="{'-opened-': isOpen}"
      )
</template>

<script>
  import SlideUpDown from 'vue-slide-up-down';
  import vClickOutside from 'v-click-outside';
  import SelectItem from './SelectItem';

  export default {
    name: "Select",
    components:{
      SelectItem,
      SlideUpDown
    },
    directives: {
      clickOutside: vClickOutside.directive
    },
    props:{
      fields:{
        type:Array,
        default:[]
      },
      title: {},
      error: {},
      groupCourses:{},
      groupCourseFolders:{},
      icon: {},
      value:{}
    },
    data(){
      return {
        isOpen:false,
        slideDuration: 200,
        selectFolder:[],
        selectCourse:[],
        status:false,
        message:"Выберите папку",
        placeholder:'',
        courses:'',
      }
    },
    mounted() {
        // this.fields.forEach((el, idx) => {
        //   if(this.groupCourseFolders.include(el.id)) {
        //     if(idx === 0) this.placeholder = el.name
        //     else this.placeholder = ' , '+ el.name
        //   }
        // })
      this.courses = _.cloneDeep(this.groupCourses)
    },
    watch:{
      selectFolder(val){
        this.$emit('input', {
          folder: val,
          course: this.selectCourse
        })
      },
      selectCourse(val){
        this.$emit('input', {
          folder:this.selectFolder,
          course:val
        })
      }
    },
    methods:{
      toggleOpen() {
        if(this.fields)
          this.isOpen = !this.isOpen
      },
      close() {
        this.isOpen = false
      },
      click(emit,folder){
        this.$emit('input', {...emit, folder: folder})
        this.close()
      },
      setFolder(status, field){
          if(status) {

            this.selectFolder.push(field.folder)
            this.placeholder= field.folder.name + field.courseArray.map(el => el.name)
            this.courses = field.courseArray.map(el => el.id)
          }else this.selectFolder = this.selectFolder.filter(el=> el.id !== field.folder.id)
      },
      setCourse({status, data}){
        let numData = data.map(el => el.id)
        if(status){
            const arr = this.selectCourse.filter(el=> {
              if (!numData.includes(el.id)) return el
            })
            arr.push(...data)
            this.selectCourse = arr
        }else {
           this.selectCourse = this.selectCourse.filter(el=> {
              if (!numData.includes(el.id)) return el
          })
        }
      },
      someMethod(){
        if(typeof val != 'string') {
          const stringFolder = val.folder.map(el => el.name+ ', ');
          const stringCourse = val.course.map(el => el.name + ', ');
          str = stringFolder + stringCourse.flat(5)
          this.selectedGroup = str
        }
      }
    }
  }
</script>