<template lang="pug">
  .group__select-list
    template(
      v-for="(course, idx) in courses"
      )
      SelectItemMini(
        :course="course"
        :courses="groupCourses"
        @input="setCourse($event, course)"
        :key="course.id"
      )
</template>

<script>
  import SelectItemMini from "@lms/views/Users/Groups/layouts/Aside/components/Select/SelectItemMini";
  export default {
    name: "SelectItem",
    components:{SelectItemMini},
    props:{
      courses:{},
      value:{},
      groupCourses:{}
    },
    data(){
      return {
        is:false,
        selectedCourse:[],
      }
    },
    methods:{
        setCourse(status, course){
        if(status){
          const arr =  this.selectedCourse.filter(el=> el.id != course.id);
          arr.push(course);
          this.selectedCourse = arr;
          this.$emit('click', {status:status, data:this.selectedCourse} );
        }else {
          this.$emit('click', {status:status, data:this.selectedCourse.filter(el=> el.id == course.id)} );
          this.selectedCourse = this.selectedCourse.filter(el=> el.id != course.id);
        }
      }
    }
  }
</script>
