<template lang="pug">
  .group__select-list-course.select__checkbox
    span.group__select-list-text
      | {{course.name}}
    Checkbox(
        v-model="isChecking"
    )
</template>

<script>
  export default {
    name: "SelectItemMini",
    props:[
      'course',
      "courses"
    ],
    data(){
      return {
        isActive:false
      }
    },
    mounted() {
      this.isChecking = this.courses.some(el=> el === this.course.id)
    },
    watch:{
      courses(val){
        this.isChecking = val.some(el=> el === this.course.id)
      },
      isChecking(val){
          this.$emit('input', val)
      }
    },
    computed:{
      isChecking:{
        get(){
          return this.isActive
        },
        set(value){
          this.isActive = value
        }
      },
    }
  }
</script>