<template>
	<div class="aside__block">
		<div class="aside__header">
			<AsideTabsButtons class="aside-buttons"/>

			<p class="heading aside__heading">{{titles[componentName]}}</p>
			<Icon v-if="mobile" @click="closeAside" class="aside__ico-close" icon="close-ico"/>
		</div>

		<component class="aside__main" :is="componentName"></component>
	</div>
</template>
	
<script>
	import AsideTabsButtons from "game/components/AsideTabsButtons/index";
	import KnowledgeBase from "./KnowledgeBase";
  import Market from "./Market/index";
	import Referral from "./Referral";
	
	export default {
		components: {KnowledgeBase, Market, Referral, AsideTabsButtons},
		props: ['componentName'],
		data: () => ({
			mobile: false,
			titles: {
				KnowledgeBase: 'База знаний',
				Market: 'Прибыль',
				Referral: 'Продажи'
			}
		}),
		mounted() {
			if(window.innerWidth < 481)
				this.mobile = true
		},
		methods: {
			closeAside(){
				this.$store.dispatch('game/collapseAside', false)
			},
		}
	}
</script>