<template>
	<div>
		<div
			v-for="(block, idx) in storeData"
			class="aside__subblock"
			:key="idx"
		>
			<p v-if="block.term" class="aside__subtitle">{{ block.term }}</p>
			<p v-if="block.definition" class="aside__text">{{ block.definition }}</p>
			<a 
				v-if="block.urlMoreDetails"
				class="aside__link"
				:href="'/game/vibor/away/knowledge?urlToRedirect='+block.urlMoreDetails"
				target="_blank"
			>Переход к сайту</a>
		</div>
	</div>
</template>
	
<script>
	import {mapState} from 'vuex'
	
	export default {
		computed: {
			...mapState('game', {
				storeData: s => s.aside.data.knowledgeBase
			})
		}
	}
</script>