<template lang="pug">
	div
		.aside__subblock
			p.aside__subtitle Твоя ссылка
			p.aside__text
				| Это тренажер продаж. Чтобы школа английского приносила прибыль, приглашай с помощью персональной ссылки друзей присоединиться.
				| Чем дальше они продвинутся по воронке игры, тем больше твоя компания заработает. В любой момент ты сможешь инвестировать полученную прибыль в своё обучение.
			.aside__box.aside-link__box
				input.aside-link__input(type="text" ref="input" :value="storeData.refLink")
				button.aside-link__button(type="button" @click="copiedOnClipboard")
					icon.aside-link__icon(icon="link")

		.aside__subblock
			p.aside__subtitle Действия
			ul.aside__box.aside-counter
				li.aside-counter__item(v-for="(block, idx) in storeData.stats" :key="idx")
					p.aside__subtitle {{ block.count }}
					p.aside__text {{ block.action }}
			.aside__box
				p.aside__subtext Заработано на продажах:
				p.aside__subtitle {{ storeData.revenueByReferralProgram | numberFormat}} ₽

</template>
	
<script>
	import {mapState} from 'vuex'
	
	export default {
		computed: {
			...mapState('game', {
				storeData: s => s.aside.data.referralProgram
			})
		},
		methods: {
			copiedOnClipboard() {
				this.$refs.input.select()
				document.execCommand('copy');
				this.$store.dispatch('ajax/addMessage', {message: 'Ссылка скопирована', type: 'success'}, {root: true})
			}
		}
		
	}
</script>