<template lang="pug">
  TableEmpty( v-if="!loading && users.length === 0" style="top: 50%")
  PageScroll.-width-limiter-(
    v-else
    :data="users"
    @incrementPage="incrementPage"
    :isLoading="loading || noMorePage"
    width="100%"
  )
    Table(
      :navTitles="navTitles"
    )
      template(#nav="")
        NavCell(
          v-for="title in navTitles" :key="title.id"
          :class="{'-pointer-': title.sortType !== undefined}"

          @click.native="setSort(title)"
        )
          span {{title.title}}
          Icon.ui-space-table__icon.-arrow-(
            v-if="title.sortType !== undefined"
            icon="ui-down"
            :class="{'-active-': title.channelId === sortChanel, '-rotate-': title.sortType}"
          )


      template(v-if="loading && !loadMore")
        Row(
          v-for="i in 5" :key="`load-${i}`"
          :loading="true"
          :navTitles="navTitles"
          loadCellClass="-full-border-"
          height="43px"
        )
      template(v-else)
        Row.-pointer-(
          v-for="user in users" :key="user.id"
          :navTitles="navTitles"
          height="43px"
          @click="goTo(user)"
        )
          Cell.-full-border-
            | {{ user.name }}
            | {{ user.patronymic }}
            | {{ user.lastname }}
          Cell.-full-border-
            | {{ user.niche }}
          Cell.-full-border-
            | {{ getUserChanel(user, 0) }}
          Cell.-full-border-
            | {{ getUserChanel(user, 1) }}
      Row(
        v-if="loadMore"
        :key="`load-more`"
        :loading="true"
        :navTitles="navTitles"
        loadCellClass="-full-border-"
        height="43px"
      )

</template>

<script>
import { mapState } from 'vuex';

import Table from '../../components/Table'
import Row from '../../components/Table/Row'
import Cell from '../../components/Table/Cell'
import NavCell from '../../components/Table/NavCell'

export default {
  components: {
    Table,
    Row,
    Cell,
    NavCell,
  },
  props: {
    sortChanel: {},
    navTitles: {},
  },
  data: ()=> ({
    loadMore: false,
  }),
  computed: {
    ...mapState('ratingSpeed', {
      users: s => s.data.users,
      page: s => s.data.page,
      isLoading: s => s.meta.isLoading,
      isLoadingPage: s => s.meta.isLoadingPage,
      noMorePage: s =>s.meta.noMorePage,
    }),
    isAdmin() {
      return this.$store.state['auth'].data.user.permissions.isAdmin
    },
    loading() {
      return this.isLoading || this.isLoadingPage
    }
  },
  methods: {
    goTo(user) {
      if(!this.isAdmin)
        return
      this.$router.push(`/rating/unified/user/${user.id}`)
    },
    async incrementPage() {
      this.loadMore = true
      this.$store.dispatch('ratingSpeed/setData', { path:'page', value: this.page + 1})
      await this.$store.dispatch('ratingSpeed/getUserList')
      this.loadMore = false
    },
    getUserChanel(user, id) {
      let channel = user.info.find(({channelId}) => channelId === id )
      return channel ? channel.fullProfit : 0
    },
    setSort(title) {
      if(title.channelId === undefined && title.sortType === undefined)
        return
      this.$emit('setSort', title)
    }

  }
}
</script>

<style>

</style>
