<template lang='pug'>
  .table
    RowItem(
      v-if="data.folder"
      :data="data.folder"
      :count="count"
      :paddingLeft="paddingLeft"
      :isFolder="true"
      :parentFolder="parentFolder"
      :isOpen="isOpen"
      @click="toggleClick"
    )

    transition(duration="200" name="fade")
      .table__next(v-if="isOpen")
        template(v-if="data.childrenFolders && data.childrenFolders.length")
          TableRow(
            v-for="folder in data.childrenFolders" :key="folder.id"
            :data="folder"
            :paddingLeft="padding"
            :parentFolder="data.folder"
          )

        template(v-if="data.groupArray && data.groupArray.length")
          RowItem(
            v-for="(group, idx) in data.groupArray" :key="'group'+idx"
            :paddingLeft="padding"
            :data="group"
            :parentFolder="parentFolder"
            :folder="data.folder"
          )

</template>
	
<script>
  import RowItem from './RowItem';

	export default {
    name: 'TableRow',
    components: {
      RowItem
    },
    props: ['data', 'paddingLeft', 'parentFolder'],
    data() {
      return {
        isOpen: false,
      }
    },
    computed: {
      count() {
        let folderLvlOne = this.data.groupArray?.map(el => el.count).reduce((prev, next) => parseInt(prev) + parseInt(next), 0) ?? 0

        if (this.data.childrenFolders && this.data.childrenFolders.length) {
          for (let i = 0; i < this.data.childrenFolders.length; i++) {
            folderLvlOne += this.counter(this.data.childrenFolders[i])
          }
        }
        return folderLvlOne
      },
      padding() {
        return +this.paddingLeft + 20
      },
    },
    methods: {
      counter(data) {
        let str = data.groupArray?.map(el => el.count).reduce((prev, next) => parseInt(prev) + parseInt(next), 0) ?? 0
        if (data.childrenFolders && data.childrenFolders.length) {
          for (let i = 0; i < data.childrenFolders.length; i++) {
            str += this.counter(data.childrenFolders[i])
          }
        }
        return str
      },
      toggleClick() {
        this.isOpen = !this.isOpen
      },
    }
  }
</script>
