<template lang="pug">
  ul.table__row.-folder-row-(
    v-if="isFolder"
    @click.self="$emit('click')"
  )

    li.table__col(
      @click="$emit('click')"
      :style="{paddingLeft: paddingLeft+'px'}"
    )
      p.table__text.table__text-folder
        template
          .table___text.-folder-name-
            | {{data.name}}
          .table__text-folder-point
            Icon.form-item__icon.select__icon(
              icon="arrow-down-thick"
              :class="{'-opened-': isOpen}"
            )

    li.table__col(@click="$emit('click')")
      p.table__text
        | {{count}}

    li.table__col(@click.self="$emit('click')")
      .table__actions(ref="tableaction")
        Button.-xs-(
          color="button-transparent"
          @click="openCreateGroup"
          v-if="$permissionsCreate"
        )
          Icon.icon-plus(icon="plus-circle")
          | Добавить группу
        Icon.pointer(icon="edit" @click="openFolder" v-if="$permissionsUpdate")
        Icon.pointer(icon="delete" @click="clickAction('deleteFolder')" v-if="$permissionsDelete")

      transition(v-if="confirm" name="fadePreloader")
        Confirm.table__confirm-action(
          :parent="$refs.tableaction"
          :isOpen.sync="confirm"
          v-model="selected"
          :selectedField="selectedField"
        )

  div(v-else style="width: 100%;")
    ul.table__row.-group-row-
      li.table__col.-group-name-col-(
        @click="userListIsOpen = !userListIsOpen"
        :style="{'paddingLeft': paddingLeft+'px'}"
      )
        p.table__text
          | {{data.name}}
        .table__text-folder-point
          Icon.form-item__icon.select__icon(
            icon="arrow-down-thick"
            :class="{'-opened-': userListIsOpen}"
          )

      li.table__col
        p.table__text
          | {{data.count}}

      li.table__col
        .table__actions(ref="tableaction")
          Icon.pointer(icon="user-group" @click="goToGroupUsers" v-if="checkPermission({key: 'userModuleAdmin', type: 'read'})")
          Icon.pointer(icon="edit" @click="openGroup" v-if="$permissionsUpdate")
          Icon.pointer(icon="delete" @click="clickAction('delete')" v-if="$permissionsDelete")

        transition(v-if="confirm" name="fadePreloader")
          Confirm.table__confirm-action(
            :parent="$refs.tableaction"
            :isOpen.sync="confirm"
            v-model="selected"
            :selectedField="selectedField"
          )

    UsersList(
      v-if="userListIsOpen"
      :group="data"
    )

</template>

<script>
  import vClickOutside from 'v-click-outside';
  import {mapState} from 'vuex';
  import getPermissionGropus from "@lms/constants/permissions/getPermissionGropus";
  import UsersList from "./UsersList";

  export default {
    components: {UsersList},
    directives: {clickOutside: vClickOutside.directive},
    props: ['data', 'isFolder', 'isOpen', 'count', 'paddingLeft', 'parentFolder', 'folder'],
    data() {
      return {
        userListIsOpen: false,
        action: '',
        selected: '',
        selectedField: '',
        confirm: false,
        promiseInterval: '',
        optionsFields: {
          update: {
            text: 'Редактировать',
            func: this.openGroup,
            icon: 'edit',
          },
          goTo: {
            text: 'Перейти к пользователям',
            func: this.goToGroupUsers,
            icon: 'user-unknown',
          },
          delete: {
            text: 'Удалить',
            func: this.deleteGroup,
            icon: 'delete',
            iconWidth: '10px',
            confirm: true,
            confirmTitle: 'Вы уверены, что хотите удалить группу?',
            confirmApplyText: 'Удалить',
            confirmCancelText: 'Отменить',
            red: true
          },
          deleteFolder: {
            text: 'Удалить',
            func: this.deleteFolder,
            icon: 'delete',
            iconWidth: '10px',
            confirm: true,
            confirmTitle: 'Вы уверены, что хотите удалить папку? Удалятся все её папки, а также пользователи из групп',
            confirmApplyText: 'Удалить',
            confirmCancelText: 'Отменить',
            red: true
          }
        }
      }
    },
    computed: {
      ...mapState('auth', {
        $permissions: s => s.data.user.permissions.userGroupModuleAdmin,
        $otherPermissions: s => s.data.user.permissions,
        isAdmin: s => s.data.user.permissions.isAdmin
      }),
    },
    methods: {
      async clickAction(action) {
        let result;
        this.confirm = true
        this.selectedField = this.optionsFields[action]
        result = await new Promise((res, rej) => {
          this.promiseInterval = setInterval(() => {
            if (this.selected === 'success')
              res('next')
            else if (this.selected === 'cancel')
              res('cancel')
          }, 50)
        })

        this.clearConfirmData()

        if (result === 'cancel')
          return
        else
          this.optionsFields[action].func()

      },
      clearConfirmData() {
        this.confirm = false
        this.selected = ''
        if (this.promiseInterval)
          clearInterval(this.promiseInterval)
      },
      openGroup() {
        let value = {
          ...this.data,
        }
        if (this.folder)
          value.folderId = this.folder.id

        this.$store.dispatch('usersGroups/setAsideData', {path: 'group', value})
        this.$store.dispatch('usersGroups/setAsideMeta', {path: 'isOpen', value: true})
      },
      goToGroupUsers() {
        this.$router.push({path: `/users/group/${this.data.id}/users`})
      },
      deleteGroup() {
        this.$store.dispatch('usersGroups/deleteGroup', {group: this.data})
      },
      openCreateGroup() {
        this.$store.dispatch('usersGroups/setAsideData',
          {
            path: 'group',
            value: {
              name: '',
              folderId: this.data.id,
              courses: [],
              courseFolders: [],
              count: 0,
              permissions: {
                isAdmin: false,
                ...getPermissionGropus()
              }
            }
          }
        )
        this.$store.dispatch('usersGroups/setAsideMeta', {path: 'isOpen', value: true})
      },
      openFolder() {
        let value = {
          ...this.data,
        }

        if (this.parentFolder)
          value.parentId = this.parentFolder.id

        this.$store.dispatch('usersGroups/setAsideData', {path: 'folder', value})
        this.$store.dispatch('usersGroups/setAsideMeta', {path: 'isOpen', value: true})
      },
      deleteFolder() {
        this.$store.dispatch('usersGroups/deleteFolder', {folder: this.data})
      }
    }
  }
</script>