<template lang="pug">
  .users-groups-users-list(ref="list")
    template(v-if="!gettingUsers")
      ul.table__row(
        v-for="(user, idx) in users" :key="idx"
        @click="openUserInAside(user)"
      )
        li.table__col
          p.table__text
            | {{user.name}} {{user.lastname}}

        li.table__col
          p.table__text
            | {{user.city}}

        li.table__col
          p.table__text
            | {{user.email}}

        li.table__col
          Phone(:value="user.phone")

        li.table__col
          InlineSocials(
            :vk="user.vkLink"
            :fb="user.fbLink"
            :insta="user.instaLink"
          )

        li.table__col
          p.table__text(:class="{'-empty-niche-': !user.niche}")
            | {{user.niche ? user.niche : 'Без бизнеса'}}

    ul.table__row.-ajax-(v-if="gettingUsers || gettingMoreUsers")
      li.table__col(v-for="i in 6")
        p.ajax__line.ajax__line-table-text

</template>

<script>
  import InlineSocials from '@lms/components/InlineSocials'

  export default {
    props: {
      group: {
        type: Object,
        default: () => {}
      }
    },
    components: {InlineSocials},
    data: () => ({
      users: [],
      currentPage: 1,
      gettingUsers: true,
      hasMoreUsers: true,
      gettingMoreUsers: false,
      observerOptions: {
        root: null,
        threshold: 0,
        rootMargin: '0px',
      },
    }),
    async mounted() {
      this.observerOptions.root = this.$refs.list
      await this.getUsers()
    },
    watch: {
      gettingUsers() {
        this.$nextTick( () => {
          this.observerFunction()
        })
      },
      gettingMoreUsers(val) {
        this.$nextTick( () => {
          if(!val && this.hasMoreUsers)
            this.observerFunction()
        })
      }
    },
    methods: {
      async getUsers() {
        let res = await this.$store.dispatch('usersGroupsUsers/getUsers', {groupId: this.group.id})
        if(res && res.users) {
          this.users = _.cloneDeep(res.users)
        }

        this.gettingUsers = false
      },
      async getMoreUsers() {
        if(!this.hasMoreUsers)
          return

        this.currentPage++
        this.gettingMoreUsers = true
        let res = await this.$store.dispatch('usersGroupsUsers/getMoreUsers', {groupId: this.group.id, page: this.currentPage})
        if(res && res.status === 'success') {
          if(res.users && res.users.length)
            this.users = [
              ...this.users,
              ...res.users
            ]
          else if(res.users)
            this.hasMoreUsers = false
        }
        this.gettingMoreUsers = false
      },
      observerFunction() {
        if(!this.users.length)
          return

        this.observer = new IntersectionObserver(this.handleObserver, this.observerOptions);
        this.target = this.$refs.list.querySelector('.table__row:last-child')
        this.observer.observe(this.target)
      },
      handleObserver(entries, observer) {
        let entry = entries[0]
        if(entry.isIntersecting) {
          observer.unobserve(entry.target)
          this.getMoreUsers()
        }
      },
      openUserInAside(user) {
        this.$store.dispatch('usersGroups/setAsideMeta', {path: 'isUserOpen', value: true})
        this.$store.dispatch('usersGroups/setAsideMeta', {path: 'isOpen', value: true})
        this.$store.dispatch('usersGroups/setAsideData', {path: 'user', value: user})
      }
    },
    destroyed() {
      if(this.observer)
        this.observer.disconnect()
    }
  }
</script>