<template lang="pug">
  .lesson-test-navigation
    Button.-xs-(
      :isLoading="isLoading"
      @click="$emit('sendAnswer')"
    )
      | {{ btnName }}
    .lesson-test-navigation-list
      .lesson-test-navigation-list__item.-questions-(
        v-for="(question, idx) in questions" :key="question.id"
        :class="{'-active-': idx <= currentQuestionIdx}"
      )

</template>

<script>
  export default {
    props: ['questions', 'currentQuestionIdx', 'isLoading', 'isChecking'],
    computed:
    {
      btnName()
      {
        return this.isChecking ? 'Следующий вопрос' : 'Подтвердить'
      }
    }
  }
</script>