<template lang="pug">
  component.avatar(
    :is="type ? 'a' : 'div'"
    :class="('avatar-'+sizeComponent)"
  )
    div.avatar-image(
      :class="classType"
      :style="{ backgroundImage: `url('${img}')`, backgroundColor: fill}"
    )
</template>

<script>
  export default {
    name: 'Avatar',
    props: {
      img: {},
      alt: '',
      type: {},
      size: {
        type: String,
        default: 'medium'
      },
      circle: {
        type: Boolean,
        default: false
      },
      box: {
        type: Boolean,
        default: false
      },
      rounded: {
        type: Boolean,
        default: true
      },
      fill: {
        type: String,
        default: '#DFE0EB'
      }
    },
    data() {
      return {
        circleClass: 'avatar-circle',
        boxClass: 'avatar-box',
        roundedClass: 'avatar-rounded',
      }
    },
    computed: {
      classType() {
        if (this.circle)
          return this.circleClass
        else if (this.box)
          return this.boxClass
        else
          return this.roundedClass

      },
      sizeComponent() {
        switch (this.size) {
          case 'xxs':
            return 'xxsmall'
          case 'xs':
            return 'exsmall'
          case 's':
            return 'small'
          case 'm':
            return 'medium'
          case 'l':
            return 'large'
          default:
            return 'medium'
        }
      }
    }
  }
</script>