<template lang="pug">
  .phone__text
    .phone__text-number
      | {{ createPhoneNumber}}

</template>

<script>
  export default {
    props: ['value'],
    computed: {
      createPhoneNumber() {
        if(!this.value)
          return ''

        let number = (''+this.value).replace(/[^\d]/gi, '')
        if(number.length < 11)
          return ''

        let code = number.slice(0, number.length-10)
        let numberWithoutCode = number.slice(number.length-10)

        numberWithoutCode = numberWithoutCode.replace(/(\d{3})(\d{3})(\d{2})(\d{2})/gi, '($1) $2-$3-$4')

        return `+${code} ${numberWithoutCode}`
      },
    }
  }
</script>