<template lang="pug">
  .ui-kit-select(
    :class="[getStatus ? `-${getStatus}-` : '', {'-active-': isOpen}]"
    :style="{cursor: disabled ? 'default' : ''}"
    v-click-outside="closeOption"
    ref="el"
  )
    .ui-kit-select__hood(
      :style="{cursor: disabled ? 'default' : ''}"
      @click="toggleOption"
    )
      span.ui-kit-select__label(v-if="title || popup" :class="labelClass") {{ title }}
      .ui-kit-select__field
        Icon.ui-kit-select__icon(v-if="icon" :icon="icon")
        span.ui-kit-select__input(:class="{'-placeholder-': !selectedTitle || selectedTitle === placeholder}")
          | {{inputText}}

      Icon.ui-kit-select__dropdown-icon(
        v-if="!disabled"
        icon="ui-down"
        :class="{'-active-': isOpen}"
      )

    SlideUpDown.ui-kit-select__option(
      :active="isOpen"
      :duration="100"
      style="position: absolute"
      :style="{top: optionPosition.top !== undefined ? (optionPosition.top + 'px') : 'calc(100% + 1px)', left: optionPosition.left + 'px', width: optionPosition.width + 'px', zIndex: zIndex}"
      ref="option"
    )
      .ui-kit-select__option-list(
        :style="{maxHeight: maxHeight + 'px'}"
      )
        label.ui-kit-select-search(v-if="showSearch")
          Icon.ui-kit-select-search__icon(icon="ui-search")
          input.ui-kit-select-search__input(
            v-model="search"
            placeholder="Поиск..."
            type="text"
            @input="$emit('searchUpdate', search)"
          )
        .ui-kit-select__option-item.-unset-(
          v-if="canUnset"
          key="__null-value__"
          @click="setOption(unsetValue)"
        )
          span.ui-kit-select__option-title {{unsetText}}
        template(v-if="showGrouped")
          .ui-kit-select__group-item(
            v-for="(item, idx) in option"
            :key="(new Date()).getTime() + idx"
          )
            span.ui-kit-select__group-title(
              @click.self="setOptionGroup(item.value)"
              :class="{'-active-': item.value === value}"
            ) {{item.title}}
            .ui-kit-select__option-list
              .ui-kit-select__option-item(
                v-for="(groupItem, idx) in item.groups" :key="(new Date()).getTime() + idx"
                :class="{'-active-': groupItem.value === value}"
                @click="setOption(groupItem.value)"
              )
                span.ui-kit-select__option-title {{groupItem.title}}
        template(v-else)
          .ui-kit-select__option-item(
            v-for="(item, idx) in option" :key="(new Date()).getTime() + idx"
            :class="{'-active-': item.value === value}"
            @click="setOption(item.value)"
          )
            span.ui-kit-select__option-title {{item.title}}

        .ui-kit-select__option-item.-loading-(v-if="loading")
          UiLoaderDots

        slot

    Popup(v-if="popup"
      :popup="popup"
      :status="getStatus")
</template>

<script>

  import Popup from "../Popup"
  import SlideUpDown from 'vue-slide-up-down'
  import vClickOutside from 'v-click-outside'
  import UiLoaderDots from "../LoaderDots";
  import _ from 'lodash'

  export default {
    directives: {clickOutside: vClickOutside.directive},
    components: {
      Popup,
      SlideUpDown,
      UiLoaderDots,
    },
    props: {
      value: {
        type: [Object, String, Number],
        default: null
      },
      title: {
        type: String,
        default: ''
      },
      placeholder: {
        type: [String, Number],
        default: undefined
      },
      icon: {
        type: String,
        default: undefined
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      status: {
        type: String,
        default: ''
      },
      popup: {
        type: [Object, Function],
        default: undefined
      },
      option: {
        type: Array,
        default: () => ([])
      },
      error: {
        type: Boolean,
        default: false,
      },
      zIndex: {
        type: Number,
        default: 1
      },
      appendBody: {
        type: Boolean,
        default: false,
      },
      maxHeight: {
        type: Number,
        default: 200,
      },
      loading: {
        type: Boolean,
        default: false,
      },
      showSearch: {
        type: Boolean,
        default: false
      },
      canUnset: {
        type: Boolean,
        default: false,
      },
      unsetText: {
        type: String,
        default: 'Не выбрано'
      },
      unsetValue: {
        type: String,
        default: ''
      },
      labelClass: {
        type: String,
        default: null
      },
      showGrouped: {
        type: Boolean,
        default: false
      },
      selectGroups: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        isOpen: false,
        selectedTitle: '',
        optionPosition: {
          top: '',
          left: '',
          width: ''
        },
        search: '',
      }
    },
    computed: {
      getStatus() {
        if (this.popup) {
          if (this.popup.error) {
            return 'error'
          } else if (this.popup.status) {
            return this.popup.status
          }
        }

        if (this.error) {
          return 'error'
        } else if (this.status) {
          return this.status
        }
        return ''
      },
      inputText() {
        // return this.activeIndex !== null ? this.option[this.activeIndex].title : this.placeholder
        return this.selectedTitle ? this.selectedTitle : this.placeholder
      }
    },
    watch: {
      value() {
        this.setLocalValue()
      },
      option() {
        this.setLocalValue()
      },
      isOpen() {
        this.$emit('selected', this.isOpen)

        if (this.isOpen == true)
          this.calcPosition()
      }
    },
    mounted() {
      this.setLocalValue()

      if (!this.appendBody)
        return

      this.calcPosition()
      document.body.append(this.$refs.option.$el)
      window.addEventListener(`resize`, this.calcPosition);
    },
    beforeDestroy() {
      if (!this.appendBody)
        return

      this.$el.append(this.$refs.option.$el)
      window.removeEventListener(`resize`, this.calcPosition);
    },
    methods: {
      calcPosition() {
        if (!this.appendBody)
          return

        let x = window.pageXOffset
        let y = window.pageYOffset

        let clientRect = this.$refs.el.getBoundingClientRect();

        this.optionPosition.top = clientRect.top + +y + clientRect.height;
        this.optionPosition.left = clientRect.left + x;
        this.optionPosition.width = clientRect.width;
      },
      toggleOption() {
        if (!this.disabled)
          this.isOpen = !this.isOpen;
      },
      closeOption(e) {
        //TODO: Не самая лучшая проверка. option находятся в body
        if (e && e.path.indexOf(this.$refs.option.$el) !== -1)
          return

        this.isOpen = false;
      },
      setLocalValue() {
        if (!this.option.length) {
          this.selectedTitle = ''
          return
        }

        const itemInOption = this.showGrouped
            ? this.selectGroups
              ? this.option.find(o => o.value === this.value)
              : this.option.find(o => o.groups.find(g => g.value === this.value))
            : this.option.find(item => _.isEqual(item.value, this.value))
        this.selectedTitle = itemInOption
          ? this.showGrouped
            ? this.selectGroups
              ? itemInOption.title
              : itemInOption.groups.find(g => g.value === this.value).title
            : itemInOption.title
          : ''
      },
      setOption(value) {
        this.closeOption()
        this.$emit('input', value)
        this.$emit('change', value)
      },
      setOptionGroup(value) {
        this.closeOption()
        this.$emit('group-input', value)
        this.$emit('group-change', value)
      }
    },
  };
</script>
