<template lang="pug">
  .aside__subblock
    .aside__list
      .aside__item.-full-
        Input(
          title="Название"
          placeholder="Название папки"
          :error="$v.$dirty && !$v.groupFolder.name.required"
          v-model="groupFolder.name"
          @input="compare"
        )
          span.form-item__error(v-if="$v.$dirty && !$v.groupFolder.name.required")
            | Обязательное поле

      .aside__item.-full-(v-if="folders && !firstFolder")
        SelectFolder.aside__select.-folder-select-(
          title="Выберите родительскую папку"
          v-model="groupFolder.parentId"
          :fields="folders"
          @input="compare"
        )

</template>

<script>
  import {mapState, mapActions} from 'vuex'
  import {required} from 'vuelidate/lib/validators'

  import SelectFolder from './SelectFolder'

  export default {
    components: {SelectFolder},
    props: ['folders'],
    data: () => ({
      groupFolder: {},
      groupFolderBackup: {},
    }),
    computed: {
      ...mapState('usersGroups', {
        storeFolder: s => s.aside.data.folder,
        canSave: s => s.aside.meta.canSave,
      }),
      firstFolder() {
        return this.folders && this.folders.find((item) => item.folder.id === this.storeFolder.id) && this.storeFolder.id !== undefined
      }
    },
    beforeMount() {
      this.setData()
    },
    methods: {
      setData() {
        this.groupFolder = _.cloneDeep(this.storeFolder)
        this.groupFolderBackup = _.cloneDeep(this.groupFolder)
      },
      compare() {
        if (this.$v.$invalid) {
          this.$v.$touch()
          return
        }

        let formHasChanges = !_.isEqual(this.groupFolder, this.groupFolderBackup)
        if (this.canSave !== formHasChanges)
          this.$store.dispatch('usersGroups/setAsideMeta', {path: 'canSave', value: formHasChanges})
        if (this.canSave)
          this.$store.dispatch('usersGroups/setAsideData', {path: 'stagedFolder', value: this.groupFolder})
      },
    },
    validations: {
      groupFolder: {
        name: {required},
      }
    },
    destroyed() {
      this.$store.dispatch('usersGroups/setAsideData', {path: 'folder', value: {}})
      this.$store.dispatch('usersGroups/setAsideData', {path: 'stagedFolder', value: {}})
      this.$store.dispatch('usersGroups/setAsideMeta', {path: 'canSave', value: false})
    }
  }
</script>