<template lang="pug">

  GroupForm(
    v-if="isGroup"
    :folders="folders"
  )

  FolderForm(
    v-else-if="isFolder"
    :folders="folders"
  )

</template>

<script>
  import {mapState} from 'vuex'
  import GroupForm from "@lms/views/Users/Groups/layouts/Aside/components/GroupForm";
  import FolderForm from "@lms/views/Users/Groups/layouts/Aside/components/FolderForm";

  export default {
    components: {FolderForm, GroupForm},
    computed: {
      ...mapState('usersGroups', {
        storeGroup: s => s.aside.data.group,
        storeFolder: s => s.aside.data.folder,
        storeFolders: s => s.data.folders,
      }),
      isGroup() {
        return Object.keys(this.storeGroup).length
      },
      isFolder() {
        return Object.keys(this.storeFolder).length
      },
      folders() {
        let folders = _.cloneDeep(this.storeFolders)
          .map((item, idx) => {
            let obj = {}

            if(item.folder)
              obj.folder = item.folder

            if(item.childrenFolders.length)
              obj.childrenFolders = [...item.childrenFolders]

            return obj
          })

        folders.unshift({folder: {name: 'Нет родителя', value: ''}})

        return folders
      }
    },
  }
</script>