<template lang="pug">
  .aside__subblock
    .aside__list
      template(v-if="step == 1")
        .aside__item.-full-
          Input(
            title="Название"
            placeholder="Название группы"
            :error="$v.$dirty && !$v.group.name.required"
            v-model="group.name"
            @input="compare"
          )
            span.form-item__error(v-if="$v.$dirty && !$v.group.name.required")
              | Обязательное поле
        .aside__item.-full-
          SelectFolder.aside__select.-folder-select-(
            title="Выберите родительскую папку"
            v-model="group.folderId"
            :fields="folders"
            @input="compare"
          )

        .aside__item.-full-(@click="nextStep")
          Button.-xs-
            | Настройки доступа

      Permissions( v-if="step == 2"
        :propPermissions="group.permissions"
        @updatePermissions="updatePermissions"
      )

</template>

<script>
  import SelectFolder from './SelectFolder'
  import Permissions from "@lms/views/Users/Groups/layouts/Aside/components/Permissions"
  import {mapState} from 'vuex'
  import {required} from 'vuelidate/lib/validators'

  export default {
    props: ['folders'],
    components: {Permissions, SelectFolder},
    data: () => ({
      showPermissions: false,
      group: {
        permissions: {},
      },
      groupBackup: {},
    }),
    computed: {
      ...mapState('usersGroups', {
        storeGroup: s => s.aside.data.group,
        canSave: s => s.aside.meta.canSave,
        step: s => s.aside.meta.step
      }),
    },
    beforeMount() {
      this.setData()
    },
    methods: {
      setData() {
        this.group = _.cloneDeep(this.storeGroup)
        this.groupBackup = _.cloneDeep(this.group)
      },
      compare() {
        if (this.$v.$invalid) {
          this.$v.$touch()
          return
        }

        let formHasChanges = !_.isEqual(this.group, this.groupBackup)
        if (this.canSave !== formHasChanges)
          this.$store.dispatch('usersGroups/setAsideMeta', {path: 'canSave', value: formHasChanges})
        if (this.canSave)
          this.$store.dispatch('usersGroups/setAsideData', {path: 'stagedGroup', value: this.group})
      },
      nextStep() {
        this.$store.dispatch('usersGroups/incrementStep')
      },
      updatePermissions(permissions) {
        this.group.permissions = {...permissions}
        this.compare()
      },
    },
    validations: {
      group: {
        name: {required},
      }
    },
    destroyed() {
      this.$store.dispatch('usersGroups/setAsideData', {path: 'group', value: {}})
      this.$store.dispatch('usersGroups/setAsideData', {path: 'stagedGroup', value: {}})
      this.$store.dispatch('usersGroups/setAsideMeta', {path: 'canSave', value: false})
    }
  }
</script>