<template lang="pug">

  .permissions.aside__item.-full-(
    style="width: 880px"
  )
    .permissions__admin
      SwitchBlock(
        v-model="permissions.isAdmin"
        @input="updatePermissions"
        text="Администратор"
      )
    template(v-for="(permissionObject, permissionKey) in permissions")
      .permissions__block(v-if="permissionKey !== 'isAdmin' && permissionKey !== 'id'")
        p.permissions__name
          | {{getPermissionName(permissionKey)}}

        .permissions__controls
          .permissions__checks(v-for="(value, key) in permissionObject")
            .permissions__checks-title
              | {{getTypeTitle(key)}}

            RadioBlock.options__check(
              v-for="idx in [3,2,1]" :key="idx"
              text=""
              :value="permissions[permissionKey][key]"
              :checked="permissions[permissionKey][key] == idx-1"
              @change="changeValue({permissionKey, key, idx})"
              :name="permissionKey+'_'+key"
              textClass="options__text")

        .permissions__descriptions
          p.permissions__description(v-for="(desc, idx) in getDescriptions(permissionKey)" :key="idx")
            | {{desc}}

</template>

<script>
  import getPermissionName from "@lms/constants/permissions/getPermissionName";
  import getPermissionDescriptions from "@lms/constants/permissions/getPermissionDescriptions";
  import {mapState} from "vuex";

  export default {
    props: ['propPermissions'],
    data: () => ({
      permissions: {
        isAdmin: false
      }
    }),
    computed: {
      ...mapState('usersGroups', {
        storeGroup: s => s.aside.data.group
      }),
    },
    async mounted() {
      await this.$store.dispatch('usersGroups/getGroupPermission', this.storeGroup.id)
      this.permissions = _.cloneDeep(this.storeGroup.permissions)
    },
    methods: {
      getTypeTitle(key){
        switch (key) {
          case 'update':
            return 'Правка'
          case 'read':
            return 'Просмотр'
          case 'delete':
            return 'Удаление'
          case 'create':
            return 'Создание'
          default:
            return ''
        }
      },
      getPermissionName(key) {
        return getPermissionName(key)
      },
      getDescriptions(key){
        return getPermissionDescriptions(key)
      },
      changeValue({permissionKey, key, idx}){
        this.permissions[permissionKey][key] = ''+idx-1
        this.$emit('updatePermissions', this.permissions)
      },
      updatePermissions(){
        this.$emit('updatePermissions', this.permissions)
      }
    }
  }
</script>
