<template lang="pug">
  Table.rating-user-table.-month-(
    :navTitles="navTitles"
  )
    template(#nav)
      NavCell.header-cell(
        v-for="nav in navTitles" :key="nav.id"
        :class="{'-blue-': actualMonthId && (nav.monthId === actualMonthId)}"
      )
        | {{nav.title}}
    Row(
      v-for="channel in channelList" :key="channel.id"
      :navTitles="navTitles"
      :months="getMonthChannel(channel.id)"
      :title="channel.title"
      :description="channel.description"
      :canEdit="true"

      @input="editMonth($event, channel.id)"
    )
</template>

<script>
import Table from '../../../../components/Table'
import Row from './Row'
import NavCell from '@lms/views/Rating/components/Table/NavCell'
import { mapState } from 'vuex'

export default {
  components: {
    Table,
    Row,
    NavCell,
  },
  props: {
    table: {},
  },
  computed: {
    ...mapState('ratingMsaUser', {
      months: s => s.data.months,
      actualMonthId: s => s.data.actualMonthId,
      user: s => s.data.user,
    })
  },
  data: ()=> ({
    navTitles: [
      {
        title: 'Метрики',
        id: 1,
        key: 'title',
        width: '1.5fr'
      },
      {
        title: 'До курса',
        id: 2,
        key: 'price',
        width: '1fr',
        monthId: -1,
      },
      {
        title: 'Янв',
        id: 3,
        key: 'price',
        width: '1fr',
        monthId: 0,
      },
      {
        title: 'Февр',
        id: 4,
        key: 'contact',
        width: '1fr',
        monthId: 1,
      },
      {
        title: 'Март',
        id: 5,
        key: 'source',
        width: '1fr',
        monthId: 2,
      },
      {
        title: 'Апр',
        id: 6,
        key: 'responsible',
        width: '1fr',
        monthId: 3,
      },
      {
        title: 'Май',
        id: 7,
        key: 'createdAt',
        width: '1fr',
        monthId: 4,
      },
      {
        title: 'Июн',
        id: 8,
        key: 'createdAt',
        width: '1fr',
        monthId: 5,
      },
      {
        title: 'Июл',
        id: 9,
        key: 'createdAt',
        width: '1fr',
        monthId: 6,
      },
      {
        title: 'Авг',
        id: 10,
        key: 'createdAt',
        width: '1fr',
        monthId: 7,
      },
      {
        title: 'Сен',
        id: 11,
        key: 'createdAt',
        width: '1fr',
        monthId: 8,
      },
      {
        title: 'Окт',
        id: 12,
        key: 'createdAt',
        width: '1fr',
        monthId: 9,
      },
      {
        title: 'Ноя',
        id: 13,
        key: 'createdAt',
        width: '1fr',
        monthId: 10,
      },
      {
        title: 'Дек',
        id: 14,
        key: 'createdAt',
        width: '1fr',
        monthId: 11,
      },
    ],
    channelList: [
      {
        id: 0,
        title: 'Выручка',
        description: ''
      },
      {
        id: 1,
        title: 'Прибыль',
        description: '',
      },
      {
        id: 2,
        title: 'NPS',
        description: '%',
      },
      {
        id: 3,
        title: 'Кол-во точек',
        description: '',
      },
    ]
  }),
  methods: {
    getMonthChannel(id) {
      let months = this.months.filter(({channelId}) => channelId === id)
      
      if(!months) return

      return months

    },
    editMonth({id, value}) {
      this.$store.dispatch('ratingMsaUser/cellEdit', [{
        profit: value,
        cellId: id,
        id: this.user.id,
      }])

    }
  }

}
</script>

<style scoped lang="scss">
.header-cell:first-child {
  position: sticky;
  left: 0;
  z-index: 10;
  background-color: #F7F8FC;
}
</style>
