<template lang="pug">
  Row(
    :navTitles="navTitles"
    height="33px"
    :loading="isLoadingUser"
  )
    Cell.fixed(
      key="title"
    )
      span {{title}}
      span.ui-space-table__subtext(v-if="description")  {{description}}
    .ui-space-table__col(
      v-for="month in months" :key="month.mounthId"
    )
      .ui-space-table__col-container.-flex-
        UiNumberInput.-empty-style-(
          placeholder="нет данных"
          :value="month.profit"
          :disabled="!canEdit"
          :dotAmount="0"
          :differZero="true"
          :showEmpty="false"
          :allowMinus="true"

          @input="editCell($event, month.cellId)"
        )
  
</template>

<script>
import { mapState } from 'vuex'

import Row from '@lms/views/Rating/components/Table/Row'
import Cell from '@lms/views/Rating/components/Table/Cell'

export default {
  computed: {
    ...mapState('ratingMsaUser', {
      isLoadingUser: s => s.meta.isLoadingUser
    }),
  },
  props: {
    title: {},
    description: {},
    months: {},
    navTitles: {},
    canEdit: {},
  },
  components: {
    Row,
    Cell,
  },
  methods: {
    editCell(value, id) {
      this.$emit('input', {value, id})
    }
  },

}
</script>

<style scoped lang="scss">
.fixed {
  position: sticky;
  left: 0;
  background-color: white;
  z-index: 10;
}
</style>
