<template lang="pug">
  .menu-user
    .menu-user__avatar(
      :style="{backgroundImage: `url('`+user.avatar+`')`, cursor: isInFranchGame ? 'pointer' : ''}"
      @click="openSettings"
    )
      Icon.menu-user__avatar-icon(
        v-if="!user.avatar"
        icon="user-unknown"
      )

    .menu-user__info
      p.menu-user__name
        | {{user.name ? user.name : 'Аноним'}}
      //p.menu-user__description(v-if="isAdmin")
        | Администратор
      p.menu-user__text(v-if="points != undefined && !franch")
        | Мои баллы: {{points}}

    .menu-user__settings(
      @click="openSettings"
    )
      Icon(icon="gear")

</template>

<script>
  import {mapState, mapActions} from 'vuex'

  export default {
    props: ['isInFranchGame'],
    computed: {
      ...mapState('auth', {
        avatar: s => s.data.avatar,
        user: s => s.data.user,
        isAdmin: s => s.data.isAdmin,
      }),
      ...mapState('coursesCourse',{
          points: s => s.data.points
        }),
      franch() {
        return this.$route.path.includes('/franch')
      },
      mobile() {
        return window.innerWidth <= 480
      }
    },
    methods: {
      openSettings() {
        if(this.isInFranchGame)
          this.$router.push({path: '/user/settings'})
      }
    }
  }
</script>