<template lang="pug">
  header.header-desktop
    .header-desktop__container.container
      .header-desktop__title(
        :class="{'-to-prev-': headerPrevLink || $route.meta.headerPrevLink}"
        @click="toPrev"
      )
        Icon.header-desktop__title-arrow(
          v-if="headerPrevLink || $route.meta.headerPrevLink"
          icon="arrow-prev"
        )
        span(v-if="this.$route.meta.useHeaderBreadcrumb")
          | {{title}}
          Icon.header-desktop__title-breadcrumb(icon="arrow-left")
          | {{username}}
        span(v-else) {{title}}
      .header-desktop__search(v-if="isSearch")
        InputSearch.header-desktop__search-input(
          :placeholder="searchPlaceholder"
          v-model="searchValue"
          @input="searchEmit()"
        )
        Icon.header-desktop__search-filter.-pointer-(
          v-if="$route.meta.searchFilter && $route.meta.filterStoreName"
          icon="filter-strainer"
          fill="#36383E"
          @click="filterEmit()"
        )
      .header-desktop__info
        UiButton.important-button.-telegram-(
          v-if="showTelegram"
          to="/questionnaire/telegram"
        )
          .important-button__content
            Icon(icon="telegram")
            span Подключиться к Telegram боту
        Notification.notification__header-desktop
        UserInfo


</template>

<script>
  import {mapState} from 'vuex'
  import UserInfo from './UserInfo'

  export default {
    components: {UserInfo},
    data() {
      return {
        searchValue: '',
        filterOpen: false
      }
    },
    computed: {
      ...mapState('lms', {
        headerPrevLink: s => s.data.headerPrevLink,
        headerTitle: s => s.data.headerTitle,
      }),
      ...mapState('auth', {
        user: s => s.data.user,
      }),
      ...mapState('ratingInvestmentsUser', {
        username: s => `${s.data.localUser.name || ''} ${s.data.localUser.lastname || ''}`
      }),
      showTelegram() {
        return this.user.needTelegram && !this.user.redirectToQuestionnaire
      },
      isSearch() {
        if (this.$route.meta.search) {
          return this.$route.meta.search
        }

        return false
      },
      searchPlaceholder() {
        if (this.$route.meta.searchPlaceholder) {
          return this.$route.meta.searchPlaceholder
        }

        return "Поиск"
      },
      title() {
        if(this.headerTitle)
          return this.headerTitle

        return this.$route.meta.headerTitle || this.$route.meta.docTitle
      }
    },
    mounted () {
      this.initSearch()
    },
    methods: {
      toPrev(){
        if(this.headerPrevLink)
          this.$router.push({path: this.headerPrevLink})

        else if(this.$route.meta.headerPrevLink)
          this.$router.push({path: this.$route.meta.headerPrevLink})
      },
      initSearch() {
        if(!this.$route.meta.search || !this.$route.meta.searchValueName) {
          return
        }

        this.searchValue = this.$route.query[this.$route.meta.searchValueName] ?? ''
      },
      searchEmit(value) {
        this.$emit('pageSearch', value)
      },
      filterEmit() {
        if(!this.$route.meta.filterStoreName) {
          return
        }

        this.filterOpen = !this.filterOpen
        this.$store.dispatch(this.$route.meta.filterStoreName+'/openFilter', this.filterOpen)
      },
    },
  }
</script>
