<template lang="pug">
  .header-desktop-user(@click="toggleSetting" v-click-outside="closeSetting")
    .header-desktop-user__inner
      p.header-desktop-user__name
        | {{user.name && user.name}} {{user.lastname && user.lastname}} {{!user.name && !user.lastname ? 'Аноним' : ''}}

      .header-desktop-user__avatar(
        :style="{backgroundImage: `url('`+user.avatar+`')`}"
      )
        Icon.header-desktop-user__avatar-icon(
          v-if="!user.avatar"
          icon="user-unknown"
        )
    
    SlideUpDown.header-desktop-link-list(:active="isOpen" :duration="300")
      .header-desktop-link-list__inner()
        router-link.header-desktop-link-list__item(to="/user/settings")
          Icon(icon="user-unknown").header-desktop-link-list__icon
          span.header-desktop-link-list__text Профиль
        //- router-link.header-desktop-link-list__item(to="/user/settings/resetpassword")
        //-   Icon(icon="ui-key").header-desktop-link-list__icon
        //-   span.header-desktop-link-list__text Сменить пароль

        //- router-link.header-desktop-link-list__item(to="/user/settings")
        //-   Icon(icon="ui-bell").header-desktop-link-list__icon
        //-   span.header-desktop-link-list__text Настроить уведомления

        router-link.header-desktop-link-list__item.-alert-(to="/logout")
          Icon(icon="ui-exit").header-desktop-link-list__icon
          span.header-desktop-link-list__text Выйти из аккаунта



    
      

</template>

<script>
  import SlideUpDown from 'vue-slide-up-down';
  import vClickOutside from 'v-click-outside'

  import {mapState} from 'vuex'

  export default {
    components: {
      SlideUpDown
    },
    directives: {clickOutside: vClickOutside.directive},
    data() {
      return {
        isOpen: false,
      }
    },
    computed: {
      ...mapState('auth', {
        user: s => s.data.user,
      }),
    },
    methods: {
      toggleSetting() {
        this.isOpen = !this.isOpen;
      },
      closeSetting() {
        this.isOpen = false;
      }
    },
  }
</script>