<template lang="pug">
  .form-item.group__select( :class="{'-error-': isCourse && getFolders.length === 0 && folders && folders.length}")
    span.form-item__title(v-if="title " )
      | {{title}}

    .form-item__block(v-click-outside="close" v-if="folders && folders.length")
      span.form-item__error(v-if="isCourse && getFolders.length === 0")
        | У данного курса отсутсвуют группы

      .form-item__select.select(@click="toggleOpen" :class="{'-error__class-': isCourse && getFolders.length === 0}")
        span.form-item__error(v-if="typeof error !== 'boolean'")
          | {{error}}
        input.form-item__input(
          :disabled="true"
          :value='value && value.name ? ("Группа: "+ value.name ): placeholder'
          :placeholder="placeholder"
        )

      SlideUpDown.select__slider(
        :duration="slideDuration"
        :active="isOpen && isCourse"
      )
        .select__field
            RequrtionRow(
              v-for="(item, itemIdx) in getFolders" 
              :key="item.folder.id"
              :data="item"
              @click="selectgroup"
            )
    

      Icon(
        v-if="value && value.name"
        class="form-item__delete"
        icon="input-delete"
        @click="clearInput"
      )

      Icon.select__icon.form-item__icon(
        v-else
        :icon="!icon ? 'arrow-down' : icon"
        @click="toggleOpen"
        :class="{'-opened-': isOpen}"
      )


    div.height-40px-min(v-else)
      p.ajax__line.ajax__line-table-text
</template>

<script>
  import SlideUpDown from 'vue-slide-up-down';
  import vClickOutside from 'v-click-outside';
  import {mapState, mapActions} from 'vuex'
  import RequrtionRow from './RequrtionRow'

  export default {
    name: "Select",
    components:{
      SlideUpDown,
      RequrtionRow
    },
    directives: {
      clickOutside: vClickOutside.directive
    },
    props:{
      title: {},
      placeholder: {},
      error: {},
      icon: {},
      value:{},
      selected:{},
      disabledByCourse:{}
    },
    data(){
      return {
        data:'',
        isOpen: false,
        slideDuration: 200,
        status: false,
        arrayId:[],
      }
    },
    computed: {
      ...mapState('usersGroups', {
        folders: s => s.data.folders,
      }),
      isCourse(){
        if(this.disabledByCourse && Object.values(this.disabledByCourse).length)
          return true
      },
      getFolders(){
        return this.folders.map(data => {
          let newObject = {
            folder: data.folder
          }
          if(data.groupArray && data.groupArray.length ){
            newObject.groupArray = data.groupArray.filter( el => el.courses.some(elem=> elem.id === this.disabledByCourse.id))
          }
          if(data.childrenFolders && data.childrenFolders.length){
            newObject.childrenFolders = data.childrenFolders.filter(el=> el.groupArray.some(elem=> elem.courses.some(element=> element.id === this.disabledByCourse.id)))
          }

          if((newObject.groupArray && newObject.groupArray.length > 0) || (newObject.childrenFolders && newObject.childrenFolders.length > 0))
            return newObject
        }).filter(el => el)
      }
    },
    watch:{
      folders(val){
        this.setData()
      },
    },
    mounted() {
      this.setData()
    },
    methods:{
      setData(){
        this.data =_.cloneDeep(this.getFolders);
      },
      toggleChecked(itemIdx, idx){
        let data = _.cloneDeep(this.data);
        let item = data[itemIdx];
        let arrayId = []
        if(idx){
          item.groupArray[idx].checked = !item.groupArray[idx].checked;

          item.folder.checked = false;
        }else{
          if(item.folder.checked)
            item.folder.checked = false;
          else{
            item.folder.checked = true;
            item.groupArray.forEach(el=> {
              arrayId.push(el.id)
              el.checked = true
            })
          }
        }
        
        this.data = {...data}
        // this.$emit('update:groupFolders', newgroupFolders)
      },
      selectgroup(group){
        this.$emit('input', group)
        this.close()
        
      },
      clearInput(){
        this.$emit("input",'')
        this.close()
      },
      toggleOpen() {
        if(this.getFolders.length > 0)
          this.isOpen = !this.isOpen
      },
      close() {
        this.isOpen = false
      },
    }
  }
</script>