<template lang="pug">
  .folders-select__list
    label.folders-select__row.-folder-(
      style="flex-flow:row" 
      :style="{'marginLeft':margin+'px'}"
    )
      span.folders-select__folder
        | Папка: {{data.folder.name}}

    template(v-if="data.childrenFolders && data.childrenFolders.length")
      RequrtionRow(
        v-for="folder in data.childrenFolders" 
        :key="folder.id" 
        :data="folder"
        :margin="marginLeft"
        @click="$emit('click', $event)"
      )

    template(v-if="data.groupArray && data.groupArray.length")
      label.folders-select__row.-group-(
        style="flex-flow:row"
        v-for="(group) in data.groupArray" :key="group.id"
        @click="$emit('click', group)"
        :style="{'marginLeft':marginLeft+'px'}"
      )
        span.folders-select__text
          | {{group.name}}
</template>
<script>
export default {
  name:'RequrtionRow',
  props:{
    data:{
      type: Object,
      default: () => {}
    },
    margin:{
      type: Number,
      default: 0
    }
  },
  computed:{
      marginLeft(){
        return +this.margin + 20
      }
  }
}
</script>