<template lang="pug">
  .rating-header
    .rating-header__block
      UiSelectFilter.rating-header__item.-m-(
        title="Выбор курса"
        placeholder="Все курсы"
        :option="folders"
        :value="filterList.folders"

        @input="setFilter('folders', $event)"

        :smart="true"
        :canUnset="true"
        unsetText="Все курсы"
        :maxHeight="200"
      )
      //Убрал, так как бэк сейчас не поддерживает фильтрацию по неделям
      //UiSelect.rating-header__item.-m-(
      //  title="Выбор недели"
      //  placeholder="Все недели"
      //  :option="weekList"
      //  :value="filterList.week"
      //
      //  @input="setFilter('week', $event)"
      //
      //  :smart="true"
      //  :canUnset="true"
      //  unsetText="Все недели"
      //  :unsetValue="''"
      //  :maxHeight="200"
      //)
      UiInput.rating-header__item.-l-(
        title="Найти участника"
        icon="ui-search"
        placeholder="Введите имя участника"

        :value="filterList.search"
        @input="setFilter('search', $event)"
      )
      UiSelectFilter.rating-header__item.-m-(
        v-if="captainList.length"
        title="Найти капитана"
        placeholder="Введите имя капитана"

        :value="filterList.captain"
        @input="setFilter('captain', $event)"
        :option="captainList"

        :smart="true"
        :canUnset="true"
        :maxHeight="200"
      )
      UiSelectFilter.rating-header__item.-m-(
        v-if="cityList.length"
        title="Выбрать город"
        placeholder="Введите город"

        :value="filterList.city"
        @input="setFilter('city', $event)"
        :option="cityList"

        :smart="true"
        :canUnset="true"
        :maxHeight="200"
      )
      UiSelectFilter.rating-header__item.-m-(
        v-if="cityList.length"
        title="Выбрать факультет/сборную"
        placeholder="Введите факультет/сборную"

        :value="filterList.faculty"
        @input="setFilter('faculty', $event)"
        :option="facultyList"

        :smart="true"
        :canUnset="true"
        :maxHeight="200"
      )
    //- .rating-header__block
    //-   UiButton.-transparent-blue-.rating-header__item(
    //-     v-if="!isAdmin"
    //-     :to="`/rating/hundred/user/${user.id}`"
    //-   ) Моя карточка
    //-   UiButton.-transparent-blue-.rating-header__item(
    //-     v-else
    //-     @click="openModal"
    //-   )
    //-     Icon.rating-header__icon(icon="ui-export")
    //-     | Экспорт CSV
    //- CsvModal(
    //-   v-if="isAdmin"
    //-   v-model="isShowModal"
    //- )

</template>

<script>
import { mapState } from 'vuex'
import replaceMultipleRouteQuery from "@lms/functions/replaceMultipleRouteQuery"

import CsvModal from '../CsvModal'


export default {
  components: {
    CsvModal,
  },
  data: () => ({
    isShowModal: false,
    weekList: [
      {
        value: '-1',
        title: 'До курса',
      },
      {
        value: '0',
        title: 'Неделя 1',
      },
      {
        value: '1',
        title: 'Неделя 2',
      },
      {
        value: '2',
        title: 'Неделя 3',
      },
      {
        value: '3',
        title: 'Неделя 4',
      },
      {
        value: '4',
        title: 'Неделя 5',
      },
      {
        value: '5',
        title: 'Неделя 6',
      },
    ]
  }),
  computed: {
    ...mapState('ratingTeams', {
      isGroupLoading: s => s.meta.isGroupLoading,
      filterList: s => s.data.filterList,
      folders: s => s.data.settings.folders.map(folder => ({
        value: String(folder.id),
        title: folder.name,
      })),
      cityList: s => s.data.settings.cities.map(item => ({
        value: String(item),
        title: item,
      })),
      facultyList: s => s.data.settings.faculties.map(item => ({
        value: item.name,
        title: item.name
      })),
      captainList: s => s.data.settings.captains.map(item => ({
        value: String(item.id),
        title: `${item.name} ${item.lastname}`
      })),
    }),
    ...mapState('auth', {
      isAdmin: s => s.data.user.permissions.isAdmin,
      user: s => s.data.user,
      isLoadingUser: s => s.meta.loading,
    }),
  },
  created() {
    this.initData()
  },
  methods: {
    openModal() {
      this.isShowModal = true
    },
    clearTeamList() {
      this.$store.dispatch('ratingTeams/clearTeamList')
    },
    setFilter(path, value) {
      this.$store.dispatch('ratingTeams/setFilter', {path, value})
    },
    getTeamGroupData() {
      this.$store.dispatch('ratingTeams/getTeamGroupData')
    },
    setUrl(queryList) {
      replaceMultipleRouteQuery(
        Object.entries(queryList).map(([name, value])=> ({
          value,
          name,
          method: 'replace'
        })),
      )
    },
    initData() {
      this.$store.dispatch('ratingTeams/getSettings')
      this.getUrlQuery()
      setTimeout(()=> {
        if(!this.isGroupLoading) {
          this.getTeamGroupData()
        }
      }, 0)
    },
    getUrlQuery() {
      let initFilters = {}
      Object.keys(this.filterList).forEach(key => {
        if (key in this.$route.query) {
          initFilters[key] = this.$route.query[key]
        }
      })

      this.$store.dispatch('ratingTeams/initFilter', initFilters)
    },
  },
  watch: {
    filterList: {
      handler: function(value) {
        this.setUrl(value)
        this.getTeamGroupData()
      },
      deep: true,
    },
  },

}
</script>

<style>

</style>
