<template lang="pug">
  .courses_folder
    .courses-cards
      .courses-cards__list
        template(v-if="isAdmin && $permissionsCreate === 2")
          .courses-card.courses-card-create
            Icon.courses-card-create__icon(icon="educational")
              
            UiButton(@click="createNewCourse")
              | Создать курс
        template(v-if="!gettingFolder")
          Course(
            v-for="course in courses" :key="course.id"
            :course="course"
          )

        template(v-else)
          EmptyCourse(
            v-for="item in 4" :key="item"
          )

    MainAsideRight(
      :isOpen="isOpen"
      :asideCanSave="canSave"
      storePath="coursesCourse")
      Aside
    SuccessFacultyModal

</template>

<script>
  import Course from './layouts/Course'
  import MainAsideRight from '@lms/components/MainAsideRight/index'
  import Aside from './layouts/Aside/'
  import EmptyCourse from './layouts/EmptyCourse'
  import {mapActions, mapState} from 'vuex'
  import SuccessFacultyModal from '@views/Courses/components/SuccessFacultyModal'

  export default {
    components: {Course, EmptyCourse, MainAsideRight,Aside, SuccessFacultyModal},
    computed: {
      ...mapState('coursesFolder', {
        folder: s => s.data.folder,
        courses: s => s.data.courses,
        gettingFolder: s => s.meta.gettingFolder,
      }),
      ...mapState('auth', {
        $permissions: s => s.data.user.permissions.courseModuleAdmin,
        isAdmin: s => s.data.user.permissions.isAdmin
      }),
      ...mapState('coursesLesson', {
        lessons: s => s.data.lessons,
      }),
      ...mapState('coursesCourse', {
        isOpen: s => s.aside.meta.isOpen,
        canSave: s => s.aside.meta.canSave
      }),
    },
    async beforeMount(){
      if(this.isAdmin && (this.$permissionsCreate || this.$permissionsUpdate))
        this.getGroups();
      await this.getFolder()
      if(this.folder.name) {
        this.$store.dispatch('lms/setMultipleData', [
          {path: 'headerTitle', value: `Папка: ${this.folder.name}`},
          {path: 'headerPrevLink', value: '/courses/folder/list'}
        ])
      }
    },
    mounted() {
      this.getFolder()
    },
    watch: {
      'folder.name'(val) {
        if(val) {
          this.$store.dispatch('lms/setMultipleData', [
            {path: 'headerTitle', value: `Папка: ${val}`},
            {path: 'headerPrevLink', value: '/courses/folder/list'}
          ])
        }
      }
    },
    methods: {
      ...mapActions('coursesFolder', [
        'getFolder',
        'clearCourses'
      ]),
      ...mapActions('coursesCourse', [
        'createCourse'
      ]),
      ...mapActions('usersGroups', [
        'getGroups'
      ]),
      createNewCourse() {
        this.$store.dispatch('coursesCourse/setAsideMeta', {path: 'isOpen', value: true})
      },
    },
    destroyed() {
      this.clearCourses()
    }
  }
</script>