<template lang="pug">
.questionnaire
  .questionnaire__substrate-wrap
    .questionnaire__substrate
      TelegramConnect
</template>

<script>
import {mapState} from 'vuex'
import TelegramConnect from './components/TelegramConnect'
import Substrate from '../components/Substrate'
export default {
  components: {
    TelegramConnect,
    Substrate
  },
  computed: {
    ...mapState('auth', {
      userData: s => s.data.user,
      getUserData: s => s.meta.getUserData,
    }),
  },
  mounted() {
    this.getUserInfo()
  },
  methods: {
    async getUserInfo() {
      if(!this.gettingUserInfo)
        await this.$store.dispatch('auth/getUserInfo')
    }
  }

}
</script>

<style>

</style>