<template lang="pug">
  .form-item.group__select
    span.form-item__title(v-if="title")
      | {{title}}

    .form-item__block(v-click-outside="close")
      span.form-item__error(v-if="error")
        | {{error}}

      .form-item__select.select(@click="toggleOpen")
        .form-item__input.select-custom
          | {{selectedText ? selectedText : placeholder}}

      SlideUpDown.select__slider(
        :duration="slideDuration"
        :active="isOpen"
      )
        .select__field
          .form-item__select.select.position-relative.margin-bottom-20
            input.form-item__input.select__input(
              v-model="searchingText"
              placeholder="Поиск группы"
            )
            Icon(
              class="form-item__delete"
              icon="input-delete"
              @click="clearInput"
            )
          .folders-select__list(
            v-for="(item, itemIdx) in filteringData" :key="itemIdx+'folder'"
          )
            SelectItem(
              :data="item"
              :path="path"
              :full-data="filteringData"
              @click="saveSelected"
            )


      Icon.select__icon.form-item__icon(
        :icon="!icon ? 'arrow-down' : icon"
        @click="toggleOpen"
        :class="{'-opened-': isOpen}"
      )

</template>

<script>
  import SlideUpDown from 'vue-slide-up-down';
  import vClickOutside from 'v-click-outside';
  import SelectItem from './SelectItem';
  import {mapState, mapActions} from 'vuex'

  export default {
    name: "Select",
    components:{ 
      SlideUpDown,
      SelectItem
    },
    directives: {
      clickOutside: vClickOutside.directive
    },
    props:{
      title: {},
      placeholder: {},
      error: {},
      icon: {},
      path:{}
    },
    data(){
      return {
        isOpen: false,
        slideDuration: 200,
        status: false,
        selectText: '',
        data:[],
        choosen:[],
        searchingText:'',
      }
    },
    computed: {
      ...mapState('usersGroups', {
        folders: s => s.data.folders,
      }),
      ...mapState('usersPoints',{
        groupList: s => s.data.groupList
      }),
      selectedText(){
        // Текст для выбранного значения селекта
        let str = '';
        this.groupList.forEach((item, idx)=> {
          if(this.groupList.length - 1 === idx)
            str += item.name
          else
            str += item.name+', '
        });
        return str
      },
      filteringData(){
  
        return this.data.map(data => {
          let newObject = {
            folder: data.folder
          }
          if(data.groupArray && data.groupArray.length ){
            newObject.groupArray = data.groupArray.filter( el => el.name.toUpperCase().indexOf(this.searchingText.toUpperCase()) > -1)
          }
          if(data.childrenFolders && data.childrenFolders.length){
            newObject.childrenFolders = data.childrenFolders.filter(el=> el.groupArray.find(elem=> elem.name.toUpperCase().indexOf(this.searchingText.toUpperCase()) > -1))
          }
          
          if((newObject.groupArray && newObject.groupArray.length > 0) || (newObject.childrenFolders && newObject.childrenFolders.length > 0))
            return newObject
        }).filter(el=> el)
        
      }
    },
    watch:{
      folders(val){
        this.data = _.cloneDeep(this.folders)
        this.rebuildData()
      },
    },
    beforeMount() {
      this.getGroups();
    },
    mounted(){
        this.data = _.cloneDeep(this.folders)
        if(this.data && this.data.length)
          this.rebuildData()
    },
    methods:{
      ...mapActions('usersGroups',[
        'getGroups'
      ]),
      rebuildData(){
        this.filteringData.forEach( item=> {
          this.reqFunction(item)
        })
      },
      reqFunction(data){
        data.folder.checked = false;
        if(data.groupArray && data.groupArray.length && data.groupArray.length >= 1){
          for(let i = 0; i < data.groupArray.length; i ++){
            data.groupArray[i].checked = false;
          }
          if(data.childrenFolders && data.childrenFolders.length && data.childrenFolders.length >= 1){
            for(let i = 0; i< data.childrenFolders.length; i++){
              this.reqFunction(data.childrenFolders[i]);
            }
          }
        }
      },
      toggleOpen() {
        if(this.folders.length > 0)
          this.isOpen = !this.isOpen
      },
      close(event) {
        this.isOpen = false
      },
      saveSelected(value){
        this.data = this.data.map(el => el.folder.id === value.folder.id ? value : el);
      },
      clearInput(){
        this.searchingText = ''
      }
    }
  }
</script>