<template lang="pug">
  ul.table__row
    li.table__col(v-for="(item, idx) in row" :key="data.groupName + idx")
      p.table__text
        | {{data[item]}}

</template>
<script>
export default {
  props:['data', 'row']
}
</script>