<template lang="pug">
  .table__body
        .table__nav(v-if="!isLoading")
          ul.table__nav-list
            li.table__col(v-for="(item, idx) in getHeaderTable" :key="item+idx")
              p.table__col-title
                | {{tableHeader[item]}}

        .table__content
          template(v-if="!isLoading")
              TableRow(
                v-for="(item, idx) in data" :key="'user'+idx"
                :data="item"
                :row='getHeaderTable'
              )
          template(v-else)
            SkeletRow(v-for="i in 5" :key="i")
</template>
<script>
import TableRow from './TableRow';
import SkeletRow from './SkeletRow'
export default {
  props:['tableData','isLoading'],
  components:{
    TableRow, SkeletRow
  },
  data(){
    return {
      data:'',
      tableHeader:{
          fullName:'Имя',
          city:'Город',
          email:'Email',
          groupName:'Группа',
          points:'Баллы'
        }
    }
  },
  watch:{
    tableData(val){
      this.data = _.cloneDeep(val)
    }
  },
  mounted(){
    this.data = _.cloneDeep(this.tableData)
  },
  computed:{
    getHeaderTable(){
      return Object.keys(this.tableHeader)
    }
  }
}
</script>