<template lang="pug">
  .notification
    .notification-block(@click="isOpen = !isOpen")
      Icon.notification__icon(icon="notification" :class="count == 0 ? 'still' : ''")
      .notification-block__counter(v-if="count > 0")
        | {{count}}

    List(
      v-if="isOpen"
      @close="close"
    )
      
</template>

<script>
  import {mapState, mapActions} from 'vuex'
  import List from './List'

  export default {
    components: {List},
    data() {
      return {
        isOpen: false,
        countInterval: undefined,
      }
    },
    computed: {
      ...mapState('notifications', {
        count: s => s.data.count
      }),
    },
    mounted() {
      this.getNotificationsUnread()
      this.createCountTimer()
    },
    watch: {
      isOpen(val) {
        if (val)
          this.getNotifications()
      },
    },
    methods: {
      ...mapActions('notifications', [
        'getNotifications',
        'getNotificationsUnread',
        'clearData',
      ]),
      close() {
        this.isOpen = false
        this.clearData()
      },
      createCountTimer() {
        this.countInterval = setInterval(() =>
          this.getNotificationsUnread()
        , 30000)
      },
    },
    destroyed() {
      clearInterval(this.countInterval)
      this.close();
    }
  }
</script>