<template lang="pug">
  .notification-block__list(
    v-click-outside="close"
  )
    .notification-block__select(ref="list")
      template(v-if="isLoading")
        SkeletonRow(v-for="i in 3" :key="i")
      template(v-else)
        NotificationItem(
          v-for="(item, idx) in notifications" :key="item.id"
          :class="{'-unread-': !item.isRead}"
          :item="item"
          @mouseenter.native="unreadNotification(idx)"
          @close="close"
        )

        SkeletonRow.-skeleton-(v-if="addingNotifications" :key="'skelet'")

        NoNotification(v-if="!notifications.length")

</template>

<script>
  import {mapState, mapActions} from 'vuex'
  import vClickOutside from 'v-click-outside'
  import NoNotification from './NoNotification'
  import SkeletonRow from './SkeletonRow'
  import NotificationItem from './NotificationItem'

  export default {
    directives: {clickOutside: vClickOutside.directive},
    components: {SkeletonRow, NotificationItem, NoNotification},
    data() {
      return {
        observer: undefined,
        target: undefined,
        notifications: [],
        readIds: [],
        options: {
          root: null,
          threshold: 0,
          rootMargin: '0px',
        },
      }
    },
    computed: {
      ...mapState('notifications', {
        isLoading: s => s.meta.isLoading,
        storeNotifications: s => s.data.notifications,
        addingNotifications: s => s.meta.addingNotifications,
        lastPage: s => s.meta.lastPage,
        count: s => s.data.count
      }),
    },
    mounted() {
      this.options.root = this.$refs.list
    },
    watch: {
      storeNotifications(val) {
        this.notifications = _.cloneDeep(val)
          .map(item => {
            if(this.readIds.includes(item.id))
              item.isRead = true

            return item
          })
      },
      isLoading(val) {
        this.$nextTick( () => {
          if(!val)
            this.observerFunction()
        })
      },
      addingNotifications(val) {
        this.$nextTick( () => {
          if(!val && !this.lastPage)
            this.observerFunction()
        })
      }
    },
    methods: {
      ...mapActions('notifications', [
        'addMoreNotifications',
        'setData',
        'setMeta',
      ]),
      observerFunction() {
        if(!this.notifications.length)
          return

        this.observer = new IntersectionObserver(this.handleObserver, this.options);
        this.target = this.$refs.list.querySelector('.notification-block__item:last-child')
        this.observer.observe(this.target)
      },
      handleObserver(entries, observer) {
        let entry = entries[0]
        if(entry.isIntersecting) {
          observer.unobserve(entry.target)
          this.addMoreNotifications()
        }
      },
      close() {
        this.$emit('close')
      },
      unreadNotification(idx){
        if(!this.notifications[idx].isRead) {
          this.readIds.push(this.notifications[idx].id)
          this.notifications[idx].isRead = true
          this.setData({path: 'count', value: +this.count - 1})
        }
      }
    },
    destroyed() {
      if(this.observer)
        this.observer.disconnect()
    }
  }
</script>