<template lang="pug">
  .notification-block__item
    .notification-block__item-icon
      Icon(:icon="functionIcon")
      p.table__text.notification-block__item-text
        | {{item.title}}
      p.table__text_default.table__text
          | {{functionDate}}
    p.table__text.notification-block__item-description
      | {{item.description}}
    p.table__text.notification-block__text-color(v-if="item.link.typeId > 0" @click="toMove")
      | Перейти

</template>

<script>
  import moment from 'moment'

  export default {
    props: {
      item: {},
    },
    data: () => ({
      icons: [
        'notification__time',
        'notification__ddl',
        'notification__homework',
        'notification__points',
      ]
    }),
    computed: {
      functionDate() {
        let currDate = moment(moment().format('YYYY-MM-DD').split('-'))
        let notificationDate = moment(moment(this.item.createdAt).format('YYYY-MM-DD').split('-'))

        let diff = currDate.diff(notificationDate, 'days');
        if (diff == 0)
          return `Сегодня ${moment(this.item.createdAt).format('H:mm')}`
        else if (diff == 1)
          return `Вчера ${moment(this.item.createdAt).format('H:mm')}`
        else
          return moment(this.item.createdAt).format('YYYY-MM-DD HH:mm:ss')
      },
      functionIcon() {
        switch (this.item.iconId) {
          case 1:
            return 'notification__time'
          case 2:
            return 'notification__ddl'
          case 3:
            return 'notification__homework'
          case 4:
            return 'notification__points'
          default:
            return ''
        }
      }
    },
    methods: {
      toMove() {

        switch (parseInt(this.item.link.typeId)) {
          case 1:
            // переход на внешний ресурс
            window.open(this.item.link.content)
            break
          case 2:
            // переход на урок
            if(this.$route.path !== `/courses/lesson/${this.item.link.content}`)
              this.$router.push({path: `/courses/lesson/${this.item.link.content}`})

            break
          case 3:
            // блок оплаты
            break
          default:
            break
        }
        this.$emit('close')
      },
    }

  }
</script>