<template lang="pug">
  aside.aside(@click.self="closeAside")
    .aside__block
      .aside__header
        AsideTabsButtons.aside-buttons

        p.aside__heading
          | {{titles[asideBlockActive]}}

        Icon.aside__ico-close(
          v-if="isMobile"
          @click="closeAside"
          icon="close-ico"
        )

      component.aside__main(:is="asideBlockActive")

</template>

<script>
  import AsideTabsButtons from "@lms/components/AsideTabsButtons";
  import KnowledgeBase from "./components/KnowledgeBase";
  import Market from "./components/Market/index";
  import Referral from "./components/Referral";

  import {mapState} from 'vuex'

  export default {
    components: {KnowledgeBase, Market, Referral, AsideTabsButtons},
    data: () => ({
      isMobile: false,
      titles: {
        KnowledgeBase: 'База знаний',
        Market: 'Прибыль',
        Referral: 'Продажи'
      }
    }),
    computed: {
      ...mapState('game', {
        asideBlockActive: s => s.aside.data.currentBlock,
      }),
    },
    mounted() {
      if(window.innerWidth < 481)
        this.isMobile = true
    },
    methods: {
      closeAside(){
        this.$store.dispatch('game/setAsideMeta', {path: 'isOpen', value: false})
      },
    }
  }
</script>