<template lang="pug">
  .chart
    .chart__list
      Chart(
        v-for="chart in chartList" :key="chart.id"
        :chart-data="chart.chart"
        color="blue"
      ) 
        .chart__item-field
          span {{chart.title}}
          span.chart__item-subtitle
            |  {{chart.description}}
        .chart__item-field
          span.chart__item-subtitle.-low- Всего: {{chart.summ}} {{chart.metric}}
  
</template>

<script>
import {mapState} from 'vuex'

import numberFormat from "@lms/filters/numberFormat.filter";
import dateFilter from "toolbox/filters/date.filter";
import Chart from '@lms/components/UiKit/Chart'

export default {
  components: {
    Chart,
  },
  props: {
    week: {},
  },
  data: () => ({
    chartList: [],
  }),
  computed: {
    ...mapState('ratingSpeedUser', {
      userWeekList: s => s.data.userWeekList,
      userDayList: s => s.data.userDayList,
      user: s => s.data.user,
      streamId: s =>s.data.info.streamId,
      isLoadingUser: s => s.meta.isLoadingUser,
    }),
    isWeek() {
      return this.week === '' 
    },
  },
  methods: {
    getChartList() {
      let description = this.isWeek ? 'за все недели' : 'за неделю';
      let chartList = [
        {
          id: 0,
          title: 'Выручка',
          summ: '',
          chart: this.getWeekChart(0),
          description,
          metric: '₽'
        },
        {
          id: 1,
          title: 'Прибыль',
          summ: '',
          chart: this.getWeekChart(1),
          description,
          metric: '₽'
        },
      ]

      chartList = chartList.map(item => {
        let summ = item.chart.datasets[0].data.reduce((summ, item) => +summ + +item, 0)

        return ({
          ...item,
          summ: numberFormat(summ)
        })
      })

      this.chartList = chartList

    },
    getWeekChart(id, path = 'profit') {
      let labels = {
        weeks: ['1 нед', '2 нед', '3 нед', '4 нед', '5 нед', '6 нед'],
        days:  ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'],
      }

      let selectLabels = this.isWeek ? labels.weeks : labels.days;

      let weekList = []
      if(this.isWeek)
        weekList = this.userWeekList.filter(({channelId}) => channelId === id)
      else
        weekList = this.userDayList[id]

        

      let data = [];
      let tooltipTitle = [];

      if(weekList && weekList.length) {
        data = weekList.filter(week => week.weekId >= 0).map(week => +week[path] || 0)
        let format = "DD.MM"

        tooltipTitle = weekList.map(({weekInterval}) => {
          let dateStart = dateFilter(weekInterval.startWeek, format)
          let dateEnd = dateFilter(weekInterval.endWeek, format)
          return `${dateStart} - ${dateEnd}`
        })
      } else {
        data = selectLabels.map(() => 0);
      }


      let chart = {
        labels: selectLabels,
        datasets: [
          {
            backgroundColor: 'transparent',
            tooltipTitle,
            data
          }
        ],
      }
      return chart
    },
  },
  mounted() {
    this.getChartList()
  },
  // Обновляем график при смене значений
  watch: {
    userWeekList: {
      handler: function() {
        this.getChartList()
      },
      deep: true,
    },
    userDayList: {
      handler: function() {
        this.getChartList()
      },
      deep: true,
    }
  }

}
</script>

<style>

</style>
