<template lang="pug">
  .answers-body
    .ajax__line.courses__ajax.courses__ajax_s(v-if="gettingTaskList")
    .answers-body-selects( v-else )
      SelectGroup(
        v-model="choosen"
        :fields="selectData"
        placeholder="Выберите курс для проверки"
      )
      SelectCourse(
        v-model="taskInfo"
        :selectData="choosen"
        :fields="courseData"
        placeholder="Выберите раздел для проверки"
      )
      Search.group__select(
        v-if="!gettingTaskList && checkPermission({key: 'userModuleAdmin', type: 'read'})"
        v-model="search"
        :taskInfo="taskInfo"
      )

    SkeletonCard(v-if="gettingTask")
    template(
      v-else-if="taskBlocks.length > 0"
      v-for="(task, idx) in taskBlocks"
    )
      Task(
        v-if="task" :key="idx"
        :propTask="task"
        :taskInfo="taskInfo"
        :tariffs="tariffs"
      )
    template(v-else)
      .answers-task
        p.answers-task__empty
          | Задания отсутствуют

</template>
<script>
  import Task from './Task';
  import SkeletonCard from '../Feed/components/Skeleton/SkeletonCard';
  import Search from './components/Search'
  import SelectGroup from './components/Select'
  import SelectCourse from './components/SelectCourse'
  import {mapActions, mapState} from 'vuex';

  export default {
    components: {
      Task,
      SkeletonCard,
      SelectGroup,
      SelectCourse,
      Search
    },
    data() {
      return {
        taskInfo: '',
        choosen: '',
        selectedTask: '',
        search:'',
      }
    },
    computed: {
      ...mapState('answersValidating', {
        selectData: s => s.data.selectData,
        taskBlocks: s => s.data.taskBlocks,
        tariffs: s => s.data.tariffs,
        gettingTask: s => s.meta.gettingTask,
        gettingTaskList: s => s.meta.gettingTaskList,
        courseData: s => s.data.courseData
      }),
      ...mapState('auth',{
        $permissions: s => s.data.user.permissions.taskAnswerCheckAdmin,
        $otherPermissions: s => s.data.user.permissions,
        isAdmin: s => s.data.user.permissions.isAdmin
      }),
    },
    mounted() {
      this.getTaskList();
    },
    watch:
    {
      choosen() {
        this.getTaskListData(this.choosen)
      },
      taskInfo() {
        this.taskInfo ? this.filterTask() : this.clearTaskData()
      },

    '$route.query'()
      {
        if (this.taskInfo)
          this.filterTask()
      }
    },
    methods:{
      ...mapActions('answersValidating',[
        'getTaskList',
        'getTaskListData',
        'getTask',
        'clearTask',
        'clearTaskData',
      ]),
      filterTask() {
        this.getTask({
          ...this.taskInfo,
          userId: this.$route.query.userId,
          name: this.$route.query.name,
        })
      },

    },
    destroyed(){
      this.clearTask()
    }
  }
</script>