<template lang="pug">
  .input__container
    .input__header
      label.header__text
        | {{ title }}
        span(v-if="required") &nbsp;*
      .header__max(v-if="maxSymbols > 0 && (!invalid || !invalidText)")
        | Максимум {{ maxSymbols }} символов
      .header__invalid(v-if="invalid && invalidText")
        | {{ invalidText }}
    input.input__input(
      v-if="type !== 'textarea'"
      :value="value"
      :placeholder="placeholder"
      :required="required"
      :disabled="disabled"
      :type="type"
      :maxlength="maxSymbols"
      :minlength="minSymbols"
      :class="{ 'invalid': invalid }"
      @input="onInput($event.target.value)"
    )
    textarea.input__textarea(
      v-else
      :value="value"
      :placeholder="placeholder"
      :required="required"
      :disabled="disabled"
      :maxlength="maxSymbols"
      :minlength="minSymbols"
      :class="{ 'invalid': invalid }"
      @input="onInput($event.target.value)"
    )
</template>

<script>
export default {
  name: 'PartnerInput',
  props: {
    title: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      required: true
    },
    maxSymbols: {
      type: Number,
      default: undefined
    },
    minSymbols: {
      type: Number,
      default: 1
    },
    placeholder: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    invalid: {
      type: Boolean,
      default: false
    },
    invalidText: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text',
      validator: function (v) {
        return ['text', 'url', 'textarea'].includes(v);
      }
    }
  },
  methods: {
    onInput(e) {
      this.$emit('input', e);
    }
  }
}
</script>

<style scoped lang="scss">
@import 'public/lms/sass/utils/*';

.input {
  &__container {
    @include uiFont;
    margin-top: 16px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    @extend %text-500-12;
    color: $ui-gray-middle;

    .header {
      &__text > span {
        color: $ui-red;
        vertical-align: top;
      }

      &__invalid {
        color: $ui-red;
        margin-left: 10px;
      }
    }
  }

  &__input, &__textarea {
    @include uiFont;
    @extend %text-400-14;
    width: 100%;
    color: $ui-black;
    border: unset;
    border-radius: 4px;
    padding: 14px 16px;
    background: #F7F7FB;
    margin-top: 5px;

    &::placeholder {
      color: $ui-light-grey-4-5-contrast;
    }

    &.invalid {
      border: thin solid $ui-red;
    }
  }
  &__textarea {
    resize: none;
  }
}
</style>
