<template lang='pug'>
	
  .main-block
    .settings__block.settings-edit
      p.main-block__title.settings__title Анкета бизнеса

      .settings__body
        ul.settings-edit__list
          li.settings-edit__item.-max-
            TextArea(
              v-model="user.businessInfo"
              title="Информация о бизнесе"
            )

          li.settings-edit__item.-max-
            Select(
              title="Сфера бизнеса"
              v-model="user.businessCategoryId"
              :selectData="businessSelect"
              :error="$v.$dirty && !$v.user.businessCategoryId.required"
            )

          li.settings-edit__item
            Input(
              v-model="user.niche"
              title="Ниша"
              :error="$v.$dirty && !$v.user.niche.required"
            )

          li.settings-edit__item
            Select(
              v-model="user.businessLocationTypeId"
              :selectData="businessLocationsArray"
              title="Размещение"
            )

          li.settings-edit__item
            Input(
              v-model="user.businessCity"
              title="Город"
            )

          li.settings-edit__item
            Input(
              type="number"
              v-model="user.profitPerWeek"
              title="Прибыль в неделю"
            )

          li.settings-edit__item.-max-
            TextArea(
              v-model="user.franchises"
              title="Франшизы (города присутствия)"
            )

      .settings-edit__controls
        Button.-xs-(@click="saveCall" :isLoading="updatingCompany") Сохранить
        //ButtonCancel.-xs-.hover__link(@click="closeEdit") Отмена
			
		
</template>
	
<script>
  import {mapState} from 'vuex'
  import {required} from 'vuelidate/lib/validators'

	export default {
    props: {
      propUser: {}
    },
    data: () => ({
      user: {
        niche: '',
        businessInfo: '',
        businessCity: '',
        profitPerWeek: '',
        franchises: '',
        businessLocationTypeId: '',
        businessCategory: '',
        businessCategoryId: '',
      },
      businessLocationsArray: [
        {text: 'Онлайн', value: '1'},
        {text: 'Офлайн', value: '2'},
        {text: 'Совмещенный', value: '3'},
      ]
    }),
    computed: {
      ...mapState('auth', {
        businessTypes: s => s.data.businessTypes,
      }),
      ...mapState('settingStore', {
        updatingCompany: s => s.meta.updatingCompany
      }),
      businessSelect() {
        return this.businessTypes.map(item => {
          return {
            text: item.text,
            value: item.id,
          }
        })
      }
    },
    beforeCreate() {
      this.$store.dispatch('auth/getUserBusinessTypes')
    },
    mounted() {
      this.user = _.cloneDeep(this.propUser)
    },
    watch: {
      businessTypes(val) {
        if(!this.user.businessCategoryId) {
          this.user.businessCategoryId = val[0].id
          this.user.businessCategory = val[0].text
        }
      },
      'user.businessCategoryId'(val) {
        let obj = this.businessTypes.find(item => item.id === val)
        if(obj)
          this.user.businessCategory = obj.text
      }
    },
    methods: {
      async saveCall() {
        if(this.$v.$invalid){
          this.$v.$touch()
          return
        }

        await this.$store.dispatch('settingStore/setData', {path: 'stagedUserCompany', value: this.user})
        let status = await this.$store.dispatch('settingStore/settingUpdate', {type: 'company'})
        if(status)
          this.closeEdit()
      },
      closeEdit(){
        this.$emit('update:isEditCompany', false)
      }
    },
    validations() {
      return {
        user: {
          niche: {required},
          businessCategoryId: {required},
        }
      }
    },
    destroyed() {
      this.$store.dispatch('settingStore/setData', {path: 'stagedUserCompany', value: {}})
    }
  }
</script>