<template lang='pug'>
	
	.main-block
		.settings__block
			p.main-block__title.settings__title Анкета бизнеса
			p.settings__descr(v-if="user.businessInfo") {{user.businessInfo}}
			
			.settings__body
				ul.settings__list
					li.settings__item(v-if="user.niche")
						p.main-block__label Ниша: 
							span.color  {{user.niche}}

					li.settings__item(v-if="user.city")
						p.main-block__label Город: 
							span.color  {{user.city}}

					li.settings__item(v-if="user.franchises")
						p.main-block__label Франшизы (города присутствия):
							span.color  {{user.franchises}}


				ul.settings__list
					li.settings__item(v-if="user.businessLocationTypeId")
						p.main-block__label Размещение: 
							span.color {{businessLocation}}

					li.settings__item(v-if="user.profitPerWeek")
						p.main-block__label Прибыль в неделю: 
							span.color {{user.profitPerWeek}}
			

			OptionsList.settings__options(
				:optionsFields="optionsFields"
			)
		
</template>
	
<script>
	export default {
		props: {
			user: {}
		},
		data() {
			return {
				optionsFields: [
					{
						text: 'Редактировать',
						func: this.openBlockEdit,
						icon: 'edit',
					},
				]
			}
		},
		computed: {
			businessLocation() {

				switch (this.user.businessLocationTypeId) {
					case '1':
						return 'Онлайн'
					case '2':
						return 'Офлайн'
					case '3':
						return 'Смешанный'
					default:
						return 'Смешанный'
				}
			}
		},
		methods: {
			openBlockEdit() {
				this.$emit('isEditLocal', true)
			},
		}
	}
</script>