<template lang="pug">
  transition(name="fade" appear)
    .ui-kit-modal(
      v-if="value"
      @mousedown.self="close"

      @keyup.esc="close"
      @keyup.enter="$emit('accept')"
      tabindex="0"
      ref="modal"
    )
      .ui-kit-modal__window(
        :class="[ windowColor ? `-${windowColor}-` : '', windowClass]"
      )
        Icon.ui-kit-modal__close(v-if="showClose" icon="close" @click="close")
        .ui-kit-modal__body(
          :class="bodyClass"
        )
          slot
          .ui-kit-modal__footer(
            v-if="showFooter"
            :class="{'-reverse-': reverse}"
          )
            slot(name='footer')
              UiButton.ui-kit-modal__button(
                :class="[acceptClass]"
                :color="acceptColor"
                :disabled="acceptDisabled"
                min-size='s'
                @click="$emit('accept')"
              )
                template(v-if="!loadingAccept")
                  | {{acceptText}}
                span(v-else)
                  UiLoaderDots


              UiButton.ui-kit-modal__button(
                :class="[rejectClass]"
                :color="rejectColor"
                min-size='s'
                @click="$emit('reject')"
              )
                template(v-if="!loadingReject")
                  | {{rejectText}}
                span(v-else)
                  UiLoaderDots

</template>

<script>
  import UiLoaderDots from "../LoaderDots";

  export default {
    components: {UiLoaderDots},
    props:{
      value:{
        type: Boolean,
        default: false
      },
      windowColor:{
        type: String,
        default: undefined
      },
      acceptColor: {
        type: String,
        default: 'success'
      },
      acceptText: {
        type: String,
        default: 'Принять'
      },
      acceptDisabled: {
        type: Boolean,
        default: false
      },
      rejectColor: {
        type: String,
        default: 'alert',
      },
      rejectText: {
        type: String,
        default: 'Отмена',
      },
      reverse: {
        type: Boolean,
        default: false,
      },
      acceptClass: {
        type: String,
        default: ''
      },
      rejectClass: {
        type: String,
        default: ''
      },
      showClose: {
        type: Boolean,
        default: true
      },
      showFooter: {
        type: Boolean,
        default: true
      },
      windowClass: {
        type: String,
        default: undefined
      },
      bodyClass: {
        type: String,
        default: undefined
      },
      destroy: {
        type: Boolean,
        default: false
      },
      loadingAccept: {
        type: Boolean,
        default: false,
      },
      loadingReject: {
        type: Boolean,
        default: false,
      },
    },
    mounted() {
      this.$nextTick(() => {
        this.$root.$el.append(this.$el)
        if(this.value === true)
          this.$refs.modal.focus()
      })
    },
    methods: {
      close() {
        this.$emit('input', false)
        this.$emit('close')
      }
    },
    watch: {
      value() {
        if(this.value === true) {
          this.$nextTick(() => {
            this.$refs.modal.focus()
          })
        } else {
          this.$refs.modal.blur()
        }
      }
    },
    beforeDestroy() {
      document.querySelector('body').style.overflow = ""
      this.value
    },
    destroyed(){
      if (this.destroy)
        this.$el.remove()
    },
  }
</script>
