<template lang="pug">

  .aside__block
    .aside__subblock
      .aside__list
        .aside__item.-full-
          Avatar(
            :img="user.avatar"
            circle
          )
        .aside__item
          Input(
            title="Имя"
            :value="user.name"
            :disabled="true"
          )
        .aside__item
          Input(
            title="Фамилия"
            :value="user.lastname"
            :disabled="true"
          )
        .aside__item
          Input(
            title="Email"
            :value="user.email"
            :disabled="true"
          )
        .aside__item
          Input(
            title="Телефон"
            :value="user.phone"
            :disabled="true"
          )
        .aside__item
          Input(
            title="Город"
            :value="user.city"
            :disabled="true"
          )
        .aside__item.-full-(v-if="user.vkLink || user.fbLink || user.instaLink")
          InlineSocials(
            :vk="user.vkLink"
            :fb="user.fbLink"
            :insta="user.instaLink"
          )
        .aside__item.-full-
          TextArea(
            title="Информация о бизнесе"
            :value="user.businessInfo"
            :disabled="true"
          )
        .aside__item.-full-
          Input(
            title="Сфера бизнеса"
            :value="getBusinessCategory(user.businessCategoryId)"
            :disabled="true"
          )
        .aside__item
          Input(
            title="Город"
            :value="user.businessCity"
            :disabled="true"
          )
        .aside__item(v-if="user.businessLocationTypeId")
          Input(
            title="Размещение"
            :value="getBusinessLocation(user.businessLocationTypeId)"
            :disabled="true"
          )
        .aside__item
          Input(
            title="Прибыль в неделю"
            type="number"
            icon="ruble"
            :value="user.profitPerWeek"
            :disabled="true"
          )

        .aside__item.-full-
          TextArea(
            title="Франшизы (города присутствия)"
            :value="user.franchises"
            :disabled="true"
          )

</template>

<script>
  import InlineSocials from '@lms/components/InlineSocials'
  import {mapState} from 'vuex'

  export default {
    components: {InlineSocials},
    computed: {
      ...mapState('usersGroups', {
        user: s => s.aside.data.user
      }),
      ...mapState('auth', {
        storeBusinessTypes: s => s.data.businessTypes,
      }),
      businessTypes() {
        return this.storeBusinessTypes.map(item => {
          return {
            text: item.text,
            id: item.id,
          }
        })
      }
    },
    methods: {
      getBusinessCategory(id) {
        let cat = this.businessTypes.find(el => el.id === id)
        return cat ? cat.text : 'Нет бизнеса'
      },
      getBusinessLocation(id) {
        if(!id)
          return ''

        switch (+id) {
          case 1:
            return 'Онлайн'
          case 2:
            return 'Офлайн'
          case 3:
            return 'Совмещенный'
          default:
            return ''
        }
      }
    },
    destroyed() {
      this.$store.dispatch('usersGroups/setAsideMeta', {path: 'isUserOpen', value: false})
      this.$store.dispatch('usersGroups/setAsideData', {path: 'user', value: {}})
    }
  }
</script>