<template lang='pug'>
		
  .main-block
    .table.-users-group-table-
      .table__header
        .table__header-inner
          p.table__title Список групп

          .table__buttons(v-if="$permissionsCreate")
            Button.-s-(@click="openCreateFolder")
              | Добавить папку

      .table__body
        .table__nav
          ul.table__nav-list
            li.table__col
              p.table__col-title
                | Название
            li.table__col
              p.table__col-title  
                | Участников
            li.table__col
              p.table__col-title
                | &nbsp;

        .table__content
          template(v-if="!isLoadGroup")
            TableRow(
              v-for="(folder, idx) in folders" :key="'folder'+idx"
              :paddingLeft="30"
              :data="folder"
            )

          template(v-else)
            SkeletRow(v-for="i in 5" :key="i")

</template>
	
<script>
  import TableRow from './components/Row'
  import SkeletRow from './components/SkeletRow'
	import {mapState, mapActions} from 'vuex'
	
	export default {
		components: {TableRow, SkeletRow},
    computed: {
		  ...mapState('usersGroups', {
        folders: s => s.data.folders,
        isLoadGroup: s => s.meta.isLoadGroup
      }),
      ...mapState('auth',{
        $permissions: s => s.data.user.permissions.userGroupModuleAdmin,
        isAdmin: s => s.data.user.permissions.isAdmin
      }),
      optionsFields(){
        let arr = []
        if(this.$permissionsUpdate)
          arr.push(this.options[0])
        if(this.$permissionsCreate)
          arr.push(this.options[1])
        if(this.$permissionsDelete)
          arr.push(this.options[2])

        return arr
      }
    },
		methods: {
			...mapActions('usersGroups', [
				'getCourse',
				'setAsideMeta',
				'setAsideData',
			]),
      openCreateFolder() {
				this.setAsideData(
				  {
            path: 'folder',
            value: {
              name: '',
              parentId: '',
            }
				  }
        )
				this.setAsideMeta({path: 'isOpen', value: true})
			},
		}
	}
</script>