<template lang="pug">
  .ui-line-loader.ajax__line.-round-(
    :class="{'-line-': line}"
    :style="style"
  )
</template>

<script>
export default {
  props: {
    customSize: {
      default: true,
    },
    width: {
      default: "250px",
    },
    maxWidth: {
      default: '100%',
    },
    minWidth: {},
    height: {
      default: 'calc(1em + 2px)',
    },
    line: {
      default: false,
    }
  },
  computed: {
    style() {
      if(!this.customSize) return

      return {
        width: this.width,
        height: this.height,
        maxWidth: this.maxWidth,
        minWidth: this.minWidth,
      }
    }
  }

}
</script>

<style>

</style>