.action

	&__list
		border-radius: 4px
		border: 1px solid $border-color
		padding: 0 10px

	&__item
		display: flex
		align-items: flex-start
		width: 100%

		&:not(:last-child)
			border-bottom: 1px solid $border-color

		&.-hidden-
			height: 0
			overflow: hidden
			visibility: hidden
			border: none

	&__input
		@extend %text-500-12
		color: $text-dark-color
		width: 100%
		padding: 10px 10px 10px 0

	&__icon
		margin: 10px 7px 0 0
