$size: 44
.avatar
    position: relative
    // background-position: center
    // background-repeat: no-repeat
    // background-size: cover
    &-xxsmall
        width: $size - 19 +px
        min-width: $size - 19 +px
        height: $size - 19 +px
    &-exsmall
        width: $size - 10 +px
        min-width: $size - 10 +px
        height: $size - 10 +px
    &-small
        width: $size - 4 +px
        min-width: $size - 4 +px
        height: $size - 4 +px

    &-medium
        width: $size+px
        min-width: $size+px
        height: $size+px

    &-large
        width: $size+ 16 + px
        min-width: $size+ 16 + px
        height: $size+ 16 + px

    &-circle
            border-radius: 100%

    &-rounded
            border-radius: 4px

    &-image
        width: 100%
        height: 100%
        background-origin: border-box
        background-position: center
        background-repeat: no-repeat
        background-size: cover