$toggler-part-height: 4px
$toggler-part-bg-color: $color-primary
$transition-time: .3s
	
.burger 
	display: inline-block
	position: relative
	z-index: 1
	width: 24px
	border: none
	padding: 0
	line-height: 20px
	background: transparent
	user-select: none
	cursor: pointer

	> span 
		display: inline-block
		position: relative
		width: 100%
		height: $toggler-part-height
		vertical-align: middle
		font-size: 0
		border-radius: 5px
		color: transparent
		background: $main-light-color
		transition: background $transition-time $transition-time
		
		&::before,
		&::after
			content: ''
			position: absolute
			left: 0
			width: 100%
			border-radius: 5px
			height: $toggler-part-height
			background: $main-light-color
			transform-origin: 50% 50%
			transition: top $transition-time $transition-time, transform $transition-time
			
		&::before 
			top: -8px
		
		&::after 
			top: 8px
		
	&.-active-

		> span
			transition: background $transition-time 0s
			background: transparent

			&::before,
			&::after 
				top: 0
				transition: top $transition-time, transform $transition-time $transition-time
			
			&::before 
				transform: rotate3d(0, 0, 1, 45deg)
			
			&::after 
				transform: rotate3d(0, 0, 1, -45deg)
			
		
	
