.button
  padding: 11px 20px
  @extend %text-700-12
  border: 2px solid
  border-radius: 6px
  cursor: pointer
  transition: all .2s ease
  text-align: center
  display: inline-block
  text-decoration: none

  &.-s-
    min-width: 180px

    +media(640px)
      min-width: 120px

  &.-xs-
    min-width: 140px
    padding: 6px 10px

  &.-xl-
    min-width: 140px
    padding: 10px

  &.-full-
    width: 100%

  


.button-cancel
  background: none
  border: none
  @extend %text-600-12
  color: $text-extra-color
  cursor: pointer


.button-primary
  color: $main-light-color
  background: $main-accent-color
  border-color: $main-accent-color
  
  &:hover
    background: $main-light-color
    color: $main-accent-color
  
  &.-disabled-
    pointer-events: none
    color: $border-color
    background: $main-light-color
    border-color: $border-color

.button-accent-fourth
  color: $main-light-color
  background: $main-accent-fourth-color
  border-color: $main-accent-fourth-color

  &:hover
    background: $main-light-color
    color: $main-accent-fourth-color

  &.-disabled-
    pointer-events: none
    color: $border-color
    background: $main-light-color
    border-color: $border-color


.button-action
  color: $main-accent-color
  background: $main-bg
  border-color: $main-bg

  &:hover
    color: $main-light-color
    background: $main-accent-color
    border-color: $main-accent-color

  &.-disabled-
    pointer-events: none
    color: rgba($main-accent-color, 0.5)

.button-transparent
  color: $main-accent-color
  background: transparent
  border-color: transparent

  &.-disabled-
    pointer-events: none

.button-loading
  position: relative
  color: transparent
  pointer-events: none
  background: lighten($main-accent-color, 10%)
  border-color: lighten($main-accent-color, 10%)

  &::before
    content: ''
    +cxy
    position: absolute
    display: block
    +size(16px)
    border: 2px solid #fff
    border-top-color: transparent
    border-radius: 50%
    animation: button-loading 1s linear infinite


@keyframes button-loading
  0%
    transform: translate(-50%, -50%) rotate(0deg)
  100%
    transform: translate(-50%, -50%) rotate(360deg)

.btn__absolute
  position: absolute
  bottom: 20px
  width: auto !important
  right: 20px
  width: auto
  padding: 0
  margin: auto