.chart

  &__list
    display: grid
    grid-template-columns: repeat(3, minmax(260px, 1fr))
    grid-auto-rows: 1fr
    grid-gap: 20px

    +media(1140px)
      grid-template-columns: repeat(2, minmax(260px, 1fr))

    +media(640px)
      grid-template-columns: 100%
      grid-auto-rows: auto


  &__item
    @extend %text-500-16
    padding: 10px 20px
    border-radius: 4px
    background: $ui-white

    &-title
      margin-bottom: 6px
      &.-additional-
        flex-shrink: 0
    &-field
      & + & 
        margin-top: 3px

    &-header
      display: flex
      justify-content: space-between

    
    &-subtitle
      color: $ui-gray-middle
      &.-low-
        @extend %text-500-14

    &-container
      &.-round-chart-
        padding: 0 10%

    &-chart
    
  &-round
    // width: 100%
    // height: 100%
    &__scale
      // transform-origin: center center
      // transform: rotate(180deg)

      fill: transparent
      stroke-width: 12px
      stroke-linecap: round
      stroke-dashoffset: 0

      stroke-linecap: round
      stroke-linejoin: round

      &.-static-
        stroke: $ui-border
        stroke-dasharray: 1000 1000
      &.-dynamic-
        stroke: #67B6FF
        transition: stroke-dasharray .3s;
    &__text
      @extend %text-500-12
      fill: $ui-gray-middle
    &__title
      @extend %text-500-22
      fill: $ui-blue-accident

      