.checkbox
  flex-shrink: 0
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center

  &__icon
    +size(9px, 8px)
    flex-shrink: 0
    fill: $main-light-color

    &-wrapper
      +size(16px)
      border: 1px solid rgba($main-accent-color, .75)
      border-radius: 50%
      display: flex
      transition: all .2s
      justify-content: center
      align-items: center
      user-select: none
      &.-rect-
        border-radius: 2px

      &.-checked-
        border-color: $main-accent-color
        background: $main-accent-color
        &.checkbox__success
          border-color: $color-success
          background: $color-success
        &.checkbox__error
          border-color: $color-error
          background: $color-error
      &.checkbox__error-success
        border: 2px solid $color-success
        background-color: transparent
            

  &__text
    @extend %text-600-12
    color: $text-color
    margin-left: 10px
    margin-top: 2px
