.comment
  margin-top: 20px
  width: 100%
  &-files
    display: flex
    flex-flow: row wrap
    & .file 
      padding: 5px
  &-bg
    margin-top: 10px
    padding: 10px 20px
    // border: 1px solid $border-color
    // border-radius: 4px
    // background-color: white
  &-input
    display: flex
    flex-flow: row
    justify-content: space-between
    width: 100%
    align-items: center
    border-top: 1px solid $border-color
    padding-top: 10px
    +media(500px)
      flex-flow: column
      justify-content: center
      &-value 
        width: 100% !important
        
    &-value
      width: calc( 100% - 160px)
      &__data
        background-color: #F7F8FC !important
        border-color: transparent !important
        min-height: 50px !important
        // color: #B8B8BE !important
      &__admin
        border-color: transparent !important
        // color: #B8B8BE !important
  &-actions
    display: flex
    flex-flow: column
    justify-content: flex-end
    align-items: flex-end
    max-width: 150px
    +media(500px)
      flex-flow: row wrap
      max-width: 100%
      width: 100%
      align-items: center
      justify-content: space-between
      
  &-btn
    padding: 5px!important

    &-prim
      color: $main-accent-color
  &-submit
    @extend %text-500-12
    width: 100%
    margin-top: 15px
    padding: 10px
    background-color: #EFF1F8
    color: $main-accent-color
    text-align: center
    border-radius: 2px
    cursor: pointer
    &:hover
      color: #EFF1F8
      background-color: $main-accent-color
  &__list
    display: flex
    flex-flow: column
    border-top: 1px solid #DFE0EB
    padding: 12px 0px

    &-text
      @extend %text-400-14
      padding: 15px 0px
  &__user
    display: flex
    flex-flow: row
    justify-content: space-between
    align-items: center
    &-col
      display: flex
      align-items: center
      justify-content: flex-start 
      
    &-end
      display: flex
      align-items: center
      justify-content: flex-end
      & svg 
        cursor: pointer
        width: 14px
        height: 14px
        fill:#B8B8BE
    &-date
      @extend %text-500-14
      color: #B8B8BE
      margin-right: 10px
    &-info
      display: flex
      flex-flow: column
      margin-left: 10px
      &__name
        @extend %text-500-14
      &__type
        @extend %text-500-12
        color: #B8B8BE