input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0

input[type="number"]
	-moz-appearance: textfield

.mx-datepicker
	width: 71px
	font: inherit
	font-size: 14px

.mx-input-append
	z-index: -1

div.mx-datepicker-popup
	transition: all .1s linear
	border: 1px solid $border-color
	border-radius: 4px
	box-shadow: $main-popup-shadow

	a:hover
		color: $main-accent-color

.mx-calendar-content, .mx-calendar-header
	font-family: $main-fonts
	font-weight: 500

.mx-panel-date td.last-month.last-month, .mx-panel-date td.next-month.next-month
	color: #ECEBED

.mx-panel-date td.last-month.today, .mx-panel-date td.next-month.today
	color: $text-color

.mx-panel-date th
	color: $neutral-dark-color

.mx-panel-date td
	transition: $main-transitions

.datepicker
	z-index: 99

.-hide-
	display: none

.tiny-text-tooltip
	position: absolute
	top: calc(100% + 5px)
	left: 0
	margin: 0
	@extend %text-500-11
	color: $text-extra-color
	opacity: 0
	transition: all .1s
	pointer-events: none
	z-index: 10
	&.-top-
		top: auto
		bottom: calc(100% + 5px)
	p
		padding: 6px 10px 5px
		background: $main-light-color
		box-shadow: $second-box-shadow
		border-radius: 4px
		white-space: pre

.ajax__line
	$line-color: $ajax-bg
	$shine-color: darken($line-color, 10%)
	$shine-width: 50px
	display: block
	background-color: $ajax-bg
	opacity: 0.3
	animation: lineResize ease .4s, lineOpacity ease infinite 2s .4s forwards
	transform-origin: center
	position: relative
	overflow: hidden
	&.-round-
		border-radius: 4px

	// &::after
	// 	content: ''
	// 	position: absolute
	// 	+size($shine-width, 102%)
	// 	top: 0
	// 	left: 0
	// 	transform: translateX(-100%) skew(-25deg)
	// 	background: linear-gradient(90deg, $line-color 0%, $line-color 10px, $shine-color (($shine-width + 10px) / 2), $line-color 100%) no-repeat
	// 	animation: ajaxShine ease 5s 0.2s infinite forwards

@keyframes lineResize 
	from 
		transform: scaleX(0)
	to 
		transform: scaleX(1)

@keyframes lineOpacity 
	0%, 100%
		opacity: 0.3
	50% 
		opacity: 1

@keyframes ajaxShine 
	0%
		left: 0
		transform: translateX(-100%) skew(-25deg)
	100% 
		left: 100vw
		transform: translateX(0) skew(-25deg)

.progress
	+uiFont
	@extend %text-500-12
	position: relative
	display: flex

	&__icon
		+size(30px)
		flex-shrink: 0
		flex-grow: 0
		margin-right: 16px

	&__content
		min-width: 160px
		display: flex
		flex-direction: column
		justify-content: space-between

	&__header
		display: flex
		justify-content: space-between

	&__bar
		margin-top: 5px
		position: relative
		width: 160px
		height: 6px
		background: #DFE0EB 
		border-radius: 8px
		overflow: hidden
	&__line
		background: $ui-blue-accident
		position: absolute
		left: 0
		top: 0
		height: 6px
		width: 0%
		z-index: 1
		transition: width .3s
		&::before
			content: ""
			position: absolute
			top: 0
			left: 100%
			border: 5px solid transparent
			border-bottom: 5px solid $ui-blue-accident
			border-left: 6px solid $ui-blue-accident
			//Значения подбирались по фромуле(нет)
		&::after
			content: ""
			position: absolute
			top: -3px
			right: -6px
			height: 12px
			width: 2px
			background: #fff
			z-index: 1
			transform: rotate(-50deg)
			

.color
	color: $main-accent-color

.color-default
	color: $text-extra-color

.options

	&__dots
		position: relative
		top: -5px
		width: 5px
		min-width: 5px
		padding: 5px
		fill: $text-extra-light-color
		cursor: pointer
		box-sizing: content-box
		transition: all .2s

		&:hover
			fill: darken($text-extra-light-color, 10%)

	&__container
		position: relative
	&__field
		position: absolute
		top: 0
		right: 0
		border: 1px solid $border-color
		border-radius: 6px
		z-index: 1
		overflow: hidden
		z-index: 99

	&__list
		padding: 10px 0
		z-index: 100
		position: absolute
		background: $main-light-color
		border: 1px solid $border-color
		border-radius: 6px
		
	&__item
		padding: 4px 15px
		cursor: pointer
		color: $main-accent-color
		@extend %text-500-12
		display: flex
		align-items: center

		&:hover

			.options__text

				&::after
					transform: scale(1)

		&.-main-second-color-
			color: $main-second-color

			.options__icon
				fill: $main-second-color


	&__icon
		fill: $main-accent-color
		+size(100%)
		transition: fill 0.3s ease

		&-wrapper
			flex-shrink: 0
			font-size: 0
			margin-right: 10px
			+size(12px)


	&__confirm
		position: absolute
		top: 0
		right: 0
		width: 290px
		padding: 15px
		background: $main-light-color
		border: 1px solid $border-color
		border-radius: 6px
		z-index: 100

		&-title
			margin-bottom: 7px
			@extend %text-700-16

		&-description
			margin-bottom: 10px
			@extend %text-400-14

		&-buttons
			display: flex
			justify-content: center
			align-items: center

		&-cancel
			margin-left: 30px
			@extend %text-400-13
			color: $text-extra-color
			cursor: pointer

			&:hover
				text-decoration: underline


.hover__link
	position: relative
	
	&:hover
		
		&::after
			transform: scaleX(1)

	&::after
		content: ''
		position: absolute
		width: 100%
		bottom: -1px
		left: 0
		transform: scaleX(0)
		transition: .3s
		border-bottom: 1px solid

	&_rev
		position: relative
		
		&:hover
			
			&::after
				transform: scaleX(0)

		&::after
			content: ''
			position: absolute
			width: 100%
			bottom: -1px
			left: 0
			transform: scaleX(1)
			transition: .3s
			border-bottom: 1px solid


.controls-arrow
	display: flex

	> * + *
		margin-left: 10px
	
	&__block
		+size(10px)
		flex-shrink: 0
		position: relative
		display: flex
		align-items: center
		cursor: pointer
		opacity: .7
		transition: all .1s

		&:hover
			opacity: 1
	
	&__icon
		fill: $main-accent-color
		+size(100%)

		&.-bottom-
			transform: rotate(180deg)

		&.-disabled-
			fill: $border-color
			pointer-events: none


.mx-datepicker
	position: static !important
	width: 71px
	font: inherit
	font-size: 14px


.mx-input
	&-wrapper
		position: static !important
	&-append
		z-index: -1

div.mx-datepicker-popup
	transition: all .1s linear
	border: 1px solid $border-color
	border-radius: 4px
	box-shadow: $main-popup-shadow

	a:hover
		color: $main-accent-color

.mx-calendar-content, .mx-calendar-header
	font-family: $main-fonts
	font-weight: 500

.mx-panel-date td.last-month.last-month, .mx-panel-date td.next-month.next-month
	color: #ECEBED

.mx-panel-date td.last-month.today, .mx-panel-date td.next-month.today
	color: $text-color

.mx-panel-date th
	color: $neutral-dark-color

.mx-panel-date td
	transition: $main-transitions

.mx-calendar-content .cell.actived
	background: $main-gradient

.mx-calendar-content .mx-panel-date .cell
	border-radius: 50%

.work-space .mx-panel-date
	border-collapse: separate

.mx-panel-date td.today
	background: $main-third-color


.file
	position: relative
	display: flex
	align-items: center

	&__content
		border-radius: 4px
		display: inline-flex
		align-items: center
		padding: 7px 10px
		background: $main-bg

	&__icon
		+size(12px, 16px)
		fill: $main-accent-color
		flex-shrink: 0
		margin-right: 9px

	&__delete
		position: relative
		cursor: pointer
		z-index: 1
		+size(8px)
		font-size: 0
		margin-left: 14px

		&::before
			content: ''
			position: absolute
			+size(200%)
			+cxy
			z-index: -1

		&-icon
			+size(100%)
			fill: $main-accent-color
			flex-shrink: 0
	
	&__text
		@extend %text-500-12
		color: $main-accent-color
		text-decoration: underline
		cursor: pointer

.permissions
	&__admin
		margin-bottom: 15px
		padding-bottom: 15px
		border-bottom: 1px solid $border-color
		.switch__text
			@extend %text-400-14
	&__block
		position: relative
		margin-bottom: 20px
		padding-top: 20px
		padding-bottom: 20px
		border-bottom: 1px solid $border-color
		display: flex
	&__name
		width: 100%
		max-width: 230px
		@extend %text-700-14
	&__controls
		display: flex
		flex: 1
	&__checks
		position: relative
		padding: 0 50px
		&-title
			position: absolute
			top: -25px
			left: 50%
			@extend %text-500-14
			color: $text-extra-color
			transform: translateX(-50%)
			z-index: 5

		.radio:not(:last-child)
			margin-bottom: 15px

	&__descriptions
		position: absolute
		top: 19px
		right: 0px
		width: 160px
		pointer-events: none
		z-index: 7

	&__description
		margin-bottom: 15px
		@extend %text-500-14
		color: $text-extra-color

.inline-socials
	display: flex
	&__link
		display: block
		&:not(:last-child)
			margin-right: 5px
	&__icon
		width: 18px
		height: 18px
		cursor: pointer

.-pre-line-
	white-space: pre-line

.-pointer-
	cursor: pointer

.-no-wrap-
	white-space: nowrap

.toggle-text

	&__inner
		transition: height 0.3s ease
		max-height: 52px
		overflow: hidden

	&__icon
		+size(9px, 6px)
		fill: $main-accent-color
		transition: transform 0.3s ease

		.-toggle-open- &
			transform: scaleY(-1)

		&-wrapper
			+size(20px, 18px)
			border-radius: 2px
			display: flex
			align-items: center
			justify-content: center
			font-size: 0
			background-color: $main-bg
			margin-top: 5px
			cursor: pointer

