.diagram
  padding: 15px 20px 20px 20px
  background-color: white
  border-radius: 4px
  &__column
    &-header
      margin-left: 5px
      margin-bottom: 15px
    &-body
      &__bottom
        padding-bottom: 15px
        border-bottom: 1px solid #EFF1F8
  &-name
    @extend %text-500-14
    color: $text-color
  &-subtitle
    @extend %text-400-12
    color: #B8B8BE
  &-circle
    display: flex
    align-items: center
    justify-content: center
    &-title
      @extend %text-500-14
      font-size: 34px
    &-subtitle
      @extend %text-500-12
  &-columns
    display: flex
    justify-content: space-between
    &__subtitle
      @extend %text-500-12
      color: #CECED6
      margin-top: 5px
  &-graph
    &-y, &-x
      & line
        stroke: #DFE0EB
        stroke-dasharray: 0
        stroke-width: 2