.drop-aside-image
  position: relative
  display: block
  width: 100%
  min-height: 100px
  background: #fcfcfc
  border-radius: 4px
  border: 1px solid $border-color
  cursor: pointer
  transition: all .2s
  overflow: hidden
  &:hover
    border-color: $main-accent-color

  &.-drag-hover-
    border-color: $main-accent-color

  &__label
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    cursor: pointer
    z-index: 1

  &__empty
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 15px 20px
    background: $main-bg
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &-icon
      +size(38px)
      min-width: 38px
      fill: $border-color
    &-text
      width: 100%
      margin-top: 10px
      @extend %text-600-16
      color: $border-color
      text-align: center

  &__file
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-size: cover
    background-position: center center
    z-index: 5
    &-remove
      position: absolute
      top: 15px
      right: 15px
      +size(25px)
      background: $main-light-color
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      svg
        fill: $text-extra-color
        width: 13px
        cursor: pointer
        z-index: 10
        transition: all .1s
      &:hover
        svg
          fill: darken($text-extra-color, 15%)