.email-confirm
  +uiFont
  &__title
    @extend %text-600-16
    margin-bottom: 10px

  &__image
    margin-top: 30px

  &__content
    @extend %text-400-14

  &__input
    margin-top: 30px

  &__footer
    margin-top: 10px
    flex-grow: 1
    padding: 0 5px
    display: flex
    justify-content: center