%form-element
	width: 100%
	display: flex
	align-items: center

%form-buttons
	line-height: 0
	display: flex
	align-items: center
	cursor: pointer

	&[disable]
		pointer-events: none
		cursor: default

%input-text
	@extend %text-500-14
	border: 1px solid $border-color
	width: 100%
	min-height: 38px
	border-radius: 4px
	padding: 5px 30px 5px 12px
	transition: $main-transitions

	&::placeholder
		color: $border-color
	
	&:focus
		border-color: $main-accent-color

	&.-input-only-
		min-height: auto
		padding: 0
		border: none


%input-icon

	&::after
		@extend %text-500-14
		color: $main-accent-color
		position: absolute
		right: 12px
		+size(12px)
		text-align: center
		+cy


%icon
	+size(12px)
	position: absolute
	right: 12px
	+cy


.form-item
	display: block

	&:hover, &:focus 

	&.-error-, &.error /* TODO удалить error*/

		.form-item__title
			color: $color-error

		.form-item__input
			border-color: $color-error

		svg
			fill: $color-error

		%form-element
			border-color: $color-error

		.form-item__error, .form__error /* TODO удалить form__error*/
			display: inline-block

	&__title
		@extend %text-500-14
		color: $text-extra-color
		display: inline-block
		margin-bottom: 5px
		&.-tooltip-
			position: relative
			width: 100%
			text-decoration: underline


	&__block
		@extend %form-element
		position: relative
		background: white
		
		&-ruble
			@extend %input-icon

			&::after
				content: '₽'

		&-percent
			@extend %input-icon

			&::after
				content: '%'

		&--comment
			height: 109px
			@extend %input-text
			padding: 10px 20px 40px 10px
			border: 1px solid $border-color

		&.-switch-
			min-height: 38px
			display: flex
			align-items: center

		&.-textarea-
			@extend .form-item__input
			padding: 8px 60px 8px 12px
			&.-has-rows-
				position: relative
				&:before
					content: '.....'
					position: absolute
					pointer-events: none
					bottom: 1px
					width: 100%
					font-size: 1.4em
					color: $main-accent-color
					text-align: center

	&__error, .form__error // TODO удалить form error //
		@extend %text-500-11
		display: none
		position: absolute
		color: $color-error
		top: 100%
		margin-top: 1px

	&__input
		@extend %input-text
		color: #36383E
		background: $main-light-color
		&.-date-
			padding-left: 20px
			display: flex
			align-items: center
			div.mx-datepicker
				@extend %input-text
				min-height: auto
				padding: 0
				border: none
				&-popup
					top: calc(100% + 5px) !important
				input
					@extend %input-text
					min-height: auto
					padding: 0
					border: none

		&-placeholder
			@extend %input-text
			width: auto
			min-height: auto
			padding: 0
			color: $text-extra-color
			border: none

	&__calendar
		width: 16px
		min-width: 16px
		margin-right: 15px
		fill: $main-accent-color

	&__textarea
		@extend %input-text
		padding: 0px
		height: 50px
		min-height: 50px
		border: 0
		background: inherit
		resize: none
		overflow: hidden
		transition: height .1s

	&__comment
		width: 100%
		height: 100%
		resize: none
		border: none

	&__text
		@extend %input-text
		
	&__icon
		@extend %icon
		fill: $main-accent-color
		
	&__delete
		@extend %icon
		fill: $border-color
		cursor: pointer
	
	&__select
		@extend %input-text


	&__status
		@extend %input-text

	&__tooltip
		width: 100%
		position: absolute
		top: calc(100% + 5px)
		left: 0
		font-size: 11px

	&__photo
		position: relative
		+size(59px)
		border-radius: 50%
		overflow: hidden
		cursor: pointer
		background-color: $main-accent-color
		display: flex
		justify-content: center
		align-items: center
		&:hover
			.form-item__photo-icon
				opacity: 1
		&-letter
			color: $main-light-color
			@extend %text-500-18
			text-transform: uppercase
		&-img
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-size: cover
			z-index: 5
		&-icon
			position: absolute
			bottom: 5px
			left: 50%
			+size(26px)
			transform: translateX(-50%)
			border-radius: 50%
			background: rgba(0, 0, 0, .5)
			transition: all .2s
			opacity: 0
			display: flex
			align-items: center
			justify-content: center
			z-index: 15
		&-camera
			width: 13px
			fill: $main-light-color

	&__checkbox
		display: flex
		align-items: center
		cursor: pointer
		&-icon
			+size(16px)
			margin-right: 10px
			border-radius: 50%
			background: $main-accent-color
			display: flex
			justify-content: center
			align-items: center

		&-svg
			width: 8px
			fill: #fff

		&-text
			@extend %text-500-12

	&-item

		&.-error-

			.form-item__title
				color: $color-error

			.form-item__input
				border-color: $color-error

			.form-item__tooltip
				display: none

			.form-item__error
				display: inline-block

		// &_row
		// 	display: flex
		// 	align-items: flex-start

		// 	&:not(:last-of-type)
		// 		margin-bottom: 15px

		// 	.form-item__title
		// 		margin-bottom: 0
		// 		padding-top: 2px
		// 		width: 75px
		// 		margin-right: 10px
		

		&.disable

		&__title

		&__input
			border: none
			border-bottom: 1px solid $border-color-dark
			font-size: 14px
			line-height: 1.1
			letter-spacing: 0.01em
			padding-bottom: 3px
			width: 100%
			transition: .3s
			background: none

			&::placeholder
				color: #cdcdcd

		&__text
			@extend .form-item__input
			display: inline-block

		&__textarea
			// height: 36px
			min-height: 32px
			display: block
			overflow: hidden
			cursor: text
			// resize: vertical
			resize: none
			// overflow-y: auto

			&:hover

			&:focus
			
			&_mini

		&__block

			&_flex

		&__descr

		&__tooltip
	
		&__field

			&[data-position="top"]
				bottom: 100%
				margin-bottom: 10px

			&[data-position="bottom"]
				top: 100%
				margin-top: 10px
		
			&-item

				&:hover

				&:not(:last-child)

	&__markdown
		ol
			padding-left: 25px
			li
				position: relative
				list-style-type: decimal
		ul
			li
				position: relative
				padding-left: 25px
				&:before
					content: ''
					position: absolute
					top: 0.5em
					left: 14px
					display: block
					width: 3px
					min-width: 3px
					height: 3px
					background: #36383E
					border-radius: 50%
					z-index: 1
		
		a
			@extend .hover__link
			text-decoration: none
			color: $main-accent-color

.copy-input
	@extend %input-text
	min-height: 24px
	cursor: pointer

.radio
	@extend %form-buttons

	&__input
		display: none

		&:checked ~ .radio__icon

			.radio__icon-outer
				stroke: $main-accent-color

			.radio__icon-inner
				transform: scale(1)

	&__icon
		+size(16px)
		min-width: 16px

		&-outer
			fill: none
			stroke: $neutral-dark-color
			transition: $main-transitions
			stroke-width: 2

		&-inner
			fill: $main-accent-color
			transition: $main-transitions
			transform-origin: center
			transform: scale(0)

	&__text
		margin-left: 14px
		@extend %text-500-12
		color: $text-extra-light-color
		transition: $main-transitions


.switch
	--switch-size: 8px
	--switch-padding: 2px
	--switch-border: 2px
	@extend %form-buttons
	flex-grow: 1
	$switch: &

	&.-m-
		--switch-size: 12px

	&.-l-
		--switch-size: 16px

	&__input
		display: none

		&.-checked- ~

			.switch__icon
				border-color: $main-accent-color

				.switch__icon-inner
					background: $main-accent-color
					left: calc(var(--switch-size) + var(--switch-padding))

	&__icon
		width: calc(var(--switch-size) * 2 + var(--switch-padding) * 2 + var(--switch-border) * 2)
		height: calc(var(--switch-size) + var(--switch-padding) * 2 + var(--switch-border) * 2)
		display: flex
		align-items: center
		position: relative
		border: var(--switch-border) solid $neutral-dark-color
		border-radius: var(--switch-size)
		transition: $main-transitions

		&-inner
			+size(var(--switch-size))
			display: inline-block
			border-radius: 50%
			background: $neutral-dark-color
			transition: $main-transitions
			position: absolute
			top: var(--switch-padding)
			left: var(--switch-padding)

	&__text
		margin-left: 14px
		@extend %text-500-12
		transition: $main-transitions

.select
	cursor: pointer
	display: flex
	align-items: center

	&__icon
		top: 12px
		transition: all .1s
		will-change: transform
		transform: none
		cursor: pointer
		&.-opened-
			transform: rotate(180deg)

	.form-item__input
		min-height: auto
		padding: 0
		border: none
		cursor: pointer
		pointer-events: none
		overflow: hidden
		text-overflow: ellipsis

	&__slider
		position: absolute
		top: calc(100% + 5px)
		left: 0
		width: 100%
		max-height: 190px
		overflow: hidden
		overflow-y: auto
		background-color: #fff
		border: 1px solid $border-color
		border-radius: 4px
		z-index: 30

		// &.-width-170p-
		// 	width: 170%

	&__text
		+dotdotdot

		&-placeholder
			color: lighten($text-extra-color, 20%)

	&__field
		padding: 15px
		border-radius: inherit
		width: 100%
		&.-no-padding-
			padding: 0

	&__item
		padding: 10px 12px
		cursor: pointer
		@extend %text-500-12
		transition: all .1s
		border-radius: 4px
		display: flex
		align-items: center
		justify-content: space-between
		&:hover
			background: rgba(0,0,0,.05)
			.select__text
				color: $main-accent-color

		&-name
			&.-no-wrap-
				white-space: nowrap
				+dotdotdot
				max-width: 350px

		&-avatar
			+size(30px)
			min-width: 30px
			margin-right: 10px
			background-position: center center
			background-size: cover
			background-repeat: no-repeat
			background-color: $text-extra-light-color
			border-radius: 50%

		&-left
			display: flex
			align-items: center

		&.-person-
			.select__item

		> * + *
			margin-left: 8px
	&__input
		pointer-events: all !important
	&__group
		@extend %text-500-12
		&:not(:last-child)
			margin-bottom: 15px
		&-name
			margin-bottom: 10px
			color: $text-extra-color
		&-search
			margin-bottom: 10px

.users__list
	display: flex
	flex-flow: column
	align-items: flex-start
	justify-content: flex-start

	&-card
		display: flex
		flex-flow: row
		align-items: center
		justify-content: flex-start
		position: relative
		width: 100%
		&__info
			margin-left: 10px
		&__text
			@extend %text-500-12
		&__email
			@extend %text-500-12
			color: $text-extra-color
		&__action
			display: flex
			flex-flow: row
			justify-content: flex-end
			align-items: center
			position: absolute
			right: 0
			& svg
				position: relative
				width: 12px
				height: 12px
				fill: #DADADA
				margin: 0 10px
				
.svg
	&-top
		&__50-12
			top: calc(50% - 6px)