.navigation
	display: flex
	justify-content: space-between
	position: relative
	@extend %text-600-12

	&__block

		&_prev
			text-align: left
		
		&_next
			text-align: right
			margin-left: auto

	&__descr
		color: $text-extra-color

	&__accent
		color: $main-accent-color
		text-decoration: none

	&__info
		position: absolute
		+cxy

		+media(480px)
			display: none

	&__ajax
		+size(150px, 13px)
		border-radius: 4px

		+media(640px)
			width: 100px

		&:not(:first-child)
			margin-top: 2px

	&__
