.notification
  position: absolute
  top: 20px
  right: 30px
  width: 16px
  height: 16px
  cursor: pointer
  display: none

  & svg
    fill: $main-accent-color
    &.still
      fill: $text-extra-color

  &__no
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding: 15px
    &-icon
      width: 67px
      height: 54px
      margin-bottom: 10px
    &-text
      @extend %text-600-14
      color: #D5D6DB

  &__header
    +media(960px)
      display: block
      right: 80px
      width: 20px
      height: 20px
      top: 50%
      transform: translateY(-50%)
      & .notification__icon
        fill: white !important
      & .notification-block__counter
        width: 14px
        height: 14px

    &-desktop
      position: static
      display: block
      width: 16px
      height: 16px
      .notification
        &-block
          position: relative
          height: 100%
          &__counter
            top: auto
            left: 10px
            right: auto
            bottom: 6px

  &__main
    +media($min: 960px)
      display: block

  &-block
    &__list
      display: block
    &__select
      position: relative
      min-width: 373px
      min-height: 40px
      max-height: 500px
      margin-top: 17px  
      padding: 15px 15px 10px 15px
      background-color: white
      border-radius: 8px
      box-shadow: 0px 20px 64px rgba(10, 5, 70, 0.2)
      transform: translateX(-350px)
      z-index: 100
      overflow: hidden
      overflow-y: auto
      cursor: auto
      +media(960px)
        max-height: 300px
      +media(500px)
        min-width: 300px
        transform: translateX(-205px)

    &__item
      position: relative
      padding: 15px 15px 12px 15px
      background: $neutral-light-color
      margin-bottom: 13px
      border-radius: 8px
      transition: all .1s
      &.-unread-
        background: $main-accent-third-color
        cursor: pointer

      &:last-child
        margin-bottom: 0px

      &:hover
        background-color: $neutral-light-color
      &-icon
        position: relative
        display: flex
        align-items: center
        justify-content: flex-start
        & :last-child
          margin-right: 0
          margin-left: auto
          flex-shrink: 0

        svg
          position: relative
          width: 14px
          min-width: 14px
          height: 14px
          top: -1px
          left: 0
      &-point
        margin: 0px 5px 2px 0px
        width: 6px
        height: 6px
        border-radius: 100%
        background-color: #FDBA12
      &-text
        @extend %text-600-14
        margin-left: 15px
        padding-right: 5px
        color: $main-color
        
      &-description
        @extend %text-500-14
        color: #36383E
        margin: 15px 0px 10px 0px
        overflow-wrap: break-word
        white-space: initial !important
        text-align: justify
        hyphens: auto

    &__label
      @extend %text-600-12
      text-transform: uppercase
      margin: 15px 0px 10px 0px
      &:first-child
        margin-top: 0px
        

    &__text
      
      &-color
        @extend %text-600-12
        color: $main-accent-color
        cursor: pointer

    &__counter
      position: absolute
      width: 10px
      height: 10px
      display: flex
      justify-content: center
      align-items: center
      top: 1px
      right: -6px
      font-size: 8px
      color: white
      background: #FDBA12
      border-radius: 100%
