.message-list
  position: fixed
  top: 0
  right: 0
  display: flex
  flex-direction: column
  max-width: 166px
  z-index: 5000

  &__item
    padding: 11px 17px
    border-radius: 0 0 0 4px
    color: $ui-white
    @extend %text-500-12

    &.-error-
      background-color: $ui-red

    &.-success-
      background-color: $ui-success

    &.-notification-
      background-color: $ui-blue-accident
    
    & + &
      margin-top: 1px



