.percents
    position: absolute
    display: flex
    align-items: center
    justify-content: flex-end
    top: 5px
    right: 5px
    z-index: 1
    &-title
        @extend %text-600-10
    &-grow
        color: $color-success
    &-zero
        color: $border-color
    & svg
        width: 7px
        height: 7px
        fill: $color-error
        margin-right: 5px
    &_svg
        &-grow
            transform: rotate(180deg)
            fill: $color-success !important
        &-zero
            fill: none !important
    &-fall
        color: $color-error