.phone
    &__code
        color: $text-extra-color
        white-space: nowrap
        margin-right: 3px
    
    &__icon
        right: 0
        fill: $border-color

    &__text
        display: flex
        align-items: center
        justify-content: flex-start
        height: 100%
        width: 100%
        
        &-number
            @extend %text-500-12
            // color: $text-color
        &-icon
            // background-image: url('../img/flags.png')
            width: 16px
            height: 10px
            margin: 0
            margin-right: 10px
    
    &__input 
        @extend %text-500-12
        position: relative
        min-height: 38px
        display: flex
        padding: 5px 5px 5px 12px
        border: 1px solid $border-color
        border-radius: 4px
        align-items: center
        // color: #36383E
        background: $main-light-color
        transition: 0.3s
        & input
            width: 100%
            border: none
            padding-right: 20px
        &-focus
            border-color: $main-accent-color
            transition: 0.3s
    &__select
        position: relative
        width: 50px
        margin-right: 12px
        &-slider

        &-item
            cursor: pointer
            transition: all .1s
            border-radius: 4px
            display: flex
            align-items: center
            justify-content: space-between
            margin: 5px 0px
            width: 25px
        &-icon
            // background-image: url('../img/flags.png')
            width: 16px
            height: 10px
            margin: auto
            &__result
                margin: 0
            &-ad {background-position: -16px 0}
            &-ae {background-position: -32px 0}
            &-af {background-position: -48px 0}
            &-ag {background-position: -64px 0}
            &-ai {background-position: -80px 0}
            &-al {background-position: -96px 0}
            &-am {background-position: -112px 0}
            &-an {background-position: -128px 0}
            &-ao {background-position: -144px 0}
            &-ar {background-position: -160px 0}
            &-as {background-position: -176px 0}
            &-at {background-position: -192px 0}
            &-au {background-position: -208px 0}
            &-aw {background-position: -224px 0}
            &-az {background-position: -240px 0}
            &-ba {background-position: 0 -11px}
            &-bb {background-position: -16px -11px}
            &-bd {background-position: -32px -11px}
            &-be {background-position: -48px -11px}
            &-bf {background-position: -64px -11px}
            &-bg {background-position: -80px -11px}
            &-bh {background-position: -96px -11px}
            &-bi {background-position: -112px -11px}
            &-bj {background-position: -128px -11px}
            &-bm {background-position: -144px -11px}
            &-bn {background-position: -160px -11px}
            &-bo {background-position: -176px -11px}
            &-br {background-position: -192px -11px}
            &-bs {background-position: -208px -11px}
            &-bt {background-position: -224px -11px}
            &-bv {background-position: -240px -11px}
            &-bw {background-position: 0 -22px}
            &-by {background-position: -16px -22px}
            &-bz {background-position: -32px -22px}
            &-ca {background-position: -48px -22px}
            &-catalonia {background-position: -64px -22px}
            &-cd {background-position: -80px -22px}
            &-cf {background-position: -96px -22px}
            &-cg {background-position: -112px -22px}
            &-ch {background-position: -128px -22px}
            &-ci {background-position: -144px -22px}
            &-ck {background-position: -160px -22px}
            &-cl {background-position: -176px -22px}
            &-cm {background-position: -192px -22px}
            &-cn {background-position: -208px -22px}
            &-co {background-position: -224px -22px}
            &-cr {background-position: -240px -22px}
            &-cu {background-position: 0 -33px}
            &-cv {background-position: -16px -33px}
            &-cw {background-position: -32px -33px}
            &-cy {background-position: -48px -33px}
            &-cz {background-position: -64px -33px}
            &-de {background-position: -80px -33px}
            &-dj {background-position: -96px -33px}
            &-dk {background-position: -112px -33px}
            &-dm {background-position: -128px -33px}
            &-do {background-position: -144px -33px}
            &-dz {background-position: -160px -33px}
            &-ec {background-position: -176px -33px}
            &-ee {background-position: -192px -33px}
            &-eg {background-position: -208px -33px}
            &-eh {background-position: -224px -33px}
            &-england {background-position: -240px -33px}
            &-er {background-position: 0 -44px}
            &-es {background-position: -16px -44px}
            &-et {background-position: -32px -44px}
            &-eu {background-position: -48px -44px}
            &-fi {background-position: -64px -44px}
            &-fj {background-position: -80px -44px}
            &-fk {background-position: -96px -44px}
            &-fm {background-position: -112px -44px}
            &-fo {background-position: -128px -44px}
            &-fr {background-position: -144px -44px}
            &-ga {background-position: -160px -44px}
            &-gb {background-position: -176px -44px}
            &-gd {background-position: -192px -44px}
            &-ge {background-position: -208px -44px}
            &-gf {background-position: -224px -44px}
            &-gg {background-position: -240px -44px}
            &-gh {background-position: 0 -55px}
            &-gi {background-position: -16px -55px}
            &-gl {background-position: -32px -55px}
            &-gm {background-position: -48px -55px}
            &-gn {background-position: -64px -55px}
            &-gp {background-position: -80px -55px}
            &-gq {background-position: -96px -55px}
            &-gr {background-position: -112px -55px}
            &-gs {background-position: -128px -55px}
            &-gt {background-position: -144px -55px}
            &-gu {background-position: -160px -55px}
            &-gw {background-position: -176px -55px}
            &-gy {background-position: -192px -55px}
            &-hk {background-position: -208px -55px}
            &-hm {background-position: -224px -55px}
            &-hn {background-position: -240px -55px}
            &-hr {background-position: 0 -66px}
            &-ht {background-position: -16px -66px}
            &-hu {background-position: -32px -66px}
            &-ic {background-position: -48px -66px}
            &-id {background-position: -64px -66px}
            &-ie {background-position: -80px -66px}
            &-il {background-position: -96px -66px}
            &-im {background-position: -112px -66px}
            &-in {background-position: -128px -66px}
            &-io {background-position: -144px -66px}
            &-iq {background-position: -160px -66px}
            &-ir {background-position: -176px -66px}
            &-is {background-position: -192px -66px}
            &-ax {background-position: -192px -66px}
            &-it {background-position: -208px -66px}
            &-je {background-position: -224px -66px}
            &-jm {background-position: -240px -66px}
            &-jo {background-position: 0 -77px}
            &-jp {background-position: -16px -77px}
            &-ke {background-position: -32px -77px}
            &-kg {background-position: -48px -77px}
            &-kh {background-position: -64px -77px}
            &-ki {background-position: -80px -77px}
            &-km {background-position: -96px -77px}
            &-kn {background-position: -112px -77px}
            &-kp {background-position: -128px -77px}
            &-kr {background-position: -144px -77px}
            &-kurdistan {background-position: -160px -77px}
            &-kw {background-position: -176px -77px}
            &-ky {background-position: -192px -77px}
            &-kz {background-position: -208px -77px}
            &-la {background-position: -224px -77px}
            &-lb {background-position: -240px -77px}
            &-lc {background-position: 0 -88px}
            &-li {background-position: -16px -88px}
            &-lk {background-position: -32px -88px}
            &-lr {background-position: -48px -88px}
            &-ls {background-position: -64px -88px}
            &-lt {background-position: -80px -88px}
            &-lu {background-position: -96px -88px}
            &-lv {background-position: -112px -88px}
            &-ly {background-position: -128px -88px}
            &-ma {background-position: -144px -88px}
            &-mc {background-position: -160px -88px}
            &-md {background-position: -176px -88px}
            &-me {background-position: -192px -88px}
            &-mg {background-position: -208px -88px}
            &-mh {background-position: -224px -88px}
            &-mk {background-position: -240px -88px}
            &-ml {background-position: 0 -99px}
            &-mm {background-position: -16px -99px}
            &-mn {background-position: -32px -99px}
            &-mo {background-position: -48px -99px}
            &-mp {background-position: -64px -99px}
            &-mq {background-position: -80px -99px}
            &-mr {background-position: -96px -99px}
            &-ms {background-position: -112px -99px}
            &-mt {background-position: -128px -99px}
            &-mu {background-position: -144px -99px}
            &-mv {background-position: -160px -99px}
            &-mw {background-position: -176px -99px}
            &-mx {background-position: -192px -99px}
            &-my {background-position: -208px -99px}
            &-mz {background-position: -224px -99px}
            &-na {background-position: -240px -99px}
            &-nc {background-position: 0 -110px}
            &-ne {background-position: -16px -110px}
            &-nf {background-position: -32px -110px}
            &-ng {background-position: -48px -110px}
            &-ni {background-position: -64px -110px}
            &-nl {background-position: -80px -110px}
            &-no {background-position: -96px -110px}
            &-np {background-position: -112px -110px}
            &-nr {background-position: -128px -110px}
            &-nu {background-position: -144px -110px}
            &-nz {background-position: -160px -110px}
            &-om {background-position: -176px -110px}
            &-pa {background-position: -192px -110px}
            &-pe {background-position: -208px -110px}
            &-pf {background-position: -224px -110px}
            &-pg {background-position: -240px -110px}
            &-ph {background-position: 0 -121px}
            &-pk {background-position: -16px -121px}
            &-pl {background-position: -32px -121px}
            &-pm {background-position: -48px -121px}
            &-pn {background-position: -64px -121px}
            &-pr {background-position: -80px -121px}
            &-ps {background-position: -96px -121px}
            &-pt {background-position: -112px -121px}
            &-pw {background-position: -128px -121px}
            &-py {background-position: -144px -121px}
            &-qa {background-position: -160px -121px}
            &-re {background-position: -176px -121px}
            &-ro {background-position: -192px -121px}
            &-rs {background-position: -208px -121px}
            &-ru {background-position: -224px -121px}
            &-rw {background-position: -240px -121px}
            &-sa {background-position: 0 -132px}
            &-sb {background-position: -16px -132px}
            &-sc {background-position: -32px -132px}
            &-scotland {background-position: -48px -132px}
            &-sd {background-position: -64px -132px}
            &-se {background-position: -80px -132px}
            &-sg {background-position: -96px -132px}
            &-sh {background-position: -112px -132px}
            &-si {background-position: -128px -132px}
            &-sk {background-position: -144px -132px}
            &-sl {background-position: -160px -132px}
            &-sm {background-position: -176px -132px}
            &-sn {background-position: -192px -132px}
            &-so {background-position: -208px -132px}
            &-somaliland {background-position: -224px -132px}
            &-sr {background-position: -240px -132px}
            &-ss {background-position: 0 -143px}
            &-st {background-position: -16px -143px}
            &-sv {background-position: -32px -143px}
            &-sx {background-position: -48px -143px}
            &-sy {background-position: -64px -143px}
            &-sz {background-position: -80px -143px}
            &-tc {background-position: -96px -143px}
            &-td {background-position: -112px -143px}
            &-tf {background-position: -128px -143px}
            &-tg {background-position: -144px -143px}
            &-th {background-position: -160px -143px}
            &-tj {background-position: -176px -143px}
            &-tk {background-position: -192px -143px}
            &-tl {background-position: -208px -143px}
            &-tm {background-position: -224px -143px}
            &-tn {background-position: -240px -143px}
            &-to {background-position: 0 -154px}
            &-tr {background-position: -16px -154px}
            &-tt {background-position: -32px -154px}
            &-tv {background-position: -48px -154px}
            &-tw {background-position: -64px -154px}
            &-tz {background-position: -80px -154px}
            &-ua {background-position: -96px -154px}
            &-ug {background-position: -112px -154px}
            &-um {background-position: -128px -154px}
            &-us {background-position: -144px -154px}
            &-uy {background-position: -160px -154px}
            &-uz {background-position: -176px -154px}
            &-va {background-position: -192px -154px}
            &-vc {background-position: -208px -154px}
            &-ve {background-position: -224px -154px}
            &-vg {background-position: -240px -154px}
            &-vi {background-position: 0 -165px}
            &-vn {background-position: -16px -165px}
            &-vu {background-position: -32px -165px}
            &-wales {background-position: -48px -165px}
            &-wf {background-position: -64px -165px}
            &-ws {background-position: -80px -165px}
            &-ye {background-position: -96px -165px}
            &-yt {background-position: -112px -165px}
            &-za {background-position: -128px -165px}
            &-zanzibar {background-position: -144px -165px}
            &-zm {background-position: -160px -165px}
            &-zw {background-position: -176px -165px}

