.pop__up
  position: absolute
  top: 85%
  left: 0
  z-index: 1
  &-container
    background-color: white
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15)
    border-radius: 6px
  &-row
    @extend %text-500-14
    display: flex
    flex-flow: row
    justify-content: space-between
    align-items: center
    padding: 12px 10px
    cursor: pointer
    min-width: 200px

    & svg
      fill: #DADADA
    &:hover
      background-color: $main-bg

.popover-lms
  z-index: 100
  .popover-inner
    padding: 10px
    white-space: pre-line
  &[aria-hidden='true']
    visibility: hidden
    opacity: 0
    transition: opacity .15s, visibility .15s
  &[aria-hidden='false']
    visibility: visible
    opacity: 1
    transition: opacity .15s
