.recursion__select
    height: 38px
    &.form-item
        min-width: 250px
        max-width: 300px
        background-color: white
    &-placeholder
        @extend %text-500-12
        color: $text-extra-color
    &-item
        padding: 10px 0px 0px 15px
        &:first-child
            padding: 0px 0px 0px 15px
        &-text
            @extend %text-500-12
            color: black
            &.folder__type
                color: $text-extra-color
        &-name
            display: flex
            justify-content: space-between
            cursor: pointer
        &-tasks
            white-space: nowrap
            color: $text-extra-color
        &-info
            overflow: hidden
            text-overflow: ellipsis
            &.item__hover:hover
                color: $main-accent-color