.search
  position: relative
  display: flex
  flex-flow: row
  width: 100%
  max-width: 300px
  align-items: center

  &-input
    &:focus
      & ~ .search__main-clear
        opacity: 1
        fill: $text-extra-color
  &__main
    padding: 0 12px
    border: 1px solid $border-color
    border-radius: 4px
    cursor: pointer
    display: flex
    align-items: center
    transition: all .5s
    background-color: white
    &:after
      content: ''
      position: absolute
      top: calc(100% - 1px)
      left: 0
      width: 0
      height: 2px
      background: $main-accent-color
      border-radius: 4px
      transition: all .2s
      z-index: 10
    &-focus
      border-color: $main-accent-second-color
    &.-active-
      &:after
        width: 100%

    .form-item__input
      padding: 11.5px 0

    &-icon
      width: 15px
      height: 15px
      min-height: 15px
      min-width: 15px
      margin-right: 11px
      fill: none
      stroke: $text-extra-light-color

    &-clear
      margin-left: 12px
      width: 21px
      height: 21px
      padding: 0 5px
      fill: $main-dark-color
      opacity: 0
      transition: all .2s
      pointer-events: none
      &.-active-
        opacity: 1
        pointer-events: auto

    &-text
      @extend %text-500-11
      color: $text-extra-light-color