.filters
  position: relative
  width: 100%
  margin: auto
  max-width: 300px
  &__main
    padding: 0 12px
    border: 1px solid $border-color
    border-radius: 4px
    cursor: pointer
    display: flex
    align-items: center
    transition: all .2s
    &:after
      content: ''
      position: absolute
      top: calc(100% - 1px)
      left: 0
      width: 0
      height: 2px
      background: $main-accent-color
      border-radius: 4px
      transition: all .2s
      z-index: 10
    &.-active-
      &:after
        width: 100%

    .form-item__input
      padding: 11.5px 0

    &-icon
      width: 15px
      min-width: 15px
      margin-right: 11px
      fill: none
      stroke: $text-extra-light-color

    &-clear
      margin-left: 12px
      width: 21px
      padding: 0 5px
      fill: $main-dark-color
      opacity: 0
      transition: all .2s
      pointer-events: none
      &.-active-
        opacity: 1
        pointer-events: auto

    &-text
      @extend %text-500-11
      color: $text-extra-light-color


  &__slider
    position: absolute
    top: calc(100% + 5px)
    left: 0
    box-shadow: $main-popup-shadow
    border-radius: 6px
    z-index: 30
    +media(960px)
      width: 100%
    +media(420px)
      height: 200px
      overflow: hidden

  &__modal
    border-radius: 6px
    padding: 20px 20px 40px
    background: $main-light-color
    display: flex
    +media(960px)
      flex-direction: column
    +media(640px)
      height: 230px
      overflow-y: auto
    &-block
      flex: 1
      &:not(:last-child)
        margin-right: 20px
        +media(960px)
          margin-right: 0
          margin-bottom: 20px
      &.-statuses-
        min-width: 130px
      &.-contacts-
        min-width: 240px
      &.-dateOfNextAction-
        min-width: 190px
      &.-categories-
        min-width: 230px
        max-width: 230px
        +media(640px)
          max-width: 100%
    &-title
      margin-bottom: 20px
      @extend %text-700-12
      color: $text-dark-color
      +media(640px)
        margin-bottom: 10px

  &__statuses
    display: flex
    flex-direction: column
    align-items: flex-start
    &-item
      display: inline-block
      padding: 5px 8px
      @extend %text-500-11
      background: $neutral-light-color
      color: $text-extra-color
      border-radius: 4px
      cursor: pointer
      transition: all .2s
      user-select: none
      &:not(:last-child)
        margin-bottom: 8px

  &__categories
    display: flex
    flex-wrap: wrap
    &-item
      display: inline-block
      padding: 5px 8px
      @extend %text-500-11
      background: $neutral-light-color
      color: $text-extra-color
      border-radius: 4px
      cursor: pointer
      transition: all .2s
      user-select: none
      &:not(:last-child)
        margin-right: 8px
        margin-bottom: 8px

  &__contacts
    position: relative
    &-input
      border: 1px solid #DFE0EB
      border-radius: 4px
      .form-item__input
        padding: 3.5px 10px

    &-list
      position: absolute
      width: 100%
      max-height: 120px
      top: calc(100% + 8px)
      left: 0
      padding: 5px 0px
      background: $main-light-color
      border: 1px solid $border-color
      border-radius: 6px
      overflow-y: auto
      z-index: 20
      &-item
        height: 19px
        padding: 4px 10px
        @extend %text-400-14
        white-space: pre
        cursor: pointer
        box-sizing: content-box
        color: #353535
        &:hover
          color: $main-dark-color
        p
          width: calc(100% - 20px)
          overflow: hidden
          text-overflow: ellipsis


  &__date
    &-list
      display: flex
      flex-direction: column
      align-items: flex-start
      &:not(:last-child)
        margin-bottom: 8px
      &-item
        display: inline-block
        padding: 5px 8px
        @extend %text-500-11
        background: $neutral-light-color
        color: $text-extra-color
        border-radius: 4px
        cursor: pointer
        transition: all .2s
        user-select: none
        &.-active-
          background: $main-accent-color
          color: $main-light-color
        &:not(:last-child)
          margin-bottom: 8px

    &-input
      padding-right: 10px
      border: 1px solid #DFE0EB
      border-radius: 4px
      cursor: pointer
      .form-item__input
        padding: 3.5px 10px
      .mx-datepicker-popup
        margin-top: 8px
        +media(640px)
          top: 100% !important
          width: 250px
          display: block
          .mx-range-wrapper
            width: auto
          .mx-calendar-panel-date:not(:last-child)
            border-bottom: 1px solid $border-color
      .mx-input-append
        position: relative
        min-width: 16px
        +size(16px)
        padding: 0px
        z-index: 10
      .mx-clear-wrapper
        height: 21px
      .mx-input-wrapper
        display: flex
        justify-content: space-between
        align-items: center
      &-icon
        width: 100%
        fill: $neutral-dark-color