.select__date
  position: relative
  display: block
  background-color: white
  border-radius: 4px
  padding: 10px 15px
  height: 53px
  min-width: 150px
  &.-background-
    background: $ui-background
  &-title
    @extend %text-500-12
    margin-bottom: 3px
  &-container
  &-block
    display: flex
    justify-content: space-between
    width: 100px
    padding-left: 30px
  &.-month-
    .mx-calendar-header
      display: none

  &-calendar
    position: absolute
    left: 14px
    fill: #818181
    width: 14px
    height: 14px
  &-placeholder
    @extend %text-400-14
    color: #818181

  &-input
    @extend %text-400-14
    position: absolute
    width: 100%
    left: 0
    background-color: transparent
    border: none
    outline: none
    padding-left: 40px
    color: #818181
  & .form-item__delete
    top: 65%

.mx-calendar[popup-class="-month-"]
  .mx-calendar-header
    display: none