.ajax__line
    $line-color: $ajax-bg
    $shine-color: darken($line-color, 10%)
    $shine-width: 50px
    display: block
    background-color: $ajax-bg
    opacity: 0.3
    animation: lineResize ease .4s, lineOpacity ease infinite 2s .4s forwards
    transform-origin: center
    position: relative
    overflow: hidden

    &-table
        &-text
            height: 15px
            width: calc(100% - 10px)
            border-radius: 5px
    &-card
        &-text
            height: 25px
            width: 250px
            border-radius: 5px
                
            &-point
                width: 60px
                margin: 0px 5px
    &-preview
        width: 100%
        height: 250px
.ajax-card__list
    width: 150px
    height: 18px
.skeleton
        &-rating
            display: flex
            justify-content: flex-start
            align-items: center

@keyframes lineResize 
	from 
		transform: scaleX(0)
	to 
		transform: scaleX(1)

@keyframes lineOpacity 
	0%, 100%
		opacity: 0.3
	50% 
		opacity: 1
