.fade-enter-active, .fade-leave-active
  transition: opacity .3s

.fade-enter, .fade-leave-to
  opacity: 0

.list-move
  transition: transform .3s ease-in-out

.fadePreloader-enter-active, .fadePreloader-leave-active
  transition: opacity .15s ease-in-out

.fadePreloader-enter, .fadePreloader-leave-to
  opacity: 0

.fadeFromLeft-enter-active, .fadeFromLeft-leave-active
  transition: all .2s ease-in-out

.fadeFromLeft-enter, .fadeFromLeft-leave-to
  opacity: 0
  transform: translateX(30px)

.fadeAuth-enter-active, .fadeAuth-leave-active
  transition: opacity .2s

.fadeAuth-enter, .fadeAuth-leave-to
  opacity: 0

.chat-enter-active, .chat-leave-active
  transition: transform .3s

.chat-enter, .chat-leave-to
  -webkit-transform: translateX(-100%)
  transform: translateX(-100%)

.mainAsideRightContainer-enter-active, .mainAsideRightContainer-leave-active
  transition: transform .3s
  will-change: transform

.mainAsideRightContainer-enter, .mainAsideRightContainer-leave-to
  -webkit-transform: translateX(100%)
  transform: translateX(100%)
