// COMPONENTS

// @import "UiComponents/**/*.sass"

@mixin buttonColor($main, $secondary)
    color: $secondary
    background: $main
    border: 1px solid $main
    &:hover
      color: $main
      background: transparent

@mixin checkboxColor($color)
  .ui-kit-checkbox__input:not(.-active-)
    border-color: $color

  .ui-kit-checkbox__title
    color: $color

@mixin radioColor($color)
  .ui-kit-radio__input:not(.-active-)
    border-color: $color

  .ui-kit-radio__title
    color: $color

@mixin uiBackground($color)
  background: $color
  border-color: $color

  &__input

    &:-webkit-autofill
        box-shadow: inset 0 0 0 100px $color

.ui
  &-page
    +uiFont
    display: grid
    height: 100vh
    grid-template: 100vh / auto 1fr
    +media(960px)
      grid-template: 100vh / 1fr
    &__container
      height: 100%
      width: 100%
      max-width: 100%
      overflow: hidden
      display: grid
      grid-template: auto 1fr / 1fr
  &-header
    z-index: 70
  &-space
    position: relative
    display: flex
    flex-direction: column
    flex-grow: 1
    overflow: auto

.ui-page-menu
  $menu: &
  position: relative
  width: 240px
  padding: 12px 20px 0
  color: $ui-white
  background: $ui-white-contrast

  display: grid
  grid-template-rows: auto 1fr auto

  transition: width .3s

  &__close
    position: absolute
    display: none
    right: 0
    +cy
    +size(24px)
    fill: $ui-white
    z-index: 5

    path
      fill: $ui-blue-less-contras !important

    +media(960px)
      display: block

  +media(960px)
    display: none
    &.-open-
      position: fixed
      display: grid
      top: 0
      left: 0
      width: 100vw
      height: 100vh
      z-index: 20

  &-toolbox
    height: 32px
    position: relative
    margin-left: -8px
    margin-bottom: 20px
    display: flex
    align-items: center
    overflow: hidden
    +media(960px)
      padding-right: 30px

    &__icon
      +size(32px)
      flex-shrink: 0

    p
      margin-left: 7px
      @extend %text-700-18
      +uiFont
      color: $ui-black
  &__container
    margin: 0 -20px
    height: 100%
    overflow-y: auto
    overflow-x: hidden
    +hideScroll

    display: flex
    flex-direction: column

  &__block
    position: relative
    &:not(:first-child)
      margin: 15px 0 0
      padding-top: 15px

      &::before
        content: ''
        position: absolute
        left: 20px
        bottom: 100%
        height: 1px
        width: calc(100% - 20px)
        background: $ui-border
        transition: left .3s, width .3s
  &.-min-
    .ui-page-menu__block
      &:not(:first-child)
        &::before
          left: 0
          width: 100%

  &__list
    transition: all .1s
    border-radius: 4px 0 0 4px
    position: relative

    &-main
      min-height: 42px
      padding: 12px 20px
      color: $ui-light-grey-4-5-contrast
      @extend %text-500-14
      border-radius: 4px 0 0 4px
      text-decoration: none
      transition: color .1s, fill .1s, padding .3s
      cursor: pointer
      display: flex
      align-items: center
      &.-active-, &.-open-, &:hover
        color: $ui-black
        svg
          fill: $ui-black
    &::before
      pointer-events: none
      content: ""
      height: 0%
      width: 4px
      position: absolute
      left: 0
      top: 0
      background: $ui-blue-accident
      border-radius: 4px
      transition: height .3s
      z-index: 1
    &.-open-
      color: $ui-black
      a
        color: $ui-black
      svg
        fill: $ui-black
    &.-active-
      &::before
        content: ""
        height: 100%

    &-slider

    &-icon
      +size(16px)
      fill: $ui-light-grey-4-5-contrast
      flex-shrink: 0
    &-name
      margin-left: 10px

    .ui-page-menu__route
      padding-top: 8px
      padding-bottom: 8px


  &__route
    min-height: 42px
    padding: 12px 20px
    color: $ui-light-grey-4-5-contrast
    @extend %text-500-14
    border-radius: 4px 0 0 4px
    text-decoration: none
    transition: color .1s, fill .1s, padding .3s
    display: flex
    align-items: center

    &.-main-
      position: relative
      &::before
        pointer-events: none
        content: ""
        height: 0%
        width: 4px
        position: absolute
        left: 0
        top: 0
        background: $ui-blue-accident
        border-radius: 4px
        transition: height .3s
        z-index: 1
      &.-active-
        &::before
          height: 100%
    &:not(.-main-)
      position: relative
      &.-active-
        &::before
          content: ""
          +size(6px)
          position: absolute
          top: 50%
          left: 33px
          transform: translateY(-50%)
          background: $ui-blue-accident
          border-radius: 50%

    &.-active-,
    &.-open-
      color: $ui-black
      svg
        fill: $ui-black
    &:hover:not(.-active-)
      color: $ui-black
      svg
        fill: $ui-black
    &-icon
      flex-shrink: 0
      +size(16px)
      fill: $ui-light-grey-4-5-contrast
    &-name
      margin-left: 10px

    &.-courses-
      min-height: 50px
      padding-bottom: 20px
      margin-bottom: 8px
      position: relative

      &::before
        content: ''
        position: absolute
        left: 20px
        top: 100%
        height: 1px
        width: calc(100% - 20px)
        background: $ui-border
        transition: left .3s, width .3s
  &.-min-
    .ui-page-menu__route.-courses-
      &::before
        left: 0
        width: 100%
    .ui-page-menu-footer__logo
      opacity: 0
      transform: translateX(-100%)

  &-footer
    position: relative
    display: flex
    flex-direction: column
    padding: 45px 0 12px

    &__logo
      pointer-events: none
      position: absolute
      left: 0
      bottom: 12px
      opacity: 1
      transition: .3s

    &__block
      &.-resize-
        display: none
        justify-content: flex-end

    &__icon
      flex-shrink: 0
      +size(16px)
      padding: 2px
      fill: $ui-black
      cursor: pointer
  +media($min: 960px)
    &-footer
      &__block
        &.-resize-
          display: flex
          justify-content: flex-end

    &.-min-
      width: 40px
      padding: 12px 0 0
      #{$menu}
        &__container
          margin: 0
        &-toolbox
          margin-left: 4px

        &__route
          &.-courses-
            padding-bottom: 20px

        &__route,
        &__list-main
          padding: 12px

        &-footer
          &__block
            &.-resize-
              padding: 0 12px


    &__title-fade
      &-enter-active,
      &-leave-active
        transition: all .3s
        overflow: hidden
        white-space: nowrap
        width: 100%
  &__routes
    position: relative

  &-modal-list
    &-wrap
      position: absolute
      left: calc(100%)
      padding-left: 4px
      z-index: 15

    +uiFont
    @extend %text-500-14
    min-width: 175px
    padding: 8px 24px
    display: flex
    flex-direction: column
    border-radius: 4px
    color: $ui-black
    background: $ui-white
    box-shadow: 0px 4px 10px rgba(43, 45, 52, 0.12)

    // &__name
    //   position: relative
    //   color: $ui-black
    //   text-decoration: none
    //   white-space: nowrap
    //   &:hover
    //     color: $ui-black
    //     text-decoration: none

    &__list
      display: flex
      flex-direction: column
      margin-top: 8px
      padding-top: 8px
      border-top: 1px solid $ui-border

    &__link,
    &__name
      position: relative
      color: $ui-black
      text-decoration: none
      white-space: nowrap
      & + &
        margin-top: 8px
      &:hover,
      &.-active-
        color: $ui-black
        text-decoration: none
        &::before
          content: ""
          position: absolute
          top: 50%
          left: -8px
          transform: translate(-100%, -50%)
          +size(6px)
          background: $ui-blue-accident
          border-radius: 50%

  &-points
    flex-grow: 1
    display: flex
    justify-content: space-between

    &__title

    &__count
      display: flex

    &__active
      color: $ui-blue-accident
    &__disabled
      color: $ui-gray-less

.ui-kit
  &-input,
  &-textarea,
  &-select,
  &-filter-select,
  &-dropdown,
    +uiFont
    @extend %text-500-12
    position: relative
    min-width: 280px
    width: 100%
    padding: 9px 14px 8px 14px
    background: #FFFFFF
    border: 1px solid #FFFFFF
    border-radius: 4px

    font-family: $ui-kit-font
    text-align: left
    color: #000
    line-height: 1.3

    display: inline-flex
    flex-direction: column

    transition: all .1s
    +media(480px)
    min-width: 250px

    &.-auto-
      width: auto

    &.-background-main-
      +uiBackground($main-bg)

    &.-gray-
      border: 1px solid $ui-light-grey-low-contrast

    &.-focus-
      border: 1px solid $ui-light-blue

    &.-error-
      border: 1px solid $ui-red

    &.-bg-light-gray-
      background: $ui-gray-light
    &.-bg-neutral-
      background: $ui-background

    &.-empty-style-
      background: transparent
      border-color: transparent
      padding: 0
      min-width: unset

    &__label
      display: block
      min-height: 15px
      margin-bottom: 5px
      font-weight: 500
      line-height: 1.3
      user-select: none

    &__field
      display: flex

      //Делает звёздочки у пароля визуально по центру
      &.-pass-
        position: relative
        top: 2px

    &__icon
      height: 16px
      width: 18px
      margin-right: 5px
      flex-shrink: 0
      flex-grow: 0
      fill: #fff
      &.-gray-
        fill: $ui-light-grey-low-contrast

    &__before
      @extend %text-400-14

    &__input
      +uiFont
      @extend %text-400-14
      width: 40px
      flex-grow: 1
      border: none
      background: transparent

      &::placeholder
        color: $ui-gray-less

      &.-placeholder-
        color: $ui-gray-less

      &:-webkit-autofill
        box-shadow: inset 0 0 0 100px #fff

    &__before-placeholder
      @extend %text-400-14
      margin-right: 4px
      border: none
      background: transparent
      color: #0000004f

  &-textarea

    &__input
      resize: none
      height: 35px


  &-select,
  &-filter-select,
  &-dropdown

    &.-active-
      border-radius: 4px 4px 0 0

    &__dropdown-icon
      position: absolute
      top: 50%
      right: 15px
      height: 6px
      width: 10px
      transform: translateY(-50%)
      transition: transform .3s

      &.-active-
        transform: translateY(-50%) rotate(180deg)

    &__input
      line-height: 1rem
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    &__group-item
      @extend %text-600-14
      font-family: $ui-kit-font
      color: $ui-gray-dark
      cursor: pointer

      &:hover, &>span.-active-
        color: $ui-blue-less-contras

    &__option
      @extend %text-400-14
      font-family: $ui-kit-font

      top: calc(100% + 1px)
      left: -1px
      width: calc(100% + 2px)
      background: $ui-white
      border-radius: 0 0 4px 4px
      z-index: 1
      overflow: auto

    &__option-list
      display: flex
      flex-direction: column
      padding: 9px 14px
      overflow-y: auto

    &__option-title
      @extend %text-400-14
      font-family: $ui-kit-font

    &__option-item
      padding: 5px 0
      cursor: pointer
      color: $ui-black-dark
      &.-active-,
      &:hover
        color: $ui-blue-less-contras

      &.-unset-
        color: $ui-gray-less

      &.-empty-
        color: $ui-gray-less
        cursor: auto

      &.-loading-
        display: flex
        justify-content: center
        cursor: auto

  &-dropdown
    &__case
      border: 1px solid $ui-light-grey-low-contrast
      min-height: 51px

  &-select,
  &-filter-select,
    padding: 0

    &__hood
      padding: 9px 14px
      cursor: pointer



  &-popup
    position: absolute
    min-height: 24px
    max-width: calc(100% + 2px)
    width: max-content
    bottom: calc(100% - 22px)
    left: -1px
    padding: 5px 13px
    border-radius: 4px
    pointer-events: none

    &.-error-
      background: $ui-red
      color: #fff
      &::before
        content: ''
        position: absolute
        top: calc(100% - 6px)
        left: 0
        border: 6px solid transparent
        border-left: 6px solid $ui-red
        border-top: 6px solid $ui-red

  &-button
    +uiFont
    min-width: 192px
    padding: 10px 24px
    border-radius: 4px
    @extend %text-500-14
    text-decoration: none
    text-align: center
    transition: all .1s
    cursor: pointer

    display: inline-flex
    justify-content: center
    align-items: center

    &__icon
      height: 16px
      width: 16px
    //Цвета
    &.-primary-
      +buttonColor($ui-blue-accident , $ui-white)
    &.-primary-invert-
      color: $ui-blue-accident
      background: $ui-white
      border: 1px solid $ui-blue-accident
      &:hover,
      &.-active-
        background: $ui-blue-accident
        color: $ui-white



    &.-warning-
      +buttonColor($ui-orange-extra-accident , $ui-white)

    &.-light-
      color: $ui-blue-accident
      background: $ui-white
      border: 1px solid $ui-white

    &.-gray-
      color: $ui-blue-accident
      background: $ui-background
      border: 1px solid $ui-background
    &.-dark-gray-
      color: $ui-light-grey-4-5-contrast
      background: $ui-background
      border: 1px solid $ui-background
      &:hover,
      &.-active-
        color: $ui-light-grey-4-5-contrast

    &.-blue-gray-
      color: $ui-blue-accident
      background: $ui-background
      border: 1px solid $ui-background
      &:hover,
      &.-active-
        background: $ui-blue-accident
        color: $ui-white

    &.-alert-
      +buttonColor($ui-red , $ui-white)

    &.-success-
      +buttonColor($ui-success , $ui-white)

    &.-transparent-blue-
      +buttonColor(transparent, $ui-blue-accident)
      svg
        fill: $ui-blue-accident
        &:first-child
          margin-right: 3px
        &:not(:first-child)
          margin-left: 3px

      &:hover
        color: $ui-blue-accident
        svg
          fill: $ui-blue-accident

    //Размер
    &.-min-size-s-
      min-width: unset
    &.-wide-
      width: 100%

    &.-smart-
      min-width: unset
      padding: 6px 12px

    &.-min-height-m-
      min-height: 40px

    &:hover
      background: $ui-background

    &.-disabled-
      color: $ui-gray-less
      background: $ui-background
      border: 1px solid $ui-background
      cursor: auto

    &.-full-
      width: 100%

  &-file
    min-width: 90px
    display: inline-flex
    flex-direction: column
    +uiFont

    &__real-input
      display: none

    &__title
      @extend %text-500-12
      color: $ui-gray-less

    &__field
      display: flex
      align-items: center

    &__input-wrap
      display: flex
      align-items: center
      flex-grow: 1
      flex-shrink: 0
      padding: 6px
      border-radius: 4px
      background: #fff
      cursor: pointer

    &__icon
      height: 12px
      width: 12px
      margin: 0 8px

    &__input
      @extend %text-500-12
      color: $ui-gray-less
      margin-right: 8px

    &__close
      height: 14px
      width: 14px
      margin: 0 10px
      cursor: pointer

    &.-neutral-
      .ui-kit-file
        &__input-wrap
          background: $ui-background

    &.-alert-
      .ui-kit-file
        &__input-wrap
          background: $ui-red
        &__input
          color: $ui-white
        &__icon path
          fill: $ui-white

      &.-active-
        .ui-kit-file
          &__input-wrap
            background: $ui-white
          &__input
            color: $ui-blue-accident
          &__icon path
            fill: $ui-blue-accident

  &-checkbox,
  &-radio,
  &-switcher
    display: inline-flex
    align-items: center
    cursor: pointer
    user-select: none
    +uiFont
    @extend %text-400-14

    &__title


    &__real-input
      display: none

    &__input
      position: relative
      height: 16px
      width: 16px
      border: 1px solid $ui-black
      border-radius: 4px
      flex-grow: 0
      flex-shrink: 0

      &.-active-
        background: $ui-blue-accident
        border: 1px solid $ui-blue-accident

      &.-disabled-
        background: $ui-gray-less
        border: $ui-gray-less
        & svg
          height: 13px
          width: 13px
          border-radius: 2px

    &__icon
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      height: 6px
      width: 9px
      background: unset

      &.-disabled- path
        fill: $ui-light-grey-low-contrast

    &.-reverse-
      flex-direction: row-reverse

    &.-wide-
      display: flex
      justify-content: space-between

  //цвета
  &-checkbox
    &.-gray-
      +checkboxColor($ui-gray-less)
    &.-error-
      +checkboxColor($ui-red)

    &.-light-gray-
      .ui-kit-checkbox__input:not(.-active-)
        border-color: $ui-light-grey-low-contrast

  &-radio
    &__input
      border-radius: 50%

    //цвета
    &.-gray-
      +checkboxColor($ui-gray-less)
    &.-error-
      +checkboxColor($ui-red)

    &.-light-gray-
      .ui-kit-radio__input:not(.-active-)
        border-color: $ui-light-grey-low-contrast


  &-switcher

    &__slider
      position: relative
      display: block
      height: 16px
      width: 30px
      background: $ui-white
      border-radius: 16px

      &.-disabled-
        background: $ui-gray-less

      &.-gray-
        background: $ui-background

    &__switch
      position: absolute
      top: 50%
      left: 1px
      transform: translate(0, -50%)
      display: block
      height: 14px
      width: 14px
      background: $ui-light-grey-low-contrast
      border-radius: 50%
      transition: transform .3s, left .3s, background-color .3s

      &.-active-
        left: calc(100% - 1px)
        transform: translate(-100%, -50%)
        background: $ui-dark-blue

      &.-primary-
        &.-active-
          background: $ui-blue-accident

  &-options
    +uiFont
    &__list
      display: flex
      & > * + *
        margin-left: 7px
    &__field
      &-icon
        display: block
        +size(24px)
        min-width: 24px
        padding: 3px
        fill: $ui-gray-less
        cursor: pointer
        transition: all .1s
        &:hover
          fill: $ui-gray-dark

  &-modal
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    padding: 40px 15px
    background-color: rgba(0, 0, 0, .5)
    cursor: pointer

    display: flex
    align-items: center
    justify-content: center

    z-index: 1000

    &__window
      position: relative
      display: flex
      flex-direction: column
      max-height: 100%
      max-width: 410px
      width: 100%
      border-radius: 4px
      background-color: $ui-white
      cursor: auto
      font-family: $ui-kit-font
      @extend %text-500-14
      color: $ui-black


      &.-wide-
        width: 100%
        max-width: 1180px
        margin: 0 130px

      &.-background-
        background: $ui-background

    &__close
      position: absolute
      left: calc(100% + 10px)
      top: 4px
      fill: white
      +size(16px)
      cursor: pointer
      transition: all .1s
      z-index: 5

      &:hover
        fill: darken($ui-red, 10%)

    &__body
      padding: 23px 27px
      text-align: center
      flex-grow: 1
      max-width: 100%
      overflow-y: auto

      &:not(:last-child)
        margin-bottom: 25px

      &.-left-
        text-align: left

    &__footer
      display: flex
      flex-wrap: wrap
      margin: 0 -5px

      &:not(:first-child)
        margin-top: 20px

      &.-reverse-
        flex-direction: row-reverse

    &__button
      flex-grow: 1
      margin: 0 5px

    &__title
      @extend %text-700-16
      margin-bottom: 15px
  &-table
    font-family: $ui-kit-font

    &__header
      @extend %text-500-14
      display: flex
      border-radius: 4px

    &__body
      @extend %text-400-14
      display: flex
      flex-direction: column

    &__header-col
      flex-grow: 0
      flex-shrink: 0
      padding: 15px
      align-items: center
      text-align: center

    &__row
      display: flex
      border-radius: 4px
      border-top: 1px solid $main-bg

      &:last-child
        border-bottom: 1px solid $main-bg



    &__col
      flex-grow: 0
      flex-shrink: 0
      display: flex
      padding: 15px
      background: $ui-white
      border-left: 1px solid $ui-white

      & + &
        border-color: $main-bg

      &:first-child
        border-radius: 4px 0 0 4px

      &:last-child
        border-right: 1px solid $main-bg
        border-radius: 0 4px 4px 0

  &-drop-aside-image
    position: relative
    width: 100%
    min-height: 96px
    padding: 15px 20px
    background: $ui-white
    border-radius: 4px
    transition: all .2s
    overflow: hidden

    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &.-drag-hover-
      background: $ui-border

    &__label
      display: block

    &__text
      @extend %text-500-12
      color: $ui-gray-less
      text-align: center
      &:not(:last-child)
        margin-bottom: 5px

    &__button
      padding: 6px 12px
      background: $ui-background
      border-radius: 4px
      @extend %text-500-12
      color: $ui-gray-less
      cursor: pointer
      transition: all .1s
      border: 1px solid $ui-background
      display: flex
      align-items: center
      &:hover
        background: transparent
      &-icon
        margin-right: 8px
        +size(12px)
        min-width: 12px
        fill: $ui-gray-less

    &__file
      display: flex
      align-items: center
      & > * + *
        margin-left: 10px
      &-remove
        +size(18px)
        fill: $ui-red
        cursor: pointer
        transition: all .1s
        &:hover
          fill: darken($ui-red, 10%)
      &-preview
        display: block
        +size(42px)
        background-position: center center
        background-size: cover
        border-radius: 4px
        border: 1px solid $border-color
        cursor: pointer
      &-text
        max-width: 200px
        @extend %text-500-12
        color: $ui-gray-less
        +dotdotdot

  &-nested-filter
    $parent: &
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-start
    +uiFont
    @extend %text-400-14

    &__hood
      width: 100%
      position: relative

    &__dropdown-wrap
      position: absolute
      top: 100%
      margin-top: 1px
      z-index: 1

    &__dropdown
      min-width: 200px
      padding: 0 16px

      position: relative
      background: $ui-white
      box-shadow: 0px 4px 10px rgba(43, 45, 52, 0.12)
      border-radius: 4px

    &__option-list
      position: relative
      padding: 23px 0

      & > .ui-kit-nested-filter__item:first-child
         padding-top: 0




    &__item
      padding-top: 10px
      // margin-top: 10px
      // margin-bottom: 10px
      & + &

      & &
        margin-left: 14px
        .ui-kit-nested-filter__group-check,
        .ui-kit-nested-filter__checkbox,
        #{$parent}__group-title
          font-weight: 400

      & .ui-kit-nested-filter__group-check,
      & .ui-kit-nested-filter__checkbox,
      & #{$parent}__group-title
        font-weight: 500

    &__group-title
      display: flex
      justify-content: space-between
      align-items: center
      cursor: pointer

    &__title
      display: flex

      &:not(.-text-):hover
        & + .ui-kit-nested-filter__list
          color: $ui-blue-accident

    &__group-check
      position: relative

    &__group-icon
      margin-left: 6px
      height: 5px
      width: 8px
      transition: transform .3s
      &.-active-
        transform: rotate(180deg)
      path
        fill: $ui-black-dark

    &__err
      @extend %text-400-14
      text-align: center
      color: #818181


    .ui-kit-checkbox__title,
    .ui-kit-radio__title
      display: flex
      align-items: center

    &.-error-
      border: 1px solid $ui-red

  &-filter-select

    &__filter
      margin: 9px 0

    &__option
      padding: 0 14px

    &__option-list
      padding: 9px 0

    &__option-item-wrap
      display: flex
      align-items: center
      justify-content: space-between

      & + &
        margin-top: 9px

    &__option-item
      flex-grow: 1
      cursor: pointer

    &__option-icon
      flex-shrink: 0
      +size(16px)
      cursor: pointer
    &__slot
      padding: 9px 0


.ui-kit-input.-date-
  .mx-input-wrapper
    display: flex
    .ui-kit-input__input
      width: 50px
      flex-grow: 1
      flex-shrink: 1
  .ui-kit-input__field
    align-items: center




.ui-kit-loader
  &-dots
    $dot-size: 8px

    position: relative
    width: 50px
    height: $dot-size
    display: block

    &__dot
      height: $dot-size
      width: $dot-size
      will-change: transform
      border-radius: 50%
      background-color: $ui-blue-less-contras
      position: absolute
      animation: grow .8s ease-in-out infinite alternate
      display: block

      &:nth-child(1)
        left: 0
        transform-origin: 100% 50%

      &:nth-child(2)
        left: 50%
        transform: translateX(-50%) scale(1)
        animation-delay: .20s

      &:nth-child(3)
        right: 0
        animation-delay: .40s
        transform-origin: 100% 50%

    &.-s-
      $dot-size: 5px

      width: 32px
      height: $dot-size
      .ui-kit-loader-dots__dot
        height: $dot-size
        width: $dot-size

$row-height: 32px

.ui-space-table
  max-width: 100%
  overflow-y: hidden
  overflow-x: auto

  &__container
    min-width: 1140px
    // min-width: 100%
    & .silder-text
      padding: 16px 20px
      &:first-child
        border-bottom: 1px solid $ui-gray-less


    & .header-desktop-link-list
      z-index: 100
      top: calc(100% + 0px)
      left: unset
      right: -1px
      width: unset

  &__row
    background: $ui-white
    border-radius: 4px
    transition: all .1s
    display: grid
    grid-auto-columns: 1fr
    grid-template-rows: $row-height
    grid-auto-flow: column
    align-items: stretch

    &:not(:first-child)
      border-top: 1px solid $ui-background

    .ajax__line
      border-radius: 4px

    &-avatar
      height: 36px
      width: 36px
      border-radius: 50px

    &.-nav-
      background: none

      .ui-space-table
        &__col
          align-items: flex-end
          justify-content: center
          &.-blue-
            .ui-space-table__col-container,
            .ui-space-table__title
              background: $ui-blue-accident
              color: $ui-white

          &.-active-
            .ui-space-table__col-container,
            .ui-space-table__title
              background: #F0F2FE
              color: $ui-blue-accident

          &:first-child
            .ui-space-table__col-container
              margin-left: 0
              padding-left: 12px

          &:last-child
            .ui-space-table__col-container
              margin-right: 0
              padding-right: 12px

          &-container
            width: 100%
            margin: 0px 7px
            padding: 4px 5px 3px
            border-radius: 4px 4px 0 0
            background: #FAFBFE
            display: flex
            justify-content: center
            align-items: center
            color: $text-color

          &-icon
            height: 7px
            width: 10px
            margin-left: 5px
            transition: all .3s

            path
              fill: $text-color

            &.-flip-
              transform: rotate(180deg)

        &__title
          @extend %text-500-14
          +dotdotdot

    &.-spoiler-
      background: $main-bg
      & .ui-space-table__col
        text-align: center
        &:first-child
          text-align: left

      & .ui-space-table__text
        @extend %text-500-14
        +dotdotdot

      & .ui-space-table__col
        max-width: 488px

      & .ui-space-table__icon
        fill: $main-accent-second-color

  &__spoiler-opener
    visibility: unset
    &.-hidden-
      height: 0
      overflow: hidden
      visibility: hidden

  &__upper-text
    @extend %text-500-12
    color: $ui-gray-middle
    position: absolute
    top: 2px
    right: 2px

    &.-positive-
      color: $ui-success
      & .ui-space-table__icon
        fill: $ui-success

    &.-negative-
      color: #EB5757
      & .ui-space-table__icon
        fill: #EB5757

  &__head
    position: relative

  &__col
    position: relative
    display: flex
    align-items: center

    &.-center-
      .ui-space-table__text
        text-align: center
      .ui-space-table__block
        justify-content: center

    &.-active-
      & .ui-space-table__text
        color: $ui-blue-accident
      &:after
        border-color: #0b7dc3

    &.-disabled-
      color: $ui-light-grey-low-contrast

    &-container
      margin: 0px 15px
      overflow: hidden

      &.-loading-
        height: 100%
        width: 100%
        padding: 10px 0

      &.-empty-
        width: 100%
      &.-flex-
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%

    &.-mark-
      grid-area: mark
      justify-content: flex-end
      align-items: center


  &__title
    @extend %text-500-14
    color: $ui-black-dark

  &__text
    width: 100%
    max-height: 40px
    padding-right: 2px
    @extend %text-400-14
    color: $ui-black
    overflow: hidden
    text-overflow: ellipsis
    display: block
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2
    &.-hyphens-
      hyphens: auto

  &__block
    display: flex
    align-items: center
    width: 100%
    max-height: 40px
    padding-right: 2px
    @extend %text-400-14
    color: $ui-black

  &__subtext
    color: $ui-gray-middle

  &__body
    .ui-space-table__col:not(:last-child)
      &:after
        content: ''
        display: block
        position: absolute
        +cy
        right: 0
        width: 1px
        height: calc(100% - 19px)
        background: $ui-background
        border-radius: 1px
      &.-full-border-
        &:after
          height: 100%

  &-controls
    position: absolute
    top: 43px
    right: 100%
    margin-top: -1px
    margin-right: 6px

    &__container
      position: relative

    .crm-table__col-checkbox
      top: -23px
      left: 0
      transform: none

    .-main-checkbox-
      svg
        +size(16px)

    .crm-table__col-header
      position: absolute
      top: -24px
      // left: -18px
      left: 0
      display: flex
      align-items: center
      justify-content: flex-end
      transform: none

    .crm-table__col-trash
      cursor: pointer
      width: 18px
      height: 18px


    &__item
      height: $row-height
      margin-top: 1px
      display: flex
      align-items: center

      .checkbox__icon
        +size(16px)

  &__icon
    &.-arrow-
      margin-left: 3px
      height: 7px
      width: 10px
      transition: fill .3s, transform .3s
      &.-active-
        path
          fill: $ui-blue-accident
      &.-rotate-
        transform: rotate(180deg)

  &-avatar
    position: relative
    margin-right: 15px
    +size(36px)
    border-radius: 50%
    flex-shrink: 0
    flex-grow: 0

    &__img
      position: absolute
      min-width: 100%
      min-height: 100%
      border-radius: 50%
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
    &__img-icon
      position: absolute
      +size(14px)
      bottom: 0
      right: -2px

  &-clarification
    display: flex
    flex-direction: column
    +nextChildren
      margin-top: 1px
    &.-center-
      width: 100%
      align-items: center
    &__subtitle
      @extend %text-500-12
      color: $ui-light-grey-4-5-contrast

  &-col-icon-list
    display: flex
    justify-content: center
    width: 100%
    &__icon
      +size(20px)
      flex-shrink: 0
      & + &
        margin-left: 10px
      path
        fill: $ui-gray-less
        transition: fill .2s
      &:hover
        path
          fill: $ui-blue-accident


@keyframes grow
  to
    transform: translateX(-50%) scale(0)
