.upload-file
  position: relative
  margin: 5px 0px
  background-color: #EFF1F8
  border-radius: 4px
  &__btn
    &-icon
      border-radius: 4px
      border-color: transparent
      padding: 5px 10px 5px 30px !important
      color: #B8B8BE
  &__svg
    position: absolute
    width: 14px
    height: 14px
    left: 10px
    top: 50%
    transform: translateY(-50%)
    fill: #B8B8BE