.-word-counter-
	position: relative

	&::after
		position: absolute
		content: attr(data-words-now) '/' attr(data-words-all)
		right: 12px
		bottom: 5px
		@extend %text-400-10
		color: $text-extra-color
		z-index: 10
