<template lang="pug">
  .franch
    template(v-if="isLoadFranch")
      .ajax__line.ajax__line-card
      .ajax__line.ajax__line-card
      .ajax__line.ajax__line-card

    .franch-block(v-else)
      .franch-card
        .franch-card__title
          | Франчбург
        .franch-card__info
          .franch-card__info-block(
            v-for="(data, idx) in getNumbersText" 
            :key="data[0] + idx"
          )
            Icon.franch-card__label.width-15px(
              v-if="info__block[data[0]].icon" 
              :icon="info__block[data[0]].icon")

            .franch-card__label(v-else)
              |  {{ info__block[data[0]].name}}:
            .franch-card__text.margin-left__10
              |{{data[1] | numberFormat}}
              |{{data[0] === 'money' ? `&#x20bd;` : info__block[data[0]].symbol}}

        .franch-card__rating
          .franch-card__rating-block(
            v-for="(data, idx) in getNumbersRating"
            :key="data[0]+ idx"
          )
            .franch-card__rating-info
              Icon.franch-card__text.width-15px(
                :icon="rating__block[data[0]].icon")
              .franch-card__label.margin-left__5
                | {{ rating__block[data[0]].name}}
            Rating(:rating="data[1]")
            
      .franch-action
        //- Button.franch-action__btn(
        //-   v-for="(day,idx) of getDays" :key="idx"
        //-   :class="{'-blocked-': day[0] > activeDayId}"
        //-   @click="clickDayLesson(day)"
        //- )
        //-   | День {{day[0]}}
        Button.franch-action__btn(
          v-for="(day,idx) of getDays" :key="idx"
          :class="{'-blocked-': day[0] > activeDayId}"
          :style="{'padding':'11px 10px',...styleByDay(btnNames[day[0]].isFull)}"
          @click="clickDayLesson(day)"
        )
          |{{ btnNames[day[0]].name }}

      FranchTeam.-teammates-(
        :team="team.team"
        :teammates="team.teammates"
        :amount="10"
      )

      .menu__subblock.-controls-
        ul.nav__list
          CommonLink(
            :path="`/franch/courses/course/${franchGameCourseId}`"
            title="Вводные уроки"
            icon="dashboard"
            exact
          )
          CommonLink(
            path="/logout"
            title="Выход"
            icon="logout"
            exact
          )

</template>
<script>
  import Rating from './components/Rating'
  import FranchTeam from '../CourseNavigation/components/Teammates'
  import CommonLink from '@lms/components/Menu/components/CommonLink'
  import {mapState} from 'vuex';

export default {
  components: {Rating, FranchTeam, CommonLink},
  data(){
    return {
      info__block:{
        'deals':{
          icon:'deal',
        },
        'money':{
          icon:'money',
        },
        'romi':{
          name:'ROMI',
          symbol:'%'
        },
        'nps':{
          name:'NPS',
          symbol:'%'
        },
        'points':{
          name:'Баллы'
        }
      },
      rating__block:{
        analytics:{
          icon:'analytics',
          name:'Аналитика'
        },
        sales:{
          icon:'deal',
          name:'Продажи'
        },
        marketing:{
          icon:'marketing',
          name:'Маркетинг'
        },
        team:{
          icon:'user-group',
          name:'Команда'
        }
      },
      btnNames:
      {
        1:{
          isFull: true,
          name:'Вводный блок', 
        },
        2:{
          isFull: false,
          name:'Подготовка', 
        },
        3:{
          isFull: false,
          name:'Запуск ', 
        },
        4:{
          isFull: false,
          name:'Оффлайн 1 день', 
        },
        5:{
          isFull: false,
          name:'Оффлайн 2 день',
        },
      }
    }
  },
  computed:{
    ...mapState('lms',{
      isLoadFranch: s => s.menu.meta.isLoadFranch,
      numbers: s => s.menu.data.numbers,
      days: s => s.menu.data.days,
      activeDayId: s => s.menu.data.activeDayId,
      team: s => s.menu.data.team,
    }),
    ...mapState('auth',{
      franchGameCourseId: s => s.data.user.franchGameCourseId
    }),
    getNumbersText(){
      return Object.entries(this.numbers).filter(el => this.info__block[el[0]])
    },
    getNumbersRating(){
      return Object.entries(this.numbers).filter(el => !this.info__block[el[0]])
    },
    getDays(){
      return Object.entries(this.days)
    }
  },
  methods:{
    clickDayLesson(day){
      this.$router.push({path: `/franch${day[1].url}` })
    },
    styleByDay( boolean )
    {
      return boolean ? ({ 'width': '100%' }) : ''
    }
  }
}
</script>