<template lang="pug">
.form-item(ref="selectInTheTeam")
	span.form-item__title(v-if="title")
		| {{title}}
	.form-item__block(v-click-outside="close")
		span.form-item__error(v-if="error")
			| {{error}}

		.form-item__select.select(@click="toggleOpen")
			p.select__text.-disabled-(v-if="!result")
				| {{placeholder}}
			template(v-else)
				Avatar(:img="result.avatar || result.icon" circle size="xxs")
				.users__list-card__info
					p.users__list-card__text
						| {{result.name}} {{ result.lastname}}
					p.users__list-card__email
						| {{result.email}}

					Icon.form-item__icon( 
						class="form-item__delete"
						icon="input-delete"
						@click="clearInfo"
					)

		SlideUpDown.select__slider( 
			v-if="selectData && selectData.length"
			:duration="slideDuration"
			:active="isOpen"
		)
			.select__field.-no-padding-
				.select__item.users__list-card(
					v-for="(selectItem, idx) in getData" :key="idx"
					@click="setOption(selectItem)"
				)
					Avatar(:img="selectItem.avatar || selectItem.icon" circle size="xxs")
					.users__list-card__info
						p.users__list-card__text
							| {{selectItem.name}} {{ selectItem.lastname}}
						p.users__list-card__email
							| {{selectItem.email}}

		Icon.form-item__icon(v-if="!result" :icon="!icon ? 'arrow-down' : icon")

</template>
	
<script>
	import SlideUpDown from 'vue-slide-up-down'
	import vClickOutside from 'v-click-outside'

	export default {
		directives: {clickOutside: vClickOutside.directive},
		components: {SlideUpDown},
		props: {
			value: {},
			selectData: {},
			title: {},
			error: {},
			icon: {},
			placeholder: {},
			message:{},
		},
		data: () => ({
			isOpen: false,
			result: '',
			slideDuration: 200
		}),
		computed:{
			getData(){
				return this.selectData.filter(el=> !el.isCaptain)
			},
			leader(){
				return this.selectData.find(el=> el.isLeader)
			}
		},
		mounted(){
			if(this.leader)
					this.result = this.leader
		},
		watch:{
			leader(val){
				this.result = val
			}
		},
		methods: {
			close() {
				this.isOpen = false
			},
			toggleOpen() {
				this.isOpen = !this.isOpen
			},
			setOption(item) {
				this.close();
				const obj = {
					isNew:item.isNew,
          id: item.id,
          avatar: item.avatar,
          email: item.email,
          name: item.name,
          lastname: item.lastname,
          isLeader: true,
          isCaptain: false,
					isDelete: false,
        }
				this.result = obj
				this.$emit('input', obj)
			},
			clearInfo(){
				this.close()
				this.result = ''
				this.$emit('input', false)
			},
			addIcon({icon}){
				if (icon) return {
					'backgroundImage':`url(${icon})`,
					'backgroundColor':'grey',
					'backgroundSize':'cover',
					'backgroundRepeat':'no-repeat'
				}
				else return {}
			}
		}
	}
</script>