<template lang="pug">
    .percents
        template(v-if="typeof status === 'boolean' && ( status || !status )")
            Icon(
                :class="classNameSVG"
                icon="arrow-down-thick"
                )
            .percents-title( :class="className")
                | {{value}}
            .percents-title( :class="className")
                | %
</template>
<script>
export default {
    props:{
        value:{
            default: '0'
        }
    },
    computed:{
        status(){
            if( typeof this.value === 'undefined' || isNaN(parseInt(this.value)) || this.value.length === 0)
                return undefined

            return  /-/.test(this.value)
        },
        className()
        {
            if ( this.value == 0 )
                return 'percents-zero'
            return !this.status ? 'percents-grow': 'percents-fall'
        },
        classNameSVG()
        {
            if ( this.value == 0 )
                return 'percents_svg-zero'
                
            return !this.status ? 'percents_svg-grow': 'percents_svg-fall'
        },
        
    },
}
</script>