<template lang="pug">
  li.menu-teammates__member.-unknown-(@click="$emit('click')")
    Icon.menu-teammates__member-icon(
      icon="user-unknown"
    )

</template>

<script>
  export default {
    props: ['member']
  }
</script>