<template lang="pug">
  li.menu-teammates__member(
    :class="memberStatus"
    :style="{backgroundImage: `url('${member.avatar}')`}"
    ref="li"
    @click="$emit('click')"
  )
    Icon.menu-teammates__member-icon(
      v-if="!member.avatar"
      icon="user-unknown"
    )
    Icon.menu-teammates__member-leader(
      v-if="member.isLeader"
      icon="star"
    )

</template>

<script>
  export default {
    props: ['member', 'leader', 'black'],
    data: () => ({
      hover: false
    }),
    computed: {
      memberStatus(){
        switch (this.member.status) {
          case 'Сдал задание':
            return '-success-'
          case 'Просрочил сдачу':
            return '-error-'
          case 'Подходит DDL':
            return '-pending-'
          case 3:
            return '-left-'
        }
      }
    },
    methods: {
      showMemberTooltip(){
        let obj = {member: this.member, coords: this.$refs.li.getBoundingClientRect()}
        this.$emit('showMemberTooltip', obj)
      },
    },
  }
</script>