<template lang="pug">
.lesson-block.main-block
	.lesson-block__user__frame
		template(v-if="isPreviewImg")
			.lesson-block__video-wrapper-preview(v-if="!isVideoStart")
				img(:src="previewImg")
				Icon.width-40px.position-absolute(icon="video-start" @click="startVideo")

			.lesson-block__video-wrapper(v-else)
				iframe.lesson-block__video(:src="createVideoSrc+'?rel=0&autoplay=1'" frameborder="0" allowfullscreen allow="autoplay; encrypted-media; picture-in-picture")
		
		.lesson-block__video-wrapper(v-else)
			iframe.lesson-block__video(:src="createVideoSrc" frameborder="0" allowfullscreen allow="autoplay; encrypted-media; picture-in-picture")

</template>
	
<script>
	export default {
		props: {
			content: {},
		},
		data: () => ({
			videoId: '',
			isPreviewImg:false,
			previewImg:'',
			isVideoStart:false,
		}),
		computed: {
			createPosterSrc() {
				return `https://img.youtube.com/vi/${this.videoId}/maxresdefault.jpg`;
			},
			createVideoSrc() {
				if(this.typeId === 1)
					return `https://www.youtube.com/embed/${this.videoId}`;

				return `https://player.vimeo.com/video/${this.videoId}`
			},
		},
		mounted() {
			this.setData()
		},
		watch:{
			content(val){
				this.setData()
			}
		},
		methods: {
			setData() {
				this.videoId = this.youtubeParser(this.content.videoUrl)
				if(this.content.img && this.content.img.url){
					this.previewImg = this.content.img.url;
					this.isPreviewImg = true
				}
				this.contentLocal = _.cloneDeep(this.content)
			},
			youtubeParser( url ) {
				const regExpYouTube = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
				const regExpVimeo  = /^.*(vimeo\.com\/)(channels\/[A-z]+\/)|(groups\/[A-z]+\/videos\/)|(review\/([0-9]+)\/)|(\/[0-9]+)/;
				let matchTube = url.match( regExpYouTube );
				let matchVimeo = url.match( regExpVimeo );
				this.isError = false;

				if(matchVimeo){
					this.typeId = 2;
					if(matchVimeo[6] && !matchVimeo[5])
						return ( matchVimeo && matchVimeo[6].length >= 1) ? matchVimeo[6].split('/').join('') : false;	
					return ( matchVimeo && matchVimeo[5].length >= 1) ? matchVimeo[5] : false;
				}
					this.typeId = 1
					return ( matchTube && matchTube[7].length === 11 ) ? matchTube[7] : false;
				
			},
			startVideo(){
				this.isVideoStart = true
			}
		},
	}
</script>