<template lang="pug">

  .lesson-block.main-block
    .lesson-block__content(v-if="!isEditLocal")
      template(v-if="isPreviewImg")
        .lesson-block__video-wrapper-preview(v-if="!isVideoStart")
          img(:src="previewImg")
          Icon.width-40px.position-absolute(icon="video-start" @click="startVideo")

        .lesson-block__video-wrapper(v-else)
          iframe.lesson-block__video(:src="createVideoSrc+'?rel=0&autoplay=1'" frameborder="0" allowfullscreen allow="autoplay; encrypted-media; picture-in-picture")

      .lesson-block__video-wrapper(v-else)
        iframe.lesson-block__video(:src="createVideoSrc" frameborder="0" allowfullscreen allow="autoplay; encrypted-media; picture-in-picture")

    .lesson-block__content(v-if="isEditLocal")
      Input.lesson-block__edit(
          v-model="linkValue"
          :error="isError && 'Ссылка на видео должна быть от Vimeo или YouTube'"
          title="Ссылка на видео")

      .lesson-block__preview(v-if="isLoadingPreview")
        .ajax__line.ajax__line-preview
      template(v-else-if="!isPreviewImg")
        .lesson-block__preview(v-if="isPreview")
          Icon(icon="close" @click="isPreview = false").lesson-block__preview-close
          img(v-if="typeId === 1" :src="createPosterSrc")
          iframe.vimeo__frame(v-else :src="`https://player.vimeo.com/video/${videoId}?controls=false`")

      template(v-else)
        .lesson-block__preview(v-if="isPreviewImg")
          Icon(icon="close" @click="isPreviewImg = false").lesson-block__preview-close
          img(:src="previewImg")
      .lesson-block__buttons
        Button.-xs-(@click="saveBlock" :isLoading="isLoading") Сохранить
        ButtonCancel.-xs-.hover__link(@click="cancel") Отмена
        UploadFiles.-xs-(buttonText="Добавить превью" onlyImages @getFiles="addPreview")

    ControlsArrow.lesson__controls(
      :firstBlock="isFirstBlock"
      :lastBlock="isLastBlock"
      v-if="$permissionsUpdate"
      @moveUp="moveUp"
      @moveDown="moveDown"
    )


    OptionsList.course-lesson__options(
      v-if="optionsFields.length"
      :optionsFields="optionsFields"
    )

</template>
	
<script>
  import blockPermissionMixin from '@lms/views/Courses/Lesson/components/block.permission.mixin'

  export default {
    mixins: [blockPermissionMixin],
    props: {
      permissions: {},
			isEdit: {
				default: false,
				type: Boolean
			},
			content: {},
			arrows: {
				default: true,
				type: Boolean
			},
			isFirstBlock: false,
			isLastBlock: false,
			isLoading: false,
		},
		data() {
			return {
				previewImg:'',
				videoId: '',
				linkLocal: '',
				linkValue:'',
				typeId:1,
				isError:false,
				isEditLocal: false,
				isPreview: true,
				isPreviewImg:false,
				isLoadingPreview:false,
				isVideoStart:false,
			}
		},
		computed: {
      optionsFields(){
        let arr = []
        if(this.$permissionsUpdate)
          arr.push({
            text: 'Редактировать',
            func: this.openBlockEdit,
            icon: 'edit',
          })
        if(this.$permissionsCreate)
          arr.push({
            text: 'Дублировать',
            func: this.duplicateBlock,
            icon: 'copy',
          })
        if(this.$permissionsDelete)
          arr.push({
            text: 'Удалить',
            func: this.deleteBlock,
            icon: 'delete',
            iconWidth: '10px',
            confirm: true,
            confirmTitle: 'Вы уверены, что хотите удалить этот блок?',
            confirmDescription: 'Блок будет удален навсегда',
            confirmApplyText: 'Удалить',
            confirmCancelText: 'Отменить',
            red: true
          })

        return arr
      },
			createPosterSrc() {
					return `https://img.youtube.com/vi/${this.videoId}/maxresdefault.jpg`;			
			},
			createVideoSrc() {
				if(this.typeId === 1)
					return `https://www.youtube.com/embed/${this.videoId}`;

				return `https://player.vimeo.com/video/${this.videoId}`
			},
		},
		mounted() {
			this.setData()

      if(this.contentLocal.forceEdit) {
        this.isEditLocal = true
        delete this.contentLocal.forceEdit
			}
		},
		methods: {
			setData() {
				this.videoId = this.youtubeParser(this.content.videoUrl)
				this.contentLocal = _.cloneDeep(this.content)
				this.linkValue = this.contentLocal.videoUrl
				if(this.content && this.content.img.url)
					this.loadPreview();
			},
			youtubeParser( url ) {
				const regExpYouTube = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
				const regExpVimeo  = /^.*(vimeo\.com\/)(channels\/[A-z]+\/)|(groups\/[A-z]+\/videos\/)|(review\/([0-9]+)\/)|(\/[0-9]+)/;
				let matchTube = url.match( regExpYouTube );
				let matchVimeo = url.match( regExpVimeo );
				this.isError = false;

				if(matchVimeo){
					this.typeId = 2;
					if(matchVimeo[6] && !matchVimeo[5])
						return ( matchVimeo && matchVimeo[6].length >= 1) ? matchVimeo[6].split('/').join('') : false;	
					return ( matchVimeo && matchVimeo[5].length >= 1) ? matchVimeo[5] : false;
				}else if(matchTube){
					this.typeId = 1
					return ( matchTube && matchTube[7].length === 11 ) ? matchTube[7] : false;
				}
				else {
					this.isError = true;
					return null
				}
			},
			openBlockEdit() {
				this.isEditLocal = true
			},
			deleteBlock() {
				this.$emit('deleteBlock')
			},
			saveBlock() {
				if(this.isError)
					return

				setTimeout(() => {
					this.isEditLocal = false
				}, 1000)
				this.contentLocal.typeId = this.typeId

				this.$emit('saveBlock', this.contentLocal)
			},
			async addPreview({formData, fileUrl, file}) {
				this.isLoadingPreview = true;
        let res = await this.$store.dispatch('ajax/uploadImage', {formData})
        if(res) {
					this.contentLocal.img = {...res}
				}
				this.loadPreview()
			},
			loadPreview(){
				this.isPreviewImg = true;
				this.previewImg = this.contentLocal.img.url
				this.isLoadingPreview = false;
			},
			startVideo(){
				this.isVideoStart = true
			},
			cancel() {
				this.isEditLocal = false
				this.setData()
			},
      duplicateBlock() {
        this.$emit('duplicateBlock')
      },
			moveUp() {
				this.$emit('moveUp')
			},
			moveDown() {
				this.$emit('moveDown')
			},
		},
		watch: {
			linkValue(val){
				this.contentLocal.videoUrl = val;
				this.videoId = this.youtubeParser(val)
			},
			isEditDefault() {
				this.isEditLocal = this.isEdit
			},
			isPreviewImg(val){
				if(!val)
					this.contentLocal.img = null
			},
			content() {
				this.setData()
			},
		}
	}
</script>