<template lang="pug">
  .questionnaire-info
    p.questionnaire__title
      | Укажи обязательные данные,
      | чтобы продолжить регистрацию
    .questionnaire-info__field-list(
      v-if="!isLoading"
    )
      UiInput(
        title='Фамилия'
        placeholder='Введи фамилию'
        v-model="user.lastname"
        :popup="validPopup(!$v.user.lastname.required, 'Обязательное поле')"
      )
      UiInput(
        title="Имя"
        placeholder='Введи имя'
        v-model="user.name"
        :popup="validPopup(!$v.user.name.required, 'Обязательное поле')"
      )
      UiInput(
        title='Отчество'
        placeholder='Введи отчество'
        v-model="user.patronymic"
        :popup="validPopup(!$v.user.patronymic.required, 'Обязательное поле')"
      )
      UiInput.profile-edit__input(
        title='Телефон'
        placeholder='Введи номер телефона'
        v-model="user.phone"
        :popup="validPopup(!$v.user.phone.required, 'Обязательное поле')"
      )
      UiInput(
        title="Email"
        placeholder="Введи почту"
        v-model="user.email"
        :error="$v.$dirty && (!$v.user.email.required || !$v.user.email.email)"
        :popup="validPopup(!$v.user.email.required, 'Обязательное поле') || validPopup(!$v.user.email.email, 'Некорректный email')"
      )
      UiCityInput(
        title="Местоположение"
        placeholder="Введи своё местоположение"
        v-model="user.city"
        :popup="validPopup(!$v.user.city.required, 'Обязательное поле')"
      )
      //- UiInput(
      //-   title="Телеграм"
      //-   before="@"
      //-   placeholder="telegram"
      //-   v-model="user.telegram"
      //- )
      UiSelectFilter(
        title="Часовой пояс"
        placeholder="В каком часовом поясе проживаете"
        v-model="user.timezone"
        :option="timezoneList"
        maxHeight="200"
        :popup="validPopup(!$v.user.timezone.required, 'Обязательное поле')"
      )
    .questionnaire-info__field-list(
      v-else
    )
      .ajax__line.-round-(
        v-for="(item, idx) in user" :key="idx"
        :style="{width: '100%', height: '51px'}"
      )
    UiCheckbox.questionnaire-info__checkbox(
      v-model="privacyPolicy"
      :class="{'-error-': $v.$dirty && !$v.privacyPolicy.check}"
    ) Я согласен с 
      a(
        href="https://docs.google.com/document/d/1l9I4EyDn7thrLgVAWwM-Eh4r_B5XS-2r-3m6dbZT0J0/edit"
        target="_blank"
      ) Политикой Конфиденциальности
      |  и 
      a(
        href="https://docs.google.com/document/d/1Z4I_yLTtUeJxyKyV8Ps6dcoYHQFZX7_A4sQlG8595pM/edit?usp=sharing"
        target="_blank"
      ) Офертой
    .questionnaire-info__footer.-center-
      UiButton.-warning-(
        @click="sendUser"
      ) Продолжить
</template>

<script>
import {required, email} from 'vuelidate/lib/validators';
import {mapState} from 'vuex';
import UiCityInput from '@lms/components/UiKit/CityInput';

export default {
  components: { UiCityInput },
  data: () => ({
    user: {
      name: '',
      lastname: '',
      patronymic: '',
      phone: '',
      email: '',
      city: '',
      // telegram: '',
      timezone: '',
    },
    privacyPolicy: true,
  }),
  computed: {
    ...mapState('auth', {
      userData: s => s.data.user,
      timezoneList: s => s.data.timezoneList.map(({id, name}) => ({value: id, title: name})),
      getUserData: s => s.meta.getUserData,
      gettingTimezone: s => s.meta.gettingTimezone
    }),
    ...mapState('questionnaire', {
      questionList: s => s.data.questionList,
    }),
    isLoading() {
      return !this.getUserData || this.gettingTimezone
    }
  },
  mounted() {
    if(this.getUserData)
      this.setUserData()
    this.$store.dispatch('auth/getTimezoneList')
  },
  methods: {
    validPopup(isErr, text) {
      if(!this.$v.$dirty)
        return
      if(isErr)
        return({
          msg: text,
          error: true
        })
    },
    async sendUser() {
      if(this.$v.$invalid){
        this.$v.$touch()
        return
      }
      let sendData = {...this.user, timeZone: this.user.timezone}
      delete sendData.timezone
      await this.$store.dispatch('settingStore/setData', {path: 'stagedUserMain', value: sendData})
      let status = await this.$store.dispatch('settingStore/settingUpdate', {type: 'main'})
      if(status) {
        if(!this.questionList.length)
          await this.$store.dispatch('questionnaire/getQuestionnaireList')
        this.$store.dispatch(
          'questionnaire/setQuestion',
          this.questionList.find(q => q.first).id ?? this.questionList[0].id
        )
      }
    },
    setUserData() {
      Object.keys(this.user).forEach(key => {
        this.user[key] = this.userData[key]
      })
    }
  },
  validations: {
    user: {
      name: {required},
      lastname: {required},
      patronymic: {required},

      email: {required, email},
      city: {required},
      phone: {required},
      timezone: {required}
    },
    privacyPolicy: {
      check(value) {
        return value
      },
    }
  },
  watch: {
    getUserData() {
      this.setUserData()
    }
  }

}
</script>

<style>

</style>
