<template lang="pug">

  .lesson-test-slide.-question-(v-if="dataCreated")
    .lesson-test-slide-controls
      .lesson-test-slide-controls__left
        UploadFile(
          @getFiles="getFile"
          :fileMime="['image/*']"
          :fileExt="[]"
          :buttonClass="data.img && data.img.id ? 'button-primary -disabled-' : 'button-primary'"
          buttonText="Добавить обложку"
          :disabled="data.img && data.img.id"
        )

        File(
          v-if="data.img && data.img.id"
          :file="data.img"
          icon="image"
          @deleteFile="addFileToDelete"
        )

      .lesson-test-slide-controls__right
        Button.-xs-(
          v-if="questionSlidesLength > 1"
          color="button-cancel"
          @click="$emit('deleteQuestion')"
        )
          | Удалить вопрос
        Button.-xs-.lesson-test-slide-controls__button(
          @click="$emit('addQuestion')"
        )
          | Добавить вопрос

    MarkdownText.lesson-test-slide__input.-markdown-.form-item__markdown(
      title="Напишите текст вопроса"
      v-model="data.text"
      placeholder="Напишите текст вопроса"
      @input="updateQuestion"
    )

    Answers(
      :propIsMultipleAnswers="data.isMultipleAnswers"
      :propAnswers="data.answers"
      @updateAnswers="updateAnswers"
      @updateAnswersType="updateAnswersType"
    )

</template>

<script>
  import File from "@lms/components/File/File";
  import UploadFile from "@lms/components/Form/UploadFiles";
  import MarkdownText from '@lms/components/Form/MarkdownText/index'
  import Answers from './Answers'

  export default {
    props: ['propData', 'currentSlideIdx', 'slidesLength', 'questionSlidesLength', 'idx'],
    components: {
      File,
      UploadFile,
      MarkdownText,
      Answers
    },
    data: () => ({
      dataCreated: false,
      data: {
        img: {},
        text: '',
        isMultipleAnswers: undefined,
        answers: []
      }
    }),
    mounted() {
      this.setData()
    },
    watch: {
      currentSlideIdx(val) {
        if(val === this.idx)
          this.setNavText()
      }
    },
    methods: {
      setData() {
        this.data = _.cloneDeep(this.propData)

        if(this.idx === this.currentSlideIdx)
          this.setNavText()

        this.dataCreated = true
      },
      setNavText() {
        let navText = `Вопрос ${this.currentSlideIdx} из ${this.questionSlidesLength}`
        this.$emit('update:navText', navText)
      },
      async getFile({formData, fileUrl, file}) {
        let res = await this.$store.dispatch('ajax/uploadImage', {formData})
        if(res)
          this.data.img = {...res}

        this.updateQuestion()
      },
      async addFileToDelete() {
        let files = [{
          id: this.data.img.id
        }]
        this.$store.dispatch('coursesLesson/deleteFiles', {files})
        this.data.img = {}

        this.updateQuestion()
      },
      updateAnswers(answers){
        this.data.answers = _.cloneDeep(answers)

        this.updateQuestion()
      },
      updateAnswersType(newType){
        this.data.isMultipleAnswers = _.cloneDeep(newType)

        this.updateQuestion()
      },
      updateQuestion(){
        this.$emit('updateQuestion', this.data)
      }
    }
  }
</script>