<template lang='pug'>
		
	ul.settings-edit__list
		li.settings-edit__item.-max-
			Input(
				v-model.trim="pwd.currentPassword"
				title="Текущий пароль"
				type="password"
				:error="$v.pwd.currentPassword.$dirty && ($v.pwd.currentPassword.$invalid || pwd.currentPassword === pwd.newPassword1)"
				@input="compare"
			)
				template(v-slot)
					span.form-item__error(v-if="$v.pwd.$dirty && pwd.currentPassword === pwd.newPassword1")
						| Новый пароль не должен быть равен старому
					
					span.form-item__error(v-else-if="$v.pwd.currentPassword.$dirty && !$v.pwd.currentPassword.required")
						| Обязательное поле
					
					span.form-item__error(v-else-if="$v.pwd.currentPassword.$dirty && !$v.pwd.currentPassword.minLength")
						| Минимальная длина пароля {{$v.pwd.currentPassword.$params.minLength.min}} символов
					

		li.settings-edit__item.-max-
			Input(
				v-model.trim="$v.pwd.$model.newPassword1"
				title="Новый пароль"
				type="password"
				:error="$v.pwd.newPassword1.$dirty && ($v.pwd.newPassword1.$invalid || pwd.newPassword1 !== pwd.newPassword2)"
				@input="compare"
			)
				template(v-slot)
					span.form-item__error(v-if="$v.pwd.$dirty && pwd.newPassword1 !== pwd.newPassword2")
						| Пароли не совпадают
					
					span.form-item__error(v-else-if="$v.pwd.$dirty && !$v.pwd.newPassword1.required")
						| Обязательное поле
					
					span.form-item__error(v-else-if="$v.pwd.$dirty && !$v.pwd.newPassword1.minLength")
						| Минимальная длина пароля {{$v.pwd.newPassword1.$params.minLength.min}} символов


		li.settings-edit__item.-max-
			Input(
				v-model.trim="$v.pwd.$model.newPassword2"
				title="Повторите, чтобы не ошибиться"
				type="password"
				:error="$v.pwd.newPassword2.$dirty && ($v.pwd.newPassword2.$invalid || pwd.newPassword1 !== pwd.newPassword2)"
				@input="compare"
			)
				template(v-slot)
					span.form-item__error(v-if="$v.pwd.$dirty && pwd.newPassword1 !== pwd.newPassword2")
						| Пароли не совпадают
					
					span.form-item__error(v-else-if="$v.pwd.$dirty && !$v.pwd.newPassword2.required")
						| Обязательное поле
					
					span.form-item__error(v-else-if="$v.pwd.$dirty && !$v.pwd.newPassword2.minLength")
						| Минимальная длина пароля {{$v.pwd.newPassword2.$params.minLength.min}} символов
		
</template>
	
<script>
	import {required, minLength} from 'vuelidate/lib/validators'

	export default {
		data: () => ({
      pwd: {
        currentPassword: '',
        newPassword1: '',
        newPassword2: '',
      }
		}),
		methods: {
      compare(){
        if(!this.pwd.currentPassword && !this.pwd.newPassword1 && !this.pwd.newPassword2){
          this.$v.$reset()
          // this.$store.dispatch('settings/updateAsideChanges', {object: 'pwd', changed: false, canSave: false})
          return;
        }

        if(this.$v.$invalid || this.pwd.newPassword1 !== this.pwd.newPassword2 || this.pwd.currentPassword === this.pwd.newPassword1){
          this.$v.$touch()
          // this.$store.dispatch('settings/updateAsideChanges', {object: 'pwd', changed: true, canSave: false})
          // this.$store.dispatch('settings/setAsideData', {path: 'pwd', value: {}})
        } else {
          // this.$store.dispatch('settings/setAsideData', {path: 'pwd', value: this.pwd})
          // this.$store.dispatch('settings/updateAsideChanges', {object: 'pwd', changed: true, canSave: true})
        }
      }
    },
    destroyed(){
      // this.$store.dispatch('settings/setAsideData', {path: 'pwd', value: {}})
    },
    validations: {
      pwd: {
        currentPassword: {required, minLength: minLength(6)},
        newPassword1: {required, minLength: minLength(6)},
        newPassword2: {required, minLength: minLength(6)}
      }
    }
		
	}
</script>