<template lang='pug'>

  .main-block
    .settings__block
      p.main-block__title.settings__title Профиль

      .settings-user
        InputFoto.settings-user__img-edit(
          :propAvatar="user.avatar"
          :email="user.email"
        )

        ul.settings-user__info-edit.settings-edit__list
          li.settings-edit__item.-min-
            Input(
              v-model="user.name"
              title="Имя"
              :error="$v.$dirty && !$v.user.name.required"
            )

          li.settings-edit__item.-min-
            Input(
              v-model="user.lastname"
              title="Фамилия"
              :error="$v.$dirty && !$v.user.lastname.required"
            )

          li.settings-edit__item.-min-(v-if="user.isSpeedCourse")
            Input(
              v-model="user.patronymic"
              title="Отчество"
              :error="$v.$dirty && !$v.user.patronymic.required"
            )
          li.settings-edit__item.-min-(v-else)
            Input(
              v-model="user.patronymic"
              title="Отчество"
            )


      .settings__body
        ul.settings-edit__list
          li.settings-edit__item.-min-
            Input(
              v-model="user.phone"
              title="Телефон"
            )

          li.settings-edit__item.-min-
            Input(
              v-model="user.email"
              :error="$v.$dirty && (!$v.user.email.required || !$v.user.email.email)"
              title="E-mail"
            )
              span.form-item__error(v-if="$v.$dirty && !$v.user.email.required")
                | Обязательное поле
              span.form-item__error(v-else-if="$v.$dirty && !$v.user.email.email")
                | Некорректный email

          li.settings-edit__item.-min-
            Input(
              v-model="user.city"
              title="Город"
              :error="$v.$dirty && !$v.user.city.required"
            )

            //- .settings-edit__block
            //- 	p.settings-edit__title Изменить пароль

            //- 	ChangePassword


        .settings-edit__block
          p.settings-edit__title Соц. сети

          ul.settings-edit__list
            li.settings-edit__item.-max-
              Input(
                v-model="user.vkLink"
                title="Vk"
                :error="$v.$dirty && !$v.user.vkLink.isUrl"
                placeholder="Вставьте ссылку"
              )
                span.form-item__error(v-if="$v.$dirty && !$v.user.vkLink.isUrl")
                  | Некорректная ссылка

            li.settings-edit__item.-max-
              Input(
                v-model="user.fbLink"
                title="Facebook"
                :error="$v.$dirty && !$v.user.fbLink.isUrl"
                placeholder="Вставьте ссылку"
              )
                span.form-item__error(v-if="$v.$dirty && !$v.user.fbLink.isUrl")
                  | Некорректная ссылка

            li.settings-edit__item.-max-
              Input(
                v-model="user.instaLink"
                title="Instagram"
                :error="$v.$dirty && !$v.user.instaLink.isUrl"
                placeholder="Вставьте ссылку"
              )
                span.form-item__error(v-if="$v.$dirty && !$v.user.instaLink.isUrl")
                  | Некорректная ссылка

      .settings-edit__controls
        Button.-xs-(@click="saveMainCall" :isLoading="updatingMain") Сохранить
        //ButtonCancel.-xs-.hover__link(@click="closeEdit") Отмена


</template>

<script>
  import InputFoto from './InputFoto'
  import ChangePassword from './ChangePassword'
  import {mapState, mapActions} from 'vuex';
  import {required, email} from 'vuelidate/lib/validators';

  export default {
    props: ['storeUser'],
    components: {
      InputFoto,
      ChangePassword,
    },
    data: () => ({
      user: {
        avatar: '',
        email: '',
        name: '',
        lastname: '',
        phone: '',
        city: '',
        vkLink: '',
        fbLink: '',
        instaLink: '',
      }
    }),
    mounted() {
      this.user = _.cloneDeep(this.storeUser)
    },
    computed: {
      ...mapState('settingStore', {
        updatingMain: s => s.meta.updatingMain
      })
    },
    methods: {
      async saveMainCall() {
        if (this.$v.$invalid) {
          this.$v.$touch()
          return
        }

        await this.$store.dispatch('settingStore/setData', {path: 'stagedUserMain', value: this.user})
        let status = await this.$store.dispatch('settingStore/settingUpdate', {type: 'main'})
        if (status)
          this.closeEdit()
      },
      closeEdit() {
        this.$emit('update:isEditMain', false)
      }
    },
    validations() {
      if(this.user.isSpeedCourse)
        return {
          user: {
            email: {required, email},
            name: {required},
            lastname: {required},
            patronymic: {required},
            city: {required},
            vkLink: {
              isUrl(value) {
                return value ? /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&\/\/=]*)/.test(value) : true
              }
            },
            fbLink: {
              isUrl(value) {
                return value ? /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&\/\/=]*)/.test(value) : true
              }
            },
            instaLink: {
              isUrl(value) {
                return value ? /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&\/\/=]*)/.test(value) : true
              }
            },
          }
        }
      else
        return {
          user: {
            email: {required, email},
            name: {required},
            lastname: {required},
            city: {required},
            vkLink: {
              isUrl(value) {
                return value ? /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&\/\/=]*)/.test(value) : true
              }
            },
            fbLink: {
              isUrl(value) {
                return value ? /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&\/\/=]*)/.test(value) : true
              }
            },
            instaLink: {
              isUrl(value) {
                return value ? /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&\/\/=]*)/.test(value) : true
              }
            },
          }
        }
    },
    destroyed() {
      this.$store.dispatch('settingStore/setData', {path: 'stagedUserMain', value: {}})
    }
  }
</script>