<template lang='pug'>
		
  .main-block
    .settings__block
      .settings-user
        .settings-user__img(
          :style="{backgroundImage: `url('${user.avatar}')`}"
        )
          p.form-item__photo-letter(v-if="!user.avatar && user.email")
            | {{user.email[0]}}

        .settings-user__info
          p.settings-user__name.main-block__title {{user.name ? user.name : 'Имя'}} {{user.lastname }}
          p.settings-user__city.main-block__label {{user.city}}


        InlineSocials.settings-user__socials(
          :vk="user.vkLink"
          :fb="user.fbLink"
          :insta="user.instaLink"
        )

      .settings__body
        ul.settings__list
          li.settings__item(v-if="user.phone")
            p.main-block__label Телефон:
              span.color  {{user.phone}}

          li.settings__item(v-if="user.email")
            p.main-block__label E-mail:
              span.color  {{user.email}}

      OptionsList.settings__options(
        :optionsFields="optionsFields"
      )
		
</template>
	
<script>
  import InlineSocials from '@lms/components/InlineSocials'

	export default {
		props: {
			user: {
			  email: ''
      }
		},
    components: {InlineSocials},
		data() {
			return {
				optionsFields: [
					{
						text: 'Редактировать',
						func: this.openBlockEdit,
						icon: 'edit',
					},
				]
			}
		},
		methods: {
			openBlockEdit() {
				this.$emit('editLocal')
			},
		}
	}
</script>