<template lang="pug">
  label.form-item__photo
    p.form-item__photo-letter
      | {{email[0]}}

    .form-item__photo-img(
      :style="{backgroundImage: `url('`+avatar+`')`}"
    )

    .form-item__photo-icon
      Icon.form-item__photo-camera(icon="camera")

    input(
      @change="uploadFile"
      accept=".png, .jpg, .jpeg"
      type="file"
      hidden
    )

</template>

<script>
  import {mapState, mapActions} from 'vuex'
  export default {
    props: {
      propAvatar: {
        default: ''
      },
      email: {
        default: ''
      }
    },
    data: () => ({
      avatar: '',
      fileExt: ['.png', '.jpg', 'jpeg'],
    }),
    computed: {
      acceptTypes() {
        return this.fileExt.reduce((res, item) => res + item + ',', '')
      }
    },
    mounted() {
      this.avatar = this.propAvatar
    },
    watch: {
      propAvatar(val) {
        this.avatar = val
      },
    },
    methods: {
      ...mapActions('settingStore', [
        'settingLoadAvatar'
      ]),
      uploadFile(e) {
        if (e.target.files[0] === undefined) {
          this.$store.dispatch('ajax/addMessage', {message: 'Неудалось загрузить файл', type: 'error'}, {root: true})
          return
        }
        let f = e.target.files[0]
        if (f.size > 2097152) {
          this.$store.dispatch('ajax/addMessage', {
            message: 'Размер файла не должен превышать 2Мб',
            type: 'error'
          }, {root: true})
          return
        }
        let fileExt = f.name.match(/\..*$/)
        if (fileExt === null) {
          this.$store.dispatch('ajax/addMessage', {message: 'Отсутствует формат файла', type: 'error'}, {root: true})
          return
        }
        let regexString = fileExt[0]
        let regex = new RegExp(regexString)
        let match = this.acceptTypes.match(regex)
        if (match === null) {
          this.$store.dispatch('ajax/addMessage', {
            message: 'Разрешенные форматы: ' + this.acceptTypes,
            type: 'error'
          }, {root: true})
          return
        }
        try {
          const reader = new FileReader()
          reader.readAsDataURL(f)
          reader.onload = e => {
            this.avatar = e.target.result
          }
          let fileData = new FormData()
          fileData.append("avatar", f)
          this.settingLoadAvatar(fileData)
        } catch (e) {}
      },
    },
  }
</script>