<template>
  <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clipgift0)">
    <path d="M38.3747 32.5225H35.2183V34.9405H31.6831V32.5225H23.3566L10.8809 42.5561V55.7885V67.2663C10.8809 68.7767 12.1047 70.0005 13.6151 70.0005H58.9982C60.5086 70.0005 61.7325 68.7767 61.7325 67.2663V32.5225H38.3747Z" fill="#A5AFFB"/>
    <path d="M31.7926 32.5225H23.3566L10.8809 42.5561V55.7885C11.3329 55.928 11.8062 56.0015 12.2846 56.0015H12.2847C13.5323 56.0015 14.7131 55.5238 15.6172 54.6491L31.7925 38.922V32.5225H31.7926Z" fill="#6979F8"/>
    <path d="M16.9784 67.2663V55.7885V42.5561L29.4542 32.5225H23.3566L10.8809 42.5561V55.7885V67.2663C10.8809 68.7767 12.1047 70.0005 13.6151 70.0005H19.7127C18.2023 70.0005 16.9784 68.7767 16.9784 67.2663Z" fill="#6979F8"/>
    <path d="M53.1251 11.513L47.4984 5.72547C46.7729 4.97874 45.5772 4.9618 44.8305 5.68877L22.6861 27.2188L23.1656 27.6984L21.6875 29.1764L21.1873 28.6762L6.3036 43.1471C5.55686 43.8726 5.53992 45.0669 6.2669 45.815L11.8935 51.6012C12.1025 51.8171 12.4483 51.8214 12.6643 51.6125L18.7426 45.7021L31.6471 33.1555H31.1273V33.0864V32.1668V32.15H32.3192V32.1668H32.3257V32.4958L47.0354 18.1942L53.1138 12.2838C53.3298 12.0735 53.3354 11.729 53.1251 11.513Z" fill="#A5AFFB"/>
    <path d="M19.627 17.6689L16.2318 20.6868L14.6669 19.1055V20.0739H11.5885V19.4562L2.67773 26.4597L9.24437 33.2137C11.1973 35.2224 14.409 35.2676 16.4177 33.3146L22.6919 27.2144L25.9321 23.9742L19.627 17.6689Z" fill="#FEE45A"/>
    <path d="M12.6023 29.9945L6.35539 23.5693L2.67773 26.4599L9.24437 33.2138C11.1973 35.2226 14.409 35.2677 16.4177 33.3148L19.3447 30.4688C17.331 32.0319 14.4211 31.8652 12.6023 29.9945Z" fill="#FDBA12"/>
    <path d="M31.6826 32.5215H40.9299V69.9994H31.6826V32.5215Z" fill="#FEE45A"/>
    <path d="M31.6826 39.0285L38.374 32.5225H31.6826V39.0285Z" fill="#FDBA12"/>
    <path d="M14.3369 44.7619L10.8776 41.2047C10.2921 40.6021 10.19 39.7102 10.5624 39.0068L6.3036 43.1475C5.55686 43.8731 5.53992 45.0673 6.2669 45.8154L11.8935 51.6016C12.1025 51.8176 12.4483 51.8218 12.6643 51.6129L16.9403 47.4551L14.3369 44.7619Z" fill="#6979F8"/>
    <path d="M34.7551 8.41314L28.1883 1.65918L19.6827 9.64575V12.4037L22.521 15.4332L18.4482 18.7538L24.8805 25.1861L28.3799 21.6867L34.6542 15.5865C36.6629 13.6335 36.708 10.4218 34.7551 8.41314Z" fill="#FEE45A"/>
    <path d="M25.2502 19.0578C24.9742 19.0578 24.6985 18.9507 24.491 18.7371C24.0835 18.3178 24.0928 17.6476 24.5121 17.2401L27.5072 14.3279C27.9265 13.9204 28.5967 13.9297 29.0042 14.349C29.4117 14.7682 29.4024 15.4385 28.9832 15.846L25.988 18.7581C25.7824 18.9583 25.5163 19.0578 25.2502 19.0578Z" fill="#FDBA12"/>
    <path d="M14.4771 18.8844L16.0625 20.5201L9.79199 26.6171C7.78327 28.5708 4.57188 28.5256 2.61822 26.5169C1.65974 25.5316 1.18262 24.2555 1.18262 22.9809C1.18262 21.6582 1.69503 20.3383 2.71844 19.3431L3.35225 18.7277C6.46766 15.6984 11.4492 15.769 14.4771 18.8844Z" fill="#FFCE00"/>
    <path d="M28.3125 1.53582C30.2648 3.54454 30.2196 6.75593 28.2109 8.70959L21.9363 14.8091L20.3482 13.1759C17.3204 10.0605 17.3895 5.08036 20.5049 2.05106L21.1387 1.4356C22.124 0.477122 23.4001 0 24.6748 0C25.9975 0 27.3173 0.512412 28.3125 1.53582Z" fill="#FFCE00"/>
    <path d="M16.1652 27.8908C15.8893 27.8908 15.6136 27.7837 15.4061 27.5701C14.9985 27.1509 15.0079 26.4806 15.4271 26.0731L18.4222 23.161C18.8415 22.7534 19.5117 22.7627 19.9193 23.182C20.3268 23.6012 20.3175 24.2715 19.8982 24.679L16.9031 27.5911C16.6974 27.7912 16.4312 27.8908 16.1652 27.8908Z" fill="#FDBA12"/>
    <path d="M21.1885 28.6768L29.9433 20.1661L37.2639 27.6968L28.5091 36.2074L21.1885 28.6768Z" fill="#FEE45A"/>
    <path d="M52.0011 22.6837C51.4163 22.6837 50.9424 22.2097 50.9424 21.625V20.5353C50.9424 19.9506 51.4163 19.4766 52.0011 19.4766C52.5859 19.4766 53.0598 19.9506 53.0598 20.5353V21.625C53.0598 22.2097 52.5859 22.6837 52.0011 22.6837Z" fill="#6979F8"/>
    <path d="M55.9698 25.5989H54.88C54.2952 25.5989 53.8213 25.1248 53.8213 24.5401C53.8213 23.9555 54.2952 23.4814 54.88 23.4814H55.9698C56.5546 23.4814 57.0285 23.9555 57.0285 24.5401C57.0285 25.1248 56.5544 25.5989 55.9698 25.5989Z" fill="#6979F8"/>
    <path d="M51.965 29.5685C51.3801 29.5685 50.9062 29.0945 50.9062 28.5098V27.42C50.9062 26.8353 51.3801 26.3613 51.965 26.3613C52.5498 26.3613 53.0237 26.8353 53.0237 27.42V28.5098C53.0237 29.0945 52.5498 29.5685 51.965 29.5685Z" fill="#6979F8"/>
    <path d="M49.0861 25.5627H47.9962C47.4114 25.5627 46.9375 25.0887 46.9375 24.504C46.9375 23.9193 47.4114 23.4453 47.9962 23.4453H49.0861C49.6709 23.4453 50.1448 23.9193 50.1448 24.504C50.1448 25.0887 49.6709 25.5627 49.0861 25.5627Z" fill="#6979F8"/>
    <path d="M64.2793 9.44393C63.4648 8.91881 62.8217 8.28966 62.3498 7.55647C62.0687 7.11972 61.4257 7.11408 61.1388 7.54701C60.6495 8.28472 59.9979 8.92248 59.1793 9.45776C58.7323 9.7501 58.7427 10.4006 59.1931 10.6875C59.9557 11.1733 60.5792 11.8223 61.0877 12.6069C61.3816 13.0606 62.0463 13.026 62.3241 12.5623C62.7957 11.775 63.4469 11.1613 64.2471 10.6918C64.7207 10.414 64.7407 9.74149 64.2793 9.44393Z" fill="#FDBA12"/>
    <path d="M68.0363 20.5326L62.6656 20.0226C62.0864 19.9676 61.8187 19.275 62.2101 18.8446L65.8485 14.8453C66.1161 14.5511 66.5766 14.5333 66.8612 14.8113C68.2674 16.1847 68.9019 17.8761 68.809 19.8672C68.7903 20.2681 68.4358 20.5706 68.0363 20.5326Z" fill="#D49CFF"/>
    <path d="M65.731 30.2994L62.0586 26.4503C61.6625 26.0351 61.9104 25.3461 62.4801 25.2784L67.7745 24.6485C68.1638 24.6022 68.5185 24.8865 68.551 25.2772C68.7116 27.209 68.0919 28.8791 66.7367 30.3027C66.4637 30.5892 66.0042 30.5857 65.731 30.2994Z" fill="#FF8100"/>
    <path d="M26.4361 23.5734L24.6999 25.2615C23.4978 26.4303 21.5757 26.4033 20.4069 25.2011L16.619 21.3052C15.4502 20.1031 15.4772 18.181 16.6794 17.0122L18.4157 15.3241C19.6178 14.1553 21.5399 14.1822 22.7087 15.3845L26.4966 19.2804C27.6652 20.4825 27.6383 22.4046 26.4361 23.5734Z" fill="#FFCE00"/>
    <path d="M23.1647 22.4438L19.3768 18.5479C18.4128 17.5564 18.2645 16.076 18.9158 14.9316C18.7393 15.0429 18.5712 15.1732 18.4156 15.3245L16.6794 17.0126C15.4773 18.1814 15.4502 20.1035 16.619 21.3056L20.4069 25.2015C21.5757 26.4036 23.4977 26.4307 24.6998 25.2619L26.4361 23.5738C26.6467 23.3689 26.8191 23.1401 26.9574 22.897C25.7704 23.6453 24.1823 23.4903 23.1647 22.4438Z" fill="#FFA300"/>
    </g>
    <defs>
    <clipPath id="clipgift0">
    <rect width="70" height="70" fill="white"/>
    </clipPath>
    </defs>
  </svg>

</template>