<template>
  <div class="table__empty">
    <svg width="237" height="146" viewBox="0 0 237 146" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5643 29.3866C51.8409 8.25843 143.871 -13.7747 186.993 10.9063C230.116 35.5874 228.961 109.638 195.28 133.141C161.599 156.645 80.4441 137.739 35.3635 116.627C-9.71712 95.5157 -8.71226 50.5148 21.5643 29.3866Z" fill="white"/>
      <g opacity="0.8">
      <path d="M99.8711 66.2136C114.61 74.7231 138.429 74.7231 153.072 66.2133C167.715 57.7035 167.638 43.9064 152.899 35.3972C138.16 26.888 114.342 26.8886 99.6985 35.3981C85.0557 43.9079 85.1324 57.7044 99.8711 66.2136Z" fill="#BDEFFF"/>
      <path d="M158.267 82.1213C166.909 77.099 171.235 70.5264 171.254 63.9442L171.381 44.2555C171.381 44.3392 171.377 44.4228 171.375 44.5061C171.507 37.7558 167.11 30.9746 158.189 25.8243C140.679 15.7148 112.383 15.7148 94.9863 25.8246C86.317 30.8624 81.9923 37.4609 82.0015 44.0639C82.0015 44.0427 82.0003 44.0216 82.0003 44.0005L81.8732 63.6892C81.8542 70.3567 86.2551 77.0344 95.0667 82.1216C112.576 92.2305 140.872 92.2302 158.267 82.1213ZM152.246 58.8829C138.224 67.0311 115.416 67.0314 101.303 58.8832C95.8045 55.7088 92.4375 51.766 91.2039 47.6541C92.4393 43.6133 95.7411 39.7454 101.116 36.6219C115.139 28.4725 137.946 28.4719 152.06 36.621C157.559 39.7954 160.924 43.7389 162.157 47.8514C160.921 51.8921 157.62 55.7594 152.246 58.8829Z" fill="#5AAAE7"/>
      <path d="M152.081 29.3749C137.966 21.2258 115.159 21.227 101.137 29.3758C94.1705 33.4238 90.6836 38.7214 90.6685 44.027L90.6479 51.2738C90.6628 45.9681 94.1503 40.6705 101.116 36.6226C115.139 28.4732 137.946 28.4723 152.06 36.6217C159.162 40.722 162.709 46.1041 162.694 51.4782L162.714 44.2315C162.729 38.8574 159.182 33.4752 152.081 29.3749Z" fill="#6E76E5"/>
      <path d="M158.394 62.4341C140.999 72.5427 112.703 72.543 95.194 62.4344C86.3827 57.3472 81.9821 50.6692 82.0006 44.002L81.8734 63.6906C81.8545 70.3582 86.2554 77.0359 95.067 82.1231C112.576 92.2317 140.872 92.2314 158.267 82.1228C166.909 77.1005 171.235 70.5279 171.254 63.9457L171.381 44.2567C171.363 50.8392 167.036 57.4112 158.394 62.4341Z" fill="url(#paint0_linear)"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M139.48 32.2852L147.261 36.6863L138.913 39.6624L142.423 42.1787L130.574 43.3313L143.811 42.7455L141.304 39.6502L149.581 37.2792L143.85 33.5084C142.918 33.1546 142.092 32.8817 141.372 32.6902C140.899 32.5643 140.268 32.4293 139.48 32.2852Z" fill="#A8DEEF" stroke="white" stroke-width="0.6"/>
      <path d="M94.9866 25.8246C112.383 15.7148 140.679 15.7148 158.189 25.8243C175.698 35.9329 175.79 52.3231 158.394 62.4326C140.999 72.5413 112.703 72.5416 95.1944 62.4329C77.6839 52.3234 77.5917 35.9335 94.9866 25.8246ZM152.081 29.3743C137.966 21.2252 115.159 21.2264 101.137 29.3752C87.1152 37.5234 87.1881 50.7341 101.303 58.8829C115.416 67.0311 138.224 67.0308 152.246 58.8826C166.268 50.7338 166.194 37.5225 152.081 29.3743Z" fill="#57A4FF"/>
      <path d="M89.8051 64.3288L58.4312 82.4634C59.1943 82.0199 60.2455 82.0702 61.4119 82.7202C63.7836 84.0419 65.7339 87.3419 65.7676 90.091C65.7845 91.4884 65.3036 92.4741 64.5149 92.9324L95.8887 74.7979C96.6774 74.3395 97.1586 73.3532 97.1417 71.9565C97.108 69.2074 95.158 65.9074 92.786 64.5854C91.6196 63.9357 90.5685 63.8854 89.8051 64.3288Z" fill="url(#paint1_linear)"/>
      <path d="M57.1789 85.3031C57.2125 88.0522 59.1625 91.3522 61.5345 92.6739C63.9063 93.9956 65.8018 92.8385 65.7682 90.0894C65.7345 87.3403 63.7845 84.0403 61.4125 82.7186C59.0405 81.3968 57.1452 82.554 57.1789 85.3031Z" fill="#1D81CD"/>
      <path d="M80.9545 67.9297C78.925 66.7987 77.0961 66.7109 75.7682 67.4827L21.1806 99.0356C21.2125 99.0172 21.2452 99.0017 21.2777 98.9844C19.8488 99.7571 18.9705 101.493 19.0009 103.98C19.0595 108.763 22.4524 114.505 26.5792 116.805C28.625 117.945 30.4667 118.024 31.797 117.232C31.7863 117.238 31.7762 117.246 31.7652 117.252L86.3527 85.6993C87.725 84.902 88.5622 83.1862 88.5327 80.7553C88.4744 75.9714 85.0815 70.2297 80.9545 67.9297Z" fill="#78BAEC"/>
      <path d="M75.7682 67.4828L21.1807 99.0355C22.5086 98.264 24.3375 98.3515 26.367 99.4828C30.4941 101.782 33.8869 107.524 33.9452 112.308C33.975 114.739 33.1378 116.455 31.7655 117.252L86.353 85.6992C87.7253 84.9018 88.5625 83.1861 88.533 80.7551C88.4747 75.9718 85.0816 70.2298 80.9548 67.9298C78.9253 66.7989 77.0961 66.7108 75.7682 67.4828Z" fill="url(#paint2_linear)"/>
      <path d="M19.0009 103.979C19.0595 108.763 22.4524 114.505 26.5792 116.804C30.706 119.104 34.0039 117.091 33.9452 112.308C33.8869 107.524 30.4937 101.782 26.367 99.4827C22.2402 97.1827 18.9423 99.1958 19.0009 103.979Z" fill="#4958D3"/>
      </g>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M32.6771 11.0215L39.878 15.6707L39.5104 24.2339L32.3095 19.5847L32.6771 11.0215Z" fill="url(#paint3_linear)"/>
      <path opacity="0.2" d="M32.3095 19.584L39.5104 24.2332L31.8554 28.1904L24.6545 23.5628L32.3095 19.584Z" fill="url(#paint4_linear)"/>
      <path opacity="0.3" d="M32.6771 11.0215L32.3095 19.5847L24.6545 23.5635L25.0222 14.9787L32.6771 11.0215Z" fill="url(#paint5_linear)"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M32.9366 7.36719L43.2297 14.0058L42.7107 26.2451L32.396 19.6065L32.9366 7.36719V7.36719Z" stroke="#B5BDFC" stroke-width="0.28"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M32.396 19.6055L42.7107 26.2441L31.7689 31.9096L21.4758 25.271L32.396 19.6055V19.6055Z" stroke="#B5BDFC" stroke-width="0.28"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M32.9366 7.36719L32.396 19.6065L21.4758 25.272L21.9948 13.0327L32.9366 7.36719V7.36719Z" stroke="#B5BDFC" stroke-width="0.28"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M21.3676 25.6844C21.5706 25.6844 21.7352 25.5199 21.7352 25.3168C21.7352 25.1138 21.5706 24.9492 21.3676 24.9492C21.1646 24.9492 21 25.1138 21 25.3168C21 25.5199 21.1646 25.6844 21.3676 25.6844Z" fill="#B6BDFC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9947 13.4012C22.1977 13.4012 22.3623 13.2367 22.3623 13.0336C22.3623 12.8306 22.1977 12.666 21.9947 12.666C21.7917 12.666 21.6271 12.8306 21.6271 13.0336C21.6271 13.2367 21.7917 13.4012 21.9947 13.4012Z" fill="#B6BDFC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M32.3311 19.9325C32.5341 19.9325 32.6987 19.7679 32.6987 19.5649C32.6987 19.3619 32.5341 19.1973 32.3311 19.1973C32.1281 19.1973 31.9635 19.3619 31.9635 19.5649C31.9635 19.7679 32.1281 19.9325 32.3311 19.9325Z" fill="#B6BDFC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M42.7108 26.5907C42.9138 26.5907 43.0784 26.4261 43.0784 26.2231C43.0784 26.0201 42.9138 25.8555 42.7108 25.8555C42.5078 25.8555 42.3432 26.0201 42.3432 26.2231C42.3432 26.4261 42.5078 26.5907 42.7108 26.5907Z" fill="#B6BDFC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M32.9366 7.73522C33.1396 7.73522 33.3042 7.57064 33.3042 7.36761C33.3042 7.16459 33.1396 7 32.9366 7C32.7336 7 32.569 7.16459 32.569 7.36761C32.569 7.57064 32.7336 7.73522 32.9366 7.73522Z" fill="#B6BDFC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M31.7256 32.2997C31.9287 32.2997 32.0933 32.1351 32.0933 31.9321C32.0933 31.729 31.9287 31.5645 31.7256 31.5645C31.5226 31.5645 31.358 31.729 31.358 31.9321C31.358 32.1351 31.5226 32.2997 31.7256 32.2997Z" fill="#B6BDFC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M43.273 14.3739C43.476 14.3739 43.6406 14.2093 43.6406 14.0063C43.6406 13.8033 43.476 13.6387 43.273 13.6387C43.07 13.6387 42.9054 13.8033 42.9054 14.0063C42.9054 14.2093 43.07 14.3739 43.273 14.3739Z" fill="#B6BDFC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M212.523 98.791L228.263 108.953L227.459 127.67L211.72 117.508L212.523 98.791Z" fill="url(#paint6_linear)"/>
      <path opacity="0.2" d="M211.72 117.508L227.459 127.67L210.727 136.319L194.988 126.205L211.72 117.508Z" fill="url(#paint7_linear)"/>
      <path opacity="0.3" d="M212.523 98.791L211.72 117.508L194.988 126.205L195.791 107.441L212.523 98.791Z" fill="url(#paint8_linear)"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M213.09 90.8008L235.589 105.311L234.454 132.063L211.909 117.553L213.09 90.8008V90.8008Z" stroke="#B5BDFC" stroke-width="0.28"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M211.909 117.551L234.454 132.061L210.538 144.445L188.04 129.934L211.909 117.551V117.551Z" stroke="#B5BDFC" stroke-width="0.28"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M213.09 90.8008L211.909 117.553L188.04 129.936L189.174 103.184L213.09 90.8008V90.8008Z" stroke="#B5BDFC" stroke-width="0.28"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M187.804 130.839C188.247 130.839 188.607 130.48 188.607 130.036C188.607 129.592 188.247 129.232 187.804 129.232C187.36 129.232 187 129.592 187 130.036C187 130.48 187.36 130.839 187.804 130.839Z" fill="#B6BDFC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M189.174 103.992C189.618 103.992 189.978 103.632 189.978 103.188C189.978 102.745 189.618 102.385 189.174 102.385C188.73 102.385 188.371 102.745 188.371 103.188C188.371 103.632 188.73 103.992 189.174 103.992Z" fill="#B6BDFC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M211.767 118.265C212.211 118.265 212.57 117.905 212.57 117.462C212.57 117.018 212.211 116.658 211.767 116.658C211.323 116.658 210.963 117.018 210.963 117.462C210.963 117.905 211.323 118.265 211.767 118.265Z" fill="#B6BDFC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M234.454 132.822C234.898 132.822 235.258 132.462 235.258 132.018C235.258 131.575 234.898 131.215 234.454 131.215C234.011 131.215 233.651 131.575 233.651 132.018C233.651 132.462 234.011 132.822 234.454 132.822Z" fill="#B6BDFC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M213.09 91.607C213.534 91.607 213.894 91.2473 213.894 90.8035C213.894 90.3597 213.534 90 213.09 90C212.647 90 212.287 90.3597 212.287 90.8035C212.287 91.2473 212.647 91.607 213.09 91.607Z" fill="#B6BDFC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M210.444 145.3C210.887 145.3 211.247 144.941 211.247 144.497C211.247 144.053 210.887 143.693 210.444 143.693C210 143.693 209.64 144.053 209.64 144.497C209.64 144.941 210 145.3 210.444 145.3Z" fill="#B6BDFC"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M235.683 106.119C236.127 106.119 236.487 105.759 236.487 105.315C236.487 104.871 236.127 104.512 235.683 104.512C235.239 104.512 234.88 104.871 234.88 105.315C234.88 105.759 235.239 106.119 235.683 106.119Z" fill="#B6BDFC"/>
      <defs>
      <linearGradient id="paint0_linear" x1="178.82" y1="59.6353" x2="109.452" y2="100.535" gradientUnits="userSpaceOnUse">
      <stop stop-color="#A7AEF4"/>
      <stop offset="1" stop-color="#6E76E5"/>
      </linearGradient>
      <linearGradient id="paint1_linear" x1="82.5482" y1="85.809" x2="92.8498" y2="70.9938" gradientUnits="userSpaceOnUse">
      <stop stop-color="#6979F8"/>
      <stop offset="0.22" stop-color="#6E7DF8"/>
      <stop offset="0.46" stop-color="#7B89F8"/>
      <stop offset="0.72" stop-color="#929EF9"/>
      <stop offset="0.99" stop-color="#B2BAF9"/>
      <stop offset="1" stop-color="#B2BAF9"/>
      </linearGradient>
      <linearGradient id="paint2_linear" x1="43.1722" y1="109.259" x2="55.9378" y2="69.812" gradientUnits="userSpaceOnUse">
      <stop stop-color="#6979F8"/>
      <stop offset="0.22" stop-color="#6E7DF8"/>
      <stop offset="0.46" stop-color="#7B89F8"/>
      <stop offset="0.72" stop-color="#929EF9"/>
      <stop offset="0.85213" stop-color="#ADB5F9"/>
      <stop offset="0.99" stop-color="#B2BAF9"/>
      <stop offset="1" stop-color="#B2BAF9"/>
      </linearGradient>
      <linearGradient id="paint3_linear" x1="37.9786" y1="7.85788" x2="29.5753" y2="9.49511" gradientUnits="userSpaceOnUse">
      <stop stop-color="#DCDCF0"/>
      <stop offset="0.33" stop-color="#E1E1F2"/>
      <stop offset="0.7" stop-color="#EEEEF8"/>
      <stop offset="1" stop-color="white"/>
      </linearGradient>
      <linearGradient id="paint4_linear" x1="31.8399" y1="15.7023" x2="24.6176" y2="28.169" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CDDDF4"/>
      <stop offset="1" stop-color="#CDBAFA"/>
      </linearGradient>
      <linearGradient id="paint5_linear" x1="28.5349" y1="5.36471" x2="17.5203" y2="12.4102" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CDDDF4"/>
      <stop offset="1" stop-color="#CDBAFA"/>
      </linearGradient>
      <linearGradient id="paint6_linear" x1="224.111" y1="91.8762" x2="205.743" y2="95.4547" gradientUnits="userSpaceOnUse">
      <stop stop-color="#DCDCF0"/>
      <stop offset="0.33" stop-color="#E1E1F2"/>
      <stop offset="0.7" stop-color="#EEEEF8"/>
      <stop offset="1" stop-color="white"/>
      </linearGradient>
      <linearGradient id="paint7_linear" x1="210.693" y1="109.023" x2="194.907" y2="136.273" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CDDDF4"/>
      <stop offset="1" stop-color="#CDBAFA"/>
      </linearGradient>
      <linearGradient id="paint8_linear" x1="203.469" y1="86.4267" x2="179.394" y2="101.826" gradientUnits="userSpaceOnUse">
      <stop stop-color="#CDDDF4"/>
      <stop offset="1" stop-color="#CDBAFA"/>
      </linearGradient>
      </defs>
    </svg>
    <p class="table__empty-text">
      По данному вопросу ничего не найдено
    </p>
  </div>
</template>

<script>
  export default {

  }
</script>