<template lang="pug">
  .rating-user-info-progress
    .rating-user-info-progress__achievement-list
      .rating-user-info-progress__achievement
        .rating-user-info-progress__achievement-icon
</template>

<script>
export default {

}
</script>

<style>

</style>