<template>
	<div>
		<div class="aside__subblock">
			<p class="aside__subtitle">Источники</p>
			<p class="aside__text">
				Твоя компания зарабатывает за счёт твоих управленческих решений, безошибочных ответов на вопросы и продаж по твоей личной ссылке.
				Все заработанные средства ты можешь инвестировать в своё обучение. Выбирай любой продукт ниже и оплачивай половину его стоимости со своего счёта.
			</p>
			<div class="aside__rowbox">
				<div class="aside__box">
					<p class="subtext aside__subtext">Уже заработано:</p>
					<p class="aside__subtitle">{{accountBalance + rewardAmount | numberFormat}} ₽</p>
				</div>
				<div class="aside__box">
					<p class="aside__subtext">Можно тратить:</p>
					<p class="aside__subtitle">{{canSpend | numberFormat}} ₽</p>
				</div>
			</div>
		</div>

		<Product
				v-for="(block, idx) in storeData.products" :key="idx"
				:block="block"
				:accountBalance="canSpend"
		/>
	</div>
</template>
	
<script>
	import Product from './Product'
	import {mapState} from 'vuex'
	
	export default {
		components: {Product},
		data: () => ({
			balance: 0
		}),
		computed: {
			...mapState('game', {
				storeData: s => s.aside.data.market,
				accountBalance: s => s.data.user.accountBalance,
				reward: s => s.data.user.reward,
				pushReward: s => s.data.user.pushReward,
			}),
			rewardAmount(){
				return this.reward.reduce((sum, r) => sum + r, 0) + this.pushReward.reduce((sum, r) => sum + r, 0)
			},
			canSpend(){
				return Math.floor((this.accountBalance + this.rewardAmount)/100)
			}
		},
	}
</script>