<template>
  <div class="aside__subblock">
    <p v-if="block.product" class="subtitle aside__subtitle">{{ block.product }}</p>
    <p v-if="block.description" class="text aside__text">{{ block.description }}</p>
    <picture v-if="block.img" class="aside__pict">
      <img :src="block.img" alt=""/>
    </picture>
    <p v-if="accountBalance > 0" class="subtitle aside__subtitle" style="font-size: .8em;">
      <s>{{block.price | numberFormat}} ₽</s>
    </p>
    <div class="aside__rowbox">
      <p class="subtitle aside__subtitle">{{price | numberFormat }} ₽</p>
      <button @click="showBuyPopup" class="btn btn--success btn-action btn--m aside__btn" type="button">Купить</button>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['block', 'accountBalance'],
    computed: {
      price(){
        if(+this.accountBalance === 0)
          return this.block.price

        if(+this.accountBalance > this.block.minPrice)
          return this.block.minPrice
        else return (this.block.price - +this.accountBalance).toFixed()
      }
    },
    methods: {
      showBuyPopup(){
        let bonuses = 0
        let {id, product, price} = this.block
        if (+this.accountBalance > (+price / 2).toFixed())
          bonuses = (+price / 2).toFixed()
        else
          bonuses = this.accountBalance

        this.$store.dispatch('game/setData', {
          path: 'buyPopupData', value: {
            productId: id,
            product,
            bonuses,
            price: this.price
          }
        })

        this.$store.dispatch('game/setMeta', {path: 'showBuyPopup', value: true})
      }
    }
  }
</script>