<template lang="pug">
  .form-item
    span.form-item__title(v-if="title")
      | {{title}}

    .form-item__block(v-click-outside="close")
      span.form-item__error(v-if="error")
        | {{error}}

      .form-item__select.select(@click="toggleOpen")
        p.ajax__line.ajax__line-table-text(v-if="courseSelect")
        p.select__text(v-else :class="valueData ? '' : 'select__text-placeholder'" )
          | {{valueData && valueData.name ? ("Курс: "+ valueData.name ): placeholder}}
      SlideUpDown.select__slider(
        :duration="slideDuration"
        :active="isOpen"
      )
        .select__field
          Input(
            placeholder="Введите продукт"
            v-model="searchText"
            style="margin-bottom: 5px;"
          )
          .folders-select__list(
            v-for="(item, itemIdx) in data" :key="item.folder.id"
          )
            label.folders-select__row.-folder-(
              style="flex-flow:row")
              span.folders-select__folder
                | Папка: {{item.folder.name}}

            label.folders-select__row.-course-(
              style="flex-flow:row"
              v-for="(course, courseIdx) in item.courseArray" :key="course.id"
              @click="selectCourse(course)"
            )
              span.folders-select__text
                | {{course.name}}
  

      Icon(
        v-if="valueData && valueData.name"
        class="form-item__delete"
        icon="input-delete"
        @click="clearInput"
      )

      Icon.select__icon.form-item__icon(
        v-else
        :icon="!icon ? 'arrow-down' : icon"
        @click="toggleOpen"
        :class="{'-opened-': isOpen}"
      )

</template>

<script>
  import SlideUpDown from 'vue-slide-up-down';
  import vClickOutside from 'v-click-outside';
  import {mapState, mapActions} from 'vuex'

  export default {
    name: "Select",
    components: {
      SlideUpDown
    },
    directives: {
      clickOutside: vClickOutside.directive
    },
    props: {
      title: {},
      placeholder: {},
      error: {},
      icon: {},
      value: {},
      selected: {}
    },
    data() {
      return {
        searchText: '',
        data: {},
        isOpen: false,
        slideDuration: 200,
        status: false,
        arrayId: [],
        courseSelected: '',
        valueData: {},
      }
    },
    computed: {
      ...mapState('usersGroups', {
        folders: s => s.aside.data.folders,
        courseSelect: s => s.aside.meta.courseSelect
      }),
      ...mapState('users', {
        selectedData: s => s.data.selectedData
      })
    },
    watch: {
      folders() {
        this.setData()
      },
      value(){
        this.setData()
      },
      selectedData(){
        this.setData()
      },
      searchText(val) {
        if(val) {
          this.data = _.cloneDeep(this.folders)
            .map(item => {
              let regex = new RegExp(this.searchText, 'gi')

              let obj = {}
              if(item.courseArray.some(c => regex.test(c.name))) {
                obj = {
                  folder: item.folder,
                  courseArray: item.courseArray.filter(c => {
                    let regex1 = new RegExp(this.searchText, 'gi')
                    return regex1.test(c.name)
                  })
                }
              }

              return obj
            })
            .filter(el => el.courseArray)

        } else
          this.setData()
      },
    },
    mounted() {
      if(this.folders.length == 0)
        this.getCourseSelect();
      this.setData();
    },
    methods: {
      ...mapActions('usersGroups', [
        'getCourseSelect'
      ]),
      setData() {
        this.data = _.cloneDeep(this.folders).map( el => {
          if( el.courseArray.length > 0){
            let data = el.courseArray.filter( elem => {
                if ( elem.id == this.value || !this.value) 
                  this.valueData = this.value ? elem : ''
                if( !this.selectedData.some( item => item == elem.id )){
                  return el
                }
              })
            el.courseArray = data
          }
          return {...el}
        });
      },
      toggleChecked(itemIdx, idx) {
        let data = _.cloneDeep(this.data);
        let item = data[itemIdx];
        let arrayId = []
        if (idx) {
          item.courseArray[idx].checked = !item.courseArray[idx].checked;
          item.folder.checked = false;
        } else {
          if (item.folder.checked)
            item.folder.checked = false;
          else {
            item.folder.checked = true;
            item.courseArray.forEach(el => {
              arrayId.push(el.id)
              el.checked = true
            })
          }
        }
        this.data = {...data}
        // this.$emit('update:courseFolders', newCourseFolders)
      },
      selectCourse(course) {
        if(this.courseSelected)
          this.$store.dispatch('users/setSelectedCourse', { id: this.courseSelected, remove: true })
        this.courseSelected = course.id
        this.setEmit();
      },
      clearInput() {
        this.setEmit(true);
        this.courseSelected = ''
      },
      setEmit( remove = false ){ 
        this.$store.dispatch('users/setSelectedCourse', { id: this.courseSelected, remove: remove });
        this.$emit("input", remove ? '' : this.courseSelected );
        this.close()
      },
      toggleOpen() {
        if (this.folders.length > 0)
          this.isOpen = !this.isOpen
      },
      close() {
        this.isOpen = false
        this.searchText = ''
      },
    }
  }
</script>