<template lang="pug">
.form-item(:class="{'-error-': error}")
	span.form-item__title(v-if="title")
		| {{title}}
	.form-item__block(v-click-outside="close")
		span.form-item__error(v-if="typeof error !== 'boolean'")
			| {{error}}

		.form-item__select.select( :class="{'-error__class-': error}" @click="toggleOpen")
			p.ajax__line.ajax__line-table-text(v-if="selectData && selectData.length == 0")
			p.select__text(v-else :class="value ? '' : 'select__text-placeholder'" :aria-placeholder="placeholder")
				| {{result}}

		SlideUpDown.select__slider(
			:duration="slideDuration"
			:active="isOpen" v-if="selectData && selectData.length > 0"
		)
			.select__field.-no-padding-
				.select__item(
					v-for="(selectItem, idx) in selectData" :key="idx" :style="addIcon(selectItem)"
					@click="setOption(selectItem)",
				)
					p.select__text
						| {{selectItem.name}}

		Icon.form-item__icon(:icon="!icon ? 'arrow-down' : icon")

</template>
	
<script>
	import SlideUpDown from 'vue-slide-up-down'
	import vClickOutside from 'v-click-outside'

	export default {
		directives: {clickOutside: vClickOutside.directive},
		components: {SlideUpDown},
		props: {
			value: {},
			selectData: {},
			disabled:{
				type:Boolean,
				default:false
      },
      user:{
        type: Boolean,
        default: false
      },
			title: {},
			error: {},
			icon: {},
			placeholder: {},
			message:{}
		},
		data: () => ({
			isOpen: false,
			result: '',
			slideDuration: 200
		}),
		mounted(){	
			this.setData()
		},
		watch: {
			selectData(){
				if( this.selectData )
					this.setData()
			},
		},
		methods: {
			setData(){
				let index = this.selectData.findIndex(item => item.id === this.value)
				this.result = index !== -1 ? (this.user ? (this.selectData[index].name + ' '+this.selectData[index].lastname) : this.selectData[index].name) : (this.placeholder ? this.placeholder : 'Выберете поле')
			},
			close() {
				this.isOpen = false
			},
			toggleOpen() {
				this.isOpen = !this.isOpen
			},
			setOption(value) {
        this.close()
				this.result = this.user ? (value.name+ ' '+value.lastname) : value.name
				this.$emit('input', value.id)
			},
			addIcon({icon}){
				if (icon) return {
					'backgroundImage':`url(${icon})`,
					'backgroundColor':'grey',
					'backgroundSize':'cover',
					'backgroundRepeat':'no-repeat'
				}
				else return {}
			}
		}
	}
</script>