<template lang="pug">
.form-item
	span.form-item__title(v-if="title")
		| {{title}}
	.form-item__block(v-click-outside="close")
		
		.form-item__input.users__list-card(v-if="result && result.id")

			Avatar(:img="result.avatar || result.icon" circle size="xxs")
			.users__list-card__info
				p.users__list-card__text
					| {{result.name}} {{ result.lastname}}
				p.users__list-card__email
					| {{result.email}}

				Icon.form-item__icon( 
					class="form-item__delete"
					icon="input-delete"
					@click="clearInfo"
				)
		.form-item__select.select(v-else :class="{'-error__class-': errorSearch}")
			Input.width-100(
						:placeholder="placeholder"
						v-model="search"
						:error="errorSearch"
						:showIcon="false"
			)
				span.form-item__error(v-if="errorSearch" style="margin-top:15px")
					| * Пользователь не найден
		SlideUpDown.select__slider(
			:duration="slideDuration"
			:active="isOpen" v-if="!disabled"
		)
			.select__field.-no-padding-
				.select__item.users__list-card(
					v-for="(selectItem, idx) in getData" :key="idx" :style="addIcon(selectItem)"
					@click="setOption(selectItem)"
				)
					Avatar(:img="selectItem.avatar || selectItem.icon" circle size="xxs")
					.users__list-card__info
						p.users__list-card__text
							| {{selectItem.name}} {{ selectItem.lastname}}
						p.users__list-card__email
							| {{selectItem.email}}

		
		Icon.select__icon.form-item__icon(
				v-if="!result"
        :icon="!icon ? 'arrow-down' : icon"
        @click="toggleOpen"
        :class="{'-opened-': isOpen}"
		)

</template>
	
<script>
	import SlideUpDown from 'vue-slide-up-down'
	import vClickOutside from 'v-click-outside'
	import {mapState, mapActions} from 'vuex';

	export default {
		directives: {clickOutside: vClickOutside.directive},
		components: {SlideUpDown},
		props: {
			value: {},
			disabled:{
				type:Boolean,
				default:false
			},
			title: {},
			error: {},
			icon: {},
			placeholder: {},
			message:{},
			user:{},
			trackerId:{},
			managerId:{}
		},
		data: () => ({
			isOpen: false,
			result: '',
			slideDuration: 200,
			search: '',
			getData:'',
			errorSearch:false
		}),
		computed:{
			...mapState('users', {
        data: s => s.data.users
			}),
		},
		mounted(){
			if(this.value)
				this.result = this.value
			if(this.data)
				this.getData = _.cloneDeep(this.data)
		},
		watch: {
			value(){
				this.result = this.value
			},
			getData(val){
				if(val && val.length === 0 && this.search && this.search.length > 0){
          this.errorSearch = true
        }else 
        this.errorSearch = false
			},
			data(val){
				if(val && this.search && this.search.length && val.length){
					this.getData = _.cloneDeep(val).filter(el=> el.id != this.user && !(this.trackerId == el.id || this.managerId == el.id))
					this.isOpen = true
				}else{ 
					this.getData = []
					this.isOpen = false
				}
			},
			search(val) {
        if (val.length > 0 ) {
          this.searchMethodsSolo(val)
        }else {
          this.close()
        }
      },
		},
		methods: {
			...mapActions('users', [
        'searchMethodsSolo'
			]),
			close() {
				this.isOpen = false
			},
			toggleOpen() {
				this.isOpen = !this.isOpen
			},
			setOption(item) {
				this.close()
				this.$emit('input', item)
				this.clearData()
			},
			addIcon({icon}){
				if (icon) return {
					'backgroundImage':`url(${icon})`,
					'backgroundColor':'grey',
					'backgroundSize':'cover',
					'backgroundRepeat':'no-repeat'
				}
				else return {}
			},
			clearData(){
				this.search = ''
				this.$store.dispatch('users/setData',{path:'data', value: []})
			},
			clearInfo(){
				this.result = ''
				this.$emit('input','')
			}
		},
		destroyed(){
			this.clearData()
		}
	}
</script>