<template lang="pug">
.ui-accordion
  .ui-accordion__row(
    @click="toggle"
    :class="[rowClass, {'-active-': isOpen}]"
  )
    .ui-accordion__header(
      :class="headerClass"
    )
      .ui-accordion__header-controll(
        :class="{'-full-': loading}"
      )
        template(v-if="!loading")
          p.ui-accordion__title(
            :class="`dropdown-row__title--size-${sizeTitle}`"
          ) {{title}}
          Icon.ui-accordion__icon(
            icon="ui-thin-down"
            :class="{'-active-': isOpen}"
          )
        template(v-else)
          p.ui-accordion__title.ajax__line.-round-(
            :style="{width: '100%', height: '1em'}"
          )
      slot(name="header")
  SlideUpDown.ui-accordion__body(
    :active="isOpen"
    :duration="300"
  )
    slot
  
</template>

<script>
import SlideUpDown from 'vue-slide-up-down'

export default {
  components: {
    SlideUpDown,
  },
  props: {
    title: {},
    sizeTitle: {
      default: 'md'
    },
    headerClass: {
      default: '',
    },
    rowClass: {},
    loading: {
      default: false,
    },
  },
  data: () => ({
    isOpen: false
  }),
  methods: {
    toggle() {
      this.isOpen = !this.isOpen
      this.$emit('isOpen', this.isOpen)
    },
  }
}
</script>
