<template lang="pug">

  div.ui-kit-file(
    :class="[`-${theme}-`, {'-active-': fileName.length}]"
    :style="{pointerEvents: disabled && 'none'}"
  )
    span.ui-kit-file__title {{title}}
    span.ui-kit-file__field(
      v-if="!isCustom"
    )
      label.ui-kit-file__input-wrap
        input.ui-kit-file__real-input(
          ref="input"
          @change="uploadFile"
          type="file"
          :accept="acceptTypes"
          hidden
          :multiple="multiple"
          tabindex="-1"
        )
        Icon.ui-kit-file__icon(v-if="icon" :icon="icon")
        span.ui-kit-file__input
          slot(v-if='!fileName.length') Загрузить файл
          template(v-else)
            span(v-for="(name, idx) in fileName" :key="idx")
              | {{name}}{{idx !== (fileName.length - 1) ? ', ' : ''}}
      Icon.ui-kit-file__close(
        v-if="fileName.length && clear"
        :icon="'ui-close'"
        @click="removeFile"
        )
    label(
      v-else
      :class="customClass"
    )
      input.ui-kit-file__real-input(
        ref="input"
        @change="uploadFile"
        type="file"
        :accept="acceptTypes"
        hidden
        :multiple="multiple"
        tabindex="-1"
      )
      slot


</template>

<script>
  import {mapActions} from 'vuex'
  import addObjectToFormData from "@lms/functions/addObjectToFormData";

  export default {
    props: {
      value:{},
      fileExt: {
        default: () => []
      },
      fileMime: {
        default: () => []
      },
      multiple: {},
      maxLength: {},
      onlyImages: {
        default: false
      },
      hugeFiles: {
        default: false
      },
      largeFiles: {
        default: false,
      },
      mediumFiles: {
        default: false
      },
      disabled: {},
      theme: {
        default: "light"
      },
      icon: {},
      title: {},
      dataName: {
        default: 'file'
      },
      clear: {
        default: true,
      },
      isCustom: {
        default: false,
      },
      customClass: {},
      allFile: {
        default: false,
      }
    },
    data: () => ({
      urlData: '',
      files: [],
      formData: new FormData(),
      fileName: [],
    }),
    computed: {
      acceptTypes(){
        let extString = this.fileExt.reduce((res, item) => res + item+',', '')
        let mimeString = this.fileMime.reduce((res, item) => res + item+',', '')
        return extString+mimeString
      }
    },
    methods: {
      ...mapActions('ajax', [
        'addMessage'
      ]),
      uploadFile() {
        const files = this.$refs.input.files
        if(!files || files.length === 0)
          return
          
        this.$emit('getCheckListFiles', {formData: this.formData, fileName: files[0].name, file: files[0]})
        this.checkFiles(files)
        this.returnFiles()
      },
      checkFiles(files) {
        files.forEach(f => {
          if (!this.mediumFiles && !this.largeFiles && !this.hugeFiles && f.size > 2097152) {
            this.addMessage({message: 'Размер файла не должен превышать 2Мб. Имя файла: '+f.name, type: 'error'})
            return
          } else if (this.mediumFiles && f.size > 10485760) {
            this.addMessage({message: 'Размер файла не должен превышать 10Мб. Имя файла: '+f.name, type: 'error'})
            return
          } else if (this.largeFiles && f.size > 52428800) {
            this.addMessage({message: 'Размер файла не должен превышать 50Мб. Имя файла: '+f.name, type: 'error'})
            return
          } else if (this.hugeFiles && f.size > 209715200) {
            this.addMessage({message: 'Размер файла не должен превышать 200Мб. Имя файла: '+f.name, type: 'error'})
            return
          }

          let regexString = f.type
          let fileExt = f.name.match(/\..*$/)
          if (fileExt === null) {
            this.$store.dispatch('ajax/addMessage', {message: 'Отсутствует формат файла. Имя файла: '+f.name, type: 'error'}, {root: true})
            return
          }

          if (fileExt)
            regexString += regexString ? '\|' + fileExt[0] : fileExt[0]

          regexString.replace('.', '\.')
          let regex = new RegExp(regexString)
          let match = this.acceptTypes.match(regex)
          if (!this.allFile && match === null && !f.type.includes('image/')) {
            if(this.onlyImages)
              this.$store.dispatch('ajax/addMessage', {message: 'Можно прикреплять только картинки. Неверный файл: '+f.name, type: 'error'}, {root: true})
            else
              this.$store.dispatch('ajax/addMessage', {message: 'Формат файла не поддерживается. Имя файла: '+f.name, type: 'error'}, {root: true})
            return
          }

          const reader = new FileReader()
          reader.readAsDataURL(f)
          reader.onload = e => {
            this.urlData = e.target.result
          }

          if(this.maxLength && files.length === +this.maxLength)
            return

          this.files.push(f)
        })
      },
      returnFiles(){
        if(this.multiple) {
          addObjectToFormData(this.formData, {files: [...this.files]})
          this.$emit('getFiles', {formData: this.formData})
        } else {
          this.formData.append(this.dataName, this.files[0])
          this.$emit('getFiles', {formData: this.formData, fileUrl: this.urlData, file: this.files[0]})
        }
        this.getNameList()
        this.formData = new FormData()
        this.files = []
        this.$refs.input.value = ''
      },
      getNameList() {
        this.fileName = this.files.map(file=>file.name)
      },
      removeFile() {
        this.returnFiles()
        this.$emit('clear')
      }
    }
  }
</script>