<template lang="pug">
  label.ui-kit-input(
    :class="[getStatus ? `-${getStatus}-` : '', {'-focus-': focus}]"
  )
    span.ui-kit-input__label(v-if="title || popup") {{ title }}
    span.ui-kit-input__field
      Icon.ui-kit-input__icon(v-if="icon" :icon="icon")
      span.ui-kit-input__before-placeholder(
        v-if="beforeText"
      ) {{ beforeText }}
      input.ui-kit-input__input(
        ref="input"
        type="text"
        v-model="valueFormatted"
        :placeholder="placeholder"
        :class="inputClass"
        :disabled="disabled"
        @input="onInput"
        @focus="onFocus"
        @blur="onBlur"
      )
    Popup(v-if="popup"
      :popup="popup"
      :status="getStatus")

</template>

<script>
  import Popup from "./Popup"
  import numberFormat from "toolbox/filters/numberFormat.filter";

  export default {
    props: {
      value: {},
      title: {},
      placeholder: {},
      icon: {},
      beforeText: {
        type: String,
        default: null
      },
      type: {
        type: String,
        default: "text",
      },
      disabled: {
        default: false,
      },
      showEmpty: {
        default: true
      },
      differZero: {
        default: false
      },
      status: '',
      error: false,
      popup: {},
      inputClass: {},
      min: {},
      max: {},
      noDot: {},
      dotAmount: {
        default: 2
      },
      allowMinus: {
        default: false
      }

    },
    components: {
      Popup,
    },
    data() {
      return {
        el: undefined,
        valueNumber: 0,
        valueFormatted: '',
        focus: false,
      }
    },
    computed: {
      getStatus() {
        if (this.popup) {
          if (this.popup.error) {
            return 'error'
          } else if (this.popup.status) {
            return this.popup.status
          }
        }

        if (this.error) {
          return 'error'
        } else if (this.status) {
          return this.status
        }
        return ''
      }
    },
    beforeMount() {
      this.setInitialValue()
      this.el = this.$refs.input
    },
    watch: {
      value(val) {
        if(this.makeNumberFromString(val) !== this.valueNumber)
          this.setInitialValue()
        else if(!val)
          this.setInitialValue()
      },
      focus(val) {
        this.$emit('selected', val)
      }
    },
    methods: {
      setInitialValue() {
        this.valueNumber = this.makeNumberFromString(this.value)
        this.valueFormatted = numberFormat(this.value, this.noDot)

        if(this.valueFormatted === "" && !this.showEmpty && this.differZero)
          this.valueNumber = ""

        if(!this.valueFormatted && this.showEmpty)
          this.valueFormatted = 0
        else if(!this.valueFormatted && !this.showEmpty)
          this.valueFormatted = ''
      },
      makeNumberFromString(number) {
        // Если ввод начался с минуса, то возвращаем его 
        if(number === '-')
          return "-"

        let negativeNum = number

        // Заменяем все минусы, кроме первого
        // ( есть такая регулярка, но она не работает в safari: /(?<!^)-/g )
        if(this.allowMinus) {
          negativeNum = String(number).replace(/-/g, (text, idx) => {
            return idx ? '' : text
          })
        } else {
          //Или вообще все
          negativeNum = String(number).replace(/-/g, '')
        }
        

        // Убираем лишние символы и заменяем запятую       
        let num = (''+negativeNum).replace(/[^\d,.-]/g, '').replace(/,/g, '.')

        // Если число не целое
        if(/./.test(num)) {
          // Отсекаем лишние точки в строке, чтобы потом округлить
          if(num.match(/\./) && num.match(/\./g)[1]) { // Если точек 2
            let numFirstDot = num.match(/\d+\.\d+/g)
            num = numFirstDot ? numFirstDot[0] : 0
          }
          num = (+num).toFixed(this.dotAmount)
        }

        // Проверка на NaN
        return +num !== +num ? undefined : +num
      },
      onFocus() {
        this.valueFormatted = this.valueNumber ? this.valueNumber : ''
        if(!this.showEmpty && this.differZero)
          this.valueFormatted = this.valueNumber

        this.$emit('focus')
        this.focus = true;
      },
      onBlur() {
        this.valueFormatted = numberFormat(this.valueNumber, this.noDot)
        if(this.valueFormatted === '0' && !this.showEmpty && !this.differZero)
          this.valueFormatted = ''
        if(this.valueFormatted === "" && !this.showEmpty && this.differZero)
          this.valueFormatted = ''
        
        this.$emit('blur', this.valueNumber)
        this.focus = false;
      },
      onInput() {
        if(!this.disabled) {
          this.valueNumber = this.makeNumberFromString(this.valueFormatted)

          if(this.valueFormatted === "" && !this.showEmpty && this.differZero)
            this.valueNumber = ''

          this.$emit('input', this.valueNumber)
        }
      }
    }
  }
</script>
