<template lang="pug">
  transition(name="fade" appear :duration="100")
    span.ui-kit-popup(:class="[status ? `-${status}-` : '']")
      span.ui-kit-popup__text {{popup.msg}}
</template>

<script>
  export default {
    props: ["popup", "status"],
    computed: {}
  };
</script>

<style>
</style>