<template lang="pug">
  Header(style="margin-bottom: 22px")
    .rating-header__block(v-if="loading")
      .ajax__line.-round-(
        v-for="n in 2"
        :style="{height: '58px', width: '218px', margin: '2px 2px'}"
      )
    .rating-header__block(v-else)
      UiSelect.rating-header__item.-l-(
        title="Выбор продукта в АМО"
        placeholder="Ничего не выбрано"
        :option="amoProducts"
        v-model="filter.amoProductId"
        :canUnset="false"
      )
      UiSelect.rating-header__item.-l-(
        title="Выбор курса"
        placeholder="Введите курс"
        :option="courseStreams"
        v-model="filter.courseId"
        :canUnset="false"
        :unset-value="null"
      )
      UiButton(
        @click="getReport()"
        :disabled="!filter.amoProductId || !filter.courseId || loadReport"
      ) Выгрузить отчет
</template>

<script>
import Header from '../components/Header'
import { mapActions } from 'vuex'
export default {
  name: 'SpeedAndHundredReport',
  components: {
    Header,
  },
  data() {
    return {
      loading: true,
      loadReport: false,
      amoProducts: [],
      courseStreams: [],
      filter: {
        amoProductId: null,
        courseId: null,
      }
    }
  },
  created() {
    this.initDictionary()
  },
  methods: {
    ...mapActions('ajax', [
        'axiosSend'
    ]),
    async initDictionary() {
      this.loading = true

      let response = await this.axiosSend({
        type: 'get',
        query: `/api/traction-report/dictionary`
      })

      if (response.data.status === 'success' && response.data.data) {
        this.amoProducts = response.data.data.amoProducts
        this.courseStreams = response.data.data.courseStreams
      }

      this.loading = false
    },
    getReport() {
      this.loadReport = true

      // Через запрос так как нужен заголовок авторизации
      this.axiosSend({
        type: 'get',
        query: '/api/traction-report/speed-and-hundred/report?productId=' + this.filter.amoProductId + '&courseId=' + this.filter.courseId
      }).then(response => {
        const filename = response.headers['content-disposition'].match(/filename=(.*)\.csv/)[1]
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', filename + '.csv');
        document.body.appendChild(link);
        link.click();
      }).finally(() => {
        this.loadReport = false
      })

      // Временно делает просто запрос чтобы получить количество пользователей и посмотреть в нетворке
      this.axiosSend({
        type: 'get',
        query: '/api/traction-report/speed-and-hundred/user-count?productId=' + this.filter.amoProductId + '&courseId=' + this.filter.courseId
      })
    }
  }
}
</script>
