<template lang="pug">
  .menu-tooltip(
    v-click-outside="close"
    :style="{top: tooltipData.coords.top+30+'px', left: tooltipData.coords.left+15+'px'}"
  )
    .menu-tooltip__content
      p.menu-tooltip__name
        | {{tooltipData.name}} {{tooltipData.lastname}}
      Icon.menu-tooltip__icon(
        @click="bellClick"
        icon="bell"
      )

</template>

<script>
  import vClickOutside from 'v-click-outside'

  export default {
    props: ['tooltipIsOpen', 'tooltipData'],
    directives: {clickOutside: vClickOutside.directive},
    methods: {
      close() {
        this.$emit('update:tooltipIsOpen', false)
      },
      bellClick(){
        this.close()
      }
    }
  }
</script>