<template lang="pug">
  .ui-space-table-avatar(
    v-if="!loading"
  )
    img.ui-space-table-avatar__img(
      :src="src || 'https://lms.toolbox.wip/lms/img/user-default.jpg'"
      alt=""
    )
    Icon.ui-space-table-avatar__img-icon(
      v-if="isLeader"
      icon="ui-star-volume"
    )
    Icon(
      v-if="customIcon"
      :class="customIconClass"
      :icon="customIcon"
    )
  .ui-space-table-avatar.ajax__line(
    v-else
    style="border-radius: 50%"
  )
</template>

<script>
export default {
  props: {
    src: {},
    isLeader: {
      default: false,
    },
    loading: {
      
    },
    customIcon: {},
    customIconClass: {}
  }

}
</script>

<style>

</style>