<template lang="pug">
  .ui-space-table__col()
    .ui-space-table__col-container.-flex-
      components(
        :is="text ? 'p' : 'div'"
        :class="[text ? 'ui-space-table__text' : 'ui-space-table__block']"
      )
        slot
</template>

<script>
export default {
  props: {
    loading: {
      default: false,
    },
    text: {
      default: true,
    }
  }

}
</script>

<style>

</style>