<template lang="pug">
  .ui-space-table__row(
    :style="{'grid-template-columns': gridLayout, 'grid-template-rows': height,}"
    @click="$emit('click')"
  )
    template(v-if="loading")
      .ui-space-table__col(
        :class="loadCellClass"
        v-for="(title, idx) in navTitles" :key="idx"
      )
        .ui-space-table__col-container.-loading-
          .ajax__line(
            :style="{height: '100%', width: '100%'}"
          )
    template(v-else)
      slot




</template>

<script>
import Cell from './Cell'

export default {
  components: {Cell},
  props: {
    defaultWidth: {
      default: '60px',
    },
    navTitles: {},
    height: {
      default: '32px'
    },
    loading: {
      default: false,
    },
    loadCellClass: {},

  },
  computed: {
    gridLayout() {
      const result = []

      this.navTitles.forEach(prop => {
        if (!prop) return
        result.push((prop.width || this.defaultWidth))
      })

      return result.join(' ')
    },
  }
}
</script>