<template lang="pug">
.questionnaire-content.investment-reg__tg-help
  .questionnaire-content__block
    p.questionnaire__title.-min-margin- Как узнать свой никнейм?
  .questionnaire-content__block
    List(
      :list="stepList"
    )
    List()

</template>

<script>
import List from '../../../../Questionnaire/Telegram/components/TelegramConnect/page/components/List'

export default {
  name: "TelegramHelp",
  components: {
    List,
  },
  data: ()=> ({
    stepList: [
      {
        id: 0,
        name: 'Перейди в "Настройки" в меню Telegram.',
      },
      {
        id: 1,
        name: 'Нажми "Изменить профиль"',
      },
      {
        id: 2,
        name: 'В поле "Имя пользователя" введи подходящий никнейм, например @username',
      },
      {
        id: 3,
        name: 'Скопируй его и вставь на предыдущей странице анкеты',
      },
      {
        id: 4,
        hidden: true,
        name: 'Готово, красавчик! :)',
      },
    ]
  }),
  methods: {
    setStep(step) {
      this.$emit('setStep', step)
    }
  }

}
</script>
