$aside-close-stroke: #fff
$aside-close-fill: $main-accent-color

.aside
	position: fixed
	top: 0
	left: 0
	min-width: 100vw
	height: 100vh
	padding-left: 60px
	display: flex
	justify-content: flex-end
	background: rgba(0,0,0,.7)
	color: black
	z-index: 1000
	+media(640px)
		width: 100vw
		padding-left: 0
		.button--m
			padding: 4px 10px

	+media(480px)
		.tooltip
			left: 0 !important

	&__container
		position: relative
		height: 100%
		background: $main-light-color
		cursor: auto
		+media(640px)
			width: 100%
			padding-top: 48px
			padding-bottom: 35px

		&-wrapper
			height: 100%
			display: flex
			flex-direction: column
			overflow-y: auto

	&__close
		+size(30px)
		position: absolute
		left: -46px
		top: 13px
		cursor: pointer

		+media(640px)
			display: none
		
		&.-header-
			display: none

			+media(640px)
				position: absolute
				display: block
				+cy
				left: 5px
				+size(25px)
				z-index: 100

		.element-1
			fill: $aside-close-stroke
			stroke: $aside-close-stroke
			stroke-width: 3

		.element-2
			fill: $aside-close-fill

	&__title
		@extend %text-700-17
		+media(640px)
			font-size: 16px

	&__block
		display: flex
		flex-direction: column
		padding: 25px 20px 40px
		width: 545px
		flex-shrink: 0
		flex-grow: 1
		overflow-y: auto
		&::-webkit-scrollbar
			display: none
		+media(640px)
			width: 100%
			padding: 25px 15px 40px

		&.-min-width-
			width: auto
			min-width: 545px
			+media(640px)
				min-width: 100%

		&--double
			width: 1090px
			+media(1200px)
				width: 545px

			+media(640px)
				width: 100%

			.aside__item--mr
				margin-right: 9px

			.aside__item--ml
				margin-left: 9px

		&-remove
			position: absolute
			right: 0px
			top: -10px
			cursor: pointer
		
		&--absolute
			position: absolute
			top: 0
			left: 0
			height: 100%
			background: $main-light-color
			z-index: 10

	&__subblock
		&--50
			width: 50%
			margin: 0% -1% 4.3%
			+media(1200px)
				width: 100%
				margin-bottom: 40px
		&-desc
			margin-bottom: 20px
			@extend %text-700-15
			color: $text-extra-color

	&__header
		margin-bottom: 30px
		flex-shrink: 0
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		+media(640px)
			position: fixed
			top: 0
			left: 0
			width: 100%
			padding: 10px 15px 10px 35px
			background: $main-light-color
			border-bottom: 1px solid $border-color
			z-index: 10

		&-main

		&-controls
			display: flex
			align-items: center

			> * + *
				margin-left: 20px

	&__main
		flex-grow: 1
		// для норм отображения прокрутки
		padding: 0 20px
		margin: 20px -20px 0
		//
		overflow-y: auto
		overflow-x: hidden

		> * + *
			margin-top: 40px

		&-wrapper
			padding: 0 1%
			display: flex
			justify-content: space-between
			flex-wrap: wrap

	&__item
		width: 46%
		flex-grow: 1
		margin: 15px 2% 0
		+media(480px)
			width: 100%

		&.-full-
			width: 100%

		&--default
			flex: 0

		&--flex
			display: flex
			justify-content: space-between

		&--fa
			display: flex
			justify-content: space-between
			.form-item
				flex: 1
			& > *:not(:first-child)
				margin-left: 9px
			& > *:not(:last-child)
				margin-right: 9px

			+media(1200px)
				width: 100%

			+media(480px)
				flex-wrap: wrap
				.socials
					margin-top: 10px
					margin-left: 0
					width: 100%

		&--choice
			width: 100%
			.form-item
				width: 33.2%
				+media(1200px)
					width: 100%

		&--noGrow
			flex-grow: 0

		&--settings
			width: calc(46% - 4% - 59px)

		&-centered
			height: 38px
			display: flex
			align-items: center
			align-self: flex-end

		&-rightText
			@extend %text-500-12

		&-switches
			display: flex
			& > *:not(:last-child)
				margin-right: 20px

		& .form-item__title
			@extend %text-500-12
		& .select__text
			color: $text-color

	&__list
		display: flex
		flex-wrap: wrap
		margin: -15px -2% 0
		&-title
			margin-bottom: 7px
			@extend %text-500-15
			color: $text-extra-color

		&-subtitle
			margin-top: calc(2% - 11px)
			min-height: 71px
			display: flex
			flex-direction: column
			justify-content: space-between
			&-text
				@extend %text-500-12
				color: $text-extra-color

	&__analysis-cont
		align-self: flex-end
		margin-bottom: 5px

	&__socials
		margin-top: 30px
		+media(480px)
			margin-top: 0

	&__add
		margin-top: 30px

	&-options
		position: relative
		z-index: 1

		&::after
			content: ''
			position: absolute
			cursor: pointer
			+size(20px, 100%)
			z-index: -1
			+cxy

		&__dots
			margin-right: 0
			cursor: pointer
			+size(5.5px, 24px)

		&__field
			position: absolute
			top: 100%
			right: 0
			margin: 10px 0px 57px
			z-index: 1000
			background-color: $main-light-color
			border-radius: 6px
			border: 1px solid $border-color
			box-shadow: $main-popup-shadow

		&__item
			min-width: 170px
			transition: .3s
			padding: 5px 15px 5px 10px
			cursor: pointer
			display: flex

			&:first-child
				padding-top: 10px

			&:last-child
				padding-bottom: 10px

			&:hover

				.aside-options__icon
					fill: $color-error

				.aside-options__text
					color: $color-error

		&__icon
			+size(16px)
			margin-right: 14px
			fill: $main-accent-color
			transition: $main-transitions

		&__text
			@extend %text-500-12
			color: $main-accent-color
			text-decoration: underline
			white-space: nowrap
			transition: $main-transitions

		&__flex
			display: flex
			align-items: center
			color: $main-accent-color
			cursor: pointer
	
	&__choice
		margin: 35px 0
		display: flex
		&-nav
			width: 240px
			padding-right: 10px
			flex: 0 240px
			+media(480px)
				display: none
			&-item
				position: relative
				padding: 12.5px 0px 12.5px 30px
				@extend %text-700-15
				color: $text-extra-color
				cursor: pointer

				&:hover
					color: $main-dark-color

				&.-active-
					cursor: default
					color: $main-dark-color
					&:after
						content: ''
						position: absolute
						top: 0
						left: 1px
						display: block
						width: 3px
						height: 100%
						background: $main-accent-color
						border-radius: 0 10px 10px 0

		&-wrapper
			box-shadow: $main-popup-shadow
			width: 100%
			min-height: 420px
			padding-bottom: 30px
			border-radius: 6px
			flex: 1
			+media(480px)
				box-shadow: none
				padding-bottom: 0

		&-item
			padding: 0 40px
			margin: 20px -20px 0
			+media(480px)
				margin: 0
				margin-bottom: 30px
				padding: 0

				.aside__title
					margin-bottom: 5px

	&-log
		padding: 0
		height: 100%

		&__block
			display: flex
			flex-direction: column
			// padding: 30px 15px 50px 0px
			padding-right: 15px

			+media($min: 1201px)
				height: 100%

			+media(1200px)
				max-height: 100vh
				padding: 25px 20px 40px

			+media(640px)
				border-top: 1px solid $border-color

		&__list
			width: 100%
			position: relative
			bottom: 0
			left: 0
			&:before
				position: absolute
				top: 0
				left: 11.5px
				content: ''
				display: block
				+size(2px, 100%)
				background: $main-accent-third-color
				z-index: 1
				+media(640px)
					display: none

			&-wrapper
				overflow-y: auto
				overflow-x: visible
				position: relative
				flex-grow: 1

		&__item
			position: relative
			margin: 0 0px 15px
			z-index: 2
			+media(640px)
				margin: 0 0 15px

		&__bottom
			border: 1px solid $border-color
			border-radius: 10px
			padding: 20px
			margin-top: 20px
			box-shadow: $main-popup-shadow

		&__limits
			margin-left: auto
			@extend %text-400-14
			color: $text-extra-color
			align-self: center

		&__textarea
			width: 100%
			border: none
			margin-bottom: 10px
			font-size: 14px
			resize: vertical
			min-height: 32px
			transition: .3s

			&:focus
				min-height: 80px

			&::placeholder
				color: $text-extra-color

		&__info
			display: flex
			align-items: center
			margin-bottom: 10px

		&__user

			&-info
				display: flex
				align-items: center

		&__photo
			+size(19px)
			background-color: $color-accent
			border-radius: 50%
			flex-shrink: 0
			margin-right: 5px
			color: #fff
			font-weight: 300
			text-align: center
			line-height: 19px

		&__mail
			font-size: 14px
			line-height: 1.2
			letter-spacing: 0.1px

		&__date
			margin-left: 20px
			margin-right: auto
			font-size: 12px
			line-height: 1.2
			letter-spacing: 0.1px
			font-weight: 300

		&__text
			font-size: 12px
			line-height: 1.2
			letter-spacing: 0.1px
			font-weight: 300

		&-mes
			&__item-head
				display: flex
				justify-content: space-between

			&__head
				display: flex
				align-items: center

			&__icon
				position: relative
				+size(25px)
				margin-right: 15px
				padding: 2px
				border-radius: 50%
				background: $main-light-color
				display: flex
				justify-content: center
				align-items: center
				&-svg
					position: relative
					width: 8px
					fill: $main-accent-color
					z-index: 2
				&:before
					position: absolute
					content: ''
					display: block
					+size(calc(100% - 4px))
					background: $main-accent-third-color
					border-radius: 50%
					z-index: 1

			&__title
				@extend %text-500-12
				color: $main-dark-color
				white-space: pre-wrap
				+media(640px)
					display: flex
					flex-direction: column
					align-items: flex-start

				&-status
					margin-left: 5px
					+media(640px)
						display: block
						margin-top: 5px
						margin-left: 0

			&__date
				@extend %text-500-12
				color: $text-extra-color

			&__list
				margin-top: 5px
				padding: 0 20px 30px 40px
				+media(640px)
					padding: 10px 5px

			&__item
				position: relative
				padding: 13px 10px 10px
				border-radius: 10px
				+media(640px)
					padding: 5px
					border-radius: 0
					border: none
					&:not(:last-child)
						padding-bottom: 20px
						border-bottom: 1px solid $border-color

				&:not(:last-child)
					margin-bottom: 15px

				&.-comment-
					padding-right: 40px
					background: $main-accent-third-color

				&-head
					+media(640px)
						flex-direction: column
						align-items: flex-start

			&__user

				&-add

				&-info
					display: flex
					align-items: center

				&-text
					font-size: 15px
					line-height: 1.2
					letter-spacing: 0.1px
					font-weight: 400
					white-space: pre-wrap

			&__info
				display: flex
				align-items: center
				margin-top: 5px
				+media(480px)
					overflow: hidden

			&__photo
				+size(30px)
				background-color: $main-accent-second-color
				border-radius: 50%
				flex-shrink: 0
				margin-right: 12px
				color: #fff
				font-weight: 300
				text-align: center
				line-height: 19px
				display: flex
				justify-content: center
				align-items: center

			&__time, &__mail
				@extend %text-500-12
				color: $text-extra-color

			&__time
				margin-left: 12px

			.aside-options
				position: absolute
				top: 23px
				right: 17px
				z-index: 10

				&__field
					margin-top: 26px
					right: -18px
	
	&__select
		width: 100%
		max-width: 100% !important