.header
  &-desktop
    // position: fixed
    top: 0
    left: 0
    min-height: auto
    padding-top: 12px
    padding-bottom: 12px
    z-index: 70
    background-color: $ui-white-contrast
    &__container
      font-family: $secondary-fonts
      letter-spacing: -.3px

      max-width: 1200px
      margin: 0 auto
      display: flex
      justify-content: space-between
      flex-direction: row
      align-items: center

    &__title
      @extend %text-400-14

      &-arrow
        width: 18px
        height: 18px
        flex-shrink: 0
        margin-right: 15px
        fill: $main-accent-color

      &-breadcrumb
        margin: 0 10px 0 10px
        width: 6px

      &.-to-prev-
        cursor: pointer
        display: flex

    &__search
      width: 458px
      margin-left: auto
      margin-right: 30px
      display: flex
      border: 1px solid #DFE0EB
      border-radius: 8px
      background: #EFF1F8
      align-items: center

      &-input
        display: block
        max-width: 458px
        border: unset

        & .search__main, & input, & input::placeholder
          color: $ui-light-grey-4-5-contrast
          border: unset
          background: #EFF1F8

      &-filter
        +size(18px)
        margin-right: 10px

    &__info
      display: flex
      align-items: center

    &-user
      position: relative
      padding-left: 20px
      margin-left: 20px
      display: flex
      align-items: center
      min-width: 185px


      &__inner
        display: flex
        align-items: center
        cursor: pointer

        & > * + *
          margin-left: 20px

      &:before
        content: ''
        display: block
        position: absolute
        top: -3px
        left: 0
        width: 1px
        height: calc(100% + 6px)
        background: $border-color

      &__name
        @extend %text-500-14

      &__avatar
        +size(30px)
        min-width: 30px
        background-color: #CDBAFA
        background-size: cover
        background-position: center center
        border-radius: 50%
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center

        &-icon
          +size(13px)
          min-width: 13px
          fill: $main-light-color

    &-link-list
      position: absolute
      top: calc(100% + 12px)
      left: 0
      width: calc(100% + 30px)
      margin: 0
      background: $ui-white
      box-shadow: 0 4px 10px rgba(43, 45, 52, 0.12)
      border-radius: 0 0 0 4px

      &__inner
        display: flex
        flex-direction: column
        padding: 14px

      &__item
        display: flex
        align-items: center
        justify-content: flex-start
        color: $ui-blue-accident
        fill: $ui-blue-accident
        transition: .2s
        text-decoration: none
        @extend %text-500-14

        & + &
          margin-top: 8px

        path
          transition: .2s

        &:hover
          color: $ui-blue-less-contras

          path
            fill: $ui-blue-less-contras

        &.-alert-
          color: $ui-red

          path
            fill: $ui-red

          &:hover
            color: #F12525

            path
              fill: #F12525

      &__icon
        height: 18px
        width: 18px
        margin-right: 8px


  &-mobile
    background-color: #fff
    display: none
    align-items: center
    justify-content: space-between
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 100
    padding: 15px 20px
    border-bottom: 1px solid rgba($main-light-color, 0.2)

    +media(480px)
      padding: 15px 20px

    +media(960px)
      display: flex
      background: $main-accent-color

    &__logo
      +size(32px)

      svg
        width: 100%
        fill: #fff

    &__burger
      margin-left: auto

    &__title
      position: absolute
      +cxy
      @extend %text-700-20
      color: $main-light-color

.important-button-wrap
  display: flex
  justify-content: center
  width: 100%

.important-button
  &.-telegram-
    min-width: 38px
    flex-shrink: 1
    padding: 10px
    margin-right: 23px
    background: $ui-white
    color: $ui-light-grey-4-5-contrast
    border: 1px solid $ui-white

    &:hover
      color: $ui-light-grey-4-5-contrast

    p
      overflow: hidden

    .important-button__content
      display: flex
      align-items: center

      span
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden

    svg
      flex-shrink: 0
      +size(14px)
      margin-right: 10px

      path
        fill: #109BFF

    &.-mobile-
      display: none
      @extend %text-500-14
      padding: 8px
      width: 100%
      margin-right: 0
      margin-bottom: 15px
      +media(960px)
        display: flex

    &.-min-
      +media(640px)
        max-width: 400px
