.main
  padding-top: 30px
  padding-bottom: 30px

  +media(960px)
    margin-top: 55px
  
  +media(960px)
    padding: 20px 20px 30px

  +media(640px)
    padding: 20px 20px 50px

  +media(360px)
    padding: 20px 5px 50px

  &__top
    margin-bottom: 20px

  &__nav

  &__title
    @extend %text-700-22
    color: $main-accent-color

    &.-to-prev-
      cursor: pointer
      display: flex
      align-items: center

    &-arrow
      width: 18px
      flex-shrink: 0
      margin-right: 15px
      fill: $main-accent-color
    
    &-ajax
      +size(200px, 28px)
      border-radius: 6px

  &__subtitle
    @extend %text-600-18
  

.main-block
  background-color: #fff
  border: 1px solid $border-color
  border-radius: 8px

  &__title
    @extend %text-600-18
    color: $main-color

  &__text
    @extend %text-500-14
  
  &__label
    @extend %text-600-14
    color: $text-extra-color
