$icon-spacer: 23px

.menu
	position: fixed
	top: 0
	left: 0
	bottom: 0
	width: 240px
	transition: .3s
	flex-shrink: 0
	z-index: 75

	+media(480px)
		width: 100%

	+media(960px)
		top: 63px

	&.-closed-
		width: 60px

		.menu-like
			&__logo
				width: 19px
				min-width: 19px
			&__text
				visibility: hidden
				opacity: 0
				pointer-events: none

		+media($min: 960px)
			.menu__subblock-title
				display: none
			.menu__link
				padding: 9px 21px
				&-num
					position: relative
					top: auto
					left: auto
					max-width: 18px
					margin-right: 0
				&-text
					display: none
			.nav__hide
				display: none

		+media(960px)
			transform: translateX(-100%)

			.nav__item, .nav__link
				display: none

			.menu__subblock_top
				padding-top: 10px

		.nav__text
			visibility: hidden
			opacity: 0
			pointer-events: none
		
		.nav__item:hover .nav__tooltip
			visibility: visible
			opacity: 1

	&-like
		padding: 15px 5px 23px 23px
		display: flex
		align-items: center
		&__logo
			width: 36px
			min-width: 36px
			transition: all .2s
		&__text
			margin-left: 15px
			@extend %text-700-16
			color: $main-light-color
			white-space: nowrap


	&__block
		background: $main-gradient
		height: 100%
		display: flex
		flex-direction: column

	&__body
		overflow-y: auto
		overflow-x: hidden
		flex-grow: 1
		display: flex
		flex-direction: column
		.menu__subblock:first-child
			padding-top: 0
			border-top: 0

		&::-webkit-scrollbar, &::-webkit-scrollbar-track
			background-color: transparent

		+media(480px)
			&::-webkit-scrollbar
				display: none
				-ms-overflow-style: none
				scrollbar-width: none
		
	&__subblock
		padding: 15px 20px

		&-title
			margin-bottom: 15px
			@extend %text-600-18
			color: rgba($main-light-color, .4)

		&.-top-
			padding-bottom: 25px

			+media(480px)
				padding-bottom: 10px

		&.-bottom-
			flex-grow: 1
			padding-top: 25px
			display: flex
			flex-direction: column

			.menu__container
				margin-bottom: 20px

			+media(480px)
				padding-top: 10px

	&__nav

	&__container
		flex-grow: 1

		&:not(:last-child)
		
	&__hide

	&__ico

		&-close
			+size(30px)
			position: absolute
			top: 50%
			right: 10px
			transform: translateY(-50%)
			display: none
			transition: $main-transitions
			cursor: pointer

			+media(960px)
				display: block

				.menu_close &
					opacity: 0

 		.element-1
 			fill: $main-light-color
 			stroke: $main-light-color
 			stroke-width: 3

 		.element-2
 			fill: $main-accent-color

	&-user
		position: relative
		padding: 20px 30px 20px 20px
		color: $main-light-color
		display: flex
		align-items: center
		transition: padding 0.3s
		+media(480px)
			margin: 25px 20px 10px 20px
			padding: 10px 40px 10px 20px
			color: $main-dark-color
			background: $main-light-color
			border-radius: 5px

		.-closed- &
			padding: 20px 8px
			+media(480px)
				overflow: hidden

		&__avatar
			+size(44px)
			min-width: 44px
			margin-right: 10px
			background-color: #CDBAFA
			background-size: cover
			background-position: center center
			border-radius: 50%
			flex-shrink: 0
			overflow: hidden
			display: flex
			justify-content: center
			align-items: center
			+media(480px)
				width: 38px
				height: 38px
				min-width: 38px

			&-icon
				+size(20px)
				min-width: 20px
				fill: $main-light-color
				+media(480px)
					width: 15px
					height: 15px
					min-width: 15px

		&__info
			overflow: hidden

		&__name
			@extend %text-700-16
			text-overflow: ellipsis
			overflow: hidden

		&__description
			@extend %text-500-12
			text-overflow: ellipsis
			overflow: hidden

		&__settings
			position: absolute
			top: 50%
			right: 20px
			+size(16px)
			min-width: 16px
			fill: $main-accent-color
			transition: all .1s
			cursor: pointer
			transform: translateY(-50%)
			z-index: 5
			
			.-closed- &
				opacity: 0
		&__text
			@extend %text-600-12
	&-links
		margin: 0 -20px

	&__link
		position: relative
		text-decoration: none
		padding: 9px 15px 9px 60px
		transition: all .2s
		color: $main-light-color
		@extend %text-700-14
		display: block

		&-num
			position: absolute
			top: 9px
			left: 21px
			min-width: 18px
			height: 18px
			margin-right: 20px
			color: $main-accent-color
			background: $main-light-color
			border-radius: 9px
			padding: 0 5px
			display: flex
			justify-content: center
			align-items: center
			span
				margin-top: 1px
				width: 8px
				display: flex
				justify-content: center

		&:not([disabled]):hover
			background-color: rgba($main-light-color, .08)

		&[disabled]
			pointer-events: none
			opacity: 0.3

		&.-active-
			background-color: rgba($main-light-color, .08)
			color: $color-success-light
			pointer-events: none
			&:before
				content: ''
				position: absolute
				left: 0
				top: 0
				display: block
				width: 4px
				height: 100%
				background: $color-success-light
				border-radius: 0 11px 11px 0
				z-index: 10

	&-teammates
		max-width: 190px
		margin: 12.5px -3px
		display: flex
		flex-wrap: wrap
		&__member
			position: relative
			margin: 2.5px 2px
			+size(26px)
			min-width: 26px
			background-color: $main-accent-color
			background-size: cover
			background-position: center center
			border-radius: 50%
			border: 2px solid $main-light-color
			cursor: pointer
			display: flex
			align-items: center
			justify-content: center
			box-sizing: content-box

			&.-unknown-
				cursor: auto
				+size(30px)
				border: 1px solid $main-light-color

			&.-success-
				border-color: #58D1C1

			&.-error-
				border-color: #D92938

			&.-pending-
				border-color: #109BFF

			&.-left-
				border-color: #000

			&-icon
				+size(17px)
				fill: rgba($main-light-color, .4)

			&-leader
				position: absolute
				top: -9px
				left: 50%
				width: 12px
				fill: #FFCE00
				transform: translateX(-50%)
				z-index: 5

	&-socials
		color: $main-light-color
		&__item
			@extend %text-500-12
			display: flex
			&:not(:last-child)
				margin-bottom: 10px
		&__title
			min-width: 70px
			padding-right: 8px
		&__info

		&__status
			&.-waiting-
				color: $main-accent-second-color
			&.-mentor-
				color: $color-success-light
				text-decoration: underline
		&__amount
			color: rgba($main-light-color, .3)

	&-tooltip
		position: absolute
		top: 0
		left: 0
		width: 100%
		max-width: 170px
		padding: 5px 10px
		background: $main-light-color
		border-radius: 4px
		box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.2)
		z-index: 100
		&__content
			display: flex
			align-items: center
			justify-content: space-between
		&__name
			margin-right: 15px
			@extend %text-400-12
			color: #000
		&__icon
			+size(16px)
			min-width: 16px
			fill: $main-accent-color
			cursor: pointer


.nav
	&__list

	&__item

	&__link
		position: relative
		margin: 0 -20px
		padding: 13px 5px 12px $icon-spacer
		text-decoration: none
		transition: $main-transitions
		cursor: pointer
		display: flex
		align-items: center

		&::before
			content: ''
			position: absolute
			+size(3px, 100%)
			left: 0
			top: 0
			border-radius: 0 200px 200px 0
			background-color: $color-success-light
			opacity: 0
			transition: $main-transitions

		&:hover, &.-active-
			background-color: rgba($main-light-color, 0.08)

			&::before
				opacity: 1

			.nav__icon
				top: -3px
				fill: $color-success-light

				&.-leadforms-
					height: 18px

			.nav__text
				color: $color-success-light

		&.-toggle-link-
			margin-top: auto

		&_disable
			// pointer-events: none
			// opacity: 0.7

			~ .nav__tooltip
				display: none

	&__dropdown

	&__sublist

	&__subitem
	
	&__sublink
		text-decoration: none
		display: flex
		align-items: center
		padding: 8px 5px 7px ($icon-spacer * 2 + 16px)
		cursor: pointer

		&:hover, &.-active-

			.nav__text
				color: $color-success-light

	&__icon
		position: relative
		top: 0
		+size(16px)
		fill: $main-accent-second-color
		margin-right: 20px
		flex-shrink: 0
		will-change: transform
		transition: .05s

		&.-toggle-icon-
			transition: .2s
			&.-closed-
				transform: rotate(180deg)

	&__text
		white-space: nowrap
		@extend %text-600-14
		color: $main-light-color
		transition: $main-transitions

	&__hide
		@extend %text-500-12
		white-space: nowrap
		color: $main-light-color
		transition: $main-transitions
	&__header
		display: flex
		flex-flow: column

		