.popup
  position: fixed
  left: 0
  top: 0
  width: 100vw
  height: 100vh
  background: rgba(0, 0, 0, 0.55)
  z-index: 150
  display: flex
  justify-content: center
  align-items: center
  +media(640px)
    align-items: flex-start
    overflow: auto

  &__container
    width: 100%
    max-width: 410px
    padding: 30px 30px 20px
    background: $main-bg
    border-radius: 6px
    cursor: auto
    overflow: auto
    +media(480px)
      border-radius: 0

  .ajax__line
    height: 20px


.-user-info-popup-
  +media(640px)
    padding: 40px 15px 30px
  .popup
    &__container
      position: relative
      z-index: 1
      +media(480px)
        padding: 30px 10px 20px
    &__svg
      position: absolute
      top: 25px
      right: 35px
      z-index: -1
      +media(640px)
        width: 90px
        svg
          width: 100%
    &__title
      margin-top: 40px
      margin-bottom: 55px
      @extend %text-700-17
      color: $main-dark-color
    &__form
      &-item
        &:not(:first-child)
          margin-top: 10px
        .form-item__input, .form-item__select
          padding: 14px 30px 14px 15px
        .select__slider
          max-height: 114px
      &-button
        margin-top: 15px
        button
          width: 100%
          @extend %text-700-16
    &__buttons
      display: flex
      flex-direction: column
      & > * + *
        margin-top: 10px