.side
  position: fixed
  top: 0
  left: 0
  min-width: 100vw
  height: 100vh
  margin-top: 0
  padding-left: 40px
  font-family: 'Helvetica', Helvetica, sans-serif
  letter-spacing: -.3px
  display: flex
  justify-content: flex-end
  background: rgba(0,0,0,.7)
  z-index: 1000
  +media(1200px)
    padding-left: 0

  &-container
    position: relative
    height: 100%
    background: #EFF1F8

    &__close
      position: absolute
      right: calc(100% + 8px)
      top: 29px
      +size(24px)
      fill: $ui-red
      cursor: pointer
      transition: all .1s
      z-index: 1
      &:hover
        fill: darken($ui-red, 10%)
      +media(1200px)
        right: 27px
        top: 23px

    &-loader
      cursor: default
      &__dots
        margin: 0 auto
      &__text
        @extend %text-500-12
        color: $ui-gray-dark
        &:not(:first-child)
          margin-top: 10px

    &__slot
      height: 100%
      padding: 25px 100px
      overflow-y: auto

      display: flex
      flex-direction: column
      +media(1200px)
        padding-top: 50px
      +media(640px)
        padding: 25px 50px
      +media(480px)
        padding: 25px 20px
      &.-field-
        min-width: 640px
        +media(960px)
          min-width: 480px

    &__content
      display: flex
      flex-direction: column
      flex-grow: 1

    &__header
      &:not(:last-child)
        margin-bottom: 20px
      & > * + *
        margin-top: 10px

    &__body
      &.-full-
        display: flex
        flex-direction: column
        flex-grow: 1
    &__footer
      margin-top: 10px
      &.-end-
        display: flex
        justify-content: flex-end

    &__block
      &:not(:last-child)
        margin-bottom: 24px
      & > div + div
        margin-top: 12px
      &-item


    &__block-field-item
      display: flex
      & > * + *
        margin-left: 20px

    &__field-list
      display: flex
      flex-direction: column
      &:not(:last-child)
        margin-bottom: 24px
      & > * + *
        margin-top: 12px


    &__title
      @extend %text-400-18
      color: $ui-gray-dark-less
      &.-dark-
        color: $ui-black

    &__subtitle
      @extend %text-400-14
      color: $ui-gray-dark-less
      &.-dark-
        color: $ui-black

    &-buttons
      margin-top: 30px
      display: flex
      justify-content: flex-end
      align-items: center
      & > * + *
        margin-left: 20px
    &__button
      min-width: 220px
      padding: 11.6px 20px
      @extend %text-500-14
      border-radius: 4px
      text-align: center
      transition: all .1s
      cursor: pointer
      &.-agree-
        background: #6979F8
        color: #fff
        &:hover, &:focus
          background: darken(#6979F8, 5%)

      &.-cancel-
        background: transparent
        color: #6979F8
        &:hover, &:focus
          color: darken(#6979F8, 5%)

    &-field
      &__list,
      &__block
        display: flex
        flex-direction: column
        & > * + *
          margin-top: 14px

      &__item
        display: flex
        align-items: center
      
      &__block
        & + &
          margin-top: 30px
      
      &__separator
        margin: 0 3px
        width: 10px
        display: flex
        align-items: center
        justify-content: center
        flex-shrink: 0
        &::before
          content: ""
          width: 100%
          height: 2px
          border-radius: 10px
          background: $ui-gray-middle



  &-confirm
    position: fixed
    top: 0
    left: 0
    min-width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background: rgba(0,0,0,.1)
    z-index: 1100
    &-container
      position: relative
      width: 440px
      max-width: 90vw
      padding: 60px 50px 20px
      background: $main-light-color
      border-radius: 4px
      &__close
        position: absolute
        right: 27px
        top: 23px
        +size(16px)
        stroke: $ui-black
        fill: transparent
        cursor: pointer
    &__text
      white-space: pre-line
      margin-bottom: 25px
      @extend %text-400-14
      text-align: center

    &-buttons
      display: flex
      justify-content: center
      & > * + *
        margin-left: 20px
    &__button
      min-width: 105px
      padding: 6px 10px
      @extend %text-500-12
      text-align: center
      border-radius: 4px
      transition: all .1s
      cursor: pointer
      &.-cancel-
        background: #EFF1F8
        color: $ui-gray-less
        &:hover, &:focus
          background: darken(#EFF1F8, 3%)
      &.-agree-
        background: $main-accent-color
        color: #fff
        &:hover, &:focus
          background: darken($main-accent-color, 5%)
    &-select
      z-index: 1001

.aside-background-leave-active,
.aside-background-enter-active
  transition: .2s

.aside-background-enter, .aside-background-leave-to
  opacity: 0

.aside-leave-active,
.aside-enter-active
  transition: .2s

.aside-enter
  transform: translate(100%, 0)

.aside-leave-to
  transform: translate(100%, 0)
