.table

	&__header
		padding: 30px 30px 20px

		+media(960px)
			padding: 15px 15px 10px	

		&-inner
			display: flex
			align-items: center
			position: relative
			
			+media(480px)
				flex-direction: column

				> * + *
					margin-top: 10px

		&-points
			justify-content: space-between
			margin: 5px 0px
			&__date
				width: calc(50% - 10px)

	&__body
		margin-top: 10px
		overflow-x: auto
		overflow-y: hidden

	&__actions
		display: flex
		flex-flow: row
		justify-content: flex-end
		align-items: center
		
		& svg
			position: relative
			width: 12px
			height: 12px
			fill: #DADADA
			margin: 0 10px

	&__title
		@extend %text-700-18

	&__subtitle
		@extend %text-700-12

		&[href]
			text-decoration: none
			transition: 0.3s

			&:hover
				color: $main-accent-color
				
	&__search
		position: absolute
		+cxy

	&__buttons

		+media($min: 481px)
			margin-left: auto

	&__nav
		padding-bottom: 10px

		&-list
			display: flex
			align-items: center
		
	&__col
		flex-grow: 1
		display: flex
		align-items: center
		padding-left: 15px
		position: relative

		&:first-child
			padding-left: 30px

			+media(960px)
				padding-left: 15px

		&:last-child
			padding-right: 30px

			+media(960px)
				padding-right: 15px
		
		&_bdr
			&:not(:last-child)
				border-right: 1px solid $border-color

		&-title
			@extend %text-600-15
			color: $text-extra-color

	&__row
		border-top: 1px solid $border-color
		display: flex

		+media(480px)
			padding: 5px 0

		.table__col
			min-height: 50px

	&__text
		@extend %text-500-12
		+dotdotdot

		&_default
			color: $text-extra-color

		white-space: nowrap
		text-overflow: ellipsis
		&-withAvatar
			white-space: inherit
		&-folder
			display: flex
			flex-flow: row
			align-items: center
			justify-content: flex-start
			@extend %text-600-12
		
			&-point
				width: 12px
				height: 12px
				margin: 0 10px
				position: relative
				& svg
					top: 0
					margin: 0
					left: 0
		&-selected
			display: flex
			position: relative
			flex-flow: row
			justify-content: space-between
			align-items: center
			& > *
				cursor: pointer
				margin: 0px 5px

	&__empty
		// position: absolute
		// top: 180%
		// left: 50%
		// transform: translateX(-50%)
		width: 100%
		padding-top: 50px
		svg
			display: block
			margin: 0 auto
		&-text
			@extend %text-600-14
			margin-top: 30px
			color: #D5D6DB
			text-align: center

	&.-users-points-table-
		.table__col
			width: calc(100% / 5)
