.tooltip
	position: absolute
	z-index: 102
	display: none
	cursor: auto

	&-bg
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 100

	&__container
		width: 300px
		background: #fff
		padding: 30px 30px 30px 25px
		box-shadow: $main-popup-shadow
		border: 1px solid $border-color
		border-radius: 4px

		button.button
			opacity: 1
			pointer-events: auto
			visibility: visible

	&__close
		+size(15px)
		fill: $main-accent-color
		cursor: pointer
		position: absolute
		top: 7px
		right: 7px

	&__body

	&__block
		display: none

	&__title
		font-weight: 300
		font-size: 15px
		line-height: 1.2
		letter-spacing: 0.01em
		display: block
		margin-bottom: 24px

		&-accent
			font-weight: 700

	&__text
		font-weight: 300
		font-size: 14px
		line-height: 1.1
		letter-spacing: 0.01em

	&__textarea

		.form-item__title
			margin-bottom: 5px

	&__delete

		.form-item__title
			font-size: 16px

	&__date

		&-block
			display: flex

		&-title

	&__select

	&__buttons
		margin-top: 20px
		display: flex

		.button
			margin-right: 10px

.tooltip-lms
  +uiFont
  @extend %text-400-14
  border-radius: 4px
  background-color: $ui-white
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2)
  .tooltip-inner
    padding: 10px
    white-space: pre-line

