<template lang="pug">
  .questionnaire-question-grid.-double-
    ol
      li
        | Суммируй свои показатели по выручке и прибыли за весь предыдущий год,
        | посчитай каждый из них отдельно. Год может быть как календарным,
        | так и 12 месяцев назад с текущей даты.
      li
        | Полученный результат за год раздели на 52. Ровно столько недель и 364 дня
        | в году.
      li
        | Так ты получишь свой средний результат в неделю по выручке и прибыли.
        | Введи их в соответствующие поля анкеты.
      li
        | Если у тебя нет данных за целый год, то посчитай, сколько недель прошло
        | с момента, как ты начал(а) считать эти показатели. Каждую из сумм подели
        | на количество недель.
</template>

<script>
export default {
  name: "RevenueProfitHelper"
}
</script>

<style scoped lang="scss">
ol {
  list-style: auto;
  max-width: 600px;
  justify-self: center;
  li {
    margin-bottom: 16px;
    margin-left: 10px;
  }
}
</style>
