<template>
  <div class="message-list">
    <template v-for="(msg, idx) in messages">
      <Message
          v-if="msg.message"
          :msg="msg"
          :idx="idx"
          :key="idx"
          @removeMessageById="removeMessageById"
          @updateTokens="updateTokens"
          @logout="logout"
      />
    </template>
  </div>
</template>

<script>
  import {mapState} from 'vuex'
  import Message from './Message/index'

  export default {
    components: {Message},
    data: () => ({
      messages: [],
      interval: null,
      updateTimer: true,
      refreshing: false,
      logginOut: false
    }),
    computed: {
      ...mapState('ajax', {
        storeMessages: s => s.messages
      }),
      ...mapState('user', {
        isAdmin: s => s.data.modulePermissions.isAdmin
      }),
    },
    mounted() {
      this.messages = _.cloneDeep(this.storeMessages)
    },
    watch: {
      storeMessages(){
        this.messages = _.cloneDeep(this.storeMessages)

        if(this.messages.length !== 0)
          this.setDelete()
        else
          clearInterval(this.interval)
      }
    },
    methods: {
      setDelete(){
        if(this.updateTimer){
          this.updateTimer = false
          this.interval = setInterval(() => {
            this.$store.dispatch('ajax/removeMessageByIdx', 0)
            this.updateTimer = true
            clearInterval(this.interval)
          }, 3000)
        }
      },
      removeMessageById(idx){
        if(this.messages.length === 1){
          this.updateTimer = true
          clearInterval(this.interval)
        }
        this.$store.dispatch('ajax/removeMessageByIdx', idx)
      },
      async updateTokens(){
        if(!this.refreshing) {
          this.refreshing = true
          await this.$store.dispatch('auth/updateTokens')
          this.refreshing = false
        }
      },
      logout(){
        if(!this.logginOut) {
          this.logginOut = true
          this.$store.dispatch('auth/logout')
        }
      },
    }
  }
</script>

<style lang="scss" scoped>

</style>