<template lang="pug">
    .answers
      Body

</template>

<script>
  import Body from './layouts/Body'

  export default {
    components:{
      Body
    },
    destroyed() {
      this.$store.dispatch('answersValidating/setData', {path: 'lessonId', value: ''});
    }
  }
</script>