<template lang="pug">
  .menu__subblock.menu-socials
    .menu-socials__item(v-if="team")
      p.menu-socials__title
        | Команда
      .menu-socials__info
        p.menu-socials__status(
          :class="{'-waiting-': !team.id}"
        )
          | {{team.id ? team.name : 'Идет распределение'}}

    .menu-socials__item
      p.menu-socials__title
        | Рейтинг команды:
      .menu-socials__info.-rating-
        p.menu-socials__status(v-if="team.rating")
          | {{team.rating.position}}/{{team.rating.max}}

    .menu-socials__item
      p.menu-socials__title
        | Наставник
      .menu-socials__info
        p.menu-socials__status.-mentor-(v-if="team.mentor")
          | {{team.mentor.name ? team.mentor.name + " " + team.mentor.lastname : 'Нет наставника'}}

</template>

<script>

  export default {
    props: ['team'],
  }
</script>