<template lang="pug">
label.ui-kit-radio(
  :class="[color ? `-${color}-` : '', {'-reverse-': reverse, '-wide-': wide}]"
  )
  input.ui-kit-radio__real-input(
    type="radio"
    hidden
    :disabled="disabled"
    :checked="isActive"
    @change="onChange"
  )

  span.ui-kit-radio__input(
    :class="[color ? `-${color}-` : '',{'-active-': isActive, '-disabled-': disabled}]"
    @click="$emit('radioClick', val)"
  )
    Icon.ui-kit-radio__icon(
      v-if="isActive"
      :icon="'ui-check'"
      :class="{'-disabled-': disabled}"
    )
  span.ui-kit-radio__title(
    :style="titleMargin"
    @click="$emit('titleClick', val)"
    )
    slot

</template>

<script>
export default {
  props: {
    /** Значение группы radio */
    value: {
      type: [String, Date, Number, Boolean, Object, Array],
      required: true
    },
    /** Значение самого элемента, сравнивается с `value` для определения `checked` у инпута */
    val:{
      type: [String, Date, Number, Boolean, Object, Array],
      required: true,
    },
    color: {
      type: String,
      default: undefined
    },
    disabled: {
      type: Boolean,
      default: false
    },
    reverse: {
      type: Boolean,
      default: false
    },
    wide: {
      type: Boolean,
      default: false
    },
  },
  methods: {
    onChange() {
      this.$emit('change', this.val)
      this.$emit('input', this.val)
    }
  },
  computed: {
    titleMargin() {
      return this.reverse ? {marginRight: "7px"} : {marginLeft: "7px" }
    },
    isActive() {
      return this.val == this.value
    }
  }
}
</script>

<style>

</style>
