<template lang="pug">
  .niche-comment__box
    .niche-comment__header
      .niche-comment__header_text Комментарии
      .niche-comment__header_total {{ comments.length }}
    .niche-comment__input
      UiInput(
        placeholder="Написать комментарий"
        v-model.trim="commentText"
        :disabled="!canEdit"
      )
      UiButton(@click="sendComment()" :disabled="!canEdit")
        | Отправить
    .niche-comment__comment-list(v-if="!loadingComments")
      .niche-comment__comment-item(v-for="(comment, index) in comments" :key="`${comment.user.lastname}_${index}_${comment.createdAt}`")
        .comment-item__header
          .comment-item__header_avatar(:style="{ backgroundImage: `url('${comment.user.avatar}')`}")
          .comment-item__header_name {{ comment.user.name }} {{ comment.user.lastname }}
          .comment-item__header_date {{ comment.createdAt | dateFilter('DD.MM.YYYY') }}
        .comment-item__text {{ comment.text }}
      .niche-comment__comment-item_empty(v-if="comments.length === 0")
        p Комментарии отсутствуют
    .niche-comment__comment-list(v-else)
      .niche-comment__comment-item_empty
        p Загружаем комментарии...
</template>

<script>
import {createNamespacedHelpers} from "vuex"
import dateFilter from '@lms/filters/date.filter'

const {mapState} = createNamespacedHelpers('ratingInvestments')

export default {
  name: "CommentsPopover",
  filters: {
    dateFilter
  },
  props: {
    nicheId: { type: Number, default: 0 },
    canEdit: { type: Boolean, default: true }
  },
  data: () => ({
    commentText: ''
  }),
  computed: {
    ...mapState({
      comments: state => state.data.comments,
      loadingComments: state => state.meta.isLoadingComments
    })
  },
  methods: {
    sendComment() {
      this.$store.dispatch('ratingInvestments/postComment', { nicheId: this.nicheId, comment: this.commentText })
      this.commentText = ''
    }
  }
}
</script>
