<template lang="pug">
  TableEmpty( v-if="!loading && users.length === 0" style="top: 50%")
  PageScroll.-width-limiter-(
    v-else
    :data="users"
    @incrementPage="incrementPage"
    :isLoading="loading || noMorePage"
    width="100%"
  )
    Table(
      :navTitles="navTitles"
    )
      template(#nav="")
        NavCell(
          v-for="title in navTitles" :key="title.id"
          @click.native="setSort(title)"
          :class=`{'-pointer-': title.sortType !== undefined,
            'investments-table__header': title.id === 3 || title.id === 5}`
        )
          span {{title.title}}
          Icon.ui-space-table__icon.-arrow-(
            v-if="title.sortType !== undefined"
            icon="ui-down"
            :class="{'-active-': title.channelId === sortChannel, '-rotate-': title.sortType === 'ASC' }"
          )
          template(v-if="title.id === 3")
            Tooltip.table-header__tooltip(direction="bottom")
              | {{ nicheTooltip }}
          template(v-if="title.id === 5")
            Tooltip.table-header__tooltip(direction="bottom")
              | Чистая прибыль в месяц
      template(v-if="loading && !loadMore")
        Row(
          v-for="i in 5" :key="`load-${i}`"
          :loading="true"
          :navTitles="navTitles"
          loadCellClass="-full-border-"
          height="43px"
        )
      template(v-else)
        .rating-investments-table__user-group(v-for="user in users" :key="user.id")
          .user-group__container
            Row(
              v-for="(niche, nicheIndex) in user.businessNiches" :key="niche.id + '_' + user.id"
              :navTitles="navTitles"
              height="43px"
            )
              Cell.-pointer-.-full-border-(
                v-if="nicheIndex === 0"
                @click="goTo(user)"
                :style="{ height: 43 * user.businessNiches.length + 'px' }"
              )
                | {{ user.name }}
                | {{ user.patronymic }}
                | {{ user.lastname }}
              Cell.-pointer-.-full-border-(v-else @click="goTo(user)")
              Cell.rating-investments-table__city-text(
                v-if="nicheIndex === 0"
                :style="{ height: 43 * user.businessNiches.length + 'px' }"
              )
                | {{ user.city }}
              Cell.-full-border-(v-else)
              Cell.-full-border-.niche-table__cell.-with-border-
                UiCheckbox.niche-cell__checkbox(
                  :value="niche.verified"
                  @input="markNiche(niche)"
                )
                .niche-cell__text
                  div(v-tooltip="popupText(niche)") {{ niche.name }}
                  .rating-investments-table__text_sm.-gray-
                    | {{niche.main ? 'Основная,' : ''}} Конкурент: {{ niche.hasRivals ? 'есть' : 'нет' }}
                v-popover.niche-cell__comment.-pointer-(
                  offset="16"
                  placement="bottom"
                  trigger="click"
                  @show="openComments(niche.id)"
                  @hide="clearComments()"
                )
                  Icon.tooltip-target(icon="ui-comment" )
                  sup.comment-total(v-if="niche.comments && niche.comments.length > 0") {{ niche.comments.length }}
                  CommentsPopover(slot="popover" :can-edit="canEdit" :niche-id="niche.id")
              Cell.-full-border-(
                v-if="nicheIndex === 0"
                :style="{ height: 43 * user.businessNiches.length + 'px' }"
              )
                | {{ user.configurations[0].pointA | numberFormat }} ₽
              Cell.-full-border-(v-else)
              Cell.-full-border-(
                v-if="nicheIndex === 0"
                :style="{ height: 43 * user.businessNiches.length + 'px' }"
              )
                | {{ user.configurations[0].profit | numberFormat }} ₽
              Cell.-full-border-(v-else)
              Cell.-full-border-(
                v-if="nicheIndex === 0"
                :style="{ height: 43 * user.businessNiches.length + 'px' }"
              )
                span(style="color: #6979F8") {{ user.totalPassed }}
                |  / {{ user.totalPlanned }}
              Cell.-full-border-(v-else)
              Cell.-full-border-(
                v-if="nicheIndex === 0"
                :style="{ height: 43 * user.businessNiches.length + 'px' }"
              )
                | {{ user.totalAmount | numberFormat }} ₽
              Cell.-full-border-(v-else)
          .user-group__delimiter()
      Row(
        v-if="loadMore"
        :key="`load-more`"
        :loading="true"
        :navTitles="navTitles"
        loadCellClass="-full-border-"
        height="43px"
      )

</template>

<script>
import { mapState } from 'vuex';

import Table from '../../components/Table'
import Row from '../../components/Table/Row'
import Cell from '../../components/Table/Cell'
import NavCell from '../../components/Table/NavCell'
import Tooltip from '../../components/Tooltip'
import UiCheckbox from '@ui/Checkbox'
import CommentsPopover from "@views/Rating/Investments/components/CommentsPopover";

export default {
  components: {
    CommentsPopover,
    Table,
    Row,
    Cell,
    NavCell,
    Tooltip,
    UiCheckbox
  },
  props: {
    sortChannel: {
      type: String,
      default: undefined
    },
    streamFilter: {
      type: Number,
      default: undefined
    },
    navTitles: {
      type: Array,
      default: undefined
    },
  },
  data: ()=> ({
    loadMore: false,
    nicheTooltip: `Нишу участника необходимо подтвердить галочкой.
    Комментарии можно оставлять, нажав на иконку сообщения`
  }),
  computed: {
    ...mapState('ratingInvestments', {
      users: s => s.data.users,
      page: s => s.data.page,
      folders: s => s.data.folders,
      isLoading: s => s.meta.isLoading,
      isLoadingPage: s => s.meta.isLoadingPage,
      noMorePage: s =>s.meta.noMorePage,
    }),
    isAdmin() {
      return this.$store.state['auth'].data.user.permissions.isAdmin
          || this.$store.state['auth'].data.user.permissions.analyticsModelAdmin
    },
    canEdit() {
      return this.$store.state['auth'].data.user.permissions.isAdmin
          || this.$store.state['auth'].data.user.permissions.analyticsModelAdmin.update !== 0
    },
    loading() {
      return this.isLoading || this.isLoadingPage
    }
  },
  methods: {
    goTo(user) {
      if(!this.isAdmin)
        return
      this.$router.push({ path: `/rating/unified/user/${user.id}` })
    },
    async incrementPage() {
      this.loadMore = true
      this.$store.dispatch('ratingInvestments/setData', { path:'page', value: this.page + 1})
      await this.$store.dispatch('ratingInvestments/getUserList')
      this.loadMore = false
    },
    getUserChanel(user, id) {
      let chanel = user.info.find(({channelId}) => channelId === id )
      return chanel ? chanel.fullProfit : 0
    },
    setSort(title) {
      if(title.channel === undefined && title.sortType === undefined)
        return
      this.$emit('setSort', title)
    },
    openComments(nicheId) {
      this.$store.dispatch('ratingInvestments/setComments', nicheId)
    },
    clearComments() {
      this.$store.dispatch('ratingInvestments/clearComments')
    },
    markNiche(niche) {
      if (this.canEdit) {
        this.$store.dispatch('ratingInvestments/markNiche', niche)
      }
    },
    popupText(niche) {
      return `${niche.name}

      ${niche.description}`
    }
  }
}
</script>

<style>

</style>
