<template lang="pug">
  .form-item.group__select
    span.form-item__title(v-if="title")
      | {{title}}

    .form-item__block(v-click-outside="close")
      span.form-item__error(v-if="error")
        | {{error}}

      .form-item__select.select(@click="toggleOpen")
        input.form-item__input(
          :disabled="true"
          :value='selectedText ? selectedText : placeholder'
          :placeholder="placeholder"
        )

      SlideUpDown.select__slider(
        :duration="slideDuration"
        :active="isOpen"
      )
        .select__field
          Input(
            placeholder="Введите продукт"
            v-model="searchText"
            style="margin-bottom: 5px;"
          )
          .folders-select__list(
            v-for="(item, itemIdx) in selectData" :key="item.folder.id"
          )
            label.folders-select__row.-folder-(
              @click="toggleFolder({itemIdx, folder: item.folder})"
            )
              span.folders-select__folder
                | Папка: {{item.folder.name}}
              Checkbox(
                :value="item.folder.checked"
                :disabled="true"
              )

            label.folders-select__row.-course-(
              v-for="(course, courseIdx) in item.courseArray" :key="course.id"
              @click="toggleCourse({itemIdx, courseIdx, course})"
            )
              span.folders-select__text
                | {{course.name}}
              Checkbox(
                :value="course.checked"
                :disabled="true"
              )


      Icon.select__icon.form-item__icon(
        :icon="!icon ? 'arrow-down' : icon"
        @click="toggleOpen"
        :class="{'-opened-': isOpen}"
      )

</template>

<script>
  import SlideUpDown from 'vue-slide-up-down';
  import SelectItem from './SelectItem';
  import vClickOutside from 'v-click-outside';
  import {mapState, mapActions} from 'vuex'

  export default {
    name: "Select",
    components:{
      SelectItem,
      SlideUpDown
    },
    directives: {
      clickOutside: vClickOutside.directive
    },
    props:{
      title: {},
      placeholder: {},
      error: {},
      icon: {},
      courseFolders: {},
      courses: {}
    },
    data(){
      return {
        searchText: '',
        isOpen: false,
        slideDuration: 200,
        status: false,
        selectText: ''
      }
    },
    computed: {
      ...mapState('usersGroups', {
        folders: s => s.aside.data.folders
      }),
      selectData() {
        // Здесь собирается дата для селекта, она меняется каждый раз, когда меняются исходные данные

        let data = _.cloneDeep(this.folders)
        // Активируем чекбоксы по входным данным
        data.forEach((item, itemIdx) => {
          let folderSelected = this.courseFolders.find(f => f.id === item.folder.id)
          item.folder.checked = !!folderSelected

          item.courseArray.forEach((course, courseIdx) => {
            let courseSelected = this.courses.find(c => c.id === course.id)
            course.checked = !!courseSelected
          })
        })

        if(this.searchText) {
          data = data
            .map((item, idx) => {
              let obj = {}
              obj.courseArray = item.courseArray.filter(c => {
                let regex = new RegExp(this.searchText, 'gi')
                return regex.test(c.name)
              })

              let regex1 = new RegExp(this.searchText, 'gi')
              if (obj.courseArray.length > 0 || regex1.test(item.folder.name))
                obj.folder = {...item.folder}

              return obj
            })
            .filter(el =>
              el.folder
            )
        }

        return data
      },
      selectedText(){
        // Текст для выбранного значения селекта
        let str = '';
        this.courseFolders.forEach(folder => {
          let item = this.folders.find(f => f.folder.id === folder.id)
          if(item)
            str += 'Папка: '+item.folder.name+', '
        })

        this.courses.forEach(course => {
          this.folders.forEach(item => {
            item.courseArray.forEach(c => {
              if(c.id === course.id)
                str += c.name+', '
            })
          })
        })

        str = str.replace(/, $/, '')

        return str
      }
    },
    mounted() {
      this.getCourseSelect();
    },
    methods:{
      ...mapActions('usersGroups',[
        'getCourseSelect'
      ]),
      toggleFolder({itemIdx, folder}){
        // При обновлении courseFolders и courses перерисовывается весь селект
        // По сути там нет чекбоксов, все контролят пропсы :)
        let newCourseFolders = _.cloneDeep(this.courseFolders)
        let folderIdx = this.courseFolders.findIndex(f => f.id === folder.id)

        // Добавляем id в newCourseFolders, который потом обновит courseFolders
        if(folderIdx === -1) {
          newCourseFolders.push({
            id: folder.id
          })

          // Добавляем все курсы из текущей папки
          let newCourses = _.cloneDeep([
            ...this.courses,
            ...this.selectData[itemIdx].courseArray
          ])
          newCourses = newCourses.map(c => {
            delete c.name
            delete c.checked
            return c
          })
          newCourses = _.uniqBy(newCourses, 'id')
          this.$emit('update:courses', newCourses)

        } else {
          // Удаляем
          newCourseFolders.splice(folderIdx, 1)
        }

        this.$emit('update:courseFolders', newCourseFolders)
      },
      toggleCourse({itemIdx, course}){
        // При обновлении courseFolders и courses перерисовывается весь селект
        // По сути там нет чекбоксов, все контролят пропсы :)
        let newCourses = _.cloneDeep(this.courses)
        let courseIdx = this.courses.findIndex(c => c.id === course.id)

        // Добавляем id в newCourses, который потом обновит courses
        if(courseIdx === -1) {
          newCourses.push({
            id: course.id,
          })
        } else {
          // Удаляем
          newCourses.splice(courseIdx, 1)
        }

        this.$emit('update:courses', newCourses)
      },
      toggleOpen() {
        if(this.folders.length > 0)
          this.isOpen = !this.isOpen
      },
      close() {
        this.isOpen = false
      },
    }
  }
</script>