<template>
  <transition name="fadeFromLeft" mode="in-out">
    <div
        class="message-list__item"
        @click="removeMessage(idx)"
        :class="`-${msg.type}-`"
    >
      <p class="err">{{msg.message | notificationMessages}}</p>
    </div>
  </transition>
</template>

<script>
  import store from "@lms/store";

  export default {
    props: ['msg', 'idx'],
    data: () => ({
      block: false,
      refreshing: false,
      redirected: false
    }),
    async mounted() {
      if(this.msg.message) {
        // INVALID_TOKEN – невалидный токен (пустой, кривой)
        // INVALID_SESSION – сессия не найдена, но возможно она когда-то была или токен принадлежит другому нашему приложению (например LMS)
        // TOKEN_EXPIRED – сессия была, но устарела
        if(/(INVALID_SESSION|TOKEN_EXPIRED|Неверный fingerprint|Пользователь не принадлежит компании)/i.test(this.msg.message)){
          this.$store.dispatch('auth/userNoAccess', {path: this.$route.path})
        }
        if(/(accessDenied)/i.test(this.msg.message)){
          if(!this.redirected) {
            this.redirected = true
            await this.$router.push({path: '/courses/folder/list'})
            this.redirected = false
          }
        }
      }
    },
    methods: {
      removeMessage(idx) {
        this.$emit('removeMessageById', idx)
      }
    },
  }
</script>