<template lang="pug">
.comments-list
  .comments-list__title
  .comments-list__cards
    .comments-card(v-for="i in 3" :key="i")
      .comments-card__user-action
        Avatar(:img="''", circle, size="xs")
        p.comments-card__user-text
          span.ajax__line.ajax__line-card-text
      .comments-card__comment
        span.ajax__line.ajax__line-card-text
      .comments-card__info
        p.comments-card__info-date
          span.ajax__line.ajax__line-card-text

</template>