<template>
  <div class="auth__block">

    <p class="auth__title">Авторизация</p>
    <p class="auth__subtitle">Вы рискуете кратно вырасти, если будете часто заходить на платформу</p>
    <form
        @input="focusedIn"
        @focusin="focusedIn"
        @focusout="focusedOut"
        @submit.prevent="submit"
        class="auth__form reg__form"
    >
      <label :class="{'change': notEmpty('email'), 'error': $v.form.email.$dirty && (!$v.form.email.email || !$v.form.email.required)}"
          class="form__block auth__form-block">
        <input
            v-model.trim="form.email"
            name="email"
            type="text"
            class="form__input"
        >
        <span class="form__placeholder">Email</span>
        <span class="form__error" v-if="$v.form.email.$dirty && !$v.form.email.required">
          Введите email
        </span>
        <span class="form__error" v-else-if="$v.form.email.$dirty && !$v.form.email.email">
          Введите корректный email
        </span>
      </label>

      <input type="hidden" name="_csrf_token" value="">
      <label :class="{'change': notEmpty('password'), 'error': $v.form.password.$dirty && !$v.form.password.required}"
          class="form__block auth__form-block">
        <input
            name="password"
            v-model.trim="form.password"
            type="password"
            class="form__input"
        >
        <span class="form__placeholder">Пароль</span>
        <span class="form__error" v-if="$v.form.password.$dirty && !$v.form.password.required">
            Введите пароль
        </span>
      </label>

      <input
          type="hidden"
          name="_remember_me"
          v-model="form.rememberMe"
          :true-value="1"
          :false-value="0"
      >
      <div class="form__buttons auth__form-buttons">
        <button class="button button-primary auth__button button-loading" type="submit">
          <span class="button-loading__text">Войти</span>
        </button>
        
        <div class="auth__text-block">
          <p class="auth__text">
            Нет аккаунта? <router-link class="auth__link hover__link" to="/registration" title="Зарегистрироваться">Зарегистрируйтесь</router-link>
          </p>
          <p class="auth__text">
            Забыли пароль? <router-link class="auth__link hover__link" to="/resetpassword" title="Забыл пароль">Восстановить</router-link>
          </p>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
  import {required, email} from 'vuelidate/lib/validators'
  export default {
    data: () => ({
      form: {
        email: '',
        password: '',
        rememberMe: 1
      },
    }),
    computed: {
      notEmpty(){
        return path => this.form[path].length > 0
      }
    },
    methods: {
      focusedIn(e){
        if(e.target.classList.contains('form__input'))
          e.target.closest('.form__block').classList.add('focus')
      },
      focusedOut(e){
        if(e.target.classList.contains('form__input'))
          e.target.closest('.form__block').classList.remove('focus')
      },
      async submit(){
        if(this.$v.$invalid){
          this.$v.$touch()
          return
        }

        let res = await this.$store.dispatch('security/login', this.form)
        if(res === 'success')
          await this.$router.replace('/companies/my')
      }
    },
    validations: {
      form: {
        email: {required, email},
        password: {required}
      }
    }
  }
</script>