<template lang="pug">
  .rating__msa-body
    .rating__msa-table
      .rating__msa-table__row.rating__msa-table__header
        //- .rating__msa-table__col-header
        //-   Select(
        //-     :selectData="selectName"
        //-     v-model="filterByName"
        //-   )
        //- .rating__msa-table__col-header
        //-   Select(
        //-     :selectData="selectNiche"
        //-     v-model="filterByNiche"
        //-   )
        //- .rating__msa-table__col-header
        //-   Select(
        //-     :selectData="selectProceeds"
        //-     v-model="filterByProceeds"
        //-   )
        //- .rating__msa-table__col-header
        //-   Select(
        //-     :selectData="selectProfit"
        //-     v-model="filterByProfit"
        //-   )
        //- .rating__msa-table__col-header
        //-   Select(
        //-     :selectData="selectNPS"
        //-     v-model="filterByNPS"
        //-   )
        .rating__msa-table__col-header
          | Имя
        .rating__msa-table__col-header
          | Сфера
        .rating__msa-table__col-header
          | Выручка
        .rating__msa-table__col-header
          | Прибыль
        .rating__msa-table__col-header
          | NPS
      TableEmpty( v-if="isLoading || users.length === 0" style="top: 50%") 
      PageScroll(v-else :data="users" @incrementPage="incrementPage" :isLoading="isLoadingPage")
        .rating__msa-table__row.rating__msa-table__body(v-for="( user, i ) in users" :key="i")
          .rating__msa-table__col
            p.rating__msa-text.pointer( @click="goTo(user)" style="overflow: hidden;text-overflow: ellipsis;")
              | {{ user.name }} 
              | {{ user.patronymic }} 
              | {{ user.lastname }}
          .rating__msa-table__col
            p.rating__msa-text(style="overflow: hidden;text-overflow: ellipsis;")
              | {{ user.niche }}
          .rating__msa-table__col(
            v-for="info in user.info" :key="info.channelId"
          )
            | {{ info.fullProfit | numberFormat }}{{ info.channelId == 2 ? '%' : ''}} 
            template(v-if="!info.profit === 0")
              |( 
              p.rating__msa-text.rating__msa-text-success
                | +{{ info.profit | numberFormat}}{{ info.channelId == 2 ? '%' : ''}}
              |)
</template>
<script>
import { mapState } from 'vuex';
import numberFormat from "@lms/filters/numberFormat.filter";
import replaceRouteQuery from "@lms/functions/replaceMultipleRouteQuery";

export default {
  computed:
  {
    ...mapState('ratingMsa',
    {
      users: s => s.data.users,
      isLoading: s => s.meta.isLoading,
      isLoadingPage: s => s.meta.isLoadingPage
    }),
    isAdmin()
    {
      return this.$store.state['auth'].data.user.permissions.isAdmin
    }
  },
  data()
  {
    return {
      filterByName: undefined,
      filterByNiche: undefined,
      filterByProceeds: undefined,
      filterByProfit: undefined,
      filterByNPS: undefined,
      selectName: 
      [
        {
          text:'Не выбрано',
          value: undefined
        },
        {
          text:'от А-Я',
          value: true
        },
        {
          text: 'от Я-А',
          value: false
        },
      ],
      selectNiche:
      [
        {
          text:'Не выбрано',
          value: undefined
        },
        {
          text:'Рост',
          value: true
        },
        {
          text: 'Падение',
          value: false
        },
      ],
      selectProceeds:
      [
        {
          text:'Не выбрано',
          value: undefined
        },
        {
          text:'Рост',
          value: true
        },
        {
          text: 'Падение',
          value: false
        },
      ],
      selectProfit:
      [
        {
          text:'Не выбрано',
          value: undefined
        },
        {
          text:'Рост',
          value: true
        },
        {
          text: 'Падение',
          value: false
        },
      ],
      selectNPS:
      [
        {
          text:'Не выбрано',
          value: undefined
        },
        {
          text:'Рост',
          value: true
        },
        {
          text: 'Падение',
          value: false
        },
      ]
    }
  },
  methods:
  {
    goTo(user)
    {
      if(!this.isAdmin)
        return
      this.$router.push(`/rating/msa/user/${user.id}`)
    },
    incrementPage( value )
    {      
      this.$store.dispatch('ratingMsa/setData', { path:'page', value: value})
      this.$store.dispatch('ratingMsa/getUsersList')
    },

  }
}
</script>