<template lang="pug">
  .rating__msa-header
    Select.rating__msa-header__actions(
      v-model="streamId"
      :selectData="streams"
      @input="changeValue($event, 'streamId')"
      placeholder="Выберите поток"
    )
    InputSearch.rating__msa-header__actions(
      v-model='name'
    )
    SelectData.rating__msa-header__actions(
      v-model="date_start"
      placeholder="От"
      @input="changeValue($event, 'date_start')"
      title="Выберите дату"
    )
    SelectData.rating__msa-header__actions(
      v-model="date_end"
      @input="changeValue($event, 'date_end')"
      placeholder="До"
      title="Выберите дату"
    )
    UiButton(
      v-if="isAdmin"
      color="light"
      @click="openModal"
    ) Выгрузить
    UiModal.rating__msa-modal(
      v-model="isShowModal"
    )
      .rating__msa-modal__body
        .rating__msa-modal__field-list
          SelectData.-background-(
            v-model="csvDate.months"
            title="Интервал месяцев"
            type="month"
            format="MM"
            :range="true"
            :appendToBody="true"
            placeholder="Месяц"
            :moment="true"
          )
          SelectData.-background-(
            v-model="csvDate.year"
            title="Год"
            type="year"
            format="YYYY"
            :appendToBody="true"
            placeholder="Год"
            :moment="true"
          )
      template(#footer)
        .rating__msa-modal__footer
          RouterLink(
            :to="csvLink"
            target="_blank"
            download
            :style="{textDecoration: 'none'}"
          )
            UiButton() Выгрузить
    Button.rating__msa-header__actions__btn(v-if="isAdminMsa" class="-xs-" @click="goTo" )
      | Моя карточка
    //- Button.rating__msa-header__actions__btn(class="-xs-" @click="loadCSV")
    //-   | {{ isLoadingCSV ? 'Сохранить данные' : 'Выгрузить данные' }}
</template>
<script>
import { mapState } from 'vuex'
import SelectData from './components/SelectData';
import replaceRouteQuery from "@lms/functions/replaceMultipleRouteQuery"
import moment from 'moment'

export default {
  components: {
    SelectData,
  },
  data() {
    return {
      streamId: '',
      name:'',
      date_start: '',
      date_end: '',
      isShowModal: false,
      csvDate: {
        months: '',
        year: '',
      },
    }
  },
  computed: {
    ...mapState('auth', {
      isAdmin: s => s.data.user.permissions.isAdmin
    }),
    ...mapState('ratingMsa', {
      isLoadingCSV: s => s.meta.isLoadingCSV,
      streamData: s => s.data.streams
    }),
    streams() {
      return [
        {
          text: 'Не выбрано',
          value: undefined
        },
        ...this.streamData]
    },
    isAdminMsa() {
      return !this.$store.state['auth'].data.user.permissions.isAdmin && this.$store.state['auth'].data.user.isMSACourse
    },
    csvLink() {
      let monthList = []
      let yearFormat = moment(this.csvDate.year).format('YYYY')
      let [monthFrom, monthTo] = this.csvDate.months

      do {
        monthList.push(moment(monthFrom).format('MM'))
        monthFrom = moment(monthFrom).add(1, 'M');
      } while (!moment(monthFrom).isAfter(monthTo, 'month'))

      return {
        path: `/analytics/msa/csv/get`,
        query: {
          'months[]': monthList,
          year: yearFormat,
        }
      }
    }
  },
  beforeMount() {
    this.setCsvDate()
  },
  mounted() {
    Object.entries(this.$route.query).forEach( el => 
    {
      this[el[0]] = el[1]
    })
  },
  methods: {
    loadCSV()
    {
      !this.isLoadingCSV && this.$store.dispatch('ratingMsa/')
    },
    changeValue( value, name )
    {
      let obj = {}
      obj[name] = value
    
      let arrQuery = Object.entries({...this.$route.query, ...obj }).map( el => 
      ({
        method: 'replace',
        name: el[0],
        value: el[1]
      }))

      replaceRouteQuery( arrQuery )
    },
    goTo()
    {
      this.$router.push(`/rating/msa/user/${this.$store.state['auth'].data.user.id}`)
    },
    openModal() {
      this.isShowModal = true
    },
    setCsvDate() {
      let date = moment()
      this.csvDate = {
        months: [date, date],
        year: date,
      }
    },
    getCsv() {
      // this.$store.dispatch('ratingMsa/loadIntervalCsv', this.csvDate)


      let monthList = []
      let yearFormat = moment(this.csvDate.year).format('YYYY')
      let [monthFrom, monthTo] = this.csvDate.months

      do {
        monthList.push(moment(monthFrom).format('MM'))
        monthFrom = moment(monthFrom).add(1, 'M');
      } while (!moment(monthFrom).isAfter(monthTo, 'month'))

      this.$router.push({path: `/analytics/msa/csv/get`, query: {
        'months[]': monthList,
        year: yearFormat,
      }, })
    }
  }
}
</script>