<template>
<svg width="114" height="114" viewBox="0 0 114 114" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M32.5938 40.1916L57 49.9535L81.4062 40.1916L57 30.4297L32.5938 40.1916Z" fill="#DFE0EB"/>
  <path d="M40.3008 50.4694V58.1769L57 64.8565L73.6992 58.1769V50.4688L57 57.1495L40.3008 50.4694Z" fill="#DFE0EB"/>
  <path d="M2 3.45312C0.89543 3.45312 0 4.34856 0 5.45312V88.2891C0 89.3936 0.895431 90.2891 2 90.2891H112C113.105 90.2891 114 89.3936 114 88.2891V5.45313C114 4.34856 113.105 3.45312 112 3.45312H2ZM93.7383 68.25C93.7383 69.3546 92.8428 70.25 91.7383 70.25H89.0586C87.954 70.25 87.0586 69.3546 87.0586 68.25V48.077C87.0586 46.6621 85.6294 45.6945 84.3157 46.2201L81.636 47.2922C80.8768 47.5959 80.3789 48.3313 80.3789 49.1491V61.342C80.3789 62.1598 79.8811 62.8951 79.1219 63.1989L57.743 71.7529C57.266 71.9437 56.734 71.9437 56.257 71.7529L34.8781 63.1989C34.1189 62.8951 33.6211 62.1598 33.6211 61.342V49.1503C33.6211 48.3325 33.1232 47.5971 32.3639 47.2933L19.2516 42.0483C17.5753 41.3778 17.5753 39.005 19.2516 38.3344L56.2572 23.5317C56.734 23.341 57.266 23.341 57.7428 23.5317L92.4811 37.4283C93.2404 37.7321 93.7383 38.4675 93.7383 39.2852V68.25Z" fill="#DFE0EB"/>
  <path d="M70.9963 98.5589C70.724 97.7422 69.9598 97.1914 69.0989 97.1914H44.9011C44.0402 97.1914 43.276 97.7422 43.0037 98.5589L41.6887 102.504C41.4165 103.32 40.6522 103.871 39.7913 103.871H28.9414C27.8368 103.871 26.9414 104.767 26.9414 105.871V108.551C26.9414 109.655 27.8368 110.551 28.9414 110.551H85.0586C86.1632 110.551 87.0586 109.655 87.0586 108.551V105.871C87.0586 104.767 86.1632 103.871 85.0586 103.871H74.2087C73.3478 103.871 72.5835 103.32 72.3113 102.504L70.9963 98.5589Z" fill="#DFE0EB"/>
</svg>

</template>

<script>
export default {

}
</script>

<style>

</style>