<template lang="pug">
  UiModal(
    :value="value"
    @input="$emit('input', $event)"
    :destroy="true"
    :showFooter="false"
    windowClass="questionnaire-modal"
  )
    .questionnaire-question.questionnaire-content
      .questionnaire__header.-margin-xl-.-full-
        .questionnaire__title.-margin-m-(
          v-if="!loadingFaculty"
        )
          | Ты можешь изменить {{typeName}}
        .questionnaire__title.-margin-m-.ajax__line.-round-(
          v-else
          :style="{width: 'calc(100% - 40px)', height: 'calc(1em + 2px)'}"
        )
        .questionnaire__description(
          v-if="!loadingFaculty"
        )
          | Ты можешь выбрать {{typeName}} из доступных для ученика
        .questionnaire__description.-margin-m-.ajax__line.-round-(
          v-else
          :style="{width: 'calc(100% - 60px)', height: 'calc(1em + 2px)'}"
        )

      p.questionnaire-content__title(
        v-if="!loadingFaculty"
      ) Выбери {{typeName}} из списка
      .questionnaire-content__title.-margin-m-.ajax__line.-round-(
        v-else
        :style="{width: '200px', height: 'calc(1em + 2px)'}"
      )

      .questionnaire-question-grid.-one-.questionnaire__limiter.-center-.-margin-m-
        UiSelect.-background-main-(
          :title="`${type === 'group' ? 'Сборная' : type === 'faculty' ? 'Факультет' : ' '}`"
          :placeholder="`Выбери ${typeName || ' '}`"
          v-model="faculty"
          :option="facultyList"
          :maxHeight="150"
        )
        Icon.questionnaire-modal-content__img(
          icon="ui-computer-learn"
        )
      UiButton(
        :disabled="!faculty"
        @click="showConfirmModal"
      ) Сохранить
    UiModal(
      v-model="isConfirmModalOpen"
      :bodyClass="!changed && '-left-'"
      acceptText="Подтвердить"
      rejectText="Закрыть"
      acceptColor="primary"
      rejectColor="blue-gray"
      acceptClass="-smart- questionnaire-modal__button -min-"
      rejectClass="-smart- questionnaire-modal__button -min-"

      :destroy="true"

      :showFooter="!changed"

      :reverse="true"
      :loadingAccept="sending"

      @accept="send"
      @reject="unshowConfirmModal"

    )
      template(
        v-if="!changed"
      )
        .ui-kit-modal__title
          | Ты действительно хочешь изменить {{typeName}} участника?
        p
          | Если ты сменишь {{typeName}}, участник больше не сможет
          |  просматривать {{type === 'group' ? 'предыдущую сборную' : 'предыдущий факультет'}}.
      template(
        v-else
      )
        .questionnaire-modal-content.-center-
          .ui-kit-modal__title
            | Ты успешно изменил {{typeName}}!
          Icon.questionnaire-modal-content__img(
            icon="ui-computer-learn"
          )
          UiButton.questionnaire-modal-content__button(
            @click="unshowConfirmModal"
          ) Сохранить


</template>

<script>
export default {
  props: {
    value: {},
    userId: {},
  },
  computed: {
    typeName() {
      switch(this.type) {
        case 'group':
          return 'сборную'
        case 'faculty':
          return 'факультет'
      }
    }
  },
  watch: {
    value(isOpen) {
      if(isOpen) {
        this.getUserFaculty()
      }
    },
    isConfirmModalOpen(state) {
      if(!state && this.changed) {
        this.clearSuccessData()
        // Сейчас модалка связанна со строкой таблицы
        // 'updateCourse' вызовет удаление строки и модалка исчезнет
        // Так что вызываем обновление только после закрытия
        this.$emit('updateUser')
      }
    }
  },
  data: ()=>({
    recomendedCourse: 'speed',
    selectedCourse: null,
    isConfirmModalOpen: false,
    sending: false,
    changed: false,
    facultyList: [],
    faculty: null,
    type: null,
    loadingFaculty: false,
  }),
  methods: {
    async getUserFaculty() {
      this.loadingFaculty = true
      let res = await this.$store.dispatch('questionnaire/getUserFaculty', {user: this.userId})
      if(res.status = 'success') {
        this.facultyList = res.data.faculties.map(({id, name}) =>({
          value: id,
          title: name,
        }))
        this.type = res.data.type
      }
      this.loadingFaculty = false
    },
    async send() {
      this.sending = true
      let res = await this.$store.dispatch('questionnaire/setFaculty', {faculty: this.faculty, userId: this.userId})
      this.sending = false

      if(res.status === 'success')
        this.changed = true
    },
    showConfirmModal() {
      this.isConfirmModalOpen = true
    },
    unshowConfirmModal() {
      this.isConfirmModalOpen = false
    },
    clearSuccessData() {
      this.unshowConfirmModal()
      this.$emit('input', false)
      this.changed = false
      this.selectedCourse = null
    },
  },
}
</script>

<style>

</style>
