<template lang="pug">
  .aside__subblock
    .aside__list
      .aside__item.-full-
        .aside__list-title
          | Личные данные
      .aside__item.-full-
        UserInfo( :value="user" @compare="compare")
      
</template>

<script>
  import {mapState} from 'vuex'
  import UserInfo from './Forms/UserInfo'

  

  export default {
    components:{
      UserInfo
    },
    data: () => ({
      user: {
        select:'',
        email: '',
        name: '',
        lastname: '',
        phone: '',
        city:'',
        site:'',
        niche:'',
        profitPerYear:'',
        profitPerLastYear:''
      },
    }),
    methods: {
      compare(v){
        this.$store.dispatch('users/setAsideData', { path:'user', value: v })
        this.$store.dispatch('usersGroupsUsers/setAsideMeta',{ path: 'canSave', value: true })
      },
      addCourse(){
        let max = Math.max.apply(this.coursesList.map( el => el.id))
        this.coursesList = [...this.coursesList, {
          id: max+=1,
          course:'',
          tariff: '',
          manager:'',
          tracker: ''
        }]
      },
      removeCourse(id){
        this.coursesList = this.coursesList.filter( el => el.id !== id)
      }
    },
    destroyed() {
      this.$store.dispatch('usersGroupsUsers/setAsideData', {path: 'stagedUser', value: {}})
      this.$store.dispatch('usersGroupsUsers/setAsideMeta', {path: 'canSave', value: false})
    }
  }
</script>