<template lang="pug">
  .aside__subblock
    .aside__list(v-if="step==1")
      template(v-if="storeUser.id")
        .aside__item.-full-
          Input(
            title="ФИО"
            placeholder="Александр Сергеевич Пушкин"
            :error="$v.user.name.$dirty && !$v.user.name.required"
            v-model.trim="user.name"
            @input="compare"
          )
            span.form-item__error(v-if="$v.user.name.$dirty && !$v.user.name.required")
              | Обязательное поле

        .aside__item.-full-
          Input(
            title="Email"
            placeholder="example@email.com"
            :error="$v.$dirty && (!$v.user.email.required || !$v.user.email.email)"
            v-model.trim="user.email"
            @input="compare"
          )
            span.form-item__error(v-if="$v.$dirty && !$v.user.email.required")
              | Обязательное поле
            span.form-item__error(v-else-if="$v.$dirty && !$v.user.email.email")
              | Некорректный email

      template(v-else)
        .aside__item.-full-
          SelectMultiple(
            title="Пользователи"
            placeholder="Укажите пользователей"
            :selectData="groups"
            :selectedInData="selectedInGroups"
            @updateListInGroup="updateListInGroup"
            @toggleItemInGroup="toggleItemInGroup"
          )
      .aside__item.-full-
        Button.-s-(@click="nextStep")
          | Создать пользователя
    template(v-else-if="step==2")
      CreateUser
</template>

<script>
  import {mapState} from 'vuex';
  import {required, email} from 'vuelidate/lib/validators';
  import CreateUser from './CreateUser';

  export default {
    components:{CreateUser},
    data: () => ({
      isAddUser:false,
      user: {},
      userBackup: {},
      users: [],
      groups: {
        users: {
          name: 'Пользователи',
          showName: false,
          searchUrl: '/user/list/get',
          listClass: '',
          listItemClass: '',
          list: []
        }
      },
    }),
    computed: {
      ...mapState('usersGroupsUsers', {
        storeUser: s => s.aside.data.user,
        storeUsers: s => s.data.users,
        canSave: s => s.aside.meta.canSave,
        copy: s => s.aside.meta.copy,
        step: s => s.aside.meta.step
      }),
      selectedInGroups(){
        return {
          users: [
            ...this.users
          ]
        }
      },
    },
    beforeMount(){
      this.setData()
    },
    methods: {
      setData(){
        if(this.storeUser.id){
          this.user = _.cloneDeep(this.storeUser)
          this.userBackup = _.cloneDeep(this.user)
        }
      },
      compare(){
        if(this.storeUser.id) { // Если редактирование юзера
          if(this.$v.$invalid){
            this.$v.$touch()

            if(this.canSave)
              this.$store.dispatch('usersGroupsUsers/setAsideMeta', {path: 'canSave', value: false})
            return
          }

          let formHasChanges = !_.isEqual(this.user, this.userBackup)

          if(this.canSave !== formHasChanges)
            this.$store.dispatch('usersGroupsUsers/setAsideMeta', {path: 'canSave', value: formHasChanges})
          if(this.canSave)
            this.$store.dispatch('usersGroupsUsers/setAsideData', {path: 'stagedUser', value: this.user})
        } else {
          let changes = this.users.length > 0

          if(this.canSave !== changes)
            this.$store.dispatch('usersGroupsUsers/setAsideMeta', {path: 'canSave', value: changes})
          if(this.canSave)
            this.$store.dispatch('usersGroupsUsers/setAsideData', {path: 'stagedUsers', value: this.users})
        }
      },
      updateListInGroup({data, groupName}){
        // данные для селекта из апи указанной в groups
        let d = data[groupName].filter(user => {
          return !this.storeUsers.find(u => u.id === user.id)
        })
        this.groups[groupName].list = [...d]
      },
      toggleItemInGroup({item, groupName}) {
        if(groupName === 'users') {
          let itemExistedIdx = this.users.findIndex(u => u.id === item.id)
          if(itemExistedIdx === -1) // Добавляем итем к автивным
            this.users.push(item)
          else
            this.users.splice(itemExistedIdx, 1)
        }
        this.compare()
      },
      nextStep(){
        this.$store.dispatch('usersGroupsUsers/incrementStep')
      }
    },
    validations() {
      if(this.storeUser.id) {
        return {
          user: {
            name: {required},
            email: {required, email},
          }
        }
      } else {
        return {
          user: {}
        }
      }

    },
    destroyed() {
      this.$store.dispatch('usersGroupsUsers/setAsideData', {path: 'user', value: {}})
      this.$store.dispatch('usersGroupsUsers/setAsideData', {path: 'stagedUser', value: {}})
      this.$store.dispatch('usersGroupsUsers/setAsideData', {path: 'stagedUsers', value: []})
    }
  }
</script>