<template lang="pug">
  MainAsideRightHead(
      :title="user.id ? 'Редактирование пользователя' : 'Добавление пользователей'"
      storePath="usersGroupsUsers"
      :canSave="canSave"
      :optionsVisible="false"
      :saveText="user.id ? 'Редактировать' : 'Добавить'"
      @save="save"
    )

</template>

<script>
  import MainAsideRightHead from '@lms/components/MainAsideRight/MainAsideRightHead'
  import {mapState} from 'vuex'

  export default {
    components: {MainAsideRightHead},
    computed: {
      ...mapState('usersGroupsUsers', {
        canSave: s => s.aside.meta.canSave,
        user: s => s.aside.data.user,
        step: s => s.aside.meta.step,
        stagedUser: s => s.aside.data.stagedUser
      }),
      ...mapState('users',{
        userId: s => s.data.userId
      })
    },
    methods: {
     async save(){
        if(!this.canSave) return
        
        if(this.step == 2){
          await this.$store.dispatch('users/addUser');
          
          await this.$store.dispatch('usersGroupsUsers/setAsideData',{path: 'stagedUsers', value: [{id:this.userId}]})
          await this.$store.dispatch('usersGroupsUsers/addUsers', {groupId: this.$route.params.groupId, mode: true})

        }else if(this.step == 1){
          if(this.user.id)
            this.$store.dispatch('usersGroupsUsers/editUser')
          else
            this.$store.dispatch('usersGroupsUsers/addUsers', {groupId: this.$route.params.groupId, mode: true})
        }
      
        this.closeAside()
      },
      closeAside(){
        this.$store.dispatch('usersGroupsUsers/setAsideMeta', {path: 'forceClose', value: true})
      }
    }
  }
</script>