<template lang="pug">
  .aside__block
    Head
    Form

</template>

<script>
  import Head from './Head';
  import Form from './Form';
  import {mapActions} from 'vuex';

  export default {
    components: {Head, Form},
    methods: {
      ...mapActions('coursesCourse', [
        'setAsideMeta',
        'setAsideData',
      ])
    },
    mounted(){
      this.$store.dispatch('auth/getCoursesForEmail');
    },
    destroyed() {
      this.setAsideData({path: 'lesson', value: {}})
      this.setAsideData({path: 'course', value: {}})
      this.setAsideData({path: 'idx', value: ''})
      this.setAsideMeta({path: 'copy', value: false})
      this.setAsideMeta({path: 'canSave', value: false})
    }
  }
</script>