<template lang='pug'>
		
  .main-block
    .table.-users-group-table-
      .table__header
        .table__header-inner
          p.table__title Список команд

          .table__buttons(v-if="$permissionsCreate")
            Button.-s-(@click="openAside")
              | Добавить команду

      .table__body
        .table__nav
          ul.table__nav-list
            li.table__col
              p.table__col-title
                | Название
            li.table__col
              p.table__col-title  
                | Участников
            li.table__col
              p.table__col-title
                | &nbsp;
            li.table__col
              p.table__col-title  
                | Id 

        .table__content
          template(v-if="!isLoadTeams")
            template(v-for="(folder, idx) in folders")
              TableRow(
                marginLeft="0"
                :key="'folder'+idx"
                :data="folder.folder"
                :item="folder"
              )
          template(v-else)
            SkeletRow(v-for="i in 5" :key="i")
</template>
	
<script>
  import TableRow from './components/Row'
  import SkeletRow from './components/SkeletRow'
	import {mapState, mapActions} from 'vuex'
	
	export default {
		components: {TableRow, SkeletRow},
    computed: {
		  ...mapState('usersTeam', {
        folders: s => s.data.folders,
        isLoadTeams: s => s.meta.isLoadTeams,
        team: s => s.aside.data.team
      }),
      ...mapState('auth',{
        $permissions: s => s.data.user.permissions.userTeamModuleAdmin,
        isAdmin: s => s.data.user.permissions.isAdmin
      }),
    },
		methods: {
			...mapActions('usersTeam', [
				'getCourse',
				'setAsideMeta',
				'setAsideData',
			]),
			openAside() {
				this.setAsideData({
            path: 'team',
            value:{}
				})
				this.setAsideMeta({path: 'isOpen', value: true})
			},
		}
		
	}
</script>