<template lang="pug">
  .questionnaire
    .questionnaire__substrate-wrap
      .questionnaire__substrate
        .questionnaire-question.questionnaire-content

          Icon.questionnaire__icon-back(
            v-if="history.length"
            icon="ui-arrow-left"
            @click="comeBack"
          )
          .questionnaire-content__block
            p.questionnaire__title.-min-margin- 
              | Аяз рекомендует тебе пройти сначала
              | курс Сотка, чтобы заработать первые 100 000 на своем бизнесе
            p.questionnaire__description 
              | Курс Скорость Клуб
              | начнется после прохождения Сотки
          UiButton(
            :disabled="!selectedCourse"
            @click="sendCourse"

          ) Продолжить
        
        Choice.questionnaire__substrate-img

</template>

<script>
import {mapState} from 'vuex'
import Choice from '../components/iconList/Choice'
export default {
  components: {
    Choice,
  },
  computed: {
    ...mapState('questionnaire', {
      history: s => s.data.history,
    }),
    recommendedCourseName() {
      switch(this.recommendedCourse) {
        case 'Скорость':
          return 'speed'
        case 'Сотка':
          return 'hundred'
      }
    }
  },
  data: ()=>({
    selectedCourse: null,
    recommendedCourse: null,
    loadingRecommendedCourse: false,
  }),
  mounted() {
    this.getRecommendedCourse()
  },
  methods: {
    setCourse(course) {
      this.selectedCourse = course
    },
    async sendCourse() {
      let res = await this.$store.dispatch('questionnaire/setCourse', {course: this.selectedCourse})
      if(res.status === 'success')
        this.$router.push('/questionnaire/telegram')
    },
    comeBack() {
      this.$router.push('/questionnaire')
    },
    async getRecommendedCourse() {
      this.loadingRecommendedCourse = true
      let res = await this.$store.dispatch('questionnaire/getRecommendedCourse')
      if(res.status === 'success') {
        this.recommendedCourse = res.data.course
        if(!this.selectedCourse)
          this.selectedCourse = this.recommendedCourseName
      }
      this.loadingRecommendedCourse = false
    },
  },
}
</script>

<style>
 .questionnaire__icon-back {
   display: none;
 }
</style>
