<template lang="pug">
  v-popover.rating-tooltip(offset="8" :placement="direction" trigger="hover" :boundaryElement="boundary")
    Icon.rating-tooltip__icon(
      icon="ui-question-round"
      :class="{'-active-': isShow}"
      @mouseenter.native="openPopup"
      @mouseleave.native="closePopup"
    )
    template(slot="popover")
      .rating-tooltip__message
        slot
  
</template>

<script>
export default {
  props: {
    direction: {
      type: String,
      default: 'left'
    }
  },
  data: ()=> ({
    isShow: false,
    boundary: document.body
  }),
  methods: {
    openPopup() {
      this.isShow = true
    },
    closePopup() {
      this.isShow = false
    }
  }

}
</script>

<style>

</style>
