<template lang="pug">
  div
    .form-item__block(v-click-outside="close")
      Input.width-100(
        placeholder="Поиск "
        v-model="search"
        @keyup="keyup"
      )
      SlideUpDown.select__slider(
        v-if="captainsData.length > 0"
        :duration="slideDuration"
        :active="isOpen" 
      )
        .select__field.-no-padding-
          .select__item.justify-start(
            v-for="(item, idx) in captainsData" :key="idx"
            @click="setOption(item)"
          ) 
            template(v-if="item")
              Avatar(circle size="s" :img="item.avatar")
              p.select__text {{item.email}}
            
</template>
<script>
	import SlideUpDown from 'vue-slide-up-down'
  import vClickOutside from 'v-click-outside'
  import replaceMultipleRouteQuery from "@lms/functions/replaceMultipleRouteQuery"
  import {mapActions, mapState} from 'vuex'


  export default {
    directives: {clickOutside: vClickOutside.directive},
    components: {SlideUpDown},
    props: ['value'],
    data: () => ({
      search: '',
      isOpen: false,
      slideDuration: 200
    }),
    computed: {
      ...mapState('tractionMap', {
        captainList: s => s.data.captainList,
        captains: s => s.data.captains.map( el=> el.id)
      }),
      captainsData(){
        return this.captainList.filter( el => this.captains.include( elem => el.id !== elem))
      }
    },
    watch: {
      search(val) {
      },
    },
    methods: {
      ...mapActions('tractionMap', [
        'searchTractionMapCaptain'
      ]),
      close() {
        this.isOpen = false
      },
      setOption(item) {
        this.isOpen = false;
        this.search = '';
        this.$emit('input', item);
      },
      keyup(e){
        this.searchTractionMapCaptain(this.search)
      }
    }
  }
</script>