<template lang="pug">
	.controls-arrow
		.controls-arrow__block(@click="moveUp")
			Icon.controls-arrow__icon(
					:class="{'-disabled-': firstBlock}"
					icon="arrow-minimal-top")

		.controls-arrow__block(@click="moveDown")
			Icon.controls-arrow__icon.-bottom-(
					:class="{'-disabled-': lastBlock}"
					icon="arrow-minimal-top")

</template>
	
<script>
	export default {
		props: {
			firstBlock: false,
			lastBlock: false,
		},
		methods: {
			moveUp() {
				this.$emit('moveUp')
			},
			moveDown() {
				this.$emit('moveDown')
			},
		}
	}
</script>