<template lang="pug">
.user-team-header.-between-(
  v-if="canEdit"
)
  //- Возможно в дальнейшем будет что-то без прав canEdit
  //- так что оставлю проверку тут
  .user-team-header__block
      UiInput.user-team-input(
        :value="search"
        @input="setFilter('search', $event)"

        placeholder="Поиск участника"
        icon="ui-search"
        iconClass="user-team-icon-search"
      )
      UiSelectFilter.user-team-select.-m-(
        v-if="cityList.length"
        :value="city"
        :option="cityList"
        @input="setFilter('city', $event)"

        placeholder="Город"

        :canUnset="true"
        :smart="true"
        :maxHeight="200"
      )
      UiSelectFilter.user-team-select.-m-(
        v-if="mode === 'allocated'"
        :value="captain"
        :option="captainList"
        @input="setFilter('captain', $event)"

        placeholder="Капитан"

        :canUnset="true"
        :smart="true"
        :maxHeight="200"
      )
      UiSelectFilter.user-team-select.-m-(
        v-if="course"
        :value="faculty"
        :option="facultyList"
        @input="setFilter('faculty', $event)"

        placeholder="Факультет / Сборная"

        :canUnset="true"
        :smart="true"
        :maxHeight="200"
      )
      UiSelectFilter.user-team-select.-m-(
        :value="course"
        :option="courseList"
        @input="setFilter('courseStreamId', $event)"

        placeholder="Курс"

        :canUnset="true"
        :smart="true"
        :maxHeight="200"
      )
  UiButton(
    v-if="mode === 'allocated'"
    @click="openAside"
  ) Добавить команду
</template>

<script>
import UiInput from '@ui/Input'
import UiSelectFilter from '@ui/SelectFilter'
import {mapState} from 'vuex'

export default {
  components: {
    UiInput,
    UiSelectFilter
  },
  props: {
    mode: {
      type: String,
      required: true,
      validator: function(v) {
        return ['allocated', 'unallocated'].includes(v);
      }
    }
  },
  computed: {
    ...mapState('teamGroup', {
      captain: s=> s.data.filterList.captain,
      city: s=> s.data.filterList.city,
      search: s=> s.data.filterList.search,
      faculty: s=> s.data.filterList.faculty,
      course: s => s.data.filterList.courseStreamId,
      canEdit: s => s.data.settings.canEdit,

      settings: s => s.data.settings,
      captainList: s => s.data.settings.captains.map(item => ({
        value: item.id,
        title: `${item.name} ${item.lastname}`
      })),
      facultyList: s => s.data.settings.faculties.map(item => ({
        value: item.name,
        title: item.name
      })),
      cityList: s => s.data.settings.cities.map(item => ({
        value: item,
        title: item
      })),
      courseList: s => s.data.settings.streams.map(item => ({
        value: item.id,
        title: item.name
      }))
    })
  },
  methods: {
    openAside() {
      this.$store.dispatch('asides/addAside', {
        data: {
          name: 'add-team-group',
          title: 'Добавление команды',
          subtitle: 'Укажите данные новой команды',
          slotClass: '-field-',        },
      })
    },
    setFilter(path, value) {
      this.$store.dispatch('teamGroup/setFilter', {path, value})
    }
  }

}
</script>

<style>

</style>
