<template>
	<ul>
		<li 
			v-for="(tab, index) in tabs"
			class="aside-buttons__item"
			:class="{'-active-': tab.active}"
			@click.prevent="toggleAside(tab), setActive(tab)"
			:key="index"
			ref="tab"
		>
			<svg class="aside-buttons__icon">
				<use :xlink:href="'/game/img/icons.svg#' + tab.icon"></use>
			</svg>
		</li>
	</ul>
</template>
	
<script>
	import {mapState} from 'vuex'

	export default {
		data: () => ({
      tabs: [
				{
					icon: 'book',
					block: 'KnowledgeBase',
					active: false
				},
				{
					icon: 'ruble',
					block: 'Market',
					active: false
				},
				{
					icon: 'user',
					block: 'Referral',
					active: false
				},
			],
		}),
		computed: {
			...mapState('game', {
				isCollapsed: s => s.meta.aside.isCollapsed,
        activeAsideBlock: s => s.meta.aside.block,
      }),
    },
		mounted() {
			this.changeIconColor()
		},
		methods: {
      setActive(tab) {
				this.$store.dispatch('game/activeAsideBlock', tab.block)

				this.changeIconColor()
			},
			changeIconColor() {
				this.tabs.forEach(el => el.active = el.block === this.activeAsideBlock)
			},
			toggleAside(tab) {
				if (!tab.active)
					this.$store.dispatch('game/collapseAside', true)
				else
					this.$store.dispatch('game/collapseAside')
			}
		},
		watch: {
			isCollapsed() {
				this.changeIconColor()
				this.tabs.forEach(el => {
					if (!this.isCollapsed)
						el.active = false
				})
			}
		}
	}
</script>