<template>
  <transition name="fadePreloader">
    <div class="fixed-tooltip" ref="tooltip" :style="coords">
      <div class="fixed-tooltip__container" :class="{'fixed-tooltip__container--right': right}">
        <slot/>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    props: {
      el: {},
      scrollTop: {},
      offsetTop: {
        default: 0
      },
      offsetLeft: {
        default: 0
      },
      right: {
        default: false
      }
    },
    data: () => ({
      coords: {
        top: '',
        left: ''
      },
    }),
    mounted(){
      this.getCoords()
    },
    watch: {
      scrollTop(){
        this.getCoords()
      }
    },
    methods: {
      getCoords(){
        let el = this.el
        let tooltip = this.$refs.tooltip
        let {top, left} = this.getElCoords(el)

        this.coords = {
          top: `${top - tooltip.offsetHeight + this.offsetTop}px`,
          left: `${left + this.offsetLeft}px`
        }

        if(this.right) {
          this.coords = {
            top: `${top - tooltip.offsetHeight + this.offsetTop}px`,
            left: `${left + el.offsetWidth}px`
          }
        }

        if(window.innerWidth < 961)
          this.coords.top = `${top - tooltip.offsetHeight + this.offsetTop - 57}px`

        if(window.innerWidth < 640)
          this.coords.left = `20px`
      },
      getElCoords(elem) {
        let box = elem.getBoundingClientRect();

        return {
          top: box.top,
          left: box.left
        }
      }
    }
  }
</script>