<template lang="pug">
  .ui-kit-drop-aside-image(
    :class="{'-drag-hover-': dragHover}"
    @click.self.prevent
    @drop.prevent="addFile"
    @dragover.prevent
    @dragenter="dragEnter"
    @dragleave="dragLeave"
  )
    template(v-if="!file || (file && !file.id && !file.name)")
      p.ui-kit-drop-aside-image__text
        | {{dragText}}
      label.ui-kit-drop-aside-image__label
        .ui-kit-drop-aside-image__button
          Icon.ui-kit-drop-aside-image__button-icon(icon="ui-blank")
          p {{buttonText}}
        input(
          @change="uploadFile"
          :accept="acceptTypes"
          type="file"
          hidden
          @keyup.esc.prevent=""
        )
    .ui-kit-drop-aside-image__file(v-else="file.size")
      Icon.ui-kit-drop-aside-image__file-remove(
        icon="ui-delete"
        @click="deleteFile"
      )
      .ui-kit-drop-aside-image__file-preview(
        :style="{backgroundImage: `url('`+(fileBase64 || file.url)+`')`}"
        @click="previewFile"
      )
      p.ui-kit-drop-aside-image__file-text(v-if="file.name || file.fileName")
        | {{file.name || file.fileName}}


</template>

<script>
  import {mapActions} from 'vuex'

  export default {
    components: {},
    props: {
      value: {},
      dragText: {
        default: 'Загрузить обложку'
      },
      buttonText: {
        default: 'Загрузить'
      },
      checkImageSize: {},
      imageHeight: {
        default: 0
      },
      imageWidth: {
        default: 0
      },
    },
    data: () => ({
      dragHover: false,
      file: null,
      fileBase64: undefined,
      fileExt: [],
      fileMime: [
        'image/*',
      ]
    }),
    computed: {
      acceptTypes(){
        let extString = this.fileExt.reduce((res, item) => res + item+',', '')
        let mimeString = this.fileMime.reduce((res, item) => res + item+',', '')
        return extString+mimeString
      }
    },
    mounted() {
      if(this.value)
        this.file = _.cloneDeep(this.value)
    },
    watch: {
      value(val) {
        if(typeof val === 'object' && !_.isEqual(val, this.file)) {
          this.fileBase64 = undefined
          this.file = _.cloneDeep(this.value)
        }
      }
    },
    methods: {
      addFile(e) {
        let f = e.dataTransfer.files[0]
        if(!f)
          return

        this.checkFile(f)
      },
      uploadFile(e){
        let f = e.target.files[0]
        if(!f)
          return

        this.checkFile(f)
      },
      async checkFile(f){
        if(f.size > 2097152){
          this.$store.dispatch('ajax/addMessage', {message: 'Размер файла не должен превышать 2Мб', type: 'error'}, {root:true})
          return
        }

        let regexString = f.type
        let fileExt = f.name.match(/\..*$/)
        if(fileExt === null){
          this.$store.dispatch('ajax/addMessage', {message: 'Отсутствует формат файла', type: 'error'}, {root:true})
          return
        }

        if(fileExt)
          regexString += '|'+fileExt[0]

        let regex = new RegExp(regexString)
        let match = this.acceptTypes.match(regex)
        if(match === null && !f.type.includes('image/')) {
          this.$store.dispatch('ajax/addMessage', {message: 'Формат файла не поддерживается', type: 'error'}, {root:true})
          return
        }

        if(this.checkImageSize) {
          let _URL = window.URL || window.webkitURL
          let img = new Image()

          img.src = _URL.createObjectURL(f);
          let image = await new Promise(resolve => {
            img.onload = () => resolve(img)
          })

          if(image && (this.imageWidth !== image.width || this.imageHeight !== image.height)) {
            this.$store.dispatch('ajax/addMessage',
              {message: `Допустимый размеры ${this.imageWidth}x${this.imageHeight}`, type: 'error'},
              {root:true})
            return
          }
        }

        const reader = new FileReader()
        reader.readAsDataURL(f)
        reader.onload = e => {
          this.fileBase64 = e.target.result
        }
        this.file = f
        this.dragHover = false

        this.$emit('input', f)
      },
      dragEnter(){
        this.dragHover = true
      },
      dragLeave(){
        this.dragHover = false
      },
      deleteFile(){
        this.$emit('deleteImage', this.file)
        this.file = null
        this.fileBase64 = undefined
        this.$emit('input', null)
      },
      previewFile() {
        let image = new Image()

        if (!this.file.url) {
          const reader = new FileReader()
          reader.readAsDataURL(this.file)
          reader.onload = e => {
            image.src = e.target.result
          }
        } else
          image.src = this.file.url

        setTimeout(() => { //FireFox seems to require a setTimeout for this to work.
          let w = window.open("about:blank");
          w.document.write(image.outerHTML);
        }, 0);
      }
    }
  }
</script>