<template lang="pug">
span.ui-kit-input(
  :class="[getStatus ? `-${getStatus}-` : '', {'-focus-': focus,}]"
  @focus="$refs.input.focus()"
  @blur="$refs.input.blur()"
  tabindex="0"
)
  span.ui-kit-input__label(v-if="title || popup") {{ title }}
  span.ui-kit-input__field(
    :class="{'-pass-': type === 'password'}"
  )
    Icon.ui-kit-input__icon(
      v-if="icon"
      :icon="icon"
      :class="[iconClass, {'-focus-': focus}]"
    )
    span.ui-kit-input__before(
      v-if="before"
      v-html="before"
    )
    input.ui-kit-input__input(
      :type="type"
      :placeholder="placeholder"
      :value="value"
      :autocomplete="autocomplete"
      @input="$emit('input', $event.target.value)"
      @focus="onFocus"
      @blur="onBlur"
      ref="input"
      :disabled="disabled"
    )
  Popup(v-if="popup"
    :popup="popup"
    :status="getStatus"
  )
</template>

<script>

import Popup from "./Popup"

export default {
  components: {
    Popup,
  },
  props: {
    value: {
      type: [String, Number],
      default: undefined
    },
    title: {
      type: String,
      default: undefined
    },
    placeholder: {
      type: String,
      default: undefined
    },
    icon: {
      type: String,
      default: undefined
    },
    iconClass: {
      type: String,
      default: undefined
    },
    type: {
      type: String,
      default: "text",
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    status: {
      type: String,
      default: ''
    },
    error: {
      type: Boolean,
      default: false
    },
    popup: {
      type: [Object, Function],
      default: undefined
    },
    autocomplete: {
      type: String,
      default: 'new-password',
    },
    before: {
      type: String,
      default: undefined
    },
  },
  data() {
    return {
      focus: false,
      mouseDown: false,
    }
  },
  computed: {
    getStatus() {
      if(this.popup) {
        if(this.popup.error) {
          return 'error'
        } else if(this.popup.status) {
          return this.popup.status
        }
      }

      if(this.error) {
        return 'error'
      } else if(this.status) {
        return this.status
      }
      return ''
    }
  },
  methods: {
    onFocus() {
      this.$emit('focus')
      this.focus = true;
    },
    onBlur() {
      this.$emit('blur')
      this.focus = false;
    },
  }
}
</script>
