<template lang="pug">
label.ui-kit-textarea(
  :class="[getStatus ? `-${getStatus}-` : '', {'-focus-': focus}]"
)
  span.ui-kit-textarea__label(v-if="title") {{ title }}
  span.ui-kit-textarea__field
    Icon.ui-kit-textarea__icon(v-if="icon" :icon="icon")
    textarea.ui-kit-textarea__input(
      :placeholder="placeholder"
      :value="value"
      :style="{height: height + 'px'}"
      @input="$emit('input', $event.target.value)"
      @focus="onFocus"
      @blur="onBlur")
  Popup(v-if="popup" :popup="popup", :status="getStatus")
</template>

<script>

import Popup from "./Popup"

export default {
  components: {
    Popup,
  },
  props: {
    value: {
      type: String,
      default: undefined
    },
    title: {
      type: String,
      default: undefined
    },
    placeholder: {
      type: String,
      default: undefined
    },
    icon: {
      type: String,
      default: undefined
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    height: {
      type: [String, Number],
      default: ''
    },
    status: {
      type: String,
      default: undefined
    },
    popup: {
      type: [Object, Function],
      default: null
    }
  },
  data() {
    return {
      focus: false,
    }
  },
  computed: {
    getStatus() {
      if(this.popup) {
        if(this.popup.error) {
          return 'error'
        } else if(this.popup.status) {
          return this.popup.status
        }
      }

      if(this.error) {
        return 'error'
      } else if(this.status) {
        return this.status
      }
      return ''
    }
  },
  methods: {
    onFocus() {
      this.$emit('focus')
      this.focus = true;
    },
    onBlur() {
      this.$emit('blur')
      this.focus = false;
    },
  },
};
</script>
