<template lang="pug">
  label.select__date
    div.select__date-title
      | {{title}}

    .select__date-container(
      @focusin="focusIn"
      v-click-outside="disableFocus"
    )
      
      .select__date-block(:class="[`-${type}-`]")
        Icon.select__date-calendar(icon="calendar")
        p.select__date-placeholder( v-if="!inputData")
          | {{ placeholder }}
        DatePicker(
          v-model="inputData"
          :popup-class="[`-${type}-`]"
          :editable="false"
          :clearable="false"
          width="100%"
          :input-class="'select__date-input'"
          :lang="lang"
          :range="range"
          range-separator="-"
          :shortcuts="shortcuts"
          :first-day-of-week="1"
          @change="updatePropValue"
          :type="type"
          :format="format"
          :append-to-body="appendToBody"
        )
          template(v-slot:calendar-icon)
            span(style="display:none;")
  
      Icon(
        v-if="showIcon"
        v-show="meta.isFocused"
        class="form-item__delete"
        icon="input-delete"
        @click="clearInput"
      )

</template>

<script>
  import DatePicker from 'vue2-datepicker'
  import vClickOutside from 'v-click-outside'
  import moment from 'moment'

  export default {
    directives: {clickOutside: vClickOutside.directive},
    components: {DatePicker},
    props: {
      value: {},
      title: {},
      error: {},
      placeholder: {},
      inputClass: {},
      inputStyle: {},
      icon: {},
      tooltip: {},
      showTimePanel: {},
      showIcon: {
        default: true
      },
      defaultNow: {},
      appendToBody: {
        default: false
      },
      shortcuts:{
        type: Boolean,
        default: false,
      },
      format: {
        default: 'DD-MM-YY',
      },
      type: {
        type: String,
        default: 'date'
      },
      disabled: {
        default: false
      },
      range:{
        type: Boolean,
        default: false
      },
      moment:{
        default: false
      }
    },
    data: () => ({
      inputData: [],
      meta: {
        isFocused: false
      },
      open: false,
      lang: {
        days: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
        months: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
        pickers: ['следующие неделя', 'следующий месяц', 'предыдушая неделя', 'предыдущий месяц'],
        placeholder: {
          date: '',
          dateRange: ''
        }
      },
    }),
    mounted(){
      setTimeout(() => {
        this.inputData = _.cloneDeep(this.value)
        if(!this.value && this.defaultNow)
          this.inputData = new Date()
      }, 0)
    },
    watch: {
      value(){ 
        if(this.value !== this.inputData)
          this.inputData = this.value
      }
    },
    methods: {
      focusIn(e){
        this.meta.isFocused = true
        this.$emit('focusIn', e)
      },
      clearInput() {
        this.inputData = ''
        this.$emit('input', this.inputData)
      },
      disableFocus(){
        this.meta.isFocused = false
      },
      updatePropValue(){
        if ( Array.isArray( this.inputData) )
        {
          if(!this.moment) {
            let format = 'YYYY-MM-DD'
            this.inputData[0] = moment(this.inputData[0]).format(format)
            this.inputData[1] = moment(this.inputData[1]).format(format)  
          } else {
            this.inputData[0] = moment(this.inputData[0])
            this.inputData[1] = moment(this.inputData[1])
          }
        }
        else
        {
          if(!this.moment) {
            let format = 'YYYY-MM-DD'
            this.inputData = moment(this.inputData).format(format)
          } else {
            this.inputData = moment(this.inputData)
          }
        }
        
        this.$emit('input', this.inputData)
      },
    }
  }
</script>
