<template lang="pug">
  Header
    .rating-header__block
      UiNumberInput.rating-header__item.-s-(
        v-model="dayData.proceeds"
        title="Выручка"
        :placeholder="0"
      )
      UiNumberInput.rating-header__item.-m-(
        v-model="dayData.profit"
        title="Прибыль"
        :placeholder="0"
      )
      UiButton.rating-header__item(
        @click="sendMonthData"
      ) Отправить
    //- .rating-header__block
    //-   UiButton.rating-header__item.-light-(
    //-     to="/rating/hundred"
    //-   ) Рейтинг
</template>

<script>
import Header from '../../../components/Header'
import {mapState} from 'vuex'

export default {
  components: {
    Header,
  },
  data: ()=> ({
    dayData: {
      proceeds: 0,
      profit: 0,
    },
  }),
  computed: {
    ...mapState('ratingHundredUser', {
      userWeekList: s => s.data.userWeekList,
      user: s => s.data.user,
      streamId: s =>s.data.info.streamId
    }),
  },
  methods: {
    getChanelId(id) {
      if (!this.dayData) return
      return this.userWeekList.find(week => week.channelId === id).id
    },
    async sendMonthData() {
      let data = [
        {
          id: this.user.id,
          streamId: this.streamId,
          channelId: 0,
          profit: this.dayData.proceeds
        },
        {
          id: this.user.id,
          streamId: this.streamId,
          channelId: 1,
          profit: this.dayData.profit
        },
      ]
      let status = await this.$store.dispatch('ratingHundredUser/userEdit', data)
      if(status === 'success') {
        this.dayData.proceeds = 0;
        this.dayData.profit = 0;
      }

    },
  }

}
</script>

<style>

</style>