<template lang="pug">
  .aside__subblock
    .aside__list
        .aside__item.-full-
          Input(
            title="Название"
            placeholder="Название команды"
            :error="$v.$dirty && !$v.name"
            v-model="name"
          )
            span.form-item__error(v-if="$v.$dirty && !$v.name")
              | Обязательное поле

        .aside__item.-full-
          SelectIds.aside__select(
            title="Курс"
            placeholder="Выберите курс"
            v-model="course"
            :error="$v.dirty && !$v.course"
          )
        .aside__item.-full-
          SelectGroups.aside__select(
            title="Группа"
            :disabledByCourse="disabledByCourse"
            placeholder="Выберите группу"
            v-model="group"
            :error="$v.dirty && !$v.group"
          )

</template>

<script>
  import SelectIds from './SelectIds'
  import SelectGroups from './SelectGroups'
  import {mapState, mapActions} from 'vuex'
  import {required} from 'vuelidate/lib/validators'

  export default {
    components: { SelectIds,SelectGroups},
    data (){
      return { 
        team: {},
        name:{},
        course:{},
        group:{},
        disabledByCourse: false
      }
    }, 
    watch:{
      course(val){
        if(val && Object.values(val).length >= 1)
          this.disabledByCourse = val;
        else {
          this.disabledByCourse = false;
          this.group = ''
        }
        this.compare();
      },
      name(val){
        this.compare();
      },
      group(val){
        this.compare();
      },
    },
    computed: {
      ...mapState('usersTeam', {
        localTeam:s => s.aside.data.team,
        teamFolders: s => s.data.folders
      }),
    ...mapState('usersGroups', {
        folders: s => s.data.folders,
      }),
      getGroupsForTeam(){
        let findItem = {}
        let data = _.cloneDeep(this.teamFolders)
        for(let i = 0; i< data.length; i++){
          let elem = data[i].folder.courses;  

          if(Array.isArray(elem)){
            findItem = elem.filter(el=> el.teams.some(element => element.id === this.localTeam.id))[0]
            if(findItem)
              break;
          }         
        }

        return findItem
      },
    },
    mounted() {
      this.setData();
      this.getGroups();
      this.$store.dispatch('usersTeam/setAsideMeta', {path: 'canSave', value: false})
      this.course = this.getGroupsForTeam
      this.group = this.localTeam.group
    },
    methods: {
      ...mapActions('usersGroups',[
        'getGroups'
      ]),
      setData() {
        this.team = _.cloneDeep(this.localTeam);
        this.name = this.team.name
        if(this.course && this.course.id)
          this.team.course = this.course.id
        if(this.group && this.group.id)
          this.team.groupId = this.group.id
        
      },
      compare() {
        this.$store.dispatch('usersTeam/setAsideMeta', {path: 'canSave', value: false})

        if (this.$v.$invalid) {
          this.$v.$touch();
          return
        }
        this.groupBackup = _.cloneDeep(this.team);
        
        if(this.course && this.course.id)
          this.team.course = this.course.id
        if(this.name)
          this.team.name = this.name
        if(this.group && this.group.id)
          this.team.groupId = this.group.id
        
        let formHasChanges = this.team.groupId !== this.groupBackup.groupId || this.team.course !== this.groupBackup.course || this.team.name !== this.groupBackup.name 

        if (formHasChanges){
          this.$store.dispatch('usersTeam/setAsideMeta', {path: 'canSave', value: formHasChanges})
          this.$store.dispatch('usersTeam/setAsideData', {path: 'team', value: this.team})
        }
      },
    },
    validations: {
      name:{required},
      course:{required},
      group:{required}    
    },
    destroyed() {
      this.$store.dispatch('usersTeam/setAsideData', {path: 'team', value: {}})
      this.$store.dispatch('usersTeam/setAsideMeta', {path: 'canSave', value: false})
    }
  }
</script>