<template lang="pug">
  MainAsideRightHead(
      :title="team.id ? 'Редактировать ' : 'Добавить команду'"
      storePath="usersTeam"
      :canSave="canSave"
      :optionsVisible="false"
      :saveText="team.id ? 'Сохранить' : 'Добавить'"
      @save="save"
    )

</template>

<script>
  import MainAsideRightHead from '@lms/components/MainAsideRight/MainAsideRightHead'
  import {mapState} from 'vuex'

  export default {
    components: {MainAsideRightHead},
    computed: {
      ...mapState('usersTeam', {
        canSave: s => s.aside.meta.canSave,
        team: s => s.aside.data.team,
      })
    },
    methods: {
      save(){
        if(!this.canSave) return

        if(this.team.id)
          this.$store.dispatch('usersTeam/editTeam')
        else
          this.$store.dispatch('usersTeam/addTeam')
        this.closeAside()
      },
      closeAside(){
        this.$store.dispatch('usersTeam/setAsideMeta', {path: 'forceClose', value: true})
      }
    }
  }
</script>