<template lang="pug">
  .club-user
    .club-user__card
      .club-user__info(v-if="isLoading || !user")
        .ajax__line.-round-(
          v-for="n in 3"
          :style="{height: '293px', width: '100%'}"
        )
      BaseInfo(v-else-if="user" :user="user" :isOwner="isOwner", :authUser="isOwner ? authUser : null" :photos="photos")
      .club-user__traction(v-if="isLoadingTractionData || !user")
        .ajax__line.-round-(
          v-for="n in 2"
          :style="{height: '348px', width: '100%'}"
        )
      .club-user__traction(v-else @click="toTraction()" :class="{'-pointer-': parseInt(authUser.id) === parseInt(userId)}")
        .club-user__block
          MetricsChart.speed-hundred-user-card(
            :chart-meta="earningsChartMeta"
            :traction-data="ratingData"
            :metrics-key="'2'"
            :style="{ zIndex: 'unset' }"
          )
        .club-user__block
          MetricsChart.speed-hundred-user-card(
            :chart-meta="profitChartMeta"
            :traction-data="ratingData"
            :metrics-key="'1'"
            :style="{ zIndex: 'unset' }"
          )
      .club-user__hypothesis(v-if="isLoadingHypothesis")
        .club-user__hypothesis-header
          .club-user__block-title Мои гипотезы
        .ajax__line.-round-(
          :style="{height: '120px', width: '100%'}"
        )
      .club-user__hypothesis(v-else)
        .club-user__hypothesis-header
          .club-user__block-title Мои гипотезы
          .club-user__hypothesis-add.-pointer-(v-if="isOwner" @click="openAside()")
            Icon(icon="ui-plus")
        .club-user__hypothesis-empty(v-if="hypothesis.length === 0")
          Icon.club-user__hypothesis-icon(icon="light-club")
          p(v-if="isOwner") Вы еще не добавили гипотезы
          p(v-else) Пользователь еще не добавил гипотезы
        .club-user__hypothesis-blocks-list(v-else)
          .club-user__hypothesis-block(
            v-for="item in hypothesis" :key="item.id" @click="openHypothesis(item.id)"
            :class="{'-pointer-': item.actions.length}"
          )
            .club-user__hypothesis-tag(
              :class="getTagClass(item)"
            ) {{ item.category }}
            .club-user__hypothesis-text {{ getText(item.text) }}
            .club-user__hypothesis-actions(v-if="item.id === openedHypothesis")
              .club-user__hypothesis-actions-item(v-for="(action, key) in item.actions" :key="key" v-if="action.action.length" )
                .club-user__hypothesis-actions-success(:class="{'-active-': action.completed}")
                .club-user__hypothesis-actions-text {{ action.action }}
      HypothesisAside(
        @saved="afterSaveHypo"
      )
</template>

<script>
import {mapActions, mapState} from 'vuex'
import BaseInfo from './components/BaseInfo.vue'
import HypothesisAside from '@lms/components/Hypothesis/HypothesisAside'
import MetricsChart from "../../Rating/Unified/User/components/MetricsChart";

export default {
  components: {
    MetricsChart,
    BaseInfo,
    HypothesisAside
  },
  data() {
    return{
      userId: null,
      openedHypothesis: null,
      addedHypothesis: [],
      earningsChartMeta: {
        title: 'Выручка',
        titleMeasurement: '₽',
        dynamicsTitle: 'Динамика выручки',
        dynamics: 10000,
        dynamicsMeasurement: '₽',
        icon: 'icon-squared-wallet'
      },
      profitChartMeta: {
        title: 'Прибыль',
        titleMeasurement: '₽',
        dynamicsTitle: 'Динамика прибыли',
        dynamics: 10000,
        dynamicsMeasurement: '₽',
        icon: 'icon-squared-moneybag'
      }
    }
  },
  computed: {
    ...mapState('auth', {
      authUser: s => s.data.user,
    }),
    ...mapState('club', {
      isLoading: s => s.meta.isLoading,
      isLoadingHypothesis: s => s.meta.isLoadingHypothesis,
      user: s => s.data.user,
      hypothesis: s => s.data.hypothesis,
      ratingData: s => s.data.ratingData,
      photos: s => s.data.photos
    }),
    ...mapState('ratingHundredSpeedUser', {
      ratingData: s => s.data.tractionData,
      isLoadingTractionData: s => s.meta.isLoadingTractionData
    }),
    isOwner() {
      return parseInt(this.userId) === this.authUser.id
    }
  },
  watch: {
    // При переходе из одной карточки по роуту в другую нужно обновить данные в компоненте
    '$route'() {
      this.storeCleanup()
      this.initData()
    }
  },
  created() {
    this.initData()
  },
  beforeDestroy() {
    this.storeCleanup()
  },
  methods: {
    ...mapActions('auth', [
        'getUserBusinessTypes',
        'getUserInfo',
    ]),
    ...mapActions('club', [
        'getUser',
        'getPhotos',
        'getHypothesis',
        'setMeta',
        'setData',
    ]),
    ...mapActions('hypothesis', [
      'setAsideMeta'
    ]),
    ...mapActions('ratingHundredSpeedUser', [
      'getTractionData',
      'storeCleanup',
    ]),
    async initData() {
      this.setMeta({path: 'isLoading', value: true })
      this.setMeta({path: 'isLoadingHypothesis', value: true })
      this.$store.dispatch('ratingHundredSpeedUser/setMeta', {path: 'isLoadingTractionData', value: true })

      await this.checkUserEdit()

      this.getPhotos(this.userId)
      this.getUserBusinessTypes()
      await this.getTractionData(this.userId)

      await this.getUser(this.userId)
      await this.getHypothesis(this.user.erpUserId)
    },
    async checkUserEdit() {
      await this.getUserInfo()
      if (this.$route.params.userId) {
        this.userId = this.$route.params.userId
      } else {
        this.userId = this.authUser.id
      }
    },
    toTraction() {
      if(this.isOwner) {
        this.$router.push('/rating/unified/user/' + this.userId)
      }
    },
    getText(text, size = 200) {
      if(text.length <= size) {
        return text
      }
      return text.substring(0, size - 3) + '...'
    },
    getTagClass(item) {
      return {
        '-green-': item.category === 'Анализ ниши',
        '-blue-': item.category === 'Анализ конкурентов' || item.category === 'Команда',
        '-purple-': item.category === 'Продажи' || item.category === 'MVP' || item.category === 'Трафик'
      }
    },
    openHypothesis(id) {
      if (id === this.openedHypothesis) {
        this.openedHypothesis = null
      } else {
        this.openedHypothesis = id
      }
    },
    openAside() {
      this.setAsideMeta({path: 'isOpen', value: true })
    },
    afterSaveHypo({name, category, actions}) {
      this.setData({path: 'hypothesis', value: [...this.hypothesis, {text:name, category, actions}]})
    }
  },
}
</script>
