<template>
  <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="14" cy="14" r="13.75" fill="#EFF1F8" stroke="#6979F8" stroke-width="0.5"/>
    <circle cx="14" cy="14" r="12" fill="#6979F8"/>
    <g clip-path="url(#progress-flag)">
      <path d="M11.5309 18.9913L11.715 18.9398C11.8921 18.8904 11.9955 18.7067 11.946 18.5296L9.84112 10.997C9.81142 10.8907 9.74071 10.8006 9.64454 10.7464C9.54836 10.6923 9.43461 10.6785 9.32831 10.7082L9.30454 10.7149C9.08316 10.7767 8.95384 11.0063 9.01569 11.2277L11.1206 18.7602C11.1701 18.9373 11.3538 19.0408 11.5309 18.9913Z" fill="white"/>
      <path d="M18.9433 13.7275C18.2758 13.3947 17.6583 12.9698 17.1088 12.4654C17.0626 12.4232 17.0446 12.3583 17.0623 12.2982C17.3345 11.2682 17.5367 10.221 17.6675 9.16371C17.6881 8.98785 17.5933 8.93612 17.4933 9.05681C15.5312 11.4034 12.1364 8.6275 10.1157 10.7603C10.14 10.8057 10.1591 10.8537 10.1726 10.9034L11.5381 15.793C13.5623 13.6861 16.945 16.4447 18.9037 14.1034C19.0037 13.9827 19.0226 13.762 18.9433 13.7275Z" fill="white"/>
    </g>
    <defs>
    <clipPath id="progress-flag">
      <rect width="10" height="10" fill="white" transform="translate(9 9)"/>
    </clipPath>
    </defs>
  </svg>

</template>

<script>
export default {

}
</script>

<style>

</style>