<template lang="pug">
  .menu__subblock(style="padding-bottom: 5px;")
    p.nav__text(style="white-space: normal;")
      | Курс: {{course.name}}
    p.nav__text
      | Баллы: {{points}}

    //transition(name="fadePreloader" mode="out-in")
      ul.menu-links
        li.menu-links__item(
          v-for="(lesson, idx) in activeLessons" :key="lesson.id"
          @click="closeMenu"
        )
          router-link.menu__link(
            //:disabled="lesson.disabled"
            //:to="`/courses/lesson/${lesson.id}`"
            active-class="-active-"
            exact
          )
            .menu__link-num
              span(v-for="letter in ''+(idx+1)")
                | {{letter}}

            span.menu__link-text {{lesson.name}}

</template>

<script>
  import {mapState} from 'vuex'
  import moment from 'moment-timezone';
  moment.locale('ru');

  export default {
    props: ['lessons', 'course'],
    data: () => ({
    }),
    computed: {
      ...mapState('lms', {
        points: s => s.menu.data.points
      }),
      activeLessons(){
        let currentDate = new Date();
        let now = moment.tz(currentDate, 'Europe/Moscow');
        
        return this.lessons.filter(l => {
          
          let beforeStart = false
          if(l.dateOfStart) {
            let dateOfStart = moment.tz(l.dateOfStart, 'Europe/Moscow');
            beforeStart = now.format() < dateOfStart.format()
          }
          return !l.isHidden && !beforeStart
        })
      }
    },
    methods: {
      setItemProp(idx, findProp) {
        let currentEl = this.chapterList.find(el => el.positionInMenu === idx);

        if (currentEl) {
          return currentEl[findProp]
        } else {
          if (findProp === 'uri')
            return '/'
          else if (findProp === 'name')
            return this.defaultChapters[idx-1]
          else if (findProp === 'disabled')
            return true
        }

      },
      closeMenu() {
        if(window.innerWidth < 481)
          this.$store.dispatch( 'lms/toggleMenu', false )
      },
    },
  }
</script>