<template lang='pug'>
		
  .main-block
    .table.-users-group-users-table-
      .table__header
        .table__header-inner
          p.table__title Список пользователей
          
          SearchFilter(
            contacts="true"
            storePath="usersGroupsUsers"
          )
          .table__buttons(v-if="$permissionsCreate")
            Button.-s-(@click="openAside")
              | Добавить пользователя
              
      .table__body
        .table__body-block
          .table__nav
            ul.table__nav-list
              li.table__col
                p.table__col-title
                  | ФИО
              li.table__col
                p.table__col-title
                  | Город
              li.table__col
                p.table__col-title
                  | Email
              li.table__col
                p.table__col-title
                  | Телефон
              li.table__col
                p.table__col-title
                  | Соц. сети
              li.table__col
                p.table__col-title
                  | Ниша
              li.table__col
                p.table__col-title
                  | Прибыль в неделю
              li.table__col
                p.table__col-title
                  | Добавлен
              li.table__col
                p.table__col-title
                  | &nbsp;

          .table__content
            template(v-if="gettingUsers")
              SkeletonRow(
                v-for="i in 5" :key="i"
                :colsAmount="8"
              )
            PageScroll(v-else
              :isLoading="isAddingPage"
              @incrementPage="addingPage"
              :data="users"
            )
              TableRow(
                v-for="user in users" :key="user.id"
                :user="user"
              )
              SkeletonRow(
                v-if="isAddingPage"
                :colsAmount="8"
              )

		
</template>
	
<script>
  import TableRow from './components/Row'
  import SkeletonRow from './components/SkeletonRow'
  import replaceRouteQuery from "@lms/functions/replaceMultipleRouteQuery"
	import {mapState, mapActions} from 'vuex'
  import getPermissionGroups from "@lms/constants/permissions/getPermissionGropus";
	
	export default {
		components: {TableRow, SkeletonRow},
    computed: {
      ...mapState('usersGroupsUsers', {
        users: s => s.data.users,
        gettingUsers: s => s.meta.gettingUsers,
        isAddingPage: s => s.meta.isAddingPage
      }),
      ...mapState('auth',{
        $permissions: s => s.data.user.permissions.userGroupModuleAdmin,
        isAdmin: s => s.data.user.permissions.isAdmin
      }),
      optionsFields(){
        let arr = []
        if(this.$permissionsUpdate)
          arr.push(this.options[0])
        if(this.$permissionsCreate)
          arr.push(this.options[1])
        if(this.$permissionsDelete)
          arr.push(this.options[2])

        return arr
      },
    },
		methods: {
			...mapActions('usersGroupsUsers', [
				'getCourse',
				'setAsideMeta',
        'setAsideData',
        'addPage'
			]),
			openAside() {
				this.setAsideData(
				  {
            path: 'group',
            value: {
              name: '',
              courses: [],
              courseFolders: [],
              permissions: {
                isAdmin: false,
                ...getPermissionGroups()
              }
            }
          }
        )
				this.setAsideMeta({path: 'isOpen', value: true})
      },
      addingPage(page){
        this.addPage(page)
        replaceRouteQuery([{value:page, name:'page',methods:'replace'}])
      }
		}
		
	}
</script>