<template lang="pug">
  .questionnaire
    .questionnaire__substrate-wrap
      .questionnaire__substrate
        .questionnaire-question.questionnaire-content

          Icon.questionnaire__icon-back(
            v-if="history.length"
            icon="ui-arrow-left"
            @click="comeBack"
          )
          .questionnaire-content__block
            p.questionnaire__title.-min-margin- 
              | По результатам твоих ответов
              | мы рекомендуем тебе курс 
              span(
                v-if="!loadingRecommendedCourse"
              )
                | {{recommendedCourse}}
              span.ajax__line.-round-(
                v-else
                :style="{height: 'calc(.6em)', width: '80px', display: 'inline-block'}" 
              )
            p.questionnaire__description 
              | Ты можешь выбрать курс по своему желанию
              | или прислушаться к нашей рекомендации
          .questionnaire-content__block
            p.questionnaire-content__title Выбери курс
          .questionnaire-question-grid.-one-.questionnaire__limiter
            UiButton.-blue-gray-(
              :class="{'-active-': this.selectedCourse === 'speed'}"
              @click="setCourse('speed')"
            ) Скорость Клуб
            UiButton.-blue-gray-(
              :class="{'-active-': this.selectedCourse === 'hundred'}"
              @click="setCourse('hundred')"
            ) Сотка
          UiButton(
            :disabled="!selectedCourse"
            @click="sendCourse"

          ) Продолжить
        
        Choice.questionnaire__substrate-img

</template>

<script>
import {mapState} from 'vuex'
import Choice from '../components/iconList/Choice'
export default {
  components: {
    Choice,
  },
  computed: {
    ...mapState('questionnaire', {
      history: s => s.data.history,
    }),
    recommendedCourseName() {
      switch(this.recommendedCourse) {
        case 'Скорость Клуб':
          return 'speed'
        case 'Сотка':
          return 'hundred'
      }
    }
  },
  data: ()=>({
    selectedCourse: null,
    recommendedCourse: null,
    loadingRecommendedCourse: false,
  }),
  mounted() {
    this.getRecommendedCourse()
  },
  methods: {
    setCourse(course) {
      this.selectedCourse = course
    },
    async sendCourse() {
      let res = await this.$store.dispatch('questionnaire/setCourse', {course: this.selectedCourse})
      if(res.status === 'success')
        this.$router.push('/questionnaire/telegram')
    },
    comeBack() {
      this.$router.push('/questionnaire')
    },
    async getRecommendedCourse() {
      this.loadingRecommendedCourse = true
      let res = await this.$store.dispatch('questionnaire/getRecommendedCourse')
      if(res.status === 'success') {
        this.recommendedCourse = res.data.course
        if(!this.selectedCourse)
          this.selectedCourse = this.recommendedCourseName
      }
      this.loadingRecommendedCourse = false
    },
  },
}
</script>

<style>

</style>
