<template lang="pug">
.club-user__info
  .club-user__block(v-if="profileEdit && isOwner")
    .club-user__edit-save.-mr-(@click="updateUser()")
      | Сохранить
    .club-user__avatar
      .club-user__avatar-border
        img(:src="avatar ? avatar : stagedUser.avatar" v-if="avatar || stagedUser.avatar")
        .club-user__avatar-icon(v-else)
          Icon(icon="user-unknown" fill="#E8E8EE")
    .club-user__name(v-if="!editName")
      | {{ stagedUser.name }} {{ stagedUser.lastname }}

    //name
    div(v-if="editName")
      .club-user__input-title Имя
      UiInput.club-user__input(
        placeholder="Укажи имя"
        v-model="stagedUser.name"
      )
      .club-user__input-title Фамилия
      UiInput.club-user__input(
        placeholder="Укажи имя"
        v-model="stagedUser.lastname"
      )
      .club-user__input-title Отчество
      UiInput.club-user__input(
        placeholder="Укажи имя"
        v-model="stagedUser.patronymic"
      )


    //age
    div(v-if="editAge")
      .club-user__input-title Дата рождения
      UiDateInput.club-user__input(
        v-model="stagedUser.dateOfBirth"
      )
    //social
    div(v-if="editTelegram")
      .club-user__input-title Ссылка на аккаунт в Telegram
      UiInput.club-user__input(
        placeholder="t.me/"
        v-model="stagedUser.telegram"
      )
    div(v-if="editInst")
      .club-user__input-title Ссылка на аккаунт в Instagram
      UiInput.club-user__input(
        placeholder="instagram.com/"
        v-model="stagedUser.instaLink"
      )
    div(v-if="editFb")
      .club-user__input-title Ссылка на аккаунт в Facebook
      UiInput.club-user__input(
        placeholder="fb.com/"
        v-model="stagedUser.fbLink"
      )
    div(v-if="editVk")
      .club-user__input-title Ссылка на аккаунт ВКонтакте
      UiInput.club-user__input(
        placeholder="vk.com/"
        v-model="stagedUser.vkLink"
      )


    //city
    div(v-if="editCity")
      .club-user__input-title Местоположение
      UiCityInput.club-user__input-city(
        placeholder="Укажи местоположение"
        :show-title="false"
        v-model="stagedUser.city"
      )


  .club-user__block(v-else)
    .club-user__avatar
      .club-user__avatar-border
        img(:src="avatar ? avatar : stagedUser.avatar" v-if="avatar || stagedUser.avatar")
        .club-user__avatar-icon(v-else)
          Icon(icon="user-unknown" fill="#E8E8EE")
      UiFile(
        @getFiles="uploadAvatar"
        :dataName="'avatar'"
        :onlyImages="true"
        :isCustom="true"
        v-if="isOwner"
      )
        .club-user__avatar-update.-pointer-
          icon(icon="ui-camera" fill="#6979F8")
    .club-user__name
      | {{ stagedUser.name }} {{ stagedUser.lastname }}
      .club-user__edit-icon(v-if="isOwner" @click="editName = true")
        Icon(icon="ui-pencil")
    .club-user__city(:class="{'-pointer-': isOwner}")
      Icon(icon="maps-and-flags" fill="#76767B")
      span(@click="isOwner ? editCity = true : false")
        span(v-if="stagedUser.city") {{ stagedUser.city }}
        span(v-else-if="isOwner" style="color: #6979F8") Указать Город
      span(@click="isOwner ? editAge = true : false")
        span(v-if="user.age && user.age > 0") {{ user.age && user.age > 0 ? ', ' + user.age + ' ' + this.declOfNum(user.age, ['год', 'года', 'лет']) : ''}}
        span(v-else-if="isOwner" style="padding-left: 10px; color: #6979F8") Указать возраст
    .club-user__social
      a.club-user__social-icon.-tg-(
        v-if="stagedUser.telegram || isOwner"
        @click="setLink(stagedUser.telegram, 'editTelegram')"
        :class="{'-inactive-': !stagedUser.telegram}"
        target="_blank"
      )
        Icon(icon="tg-icon")
      a.club-user__social-icon.-ig-(
        v-if="stagedUser.instaLink || isOwner"
        @click="setLink(stagedUser.instaLink, 'editInst')"
        :class="{'-inactive-': !stagedUser.instaLink}"
        target="_blank"
      )
        Icon(icon="insta-icon")
      a.club-user__social-icon.-fb-(
        v-if="stagedUser.fbLink || isOwner"
        @click="setLink(stagedUser.fbLink, 'editFb')"
        :class="{'-inactive-': !stagedUser.fbLink}"
        target="_blank"
      )
        Icon(icon="fb-icon")
      a.club-user__social-icon.-vk-(
        v-if="stagedUser.vkLink || isOwner"
        @click="setLink(stagedUser.vkLink, 'editVk')"
        :class="{'-inactive-': !stagedUser.vkLink}"
        target="_blank"
      )
        Icon(icon="vk-icon")
  .club-user__block
    .club-user__block-title О бизнесе
      .club-user__edit-icon(v-if="isOwner && !editBusiness" @click="editBusiness = true")
        Icon(icon="ui-pencil")
      .club-user__edit-save(v-else-if="isOwner" @click="updateUser()")
        | Сохранить
    .club-user__business(v-if="!editBusiness")
      .club-list__card-scope
        .club-list__card-scope-image
          Icon(icon="case-square-blue")
        .club-list__card-scope-text
          .club-list__card-scope-title Сфера
          .club-list__card-scope-val(
            v-tooltip="businessCategoryName && businessCategoryName.length > 24 ? businessCategoryName : null"
          )
            span(v-if="businessCategoryName") {{ getText(businessCategoryName, 24) }}
            span(v-else style="color: #76767B") Не указано
      .club-list__card-scope
        .club-list__card-scope-image
          Icon(icon="case-square-purple")
        .club-list__card-scope-text
          .club-list__card-scope-title Ниша
          .club-list__card-scope-val(
            v-tooltip="stagedUser.niche.length > 24 ? stagedUser.niche : null"
          )
            span(v-if="stagedUser.niche") {{ getText(stagedUser.niche, 24) }}
            span(v-else style="color: #76767B") Не указано
      .club-user__company
        .club-user__company-title Компания
        .club-user__company-name
          span(v-if="stagedUser.company") {{ stagedUser.company }}
          span(v-else style="color: #76767B") Не указано
    .club-user__business(v-else)
      .club-user__input-title Сфера
      UiSelect.club-user__input(
        placeholder="Укажи сферу"
        :option="businessOption"
        v-model="stagedUser.businessCategoryId"
      )
      .club-user__input-title Ниша
      UiInput.club-user__input(
        placeholder="Укажи нишу"
        v-model="stagedUser.niche"
      )
      .club-user__input-title Компания
      UiInput.club-user__input(
        placeholder="Укажи название компании"
        v-model="stagedUser.company"
      )
  .club-user__block
    .club-user__block-title
      | Фото бизнеса
      UiFile.club-user__block-button(
        @getFiles="uploadPhoto"
        :dataName="'image'"
        :onlyImages="true"
        :isCustom="true"
        v-if="isOwner && (!photos || photos.length <= 3)"
      )
        .ui-kit-button.-gray-.-smart-.-primary- Добавить фото
    .club-user__photos
      .club-user__photos-item(v-for="n in 3" :class="{'-first-': n === 1}")
        .club-user__photos-placeholder(v-if="!photos[n]")
          Icon(icon="ui-photo")
        .club-user__photos-image(v-else)
          img(:src="photos[n].publicPath")
          .club-user__photos-delete(v-if="isOwner")
            Icon(icon="trash" @click="deletePhoto(photos[n].id)")

</template>

<script>
import {mapActions, mapState} from "vuex";
import UiCityInput from "@lms/components/UiKit/CityInput";

export default {
  components: { UiCityInput },
  props: {
    user: {
      type: Object,
      required: true
    },
    authUser: {
      type: Object,
      default: null
    },
    isOwner: {
      type: Boolean,
      default: false
    },
    photos: {
      type: Array,
      default: null
    }
  },
  data () {
    return {
      avatar: null,
      stagedUser: {},
      editBusiness: false,
      editName: false,
      editCity: false,
      editAge: false,
      editTelegram: false,
      editInst: false,
      editFb: false,
      editVk: false,
    }
  },
  computed: {
    ...mapState('auth', {
      businessTypes: s => s.data.businessTypes,
    }),
    profileEdit() {
      return this.editName || this.editCity || this.editAge || this.editTelegram || this.editInst || this.editFb || this.editVk
    },
    businessOption() {
      return this.businessTypes.map(item => {
        return {
          title: item.text,
          value: item.id,
        }
      })
    },
    businessCategoryName() {
      let option = this.businessOption.find(item => {
        return item.value === this.stagedUser.businessCategoryId
      })

      return option?.title ?? ''
    }
  },
  watch: {
    // При переходе из одной карточки по роуту в другую нужно обновить данные в компоненте
    user() {
      this.copyToStage()
    }
  },
  beforeMount() {
    this.copyToStage()
  },
  methods: {
    ...mapActions('settingStore', [
      'settingLoadAvatar',
      'settingSavePhoto',
      'setData',
      'settingUpdate',
      'settingDeletePhoto'
    ]),
    ...mapActions('club', [
      'getUser',
      'getPhotos',
      'sendEvent',
    ]),
    copyToStage() {
      if (this.isOwner) {
        this.sendEvent('view_club_profile')
        this.stagedUser = _.cloneDeep(this.authUser)
      } else {
        this.stagedUser = _.cloneDeep(this.user)
      }
    },
    getText(text, size = 20) {
      text = text.charAt(0).toUpperCase() + text.slice(1).toLowerCase()
      if(text.length <= size) {
        return text
      }
      return text.substring(0, size - 3) + '...'
    },
    declOfNum(number, titles) {
      const cases = [2, 0, 1, 1, 1, 2];
      return titles[ (number%100>4 && number%100<20)? 2 : cases[(number%10<5)?number%10:5] ];
    },
    setLink(link, edit) {
      if (this.isOwner) {
        this[edit] = true
      } else if (link) {
        link = link.split('/')
        link = link[link.length - 1]
        switch (edit) {
          case 'editTelegram':
            link = 'https://t.me/' + link
            break
          case 'editInst':
            link = 'https://instagram.com/' + link
            break
          case 'editFb':
            link = 'https://fb.com/' + link
            break
          case 'editVk':
            link = 'https://vk.com/' + link
            break
        }

        window.open(link, '_blank').focus();
      }
    },
    uploadAvatar({formData}) {
      try {
        if (!this.stagedUser.avatar) {
          this.sendEvent('upload_club_avatar')
        }
        const reader = new FileReader()
        reader.readAsDataURL(formData.get("avatar"))
        reader.onload = e => {
          this.avatar = e.target.result
        }
        this.settingLoadAvatar(formData)
      } catch (e) {}
    },
    async uploadPhoto({formData}) {
      try {
        if (this.photos.length === 0) {
          this.sendEvent('upload_business_photo')
        }
        const reader = new FileReader()
        reader.readAsDataURL(formData.get("image"))
        await this.settingSavePhoto(formData)
        await this.getUser(this.stagedUser.id)
        await this.getPhotos(this.stagedUser.id)
      } catch (e) {
        console.log(e)
      }
    },
    async deletePhoto(id) {
      try {
        await this.settingDeletePhoto(id)
        await this.getUser(this.stagedUser.id)
        await this.getPhotos(this.stagedUser.id)
      } catch (e) {
        console.log(e)
      }
    },
    async updateUser() {
      this.editBusiness = false
      this.editName = false
      this.editCity = false
      this.editAge = false
      this.editTelegram = false
      this.editInst = false
      this.editFb = false
      this.editVk = false
      this.editBusiness = false

      if (this.isOwner) {
        this.sendChangeEvents()
        await this.setData({path: 'stagedUserMain', value: this.stagedUser})
        await this.settingUpdate({type: 'main'})
      }
    },
    async sendChangeEvents() {
      if (this.stagedUser.telegram !== this.authUser.telegram) {
        this.sendEvent('upload_telegram')
      }
      if (this.stagedUser.instaLink !== this.authUser.instaLink) {
        this.sendEvent('upload_instagram')
      }
      if (this.stagedUser.fbLink !== this.authUser.fbLink) {
        this.sendEvent('upload_fb')
      }
      if (this.stagedUser.vkLink !== this.authUser.vkLink) {
        this.sendEvent('upload_vk')
      }
      if (this.stagedUser.businessCategoryId !== this.authUser.businessCategoryId) {
        this.sendEvent('upload_business_sphere')
      }
      if (this.stagedUser.niche !== this.authUser.niche) {
        this.sendEvent('upload_business_niche')
      }
      if (this.stagedUser.company !== this.authUser.company) {
        this.sendEvent('upload_company_name')
      }
    }
  },
}
</script>

<style scoped>

</style>
