<template lang="pug">
  .settings
    .settings__content
      .profile-edit
        .profile-edit__container.-password-
          .profile-edit__row
            .profile-edit__col
              .profile-edit__field
                UiInput.profile-edit__input(
                  type="password"
                  title='Текущий пароль'
                  placeholder='Введите текущий пароль'
                  v-model.trim="user.currentPassword"
                  :popup="validPopup(!$v.user.currentPassword.required, 'Не забудьте заполнить это поле :)') || validPopup(!$v.user.currentPassword.isTrue, 'Неверный пароль')"
                )
              .profile-edit__field
                UiInput.profile-edit__input(
                  type="password"
                  title='Повтор пароля'
                  placeholder='Введите текущий пароль еще раз'
                  v-model.trim="user.currentPasswordRepeat"
                  :popup="validPopup(!$v.user.currentPasswordRepeat.required, 'Не забудьте заполнить это поле :)') || validPopup(!$v.user.currentPasswordRepeat.equal, 'Пароли не совпадают')"
                )
            .profile-edit__col
              .profile-edit__field
                UiInput.profile-edit__input(
                  type="password"
                  title='Новый пароль'
                  placeholder='Введите новый пароль'
                  v-model.trim="user.newPassword"
                  :popup="validPopup(!$v.user.newPassword.required, 'Не забудьте заполнить это поле :)') || validPopup(!$v.user.newPassword.minLength, `Минимальная длина пароля ${$v.user.newPassword.$params.minLength.min} символов`)"
                )
              .profile-edit__field
                UiInput.profile-edit__input(
                  type="password"
                  title='Повтор нового пароля'
                  placeholder='Введите новый пароль еще раз'
                  v-model.trim="user.newPasswordRepeat"
                  :popup="validPopup(!$v.user.newPasswordRepeat.required, 'Не забудьте заполнить это поле :)') || validPopup(!$v.user.newPasswordRepeat.minLength, `Минимальная длина пароля ${$v.user.newPasswordRepeat.$params.minLength.min} символов`) || validPopup(!$v.user.newPasswordRepeat.equal, 'Пароли не совпадают')"
                )
        .profile-edit__row.-password-
          .profile-edit__col
            uiButton.profile-edit__button(to="/resetpassword" color="light" @click="forgotPassword") Не помню пароль
          .profile-edit__col
            uiButton.profile-edit__button(@click="updatePassword") Изменить пароль

</template>

<script>
import {required, email, minLength} from 'vuelidate/lib/validators';

export default {
  data() {
    return {
      user: {
        currentPassword: '',
        currentPasswordRepeat: '',
        newPassword: '',
        newPasswordRepeat: '',
      },
      error: '',
    }
  },
  methods: {
    async updatePassword() {
      this.$v.$touch()
      if(this.$v.$invalid) return

      console.log('submit')

      let result = await this.$store.dispatch('settingStore/updatePassword', {
        currentPassword: this.user.currentPassword,
        newPassword1: this.user.newPassword,
        newPassword2:  this.user.newPasswordRepeat
      })
      if (result == 'success')
        this.$router.push('/user/settings')
      else 
        this.error = result.errors
    },
    validPopup(isErr, text) {
      if(!this.$v.$dirty) 
        return
      if(isErr) 
        return { msg: text, error: true }
    },
    async forgotPassword () {

    }
  },
  computed: {
    passwordServerError() {
      if (this.error)
        return this.error.find(err => err.message === "Неверный пароль") 
    }
  },
  validations: {
    user: {
      currentPassword: {
        required,
        isTrue() {
          return !this.passwordServerError
        }
      },
      currentPasswordRepeat: {
        equal(currentPasswordRepeat) {
          return this.user.currentPassword === currentPasswordRepeat
        },
        required,
      },
      newPassword: {required, minLength: minLength(6)},
      newPasswordRepeat: {
        required,
        minLength: minLength(6),
        equal(newPasswordRepeat) {
          return this.user.newPassword === newPasswordRepeat
        },
      },
    }
  },
  watch: {
    'user.currentPassword'() {
      if(this.passwordServerError) this.error = ''
    }
  }

}
</script>

<style>

</style>