<template>
  <component v-if="routeLayout" :is="layout">
    <router-view/>
  </component>
</template>

<script>
  import MainLayout from '@lms/layouts/MainLayout/index'
  import AuthLayout from '@lms/layouts/AuthLayout'
  import EmptyLayout from '@lms/layouts/EmptyLayout'
  import UiLayout from '@lms/layouts/UiLayout'

  import '@sass/style.sass'


  import cookieMethod from "@lms/functions/cookieMethod";
  import parseJWT from "@lms/functions/parseJWT";
  import {mapState} from 'vuex'
  import store from '@lms/store'

  export default {
    name: "App",
    components: {MainLayout, AuthLayout, EmptyLayout, UiLayout},
    computed: {
      ...mapState('auth', {
        fingerprint: s => s.data.fingerprint,
      }),
      layout() {
        return this.routeLayout + '-layout'
      },
      routeLayout(){
        return this.$route.meta.layout
      }
    },
    beforeMount() {
      this.checkTokens()
    },
    watch: {
      async '$route.meta'(){
        let refreshToken = await cookieMethod({name: 'refreshToken', method: 'get'})
        if(this.$route.meta.noSecure && refreshToken && !this.$route.meta.noRefresh)
          this.redirectToWithRefreshToken() // Если роут не проверяет токены, если токены есть, и если нет meta noRefresh
      }
    },
    methods: {
      async checkTokens(){
        let accessToken = await cookieMethod({name: 'accessToken', method: 'get'})
        let refreshToken = await cookieMethod({name: 'refreshToken', method: 'get'})

        if(refreshToken) {
          if(accessToken) {
            let token = parseJWT(accessToken)
            let expireDate = new Date(token.exp * 1000)
            let now = new Date()
            now.setSeconds(now.getSeconds() + 2)

            if (now.getTime() >= expireDate.getTime())// Токен просрочен
              await store.dispatch('auth/setMeta', {path: 'accessTokenExpired', value: true})
          } else {
            await store.dispatch('auth/setMeta', {path: 'accessTokenExpired', value: true})
          }
        }
      },
      redirectToWithRefreshToken(){
        window.location.replace('/courses/folder/list')
      }
    }
  };
</script>