<template lang="pug">
  .form-item
    span.form-item__title(v-if="title")
      | {{title}}
    .form-item__block(v-click-outside="close")
      span.form-item__error(v-if="error")
        | {{error}}

      .form-item__select.select(@click="toggleOpen")
        input.form-item__input(
          :value="selectedNames"
          :disabled="true"
          :placeholder="placeholder"
        )

      SlideUpDown.select__slider(
        :duration="slideDuration"
        :active="isOpen"
      )
        .select__field
          SelectGroup(
            v-for="(group, groupName) in selectData" :key="groupName"
            :groupName="groupName"
            :group="group"
            :selectedInGroup="selectedInData[groupName]"
            @updateListInGroup="updateListInGroup"
            @toggleItemInGroup="toggleItemInGroup"
          )

      Icon.select__icon.form-item__icon(
        :icon="!icon ? 'arrow-down' : icon"
        @click="toggleOpen"
        :class="{'-opened-': isOpen}"
      )

</template>
	
<script>
	import SlideUpDown from 'vue-slide-up-down'
	import vClickOutside from 'v-click-outside'
  import SelectGroup from './SelectGroup'

  /* selectedData example
  {
    noData: {
      name: '',
      showName: false,
      searchUrl: '',
      listName: '',
      listClass: '',
      listItemClass: '',
      list: []
    }
  }
  */

	export default {
		directives: {clickOutside: vClickOutside.directive},
		props: {
			value: {},
			selectData: {},
      selectedInData: {
			  default: () => ({
          noData: []
        })
      },
			title: {},
			error: {},
      placeholder: {},
			icon: {},
		},
    components: {SlideUpDown, SelectGroup},
    data: () => ({
			isOpen: false,
			result: '',
			slideDuration: 200
		}),
    computed: {
		  selectedNames(){
		    let selectedGroups = Object.entries(this.selectedInData)
        let names = ''
        selectedGroups.forEach((entry) => {
          names += entry[1].reduce((string, item) => {
            let itemString = item.name
            if(item.lastname)
              itemString += " "+item.lastname
            return string+itemString+', '
          }, '')
        })
        names = names.replace(/, $/gm, '')
		    return names
      }
    },
		methods: {
			close() {
				this.isOpen = false
			},
			toggleOpen() {
			  if(this.selectData)
          this.isOpen = !this.isOpen
			},
			setOption(idx, text, value) {
				this.close()

				this.result = text
				this.$emit('input', value)
				this.$emit('change')
			},
      updateListInGroup({data, groupName}){
			  this.$emit('updateListInGroup', {data, groupName})
      },
      toggleItemInGroup({item, groupName}){
        this.$emit('toggleItemInGroup', {item, groupName})
      }
		}
	}
</script>