<template lang="pug">
  .select__item.-person-(v-if="item.avatar !== undefined" @click="toggleActive")
    .select__item-left
      .select__item-avatar(
        :style="{backgroundImage: `url('`+item.avatar+`')`}"
      )
      p.select__item-name
        | {{item.name}} {{item.lastname}} {{item.email ? item.email : ''}}

    Checkbox(
      v-model="active"
      :disabled="true"
    ).select__item-checkbox

  .select__item.-person-(v-else-if="item.avatarFilepath !== undefined" @click="toggleActive")
    .select__item-left
      .select__item-avatar(
        :style="{backgroundImage: `url('`+item.avatarFilepath+`')`}"
      )
      p.select__item-name.-no-wrap-
        | {{item.name}} {{item.lastname}} {{item.email}}

    Checkbox(
      v-model="active"
      :disabled="true"
    ).select__item-checkbox

</template>

<script>
  export default {
    props: {
      item: {
        id: '',
      },
      isSelected: {
        default: false
      }
    },
    data: () => ({
      active: false
    }),
    mounted() {
      this.active = this.isSelected
    },
    methods: {
      toggleActive(){
        this.active = !this.active
        this.$emit('toggleItemInGroup', {item: this.item})
      }
    }
  }
</script>