<template lang="pug">
  .select__group
    p.select__group-name(v-if="group.showName && group.name")
      | {{group.name}}
    Search.select__group-search(
      v-if="group.searchUrl"
      :searchUrl="group.searchUrl"
      :cancelTokenName="group.searchUrl"
      @returnSearchData="getSearchData"
    )
    .select__group-list
      SelectItem(
        v-for="item in group.list" :key="item.id"
        :item="item"
        :isSelected="isItemSelected(item)"
        @toggleItemInGroup="toggleItemInGroup"
      )

</template>

<script>
  import SelectItem from './SelectItem'

  export default {
    props: {
      group: {
        default: {
          name: '',
          showName: false,
          searchUrl: '',
          listName: '',
          listClass: '',
          listItemClass: '',
          list: []
        }
      },
      selectedInGroup: {
        default: () => []
      },
      groupName: {},
      idx: {}
    },
    components: {SelectItem},
    data: () => ({
      search: ''
    }),
    methods: {
      isItemSelected(item) {
        return this.selectedInGroup.find(s => s.id === item.id)
      },
      getSearchData({data}){
        this.$emit('updateListInGroup', {data, groupName: this.groupName})
      },
      toggleItemInGroup({item}){
        this.$emit('toggleItemInGroup', {item, groupName: this.groupName})
      }
    },
  }
</script>