<template lang="pug">
  Plug(
    v-if="!isGroupLoading && groups.length === 0"
    title="Команды не найдены"
    subtitle="Попробуй изменить фильтр или создай новую команду" 
  )
  Table(
    v-else
    :navTitles="navTitles"
  )
    template(#nav="")
      NavCell(
        v-for="title in navTitles" :key="title.id"
        @click.native="setSort(title)"
        :class="{'-pointer-': title.sortType !== undefined}"
      )
        span {{title.title}}
        Icon.ui-space-table__icon.-arrow-(
          v-if="title.sortType !== undefined"
          icon="ui-down"
          :class="{'-active-': title.channelId === sortChanel, '-rotate-': title.sortType}"
        )
    //- Тут волшебным образом должна отрабатывать вложенность 
    TeamList(
      :navTitles="navTitles"
    )
      

</template>

<script>
import { mapState } from 'vuex';

import Table from '../../../components/Table'
import Row from '../../../components/Table/Row'
import Cell from '../../../components/Table/Cell'
import NavCell from '../../../components/Table/NavCell'
import Plug from '@lms/components/UiKit/Plug'

import TeamList from './components/TeamList'

export default {
  name: "TeamTable",
  components: {
    Table,
    Row,
    Cell,
    NavCell,

    TeamList,
    Plug,
  },
  props: {
    sortChanel: {},
    navTitles: {},
  },
  data: ()=> ({
    loadMore: false,
  }),
  computed: {
    ...mapState('ratingTeams', {
      groups: s => s.data.groups,
      isGroupLoading: s => s.meta.isGroupLoading,
    }),
    isAdmin() {
      return this.$store.state['auth'].data.user.permissions.isAdmin
    },
    loading() {
      return this.isLoading || this.isLoadingPage
    },    
  },
  methods: {
    goTo(user) {
      if(!this.isAdmin)
        return
      this.$router.push(`/rating/hundred/user/${user.id}`)
    },
    setSort(title) {
      if(title.channel === undefined && title.sortType === undefined)
        return
      this.$emit('setSort', title)
    },
  }
}
</script>

<style>

</style>