<template lang="pug">
  .rating-card-list-dropdown__opener
    .rating-card-list-dropdown__opener-table(
      v-for="value in values"
      :key="value.id"
      v-if="value.canOpen && value.openValue"
      v-show="value.openValue && activeId === value.id"
    )
      .rating-card-list-dropdown__opener-item
        .rating-card-list-dropdown__opener-text Людей с более чем 0 рублей:
          b  {{ value.openValue.peopleNot0Count }} участников
        .rating-card-list-dropdown__opener-text Выросли на более 10%:
          b  {{ value.openValue.more.growth10.people }} участников
          |  ({{ value.openValue.more.growth10.percent }}%)
        .rating-card-list-dropdown__opener-text Выросли на более 20%:
          b  {{ value.openValue.more.growth20.people }} участников
          |  ({{ value.openValue.more.growth20.percent }}%)
        .rating-card-list-dropdown__opener-text Выросли на более 50%:
          b  {{ value.openValue.more.growth50.people }} участников
          |  ({{ value.openValue.more.growth50.percent }}%)
        .rating-card-list-dropdown__opener-text Выросли на более 100%:
          b  {{ value.openValue.more.growth100.people }} участников
          |  ({{ value.openValue.more.growth100.percent }}%)
      .rating-card-list-dropdown__opener-item
        .rating-card-list-dropdown__opener-text Людей с 0 рублей:
          b  {{ value.openValue.peopleWith0Count }} участников
        .rating-card-list-dropdown__opener-text Заработали первые деньги:
          b  {{ value.openValue.more.firstMoney.people }} участников
          |  ({{ value.openValue.more.firstMoney.percent }}%)
        .rating-card-list-dropdown__opener-text Заработали с нуля более 10к:
          b  {{ value.openValue.more.first10k.people }} участников
          |  ({{ value.openValue.more.first10k.percent }}%)
        .rating-card-list-dropdown__opener-text Заработали с нуля более 100к:
          b  {{ value.openValue.more.first100k.people }} участников
          |  ({{ value.openValue.more.first100k.percent }}%)
</template>

<script>
export default {
  props: {
    values: {
      type: Array,
    },
    activeId: {
      type: Number,
    },
  }
}
</script>

<style scoped>

</style>
