<template lang="pug">
.questionnaire-content
  Icon.questionnaire__icon-back(
    @click="setStep('Register')"
    icon="ui-arrow-left"
  )
  .questionnaire-content__block.-underline-
    p.questionnaire__title.-min-margin- Дорогой участник!
    p.questionnaire__description.-xl- Без регистрации в Телеграм-боте ты не сможешь вступить в сборную и факультет, а также не будешь получать уведомления об актуальных событиях курса и ссылки на полезные материалы. Мы просим тебя активировать бота и не терять эту возможность!
  .questionnaire-content__block
    p.questionnaire-content__title Как зарегистрироваться в Телеграме?
  .questionnaire-content__block
    List(
      :list="stepList"
    )
  .questionnaire-content__block
    p.questionnaire-content-postscript
      span.questionnaire-content-postscript__highlight P.S. 
      span Не забудь разрешить Телеграму отправлять тебе уведомления

</template>

<script>
import List from './components/List'
export default {
  components: {
    List,
  },
  data: ()=> ({
    stepList: [
      {
        id: 0,
        name: 'Необходимо скачать и установить Telegram на свой телефон или компьютер.',
      },
      {
        id: 1,
        name: 'После установки программы появится окно «Start messaging», нажими на него.',
        buttonList: [
          {
            id: 0,
            name: 'Скачать для iOS',
            icon: 'apple',
            href: 'https://apps.apple.com/app/telegram-messenger/id686449807'
          },
          {
            id: 1,
            name: 'Скачать для Android',
            icon: 'android',
            href: 'https://play.google.com/store/apps/details?id=org.telegram.messenger'
          },
          {
            id: 2,
            name: 'Скачать для macOS',
            icon: 'apple',
            href: 'https://desktop.telegram.org/'
          },
          {
            id: 3,
            name: 'Скачать для Windows',
            icon: 'windows',
            href: 'https://desktop.telegram.org/'
          },
        ]
      },
      {
        id: 2,
        name: 'Далее введи свой номер мобильного телефона, к которому будет привязан аккаунт Telegram.',
      },
      {
        id: 3,
        name: 'После тебе придет код, с помощью которого произойдет подтверждение твоего номера и привязка к аккаунту',
      },
      {
        id: 4,
        name: 'Далее введи свои имя и фамилию, как будет записано в твоем аккаунте.',
      },
      {
        id: 5,
        name: 'Все готово! Теперь ты зарегистрирован и можешь использовать все возможности курса!',
      },
    ]
  }),
  methods: {
    setStep(step) {
      this.$emit('setStep', step)
    }
  }

}
</script>

<style scoped>
.questionnaire__icon-back {
  display: unset;
}
</style>
