<template lang="pug">
.questionnaire-content
  .questionnaire-content__block
    p.questionnaire__title.-min-margin- Спасибо, теперь мы знакомы ближе!
    p.questionnaire__description Узнай об участниках, с которыми будешь проходить курс, получай полезные материалы и будь в курсе событий с нашим Telegram ботом
  .questionnaire-content__block
    p.questionnaire-content__title Регистрируйся в чат-боте курса!
  .questionnaire-content__block
    UiInput.-bg-neutral-.questionnaire-content__input.-l-(
      v-model.trim="telegram"
      title="Введи свой Telegram"
      placeholder="username"
      before="@"
      
      :popup="validPopup(!$v.telegram.required, 'Обязательное поле') || validPopup(!$v.telegram.isTelegram, 'Недопустимый символ') || validPopup(!$v.telegram.minLength, 'Минимальная длинна - 5 символов')"
    )
  .questionnaire-content__block.-margin-l-
    p.questionnaire-content__link(
      @click="setStep('TelegramHelper')"
    ) Как узнать свой @username
  .questionnaire-content__block.-margin-s-
    UiButton(
      @click="send"
    ) Подтвердить
  .questionnaire-content__block
    UiButton.-gray-(
      @click="setStep('NoTelegram')"
    ) У меня нет Telegram
</template>

<script>
import { mapState } from 'vuex'
import { required, minLength } from 'vuelidate/lib/validators';
import CopyCode from '../components/CopyCode' 

export default {
  data: () => ({
    telegram: '',
  }),
  components: {
    CopyCode,
  },
  computed: {
    ...mapState('questionnaire', {
      history: s => s.data.history,
      telegramName: s => s.data.telegramName,
    }),
  },
  mounted() {
    this.telegram = this.telegramName
  },
  methods: {
    comeBack() {
      this.$router.push('/questionnaire/toggle-course')
    },
    async send() {
      if(this.$v.$invalid){
        this.$v.$touch()
        return
      }
      let res = await this.$store.dispatch('questionnaire/sendTelegramUsername', {username: this.telegram})
      if(res.status === 'success') {
        this.$store.dispatch('questionnaire/setData', {path: 'telegramName', value: this.telegram})
        this.setStep('SendCode')
      }
    },
    validPopup(isErr, text) {
      if(!this.$v.$dirty) 
        return

      if(isErr) {
        return({
          msg: text,
          error: true
        })
      }
    },
    setStep(step) {
      this.$emit('setStep', step)
    }
  },
  validations: {
    telegram: {
      isTelegram(value) {
        return !/[^A-Za-z_\d]/.test(value)
      },
      required,
      minLength: minLength(5)
    }
  },
}
</script>

<style>

</style>
