<template lang="pug">
.questionnaire-content
  Icon.questionnaire__icon-back(
    icon="ui-arrow-left"
    @click="setStep('Register')"
  )
  .questionnaire-content__block
    p.questionnaire__title.-min-margin- Отлично, последний шаг!
    p.questionnaire__description Подключи бота и не упускай крутых возможностей!
  .questionnaire-content__block
    p.questionnaire-content__title Ссылка на бота
  .questionnaire-content__block
    a.questionnaire-button-telegram(
      href="/api/smartsender/redirect"
      target="_blank"
    ) 
      Icon(icon="telegram") 
      span Перейти
  .questionnaire-content__block
    CopyCode(
      title="Код"
      :text="code"
      :loading="!code"
    )
  .questionnaire-content__block.-margin-s-
    UiButton(
      :disabled="!active"
      to="/courses/folder/list"
    ) Продолжить
    
</template>

<script>
import { mapState } from 'vuex'
import CopyCode from '../components/CopyCode' 

export default {
  data: () => ({
    code: '',
    active : false,
    interval: 3000,
    timer: null,
    isTimer: false,
  }),
  components: {
    CopyCode,
  },
  computed: {
    ...mapState('questionnaire', {
      history: s => s.data.history,
    }),
  },
  mounted() {
    this.getCode()
    this.isTimer = true
    this.startSendQuery()
  },
  methods: {
    async getCode() {
      let res = await this.$store.dispatch('questionnaire/getTelegramCode')
      if(res.status === 'success') {
        this.code = res.data.code;
        this.active = res.data.active
      }
    },
    startSendQuery() {
      this.timer = setTimeout(async () => {
        await this.getCode()

        if(!this.active && this.isTimer)
          this.timer = this.startSendQuery()
      }, this.interval)
    },
    stopSendQuery() {
      this.isTimer = false
      clearTimeout(this.timer)
    },
    comeBack() {
      this.$store.dispatch('questionnaire/comeBackHistory')
    },
    setStep(step) {
      this.$emit('setStep', step)
    }
  },
  destroyed() {
    this.stopSendQuery()
  },
}
</script>

<style scoped>
.questionnaire__icon-back {
  display: unset;
}
</style>
