<template lang="pug">
.questionnaire-content
  Icon.questionnaire__icon-back(
    @click="setStep('Register')"
    icon="ui-arrow-left"
  )
  .questionnaire-content__block
    p.questionnaire__title.-min-margin- Как узнать свой никнейм?
  .questionnaire-content__block
    List(
      :list="stepList"
    )
    List()
    
</template>

<script>
import List from './components/List'
export default {
  components: {
    List,
  },
  data: ()=> ({
    stepList: [
      {
        id: 0,
        name: 'Перейди в "Настройки" в меню Telegram.',
      },
      {
        id: 1,
        name: 'Нажми "Изменить профиль"',
      },
      {
        id: 2,
        name: 'В поле "Имя пользователя" введи подходящий никнейм, например @username',
      },
      {
        id: 3,
        name: 'Скопируй его и вставь на предыдущей странице анкеты',
      },
      {
        id: 4,
        hidden: true,
        name: 'Готово, красавчик! :)',
      },
    ]
  }),
  methods: {
    setStep(step) {
      this.$emit('setStep', step)
    }
  }

}
</script>

<style scoped>
.questionnaire__icon-back {
  display: unset;
}
</style>
