<template lang="pug">
    .virtual__scroll
        slot
        .virtual__scroll-observer(ref="observer")
</template>

<script>
  export default {
    props:['data', 'isLoading'],
    data() {
      return {
        point: 1,
        observer: null,
        canScroll:true,
        timer:undefined,
        height:undefined,
        options:{
          root:null,
          threshold: 1.0,
          rootMargin: '0px',
        },
        rows: 50,
      }
    },
    watch:{
      data(val, oldVal){
        if(val.length == oldVal.length) {
          this.canScroll = false
        }
        
      }
    },
    mounted() {
      if(this.$slots.default && this.$slots.default.length) {
        this.addIntersectionObserver(); 
        this.options.root = this.$el
      }
    },
    methods: {
      addIntersectionObserver(){
        this.observer = new IntersectionObserver(this.handleObserver,this.options);
        this.observer.observe(this.$refs.observer);
      
      },
      handleObserver( entries, observer){
        let entry = entries[0]
        if(entry && entry.isIntersecting && !this.isLoading) {
          this.point +=1
          this.$emit('incrementPage', this.point)
        }
      },
    },
    destroyed() {
      if(this.observer) this.observer.disconnect();
    }
  }
</script>