<template lang="pug">
  .answers-task-question
    Info(
      :taskItem="taskItem"
      :systemName="systemName"
      :ddlDate="ddlDate"
      :answerCreatedAt="answerCreatedAt"
    )
    .comment(
      v-if="taskItem.answer.comments && taskItem.answer.comments.length > 0"
    )
      Comments(
        v-for="(comment, idx) in taskItem.answer.comments" :key="idx"
        :value="comment"
      )
    
    .answers-task-feedback(v-if="$permissionsUpdate")
      .answers-task-feedback__input(:style="{alignItems: 'flex-start'}")
        TextArea.answers-task-feedback__input-comment(
          v-model="taskItem.answer.validatingText"
          :error="$v.$dirty && (!taskItem.answer.validatingText && !script)"
          placeholder="Комментарий к заданию от проверяющего"
          :maxlength="4000"
        )

        .answers-task-feedback__input-label(
          v-if="taskItem.question.typeOfTask === 1"
          :class="{'-error-': $v.$dirty && !$v.taskItem.answer.points.required}"
        )
          span.form-item__title
            | Оценка:
          .answers-task-feedback__input-point
            span.main-block__label.answers-card__label
              | Балл:
              span.-main-accent-color-
                |  {{taskItem.answer.points}}
            .answers-task-feedback__input-point-consent(@click="setFixed(true)")
              Icon.validating-card__footer-type(icon="confirm-circle")
            .answers-task-feedback__input-point-no__consent(@click="setFixed(false)")
              Icon.validating-card__footer-type(icon="cancel-circle")

        Input.form-item__title.answers-task-feedback__input-label__input(
          v-else-if="taskItem.question.typeOfTask === 2"
          v-model="taskItem.answer.points"
          type="number"
          :title="$v.$dirty && (!$v.taskItem.answer.points.between || !$v.taskItem.answer.points.required) ? `Оценка: от ${$v.taskItem.answer.points.$params.between.min} до ${$v.taskItem.answer.points.$params.between.max}` : 'Оценка:'"
          :error="$v.$dirty && (!$v.taskItem.answer.points.between || !$v.taskItem.answer.points.required)"
          :placeholder="`от ${taskItem.question.minPoints} до ${taskItem.question.maxPoints}`"
        )

      slot(name="edit")

      //.answers-task-feedback__select
        Select.answers-card-feedback__select-script(
          v-model="script" :selectData="selectScriptData"
          title="Добавить скрипт"
        )

</template>

<script>
  import Info from "./Info";
  import Comments from "./Comments"
  import {required, between} from 'vuelidate/lib/validators'
  import moment from 'moment-timezone';
  import { mapState } from 'vuex';
  moment.locale('ru');

	export default {
		components: {Info, Comments},
		props: {
      propTaskItem: {},
      scripts: {},
			ddl: {},
      systemName: {},
      ddlDate: {},
      answerCreatedAt: {},
      touch: {}
		},
		data: () => ({
      taskItem: {
        answer: {
          files: [],
          points: '',
          validatingText: ''
        },
        question: {
          typeOfTask: ''
        },
      },
      script: '',
		}),
    computed: {
      ...mapState('auth',{
        $permissions: s => s.data.user.permissions.taskAnswerCheckAdmin,
        isAdmin: s => s.data.user.permissions.isAdmin
      }),
      answerBeforeDDL() {
        let answerDate = moment.tz(new Date(this.taskItem.answer.createdAt), 'Europe/Moscow');
        let ddlDate = moment.tz(this.ddl, 'Europe/Moscow');

        return answerDate < ddlDate
      },
      selectScriptData() {
        if (this.scripts.length > 0){
          if(this.answerBeforeDDL)
            return this.returnBeforeDDl()
          else 
            return this.returnAfterDDL()
        }else
          return [
            {
              id: 'scriptId',
              text: 'Cкрипты отсутствуют',
              value: ''
            }
          ]
      },
    },
		mounted() {
			this.taskItem = _.cloneDeep(this.propTaskItem)
      this.setPointsByDDL()
		},
    watch: {
      taskItem: {
        deep: true,
        handler(taskItem) {
          this.emitData()
        }
      },
      script(val){
        this.emitData()
      },
      touch(){
        this.$v.$touch()
      }
    },
		methods: {
		  emitData(){
        let taskCopy = _.cloneDeep(this.taskItem)
        this.addScript(taskCopy)
        this.$emit('hasErrors', this.$v.$invalid || !taskCopy.answer.validatingText)
        this.$emit('updateTaskItem', taskCopy)
      },
      setPointsByDDL() {
        if(this.taskItem.question.typeOfTask === 1) // фиксированный
          this.taskItem.answer.points = this.answerBeforeDDL ? this.taskItem.question.pointsBeforeDdl : this.taskItem.question.pointsAfterDdl
        else // мин макс
          this.taskItem.answer.points = this.answerBeforeDDL ? this.taskItem.question.maxPoints : this.taskItem.question.minPoints
      },
			setFixed(confirm){
        this.taskItem.answer.points = confirm ? this.taskItem.question.pointsBeforeDdl : this.taskItem.question.pointsAfterDdl
      },
      addScript(taskItem){
        if(!this.script)
          return
        
        if(!taskItem.answer.validatingText)
          taskItem.answer.validatingText = this.script
        else
          taskItem.answer.validatingText += '\n\n'+this.script

      },
      returnBeforeDDl(){
        let max, min;
        const point = this.taskItem.answer.points

        if(this.taskItem.question.typeOfTask === 2){
          max = this.taskItem.question.maxPoints
          min = this.taskItem.question.minPoints
      
          if(point >= min && point <= max){
            
            const script = this.scripts.find(el=> el.pointsFrom == point && el.pointsTo == point)
            if(script && script.text)
              this.script = script.text
          }

        }else {
          const script = this.scripts.find(el=> el.pointsTo == point)
          if(script && script.text)
            this.script = script.text
        }
        
        return [
            ...this.scripts.map(el => {
              return {...el, value: el.text, text: `${el.name}: ${el.text}`}
            })
            ,{
              id: 'scriptId',
              text: 'Без скрипта',
              value: ''
            }
          ]
      },
      returnAfterDDL(){
        let point;
        if(this.taskItem.question.typeOfTask === 2)
          point = this.taskItem.question.minPoints
        else 
          point = this.taskItem.question.pointsAfterDdl
        
        const script = this.scripts.find(el=> el.pointsFrom == point)
        if(script && script.text)
          this.script = script.text

        return [
            ...this.scripts.map(el => {
              return {...el, value: el.text, text: `${el.name}: ${el.text}`}
            }),
            {
              id: 'scriptId',
              text: 'Без скрипта',
              value: ''
            }
          ]

      }
		},
		validations() {
			if (this.taskItem.question.typeOfTask === 2) {
				return {
          taskItem: {
            answer: {
              points: {
                required,
                between: between(this.taskItem.question.minPoints, this.taskItem.question.maxPoints)
              }
            }
					}
				}
			} else {
        return {
          taskItem: {
            answer: {
              points: {
                required
              }
            }
          }
        }
      }
		},
	}
</script>