<template lang="pug">
  .popup.-user-info-popup-
    .popup__container
      template(v-if="isLoading")
        .ajax__line.ajax__line-card

      template(v-else)
        .popup__svg
          TitleSvg
        .popup__title
          | Расскажите нам
          br
          |  немного о себе :)
        .popup__form
          .popup__form-item(v-if="!storeUser.name || !storeUser.lastname")
            UiInput.-gray-(
              title="Фамилия"
              v-model="user.lastname"
              placeholder="Какая у вас фамилия?"
              :popup="validPopup(!$v.user.lastname.required, 'Обязательное поле')"
            )
          .popup__form-item(v-if="!storeUser.name || !storeUser.lastname")
            UiInput.-gray-(
              title="Имя"
              v-model="user.name"
              placeholder="Как вас зовут?"
              :popup="validPopup(!$v.user.name.required, 'Обязательное поле')"
            )
          .popup__form-item(v-if="storeUser.isSpeedCourse && (!storeUser.name || !storeUser.lastname || !storeUser.patronymic)")
            UiInput.-gray-(
              title="Отчество"
              v-model="user.patronymic"
              placeholder="Какое у вас отчество?"
              :popup="validPopup(!$v.user.lastname.required, 'Обязательное поле')"
            )
          .popup__form-item(v-else-if="!storeUser.name || !storeUser.lastname || !storeUser.patronymic")
            UiInput.-gray-(
              title="Отчество"
              v-model="user.patronymic"
              placeholder="Какое у вас отчество?"
            )
          .popup__form-item(v-if="!storeUser.city")
            UiCityInput.-gray-(
              title="Местоположение"
              v-model="user.city"
              placeholder="Где вы проживаете?"
              :popup="validPopup(!$v.user.city.required, 'Обязательное поле')"
            )
          .popup__form-item(v-if="!storeUser.businessCategoryId")
            UiSelect.-gray-(
              title='Сфера бизнеса'
              v-model="user.businessCategoryId"
              :option="businessSelect"
              :placeholder="'В каком направлении развиваетесь?'"
              :appendBody="true"
              :popup="validPopup(!$v.user.businessCategoryId.required, 'Обязательное поле')"
              :maxHeight="130"
              zIndex="1001"
            )
          //- .popup__form-item(v-if="!storeUser.niche")
          //-   UiInput.-gray-(
          //-     title="Ниша"
          //-     v-model="user.niche"
          //-     placeholder="На какой нише фокусируетесь?"
          //-     :popup="validPopup(!$v.user.niche.required, 'Обязательное поле')"
          //-   )

          .popup__form-item
            UiButton.-wide-(@click="sendUserData")
              | Продолжить работу с платформой

</template>

<script>
  import {required} from 'vuelidate/lib/validators'
  import {mapState} from 'vuex'

  import TitleSvg from './TitleSvg'
  import UiCityInput from '@lms/components/UiKit/CityInput'

  export default {
    components: { TitleSvg, UiCityInput },
    data: () => ({
      isLoading: false,
      user: {
        name: '',
        lastname: '',
        patronymic: '',
        city: '',
        niche: '',
        businessCategoryId: '',
        businessCategory: ''
      }
    }),
    computed: {
      ...mapState('auth', {
        businessTypes: s => s.data.businessTypes,
        storeUser: s => s.data.user,
      }),
      businessSelect() {
        return this.businessTypes.map(item => {
          return {
            title: item.text,
            value: item.id,
          }
        })
      }
    },
    async beforeMount() {
      this.loading = true
      await this.$store.dispatch('auth/getUserBusinessTypes')
      this.loading = false
    },
    mounted() {
      this.user = _.cloneDeep(this.storeUser)
    },
    watch: {
      businessTypes(val) {
        // if(!this.user.businessCategoryId) {
        //   this.user.businessCategoryId = val[0].id
        //   this.user.businessCategory = val[0].text
        // }
      },
      'user.businessCategoryId'(val) {
        let obj = this.businessTypes.find(item => item.id === val)
        if (obj)
          this.user.businessCategory = obj.text
      }
    },
    methods: {
      async sendUserData() {
        if (this.$v.$invalid) {
          this.$v.$touch()
          return
        }

        let status = await this.$store.dispatch('settingStore/setData', {path: 'stagedUserMain', value: this.user})
        this.isLoading = true
        await this.$store.dispatch('settingStore/settingUpdate', {type: 'main'})
        this.isLoading = false

      },
      validPopup(isErr, text) {
        if(!this.$v.$dirty)
          return
        if(isErr)
          return({
            msg: text,
            error: true
        })
      },
    },
    validations() {
      if(this.user.isSpeedCourse)
        return {
          user: {
            name: {required},
            lastname: {required},
            patronymic: {required},
            // niche: {required},
            businessCategoryId: {required},
            city: {required},
          }
        }
      else
        return {
          user: {
            name: {required},
            lastname: {required},
            // niche: {required},
            businessCategoryId: {required},
            city: {required},
          }
        }
    },
    destroyed() {
      this.$store.dispatch('settingStore/setData', {path: 'stagedUserMain', value: {}})
    }
  }
</script>
