<template lang="pug">
  .main-block.answers-card
    OptionsList.answers-card__options(
      :optionsFields="optionsFields"
    )

    .answers-card__header.-feed-
      .answers-card-company
        .answers-card-company__item(v-if="taskLocal.user.businessInfo")
          p
            | Бизнес участника:
            span.answers-card-company__item-value
              |  {{taskLocal.user.businessInfo}}

        .answers-card-company__item(v-if="taskLocal.user.niche")
          p
            | Ниша:
            span.answers-card-company__item-value
              |  {{taskLocal.user.niche}}

        .answers-card-company__item(v-if="taskLocal.user.profitPerWeek")
          p
            | Прибыль в неделю:
            span.answers-card-company__item-value  {{taskLocal.user.profitPerWeek | numberFormat}} р

      .answers-card-user
        .answers-card-user__tariff(
          v-if="userTariff"
          :style="{backgroundColor: '#'+userTariff.color}"
        )
          p {{userTariff.name}}
        .answers-card-user__info
          .answers-card-user__info-header
            .answers-card-user__name(v-if="username")
              | {{username}}
            .answers-card-user__avatar(
              :style="{backgroundImage: `url('${taskLocal.user.avatar}')`}"
            )
              | {{taskLocal.user.email[0]}}
          p.answers-card-user__email
            | {{taskLocal.user.email}}

    .answers-card__body
      .answers-card__block
        p.main-block__label.answers-card__label Вопрос:
        .lesson-block__markdown.form-item__markdown(
          v-html="makeHtml(taskLocal.question.question)"
        )

        p.main-block__label.answers-card__label Ответ участника:

        p.main-block__text.answers-card__text.-pre-line-(
          v-if="taskLocal.answer"
          v-html="answerHTML"
        )

        .answers-card__row
          File(
            v-for="file in taskLocal.answer.files"
            :key="file.id"
            :file="file"
            :canDelete="false"
          )

        .answers-card__footer
          Comment(
            :comment="taskLocal.answer.validatingText"
            :point="taskLocal.answer.points"
          )
          EditedComment(
            v-if="isEdit"
            :ddl="taskBlock.ddl"
            @updateQuestion="updateQuestion($event)"
            :task="taskLocal"
          )
      Select.answers-card-feedback__select-bonus(
        v-if="isEdit"
        v-model="achievements"
        :selectData="getAchievements"
        title="Добавить бонус"
      )
      .asnwer-card__review-row.answers-card__review-row-between(v-if="isEdit")
        Button.-xl-(@click="sendTaskCall") Отправить
        Button.-xl-(@click="cancel") Отменить

</template>

<script>
  import File from "@lms/components/File/File";
  import Comment from "./Comment";
  import EditedComment from "./EditedComment";
  import {mapActions} from 'vuex';
  import markdownToHtml from "@lms/functions/converterMarkdownToHtml";
  import textToHtmlWithLinks from "@lms/functions/textToHTMLWithLikns";

  export default {
    name: "CardFeed",
    components: {
      File,
      Comment,
      EditedComment
    },
    props: {
      task: {},
      selectedGroup: {},
      tariffs: {},
      taskBlock: {}
    },

    data() {
      return {
        isEdit: false,
        optionsFields: [
          {
            text: 'Редактировать',
            func: this.openBlockEdit,
            icon: 'edit',
          },
        ],
        checkedQuestions: [],
        achievements: '',
        setterSelectedTask: '',
        taskLocal: {
          question: {},
          answer: {},
          user: {
            email: ''
          }
        }
      }
    },
    mounted() {
      this.taskLocal = _.cloneDeep(this.task)
    },
    watch: {
      task: {
        deep: true,
        handler() {
          this.taskLocal = {...this.task}
        }
      }
    },
    computed: {
      answerHTML(){
        return textToHtmlWithLinks(this.taskLocal.answer.answer)
      },
      getAchievements() {
        let ach = [
          {
            text: 'Выберите бонус',
            id: 'bonusId',
            value: ''
          }
        ]
        if(this.task.achievements){
          ach = {
            ...ach,
            ...this.task.achievements.map(el => {
              return {
                text: el.name,
                value: el.id,
                icon: el.img,
                id: el.id
              }
            })
          }
        }

        return ach
      },
      userTariff() {
        if(!this.taskLocal.user.tariffId && !this.tariffs.length > 0)
          return

        return this.tariffs.find(t => t.id === this.taskLocal.user.tariffId)
      },
      username(){
        if(!this.taskLocal.user.name && !this.taskLocal.user.lastname)
          return

        let name = '';
        if(this.taskLocal.user.name)
          name += this.taskLocal.user.name+' '

        if(this.taskLocal.user.lastname)
          name += this.taskLocal.user.lastname

        return name
      }
    },
    methods: {
      ...mapActions('answersValidatingFeed', [
        'sendFeedTask'
      ]),
      openBlockEdit() {
        this.isEdit = true
      },
      cancel() {
        this.isEdit = false
      },
      sendTaskCall() {
        const cheackingArray = this.checkedQuestions.filter(el => !el.validating.text && !el.validating.script).map(el => el.question.answer.id)
        if (cheackingArray.length === 0) {
          this.sendFeedTask({
            checkedQuestions: this.checkedQuestions,
            selectedGroup: this.selectedGroup,
            achievements: this.achievements,
            task: _.cloneDeep(this.taskLocal)
          })
          this.isEdit = false
        } else {
          this.taskLocal = this.taskLocal.map(el => {

            if (cheackingArray.includes(el.answer.id)) {
              el.question['isError'] = true
              return {...el}
            } else return el
          })
        }
      },
      updateQuestion({question, validating}) {
        if (question.isError)
          delete question.isError

        this.checkedQuestions[0] = {question, validating}
      },
      makeHtml(value) {
        return markdownToHtml.makeHtml(value)
      }
    }
  }
</script>
