<template lang='pug'>
		
	.answers-card__review
		.answers-card__review-row
			.answers-card__reviewer
				.answers-card__reviewer-img
					img.answers-card__reviewer-photo(src="/lms/img/user.jpg")
				
				p.main-block__text.answers-card__text Комментарий к заданию от проверяющего.
			
			.answers-card__rating
				p.main-block__label Оценка: 
					span.color {{point}}


		p.main-block__text.answers-card__text {{comment}}
		
</template>
	
<script>
	export default {
		props:['comment','point']
	}
</script>