<template lang='pug'>

  .answers-task-feedback
    .answers-task-feedback__input

      label.answers-task-feedback__input-label(v-if="question.question.typeOfTask === 1")
        span.form-item__title Оценка:
        .answers-task-feedback__input-point
            span.main-block__label.answers-card__label Балл: &nbsp;
            span.answers-task-feedback__input-point-input
              | {{ddlPoint}}
            span.answers-task-feedback__input-point-consent(@click="acceptPoint")
              Icon.validating-card__footer-type(
                icon="ok-circle-green"
              )
            span.answers-task-feedback__input-point-no__consent(@click="disagreePoint")
              Icon.validating-card__footer-type(
                icon="angry-circle-red"
              )

      template(v-else-if="question.question.typeOfTask === 2")
        Input.form-item__title.answers-task-feedback__input-label__input(
          v-model.trim="$v.point.$model"
          @blur="onBlur"
          :title="$v.$dirty && !$v.point.between ? `Оценка: от ${$v.point.$params.between.min} до ${$v.point.$params.between.max}` : 'Оценка:'"
          :error="$v.$dirty && !$v.point.between"
          :placeholder="`от ${question.question.minPoints} до ${question.question.maxPoints}`"
        )

      Input.answers-task-feedback__input-comment(
        v-model="text"
        :error="getError"
        title="Комментарий к ответу"
      )
    .answers-task-feedback__select
      Select.answers-card-feedback__select-script(
        v-if="question.scripts"
        v-model="script"
        :selectData="selectScriptData"
        title="Добавить скрипт"
      )

</template>
	
<script>
  import {required, between} from 'vuelidate/lib/validators'

	export default {
    props: {
      task: {}
    },
    data() {
      return {
        question: {
          answer: {},
          question: {}
        },
        text: '',
        point: '',
        script: '',
        isDisagree: false,
      }
    },
    mounted() {
      this.question = _.cloneDeep(this.task)
      this.text = this.question.answer.validatingText
      this.point = this.question.answer.points
      if (this.question.question.typeOfTask === 2) this.onBlur()
    },
    watch: {
      task: function (val) {
        this.question = _.cloneDeep(val);
      },
      text: function (val) {
        this.$emit('updateQuestion', {
          question: this.question,
          validating: {
            text: this.getValidatingText,
            point: this.point,
            script: this.script,
          }
        })
      },
      point: function (val) {
        this.$emit('updateQuestion', {
          question: this.question,
          validating: {
            text: this.getValidatingText,
            point: val,
            script: this.script,
          }
        })
      },
      script: function (val) {
        this.$emit('updateQuestion', {
          question: this.question,
          validating: {
            text: this.getValidatingText,
            point: this.point,
            script: val,
          }
        })
      },
    },
    computed: {
      ddlPoint() {
        if (!this.isDisagree) {
          this.point = this.question.question.pointsBeforeDdl
        } else {
          this.point = this.question.question.pointsAfterDdl
        }

        return this.point
      },
      getValidatingText() {
        if (this.text.length > 0) {
          return this.text

        } else {
          if (this.script.length > 0) return this.script
          else return ''
        }
      },
      selectScriptData() {
        if (this.question.scripts)
          return [
            {
              id: 'scriptId',
              text: 'Выберите скрипт',
              value: ''
            },
            ...this.question.scripts.map(el => {
              return {...el, value: el.text}
            })
        ]
        else return ''
      },
      getError() {
        if (this.question.question.isError && !this.script && !this.text)
          return true
        else
          return false
      }
    },
    methods: {
      acceptPoint() {
        this.isDisagree = false;
      },
      disagreePoint() {
        this.isDisagree = true;
      },
      onBlur(event) {
        if (this.$v.point.$error || this.$v.point.$model === undefined) {
          if (this.getDateDdl) {
            this.point = this.question.question.maxPoints
          } else {
            this.point = this.question.question.minPoints
          }
        }
      },
    },
    validations() {
      if (this.question.question.typeOfTask === 2) {
        return {
          point: {
            required,
            between: between(this.question.question.minPoints, this.question.question.maxPoints)
          }
        }
      }
    },
  }
</script>