<template lang="pug">
  .courses.-helvetica-
    .important-button-wrap
      UiButton.important-button.-telegram-.-mobile-.-min-(
        v-if="showTelegram"
        to="/questionnaire/telegram"
      )
        .important-button__content
          Icon(icon="telegram")
          span Подключиться к Telegram боту
    template(v-if="courseFolders.length")
      .courses-cards.position-relative
        .courses-cards__list
          template(v-if="$permissionsCreate === 2 && $permissionsRead")
            .courses-card.courses-card-create
              Icon.courses-card-create__icon(icon="educational")

              UiButton(@click="openNewFolderAside")
                | Создать папку

          Folder(
            v-for="folder in courseFolders" :key="folder.id"
            :folder="folder"
          )
    template(v-else-if="gettingFolders")
      EmptyFolder

    .courses-card.justify-center.align-center.-not-data-(v-else)
      Icon.width-60px.margin-height__20(icon="educational")
      .courses-card-create__description.text-center
        | Вы еще не приобрели курс

    Aside(
      v-if="asideIsOpen({name: asideName})"
      :name="asideName"
    )
      template(v-slot="{ asideObject, removeAside }")
        FolderAside(
          :asideObject="asideObject"
          @removeAside="removeAside"
        )
    SuccessFacultyModal

</template>

<script>
  import Folder from './layouts/Folder';
  import FolderAside from './layouts/FolderAside';
  import EmptyFolder from './Folder/EmptyFolder'

  import SuccessFacultyModal from './components/SuccessFacultyModal'

  import {mapState, mapActions} from 'vuex'
  import asideMixin from "@lms/mixins/asideMixin";

  export default {
    mixins: [asideMixin],
    components: {Folder, FolderAside, EmptyFolder, SuccessFacultyModal},
    computed: {
      ...mapState('courses', {
        courseFolders: s => s.data.courseFolders,
        gettingFolders: s=> s.meta.gettingFolders,
      }),
      ...mapState('auth', {
        storeUser: s => s.data.user,
        $permissions: s => s.data.user.permissions.folderModuleAdmin,
        franchGameFolderId: s => s.data.user.franchGameFolderId,
      }),
      ...mapState('coursesFolder', {
        asideName: s => s.data.asideName,
        canSave: s => s.aside.meta.canSave,
        isOpen: s => s.aside.meta.isOpen,
      }),
      ...mapState('coursesCourse', {
        isErrorCourses: s => s.meta.isErrorCourses,
      }),
      showTelegram() {
        return this.storeUser.needTelegram && !this.storeUser.redirectToQuestionnaire
      },
    },
    beforeMount() {
      this.getFolders()
    },
    methods: {
      ...mapActions('courses', {
        getFolders: 'getFolders'
      }),
      openNewFolderAside() {
        this.$store.dispatch('asides/addAside', {
          data: {
            name: this.asideName,
            title: 'Создайте новую папку',
            subtitle: 'После создания вы перейдете к созданию курса',
            folder: {}
          },
          meta: {
            hasChanges: false,
          }
        })
      }
    }
  }
</script>