<template lang="pug">

  .lesson-block.main-block
    .lesson-block__content(v-if="!isEditLocal")
      p.lesson-block__title.main-block__title(v-if="content.header")
        | {{content.header}}

      .lesson-block__markdown.form-item__markdown(
        v-if="content.text"
        v-html="makeHtml(content.text)"
      )


    .lesson-block__content(v-if="isEditLocal")
      Input.lesson-block__edit(
        v-model="contentLocal.header"
        title="Заголовок"
      )

      MarkdownText.lesson-block__edit.form-item__markdown(
        v-model="contentLocal.text"
        title="Описание блока"
      )

      .lesson-block__buttons
        Button.-xs-(@click="saveBlock" :isLoading="isLoading") Сохранить
        ButtonCancel.-xs-.hover__link(@click="cancel") Отмена


    ControlsArrow.lesson__controls(
      :firstBlock="isFirstBlock"
      :lastBlock="isLastBlock"
      v-if="$permissionsUpdate"
      @moveUp="moveUp"
      @moveDown="moveDown"
    )

    OptionsList.course-lesson__options(
      v-if="optionsFields.length"
      :optionsFields="optionsFields"
    )

</template>
	
<script>
	import MarkdownText from '@lms/components/Form/MarkdownText'
	import markdownToHtml from "@lms/functions/converterMarkdownToHtml";
  import blockPermissionMixin from '@lms/views/Courses/Lesson/components/block.permission.mixin'

  export default {
    mixins: [blockPermissionMixin],
		props: {
      permissions: {},
			content: {},
			isEdit: {
				default: false,
				type: Boolean
			},
			arrows: {
				default: true,
				type: Boolean
			},
			isFirstBlock: false,
			isLastBlock: false,
			isLoading: false,
		},
		components: {MarkdownText},
		data() {
			return {
				contentLocal: {},
				isEditLocal: false,
			}
		},
    computed: {
      optionsFields(){
        let arr = []
        if(this.$permissionsUpdate)
          arr.push({
            text: 'Редактировать',
            func: this.openBlockEdit,
            icon: 'edit',
          })
        if(this.$permissionsCreate)
          arr.push({
            text: 'Дублировать',
            func: this.duplicateBlock,
            icon: 'copy',
          })
        if(this.$permissionsDelete)
          arr.push({
            text: 'Удалить',
            func: this.deleteBlock,
            icon: 'delete',
            iconWidth: '10px',
            confirm: true,
            confirmTitle: 'Вы уверены, что хотите удалить этот блок?',
            confirmDescription: 'Блок будет удален навсегда',
            confirmApplyText: 'Удалить',
            confirmCancelText: 'Отменить',
            red: true
          })

        return arr
      },
    },
		mounted() {
			this.setData()

			if(this.contentLocal.forceEdit) {
				this.isEditLocal = true
				delete this.contentLocal.forceEdit
			}
		},
		methods: {
			setData() {
				this.contentLocal = _.cloneDeep(this.content)
			},
			openBlockEdit() {
				this.isEditLocal = true
			},
			deleteBlock() {
				this.$emit('deleteBlock')
			},
			saveBlock() {
				setTimeout(() => {
					this.isEditLocal = false
				}, 1000)

				this.$emit('saveBlock', this.contentLocal)
			},
			cancel() {
				this.isEditLocal = false
				this.setData()
			},
			duplicateBlock() {
				this.$emit('duplicateBlock')
			},
			moveUp() {
				this.$emit('moveUp')
			},
			moveDown() {
				this.$emit('moveDown')
			},
			makeHtml(value) {
				return markdownToHtml.makeHtml(value)
			}
		},
		watch: {
			isEditDefault() {
				this.isEditLocal = this.isEdit
			},
			content() {
				this.setData()
			},
		}

		
	}
</script>