<template lang="pug">
  .rating-user
    Header
      //- .rating-header__block
      //-   UiButton.rating-header__item.-light-(
      //-     to="/rating/hundred"
      //-   ) Рейтинг
    .rating-user__block
      UserInfo(
        :user="user"
        :userStats="userStats"
        :loading="loadingUser"
      )
    .rating-user__block
      CardList(
        :cardList="cardList"
        :loading="loadingUser"
      )
    .rating-user__block
      .rating-user-table__header
        .rating-user-table__header-title
          | Данные за период
          Tooltip
            | Данные заполняются в этой таблице.
            | Если вы ошиблись при заполнении, их можно
            | исправить, нажав на нужное поле.
        UiSelect.rating-user-table__header-select(
          :value="selectedStream"
          :smart="true"
          :canUnset="false"
          :option="availableStreams"
          @input="selectedStream = $event"
          placeholder="Выберите поток"
        )
      StatsTable(
        :table="'test'"
        :week="week"
      )
      .rating-user-chart
        //- .rating-user-chart__header
        //-   UiSelect.-auto-(
        //-     title="Выбор недели"
        //-     v-model="week"
        //-     :option="weekList"
        //-     placeholder="Все недели"
        //-     :canUnset="true"
        //-     unsetText="Все недели"
        //-     :unsetValue="''"

        //-     @input="getUser"
        //-   )
        ChartList(
          :week="week"
        )

</template>

<script>
import {mapState} from 'vuex'

import numberFormat from "@lms/filters/numberFormat.filter";

import DayData from './components/DayData'
import UserInfo from '../../components/UserInfo'
import Chart from '@lms/components/UiKit/Chart'

import StatsTable from './components/StatsTable'
import ChartList from './components/ChartList'

import Header from '../../components/Header'

import CardList from '../../components/CardList'

import Tooltip from '../../components/Tooltip'

import moment from "moment"

export default {
  components: {
    Header,
    DayData,
    UserInfo,
    Chart,
    StatsTable,
    ChartList,
    CardList,
    Tooltip,
  },
  data: () => ({
    week: '',
    weekList: [],
    currentStream: {
      stream: undefined
    }
  }),
  computed: {
    lastMonth() {
      return moment().add(-1, 'month').format('MMMM')
    },
    ...mapState('ratingHundredUser', {
      user: s => s.data.user,
      userWeekList: s => s.data.userWeekList,
      userFaculty: s => s.data.faculty,
      loadingUser: s => s.meta.isLoadingUser,
      availableStreams: s => s.data.availableStreams.map(s => ({ value: s, title: s.name }))
    }),
    ...mapState('auth', {
      businessList: s => s.data.businessTypes
    }),
    businessType() {
      let business = this.businessList.find(({id}) => id === this.user.businessCategoryId)
      return business ? business.text : 'Нет бизнеса'
    },
    selectedStream: {
      get: function() {
        return this.currentStream
      },
      set: function(e) {
        this.currentStream = e
        this.getUser()
      }
    },
    userStats() {
      let stats = [
        {
          title: 'Сфера бизнеса',
          value: this.businessType,
        },
        {
          title: 'Ниша',
          value: this.user.niche || 'Не указана'
        },
        {
          title: 'Сборная',
          value: this.userFaculty || 'Отсутствует'
        },
        {
          title: 'Город',
          value: this.user.city || 'Не указан'
        },

      ]

      return stats
    },
    cardList() {
      return ([
        {
          icon: "round-icon-proceeds",
          title: `${this.getSumChanel(0)} ₽`,
          description: "Выручка за курс"
        },
        {
          icon: "round-icon-profit",
          title: `${this.getSumChanel(1)} ₽`,
          description: "Прибыль за курс"
        },
      ])
    }
  },
  async mounted() {
    this.getUserBusinessTypes()
    
    this.getUser()
    await this.getStreams()
  },
  methods: {
    getUser() {
      this.$store.dispatch('ratingHundredUser/getUser', {
        id: this.$route.params.id,
        weekId: this.week,
        stream: this.selectedStream.stream
      })
    },
    async getStreams() {
      const streams = await this.$store.dispatch('ratingHundredUser/getAvailableStreams', this.$route.params.id)
      this.currentStream = this.availableStreams[this.availableStreams.length - 1]?.value ?? {}
      return streams
    },
    getUserBusinessTypes() {
      if(!this.businessList.length)
        this.$store.dispatch('auth/getUserBusinessTypes')
    },
    getSumChanel(id, path = 'profit') {
      let weekList = this.userWeekList.filter(({channelId, weekId}) => weekId >= 0 && weekId < 6 && channelId === id)
      let sum = weekList.reduce((sum, current) =>{
        let numberFormatTerm = +current[path] || 0
        return +sum + +numberFormatTerm
      }, 0)
      return numberFormat(sum)
    },
  }
}
</script>

<style scoped lang="scss">
@import "public/lms/sass/utils/*";

.rating-user {
  &-table {
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &-title {
        @extend %text-500-14;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 4px;
        .rating-tooltip {
          align-self: unset;
        }
      }
      &-select {
        width: fit-content;
      }
    }
  }
}
</style>
