<template lang="pug">
  .form-item.group__select
    span.form-item__title(v-if="title")
      | {{title}}
    .form-item__block(v-click-outside="close")
      span.form-item__error(v-if="error")
        | {{error}}

      .form-item__select.select(@click="toggleOpen")
        input.form-item__input(
          :value="selected ? 'Урок: '+selected : ''"
          :disabled="true"
          :placeholder="placeholder"
        )
      SlideUpDown.select__slider.-width-170p-(
        :duration="slideDuration"
        :active="isOpen"
      )
        .select__field
          Input(
            placeholder="Поиск урока"
            v-model="searchText"
            style="margin-bottom: 5px;"
          )
          .group__select-list(v-for="fieldItem in computedFields" :key="fieldItem.id+'fieldItem'")
            .group__select-list-tasks
              span.group__select-list-text(
                  @click="click(fieldItem)"
                )
                | {{fieldItem.systemName}}
              span.group__select-list-point
                | {{fieldItem.count}} работ

      Icon.select__icon.form-item__icon(
        :icon="!icon ? 'arrow-down' : icon"
        @click="toggleOpen"
        :class="{'-opened-': isOpen}"
      )

</template>

<script>
  import SlideUpDown from 'vue-slide-up-down';
  import vClickOutside from 'v-click-outside'; 

  export default {
    components: {
      SlideUpDown
    },
    directives: {
      clickOutside: vClickOutside.directive
    },
    props: {
      fields: {
        type: Array,
        default: () => []
      },
      selectData:{},
      title: {},
      error: {},
      placeholder: {},
      icon: {},
      value: {}
    },
    data() {
      return {
        searchText: '',
        isOpen: false,
        slideDuration: 200,
        selected:''
      }
    },
    mounted()
    {
      if ( this.fields && this.value )
        this.setData()
    },
    computed: {
      computedFields() 
      {
        return _.cloneDeep(this.fields).filter( el=> el.systemName.toLowerCase().includes(this.searchText.toLowerCase()) )
      },
      isLoadTasks()
      {
        return this.$store.state['answersValidatingFeed'].meta.isLoadTasks
      }
    },
    watch:{
      selectData( val, oldVal)
      {
        if( val !== oldVal && this.selected )
          this.selected = ''
      },
      value()
      {
        this.setData()
      },
      fields()
      {
        this.setData()
      }
    },
    methods: {
      setData()
      {
        _.cloneDeep(this.fields).forEach( el => 
          {
            let data = el.id == this.value.id;
            if(data && el.systemName)
              this.selected = el.systemName
          }
        )
      },
      toggleOpen() {       
        if (this.selectData && !this.isLoadTasks &&  this.fields.length > 0)
          this.isOpen = !this.isOpen
      },
      close() {
        this.isOpen = false
        this.searchText = ''
      },
      click( value )
      {
        this.$emit('input', { id: value.id, lessonId: value.lessonId, variety: value.variety });
        this.close()
      },
    }
  }
</script>