<template lang="pug">
  .aside__subblock
    .aside__list
      .aside__item
        SelectIds(
          title="Курс"
          placeholder="Выберите курс"
          v-model="item.courseId"          
          icon="arrow-down-thick"
        )
      .aside__item
        SelectTariff(
          title="Тариф"
          v-model="item.tariffId"
          :error="$v.$dirty && !$v.item.tariffId.required"
          :selectData="courseList"
          placeholder="Выберите тариф"
          icon="arrow-down-thick"
        )
      .aside__item
        CustomSelect(
          title="Менеджер / Капитан"
          v-model="item.manager"
          :user="id"
          :trackerId="item.tracker && item.tracker.id ? item.tracker.id : ''"
          placeholder="Выберите менеджера / капитана"
          icon="arrow-down-thick"
        )
      .aside__item
        CustomSelect(
          title="Трекер / Проверяющий"
          v-model="item.tracker"
          :user="id"
          :managerId="item.manager && item.manager.id ? item.manager.id : ''"
          placeholder="Выберите трекера / проверяющего"
          icon="arrow-down-thick"
        )
      //- .aside__item
      //-   SelectInAll(
      //-     title="Наставник"
      //-     :user="id"
      //-     v-model="item.mentor"
      //-     placeholder="Выберите наставника"
      //-     icon="arrow-down-thick"
      //-   )
      .aside__item
        Input(
            title="Факультет"
            placeholder="Факультут"
            v-model.trim="item.faculty"
          )
</template>
<script>
import SelectIds from './SelectIds'
import SelectTariff from './SelectIds/SelectTariff'
import SelectInAll from './SelectIds/SelectInAll'
import CustomSelect from './SelectIds/Select'

import {required} from 'vuelidate/lib/validators'

export default {
  components:{ SelectIds, SelectTariff, CustomSelect, SelectInAll },
  props:['value', 'id'],
  data(){
    return {
      item:{
        courseId: '',
        tariffId: '',
        manager: '',
        tracker: '',
        faculty:'',
      },
      itemBackUp:{
        courseId: '',
        tariffId: '',
        manager: '',
        tracker: '',
        faculty:'',
      },

    }
  },
  computed:{
    courseList(){
      let data = this.$store.state['users'].data['courseList'];
      if(this.item.courseId && data[this.item.courseId])
        return data[this.item.courseId].tariffs
      return []
    }
  },
  mounted(){
    if(this.value){
      this.item = _.cloneDeep(this.value);
      this.itemBackUp = _.cloneDeep(this.item);
    }
  },
  watch:{
    value(){
      if(this.value){
        this.item = _.cloneDeep(this.value);
        this.itemBackUp = _.cloneDeep(this.item);  
      }
    },
    'item.courseId'(){
      this.$store.dispatch('users/getUsersDataList', { id: this.item.courseId});
      let formHasChanges = !_.isEqual(this.item, this.itemBackUp);
      if(formHasChanges)
        this.$emit('compare', {...this.item})
    },
    'item.tariffId'(){
      let formHasChanges = !_.isEqual(this.item, this.itemBackUp);
      if(formHasChanges)
        this.$emit('compare', {...this.item})
    },
    'item.manager'(){
      let formHasChanges = !_.isEqual(this.item, this.itemBackUp);
      if(formHasChanges)
        this.$emit('compare', {...this.item})
    },
    'item.tracker'(){
      let formHasChanges = !_.isEqual(this.item, this.itemBackUp);
      if(formHasChanges)
        this.$emit('compare', {...this.item})
    },
    // 'item.mentor'(){
    //   let formHasChanges = !_.isEqual(this.item, this.itemBackUp);
    //   if(formHasChanges)
    //     this.$emit('compare', {...this.item})
    // },
   'item.faculty'(){
      let formHasChanges = !_.isEqual(this.item, this.itemBackUp);
      if(formHasChanges)
        this.$emit('compare', {...this.item})
    },    
  },
  validations() {
      return {
        item:{
          tariffId: { required }
        }
      }
    },
}
</script>