<template lang="pug">
.email-confirm(
  v-if="outdatedConfirm"
)
  UiModal.email-confirm__modal(
    v-model="isOpen"
    :destroy="true"
  )
    .email-confirm__title
      | Ваш email указан верно?
    .email-confirm__content
      | Пожалуйста, проверьте и подтвердите актуальность вашего email.
      | В случае неверных данных вы можете поменять их в строке ниже:

    MailIcon.email-confirm__image

    UiInput.-background-main-.email-confirm__input(
      title="E-mail"
      v-model="email"
      :popup="validPopup(!$v.email.required, 'Обязательное поле') || validPopup(!$v.email.email, 'Некорректный email')"
    )
    template(#footer)
      .email-confirm__footer
        UiButton(@click="equality ? postpone() : updateUser()") Подтвердить


</template>

<script>
  import MailIcon from "./components/MailIcon"
  import {mapGetters, mapState} from "vuex"
  import {required, email} from 'vuelidate/lib/validators'
  import moment from 'moment'

  export default {
    components: {MailIcon},
    data: ()=>({
      isOpen: true,
      email: '',
      outdatedConfirm: false,
    }),
    computed: {
      ...mapState('auth', {
        user: s => s.data.user,
        storeEmail: s => s.data.user.email,
        gettingUserInfo: s => s.meta.gettingUserInfo,
      }),
      ...mapGetters('auth', {
        isValidMail: 'isValidMail',
      }),
      equality() {
        return this.storeEmail === this.email
      },

    },
    mounted() {
      this.setData()      
    },
    methods: {
      setData() {
        this.email = this.storeEmail
        this.checkOutdatedConfirm()
      },
      async updateUser(data) {
        this.$v.$touch()

        if(this.$v.$invalid) return

        await this.$store.dispatch('settingStore/setData', {
          path: 'stagedUserMain',
          value: {
            ...this.user,
            email: this.email,
          }})
        let status = await this.$store.dispatch('settingStore/settingUpdate', {type: 'main'})
        if(status) {
          this.isOpen = false
          localStorage.removeItem('validMail')
        }
      },
      validPopup(isErr, text) {
        if(!this.$v.$dirty) return

        if(isErr)
          return({ msg: text, error: true })
      },
      postpone() {
        localStorage.setItem(
          'validMail',
          moment().format()
        )
        this.checkOutdatedConfirm()
      },
      checkOutdatedConfirm() {
        let localStorageData = localStorage.getItem('validMail')

        //Повторно показываем модалку через неделю
        if (!localStorageData) 
          this.outdatedConfirm = true
        else
          this.outdatedConfirm = moment().isAfter(moment(localStorageData).add(7, 'days'))
      }
    },
    validations: {
      email: {required, email},
    }
  }
</script>

<style>

</style>