<template lang="pug">
.aside__subblock
    p.aside__subblock-desc
        | Выберите капитанов для добавления
    .aside__list
        .aside__item.-full-
            Search( 
                v-model="selectedCaptian"
                title="Капитан"
                placeholder="Выбрать капитана..."
                )
        .aside__item.-full-.flex.align-center(
            v-for="captain in captainsList" 
            :key="captain.id")
            Avatar(
                :img="captain.avatar"
                circle
                )
            p 
                | {{captain.name}} 
            p 
                | {{captain.lastname}} 
            p 
                | {{captain.email}} 
            Icon.traction__map-svg(
                
                @click="removeCaptain(captain)"
                icon="delete")
</template>
<script>
import {mapState, mapActions} from 'vuex';
import Search from './Search'
export default {
    components:{ Search },
    data(){
        return {
            selectedCaptian: '',
            captainsList: [
                {
                    name: 'ew',
                    lastname: 'qwe'
                },
                {
                    name: 'ew',
                    lastname: 'qwe'
                },
                {
                    name: 'ew',
                    lastname: 'qwe'
                }
            ]
        }
    },
    watch:{
        selectedCaptian(val, oldVal){
            if(val.id !== oldVal.id)
                this.captainsList.push(val)
            this.setAsideData({ path:'addCaptains', value: this.captainsList})
        }
    },
    computed:{
        ...mapState('tractionMap',{
            canSave: s => s.aside.meta.canSave
        })
    },
    methods:{
        ...mapActions('tractionMap', [
            'addTractionMapCaptains',
            'setAsideData'
        ]),
        removeCaptain(item){
            this.captainsList = [...this.captainsList.filter(el=> el.id !== item.id)]
            this.setAsideData({ path:'addCaptains', value: this.captainsList})
        }
    }
}
</script>