<template lang="pug">
    .aside__block
        MainAsideRightHead(
            title="Добавить капитана"
            storePath="tractionMap"
            :canSave="canSave"
            saveText="Добавить"
            @save="addTractionMapCaptains"
        )
        Body
</template>
<script>
import {mapState, mapActions} from 'vuex';
import Body from './Body';
import MainAsideRightHead from '@lms/components/MainAsideRight/MainAsideRightHead';

export default {
    components: { Body, MainAsideRightHead },
    computed:{
        ...mapState('tractionMap',{
            canSave: s => s.aside.meta.canSave
        })
    },
    methods:{
        ...mapActions('tractionMap', [
            'addTractionMapCaptains'
        ])
    }
}
</script>