<template lang="pug">
  .aside__subblock
    .aside__list
      .aside__item
        Select(
          title="Выберите письмо"
          v-model="user.select"
          :selectData="getCourses"
          placeholder="Выберите письмо"
          icon="arrow-down-thick"
        )

      .aside__item
        Input(
          title="Email"
          placeholder="example@email.com"
          :error="$v.$dirty && (!$v.user.email.required || !$v.user.email.email)"
          v-model.trim="user.email"
          @keyup="compare"
        )

      .aside__item
        Input(
          title="Имя"
          placeholder="Дмитрий"
          v-model.trim="user.name"
          @keyup="compare"
        )

      .aside__item
        Input(
          title="Фамилия"
          placeholder="Смирнов"
          v-model.trim="user.lastname"
          @keyup="compare"
        )

      .aside__item
        Input(
          title="Телефон"
          placeholder="+79991234567"
          v-model.trim="user.phone"
          @keyup="compare"
        )

      .aside__item
        Input(
          title="Город"
          placeholder="Москва"
          v-model.trim="user.city"
          @keyup="compare"
        )

      .aside__item
        Input(
          title="Личный сайт"
          placeholder="Укажите ссылку"
          v-model.trim="user.site"
          @keyup="compare"
        )
      .aside__item
        Input(
          title="Ниша бизнеса"
          placeholder="Укажите нишу"
          v-model.trim="user.niche"
          @keyup="compare"
        )
      .aside__item
        Input(
          title="Оборот за прошлый год"
          placeholder="1 000 000 000"
          type="number"
          v-model.trim="user.profitPerYear"
          @keyup="compare"
        )
      .aside__item
        Input(
          title="Чистая прибыль за прошлый год"
          placeholder="1 000 000 000"
          type="number"
          v-model.trim="user.profitPerLastYear"
          @keyup="compare"
        )
</template>

<script>
  import {mapState} from 'vuex'
  import {required, email} from 'vuelidate/lib/validators'

  export default {
    props:{
      value:{}
    },
    data: () => ({
      user: {
        select:'',
        email: '',
        name: '',
        lastname: '',
        phone: '',
        city:'',
        site:'',
        niche:'',
        profitPerYear:'',
        profitPerLastYear:''
      },
      userBackup: {
        select:'',
        email: '',
        name: '',
        lastname: '',
        phone: '',
        city:'',
        site:'',
        niche:'',
        profitPerYear:'',
        profitPerLastYear:''
      },
    }),
    mounted(){
      this.user = _.cloneDeep(this.value)
      this.userBackup = _.cloneDeep(this.user)
    },
    computed: {
      ...mapState('users', {
        canSave: s => s.aside.meta.canSave,
      }),
      ...mapState('auth',{
        courses: s => s.data.courses
      }),
      getCourses(){
        let arr = []
        if(this.courses.length > 0)
          arr = this.courses.map(el=> {
            return {...el, text: el.name}
          })
        
        return arr
      }
    },
    watch:{
      value(){
        this.user = _.cloneDeep(this.value)
        if(!this.user.select)
          this.user.select = typeof this.user.id === 'undefined' ? 'withoutEmail' : 'withoutCourse'
        this.userBackup = _.cloneDeep(this.user)
      },
      'user.select': function ( val ) {
          this.compare()
      }
    },
    methods: {
      compare(){
        if(this.$v.$invalid){
          this.$v.$touch()
          this.$store.dispatch('usersGroupsUsers/setAsideMeta',{ path: 'canSave', value: false })
          return
        }
        
        if(!this.user.select)
          this.user.select = typeof this.user.id !== 'undefined' ? 'withoutEmail' : 'withoutCourse'

        let formHasChanges = !_.isEqual(this.user, this.userBackup);
        if(this.canSave !== formHasChanges)
          this.$emit('compare', this.user )
        if(this.canSave)
          this.$store.dispatch('users/setAsideData', {path: 'user', value: this.user})

      }
    },
    validations() {
      return {
        user: {
          email: { required, email },
        }
      }
    },
  }
</script>