<template lang="pug">
  Header(style="margin-bottom: 22px")
    .rating-header__block(v-if="isLoadingFilters")
      .ajax__line.-round-(
        v-for="n in 2"
        :style="{height: '58px', width: '218px', margin: '2px 2px'}"
      )
    .rating-header__block(v-else)
      UiNestedFilter.rating-header__item.-pointer-(
        title="Выбор продукта в АМО"
        :placeholder="placeholderProducts"
        :option="amoProducts"
        v-model="filter.amoProducts"
        ref="amoProducts"
        @input="changeValue($event, 'amoProducts')"
      )
      UiSelect.rating-header__item.-l-(
        title="Выбор курса"
        placeholder="Введите курс"
        :option="localCourseStreams"
        v-model="filter.courseName"
        :canUnset="false"
        :unset-value="null"
        ref="courseName"
        @input="changeValue($event, 'courseName')"
      )
    .rating-header__block(v-if="isLoadingFilters")
      .ajax__line.-round-(
        v-for="n in 4"
        :style="{height: '58px', width: '128px', margin: '2px 2px'}"
      )
    .rating-header__block(v-else)
      UiNumberInput.rating-header__item.-s-(
        title="Бюджет"
        beforeText="От"
        placeholder="0р"
        v-model="filter.budgetMin"
        :dotAmount="0"
        :differZero="true"
        :showEmpty="false"
        :allowMinus="true"
        @input="changeValue($event, 'budgetMin')"
      )
      span.rating-header__item -
      UiNumberInput.rating-header__item.-s-(
        title="Бюджет"
        beforeText="До"
        placeholder="0р"
        v-model="filter.budgetMax"
        :dotAmount="0"
        :differZero="true"
        :showEmpty="false"
        :allowMinus="true"
        @input="changeValue($event, 'budgetMax')"
      )
      UiNumberInput.rating-header__item.-s-(
        title="Выручка"
        beforeText="От"
        placeholder="0р"
        v-model="filter.revenueMin"
        :dotAmount="0"
        :differZero="true"
        :showEmpty="false"
        :allowMinus="true"
        @input="changeValue($event, 'revenueMin')"
      )
      span.rating-header__item -
      UiNumberInput.rating-header__item.-s-(
        title="Выручка"
        beforeText="До"
        placeholder="0р"
        v-model="filter.revenueMax"
        :dotAmount="0"
        :differZero="true"
        :showEmpty="false"
        :allowMinus="true"
        @input="changeValue($event, 'revenueMax')"
      )
    .rating-header__block(v-if="isLoadingFilters")
      .ajax__line.-round-(
        v-for="n in 3"
        :style="{height: '58px', width: '220px', margin: '2px 2px'}"
      )
    .rating-header__block(v-else)
      UiInput.rating-header__item.-l-(
        title="Имя участника"
        placeholder="Имя участника"
        v-model="filter.name"
        @input="changeValue($event, 'name')"
      )
      UiInput.rating-header__item.-l-(
        title="Почта участника"
        placeholder="Почта участника"
        v-model="filter.email"
        @input="changeValue($event, 'email')"
      )
      UiInput.rating-header__item.-l-(
        title="Город участника"
        placeholder="Город участника"
        v-model="filter.city"
        @input="changeValue($event, 'city')"
      )
    .rating-header__block(v-if="isLoadingFilters")
      .ajax__line.-round-(
        v-for="n in 2"
        :style="{height: '58px', width: '210px', margin: '2px 2px'}"
      )
    .rating-header__block(v-else)
      UiInput.rating-header__item.-m-(
        title="Имя капитана"
        placeholder="Имя капитана"
        v-model="filter.captainName"
        @input="changeValue($event, 'captainName')"
      )
      UiSelect.rating-header__item.-l-(
        title="Выбор факультета"
        placeholder="Выбор факультета"
        :option="localFaculties"
        v-model="filter.facultyId"
        :canUnset="false"
        :unset-value="null"
        ref="courseName"
        @input="changeValue($event, 'facultyId')"
      )
</template>

<script>
import Header from '../../components/Header'
import {mapActions, mapState, mapMutations} from 'vuex'
import replaceRouteQuery from "@lms/functions/replaceMultipleRouteQuery"

export default {
  components: {
    Header,
  },
  computed: {
    ...mapState('ratingSpeedAndHundred', {
      amoProducts: s => s.data.amoProducts,
      courseStreams: s => s.data.courseStreams,
      faculties: s => s.data.faculties,
      isLoadingFilters: s => s.meta.isLoadingFilters,
    }),
    placeholderProducts() {
      if(this.filter.amoProducts.length === 1) {
        return this.filter.amoProducts[0]
      }

      return this.filter.amoProducts.length ? 'Выбрано ' + this.filter.amoProducts.length : 'Ничего не выбрано'
    },
    localCourseStreams() {
      return this.courseStreams ? this.courseStreams.map(item => {
        return {
          title: item.name,
          value: item.name,
        }
      }) : []
    },
    localFaculties() {
      return this.faculties ? this.faculties.map(item => {
        return {
          title: item.name,
          value: item.id + '',
        }
      }) : []
    }
  },
  watch: {
    filter: {
      handler(value, oldVal) {
        if (!value.amoProducts.length || !value.courseName) {
          if (!value.amoProducts.length && (oldVal.courseName !== '' && oldVal.courseName !== null)) {
            this.$refs.amoProducts.$el.classList.add('-error-')
          } else if (!value.courseName && oldVal.amoProducts.length !== 0) {
            this.$refs.courseName.$el.classList.add('-error-')
          }
        } else {
          this.$refs.amoProducts.$el.classList.remove('-error-')
          this.$refs.courseName.$el.classList.remove('-error-')
        }
      },
      deep: true
    },
  },
  data () {
    return {
      filter: {
        amoProducts: ['Скорость Клуб 2'], // Дефолтно выставлены на бэке, тут для того чтобы пользователь понимал это
        courseName: 'Скорость Клуб 2', // Дефолтно выставлены на бэке, тут для того чтобы пользователь понимал это
        budgetMin: null,
        budgetMax: null,
        revenueMin: null,
        revenueMax: null,
        name: null,
        email: null,
        city: null,
        captainName: null,
        facultyId: null
      }
    }
  },
  created () {
    this.initFilter()
  },
  async mounted() {
    this.setMeta({path: 'isLoadingFilters', value: true })
    await this.getDictionary()
    this.setCurrentStream(this.filter.courseName)
  },
  methods: {
    ...mapActions('ratingSpeedAndHundred', ['getDictionary', 'setMeta']),
    ...mapMutations('ratingSpeedAndHundred', ['setCurrentStream']),
    initFilter() {
      let query = this.$route.query
      let filter = this.filter

      this.filter.amoProducts = query['amoProducts'] ?  JSON.parse(query['amoProducts']) : filter.amoProducts;
      this.filter.courseName = query['courseName'] ? query['courseName'] : filter.courseName;
      this.filter.budgetMin = query['budgetMin'] || filter.budgetMin;
      this.filter.budgetMax = query['budgetMax'] || filter.budgetMax;
      this.filter.revenueMin = query['revenueMin'] || filter.revenueMin;
      this.filter.revenueMax = query['revenueMax'] || filter.revenueMax;
      this.filter.name = query['name'] || filter.name;
      this.filter.email = query['email'] || filter.email;
      this.filter.city = query['city'] || filter.city;
      this.filter.captainName = query['captainName'] || filter.captainName;
      this.filter.facultyId = query['facultyId'] || filter.facultyId;
    },
    changeValue(value, name) {
      let obj = {}
      if (this.checkProductAndCourse(value, name)) {
        return
      } else if(name === 'amoProducts' || name === 'courseName') {
        obj['amoProducts'] = JSON.stringify(this.filter.amoProducts)
        obj['courseName'] = this.filter.courseName
        if (name === 'courseName') {
          this.setCurrentStream(this.filter.courseName)
          this.getDictionary() // Для получение новых факультетов
        }
      } else {
        obj[name] = value
      }

      let arrQuery = Object.entries({...this.$route.query, ...obj }).map( el =>
          ({
            method: 'replace',
            name: el[0],
            value: el[1]
          }))

      if(this.checkRouterEqual(arrQuery))
        return

      replaceRouteQuery(arrQuery)
    },
    checkRouterEqual(arrQuery) {
      return !arrQuery.find(param => param.value != this.$route.query[param.name])
    },
    checkProductAndCourse(value, name) {
      if(name === 'amoProducts' || name === 'courseName') {
        if (!this.filter.amoProducts.length && !this.filter.courseName) {
          return true
        }

        if((this.filter.amoProducts.length && !this.filter.courseName) ||
            (!this.filter.amoProducts.length && this.filter.courseName)) {
          return true
        }
      }

      return false
    }
  },
}
</script>

<style scoped>

</style>
