<template lang="pug">
  UiTabs(
    :value="currentTab.id"
    :tab-list="tabs"
    @input="onTabChanged($event)"
  )
    TableEmpty( v-if="!loading && teams.length === 0" style="top: 50%")
    PageScroll.-width-limiter-(
      v-else
      :data="teams"
      @incrementPage="incrementPage"
      :isLoading="loading || noMorePage"
      width="100%"
    )
      Table(
        :navTitles="localNavTitles"
      )
        template(#nav="")
          NavCell(
            v-for="title in localNavTitles" :key="title.id"
            :class="{'-pointer-': title.sortType !== undefined}"
            @click.native="setSort(title)"
          )
            span {{title.title}}
            Icon.ui-space-table__icon.-arrow-(
              v-if="title.sortType !== undefined"
              icon="ui-down"
              :class="{'-active-': title.channelId === sortChanel, '-rotate-': title.sortType}"
            )
            SlideUpDown.header-desktop-link-list(v-if="title.slider !== undefined && title.slider" :active="title.slider.open" :duration="300")
              .silder-text(@click="setSort(title, title.slider, title.slider.channelId === 4 ? 'profitToOne' : 'revenueToOne')")
                span Сортировать по 1 ученику
                Icon.ui-space-table__icon.-arrow-(
                  v-if="title.sortType !== undefined"
                  icon="ui-down"
                  :class="{'-active-': title.slider.channelId === sortChanel && (filter.sort.sortName === 'profitToOne' || filter.sort.sortName === 'revenueToOne'), '-rotate-': (filter.sort.sortName === 'profitToOne' || filter.sort.sortName === 'revenueToOne') && filter.sort.sortType}"
                )
              .silder-text(@click="setSort(title, title.slider, title.slider.channelId === 4 ? 'profitGrowth' : 'revenueGrowth')")
                span Сортировать по процентам
                Icon.ui-space-table__icon.-arrow-(
                  v-if="title.sortType !== undefined"
                  icon="ui-down"
                  :class="{'-active-': title.slider.channelId === sortChanel && (filter.sort.sortName === 'profitGrowth' || filter.sort.sortName === 'revenueGrowth'), '-rotate-': (filter.sort.sortName === 'profitGrowth' || filter.sort.sortName === 'revenueGrowth') && filter.sort.sortType}"
                )

        template(v-if="loading && !loadMore")
          Row(
            v-for="i in 5" :key="`load-${i}`"
            :loading="true"
            :navTitles="navTitles"
            loadCellClass="-full-border-"
            height="43px"
          )
        template(v-else)
          Spoiler(
            v-for="team in teams" :key="team.id"
            :navTitles="navTitles"
            :title="team.name"
            :fillable="team.fillable"
            :revenueToOne="getFormattedValue(team.revenueToOne)"
            :profitToOne="getFormattedValue(team.profitToOne)"
            :profitGrowth="team.profitGrowth"
            :revenueGrowth="team.revenueGrowth"
            @opened="openSpoiler(team)"
            @closed="closeSlider(team)"
          )
            .ajax__line.-round-(
              v-if="loadingUserValuesTeamId === team.id"
              v-for="user in team.users" :key="user.lmsUserId"
              :style="{height: '300px', width: '100%', margin: '10px 0'}"
            )
            UserCard(
              v-else-if="activeSpoilers.find(e => e === team.id)"
              v-for="user in team.users" :key="user.lmsUserId"
              :user="user"
              :values="userValues[user.lmsUserId] ? userValues[user.lmsUserId] : []"
            )
        Row(
          v-if="loadMore"
          :key="`load-more`"
          :loading="true"
          :navTitles="navTitles"
          loadCellClass="-full-border-"
          height="43px"
        )

</template>

<script>
import { mapState } from 'vuex';

import Table from '../../components/Table'
import Row from '../../components/Table/Row'
import Spoiler from '../../components/Table/Spoiler'
import Cell from '../../components/Table/Cell'
import NavCell from '../../components/Table/NavCell'
import UserCard from './UserCard'
import UiTabs from '@lms/components/UiKit/Tabs';
import numberFormat from "toolbox/filters/numberFormat.filter"
import SlideUpDown from 'vue-slide-up-down';
import replaceRouteQuery from "@lms/functions/replaceMultipleRouteQuery"
import axios from 'axios';

export default {
  components: {
    Table,
    Row,
    Cell,
    NavCell,
    Spoiler,
    UserCard,
    UiTabs,
    SlideUpDown,
  },
  props: {
    navTitles: {
      type: Array,
      default: () => ([])
    },
    tabs: {
      type: Array,
      required: true
    },
    currentTab: {
      type: Object,
      required: true
    }
  },
  data: ()=> ({
    sortChanel: null,
    loadMore: false,
    activeTab: 0,
    activeSpoilers: [],
    isOpen: false,
    localNavTitles: null,
    filter: {
      sort: {
        channelId: null,
        // 0 - DESC; 1 - ASC
        sortType: null,
        sortName: null,
      }
    },
    userValues: {},
    loadingUserValuesTeamId: null
  }),
  created () {
    this.localNavTitles = this.navTitles
    this.initFilter()
  },
  computed: {
    ...mapState('ratingSpeedAndHundred', {
      teams: s => s.data.teams,
      page: s => s.data.page,
      isLoading: s => s.meta.isLoadingTeams,
      isLoadingPage: s => s.meta.isLoadingPage,
      noMorePage: s =>s.meta.noMorePage,
      currentStream: s => s.data.currentStream,
    }),
    isAdmin() {
      return this.$store.state['auth'].data.user.permissions.isAdmin
    },
    loading() {
      return this.isLoading || this.isLoadingPage
    }
  },
  methods: {
    openSpoiler(team) {
      let teamUserIds = team.users.map(user => user.lmsUserId)
      let userIds = []
      let values = this.userValues
      teamUserIds.forEach(function (item) {
        if (values.length === 0 || !values[item]) {
          userIds.push(item)
        }
      })
      if (userIds.length) {
        this.loadingUserValuesTeamId = team.id
        axios.get('/api/traction-analytics/speed-and-hundred/values', {
          params: {
            users: userIds,
            stream: this.currentStream.name
          }
        })
          .then(response => {
            let data = response.data.data
            for (let [key, item] of Object.entries(data)) {
              this.userValues[key] = item
            }
          })
          .finally(() => {
            this.loadingUserValuesTeamId = null
            this.activeSpoilers.push(team.id)
          })
      } else {
        this.activeSpoilers.push(team.id)
      }
    },
    closeSlider(team) {
      this.activeSpoilers.filter(e => e !== team.id)
    },
    initFilter() {
      let query = this.$route.query
      let filter = this.filter.sort

      this.filter.sort.channelId = parseInt(query['channelId']) || filter.channelId;
      if (query['ascending']) {
        this.filter.sort.sortType = query['ascending'] === 'true' ? 1 : 0
      } else {
        this.filter.sort.sortType = filter.sortType;
      }
      this.filter.sort.sortName = query['sortBy'] || filter.sortName;

      this.sortChanel = filter.channelId
      if (filter.channelId > 3) {
        this.changeSort({channelId: this.filter.sort.channelId, sortType: this.filter.sort.sortType}, filter)
      } else {
        this.changeSort({channelId: this.filter.sort.channelId, sortType: this.filter.sort.sortType})
      }
    },
    getFormattedValue(value) {
      return numberFormat(value, this.noDot)
    },
    onTabChanged(tabId) {
      this.$emit('tabChanged', tabId)
    },
    setSort(title, slider = null, name = null) {
      if(title.channelId === undefined && title.sortType === undefined)
        return

      if(!slider && title.slider !== undefined && title.slider) {
        title.slider.open = !title.slider.open
        this.$emit('input', title)
        return
      }

      let channelId = title.channelId
      let sortType = title.sortType
      let sortName = title.sortName
      if(slider) {
       channelId = slider.channelId
       sortType = slider.sortType
       sortName = name
      }

      if (channelId !== this.filter.sort.channelId) {
        this.changeSort({channelId}, slider)
      }
      if (channelId === this.filter.sort.channelId && sortType === this.filter.sort.sortType) {
        this.filter.sort.sortType = sortType ? 0 : 1
      } else {
        this.filter.sort.sortType = sortType
      }
      this.changeSort({channelId, sortType: sortType ? 0 : 1}, slider);
      this.filter.sort.sortName = sortName
      this.sortChanel = channelId

      let query = []
      query['sortBy'] = this.filter.sort.sortName
      query['channelId'] = this.filter.sort.channelId
      query['ascending'] = this.filter.sort.sortType ? 'true' : 'false'
      this.multipleChangeValue(query)
    },
    changeSort({channelId, sortType}, slider = null) {
      if(channelId !== undefined)
        this.filter.sort.channelId = channelId

      if(channelId !== undefined && sortType !== undefined) {
        if(slider) {
          let idx = this.localNavTitles.findIndex(nav => nav.channelId === channelId)
          if (idx === -1) return
          this.localNavTitles[idx].slider = slider;
        } else {
          let idx = this.localNavTitles.findIndex(nav => nav.channelId === channelId)
          if (idx === -1) return
          this.localNavTitles[idx].sortType = sortType;
        }
      }
    },
    multipleChangeValue(params) {
      let arrQuery = Object.entries({...this.$route.query, ...params }).map( el =>
          ({
            method: 'replace',
            name: el[0],
            value: el[1]
          }))

      if(this.checkRouterEqual(arrQuery))
        return

      replaceRouteQuery(arrQuery)
    },
    checkRouterEqual(arrQuery) {
      return !arrQuery.find(param => param.value != this.$route.query[param.name])
    },
    async incrementPage() {
      this.loadMore = true
      await this.$store.dispatch('ratingSpeedAndHundred/setData', { path:'page', value: this.page + 1})
      await this.$store.dispatch('ratingSpeedAndHundred/getUsersList')
      this.loadMore = false
    },
  },
}
</script>

<style>

</style>
