<template lang="pug">
  .rating-speed-hundred-user-card
    .rating-speed-hundred-user-card__data
      .rating-speed-hundred-user-card__data-item
        .rating-speed-hundred-user-card__data-text
          b {{ user.name }} ( id-{{ user.lmsUserId }} )
        .rating-speed-hundred-user-card__data-text
          Icon.rating-speed-hundred-user-card__data-icon(icon="mail")
          | {{ user.email }}
        .rating-speed-hundred-user-card__data-text
          Icon.rating-speed-hundred-user-card__data-icon(icon="phone")
          | {{ user.phone }}
        .rating-speed-hundred-user-card__data-text
          Icon.rating-speed-hundred-user-card__data-icon(icon="maps-and-flags")
          | {{ user.city }}
      .rating-speed-hundred-user-card__data-item
        .rating-speed-hundred-user-card__data-text
          span.rating-speed-hundred-user-card__data-text.-grey-
            | Факультет:
          |  {{ user.facultyName }}
        .rating-speed-hundred-user-card__data-text
          span.rating-speed-hundred-user-card__data-text.-grey-
            | Капитан:
          |  {{ user.captainName }}
        .rating-speed-hundred-user-card__data-text
          span.rating-speed-hundred-user-card__data-text.-grey-
            | Просмотрено уроков:
          |  {{ user.lessonViews }}
      .rating-speed-hundred-user-card__data-item
        .rating-speed-hundred-user-card__data-text(v-if="user.responsiblePartnerName")
          span.rating-speed-hundred-user-card__data-text.-grey-
            | Ответственный партнер:
          |  {{ user.responsiblePartnerName }}
        .rating-speed-hundred-user-card__data-text(v-if="user.addedBy")
          span.rating-speed-hundred-user-card__data-text.-grey-
            | Добавил:
          |  {{ user.addedBy }}
        a(
          v-if="user.amoLeadId"
          :href="'https://likebusiness.amocrm.ru/leads/detail/' + user.amoLeadId"
          target="_blank"
        )
          Icon.rating-speed-hundred-user-card__data-button(
            v-if="user.amoLeadId"
            icon="amocrm-link"
          )
    .rating-speed-hundred-user-card__table
      MetricsTable.speed-hundred-user-card(
        :traction-data="tractionData"
        :traction-metrics="tractionTypes"
        :show-tooltip="false"
        :can-select-course="false"
        :can-edit="false"
        :style="{ zIndex: 'unset' }"
      )

</template>

<script>
import Cell from '../../components/Table/Cell'
import Row from '../../components/Table/Row'
import Table from '../../components/Table/'
import NavCell from '../../components/Table/NavCell'
import MetricsTable from '../../Unified/User/components/MetricsTable'
import numberFormat from 'toolbox/filters/numberFormat.filter'
import { mapState } from 'vuex'
import {
  processCoursesList,
  filterMetrics,
  mapTraction
} from '@lms/store/rating/unified/createTractionTimeline';

export default {
  props: {
    user: {},
    values: {
      type: Array,
      default: () => []
    }
  },
  components: {
    Cell,
    Row,
    Table,
    NavCell,
    MetricsTable
  },
  data() {
    return {
      tractionData: [],
    }
  },
  computed: {
    ...mapState('ratingSpeedAndHundred', {
      courseStreams: s => s.data.courseStreams,
      currentStream: s => s.data.currentStream,
      tractionTypes: s => s.data.tractionTypes,
    }),
    navTitles() {
      let titles = [{
        id: 0,
        title: 'Метрики',
        width: '1fr'
      }]

      for (const [key, value] of Object.entries(this.user.revenue)) {
        titles.push(key)
        titles[key] = {
          title: key,
          id: parseInt(key),
          width: '1fr',
        }
      }

      return titles
    }
  },
  created() {
    const processedCourses = processCoursesList([this.currentStream])
    const filteredMetrics = filterMetrics(this.tractionTypes, processedCourses)
    this.tractionData = mapTraction(this.values, filteredMetrics)
  },
  methods: {
    getFormattedValue(value) {
      return numberFormat(value, this.noDot)
    },
  }
}
</script>

<style scoped>

</style>
