<template lang="pug">
  transition(name="fade" appear)
    .side-confirm(
      ref="popup"
      tabindex="1"
      @keyup.esc="confirmClose(false)"
    )
      .side-confirm-container
        Icon.side-confirm-container__close(@click="confirmClose(false)" icon="side-confirm-close")
        p.side-confirm__text
          | {{confirmText}}
        .side-confirm-buttons
          .side-confirm__button.-cancel-(
            @click="confirmClose(false)"
            tabindex="2"
          )
            | {{cancelText}}
          .side-confirm__button.-agree-(
            @click="confirmClose(true)"
            tabindex="3"
          )
            | {{agreeText}}

</template>

<script>
  export default {
    props: {
      confirmText: {
        type: String,
        default: 'Есть несохраненные изменения. \n Все равно закрыть форму?'
      },
      cancelText: {
        type: String,
        default: 'Остаться'
      },
      agreeText: {
        type: String,
        default: 'Закрыть'
      }
    },
    mounted() {
      this.$refs.popup.focus()
    },
    methods: {
      confirmClose(val) {
        this.$emit('confirmClose', val)
      }
    }
  }
</script>
