<template lang="pug">
  transition(name="aside-background" appear)
    .side(
      :class="[{'-secondary-': isSecondary, '-is-closing-': isClosing}, propClasses]"
      ref="side"
      @keyup.esc="removeAside"
      @mousedown.self="removeAside"
      tabindex="0"
    )
      Confirm(
        v-if="showConfirm"
        @confirmClose="confirmClose"
      )
      UiModal.side-container-loader(
        v-if="asideObject.aside.meta && asideObject.aside.meta.showLoader"
        :showFooter="false"
        :showClose="false"
        :value="true"
      )
        UiLoaderDots.side-container-loader__dots
        p.side-container-loader__text Подождите немного, это может занять некоторое время
      transition(name="aside" appear)
        .side-container(
          v-if="showContent"
          :class="asideObject.aside.data && asideObject.aside.data.contentClass"
        )
          Icon.side-container__close(
            icon="side-close"
            @click="removeAside"
          )
          .side-container__slot(:class="asideObject.aside.data && asideObject.aside.data.slotClass")
            slot(
              :asideObject="asideObject"
              :removeAside="removeAside"
            )

</template>

<script>
  import {mapActions, mapGetters, mapState} from 'vuex'
  import Confirm from "./Confirm";
  import UiLoaderDots from "toolbox/components/UiKit/LoaderDots/index";

  export default {
    components: {UiLoaderDots, Confirm},
    props: {
      name: {
        type: String,
        required: true
      },
      propClasses: {
        type: String,
        default: ''
      }
    },
    data: () => ({
      showContent: false,
      isClosing: false,
      showConfirm: false,
      confirmResult: undefined
    }),
    computed: {
      ...mapState('asides', {
        asides: s => s.data.asides
      }),
      ...mapGetters('asides', {
        storeGetAsideObject: 'getAsideObject',
      }),
      asideObject() {
        return this.storeGetAsideObject({name: this.name})
      },
      isSecondary() {
        return this.asideObject && this.asideObject.asideIndex !== 0
      }
    },
    mounted() {
      setTimeout(() => {
        this.showContent = true
      }, 100)
      this.$root.$el.append(this.$el)
      this.$refs.side.focus()
    },
    watch: {
      'asides.length'(length) {
        if(length-1 === this.asideObject.asideIndex)
          this.$refs.side.focus()
      },
      asideObject(obj) {
        if(obj.aside && obj.aside.meta.close)
          this.removeAside()
      },
      showConfirm() {
        this.$refs.side.focus()
      }
    },
    methods: {
      ...mapActions('asides', {
        storeRemoveAside: 'removeAside',
        updateAsideMeta: 'updateAsideMeta'
      }),
      removeAside() {
        // Если идет загрузка
        if(this.asideObject.aside.meta && this.asideObject.aside.meta.showLoader)
          return

        // Если есть изменения и конфирм еще не был показан
        if(this.asideObject.aside.meta.hasChanges && this.confirmResult === undefined) {
          this.showConfirm = true
          return
        }

        // Если надо показать конфирм или если конфирм отменили
        if(this.showConfirm || this.confirmResult === false) {
          this.confirmResult = undefined
          return
        }

        // Закрытие
        this.showContent = false
        this.isClosing = true

        setTimeout(() => {
          this.storeRemoveAside({name: this.name})
        }, 100)
      },
      confirmClose(close) {
        if(!close && this.asideObject.aside && this.asideObject.aside.meta.close)
          this.asideObject.aside.meta.close = false

        // setTimeout пушто 2 события esc и первое отрабатывает от side
        setTimeout(() => {
          this.$emit('confirmClose')
          this.confirmResult = close
          this.showConfirm = false

          this.removeAside()
        }, 0)
      }
    },
    destroyed() {
      setTimeout(() => {
        this.$el.parentNode.removeChild(this.$el)
      }, 100)
    }
  }
</script>

<style lang="scss" scoped>
  .side {
    &.-secondary- {
      background: rgba(0,0,0,.1);
    }
    &.-is-closing- {
      pointer-events: none;
    }
  }
</style>