<template lang="pug">
  li(:class="{'nav__item': type !== 'subitem', 'nav__subitem': type === 'subitem'}")
    router-link(
        v-if="tag === 'link'"
        :class="{'nav__link': type !== 'subitem', 'nav__sublink': type === 'subitem', '-active-': activeInActivePaths}"
        active-class="-active-"
        :to="currentPath"
        :title="title"
        exact="exact"
    )
      Icon.nav__icon(
        v-if="type != 'subitem'"
        :class="iconClass ? iconClass : ''"
        :icon="icon"
      )
      p.nav__text {{title}}

    a.nav__link(
      v-else
      :target="target"
      :href="currentPath"
      :title="title"
    )
      Icon.nav__icon(
        :class="iconClass ? iconClass : ''"
        :icon="icon"
      )
      p.nav__text {{title}}

</template>

<script>
  export default {
    props: {
      path: {
        type: String,
        default: '/empty'
      },
      title: {
        type: String,
        default: 'Нет заголовка'
      },
      icon: {
        type: String,
        default: 'empty'
      },
      tag: {
        type: String,
        default: 'link'
      },
      target: {
        type: String,
        default: '_blank'
      },
      type: {
        type: String,
        default: 'item'
      },
      exact: {
        type: Boolean,
        default: false
      },
      iconClass: {
        default: false
      },
      activePaths: {
        type: Array,
        default: () => []
      }
    },
    computed: {
      currentPath(){
        let path = this.path
        let query = Object.keys( this.$route.query)
        if(this.path == this.$route.path && query.length > 0){
          return {
            path: this.$route.path,
            query: this.$route.query
          }
        }
        return path
      },
      activeInActivePaths() {
        if(!this.activePaths && !this.activePaths.length)
          return

        return this.activePaths.find(el => this.$route.path.includes(el))
      }
    }
  }
</script>