<template lang="pug">
  .rating-card-list-dropdown
    .rating-card-list-dropdown__list(
      v-if="loading"
      :style="gridTemplateColumns"
    )
      .ajax__line.-round-(
        v-for="n in width"
        :style="{height: '80px', width: '100%', margin: '2px 0'}"
      )
    .rating-card-list-dropdown__list(
      v-else
      :style="gridTemplateColumns"
    )
      .rating-card-list-dropdown__item(
        v-for="card in cardList"
        :key="card.id"
        :class="(card.class)"
        @click="openCard(card.id)"
      )
        .rating-card-list-dropdown__content
          p.rating-card-list-dropdown__title
            | {{ card.title }}
          p.rating-card-list-dropdown__value
            | {{ card.value }}
            Icon.rating-card-list-dropdown__arrow(
              v-if="card.canOpen"
              icon="ui-down"
              :class="{'-rotate-': value === card.id}"
            )
        Icon.rating-card-list-dropdown__icon(
          :icon="card.icon"
        )
        .rating-card-list-dropdown__opener-helper(
          v-if="card.canOpen && value === card.id"
        )
    DropdownOpener(
      :values="cardList"
      :activeId="value"
    )


</template>

<script>
import DropdownOpener from "./components/DropdownOpener";

export default {
  props: {
    value: {
      default: null
    },
    cardList: {},
    loading: {
      default: false,
    },
    width: {},
    nameClass: {},
    titleClass: {},
  },
  components: {
    DropdownOpener,
  },
  computed: {
    gridTemplateColumns() {
      if (this.width !== null && this.width !== undefined)
        return {gridTemplateColumns: `repeat(auto-fit, minmax(${this.width}, 1fr))`}
    },
  },
  methods: {
    openCard(id) {
      if (this.value === id ) {
        this.$emit('input', null)
      } else {
        this.$emit('input', id)
      }
    }
  }

}
</script>

<style>

</style>
