<template lang='pug'>
  .table
    RowItem(v-if="data" :data="data" :margin="marginLeft" :folder="item" :isFolder="true" :isOpen="isOpen" @click="toggleClick")
    transition(duration="200" name="fade")
      .table__next(v-if="isOpen")
        template(v-if="data.courses && data.courses.length")
          TableRow(v-for="folder in data.courses" :data="folder" :item="data" :key="folder.id" :marginLeft="margin" :isFolder="true")
        template(v-if="data.teams && data.teams.length")  
          RowItem(v-for="team in data.teams" :key="team.id" :folder="item" :isFolder="false" :data="team" :margin="margin")  
</template>
	
<script>
import RowItem from './RowItem';

	export default {
    name:'TableRow',
    components:{
      RowItem
    },  
		props: ['data','marginLeft','item'],
    data() {
      return {
        isOpen:false,
      }
    },
    computed:{
      margin(){
        return +this.marginLeft + 20
      }
    },
    methods: {
      toggleClick(){
        this.isOpen = !this.isOpen
      },
    }
	}
</script>