<template lang="pug">
  ul.table__row(v-if="isFolder" @click="$emit('click')")
    li.table__col(:style="{'marginLeft':margin+'px'}")
      p.table__text.table__text-folder
        template
          .table___text
            | {{data.name}}
          .table__text-folder-point
            Icon.form-item__icon.select__icon( icon="arrow-down" :class="{'-opened-': isOpen}")
    li.table__col
      p.table__text

    li.table__col
      p.table__text
    li.table__col
      p.table__text
  ul.table__row(v-else)
    li.table__col(:style="{'marginLeft':margin+'px'}")
      p.table__text
        | {{data.name}}

    li.table__col
      p.table__text
        | {{data.count}}
    li.table__col
      .table__actions(ref="tableaction")
        Icon.pointer(icon="gear" @click="openGroup()" v-if="$permissionsUpdate")
        Icon.pointer(icon="user-unknown" @click="goToGroupUsers()")
        Icon.pointer(icon="delete" @click="clickAction('delete')" v-if="$permissionsDelete")

      transition(v-if="confirm" name="fadePreloader")
          Confirm.table__confirm-action(
            :parent="$refs.tableaction"
            :isOpen.sync="confirm"
            v-model="selected"
            :selectedField="selectedField"
          )
    li.table__col
      p.table__text
        | {{data.id}}

</template>

<script>
  import vClickOutside from 'v-click-outside';
  import {mapState} from 'vuex';

  export default {
    directives: {clickOutside: vClickOutside.directive},
    props: ['data', 'isFolder', 'isOpen', 'count', 'margin', 'folder'],
    data() {
      return {
        action: '',
        selected: '',
        selectedField: '',
        confirm: false,
        promiseInterval: '',
        options: {
          update: {
            text: 'Редактировать',
            func: this.openGroup,
            icon: 'edit',
          },
          goTo: {
            text: 'Перейти к команде',
            func: this.goToGroupUsers,
            icon: 'user-unknown',
          },
          delete: {
            text: 'Удалить',
            func: this.deleteGroup,
            icon: 'delete',
            iconWidth: '10px',
            confirm: true,
            confirmTitle: 'Вы уверены, что хотите удалить команду?',
            confirmApplyText: 'Удалить',
            confirmCancelText: 'Отменить',
            red: true
          }
        }

      }
    },
    computed: {
      ...mapState('auth', {
        $permissions: s => s.data.user.permissions.userTeamModuleAdmin,
        $otherPermissions: s => s.data.user.permissions,
        isAdmin: s => s.data.user.permissions.isAdmin
      }),
    },
    methods: {
      async clickAction(action) {
        let result;
        this.confirm = true
        this.selectedField = this.options[action]
        result = await new Promise((res, rej) => {
          this.promiseInterval = setInterval(() => {
            if (this.selected === 'success')
              res('next')
            else if (this.selected === 'cancel')
              res('cancel')
          }, 50)
        })

        this.clearConfirmData()

        if (result === 'cancel')
          return

        this.options[action].func()

      },
      clearConfirmData() {
        this.confirm = false
        this.selected = ''
        if (this.promiseInterval)
          clearInterval(this.promiseInterval)
      },
      openGroup() {
        this.$store.dispatch('usersTeam/setAsideData', {path: 'team', value: this.data})
        this.$store.dispatch('usersTeam/setAsideMeta', {path: 'isOpen', value: true})
      },
      goToGroupUsers() {
        this.$router.push({path: `/users/team/${this.data.id}/users`})
        this.$store.dispatch('usersTeamMembers/setData', {path: 'folder', value: this.folder.id})
      },
      deleteGroup() {
        this.$store.dispatch('usersTeam/deleteTeam', this.data.id)
      }
    }
  }
</script>