<template lang="pug">
.-answers-analytics__table
  ul.table__row.-answers-analytics__table-row
    li.table__col.-answers-analytics__table-col    
      Avatar( circle size="s")
      p.table__text.table__text-withAvatar.pointer.-answers-analytics__name.margin-left__10
        p.ajax__line.ajax__line-table-text
    li.table__col.-answers-analytics__table-col
      .-answers-analytics__info
        p.table__text.-overflow-.-answers-analytics__title
          p.ajax__line.ajax__line-table-text
    li.table__col.-answers-analytics__table-col(
      v-for="item in 3" 
      :key="item"
    )
      .-answers-analytics__info
        p.table__text.-overflow-.-answers-analytics__title
          p.ajax__line.ajax__line-table-text

    li.table__col.-answers-analytics__table-col
      Icon.select__icon.form-item__icon( 
        icon="arrow-down-thick"
      )
</template>