<template lang="pug">
.questionnaire-content-list
  .questionnaire-content-list__item(
    v-for="(item, idx) in list" :key="item.id"
  )
    p.questionnaire-content-list__item-name
      //- TODO сделать нормально - задача на 5 минут
      span(v-if="!item.hidden") {{idx + 1}}. 
      span(v-html="item.name")
    .questionnaire-content-list__button-list-wrap(
        v-if="item.buttonList"
      )
      .questionnaire-content-list__button-list
        UiButton.questionnaire-content-list__button.-gray-(
          target="_blank"
          v-for="button in item.buttonList" :key="button.id"
          :href="button.href"
        ) 
          p.questionnaire-content-list__button-field
            Icon.questionnaire-content-list__button-icon(:icon="button.icon")
            span {{button.name}}
</template>

<script>
export default {
  props: {
    list: {},
  },
}
</script>

<style>

</style>