<template lang="pug">
  .ui-space-table__col()
    .ui-space-table__col-container.-flex-
      p.ui-space-table__text
        slot
</template>

<script>
export default {

}
</script>

<style>

</style>