<template lang="pug">
  .ui-space-part.-table-
    .ui-space-table
      .ui-space-table__container
        .ui-space-table__head
          .ui-space-table__row.-nav-(
            :style="{'grid-template-columns': gridLayout}"
          )
            slot(name="nav")
              .ui-space-table__col(
                v-for="title in navTitles" :key="title.id"
                :class="title.selector && `-${title.selector}-`"
              )
                .ui-space-table__col-container
                  p.ui-space-table__title
                    | {{title.title}}
        .ui-space-table__body
          slot
      
  
</template>

<script>
import Row from './Row'

export default {
  components: {
    Row
  },
  props: {
    defaultWidth: {
      default: '60px',
    },
    navTitles: {}

  },
  computed: {
    gridLayout() {
      const result = []

      this.navTitles.forEach(prop => {
        if (!prop) return
        result.push((prop.width || this.defaultWidth))
      })

      return result.join(' ')
    },
  },
  methods: {
    navClick(id) {
      this.$emit('navClick', id)
    }

  },

}
</script>

<style>

</style>