<template>
  <div class="aside__header" ref="header">
    <div class="aside__header-main">
      <p class="aside__title">{{title}}</p>
    </div>
    <Icon @click="closeAside" class="aside__close -header-" icon="aside-close"/>
    <div class="aside__header-controls">
      <div v-if="saveText" @click="save" :class="`button button-primary -s- ${canSave ? '' : '-disabled-'}`">{{saveText}}</div>
      <AsideOptions
          v-if="optionsVisible"
          :isOpen="isOpen"
          :optionDeleteText="optionDeleteText"
          :optionDeleteConfirmText="optionDeleteConfirmText"
          @optionDelete="optionDelete"
          @deleteConfirm="deleteConfirm"
          @closeAside="closeAside"
      >
        <template v-slot:items>
          <slot name="optionsItems"/>
        </template>
      </AsideOptions>
    </div>


    <transition name="fade">
      <SlotTooltip
          v-if="popupActive"
          :isOpen.sync="popupActive"
          position="absolute"
          style="top: 0px; right: 0px"
      >
        <div class="tooltip__block tooltip__delete" style="display: block;">
          <p class="tooltip__title">{{optionDeleteConfirmText}}</p>
          <div class="form__buttons">
            <button class="button button--s button-primary" @click="optionDelete" type="button">Да</button>
            <button class="button button--s button-cancel" @click="popupActive = false" type="button">Нет</button>
          </div>
        </div>
      </SlotTooltip>
    </transition>
  </div>
</template>

<script>
  import AsideOptions from './AsideOptions'
  export default {
    components: {AsideOptions},
    props: {
      title: {
        default: ''
      },
      saveText: {
        default: 'Сохранить'
      },
      canSave: {
        default: true
      },
      optionsVisible: {
        default: false
      },
      isOpen: {
        default: false
      },
      optionDeleteText: {
        default: ''
      },
      storePath: {
        default: ''
      },
      optionDeleteConfirmText: {}
    },
    data: () => ({
      popupActive: false
    }),
    methods: {
      save(){
        if(!this.canSave) return

        this.$emit('save')
      },
      optionDelete(){
        this.popupActive = false
        this.$emit('optionDelete')
        this.closeAside()
      },
      closeAside(){
        this.$store.dispatch(`${this.storePath}/setAsideMeta`, {path: 'forceClose', value: true})
      },
      deleteConfirm(){
        this.popupActive = true
      }
    },
  }
</script>