<template lang="pug">
component.ui-kit-button(
  :is="tag"
  :type="(href || to) ? null : type"
  :to="to"
  :href="href"
  :target="target"
  :class="[`-${color}-`, minSize ? `-min-size-${minSize}-` : '', {'-disabled-': disabled, '-wide-': wide}, ]"
  :disabled="disabled || loading"
  @click="click")
  p
    slot
  Icon.ui-kit-button__icon(v-if="icon" :icon="icon")
</template>

<script>
export default {
  props: {
    href: {
      type: String,
      default: undefined
    },
    to:{
      type: String,
      default: undefined
    },
    target: {
      type: String,
      default: undefined
    },
    color: {
      type: String,
      default: "primary",
    },
    type: {
      type: String,
      default: "button",
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: String,
      default: undefined
    },
    minSize: {
      type: String,
      default: ""
    },
    wide: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    tag() {
      if(this.href) return 'a'
      if(this.to) return 'router-link'
      return 'button'
    }
  },
  methods: {
    click() {
      this.$emit('click')
    }
  }
};
</script>

<style>
</style>
