<template lang="pug">
  .filters(v-click-outside="close")
    .filters__main(
      :class="{'-active-': hasQuery}"
      @click.self="toggleOpen"
    )
      Icon.filters__main-icon(
        icon="search-thin"
        @click="toggleOpen"
      )
      input.form-item__input.-input-only-(
        title="Межстрочное расстояние"
        v-model="search"
        placeholder="Поиск"
        @input="setSearchQuery"
        @click="toggleOpen"
      )
      //- .form-item__input.-input-only-(@click="toggleOpen") Поиск и фильтры

      Icon.filters__main-clear(
        @click="clearFilters"
        :class="{'-active-': hasQuery}"
        icon="close"
      )
    SlideUpDown.filters__slider(
      :active="open"
      :duration="300"
    )
      //- FiltersModal(
      //-   :accounts="accounts"
      //-   :statuses="statuses"
      //-   :contacts="contacts"
      //-   :dateOfNextAction="dateOfNextAction"
      //-   :createdAt="createdAt"
      //-   :categories="categories"
      //-   :storePath="storePath"
      //- )
</template>

<script>
  import FiltersModal from './layouts/FiltersModal'
  import SlideUpDown from 'vue-slide-up-down'
  import vClickOutside from 'v-click-outside'
  import replaceRouteQuery from "@lms/functions/replaceMultipleRouteQuery"

  export default {
    directives: {clickOutside: vClickOutside.directive},
    components: {SlideUpDown, FiltersModal},
    props: ['statuses', 'accounts', 'contacts', 'dateOfNextAction', 'createdAt', 'categories','storePath'],
    data: () => ({
      open: false,
      search: ''
    }),
    computed: {
      hasQuery(){
        let query = _.cloneDeep(this.$route.query)

        if(query.page)
          delete query.page

        if(query.corona)
          delete query.corona

        return Object.keys(query).length
      }
    },
    watch:{
      '$route.query':function(val){
          this.loadUsers();
      }
    },
    mounted(){
      if(this.$route.query) {
        this.search = this.$route.query.name
      }
    },
    methods: {
      async loadUsers(){
        this.$store.dispatch(`${this.storePath}/searchMethods`)
      },
      toggleOpen(){
        if(this.statuses || this.contacts || this.dateOfNextAction || this.createdAt || this.categories)
          this.open = !this.open
      },
      close(){
        this.open = false
      },
      setSearchQuery(){
        replaceRouteQuery([{value: this.search, name: 'name', method: 'replace'}])
      },
      clearFilters(){
        let query = {}

        if(this.$route.query.page)
          query.page = this.$route.query.page

        this.search = ''
        this.$router.replace({query})
      }
    }
  }
</script>