<template lang="pug">
  .chart__item
    .chart__item-title
      slot
    canvas.chart__item-chart(
      ref="canvas"
      @mouseover="showDots"
      @mouseleave="unshowDots"
    )

</template>

<script>
  import {Line, mixins } from 'vue-chartjs'
  import 'chartjs-plugin-style';
  const { reactiveProp } = mixins

  export default {
    extends: Line,
    mixins: [reactiveProp],
    props:{
      chart: {},
      color: {},
      tooltipTitleList: {},
    },
    data: ()=> ({
      chartOptions: {},
    }),
    computed: {
      gradient() {
        let blue = this.$refs.canvas.getContext('2d').createLinearGradient(0, 0, 0, 400);
        blue.addColorStop(0, 'rgba(156,128,234,1)');
        blue.addColorStop(.30, 'rgba(105,121,248,1)');
        // blue.addColorStop(.60, 'rgba(156,128,234,1)');
        // blue.addColorStop(.90, 'rgba(28,192,228,1)');
        // blue.addColorStop(1, 'rgba(28,192,228,0.6868033439490446)');

        return {
          blue
        }
      },
      shadow() {
        return {
          blue: 'rgba(105, 121, 248, 0.35)'
        }
      },
      chartColorData() {
        let chart = _.cloneDeep(this.chartData)
        let datasetsColor = chart.datasets.map(line => {
          return ({
            ...line,
            borderColor: this.color ? this.gradient[this.color] : this.gradient.blue
          })
        })

        chart = {
          ...chart,
          datasets: datasetsColor,
        }

        return chart
      }
    },
    beforeMount() {
      this.initChatraOption()
    },
    mounted() {
      this.createChart()
    },
    methods: {
      createChart() {
        window.usedeskMessenger.open()
        // this.renderChart(this.chartColorData, this.chartOptions)
      },
      initChatraOption() {
        this.chartOptions = {
          responsive: true,
          // maintainAspectRatio: false,
          tooltips: {
            enabled: true,
            // Раскомментируй, что бы показывался ближайший к мышке тултип
            // intersect: false,
            // mode: 'index',

            // Текст в тултипе
            callbacks: {
              label: (tooltipItems, data) => {
                return `${this.formatNumber(tooltipItems.yLabel)}`;
              },

              title: (tooltipItem, data) => {
                if(data.datasets[0].hasOwnProperty('tooltipTitle') && data.datasets[0].tooltipTitle.length) {
                  let idx = tooltipItem[0].index
                  let titleList = data.datasets[0].tooltipTitle

                  return titleList[idx]
                }

                return tooltipItem[0].label;
              }
            },
            // Стили тултипа
            backgroundColor: 'white',
            titleFontSize: 10,
            titleFontStyle: 600,
            titleFontColor: '#ABABBA',

            bodyFontSize: 12,
            bodyFontStyle: 500,
            bodyFontColor: '#76767B',

            xPadding: 10,
            yPadding: 5,
            cornerRadius: 12,

            displayColors: false,
            borderColor: 'red',
            showShadow:true,
            // borderColor: function(tooltipItem) {
            //   return
            // },
            // borderWidth: 1,
            //  tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>",
            shadowOffsetX: -5,
            shadowOffsetY: 15,
            shadowBlur: 30,
            shadowColor: this.color ? this.shadow[this.color] : this.shadow.blue,
          },
          scales: {
            yAxes: [{
              // Изменяет подписи под осью
              ticks: {
                callback: (value, index, values) => {
                  return  this.formatNumber(value)
                },
                // Промежутки между значениями оси Y
                autoskip: true,
                autoSkipPadding: 50
              }
            }],
            // xAxes: [{
            //   ticks: {
            //     callback: function(value, index, values) {
            //       if (index === 0)
            //         return  value
            //       else if (index === values.length-1)
            //         return value
            //       return
            //     }
            //   }
            // }]
          },
          // Скрываем точки
          elements: {
            point:{
              radius: 0
            }
          },
          legend: {
            display: false,
          },
          // Цвета
          lineStyling: {
            borderColor: 'red'
          }
        }
      },
      formatNumber(number) {
        return String(number).replace(/(?!^)(?=(?:\d{3})+(?:\.|$))/gm, ' ')
      },
      showDots() {
        this.$data._chart.options.elements.point.radius = 3
        this.$data._chart.update()
      },
      unshowDots() {
        this.$data._chart.options.elements.point.radius = 0
        this.$data._chart.update()
      }
    },
  }
</script>

<style>

</style>
