<template lang="pug">
  .rating-user
    Header
      //- .rating-header__block
      //-   UiButton.rating-header__item.-light-(
      //-     to="/rating/msa"
      //-   ) Рейтинг

    .rating-user__block
      UserInfo(
        :user="user"
        :userStats="userStats"
        :loading="loadingUser"
      )
    .rating-user__block
      CardList(
        :cardList="cardList"
        :loading="loadingUser"
      )
    .rating-user__block
      .rating-user__row
        p.rating-user__title
          | Заполните данные за {{lastMonth}}:
        Tooltip
          | Данные заполняются в этой таблице.
          | Если вы ошиблись при заполнении, их можно
          | исправить, нажав на нужное поле.
      StatsTable()

    .rating-user__block
      .rating-user-chart
        .rating-user-chart__header
          UiSelect.-auto-(
            title="Год"
            v-model="year"
            :option="yearList"
            :placeholder="year"

            @input="getUser"
          )
        .rating-user-chart__body
          .chart
            .chart__list
              Chart(
                v-for="chart in chartList" :key="chart.id"
                :chart-data="chart.chart"
                color="blue"
              )
                .chart__item-field
                  span {{chart.title}}
                  span.chart__item-subtitle
                    |  {{chart.description}}
                .chart__item-field
                  //- Скрваем, что бы графики были на одном уровне
                  span.chart__item-subtitle.-low-(:style="{visibility: !chart.hasSumm ? 'hidden' : ''}")
                    | Всего: {{chart.summ}} {{chart.metric}}

</template>

<script>
import {mapState} from 'vuex'

import numberFormat from "@lms/filters/numberFormat.filter"

import MonthData from './components/MonthData'
import UserInfo from '../../components/UserInfo'
import Chart from '@lms/components/UiKit/Chart'

import Header from '../../components/Header'

import StatsTable from './components/StatsTable'

import CardList from '../../components/CardList'
import Tooltip from '../../components/Tooltip'

import moment from "moment"

export default {
  components: {
    MonthData,
    UserInfo,
    Chart,
    StatsTable,
    CardList,
    Tooltip,
    Header,
  },
  data: () => ({
    year: '',
    yearList: [],
    chartList: [],
  }),
  computed: {
    lastMonth() {
      return moment().add(-1, 'month').format('MMMM')
    },
    ...mapState('ratingMsaUser', {
      user: s => s.data.user,
      months: s => s.data.months,
      loadingUser: s => s.meta.isLoadingUser
    }),
    userStats() {
      let stats = [
        {
          title: 'Сфера бизнеса',
          value: this.user.niche || 'Не указана'
        },
        {
          title: 'Ниша',
          value: this.user.niche || 'Не указана'
        },
        {
          title: 'Местоположение',
          value: this.user.city || 'Не указано'
        },
      ]

      return stats
    },
    cardList() {
      return ([
        {
          icon: "round-icon-proceeds",
          title: `${this.getSumChanel(0)} ₽`,
          description: "Выручка за курс",
        },
        {
          icon: "round-icon-profit",
          title: `${this.getSumChanel(1)} ₽`,
          description: "Прибыль за курс",
        },
        {
          icon: "round-icon-deal",
          title: `${this.getSumChanel(3)}`,
          description: "Кол-во точек за курс"
        },
      ])
    }
  },
  mounted() {
    // Ставим текущий год в селекте, грузим все года
    this.year = new Date().getFullYear()
    this.getYearList()
    this.getChartList()

    this.getUser()
  },
  methods: {
    async getYearList() {
      let queryYearList = await this.$store.dispatch('ratingMsaUser/getYears', {
        id: this.$route.params.id
      })
      this.yearList = queryYearList.map(year=> ({title: year, value: year}))
    },
    async getUser() {
      await this.$store.dispatch('ratingMsaUser/getUser', {
        id: this.$route.params.id,
        year: this.year || new Date().getFullYear()
      })
      this.getChartList()
    },
    getMonthChart(id, path="profit") {
      let labels = ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'];
      let months = this.months.filter(({channelId, mounthId}) => channelId === id && mounthId !== -1)

      let data = months && months.length ?
        months.map(month => +month[path] || 0) :
        labels.map(()=> 0)


      let chart = {
        labels,
        datasets: [
          {
            label: 'Выручка',
            backgroundColor: 'transparent',
            data
          }
        ],
      }

      return chart
    },
    getChartList() {
      let description = `за ${this.year} год`
      let chartList = [
        {
          id: 0,
          title: 'Выручка',
          hasSumm: true,
          summ: '',
          chart: this.getMonthChart(0),
          description,
          metric: '₽'
        },
        {
          id: 1,
          title: 'Прибыль',
          hasSumm: true,
          summ: '',
          chart: this.getMonthChart(1),
          description,
          metric: '₽'
        },
        {
          id: 2,
          title: 'NPS',
          hasSumm: false,
          chart: this.getMonthChart(2),
          description,
        },
      ]

      chartList = chartList.map(item => {
        if(!item.hasSumm) return item

        let summ = item.chart.datasets[0].data.reduce((summ, item) => +summ + +item, 0)

        return ({
          ...item,
          summ: numberFormat(summ)
        })
      })

      this.chartList = chartList
    },
    getSumChanel(id, path = 'profit') {
      let weekList = this.months.filter(({channelId, mounthId}) => channelId === id && mounthId !== -1)
      let sum = weekList.reduce((sum, current) =>{
        let numberFormatTerm = +current[path] || 0
        return +sum + +numberFormatTerm
      }, 0)
      return numberFormat(sum)
    },
  },
  watch: {
    months: {
      handler: function() {
        this.getChartList()

      },
      deep: true,
    }

  }
}
</script>

<style>

</style>
