<template lang="pug">
  .franch-rating__stars
    template(v-for="star in starTypes")
      svg.franch-rating__star.star-full(
        v-if="star === 'full'"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 13 12" fill="none"
      )
        path(d="M6.25033 9.07449L9.85533 11.2503L8.89866 7.14949L12.0837 4.39033L7.88949 4.03449L6.25033 0.166992L4.61116 4.03449L0.416992 4.39033L3.60199 7.14949L2.64533 11.2503L6.25033 9.07449Z" fill="#FECB52")

      svg.franch-rating__star.star-half(
        v-else-if="star === 'half'"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 13 12" fill="none"
      )
        path(d="M5.83333 8.9075L9.43833 11.0833L8.48167 6.9825L11.6667 4.22333L7.4725 3.8675L5.83333 0L4.19417 3.8675L0 4.22333L3.185 6.9825L2.22833 11.0833L5.83333 8.9075Z" fill="#DFE0EB")
        mask(id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="6" height="11")
          rect(width="6" height="11" fill="#C4C4C4")

        g(mask="url(#mask0)")
          path(d="M5.83333 8.9075L9.43833 11.0833L8.48167 6.9825L11.6667 4.22333L7.4725 3.8675L5.83333 0L4.19417 3.8675L0 4.22333L3.185 6.9825L2.22833 11.0833L5.83333 8.9075Z" fill="#FECB52")

      svg.franch-rating__star.star-empty(
        v-else-if="star === 'empty'"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 13 12" fill="none"
      )
        path(d="M5.83333 8.9075L9.43833 11.0833L8.48167 6.9825L11.6667 4.22333L7.4725 3.8675L5.83333 0L4.19417 3.8675L0 4.22333L3.185 6.9825L2.22833 11.0833L5.83333 8.9075Z" fill="#DFE0EB")

</template>
<script>
export default {
  props:{
    rating:{}
  },
  data(){
    return {
      gold: '#FECB52',
      grey:'#C5C7CD',
      star: 20,
      countStar:5,
    }
  },
  computed:{
    starTypes() {
      let rating = this.rating
      let step = 20
      let starsArr = []
      while (rating >= 0) {
        let mod = rating % step
        if(rating !== 0)
          starsArr.unshift(mod === 0 ? 'full' : 'half')

        rating -= mod ? mod : step
      }
      while (starsArr.length < 5) {
        starsArr.push('empty')
      }
      return starsArr
    }
  }
}
</script>