<template lang="pug">
  .club-list
    MobileSearch(v-if="isMobile" :hasFilters="hasFilters")
    .club-list__grid(v-if="loading && !loadMore")
      .ajax__line.-round-(
        v-for="n in 9"
        :style="{height: '180px', width: '100%', margin: '2px 0'}"
      )
    .club-list__not-found(v-if="!loading && users.length === 0")
      Icon.club-list__not-found-icon(icon="not-found")
      p Мы не смогли ничего найти по этому запросу
    PageScroll.-width-limiter-(
      v-if="!loading && users.length !== 0"
      :data="users"
      @incrementPage="incrementPage"
      :isLoading="loading || noMorePage"
      width="100%"
    )
      .club-list__grid
        router-link.club-list__card(
          v-for="user in users"
          :key="user.id"
          :to="{name: 'clubUserId', params: {userId: user.id}}"
        )
          .club-list__card-avatar
            img(v-if="user.info.avatarFilename"
              :src="'https://storage.yandexcloud.net/toolbox-files/media/cache/squared_thumbnail_small/avatar/' + user.info.avatarFilename")
            .club-list__card-avatar-icon(v-else)
              Icon(icon="user-tie")
          .club-list__card-info
            .club-list__card-name {{ user.info.name }} {{ user.info.lastname }}
            .club-list__card-city(v-if="user.info.city")
              Icon(icon="maps-and-flags" fill="#76767B")
              | {{ user.info.city }}
            .club-list__card-scope(v-if="user.info.businessCategoryId")
              .club-list__card-scope-image
                Icon(icon="case-square-blue")
              .club-list__card-scope-text
                .club-list__card-scope-title Сфера
                .club-list__card-scope-val(
                  v-tooltip="categoryName(user.info.businessCategoryId).length > 17 ? categoryName(user.info.businessCategoryId) : null"
                ) {{ categoryName(user.info.businessCategoryId) }}
            .club-list__card-scope(v-if="user.info.niche")
              .club-list__card-scope-image
                Icon(icon="case-square-purple")
              .club-list__card-scope-text
                .club-list__card-scope-title Ниша
                .club-list__card-scope-val(
                  :class="{'-more-': user.info.niche.length > 17}"
                  v-tooltip="user.info.niche.length > 17 ? user.info.niche : null"
                ) {{ user.info.niche }}
        .ajax__line.-round-(
          v-for="n in 3"
          v-if="!noMorePage"
          :style="{height: '180px', width: '100%', margin: '2px 0'}"
        )
    FilterForm
</template>

<script>
import {mapActions, mapState} from 'vuex'
import FilterForm from "./components/FilterForm";
import MobileSearch from "./components/MobileSearch";

export default {
  components: {
    FilterForm,
    MobileSearch
  },
  data() {
    return {
      loadMore: false,
      isMobile: false,
      hasFilters: false,
      timer: null,
    }
  },
  computed: {
    ...mapState('club', {
      page: s => s.data.page,
      users: s => s.data.users,
      businessCategories: s => s.data.businessCategories,
      loading: s => s.meta.isLoading,
      noMorePage: s => s.meta.noMorePage,
    })
  },
  watch: {
    '$route.query'() {
      clearTimeout(this.timer);
      this.timer = setTimeout(() => {
        this.getUsers()
        this.checkFilters()
        this.sendEvent('club_search')
      }, 500);
    },
  },
  created() {
    window.addEventListener("resize", this.changeMobile)
  },
  async mounted() {
    this.getUsers()
    this.getFilters()
    this.changeMobile()
    this.checkFilters()
  },
  beforeDestroy() {
    this.$store.dispatch('club/clearUserList')
  },
  methods: {
    ...mapActions('club', [
      'sendEvent',
    ]),
    changeMobile(){
      this.isMobile = window.innerWidth < 961
    },
    checkFilters() {
      let query = this.$route.query
      if (query['params']) {
        this.hasFilters = Object.keys(JSON.parse(query['params'])).length !== 0
      } else {
        this.hasFilters = false
      }
    },
    getUsers() {
      this.$store.dispatch('club/getUserList')
    },
    categoryName(id) {
      return this.businessCategories.find(item => {
        return item.id === id
      })?.text ?? ''
    },
    getFilters() {
      this.$store.dispatch('club/getFilters')
    },
    getText(text) {
      text = text.charAt(0).toUpperCase() + text.slice(1).toLowerCase()
      if(text.length <= 20) {
        return text
      }
      return text.substring(0, 17) + '...'
    },
    async incrementPage() {
      this.loadMore = true
      this.$store.dispatch('club/setData', { path:'page', value: this.page + 1})
      await this.$store.dispatch('club/getUserList')
      this.loadMore = false
    },
  },
}
</script>

<style>

</style>
