<template lang='pug'>
		
  .main-block
    .table.-users-group-users-table-
      .table__header
        .table__header-inner
          p.table__title Список пользователей
          
          .table__buttons(v-if="$permissionsUpdate")
            Button.-s-(
              @click="openAside"
              :class="{'-disabled-':gettingUsers}"
            )
              | Настройки  команды

      .table__body
        .table__body-block
          .table__nav
            ul.table__nav-list
              li.table__col
                p.table__col-title
                  | Имя
              li.table__col
                p.table__col-title
                  | Email
                  

          .table__content
            template(v-if="gettingUsers")
              SkeletonRow(v-for="i in 5" :key="i")
            template(v-else)
              TableRow(
                v-for="user in teammates" :key="user.id"
                :user="user"
              )
              SkeletonRow(v-if="isAddingPage")

		
</template>
	
<script>
  import TableRow from './components/Row'
  import SkeletonRow from './components/SkeletonRow'
  import replaceRouteQuery from "@lms/functions/replaceMultipleRouteQuery"
	import {mapState, mapActions} from 'vuex'
	
	export default {
    components: {TableRow, SkeletonRow},
    computed: {
      ...mapState('auth', {
        $permissions: s => s.data.user.permissions.userTeamModuleAdmin,
      }),
      ...mapState('usersTeamMembers', {
        teammates: s => s.data.teammates,
        team: s => s.data.team,
        gettingUsers: s => s.meta.gettingUsers,
        isAddingPage: s => s.meta.isAddingPage
      })
    },
    methods: {
      ...mapActions('usersTeamMembers', [
        'getCourse',
        'setAsideMeta',
        'setAsideData',
        'addPage',
        'clearUsers'
      ]),
      openAside() {
        this.setAsideData({path: 'teammates', value: this.teammates})
        this.setAsideData({path: 'team', vslue: this.team})
        this.setAsideMeta({path: 'isOpen', value: true})
      },
      addingPage(page) {
        this.addPage(page)
        replaceRouteQuery([{value: page, name: 'page', methods: 'replace'}])
      }
    },
    destroyed() {
      this.clearUsers()
    }
  }
</script>