<template lang="pug">
label.ui-kit-switcher(:class="{'-reverse-': reverse, '-wide-': wide}")
  input.ui-kit-switcher__real-input(
    type="checkbox"
    hidden
    :value="value"
    @input="onChange"
    :disabled="disabled"
  )
  span.ui-kit-switcher__slider(:class="[color ? `-${color}-` : '', {'-disabled-': disabled}]")
    span.ui-kit-switcher__switch(:class="[switcher ? `-${switcher}-` : '', {'-active-': value}]")

  span.ui-kit-switcher__title(:style="titleMargin")
    slot

</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      required: true
    },
    color: {
      type: String,
      default: undefined
    },
    switcher: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    reverse: {
      type: Boolean,
      default: false
    },
    wide: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onChange() {
      this.$emit('input', !this.value)
      this.$emit('change', !this.value)
    }
  },
  computed: {
    titleMargin() {
      return this.reverse ? {marginRight: "7px"} : {marginLeft: "7px" }
    }
  }
}
</script>

<style>

</style>
