<template lang="pug">
  .login__content
    form.login__form(
      @submit.prevent="submit"
      )
      UiInput.login__input(
        title="Email"
        placeholder="Введите вашу почту"
        v-model.trim="email"
        :error="$v.$dirty && $v.email.$error || err.email"
        :popup="validPopup(!$v.email.required, 'Не забудьте заполнить это поле :)') || validPopup(!$v.email.email, 'Проверьте email') || {msg: err.email}"
        @focus="clearError('email')"
        )
      UiButton.login__submit(type="submit") Восстановить доступ
      span.login__text.-reset-password-
        router-link.login__link(to="/login") Вернуться ко входу
</template>

<script>
  import {required, email} from 'vuelidate/lib/validators'
  import {mapState} from 'vuex'
  export default {
    data: () => ({
      email: '',
      err: {
        email: ''
      }
    }),
    computed: {
      ...mapState('security', {
        loginIn: s => s.meta.loginIn,
        errors: s => s.data.authErrors
      }),
    },
    methods: {
      async submit(){
        this.$v.$touch()
        if(this.$v.$invalid) return

        let res = await this.$store.dispatch('security/sendResetEmail', this.email)
        if(res === 'success')
          this.$router.push('/login')
      },
      clearError(field){
        if(this.errors.find(e => e.field === field))
          this.$store.dispatch('security/removeAuthError', field)
      },
      validPopup(isErr, text) {
        if(!this.$v.$dirty) 
          return
        if(isErr) 
          return { msg: text }
      },
    },
    destroyed() {
      if(this.errors.length > 0)
        this.$store.dispatch('security/clearAuthErrors')
    },
    validations: {
      email: {required, email},
    },
    watch: {
      errors() {
        this.err.email='',
        this.errors.forEach(item=> {
          switch(item.field) {
            case "email":
              this.err.email = item.message
              break;
          }
        })
      },
    },
  }
</script>