<template lang="pug">
.ui-kit-select(
  :class="[getStatus ? `-${getStatus}-` : '', {'-active-': isOpen}]"
  v-click-outside="closeOption"
  ref="el"
)
  .ui-kit-select__hood(@click="toggleOption")
    span.ui-kit-select__label(v-if="title || popup") {{ title }}
    .ui-kit-select__field
      Icon.ui-kit-select__icon(v-if="icon" :icon="icon")
      span.ui-kit-select__input() {{placeholder}}

    Icon.ui-kit-select__dropdown-icon(:icon="'ui-down'" :class="{'-active-': isOpen}")

  SlideUpDown.ui-kit-select__option(
    :active="isOpen"
    :duration="300"
    style="position: absolute"
    :style="{top: optionPosition.top + 'px', left: optionPosition.left + 'px', width: optionPosition.width + 'px', zIndex: zIndex}"
    ref="option"
  )
    .ui-kit-select__option-list
      slot

  Popup(v-if="popup"
    :popup="popup"
    :status="getStatus")
</template>

<script>

import Popup from "../Popup"
import SlideUpDown from 'vue-slide-up-down'
import vClickOutside from 'v-click-outside'

export default {
  directives: {clickOutside: vClickOutside.directive},
  props: {
    title: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ' '
    },
    icon: {
      type: String,
      default: undefined
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    status: {
      type: String,
      default: ''
    },
    popup: {
      type: Object,
      default: () => ({
        msg: ''
      })
    },
    error: {
      type: Boolean,
      default: false,
    },
    zIndex: {
      type: Number,
      default: 1
    },
    appendBody: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      isOpen: false,
      optionPosition: {
        top: '',
        left: '',
        width: ''
      }
    }
  },
  components: {
    Popup,
    SlideUpDown
  },
  mounted() {
    if(!this.appendBody) return
    this.calcPosition();
    document.body.append(this.$refs.option.$el)
    window.addEventListener(`resize`, this.calcPosition);
  },
  beforeDestroy() {
    if(!this.appendBody) return
    this.$el.append(this.$refs.option.$el)
    window.removeEventListener(`resize`, this.calcPosition);
  },
  methods: {
    calcPosition() {
      if(!this.appendBody) return
      let x = window.pageXOffset
      let y = window.pageYOffset

      let clientRect = this.$refs.el.getBoundingClientRect();

      this.optionPosition.top = clientRect.top + +y + clientRect.height ;
      this.optionPosition.left = clientRect.left +x ;
      this.optionPosition.width = clientRect.width;

    },
    toggleOption() {
      this.isOpen = !this.isOpen;
    },
    closeOption(e) {
      //TODO: Не самая лучшая проверка. option находятся в body
      if(e.path.indexOf(this.$refs.option.$el) !== -1) return
      this.isOpen = false;
    },
  },
  watch: {
    isOpen() {
      if (this.isOpen == true)
        this.calcPosition()
    }
  },
  computed: {
    getStatus() {
      if(this.popup) {
        if(this.popup.error) {
          return 'error'
        } else if(this.popup.status) {
          return this.popup.status
        }
      }

      if(this.error) {
        return 'error'
      } else if(this.status) {
        return this.status
      }
      return ''
    }
  },
};
</script>
