.ui-kit-tab
  display: grid
  grid-template-columns: 100%
  grid-template-rows: auto 1fr
  grid-gap: 10px
  width: 100%
  &.-full-
    flex-grow: 1

  &__header
    @extend %text-500-14
    display: flex
    justify-content: space-between
    align-items: center
    &-slot
      margin-left: 10px

  &__body

  &__list
    border-bottom: 1px solid $ui-border
    display: flex
    overflow: auto
    &.-full-
      flex-grow: 1
  
  &__item
    @extend %text-500-14
    padding: 5px 19px
    border-radius: 4px 4px 0px 0px
    cursor: pointer
    white-space: nowrap
    &.-active-
      background: $ui-border

  