.ui-accordion
  &__row
    border-radius: 4px
    padding: 11px 25px
    background: $ui-white
    transition: background .3s
    border-bottom: 1px solid $ui-background
    cursor: pointer

    &.-active-,
    &.-gray-
      background: $main-bg

      .ui-accordion__title--size-xl
        color: $ui-blue-accident

  &__icon
    margin-left: 11px
    height: 7px
    width: 14px
    stroke: $ui-dark-blue
    transition: transform .3s

    &.-active-
      transform: rotate(180deg)

  &__header
    display: flex
    align-items: center
    justify-content: space-between
    position: relative

    &.-center-
      display: flex
      justify-content: center

    &-controll
      display: flex
      align-items: center
      &.-full-
        width: 100%
    
    &-buttons
      display: flex

      > * + *
        margin-left: 10px
    
  &-card
    display: flex
  
  &__title
    color: $text-color
    transition: color $main-transitions ease

    &--size-xl
      @extend %text-700-16

    &--size-l
      @extend %text-600-12

    &--size-md
      @extend %text-500-14
  
  &__count
    @extend %text-400-14

    &.-absolute-
      position: absolute
      +cxy
