// Базовые стили для страниц
.ui-space

  &-header
    $marginItem: 8px

    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    margin: -$marginItem
    margin-bottom: 25px-$marginItem

    & > *
      margin: $marginItem
    &__item
      width: auto
      flex: 0
      &.-s-
        min-width: 128px
      &.-m-
        min-width: 180px
      &.-l-
        min-width: 220px
    &__icon
      +size(13px)
    &__block
      display: flex
      align-items: center
      justify-content: space-between
      flex-wrap: wrap
      margin: 0
      & > *
        margin: $marginItem

    +media(480px)
      margin: 0
      flex-direction: column
      align-items: flex-start
      &__block
        width: 100%
        flex-direction: column
        align-items: flex-start
      &__item
        margin: $marginItem 0
        width: 100%