<template lang="pug">
  .ui-page-menu__block
    .ui-page-menu__routes
        .ui-page-menu__route(
          v-for="item in bonusList" :key="item.id"
        )
          Icon.ui-page-menu__route-icon(
            :icon="item.icon"
          )
          transition(name="ui-page-menu__title-fade")
            .ui-page-menu__route-name.ui-page-menu-points(v-if="!isMinimize")
                .ui-page-menu-points__title
                  | {{item.name}}
                .ui-page-menu-points__count
                  template(
                    v-if="!isStatsLoading"
                  )
                    .ui-page-menu-points__active(
                      v-if="item.count !== undefined"
                    )
                      | {{item.count}}
                    .ui-page-menu-points__disabled(
                      v-if="item.countAll !== undefined"
                    )
                      span(v-if="item.count !== undefined") &nbsp;/&nbsp;
                      | {{item.countAll}}
                  template(
                    v-else
                  )
                    .ajax__line.-round-(
                      :style="{width: '25px', height: '1em'}"
                    )

</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    isMinimize: {},
  },
  computed: {
    ...mapState('coursesCourse', {
      courseId: s => s.data.course.id,
      lessons: s => s.data.stats.lessons,
      points: s => s.data.stats.points,
      isStatsLoading: s=> s.meta.isStatsLoading,
    }),
    bonusList() {
      return [
        {
          id: 0,
          name: 'Баллы',
          icon: 'points',
          count: this.points,
        },
        {
          id: 1,
          name: 'Уроков открыто',
          icon: 'ui-open-book',
          count: this.lessons.open,
          countAll: this.lessons.total
        },
        {
          id: 2,
          name: 'Уроков пройдено',
          icon: 'ui-open-book',
          count: this.lessons.passed,
          countAll: this.lessons.total
        },
        {
          id: 3,
          name: 'Уроков проверено',
          icon: 'ui-open-book',
          count: this.lessons.checked,
          countAll: this.lessons.total
        }
      ]
    }
  },

}
</script>

<style>

</style>