<template lang="pug">
  Table(
    :navTitles="navTitles"
  )
    template(#nav)
      NavCell(
        v-for="nav in navTitles" :key="nav.id"
        :class="{'-blue-': nav.weekId === actualWeekId}"
      )
        | {{nav.title}}

    template(v-if="isWeek")
      Row(
        v-for="channel in channelList" :key="channel.id"
        :navTitles="navTitles"
        :data="getWeekChannel(channel.id)"
        :title="channel.title"
        :description="channel.description"
        keyField="weekId"
        :canEdit="true"
        @input="editDay($event, channel.id)"
      )
    template(v-else)
      Row(
        v-for="(channel, idx) in channelList" :key="channel.id"
        :navTitles="navTitles"
        :data="userDayList[idx]"
        :title="channel.title"
        :description="channel.description"
        :canEdit="true"
        keyField="dayId"

        @input="editDay($event, channel.id)"
      )
</template>

<script>
import Table from '../../../../components/Table'
import NavCell from '@lms/views/Rating/components/Table/NavCell'
import Row from './Row'
import { mapState } from 'vuex'
import _ from 'lodash'

export default {
  components: {
    Table,
    Row,
    NavCell,
  },
  props: {
    table: {},
    week: {},
  },
  computed: {
    ...mapState('ratingHundredUser', {
      userWeekList: s => s.data.userWeekList,
      userDayList: s => s.data.userDayList,
      user: s => s.data.user,
      actualWeekId: s => s.data.actualWeekId <= Math.max(...s.data.userWeekList.map(w => w.weekId))
          ? s.data.actualWeekId : Math.max(...s.data.userWeekList.map(w => w.weekId)),
    }),
    isWeek() {
      return this.week === ''
    },
    navTitles() {
      return this.isWeek ? this.weekTitles : this.dayTitles
    }
  },
  data: ()=> ({
    weekTitles: [
      {
        title: 'Метрики',
        id: 1,
        key: 'title',
        width: '1.2fr'
      },
      {
        title: 'До курса в неделю',
        id: -1,
        key: 'title',
        width: '1.2fr',
        weekId: -1,
      },
      {
        title: '1 неделя',
        id: 2,
        key: 'price',
        width: '1fr',
        weekId: 0,
      },
      {
        title: '2 неделя',
        id: 3,
        key: 'contact',
        width: '1fr',
        weekId: 1,
      },
      {
        title: '3 неделя',
        id: 4,
        key: 'source',
        width: '1fr',
        weekId: 2,
      },
      {
        title: '4 неделя',
        id: 5,
        key: 'responsible',
        width: '1fr',
        weekId: 3,
      },
      {
        title: '5 неделя',
        id: 6,
        key: 'createdAt',
        width: '1fr',
        weekId: 4,
      },
      {
        title: '6 неделя',
        id: 7,
        key: 'createdAt',
        width: '1fr',
        weekId: 5,
      },
      {
        title: 'После курса',
        id: 8,
        key: 'createdAt',
        width: '1fr',
        weekId: 6,
      },
    ],
    dayTitles: [
      {
        title: 'Метрики',
        id: 1,
        key: 'title',
        width: '1.2fr'
      },
      {
        title: 'До курса в неделю',
        id: -1,
        key: 'title',
        width: '1.2fr'
      },
      {
        title: 'Пн',
        id: 2,
        key: 'price',
        width: '1fr'
      },
      {
        title: 'Вт',
        id: 3,
        key: 'contact',
        width: '1fr'
      },
      {
        title: 'Ср',
        id: 4,
        key: 'source',
        width: '1fr'
      },
      {
        title: 'Чт',
        id: 5,
        key: 'responsible',
        width: '1fr'
      },
      {
        title: 'Пт',
        id: 6,
        key: 'createdAt',
        width: '1fr'
      },
      {
        title: 'Сб',
        id: 7,
        key: 'createdAt',
        width: '1fr'
      },
      {
        title: 'Вс',
        id: 8,
        key: 'createdAt',
        width: '1fr'
      },
    ],
    channelList: [
      {
        id: 0,
        title: 'Выручка',
        description: ''
      },
      {
        id: 1,
        title: 'Прибыль',
        description: '',
      },
    ]
  }),
  methods: {
    getWeekChannel(id) {
      let userWeek = this.userWeekList.filter(({channelId}) => channelId === id)
      
      if(!userWeek) return

      return userWeek
    },
    editDay: _.debounce(function({id, value}) {
      this.$store.dispatch('ratingHundredUser/cellEdit', {
        profit: value,
        cellId: id
      })
    }, 300)
  }

}
</script>

<style>

</style>
