<template lang="pug">
  Row(
    :navTitles="navTitles"
    height="33px"
    :loading="isLoadingUser"
  )
    Cell(
      key="title"
    )
      span {{title}}
      span.ui-space-table__subtext(v-if="description")  {{description}}
    .ui-space-table__col(
      v-for="cell in sortCell" :key="cell[keyField]"
    )
      .ui-space-table__col-container.-flex-
        UiNumberInput.-empty-style-(
          placeholder="нет данных"
          :value="cell.profit"
          :disabled="!canEdit"
          :dotAmount="0"
          :differZero="true"
          :showEmpty="false"
          :allowMinus="true"

          @input="editCell($event, cell.cellId)"
        )
  
</template>

<script>
import { mapState } from 'vuex'

import Row from '@lms/views/Rating/components/Table/Row'
import Cell from '@lms/views/Rating/components/Table/Cell'

export default {
  components: {
    Row,
    Cell,
  },
  props: {
    title: {},
    description: {},
    data: {},
    navTitles: {},
    keyField: {
      default: 'id',
    },
    canEdit: {},
  },
  computed: {
    ...mapState('ratingHundredUser', {
      isLoadingUser: s =>s.meta.isLoadingUser
    }),
    sortCell() {
      // Сортируем недели по порядку
      return this.data.sort((a, b) => a.weekId - b.weekId)
    }
  },
  methods: {
    editCell(value, id) {
      this.$emit('input', {value, id})
    }
  },

}
</script>

<style>

</style>