<template lang="pug">
  .rating
    Header
      .rating-header__block
        UiSelect.rating-header__item.-m-(
          title="Выбор курса"
          placeholder="Ничего не выбрано"
          :option="courseList"
          v-model="filter.course"
          :canUnset="true"

          @input="changeValue($event, 'groupIds')"
        )
        //- Компонент не готов, отложим до лучших времён
        //- UiNestedFilter.rating-header__item(
        //-   title="Выбор курса"
        //-   placeholder="Ничего не выбрано"
        //-   :option="folders"
        //-   :radio="true",
        //-   :parentCheck="false",
        //-   v-model="course"
        //- )

        //- Каво?
        //- UiSelect.rating-header__item.-m-(
        //-   title="Выбор факультета"
        //-   placeholder="Ничего не выбрано"
        //-   :option="[]"
        //-   :canUnset="true"
        //- )
        UiInput.rating-header__item.-l-(
          title="Найти участника"
          icon="ui-search"
          placeholder="Введите имя участника"
          v-model="filter.userName"
          @input="changeValue($event, 'name')"
        )
      .rating-header__block
        UiDateInput.rating-header__item.-s-.-background-main-(
          v-model="filter.dateStart"
          title="Выберите дату"
          placeholder="От"
          icon="ui-calendar"
          iconClass="rating-icon -calendar-"
          :defaultNow="false"

          @input="changeValue($event, 'date_start')"
        )
        UiDateInput.rating-header__item.-s-.-background-main-(
          v-model="filter.dateEnd"
          title="Выберите дату"
          placeholder="До"
          icon="ui-calendar"
          iconClass="rating-icon -calendar-"
          :defaultNow="false"
          @input="changeValue($event, 'date_end')"
        )
        UiButton.-transparent-blue-.rating-header__item(
          v-if="!isAdmin"
          :to="`/rating/hundred/user/${user.id}`"
        ) Моя карточка
        UiButton.-transparent-blue-.rating-header__item(
          v-else
          @click="openModal"
        )
          Icon.rating-header__icon(icon="ui-export")
          | Экспорт CSV
    HundredTable(
      :sortChanel="filter.sort.channelId"
      :navTitles="navTitles"

      @setSort="setSort"
    )
    CsvModal(
      v-if="isAdmin"
      v-model="isShowModal"
      :groupId="filter.course"
    )
          
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import Header from '../components/Header'
import Body from '../components/Body'

import HundredTable from './components/HundredTable'

import Table from '../components/Table'
import Row from '../components/Table/Row'
import Cell from '../components/Table/Cell'

import replaceRouteQuery from "@lms/functions/replaceMultipleRouteQuery"
import CsvModal from './components/CsvModal'

export default {
  components: {
    Header,
    Body,
    Table,
    Row,
    Cell,
    HundredTable,
    CsvModal,
  },
  data: ()=> ({
    isShowModal: false,
    filter: {
      userName: '',
      course: '',
      dateStart: '',
      dateEnd: '',
      sort: {
        channelId: null,
        // 0 - DESC; 1 - ASC
        sortType: null,
      }
    },
    navTitles: [
      {
        title: 'Имя',
        id: 1,
        width: '2fr',
      },
      {
        title: 'Ниша',
        id: 2,
        width: '1fr',
      },
      {
        title: 'Выручка',
        id: 3,
        width: '1fr',
        
        channelId: 0,
        sortType: 0,
      },
      {
        title: 'Прибыль',
        id: 4,
        width: '1fr',

        channelId: 1,
        sortType: 0,
      },
    ],
  }),
  computed: {
    ...mapGetters('ratingHundred', {
      courseList: 'courseList',
    }),
    ...mapState('ratingHundred', {
      // Фильтр со вложенностью
      // folders : s => s.data.folders.map(item=> ({
      //   title: item.folder.name[0][0], //Убрать массивы
      //   id: item.folder.id,
      //   list: item.groupArray.map(({id, name})=> ({title: name, id}))
      // }))
    }),
    ...mapState('auth', {
      isAdmin: s => s.data.user.permissions.isAdmin,
      user: s => s.data.user,
      isLoadingUser: s => s.meta.loading,
    }),
  },
  watch: {
    '$route.query'() {
      this.getUserList();
    },
  },
  created() {
    this.initFilter()
  },
  mounted() {
    this.getFoulder()
    this.getUserList()
  },
  methods: {
    initFilter() {
      let query = this.$route.query
      let filter = this.filter

      filter.userName = query['name'] || filter.userName;
      filter.course = +query['groupIds'] || filter.course;
      filter.dateStart = query['date_start'] || filter.dateStart;
      filter.dateEnd = query['date_end'] || filter.dateEnd;

      filter.sort.channelId = query['channelId'] || filter.channelId;
      filter.sort.sortType = query['sortType'] || filter.sortType;

      if(query['channelId'] !== undefined && query['sortType'] !== undefined)
        this.changeSort({channelId: +query['channelId'], sortType: +query['sortType']})
    },
    openUser(id) {
      this.$router.push(`/rating/hundred/user/${id}`)
    },
    getFoulder() {
      this.$store.dispatch('ratingHundred/getFoulders')
    },
    getUserList() {
      this.$store.dispatch('ratingHundred/getUserList', this.filter.sort)
    },
    changeValue( value, name ) {
      let obj = {}
      obj[name] = value
    
      let arrQuery = Object.entries({...this.$route.query, ...obj }).map( el => 
      ({
        method: 'replace',
        name: el[0],
        value: el[1]
      }))

      if(this.checkRouterEqual(arrQuery))
        return
      replaceRouteQuery( arrQuery )
    },
    multipleChangeValue(params) {
      let arrQuery = Object.entries({...this.$route.query, ...params }).map( el => ({
        method: 'replace',
        name: el[0],
        value: el[1]
      }))

      if(this.checkRouterEqual(arrQuery))
        return
      replaceRouteQuery( arrQuery )
    },
    checkRouterEqual(arrQuery) {
      return !arrQuery.find(param => param.value != this.$route.query[param.name])
    },
    setSort({channelId, sortType, id}) {
      if(channelId !== this.filter.sort.channelId) {
        this.changeSort({channelId})
        this.multipleChangeValue({channelId: channelId, sortType})
      } else {
        let idx = this.navTitles.findIndex(nav => nav.id === id)
        this.changeSort({channelId, sortType: sortType ? 0 : 1});
        this.multipleChangeValue({sortType: this.navTitles[idx].sortType})
      }
    },
    changeSort({channelId, sortType}) {
      if(channelId !== undefined)
        this.filter.sort.channelId = channelId

      if(channelId !== undefined && sortType !== undefined) {
        let idx = this.navTitles.findIndex(nav => nav.channelId === channelId)
        if(idx === -1) return
        this.navTitles[idx].sortType = sortType;
        this.filter.sort.sortType
      }
    },
    openModal() {
      this.isShowModal = true
    },
  },
  destroyed() {
    this.$store.dispatch('ratingHundred/clearUserList')
  }
  
}
</script>

<style>

</style>
