<template lang="pug">
  .side-container__content
    .side-container__header(v-if="asideData.title || asideData.subtitle")
      p.side-container__title.-dark-(v-if="asideData.title")
        | {{asideData.title}}
      p.side-container__subtitle(v-if="asideData.subtitle")
        | {{asideData.subtitle}}
    .side-container__body.-full-
      .side-container-field
        .side-container-field__list
          .side-container-field__item
            UiInput(
              v-model.trim="name"
              title='Название команды'
              placeholder="Напишите название команды"

              :popup="validPopup(!$v.name.required, 'Обязательное поле')"
            )
          .side-container-field__item
            UiSelectFilter(
              v-model="seniorCaptain"

              title='Старший капитан'
              placeholder="Укажите старшего капитана"

              :canUnset="true"
              unsetText="Без старшего капитана"
              unsetClass=""
              :maxHeight="200"
              :option="seniorCaptainList"
            )
          .side-container-field__item
            UiSelectFilter(
              v-model="captain"

              title='Капитан'
              placeholder="Укажите капитана"

              :canUnset="true"
              unsetText="Без капитана"
              unsetClass=""
              :maxHeight="200"
              :option="captainList"
            )
    .side-container__footer.-end-
      UiButton(
        @click="editTeam"
      ) Сохранить

</template>

<script>
import { mapState, mapActions } from 'vuex'
import {required} from 'vuelidate/lib/validators'
export default {
  props: {
    asideObject: {
      default: () => ({
        aside: {
          data: {
            team: {
              id: '',
              name: '',
            }
          },
          meta: {}
        }
      })
    }
  },
  computed: {
    ...mapState('teamGroup', {
      teams: s => s.data.teams,
      settings: s=> s.data.settings,
      loadedSetting: s => s.meta.loadedSetting,
      isSettingLoading: s => s.meta.isSettingLoading,
      captainList: s => s.data.settings.captains.map(item => ({
        value: item.id,
        title: `${item.name} ${item.lastname}`
      })),
      seniorCaptainList: s => s.data.settings.seniorCaptains.map(item => ({
        value: item.id,
        title: `${item.name} ${item.lastname}`
      }))
    }),
    asideData() {
      return this.asideObject.aside ? this.asideObject.aside.data : {}
    },
    asideMeta() {
      return this.asideObject.aside ? this.asideObject.aside.meta : {}
    },
    team() {
      let team = this.teams.find(item => item.id === this.asideData.team.id)
      return team ? team : {captain: {}}
    },
  },
  data: () => ({
    name: '',
    captain: '',
    seniorCaptain: '',
  }),
  mounted() {
    this.initData()
    this.getSetting()

    if(this.isSettingLoading)
      this.showLoader()
  },

  watch: {
    isSettingLoading(loadState) {
      this.updateAsideMetaPath({asideIndex: this.asideObject.asideIndex, path: 'showLoader', value: loadState})
    }
  },
  methods: {
    ...mapActions('asides', [
      'closeAside',
      'updateAsideMetaPath',
    ]),
    async initData() {
      await this.getTeam()

      this.name = this.asideData.team.name
      if(this.team.captain)
        this.captain = this.team.captain.id
      if(this.team.seniorCaptain)
        this.seniorCaptain = this.team.seniorCaptain
    },
    async getTeam() {
      if(this.teams.find(item => item.id === this.asideData.team.id)) return

      this.showLoader()
      let res = await this.$store.dispatch('teamGroup/getTeamsData', this.asideData.team.id)
      this.unshowLoader()

      if(res.status !== 'success')
        this.closeAside({name: this.asideObject.aside.data.name})
    },
    async getSetting() {
      if(!this.loadedSetting && !this.isSettingLoading)
        await this.$store.dispatch('teamGroup/getTeamsSettings')
    },
    showLoader() {
      this.updateAsideMetaPath({asideIndex: this.asideObject.asideIndex, path: 'showLoader', value: true})
    },
    unshowLoader() {
      this.updateAsideMetaPath({asideIndex: this.asideObject.asideIndex, path: 'showLoader', value: false})
    },
    async editTeam() {
      this.$v.$touch()
      if(this.$v.$invalid) return

      this.showLoader()
      // Редактируем команду
      let res = await this.$store.dispatch('teamGroup/editTeam', {
        id: this.team.id,
        name: this.name,
        captain: this.captain !== undefined ? this.captain : '',
        seniorCaptain: this.seniorCaptain !== undefined ? this.seniorCaptain : '',
      })

      if(res.status === 'success')
        this.closeAside({name: this.asideObject.aside.data.name})
      
      this.unshowLoader()
    },
    validPopup(isErr, text) {
      if(!this.$v.$dirty) 
        return
      if(isErr) 
        return { msg: text, error: true, }
    },
  },
  validations: {
    name: {required},
  }

}
</script>

<style>

</style>