<template lang="pug">
  .diagram
    .diagram__column
      .diagram__column-header( v-if="header.isActive")
        p.diagram-name(v-if="header.name")
          | {{ header.name }}
        p.diagram-subtitle(v-if="header.subtitle")
          | {{ header.subtitle}}
      .diagram__column-body( v-if="body.isActive") 
        GraphDiagram( v-if="body.isGraph" :data="body" :idx="i" :class="$scopedSlots.footer && 'diagram__column-body__bottom'")
        CircleDiagram( v-if="body.isCircle" :data="body" :idx="i")
        ColumnsDiagram( v-if="body.isColumns" :data="body" :class="$scopedSlots.footer && 'diagram__column-body__bottom'" :idx="i")
      .diagram__column-footer(v-if="$scopedSlots.footer")
        slot( name="footer" )

</template>
<script>
import CircleDiagram from './components/Circle'
import ColumnsDiagram from './components/Columns'
import GraphDiagram from './components/Graph'

export default {
  components:
  {
    CircleDiagram,
    ColumnsDiagram,
    GraphDiagram
  },
  props:
  {
    i:{},
    header:
    {
      type: Object,
      default:()=> ({ isActive: true})
    },
    body:
    {
      type: Object,
      default:()=> ({ isActive:true})
    },
  },
}
</script>