<template lang="pug">
  UiModal.rating__msa-modal(
      :value="value"
      @input="$emit('input', $event)"
    )
      UiSelect.-bg-neutral-(
        title="Неделя"
        placeholder="Все недели"
        v-model="weekId"
        :appendBody="true"
        :option="weekList"
        :zIndex="1001"
        :canUnset="true"
        unsetText="Все недели"
        :maxHeight="300"
      )
      template(#footer)
        .rating__msa-modal__footer
          RouterLink(
            :to="csvLink"
            target="_blank"
            download
            :style="{textDecoration: 'none'}"
          )
            UiButton() Выгрузить
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    value: {},
  },
  data: ()=> ({
    weekId: "",
    weekList: [],
  }),
  computed: {
    ...mapState('auth', {
      user: s => s.data.user,
    }),
    csvLink() {
      return {
        path: `/analytics/hundred/csv/get`,
        query: {
          weekId: this.weekId
        }
      }
    }
  },
  mounted() {
    this.getWeekList()
  },
  methods: {
    async getWeekList() {
      let queryWeekList = await this.$store.dispatch('ratingHundredUser/getWeekList', {
        id: this.user.id,
      })
      this.weekList = queryWeekList.map(week => ({title: `Неделя ${week + 1}`, value: week}))
    },
  }
}
</script>

<style>

</style>