<template lang="pug">
  TableEmpty( v-if="!loading && users.length === 0" style="top: 50%") 
  PageScroll.-width-limiter-( 
    v-else
    :data="users"
    @incrementPage="incrementPage"
    :isLoading="loading || noMorePage"
    width="100%"
  )
    Table(
      :navTitles="navTitles"
    )
      template(#nav="")
        NavCell(
          v-for="title in navTitles" :key="title.id"
          @click.native="setSort(title)"
          :class="{'-pointer-': title.sortType !== undefined}"
        )
          span {{title.title}}
          Icon.ui-space-table__icon.-arrow-(
            v-if="title.sortType !== undefined"
            icon="ui-down"
            :class="{'-active-': title.channelId === sortChanel, '-rotate-': title.sortType}"
          )
      template(v-if="loading && !loadMore")
        Row(
          v-for="i in 5" :key="`load-${i}`"
          :loading="true"
          :navTitles="navTitles"
          loadCellClass="-full-border-"
          height="43px"
        )
      template(v-else)
        Row.-pointer-(
          v-for="user in users" :key="user.id"
          :navTitles="navTitles"
          height="43px"
          @click="goTo(user)"
        )
          //- Имя 
          Cell.-full-border-
            | {{ user.name }} 
            | {{ user.patronymic }} 
            | {{ user.lastname }}
          //- Сфера
          Cell.-full-border-
            | {{ user.niche }}
          //- Исходящие действия
          Cell.-full-border-
            | Я заглушка
          //- Заявки
          Cell.-full-border-
            | Я заглушка
          //- Продажи
          Cell.-full-border-
            | Я заглушка
          //- Выручка
          Cell.-full-border-
            | {{ getUserChanel(user, 0) }}
          //- Инвестиции
          Cell.-full-border-
            | Я заглушка
      Row(
        v-if="loadMore"
        :key="`load-more`"
        :loading="true"
        :navTitles="navTitles"
        loadCellClass="-full-border-"
        height="43px"
      )

</template>

<script>
import { mapState } from 'vuex';

import Table from '../../components/Table'
import Row from '../../components/Table/Row'
import Cell from '../../components/Table/Cell'
import NavCell from '../../components/Table/NavCell'

export default {
  name: "hundredTable",
  components: {
    Table,
    Row,
    Cell,
    NavCell,
  },
  props: {
    sortChanel: {},
    navTitles: {},
  },
  data: ()=> ({
    loadMore: false,
  }),
  computed: {
    ...mapState('ratingHundred', {
      users: s => s.data.users,
      page: s => s.data.page,
      isLoading: s => s.meta.isLoading,
      isLoadingPage: s => s.meta.isLoadingPage,
      noMorePage: s =>s.meta.noMorePage,
    }),
    isAdmin() {
      return this.$store.state['auth'].data.user.permissions.isAdmin
    },
    loading() {
      return this.isLoading || this.isLoadingPage
    }
  },
  methods: {
    goTo(user) {
      if(!this.isAdmin)
        return
      this.$router.push(`/rating/hundred/user/${user.id}`)
    },
    async incrementPage() {    
      this.loadMore = true  
      this.$store.dispatch('ratingHundred/setData', { path:'page', value: this.page + 1})
      await this.$store.dispatch('ratingHundred/getUserList')
      this.loadMore = false  
    },
    getUserChanel(user, id) {
      let chanel = user.info.find(({channelId}) => channelId === id )
      return chanel ? chanel.fullProfit : 0
    },
    setSort(title) {
      if(title.channel === undefined && title.sortType === undefined)
        return
      this.$emit('setSort', title)
    }
  },
}
</script>

<style>

</style>