<template lang="pug">
  .options(ref="el")
    .options__container
      Icon.options__dots(@click="toggleMenu" icon="dots-vertical")
      .options__field(v-if="open")
        OptionItem(@click="completeFunction" :optionsFields="optionsFields" v-click-outside="closeMenu")
          slot
        Confirm(
          v-if="confirm"
          :parent="$refs.el"
          :isOpen.sync="confirm"
          :selectedField="selectedField"
          v-model="confirmResult"
        )
</template>

<script>
  import vClickOutside from 'v-click-outside'
  import OptionItem from './OptionItem'

  export default {
    directives: {clickOutside: vClickOutside.directive},
    components: {OptionItem},
    props: {
      optionsFields: {
        default: []
      }
    },
    data: () => ({
      open: false,
      confirm: false,
      selectedField: {},
      confirmResult: '',
    }),
    methods: {
      closeMenu(){
        if(this.confirm) 
          return
        this.open = false
        this.clearConfirmData()
      },
      toggleMenu(){
        this.open = !this.open
      },
      completeFunction(idx){
        this.selectedField = this.optionsFields[idx]

        if(this.selectedField.confirm) {
          //слушается this.confirmResult
          this.confirm = true;
        } else {
          this.selectedField.func()
          this.closeMenu()
        }
      },
      clearConfirmData() {
        this.confirm = false
        this.confirmResult = ''
      }
    },
    watch: {
      confirmResult() {
        switch(this.confirmResult) {
          case 'success': 
            this.selectedField.func()
            this.closeMenu()
            this.clearConfirmData()
            break;
          case 'cancel':
            this.clearConfirmData()
            break;
          default: 
            return
        }
      }
    },
    destroyed() {
      this.clearConfirmData()
    }
  }
</script>