<template lang="pug">
  ul.options__list(:style="{'top':top+'px','left':left+'px'}")
    slot

    li.options__item(
        v-for="(field, idx) in optionsFields" :key="idx"
        @click="$emit('click', idx)"
        :class="{'-main-second-color-': field.red}")

      .options__icon-wrapper
        Icon.options__icon(
          v-if="field.icon"
          :icon="field.icon"
          :style="{'width': field.iconWidth ? field.iconWidth + ' !important' : ''}"
        )

      .options__text.hover__link {{field.text}}

</template>
<script>
export default {
  props:['optionsFields'],
  data(){
    return{
      top:'',
      left:''
    }
  },
  mounted(){
    let x = window.pageXOffset
    let y = window.pageYOffset
    
    this.top = this.$el.getBoundingClientRect().top + +y;
    this.left = this.$el.getBoundingClientRect().left +x - this.$el.getBoundingClientRect().width;
    this.$root.$el.append(this.$el);
  },
  destroyed(){
    this.$el.remove()
    this.top='';
    this.left=''
  }
}
</script>