<template lang="pug">
  .answers-task
    UserInfo(
      v-if="task.user"
      :user="task.user"
      :tariffs="tariffs"
    )

    TaskItem(
      v-for="(taskItem, idx) in task.questionArray" :key="taskItem.question.id"
      :propTaskItem="taskItem"
      :scripts="task.scripts"
      :ddl="task.taskBlock.ddl"
      :ddlDate="ddlDate"
      :answerCreatedAt="answerCreatedAt"
      :systemName="task.taskBlock.systemName"
      :touch="touch"
      @hasErrors="hasErrors($event, {idx})"
      @updateTaskItem="updateTaskItem($event, {idx})"
    )
      template(v-slot:edit v-if="$permissionsUpdate")
        .answers-task__buttons
          Button.answers-task-send.-xs-(
            @click="sendTaskCall"
          )
            | Отправить

</template>
<script>
  import moment from 'moment-timezone';
  moment.locale('ru');
  import TaskItem from './TaskItem'
  import UserInfo from "./UserInfo";
  import {mapState, mapActions} from 'vuex'

  export default {
    components: {
      UserInfo,
      TaskItem,
    },
    props: {
      propTask: {},
      taskInfo: {},
      tariffs: {
        default: () => []
      },
    },
    data() {
      return {
        checkedQuestions: [],
        task: {
          questionArray: [],
          user: {
            email: ''
          },
          taskBlock: {}
        },
        touch: false,
        errors: []
      }
    },
    computed: {
      ...mapState('auth',{
        $permissions: s => s.data.user.permissions.taskAnswerCheckAdmin,
        isAdmin: s => s.data.user.permissions.isAdmin
      }),
      ...mapState('answersValidating',{
        lessonId: s => s.data.lessonId,
      }),
      answerCreatedAt(){
        if(this.task.questionArray[0]) {
          let date = moment.tz(this.task.questionArray[0].answer.createdAt, 'Europe/Moscow');
          return date.format('DD.MM.YYYY в HH:mm:ss')
        }
      },
      ddlDate(){
        if(this.task.questionArray[0] && this.task.taskBlock.ddl) {
          let date = moment.tz(this.task.taskBlock.ddl, 'Europe/Moscow');
          return date.format('DD.MM.YYYY в HH:mm:ss')
        }
      },
      isDDL() {
        if(!this.ddlDate)
          return

        let date = moment(this.ddlDate)
        return date.isValid()
      }
    },
    mounted() {
      this.task = _.cloneDeep(this.propTask)
    },
    methods: {
      ...mapActions('answersValidating', [
        'sendTask'
      ]),
      sendTaskCall() {
        this.touch = true

        // проверяем валидацию
        if(this.errors.length > 0)
          return

        let check = {
          questionArray: [...this.task.questionArray],
        }

        this.sendTask({check, taskInfo: this.taskInfo})
      },
      updateTaskItem(taskItem, {idx}) {
        this.task.questionArray[idx] = {...taskItem, lessonId: this.lessonId}
      },
      hasErrors(value, {idx}){
        let errorIdx = this.errors.findIndex(e => e === idx)

        if(value) {
          if (errorIdx === -1)
            this.errors.push(idx)
        } else {
          if(errorIdx !== -1)
            this.errors.splice(idx, 1)
        }
      }
    }
  }
</script>