<template lang="pug">
  .file
    .file__content
      Icon.file__icon(v-if="!isImg" :icon="icon")

      Avatar(
        v-if="isImg"
        box
        :img="file.url"
        :style="{cursor: 'pointer'}"
        @click.native="openFile"
      )
      p.file__text(v-else @click="openFile")
        | {{editFileNameLength}}

    .file__delete(v-if="canDelete" @click="deleteFile")
      Icon.file__delete-icon(icon="close")

</template>

<script>
  export default {
    props: {
      icon: {
        default: 'file'
      },
      canDelete: {
        default: true
      },
      file: {
        default: () => ({
          fileName: '',
          url: ''
        })
      }
		},
		computed: {
			editFileNameLength() {
				let oldFileName = this.file.fileName;
				let newFileName;

        if (oldFileName.length > 16) {
          const firstTenLetters = oldFileName.substring(0, 10)
          const lastSixLetters = oldFileName.slice(-5)
          newFileName = `${firstTenLetters}...${lastSixLetters}`

        } else
          newFileName = oldFileName

        return newFileName
      },
      isImg(){
        return /image/ig.test(this.file.mimeType) || /(jpg|jpeg|png|svg)$/ig.test(this.file.fileName)
      }
    },
    methods: {
      deleteFile() {
        this.$emit('deleteFile', this.file)
      },
      openFile(){
        if(!this.file.url)
          return

        if(/image/ig.test(this.file.mimeType)) {
          let image = new Image()
          image.src = this.file.url

          let w = window.open("")
          w.document.write(image.outerHTML);
        } else {
          let win = window.open(this.file.url, '_blank')
          win.focus()
        }
      },
    }
  }
</script>