<template>
  <div class="diagram-circle">
    <svg width="156" height="156" viewBox="0 0 156 156" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="78" cy="78" r="70" fill="white" :stroke="params.colorEmpty" stroke-width="15"/>
      <text x="50" y="90" class="diagram-circle-title" :fill="params.colorText">{{params.textInCircleTitle}}</text>
      <text x="60" y="110" class="diagram-circle-subtitle" :fill="params.colorText">{{params.textInCircleSubtitle}}</text>
      <path :d="describeArc(78, 78, 70, 0)" :stroke="`url(#paint_linear${idx})`" stroke-width="15" stroke-linecap="round" stroke-linejoin="round"/>
      <defs>
      <linearGradient :id="'paint_linear'+idx" x1="113" y1="8" x2="113" y2="148" gradientUnits="userSpaceOnUse">
      <stop :stop-color="params.colorLineralStart"/>
      <stop offset="1" :stop-color="params.colorLineralEnd"/>
      </linearGradient>
      </defs>
    </svg>
  </div>
</template>
<script>

export default {
  props:
  {
    idx:{},
    data:
    {
      type:Object,
      default: () => ({})
    }
  },
  data()
  {
    return {
      params: {
        colorEmpty:'',
        colorFill:'',
        columnsData:'',
        colorLineralStart:'',
        colorLineralEnd:'',
        colorText:'',
        currValue:'',
        maxValue:'',
        textInCircleTitle:'',
        textInCircleSubtitle: ''
      }
    }
  },
  mounted()
  {
    this.setData();
  },
  watch:
  {
    data()
    {
      this.setData()
    }
  },
  computed:
  {
    endAngle()
    {
      if (this.params.maxValue > this.params.currValue && this.params.currValue != 0)
        return 360 * +this.params.currValue / +this.params.maxValue
      if( this.params.maxValue == this.params.currValue)     
        return 359
      if( this.params.currValue == 0)
        return NaN
    },
  },
  methods:
  {
    setData()
    {
      this.params = { ...this.params, ...this.data}
    },
    polarToCartesian(centerX, centerY, radius, angleInDegrees) {
        var angleInRadians = (angleInDegrees-90) * Math.PI / 180.0;

      return {
        x: centerX + (radius * Math.cos(angleInRadians)),
        y: centerY + (radius * Math.sin(angleInRadians))
      };
    },
    describeArc(x, y, radius, startAngle){
      console.warn( this.endAngle)
      let start = this.polarToCartesian(x, y, radius, this.endAngle);
      let end = this.polarToCartesian(x, y, radius, startAngle);

      let largeArcFlag = this.endAngle - startAngle <= 180 ? "0" : "1";

      let d = [
          "M", start.x, start.y, 
          "A", radius, radius, 0, largeArcFlag, 0, end.x, end.y
      ].join(" ");

      return d;       
    }
  }
}
</script>