<template lang="pug">
  .diagram-columns
    .diagram-column( v-for="(col, i) in params.columns" :key="i")
      .diagram-column-svg
        svg(width="15" height="100" viewBox="0 0 15 100" fill="none" xmlns="http://www.w3.org/2000/svg")
          rect( width="15" height="100" rx="4" :fill="params.colorEmpty")
          rect(v-if="params.colorFill" width="15" :height="params.columnsData[i]" rx="4" :fill="params.colorFill")
          rect(v-else width="15" :height="params.columnsData[i]" :y="100 - (params.columnsData[i] ? +params.columnsData[i] : 0)" rx="4" :fill="`url(#paint_linear${i+''+idx})`")
          defs(v-if="params.colorLineralStart")
            linearGradient( :id="'paint_linear'+i+''+idx" x1="7.5" :y1="100 - (params.columnsData[i] ? +params.columnsData[i] : 0)" x2="7.5" y2="100" gradientUnits="userSpaceOnUse")
              stop( :stop-color="params.colorLineralEnd")
              stop( offset="1" :stop-color="params.colorLineralStart")
      p.diagram-columns__subtitle
        | {{ params.columnsNames[i]}}
</template> 
<script>
export default {
  props:
  {
    idx:{},
    data:
    {
      type:Object,
      default: () => ({})
    }
  },
  data()
  {
    return {
      params:
      {
        columns:'',
        colorEmpty:'',
        colorFill:'',
        columnsData:'',
        colorLineralStart:'',
        colorLineralEnd:'',
        columnsNames:'',
      }
    }
  },
  mounted()
  {
    this.setData();
  },
  watch:
  {
    data()
    {
      this.setData()
    }
  },
  methods:
  {
    setData()
    {
      this.params = { ...this.params, ...this.data}
    },
    calcY(num)
    {
      return 100 - (num ? +num : 0);
    }
  }
}
</script>
