<template>
  <div class="diagram-graph">
    <svg :width="currentWidth+10" :height="currentHieght+10" :viewBox="`0 0 ${currentWidth+10} ${currentHieght+10}`" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="diagram-graph-x" id="xLine">
      <line 
        x1="3" 
        :x2="currentWidth" 
        :y1="params.reverseX ? 4 :currentHieght" 
        :y2="params.reverseX ? 4 :currentHieght"
        ></line>
    </g>
    <g class="diagram-graph-y" id="yLine">
      <line 
        :x1="params.reverseY ? currentWidth-1 : 4" 
        :x2="params.reverseY ? currentWidth-1 : 4" 
        :y1="params.reverseY ? 3 : 4" 
        :y2="params.reverseY ? currentHieght + 1: currentHieght"
        ></line>
    </g>
    <g class="diagram-graph-lineX" v-if="params.isCircleData">
      <template v-if="params.isDataInLineX">
        <circle 
          v-for="i in params.pointsCountX" 
          :ref="'circle__graphX'+idx+i"
          :class="params.isClickPointsX && 'pointer'"
          @click.self="click(i,'X')"
          :key="i+'graph__circleX'" 
          :cx="i * getBasedCircleLineWidth" 
          :cy="params.reverseX ? 5 : currentHieght" 
          :r="params.circleRadius"
          :fill="params.circleInLineFill"
          ></circle>
      </template>
      <template v-if="params.isDataInLineY">
        <circle 
          v-for="i in params.pointsCountY" 
          :key="i+'graph__circleY'" 
          :class="params.isClickPointsY && 'pointer'"
          :ref="'circle__graphY'+idx+i"
          @click.self="click(i,'Y')"
          :cx="params.reverseY ? currentWidth : 5" 
          :cy="(1 + i) * getBasedCircleLineHieght" 
          :r="params.circleRadius"
          :fill="params.circleInLineFill"
          ></circle>
      </template>
    </g>
      <polyline v-if="!params.isBezier" fill="none" stroke-width="2" :stroke="`url(#paint_linear-graph${idx})`" :points="getPoints"/>  
      <path v-else :d="getBezier" :stroke="`url(#paint_linear-graph${idx})`" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <defs>
      <linearGradient :id="'paint_linear-graph'+idx" x1="113" y1="8" x2="113" y2="148" gradientUnits="userSpaceOnUse">
      <stop :stop-color="params.colorLineralStart"/>
      <stop offset="0.486233" :stop-color="params.colorLineralMiddle"/>
      <stop offset="1" :stop-color="params.colorLineralEnd"/>
      </linearGradient>
      </defs>
    </svg>
    <Popup v-if="slotData" v-model="isOpen" :parent="refPath">
      {{slotData}}
    </Popup>
  </div>
</template>
<script>



export default {
  props:
  {
    idx:{},
    data:
    {
      type:Object,
      default: () => ({})
    }
  },
  data()
  {
    return {
      params: 
      {
        width: 156,
        hieght: 156,
        pointsCountX: 0,
        pointsCountY: 0,
        arrayData:[],
        arrayDataStartZero: true,
        isMainX: true,
        isBezier: false,
        isClickPointsX:false,
        isClickPointsY: false,
        clickPointsXData:[],
        clickPointsYData:[],
        colorLineralStart:'',
        colorLineralMiddle:'',
        colorLineralEnd:'',
        reverseX: false,
        reverseY: false,
        isCircleData: true,
        isDataInLineX: true,
        isDataInLineY: false,
        circleInLineFill: '#ACB5F8',
        circleInLineFillActive: '',
        circleRadius: 4,
      },
      isBezierStart: true,
      isOpen: false,
      slotData: '',
      refPath:'',

    }
  },
  mounted()
  {
    this.setData();
  },
  watch:
  {
    data()
    {
      this.setData()
    },

  },
  computed:
  {
    getPoints()
    {
      return  `${this.params.arrayData.map( ( el, idx ) => {
          return this.params.isMainX ? this.calcPointX(el, idx) : this.calcPointY(el, idx)
        }).join(' ')}` 
    },
    getBezier(){
      return this.params.isMainX ? this.calcBezierPointX() : this.calcBezierPointY()
    },
    maxData(){
      return Math.max.apply(null, this.params.arrayData) + 50
    },
    currentWidth()
    {
      return +this.params.width - 10
    },
    currentHieght()
    {
      return +this.params.hieght - 10
    },
    getBasedCircleLineWidth()
    {
      return (+this.currentWidth - 10) / (+this.params.pointsCountX )
    },
    getBasedCircleLineHieght()
    {
      return (+this.currentHieght - 10) / (+this.params.pointsCountY )
    }
  },
  methods:
  {
    setData()
    {
      this.params = { ...this.params, ...this.data}
    },
    click( idx, type )
    {      
      this.slotData = undefined;
      this.refPath = undefined;
      this.isOpen = false;
      this.$nextTick( () =>
      {
        if(!this.params[`isClickPoints${type}`])
          return
        this.slotData = this.params[`clickPoints${type}Data`][idx -1 ]
        this.refPath = this.$refs[`circle__graph${type}${this.idx}${idx}`][0]
        this.isOpen = true;
      })
    },
    calcPointX( point, idx )
    {
      let y = this.currentHieght * point / this.maxData
      let count = 10
      if ( !this.arrayDataStartZero ){
        idx += 1      
        count = 0
      }
      return `${ idx * this.getBasedCircleLineWidth - count }, ${ this.currentHieght - y - 8}`
    },
    calcPointY( point, idx )
    {
      let x = this.currentWidth * point / this.maxData
      let count = 10
      if ( !this.arrayDataStartZero ){
        idx += 1      
        count = 0
      }
      return `${this.currentWidth - x - 8}, ${ idx * this.getBasedCircleLineHieght + count}`
    },
    calcBezierPointX()
    {
      let data = this.params.arrayData;
      let str= 'M';

      for( let i = 0; i < data.length; i++)
      {
        let objData = {
          i:i,
          point: data[i],
          nextPoint: i !== data.length ? data[i+1] : null,
          x: i * this.getBasedCircleLineWidth +10,
          param: 'currentHieght'
        }

        str+= this.calcDataBezier( objData )
      }
      return str
    },
    calcBezierPointY()
    {
      let data = this.params.arrayData;
        let str= 'M';

        for( let i = 0; i < data.length; i++)
        {
          let objData = {
            i:i,
            point: data[i],
            nextPoint: i !== data.length ? data[i+1] : null,
            x: i * this.getBasedCircleLineHieght +10,
            param: 'currentWidth'
          }

          str+= this.calcDataBezier( objData )
        }
        return str
    },
    calcDataBezier( { point, nextPoint, x,i, param} ){
      let y = this[param] * point / this.maxData;
      let str = '';
      let symb = this.isBezierStart && i > 0 ? 'Q': ( i%4 == 0 && i > 0 ? '' : '' )
      str+= `${ symb }${x},${ this[param] - y - 10 } `;
      nextPoint == null && (str+=`${ symb }${x},${ this[param] - y - 10 } `)
      i > 0 && (this.isBezierStart = false)
      return str
    }
  }
}
</script>