<template lang="pug">
  .filters__modal
    AccountsBlock(
      v-if="accounts"
      :accounts="accounts"
    )
    StatusBlock(
      v-if="statuses"
      :statuses="statuses"
    )
    CreatedAt(
      v-if="createdAt"
      :createdAt="createdAt"
    )
    DateOfNextActionBlock(
      v-if="dateOfNextAction"
    )
    ContactsBlock(
      v-if="contacts"
      :storePath="storePath"
      :statuses="contacts"
    )
    CategoriesBlock(
      v-if="categories"
      :categories="categories"
    )

</template>

<script>
  import ContactsBlock from './components/ContactsBlock'

  export default {
    // components: {StatusBlock, ContactsBlock, DateOfNextActionBlock, CreatedAt, CategoriesBlock, AccountsBlock},
    components: {ContactsBlock},
    props: {
      statuses: {
        default: false
      },
      accounts: {
        default: false
      },
      contacts: {
        default: false
      },
      dateOfNextAction: {
        default: false
      },
      createdAt: {
        default: false
      },
      categories: {
        default: false
      },
      storePath:{}
    },
  }
</script>