<template lang="pug">
  label.checkbox(:style="{pointerEvents: disabled ? 'none' : ''}")

    input.checkbox__input(
      type="checkbox"
      v-model="localValue"
      @change="emitValue"
      :disabled="disabled"
      :true-value="type === 'boolean' ? true : 1"
      :false-value="type === 'boolean' ? false : 0"
      hidden
    )

    .checkbox__icon-wrapper(
      :class="[{'-checked-': localValue}, wrapperClass && wrapperClass]"
    )
      transition(name="fadePreloader")
        Icon.checkbox__icon(
          v-if="localValue"
          :icon="isErrorIcon"
          :class="iconClass"
        )

    span.checkbox__text(v-if="text")
      | {{text}}

</template>
	
<script>
	export default {
		name: 'checkboxBlock',
		props: {
      wrapperClass: {},
			iconClass: {},
			value: {
				default: false
			},
			error:{},
			text: '',
			type: {
				default: 'boolean'
			},
			disabled: {
				type: Boolean,
				default: false
			}
		},
		data: () => ({
			localValue: false
		}),
		mounted() {
			setTimeout(() => {
				if(this.value !== undefined)
					this.localValue = this.value
			}, 1)
		},
		computed:
		{
			isErrorIcon()
			{
				if( typeof this.error === 'boolean')
					return this.error ? 'close' : 'check'
				return 'check'
			}
		},
		watch: {
			value(){
				if(this.value !== this.localValue)
					this.localValue = this.value
			},
		},
		methods: {
			emitValue() {
				if(this.disabled)
					return
				this.$emit('input', this.localValue)
				this.$emit('change', this.localValue)
			}
		},
	}
</script>