<template lang="pug">
  .drop-aside-image(
    :class="{'-drag-hover-': dragHover}"
    @click.self.prevent
    @drop.prevent="addFile"
    @dragover.prevent
    @dragenter="dragEnter"
    @dragleave="dragLeave"
  )
    label.drop-aside-image__label(v-if="!file.id")
      input(
        @change="uploadFile"
        :accept="acceptTypes"
        type="file"
        hidden
      )

    .drop-aside-image__empty(v-if="!file.id")
      Icon.drop-aside-image__empty-icon(icon="uploadCloud")
      p.drop-aside-image__empty-text(v-if="!dragHover")
        | {{dragText}}
    .drop-aside-image__file(v-else="file.id" :style="{backgroundImage: `url('`+file.url+`')`}" @click.self="previewFile")
      .drop-aside-image__file-remove(@click="deleteFile")
        Icon(icon="delete")

</template>

<script>
  export default {
    props: {
      value: {},
      dragText: {
        default: 'Загрузить обложку'
      },
      checkImageSize: {},
      imageHeight: {
        default: 0
      },
      imageWidth: {
        default: 0
      },
    },
    data: () => ({
      dragHover: false,
      uploading: false,
      file: '',
      fileExt: [],
      fileMime: [
        'image/*',
      ]
    }),
    computed: {
      acceptTypes(){
        let extString = this.fileExt.reduce((res, item) => res + item+',', '')
        let mimeString = this.fileMime.reduce((res, item) => res + item+',', '')
        return extString+mimeString
      }
    },
    mounted() {
      this.file = _.cloneDeep(this.value)
    },
    watch: {
      value(val) {
        if(typeof val === 'object' && !_.isEqual(val, this.file))
          this.file = _.cloneDeep(this.value)
      }
    },
    methods: {
      addFile(e) {
        let f = e.dataTransfer.files[0]
        if(!f)
          return

        this.checkFile(f)
      },
      uploadFile(e){
        let f = e.target.files[0]
        if(!f)
          return

        this.checkFile(f)
      },
      async checkFile(f){
        if(this.uploading) {
          let interval = setInterval(() => {
            if(this.uploading === false)
              clearInterval(interval)
          }, 100)
        }

        if(f.size > 2097152){
          this.$store.dispatch('ajax/addMessage', {message: 'Размер файла не должен превышать 2Мб', type: 'error'}, {root:true})
          return
        }

        let regexString = f.type
        let fileExt = f.name.match(/\..*$/)
        if(fileExt === null){
          this.$store.dispatch('ajax/addMessage', {message: 'Отсутствует формат файла', type: 'error'}, {root:true})
          return
        }

        if(fileExt)
          regexString += '|'+fileExt[0]

        let regex = new RegExp(regexString)
        let match = this.acceptTypes.match(regex)
        if(match === null && !f.type.includes('image/')) {
          this.$store.dispatch('ajax/addMessage', {message: 'Формат файла не поддерживается', type: 'error'}, {root:true})
          return
        }

        if(this.checkImageSize) {
          let _URL = window.URL || window.webkitURL
          let img = new Image()

          img.src = _URL.createObjectURL(f);
          let image = await new Promise(resolve => {
            img.onload = () => resolve(img)
          })

          if(image && (this.imageWidth !== image.width || this.imageHeight !== image.height)) {
            this.$store.dispatch('ajax/addMessage',
              {message: `Допустимый размеры ${this.imageWidth}x${this.imageHeight}`, type: 'error'},
              {root:true})
            return
          }
        }

        let formData = new FormData()
        formData.append("file", f)

        this.uploading = true
        let res = await this.$store.dispatch('ajax/uploadImage', {formData})
        if(res) {
          this.file = _.cloneDeep(res)
          this.$emit('input', res)
        }
        this.uploading = false
      },
      dragEnter(){
        this.dragHover = true
      },
      dragLeave(){
        this.dragHover = false
      },
      deleteFile(){
        this.file = ''
        this.$emit('input', {})
      },
      previewFile(){
        let image = new Image()
        image.src = this.file

        let w = window.open("")
        w.document.write(image.outerHTML);
      }
    }
  }
</script>