<template lang="pug">
  label.form-item(:class="{'-error-': error}")
    span.form-item__title.-tooltip-(v-if="title && tooltip" v-tiny-text-tooltip="{text: tooltip}")
      | {{title}}
    span.form-item__title(v-else-if="title && !tooltip")
      | {{title}}

    .form-item__block(
      @focusin="focusIn"
      v-click-outside="disableFocus"
    )
      slot(name="errors")
      span.form-item__error(v-if="typeof error !== 'boolean'")
        | {{error}}

      .form-item__input.-date-
        Icon.form-item__calendar(icon="calendar")
        p.form-item__input-placeholder(v-if="placeholder && !inputData")
          | {{placeholder}}
        DatePicker(
          v-model="inputData"
          :editable="false"
          :clearable="false"
          width="100%"
          :input-class="'work-space__date'"
          :lang="lang"
          :range="range"
          range-separator="-"
          placeholder="Выберите дату"
          :shortcuts="shortcuts"
          :first-day-of-week="1"
          @change="updatePropValue"
          :type="showTimePanel ? 'datetime' : 'date'"
          :format="showTimePanel ? 'DD/MM/YYYY HH:mm:ss' : 'DD/MM/YYYY'"
          :append-to-body="appendToBody"
        )
          template(v-slot:calendar-icon)
            span(style="display:none;")
  
      Icon(
        v-if="showIcon"
        v-show="meta.isFocused || showClear"
        class="form-item__delete"
        icon="input-delete"
        @click="clearInput"
      )

</template>

<script>
  import DatePicker from 'vue2-datepicker'
  import vClickOutside from 'v-click-outside'
  import moment from 'moment'

  export default {
    directives: {clickOutside: vClickOutside.directive},
    components: {DatePicker},
    props: {
      value: {},
      title: {},
      error: {},
      placeholder: {},
      inputClass: {},
      inputStyle: {},
      icon: {},
      tooltip: {},
      showTimePanel: 
      {
        type: Boolean,
        default: false  
      },
      showIcon: {
        default: true
      },
      showClear: {
        default: false,
      },
      defaultNow: {},
      appendToBody: {
        default: false
      },
      shortcuts:{
        type: Boolean,
        default: false,
      },
      type: {
        type: String,
        default: 'text'
      },
      disabled: {
        default: false
      },
      ddl:{
        type: Boolean,
        default: false
      },
      range:{
        type: Boolean,
        default: false
      }
    },
    data: () => ({
      inputData: [],
      meta: {
        isFocused: false
      },
      open: false,
      lang: {
        days: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
        months: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
        pickers: ['следующие неделя', 'следующий месяц', 'предыдушая неделя', 'предыдущий месяц'],
        placeholder: {
          date: '',
          dateRange: ''
        }
      },
    }),
    mounted(){
      setTimeout(() => {
        this.inputData = _.cloneDeep(this.value)
        if(!this.value && this.defaultNow)
          this.inputData = new Date()
      }, 0)
    },
    watch: {
      value(){ 
        if(this.value !== this.inputData)
          this.inputData = this.value
      }
    },
    methods: {
      focusIn(e){
        this.meta.isFocused = true
        this.$emit('focusIn', e)
      },
      clearInput() {
        this.inputData = ''
        this.$emit('input', this.inputData)
      },
      disableFocus(){
        this.meta.isFocused = false
      },
      updatePropValue(){
        if ( this.ddl )
        {
          this.$emit('input', this.inputData)
          return
        }
        if ( Array.isArray( this.inputData) )
        {
          let format = this.showTimePanel  ? 'YYYY-MM-DD HH:mm:ss' : 'YYYY-MM-DD'
          this.inputData[0] = moment(this.inputData[0]).format(format)
          this.inputData[1] = moment(this.inputData[1]).format(format)  
        }
        else
        {
          let format = this.showTimePanel ? 'YYYY-MM-DD HH:mm:ss' : 'YYYY-MM-DD'
          this.inputData = moment(this.inputData).format(format)
        }
        
        this.$emit('input', this.inputData)
      },
    }
  }
</script>
