<template lang="pug">
  .search
    .search__main( :class="isFocus && 'search__main-focus' ")
      Icon.search__main-icon(icon="search-thin")
      input.form-item__input.-input-only-(
        :title="title"
        v-model="search"
        @focus="isFocus = true"
        @blur="isFocus = false"
        :placeholder="placeholder"
      )
      Icon.search__main-clear(
        :class="search.length > 0 && '-active-'"
        @click="search = ''"
        icon="close"
      )
</template>
<script>
import replaceRouteQuery from "@lms/functions/replaceMultipleRouteQuery";

export default {
  props:
  {
    value:
    {
      type: String,
      default: () => ''
    },
    nameUrl:
    {
      type: String,
      default: () => 'name'
    },
    title:
    {
      type: String,
      default: () => 'Найти кого-то/что-то'
    },
    placeholder: {
      type: String,
      default: () => 'Поиск'
    }
  },
  data()
  {
    return {
      isFocus: false
    }
  },
  computed:
  {
    search:
    {
      get()
      {
        return this.value
      },
      set( value )
      {
        this.$emit('input', value)
      }
    }
  },
  watch:
  {
    search()
    {
      const arrayRoute = Object.entries(
        {...this.$route.query, [this.nameUrl]: this.search}
        ).map( el => 
          ({
            value: el[1],
            name: el[0],
            method: 'replace'
          })
        )
      replaceRouteQuery( arrayRoute )
    }
  },
}
</script>
