<template lang="pug">
  label.form-item(:class="{'-error-': error}")
    span.form-item__title.-tooltip-(v-if="title && tooltip" v-tiny-text-tooltip="{text: tooltip}")
      | {{title}}
    span.form-item__title(v-else-if="title")
      | {{title}}

    .form-item__block(
      @focusin="focusIn"
      v-click-outside="disableFocus"
      :class="{'form-item__block-ruble': (icon === 'ruble' && !meta.isFocused), 'form-item__block-percent': (icon === 'percent' && !meta.isFocused)}"
      @input="updatePropValue"
    )
      slot
      span.form-item__error(v-if="typeof error !== 'boolean'")
        | {{error}}
      input(
        v-if="type === 'text'"
        type="text"
        class="form-item__input"
        :class="inputClass"
        :style="inputStyle"
        :placeholder="placeholder"
        v-model="inputData"
        ref="input"
        :disabled="disabled"
        @blur="$emit('blur')"
        @focus="$emit('focus')"
        @keyup="$emit('keyup', $event)"
      )

      input(
        v-else-if="type === 'password'"
        type="password"
        class="form-item__input"
        :class="inputClass"
        :style="inputStyle"
        :placeholder="placeholder"
        v-model="inputData"
        ref="input"
        :disabled="disabled"
        @blur="$emit('blur')"
        @focus="$emit('focus')"
        @keyup="$emit('keyup', $event)"
      )

      InputNumber(
        v-else-if="type === 'number'"
        :inputClass="'form-item__input ' + (inputClass ? inputClass : '')"
        :style="inputStyle"
        ref="input"
        :placeholder="placeholder"
        v-model="inputData"
        :disabled="disabled"
        :noDot="noDot"
        @blur="$emit('blur', $event)"
        @focus="$emit('focus')"
        @keyup="$emit('keyup', $event)"
      )

      InputNumberNew(
        v-else-if="type === 'numberNew'"
        :inputClass="'form-item__input ' + (inputClass ? inputClass : '')"
        :style="inputStyle"
        ref="input"
        :placeholder="placeholder"
        v-model="inputData"
        :disabled="disabled"
        :noDot="noDot"
        @input="updatePropValue"
        @blur="$emit('blur', $event)"
        @focus="$emit('focus')"
        @keyup="$emit('keyup', $event)"
      )

      Icon(
        v-if="showIcon"
        v-show="meta.isFocused"
        class="form-item__delete"
        icon="input-delete"
        @click="clearInput"
      )

</template>

<script>
  import InputNumberNew from "@lms/components/Form/InputNumberNew";
  import vClickOutside from 'v-click-outside'

  export default {
    directives: {clickOutside: vClickOutside.directive},
    props: {
      value: {},
      title: {},
      error: {},
      placeholder: {},
      inputClass: {},
      inputStyle: {},
      icon: {},
      tooltip: {},
      noDot: {
        default: false
      },
      showIcon: {
        default: true
      },
      type: {
        type: String,
        default: 'text'
      },
      disabled: {
        default: false
      }
    },
    components: {InputNumberNew},
    data: () => ({
      inputData: '',
      meta: {
        isFocused: false
      }
    }),
    mounted() {
      setTimeout(() => {
        this.inputData = this.value
      }, 0)
    },
    watch: {
      value() {
        if (this.value !== this.inputData)
          this.inputData = this.value
      }
    },
    methods: {
      focusIn(e) {
        this.meta.isFocused = true
        this.$emit('focusIn', e)
      },
      clearInput() {
        this.inputData = ''
        this.updatePropValue()
        this.$emit('clear')
      },
      disableFocus() {
        this.meta.isFocused = false
      },
      updatePropValue() {
        this.$emit('input', this.inputData)
        this.$emit('change')
      }
    }
  }
</script>