<template lang="pug">
  label.form-item(:class="{'-error-': error}" @click="changeValue")
    span.form-item__title.-tooltip-(v-if="title && tooltip" v-tiny-text-tooltip="{text: tooltip}")
      | {{title}}
    span.form-item__title(
      v-else-if="hasTitle"
      :style="{pointerEvents: title ? '' : 'none'}"
    )
      | {{title ? title : '&nbsp;'}}

    .form-item__block.-switch-(@input="updatePropValue")
      SwitchBlock(
        v-model="localValue"
        :text="switchText"
        :disabled="true"
      )
      slot
      span.form-item__error(v-if="typeof error !== 'boolean'")
        | {{error}}

</template>

<script>
  import vClickOutside from 'v-click-outside'

  export default {
    directives: {clickOutside: vClickOutside.directive},
    props: {
      value: {},
      title: {},
      error: {},
      placeholder: {},
      icon: {},
      tooltip: {},
      switchText: {},
      disabled: {
        default: false
      },
      hasTitle: {
        default: true
      }
    },
    data: () => ({
      localValue: '',
    }),
    mounted(){
      setTimeout(() => {
        if(this.value !== undefined)
          this.localValue = this.value
      }, 1)
    },
    watch: {
      value(){
        if(this.value !== this.localValue)
          this.localValue = this.value
      }
    },
    methods: {
      changeValue(){
        this.localValue = !this.localValue
        this.updatePropValue()
      },
      updatePropValue(){
        this.$emit('input', this.localValue)
      }
    }
  }
</script>