<template>
  <input
    ref="input"
    type="text"
    :class="inputClass"
    :placeholder="placeholder"
    v-model="valueFormatted"
    @focus="focus"
    @blur="focusOut"
    @input="updateValue"
  >
</template>

<script>
  import numberFormat from "@lms/filters/numberFormat.filter";

  export default {
    props: ['placeholder', 'value', 'inputClass', 'min', 'max', 'noDot'],
    data: () => ({
      el: undefined,
      selection: {},
      valueNumber: 0,
      valueFormatted: ''
    }),
    mounted() {
      this.setInitialValue()
      this.el = this.$refs.input
    },
    watch: {
      value(val) {
        if(this.makeNumberFromString(val) !== this.valueNumber)
          this.setInitialValue()
      }
    },
    methods: {
      setInitialValue() {
        this.valueNumber = this.makeNumberFromString(this.value)
        this.valueFormatted = numberFormat(this.value, this.noDot)
        if(!this.valueFormatted)
          this.valueFormatted = 0
      },
      makeNumberFromString(number) {
        return +((''+number).replace(/[^\d]/, ''))
      },
      updateValue(){
        this.valueNumber = this.makeNumberFromString(this.valueFormatted)
        this.$emit('input', this.valueNumber)
      },
      focus() {
        this.valueFormatted = this.valueNumber ? this.valueNumber : ''
      },
      focusOut() {
        this.valueFormatted = numberFormat(this.valueNumber, this.noDot)
      }
    }
  }
</script>