<template>
  <input
      @blur="$emit('blur')"
      @keydown.tab="$emit('keyTab')"
      @focusin="focusIn"
      @focusout="focusOut"
      ref="input"
      type="text"
      :class="inputClass"
      :placeholder="placeholder"
      :value="val"
      @input="changeVal($event.target.value)"
  >
</template>

<script>
  import numberFormat from "@lms/filters/numberFormat.filter";

  export default {
    props: ['placeholder', 'value', 'inputClass', 'min', 'max', 'noDot'],
    data: () => ({
      val: '',
      el: '',
      selectionRange: ''
    }),
    mounted(){
      this.val = this.value
      this.el = this.$refs.input
      this.changeVal(this.value)
    },
    watch: {
      value(){
        this.val = this.value
        this.changeVal(this.value)
      }
    },
    methods: {
      focusIn(){
        this.val = this.val == 0 ? '' : this.val
      },
      focusOut(){
        this.val = this.val === '' ? 0 : this.val
      },
      changeVal(value = 0){
        if(value === null) value = 0
        let caretPosEnd = value.length - this.el.selectionEnd
        let min = false

        if(this.min !== undefined) {
          if(+value.replace(/ /g, '') < this.min){
            value = this.min
            min = true
          }
        } else if(this.max !== undefined){
          if(+value.replace(/ /g, '') > this.max){
            value = this.max
          }
        }

        value = numberFormat(value, this.noDot)
        this.el.value = value
        this.val = value
        this.$emit('update:value', value)
        this.$emit('input', value)

        if(min)
          this.el.setSelectionRange(this.min.length, this.min.length)
        else if (caretPosEnd === 0)
          this.el.setSelectionRange(value.length, value.length)
        else
          this.el.setSelectionRange(value.length - caretPosEnd, value.length - caretPosEnd)
      },
    }
  }
</script>