<template lang="pug">
  label.radio
    input.radio__input(
      type="radio"
      :name="name"
      :checked="checked"
      :value="radioState"
      @change="updateRadio")

    svg.radio__icon(
      :class="iconClass"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
    )
      circle.radio__icon-outer(cx="8" cy="8" r="7")
      circle.radio__icon-inner(cx="8" cy="8" r="4")

    p.radio__text(:class="textClass" v-if="text" v-html="text")

</template>

<script>
  export default {
    name: 'radioBlock',
    props: {
      text: {},
      value: {},
      checked: {},
      name: {},
      iconClass: {},
      textClass: {},
      type: {
        default: 'boolean'
      }
    },
    data: () => ({
      radioState: false
    }),
    mounted() {
      this.radioState = this.value
    },
    watch: {
      value(){
        if(this.radioState !== this.value)
          this.radioState = this.value
      },
    },
    methods: {
      updateRadio() {
        this.$emit('change', this.radioState)
      }
    },
  }
</script>