<template lang="pug">
  .search
    .search__main
      Icon.search__main-icon(icon="search-thin")
      input.form-item__input.-input-only-(
        :title="titleText"
        v-model="search"
        placeholder="Поиск"
        @input="sendSearchApi"
      )
      Icon.search__main-clear(
        @click="clearSearch"
        icon="close"
      )

</template>

<script>

  export default {
    props: ['querySearch', 'searchUrl', 'cancelTokenName','title'],
    data: () => ({
      search: '',
      titleText: 'Межстрочное расстояние'
    }),
    mounted(){
      if(this.title)
        this.titleText = this.title

      this.sendSearchApi()
    },
    methods: {
      clearSearch(){
        this.search = ''
      },
      async sendSearchApi() {
        if(this.searchUrl) {
          let result = await this.$store.dispatch('search/searchByUrl', {url: this.searchUrl, cancelTokenName: this.cancelTokenName, name: this.search})
          if(typeof result === 'object')
            this.$emit('returnSearchData', {data: result})
        }
      }
    }
  }
</script>