<template lang="pug">
.form-item(:class="{'-error-': error}")
	span.form-item__title(v-if="title")
		| {{title}}
	.form-item__block(v-click-outside="close")
		span.form-item__error(v-if="typeof error !== 'boolean'")
			| {{error}}

		.form-item__select.select( :class="{'-error__class-': error}" @click="toggleOpen")
			p.select__text( :class="value ? '' : 'select__text-placeholder'" :aria-placeholder="placeholder")
				| {{result}}

		SlideUpDown.select__slider(
			:duration="slideDuration"
			:active="isOpen" v-if="!disabled"
		)
			.select__field.-no-padding-
				.select__item(
					v-for="(selectItem, idx) in selectData" :key="idx" :style="addIcon(selectItem)"
					@click="setOption(idx, selectItem.text, selectItem.value)",
				)
					Avatar(v-if="selectItem.avatar || selectItem.icon" :img="selectItem.avatar || selectItem.icon" cicrle size="s")
					p.select__text
						| {{selectItem.text}}

		Icon.form-item__icon(:icon="!icon ? 'arrow-down' : icon")

</template>
	
<script>
	import SlideUpDown from 'vue-slide-up-down'
	import vClickOutside from 'v-click-outside'

	export default {
		directives: {clickOutside: vClickOutside.directive},
		components: {SlideUpDown},
		props: {
			value: {},
			selectData: {
				default: () => [{text: '', value: ''}]
			},
			disabled:{
				type:Boolean,
				default:false
			},
			title: {},
			error: {},
			icon: {},
			placeholder: {},
			message:{}
		},
		data: () => ({
			isOpen: false,
			result: '',
			slideDuration: 200
		}),
		mounted(){	
			let index = this.selectData.findIndex(item => item.value == this.value)
			this.result = index !== -1 ? this.selectData[index].text : (this.placeholder ? this.placeholder : 'Выберете поле')
		},
		watch: {
			selectData(){
				let index = this.selectData.findIndex(item => item.value == this.value)
				this.result = index !== -1 ? this.selectData[index].text : (this.placeholder ? this.placeholder : 'Выберете поле')
			},
		},
		methods: {
			close() {
				this.isOpen = false
			},
			toggleOpen() {
				this.isOpen = !this.isOpen
			},
			setOption(idx, text, value) {
				this.close()
				
				this.result = text
				this.$emit('input', value)
			},
			addIcon({icon}){
				if (icon) return {
					'backgroundImage':`url(${icon})`,
					'backgroundColor':'grey',
					'backgroundSize':'cover',
					'backgroundRepeat':'no-repeat'
				}
				else return {}
			}
		}
	}
</script>