<template lang="pug">
  label.switch(:class="'-'+size+'-'")
    input.switch__input(
        v-model="localValue"
        @change="emitValue"
        :disabled="disabled"
        :true-value="type === 'boolean' ? true : 1"
        :false-value="type === 'boolean' ? false : 0"
        :class="{'-checked-': localValue}"
        type="checkbox"
        hidden
    )
    .switch__icon(:class="iconClass")
      span.switch__icon-inner

    p.switch__text(:class="textClass" v-if="text" v-html="text")
      | {{localValue}}

</template>

<script>
	export default {
		props: {
			text: {},
			iconClass: {},
			textClass: {},
			value: {
			  default: false
      },
			disabled: {},
			type: {
				default: 'boolean'
			},
      size: {
			  default: 'm'
      }
		},
		data: () => ({
			localValue: false
		}),
		mounted() {
			setTimeout(() => {
			  if(this.value !== undefined)
          this.localValue = this.value
			}, 1)
		},
		watch: {
			value(){
				if(this.value !== this.localValue)
					this.localValue = this.value
			}
		},
		methods: {
			emitValue() {
				if(this.disabled)
					return

				this.$emit('input', this.localValue)
			},
		},
	}
</script>