<template lang="pug">
  label.form-item(:class="{'-error-': error}")
    span.form-item__title(v-if="title") {{title}}

    .form-item__block.-textarea-.-word-counter-(
        @focusin="meta.isFocused = true"
        :class="{'form-item__block-ruble': (icon === 'ruble' && !meta.isFocused), '-has-rows-': hasHiddenRows}"
        :data-words-all="maxlength"
        :data-words-now="inputData ? inputData.length : 0"
        @input="updatePropValue")
        
      slot
      span.form-item__error(v-if="typeof error !== 'boolean'") {{error}}

      textarea.form-item__textarea(
        v-if="type === 'text'"
        type="text"
        :placeholder="placeholder"
        v-model="inputData"
        :class="[inputClass]"
        ref="input"
        :maxlength="maxlength"
        :disabled="disabled"
        @blur="setInitialHeight"
        @focus="setFullHeight"
        @input="inputHandler"
      )

          
</template>

<script>
  import vClickOutside from 'v-click-outside'

  export default {
    directives: {clickOutside: vClickOutside.directive},
    props: {
      value: {},
      title: {},
      error: {},
      placeholder: {},
      inputClass: {},
      icon: {},
      disabled: {
        default: false
      },
      type: {
        type: String,
        default: 'text'
      },
      maxlength: {
        default: 1000
      }
    },
    data: () => ({
      inputData: '',
      isOpen: false,
      meta: {
        isFocused: false
      },
      hasHiddenRows: false
    }),
    mounted(){
      setTimeout(() => {
        this.inputData = this.value
        this.checkForRows()
      }, 0)
    },
    methods: {
      checkForRows(){
        this.hasHiddenRows = this.$refs.input.scrollHeight > 50 && !this.isOpen
      },
      disableFocus(){
        this.meta.isFocused = false
      },
      updatePropValue(){
        this.$emit('input', this.inputData)
        this.$emit('change')
      },
      inputHandler() {
        let input = this.$refs.input
        input.style.height = 'auto'
        input.style.height = input.scrollHeight+'px'
      },
      setInitialHeight() {
        this.isOpen = false
        let input = this.$refs.input
        input.removeAttribute('style')
        this.checkForRows()
      },
      setFullHeight() {
        this.isOpen = true
        let input = this.$refs.input
        input.style.height = 'auto'
        input.style.height = input.scrollHeight+'px'
        this.checkForRows()
      }
    }
  }
</script>