<template lang="pug">

  label.upload-file(
    :style="{pointerEvents: disabled && 'none'}"
  )
    Icon.upload-file__svg(v-if="isIcon" :icon="icon")

    input.upload-file__input(
      ref="input"
      @change="uploadFile"
      type="file"
      :accept="acceptTypes"
      hidden
      :multiple="multiple"
      tabindex="-1"
    )

    .button.-xs-.upload-file__button(
      :class="[buttonClass ? buttonClass : 'button-primary', isIcon && 'upload-file__btn-icon']"
    )
      | {{buttonText}}



</template>

<script>
  import {mapActions} from 'vuex'
  import addObjectToFormData from "@lms/functions/addObjectToFormData";

  export default {
    props: {
      value:{},
      buttonText: {
        default: 'Загрузить файл'
      },
      isIcon: {
        default: false
      },
      icon:
      {
        type: String,
        default: 'file'
      },
      buttonClass: {},
      fileExt: {
        default: () => []
      },
      fileMime: {
        default: () => []
      },
      multiple: {},
      maxLength: {},
      onlyImages: {
        default: false
      },
      hugeFiles: {
        default: false
      },
      disabled: {}
    },
    data: () => ({
      urlData: '',
      files: [],
      formData: new FormData()
    }),
    computed: {
      acceptTypes(){
        let extString = this.fileExt.reduce((res, item) => res + item+',', '')
        let mimeString = this.fileMime.reduce((res, item) => res + item+',', '')
        return extString+mimeString
      }
    },
    methods: {
      ...mapActions('ajax', [
        'addMessage'
      ]),
      uploadFile() {
        const files = this.$refs.input.files
        if(!files || files.length === 0)
          return

        this.checkFiles(files)
        this.returnFiles()
      },
      checkFiles(files) {
        files.forEach(f => {
          if (!this.hugeFiles && f.size > 20971520) {
            this.addMessage({message: 'Размер файла не должен превышать 20Мб. Имя файла: '+f.name, type: 'error'})
            return
          } else if (this.hugeFiles && f.size > 209715200) {
            this.addMessage({message: 'Размер файла не должен превышать 200Мб. Имя файла: '+f.name, type: 'error'})
            return
          }

          let regexString = f.type
          let fileExt = f.name.match(/\..*$/)
          if (fileExt === null) {
            this.$store.dispatch('ajax/addMessage', {message: 'Отсутствует формат файла. Имя файла: '+f.name, type: 'error'}, {root: true})
            return
          }

          if (fileExt)
            regexString += regexString ? '\|' + fileExt[0] : fileExt[0]

          regexString.replace('.', '\.')
          let regex = new RegExp(regexString)
          let match = this.acceptTypes.match(regex)
          if (match === null && !f.type.includes('image/')) {
            if(this.onlyImages)
              this.$store.dispatch('ajax/addMessage', {message: 'Можно прикреплять только картинки. Неверный файл: '+f.name, type: 'error'}, {root: true})
            else
              this.$store.dispatch('ajax/addMessage', {message: 'Формат файла не поддерживается. Имя файла: '+f.name, type: 'error'}, {root: true})
            return
          }

          const reader = new FileReader()
          reader.readAsDataURL(f)
          reader.onload = e => {
            this.urlData = e.target.result
          }

          if(this.maxLength && files.length === +this.maxLength)
            return

          this.files.push(f)
        })
      },
      returnFiles(){
        if(this.multiple) {
          addObjectToFormData(this.formData, {files: [...this.files]})
          this.$emit('getFiles', {formData: this.formData})
        } else {
          this.formData.append('file', this.files[0])
          this.$emit('getFiles', {formData: this.formData, fileUrl: this.urlData, file: this.files[0]})
        }
        this.formData = new FormData()
        this.files = []
        this.$refs.input.value = ''
      },
    }
  }
</script>