<template lang="pug">
  .pop__up(:class="classPopup" ref="el" :style="{'top':top+'px','left':left+'px'}")
    .pop__up-container(v-if="value" :class="classPopupContainer" v-click-outside="close")
      slot
</template>
<script>
import vClickOutside from 'v-click-outside'

export default {
  directives: {clickOutside: vClickOutside.directive},
  props:{
    value:{
      type: Boolean,
      default: false
    },
    parent:{},
    classPopup:{},
    classPopupContainer:{},
    scrollTrigger: {},
    container: {
      default: () => document.querySelector('.ui-space')
    }
  },
  data()
  {
    return {
      top:'',
      left:'',
      width: '',
    }
  },
  watch:
  {
    parent()
    {
      this.getCoords()
    }
  },
  mounted()
  {
    this.getCoords()
    this.watchScroll()
  },
  methods:{
    async getCoords()
    {
      this.container.append(this.$refs.el);
      this.setCoords()
    },
    setCoords()
    {
      let containerRect = this.container.getBoundingClientRect()
      let parentRect = this.parent.getBoundingClientRect()

      this.top = parentRect.top - containerRect.top + this.container.scrollTop + parentRect.height + 10;
      this.left = parentRect.left - containerRect.left + this.container.scrollLeft
    },
    close(){
      this.$destroy()
    },
    watchScroll() {
      if(this.scrollTrigger)
        this.scrollTrigger.addEventListener('scroll', this.setCoords)
    },
    unwatchScroll() {
      if(this.scrollTrigger)
        this.scrollTrigger.removeEventListener('scroll', this.setCoords)
    },
  },
  destroyed() {
    this.$emit('input', false);
    this.unwatchScroll()
  }
}
</script>