<template lang="pug">
  .lesson-test-navigation
    Button.-xs-(
      :isLoading="isLoading"
      @click="$emit('saveBlock')"
    )
      | Сохранить
    .lesson-test-navigation-list
      .lesson-test-navigation-list__item(
        v-for="(slide, idx) in slides" :key="idx"
        :class="{'-active-': idx === currentSlideIdx}"
        @click="goToSlide(idx)"
      )

</template>

<script>
  export default {
    props: ['slides', 'currentSlideIdx', 'isLoading'],
    methods: {
      goToSlide(idx) {
        if(idx !== this.currentSlideIdx)
          this.$emit('goToSlide', idx)
      }
    }
  }
</script>