<template lang="pug">
  .lesson-test-slide-header
    .main-block__title
      | Тест
    .lesson-test-slide-header__nav
      .lesson-test-slide-header__nav-icon.-prev-(
        :style="{visibility: isFirstSlide ? 'hidden' : ''}"
        @click="goToPrevSlide"
      )
        Icon(icon="slider-arrow-next")
      .lesson-test-slide-header__nav-text
        | {{navText}}
      .lesson-test-slide-header__nav-icon.-next-(
        :style="{visibility: isLastSlide ? 'hidden' : ''}"
        @click="goToNextSlide"
      )
        Icon(icon="slider-arrow-next")

</template>

<script>
  export default {
    props: {
      navText: {},
      slidesLength: {},
      currentSlideIdx: {},
    },
    computed: {
      isLastSlide() {
        return this.slidesLength === this.currentSlideIdx+1
      },
      isFirstSlide() {
        return this.currentSlideIdx === 0
      },
    },
    methods: {
      goToPrevSlide() {
        this.$emit('goToSlide', this.currentSlideIdx - 1)
      },
      goToNextSlide() {
        this.$emit('goToSlide', this.currentSlideIdx + 1)
      }
    }
  }
</script>