<template lang="pug">
  .group__select-list
    template(v-if="folder")
      span.group__select-list-folder
        | {{folder.name}}
    template(v-if="course")
      .group__select-list-course
        span.group__select-list-name
          | {{course.name}}
        span.group__select-list-point
          | {{tasksPoint}} работ

    template(v-if="task")
      .group__select-list-tasks
        span.group__select-list-text(
            @click="$emit('click',{blockVariaty: task.variety, blockId: task.id, task: task.systemName})"
          )
          | {{task.systemName}}
        span.group__select-list-point
          | {{task.count}} работ

    template(v-if="courses")
      SelectGroupingList(
        v-for="field in courses"
        :course="field.course"
        :tasks="field.tasks"
        :key="field.course.id"
        @click="$emit('click', $event)"
      )
    template(v-if="tasks")
      SelectGroupingList(
        v-for="field in tasks"
        :task="field"
        :key="field.id"
        @click="$emit('click', $event)"
      )

</template>

<script>
  export default {
    name: "SelectGroupingList",
    props:{
      folder:{},
      courses:{},
      tasks:{},
      course:{},
      task:{}
    },
    computed:{
        tasksPoint(){
          return this.tasks.map(el => el.count).reduce((first, second)=> first + second, 0)
        }
    }
  }
</script>
