<template lang="pug">
.rating-user-info
  .rating-user-info__row
    .rating-user-info-profile
      .rating-user-info-profile__img(
        :style="{ backgroundImage: `url('${user.avatar}')`}"
      )
      .rating-user-info-profile__field-list(
        v-if="!loading"
      )
        .rating-user-info-profile__field.-title-
          | {{ user.name}} {{ user.patronymic}} {{ user.lastname}}
        .rating-user-info-profile__field
          | {{ user.email}}
        .rating-user-info-profile__field
          Phone( :value="user.phone")
      .rating-user-info-profile__field-list(
        v-else
      )
        .rating-user-info-profile__field.-title-
          .ajax__line.-round-(
            :style="{height: '1em', width: '100%'}" 
          )
        .rating-user-info-profile__field
          .ajax__line.-round-(
            :style="{height: '1em', width: '70%'}" 
          )
        .rating-user-info-profile__field
          .ajax__line.-round-(
            :style="{height: '1em', width: '50%'}" 
          )

    .rating-user-info-stats
      .rating-user-info-stats__input-list
        UiInput.-background-main-.rating-user-info-stats__input(
          v-for="(stats, idx) in userStats" :key="idx"
          :title="stats.title",
          :value="stats.value",

          :disabled="!stats.edit"
        )
      .rating-user-info-stats__img(
        v-if="user.businessImg"
        :style="{ backgroundImage: `url('${user.businessImg}')`}"
      )

  //- .rating-user-info__row
    Progress
  
</template>

<script>
import Progress from './components/Progress'

export default {
  components: {
    Progress,
  },
  props: {
    user: {},
    userStats: {},
    loading: {},
  }

}
</script>

<style>

</style>