<template lang='pug'>
		
	Dropdown(
		:title="team.name"
		@isOpen="isOpenTeamGroup = $event"
	)
		template(v-slot:header)
			p.dropdown-row__count(
				:class="{'-absolute-': canEdit}"
			) {{currentNamesUserCount(team.count)}} 

			.user-team__icon-wrapper.-group-(
				v-if="canEdit"
			)
				Icon.user-team__icon.user-team__icon--hover-accent(
					icon="gear"
					:class="{'-active-': false}"
					@click.stop="openSettings"
				)
				Icon.user-team__icon.user-team__icon--hover-danger(
					icon="delete"
					:class="{'-active-': false}"
					@click.stop="showDeleteModal"
				)
				UiModal(
					v-model="isOpenDeleteModal"
					:destroy="true"
					@reject="unshowDeleteModal"
					@accept="deleteTeam"
				)
					p Вы действительно хотите удалить команду?
		//- TODO убрать v-if
		UserTable(
			v-if="isOpenTeamGroup" 
			:team="team"
			:folderId="folderId"
		)
		
</template>
	
<script>
	import {mapState} from 'vuex' 
	import UserTable from './components/UserTable'
	import EmptyUserTable from './components/EmptyUserTable'
	import Dropdown from '../Body/components/Dropdown'
	import counterNameFilter from "@lms/filters/counterName.filter";

	export default {
		components: {
			UserTable,
			EmptyUserTable,
			Dropdown,
		},
		props: {
			team: {},
			folderId: {},
		},
		computed: {
			...mapState('teamGroup', {
				canEdit: s => s.data.settings.canEdit,
			}),
		},
		data() {
			return {
				isOpenTeamGroup: false,
				isOpenDeleteModal: false,
			}
		},
		methods: {
			currentNamesUserCount(counter) {
				const names = ['участник', 'участника', 'участников']
				return counterNameFilter(+counter, names)
			},
			openSettings() {
				this.$store.dispatch('asides/addAside', {
					data: {
						name: 'setting-team-group',
						title: 'Настройки команды',
						subtitle: 'Отредактируйте название и назначьте капитанов',
						slotClass: '-field-',
						team: this.team,
					},
				})
			},
			showDeleteModal() {
				if(+this.team.count)
					this.$store.dispatch('ajax/addMessage', {message: 'В команде ещё есть участники', type: 'error'}, {root: true})
				else
					this.isOpenDeleteModal = true
			},
			unshowDeleteModal() {
				this.isOpenDeleteModal = false
			},
			async deleteTeam() {
				await this.$store.dispatch('teamGroup/deleteTeam', this.team.id)
				this.unshowDeleteModal()
			},
		}
	}
</script>