<template lang="pug">
  PageScroll.-width-limiter-(
    v-else
    :data="userPaginationTeam"
    @incrementPage="setPage"
    :isLoading="noMorePage"
    width="100%"
  )
    .user-team-list
      template(v-if="true")
        ul.user-team-table(
          :style="{'grid-template-columns': gridLayout}"
        )
          HeaderCell(
            v-for="cell in smartTitleList" :key="cell.id"
          ) {{cell.title}}

        BodyRow(
          v-for="user in userPaginationTeam" :key="user.id"
          :gridLayout="gridLayout"
          :user="user"
          :isSmart="true"
          :isFaculty="true"
          :canSetLeader="true"
          :disabledLeader="true"
          :canChangeTeam="canChangeTeam"
          :showGroupName="true"
          :groupName="user.groupName"
          :showEmail="true"
          :showVerification="true"
        )

      template(v-else)
        SkeletonRow

</template>

<script>
import HeaderCell from './components/UserTable/components/HeaderCell'
import BodyRow from './components/UserTable/components/BodyRow'
import SkeletonRow from '../Body/components/SkeletonRow'
import {mapState} from 'vuex'

export default {
  props: {
    userList: {},
    canChangeTeam: {
      default: false,
    }
  },
  components: {
    HeaderCell,
    BodyRow,
    SkeletonRow
  },
  data: () => ({
    defaultAvatar: 'https://lms.toolbox.wip/lms/img/user-default.jpg',
    page: 0,
    limit: 20,
  }),
  computed: {
    ...mapState('teamGroup', {
      foldersList: s => s.data.settings.streams
    }),
    gridLayout() {
      const result = []

      this.smartTitleList.forEach(prop => {
        result.push((prop.width || this.defaultWidth))
      })

      return result.join(' ')
    },
    noMorePage() {
      return this.userList.length === this.userPagination
    },
    userPagination() {
      return this.userList.slice(0, this.page * this.limit)
    },
    smartTitleList() {
      let titleList = [
        {
          id: 0,
          title: 'Контакты',
          width: '1fr'
        },
        {
          id: 1,
          title: 'Telegram',
          width: '1fr'
        },
        {
          id: 2,
          title: 'Email',
          width: '1fr'
        },
        {
          id: 3,
          title: 'Группа',
          width: '1fr'
        },
        {
          id: 5,
          title: 'Факультет / сборная',
          width: '1fr'
        },
        {
          id: 4,
          title: 'Настройки',
          width: '140px'
        },
      ]
      return titleList
    },
    userPaginationTeam() {
      return this.userPagination.map(user => {
        user.groupName = this.foldersList[user.group]
        return user
      })
    }

  },
  watch: {

  },
  mounted() {
    this.setPage()
  },
  methods: {
    setPage() {
      ++this.page
    }

  }

}
</script>

<style>

</style>
