<template lang="pug">
  .courses-card
    .courses-card__image(v-if="course.img" :style="{backgroundImage: `url('`+course.img.url+`')`}" @click="openCourse")

    .courses-card__info
      .courses-card__info-head
        .courses-card__info-head-top
          p.courses-card__name(@click="openCourse")
            | {{course.name}}
          UiOptionsList(
            v-if="optionsFields.length"
            :optionsFields="optionsFields"
          )

        .courses-card__description(
          v-if="course.description"
          @click="openCourse"
        )
          p {{course.description}}


      .courses-card__numbers(@click="openCourse")
        .courses-card__numbers-item
          p.courses-card__numbers-item-name
            | Уроков в курсе:&nbsp;

          p.courses-card__numbers-item-amount
            | {{course.lessonCount}}


        .courses-card__numbers-item
          p.courses-card__numbers-item-name
            | Дата старта:&nbsp;

          p.courses-card__numbers-item-amount
            | {{startDate}}

      UiButton(@click="openCourse")
        | {{isAdmin ? 'Открыть' : 'Начать'}}


</template>

<script>
  import MainAsideRight from '@lms/components/MainAsideRight/index'
  import Aside from './Aside/'
  import moment from 'moment'
  import {mapActions, mapState} from 'vuex'

  export default {
    components: {
      MainAsideRight, Aside
    },
    props: ['course', 'isLoading'],
    data() {
      return {
        options: [
          {
            text: 'Редактировать',
            func: this.editCourses,
            icon: 'edit',
          },
          {
            text: 'Дублировать',
            func: this.cloneCourses,
            icon: 'copy',
            confirm: true,
            confirmTitle: 'Вы уверены, что хотите дублировать этот курс?',
            confirmDescription: 'Курс будет продублирована',
            confirmApplyText: 'Дублировать',
            confirmCancelText: 'Отменить',
          },
          {
            text: 'Удалить',
            func: this.deleteCourses,
            icon: 'delete',
            red: true,
            confirm: true,
            confirmTitle: 'Вы уверены, что хотите удалить эту папку?',
            confirmDescription: 'Папка будет удалена навсегда',
            confirmApplyText: 'Удалить',
            confirmCancelText: 'Отменить',
          },
        ]
      }
    },
    computed: {
      ...mapState('auth', {
        $permissions: s => s.data.user.permissions.courseModuleAdmin,
        isAdmin: s => s.data.user.permissions.isAdmin
      }),
      startDate() {
        if (!this.course.dateOfStart)
          return 'не задана'

        let date = moment(this.course.dateOfStart)
        return date.format('D MMM')
      },
      optionsFields() {
        let arr = []

        if (!this.course.permissions || !this.course.permissions.isAdmin || !this.course.permissions.courseModuleAdmin)
          return arr

        if (this.$permissionsUpdate || +this.course.permissions.courseModuleAdmin.update)
          arr.push(this.options[0])
        if (this.$permissionsCreate || +this.course.permissions.courseModuleAdmin.create)
          arr.push(this.options[1])
        if (this.$permissionsDelete || +this.course.permissions.courseModuleAdmin.delete)
          arr.push(this.options[2])

        return arr
      },
    },
    methods: {
      ...mapActions('coursesCourse', [
        'deleteCourse',
        'cloneCourse'
      ]),
      openCourse() {
        this.$router.push({path: '/courses/course/' + this.course.id})
      },
      editCourses() {
        this.$store.dispatch('coursesCourse/setAsideData', {path: 'idx', value: this.course.id})
        this.$store.dispatch('coursesCourse/setAsideData', {path: 'course', value: this.course})
        this.$store.dispatch('coursesCourse/setAsideMeta', {path: 'isOpen', value: true})
      },
      deleteCourses() {
        let id = this.$route.path.split('/').splice(3, 1)[0]
        this.$store.dispatch('coursesCourse/setAsideData', {path: 'idx', value: this.course.id})
        this.deleteCourse({folderId: id})
      },
      cloneCourses() {
        let id = this.$route.path.split('/').splice(3, 1)[0]
        this.$store.dispatch('coursesCourse/setAsideData', {path: 'idx', value: this.course.id})
        this.$store.dispatch('coursesCourse/setAsideData', {path: 'course', value: this.course})
        this.cloneCourse({folderId: id})
      }
    }
  }
</script>