<template lang="pug">
  .speed-hundred-user-layout(ref="content")
    UserInfo.speed-hundred-user-card(
      ref="userinfo"
      :user="userInfo"
      :business-options="availableBusiness"
      :is-loading="isLoadingUser"
      :is-loading-business="isLoadingBusiness"
      :can-edit="canEditBusiness"
      :show-onboarding="!authUser.isAdmin || (authUser.isAdmin && authUser.id === userId)"
      @businessChanged="changeBusinessSphere($event)"
      @onboardingClicked="startOnboarding"
      :style="{ zIndex: onboardingStep === 1 ? 200 : 'unset' }"
    )
    transition(name="fade" duration="200" appear)
      NicheList(
        v-if="!isLoadingNiches && hasInvestmentsMarathon"
        :niches="nichesList"
      )
    transition(name="fade" duration="200" appear)
      MetricsTable.speed-hundred-user-card(
        ref="ratingtable"
        :isLoading="isLoadingTractionData"
        :traction-data="tractionData"
        :traction-metrics="tractionMetrics"
        :streams="tractionStreamsOptions"
        :selected-stream="selectedStream"
        :can-edit="canEdit"
        @streamChanged="selectedStream = $event"
        @input="changeRatingData($event)"
        :style="{ zIndex: onboardingStep === 2 ? 200 : 'unset' }"
      )
    transition(name="fade" duration="200" appear)
      UserCheckBox.speed-hundred-user-card.bg(
        v-if="hasFastCash || hasInvestmentsMarathon"
        :is-loading="isLoadingCheckboxes"
        :check-data="checkboxList"
        :user-id="userId"
        :mode="checkboxMode"
      )
    transition(name="fade" duration="200" appear)
      .chart-row
        MetricsChart.speed-hundred-user-card(
          :isLoading="isLoadingTractionData"
          ref="ratingchart"
          :chart-meta="earningsChartMeta"
          :traction-data="tractionData"
          :metrics-key="'2'"
          :style="{ zIndex: onboardingStep === 3 ? 200 : 'unset' }"
        )
        MetricsChart.speed-hundred-user-card(
          :isLoading="isLoadingTractionData"
          :chart-meta="profitChartMeta"
          :traction-data="tractionData"
          :metrics-key="'1'"
          :style="{ zIndex: onboardingStep === 3 ? 200 : 'unset' }"
        )
        MetricsChart.speed-hundred-user-card(
          v-if="showMSACharts"
          :isLoading="isLoadingTractionData"
          :chart-meta="npsChartMeta"
          :traction-data="tractionData"
          :metrics-key="'3'"
          aggregate-function="mean"
          :style="{ zIndex: onboardingStep === 3 ? 200 : 'unset' }"
        )
        MetricsChart.speed-hundred-user-card(
          v-if="showMSACharts"
          :isLoading="isLoadingTractionData"
          :chart-meta="pointsNoChartMeta"
          :traction-data="tractionData"
          :metrics-key="'4'"
          :style="{ zIndex: onboardingStep === 3 ? 200 : 'unset' }"
        )
        MetricsChart.speed-hundred-user-card(
          v-if="showMICharts"
          :isLoading="isLoadingTractionData"
          :chart-meta="meetingsAssignedChartMeta"
          :traction-data="tractionData"
          :metrics-key="'5'"
          :style="{ zIndex: onboardingStep === 3 ? 200 : 'unset' }"
        )
        MetricsChart.speed-hundred-user-card(
          v-if="showMICharts"
          :isLoading="isLoadingTractionData"
          :chart-meta="meetingsAttendedChartMeta"
          :traction-data="tractionData"
          :metrics-key="'6'"
          :style="{ zIndex: onboardingStep === 3 ? 200 : 'unset' }"
        )
        MetricsChart.speed-hundred-user-card(
          v-if="showMICharts"
          :isLoading="isLoadingTractionData"
          :chart-meta="investmentsAttractedChartMeta"
          :traction-data="tractionData"
          :metrics-key="'7'"
          :style="{ zIndex: onboardingStep === 3 ? 200 : 'unset' }"
        )
    OnboardingModal.onboarding-card(
      v-if="onboardingStarted"
      :step="onboardingCurrentStep"
      :style="onboardingPos"
      :dir="onboardingStep === 3 ? 'bottom' : 'top'"
      @nextStep="onboardingNextStep"
      @finish="finishOnboarding"
    )
    .onboarding-bg(v-if="onboardingStarted")

</template>

<script>
import { mapState, mapActions } from 'vuex';

import UserInfo from './components/UserInfo';
import MetricsChart from './components/MetricsChart';
import MetricsTable from './components/MetricsTable';
import UserCheckBox from './components/UserCheckBox';
import OnboardingModal from './components/OnboardingModal';
import NicheList from './components/NicheList';

export default {
  name: "UnifiedUser",
  components: { NicheList, UserInfo, MetricsChart, MetricsTable, OnboardingModal, UserCheckBox },
  props: {
    userId: {
      type: Number,
      default: 0
    }
  },
  data: function() {
    return {
      onboardingStarted: false,
      onboardingStep: 0,
      onboardingStepList: [
        {
          step: 1,
          title: 'Личные данные',
          text: [
            `Здесь сохранены твои данные, указанные при регистрации на платформе.
              Чтобы их изменить, перейди в настройки профиля.`
          ],
          btnText: 'Хорошо',
          finalStep: false,
          ref: 'userinfo'
        },
        {
          step: 2,
          title: 'Заполнение таблицы',
          text: [
            `Перед тобой таблица аналитики.
              В нее ты будешь еженедельно вносить свои результаты
              по выручке и прибыли. Это поможет увидеть твой
              прогресс и понять, как улучшить показатели.`,
            `Перед началом обучения заполни данные
              по выручке / прибыли до курса. В конце каждой недели
              фиксируй новый результат.`
          ],
          btnText: 'Хорошо',
          finalStep: false,
          ref: 'ratingtable'
        },
        {
          step: 3,
          title: 'Личные данные',
          text: [
            `На графиках будет отображаться динамика роста твоих показателей на курсе.
              Если выручка и прибыль этой недели выше предыдущей, график идет вверх. Если ниже - вниз.`,
            `Не опускай руки, если какая-то неделя выдалась менее успешной.
              Главный показатель — положительная динамика на графиках по итогам прохождения курса.`
          ],
          btnText: 'Погнали!',
          finalStep: true,
          ref: 'ratingchart'
        }
      ],
      earningsChartMeta: {
        title: 'Выручка',
        titleMeasurement: '₽',
        dynamicsTitle: 'Динамика выручки',
        dynamics: 10000,
        dynamicsMeasurement: '₽',
        icon: 'icon-squared-wallet'
      },
      profitChartMeta: {
        title: 'Прибыль',
        titleMeasurement: '₽',
        dynamicsTitle: 'Динамика прибыли',
        dynamics: 10000,
        dynamicsMeasurement: '₽',
        icon: 'icon-squared-moneybag'
      },
      npsChartMeta: {
        title: 'NPS',
        titleMeasurement: '%',
        dynamicsTitle: 'Динамика NPS',
        dynamics: 24,
        dynamicsMeasurement: '%',
        icon: 'icon-squared-happy-face'
      },
      pointsNoChartMeta: {
        title: 'Точек',
        titleMeasurement: '',
        dynamicsTitle: 'Динамика точек',
        dynamics: 10,
        dynamicsMeasurement: '',
        icon: 'icon-squared-points'
      },
      meetingsAssignedChartMeta: {
        title: 'Назначено встреч',
        titleMeasurement: '',
        dynamicsTitle: 'Динамика назначенных встреч',
        dynamics: 10,
        dynamicsMeasurement: '',
        icon: 'icon-squared-people-violet'
      },
      meetingsAttendedChartMeta: {
        title: 'Проведено встреч',
        titleMeasurement: '',
        dynamicsTitle: 'Динамика проведенных встреч',
        dynamics: 8,
        dynamicsMeasurement: '',
        icon: 'icon-squared-people-purple'
      },
      investmentsAttractedChartMeta: {
        title: 'Привлечено инвестиций',
        titleMeasurement: '₽',
        dynamicsTitle: 'Динамика привлеченных инвестиций',
        dynamics: 150000,
        dynamicsMeasurement: '₽',
        icon: 'icon-squared-moneybag'
      }
    }
  },
  computed: {
    ...mapState('ratingUnifiedUser', {
      userInfo: s => s.data.userInfo,
      availableBusiness: s => s.data.availableBusiness.map(b => ({ title: b.text, value: b })),
      tractionStreamsOptions: s => s.data.tractionStreams.map(st => ({ title: st.name, value: st.name })),
      tractionData: s => s.data.tractionData,
      tractionMetrics: s => s.data.tractionMetrics,
      fastCashCourse: s => s.data.tractionStreams.find(c => c.abstractCourse.slug === 'fastcash'),
      miCourse: s => s.data.tractionStreams.find(c => c.abstractCourse.slug === 'mi'),
      checkboxList: s => s.data.checkboxList,
      nichesList: s => s.data.nichesList,
      isLoadingUser: s => s.meta.isLoadingUserInfo,
      isLoadingBusiness: s => s.meta.isLoadingUserBusiness,
      isLoadingTractionData: s => s.meta.isLoadingTractionData,
      isLoadingCheckboxes: s => s.meta.isLoadingCheckboxes,
      isLoadingNiches: s => s.meta.isLoadingNiches,
      hasFastCash: s => s.meta.hasFastCash,
      hasInvestmentsMarathon: s => s.meta.hasInvestmentsMarathon,
    }),
    ...mapState('auth', {
      authUser: s => s.data.user
    }),
    checkboxMode() {
      if (this.hasFastCash) {
        return 'fastcash';
      } else if (this.hasInvestmentsMarathon) {
        return 'mi';
      } else {
        return 'fastcash';
      }
    },
    selectedStream: {
      get: function() {
        return this.$store.state.ratingUnifiedUser.data.selectedStream;
      },
      set: function(newStream) {
        this.$store.dispatch('ratingUnifiedUser/changeSelectedStream', newStream);
      }
    },
    onboardingPos() {
      let top = 'unset'
      let bottom = 'unset'
      const ref = this.onboardingCurrentStep.ref;
      const dir = this.onboardingStep === 3 ? 'bottom' : 'top'
      const rect = this.$refs[ref].$el.getBoundingClientRect();
      const content = this.$refs.content.getBoundingClientRect();
      if(dir === 'top') {
        top = (rect.bottom - content.top + 16) + 'px';
      } else {
        bottom = (content.height - (rect.bottom - rect.height - content.top -16)) + 'px';
      }
      return {
        top, bottom
      }
    },
    showMSACharts() {
      return !!this.tractionMetrics.find(m => m.title === 'NPS');
    },
    showMICharts() {
      return !!this.tractionMetrics.find(m => m.title === 'Привлечено инвестиций');
    },
    canEdit() {
      return this.userId === this.authUser.id;
    },
    canEditBusiness() {
      return this.userId === this.authUser.id;
    },
    onboardingCurrentStep() {
      return this.onboardingStepList.find(s => s.step === this.onboardingStep)
    }
  },
  created() {
    this.initData(this.userId);
  },
  destroyed() {
    this.storeCleanup();
  },
  methods: {
    ...mapActions('ratingUnifiedUser', [
      'getUserInfo',
      'getAvailableBusiness',
      'changeBusinessSphere',
      'getTractionData',
      'getCheckboxes',
      'getNiches',
      'checkTask',
      'storeCleanup'
    ]),
    async initData(userId) {
      await this.getAvailableBusiness();
      await this.getUserInfo(userId);
      await this.getTractionData(userId);
      if (this.fastCashCourse) {
        await this.getCheckboxes({ userId, streamId: this.fastCashCourse.id });
      }
      if (this.miCourse) {
        await this.getCheckboxes({ userId, streamId: this.miCourse.id });
        await this.getNiches({ userId, streamId: this.miCourse.id });
      }
    },
    changeRatingData(payload) {
      this.$store.dispatch('ratingUnifiedUser/changeRatingData', payload)
    },
    startOnboarding() {
      if (!this.onboardingStarted) {
        this.onboardingStarted = true
        this.onboardingStep = 1
      }
    },
    onboardingNextStep() {
      this.onboardingStep++
    },
    finishOnboarding() {
      this.onboardingStarted = false
      this.onboardingStep = 0
    }
  }
}
</script>

<style scoped lang="scss">
@import 'public/lms/sass/utils/*';

.speed-hundred-user {
  &-layout {
    @include uiFont;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    position: relative;

    .chart-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-bottom: 20px;

      @include media(768px) {
        grid-template-columns: 1fr;
      }

      & .speed-hundred-user-card {
        margin: 0;
      }
    }

    .onboarding-bg {
      position: fixed;
      pointer-events: none;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100%;
      z-index: 110;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(3px);
    }

    .onboarding-card {
      z-index: 200;
      position: absolute;
    }
  }

  &-card {
    background-color: $ui-white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 3px 8px 14px rgba(48, 64, 194, 0.05);
    margin-bottom: 20px;

    &.bg {
      background-color: #F7F8FC;
    }
  }
}
</style>
