<template lang="pug">
    Login
</template>

<script>
  import Login from "./Login"
  import Register from "./Register"

  export default {
    components: {Login, Register},
    data: () => ({
      view: ''
    }),
    mounted(){
      this.view = this.$route.meta.view
    },
    watch: {
      '$route.meta.view'(){
        this.view = this.$route.meta.view
      }
    },
    methods: {
      selectView(view){
        this.$router.replace('/'+view)
      },
    }
  }
</script>