<template lang="pug">
  .login__content
    form.login__form(@submit.prevent="login")
      UiInput.login__input(
        title="Email"
        placeholder="Введите вашу почту"
        v-model.trim="user.email"
        autocomplete="on"
        :error="$v.$dirty && (!$v.user.email.required || !$v.user.email.email || err.email !== '')"
        :popup="validPopup(!$v.user.email.required, 'Не забудьте заполнить это поле :)') || validPopup(!$v.user.email.email, 'Проверьте email') || {msg: err.email}"
        @focus="clearError('email')"
        )
      UiInput.login__input(
        title="Пароль"
        placeholder="Введите пароль"
        v-model.trim="user.password"
        type="password"
        autocomplete="on"
        :error="$v.$dirty && (!$v.user.password.required || err.password !== '')"
        :popup="validPopup(!$v.user.password.required, 'Не забудьте заполнить это поле :)') || {msg: err.password}"
        @focus="clearError('password')"
        )
      router-link.login__restore(to="/resetpassword") Забыли пароль?
      UiButton(type="submit") Войти в аккаунт
      Socials

      span.login__text
        | Нет аккаунта?
        router-link.login__link(to="/registration") Зарегистрироваться

</template>

<script>
  import Socials from './Socials'
  import {mapState} from 'vuex'
  import {required, email} from 'vuelidate/lib/validators'
  import PrivacyPolicy from './PrivacyPolicy'

  export default {
    components: {Socials, PrivacyPolicy},
    data: () => ({
      user: {
        email: '',
        password: '',
        rememberMe: 1
      },
      err: {
        email: '',
        password: '',
      }
    }),
    computed: {
      ...mapState('security', {
        loginIn: s => s.meta.loginIn,
        errors: s => s.data.authErrors
      }),
    },
    methods: {
      login(){
        if(this.loginIn) return
        this.$v.$touch()
        if(this.$v.$invalid) return

        this.$store.dispatch('security/login', this.user)
      },
      clearError(field){
        if(this.errors.find(e => e.field === field))
          this.$store.dispatch('security/removeAuthError', field)
      },
      validPopup(isErr, text) {
        if(!this.$v.$dirty)
          return
        if(isErr)
          return { msg: text }
      },
    },
    watch: {
      errors() {
        this.err.email=''
        this.err.password=''
        this.errors.forEach(item=> {
          switch(item.field) {
            case "password":
              this.err.password = item.message
              break;
            case "email":
              this.err.email = item.message
              break;
          }
        })
      },
    },
    destroyed() {
      if(this.errors.length > 0)
        this.$store.dispatch('security/clearAuthErrors')
    },
    validations: {
      user: {
        email: {required, email},
        password: {required}
      },
    }
  }
</script>
