<template lang="pug">
  UiCheckbox(
    :value="isCheck"
    :error="error"
    @input="onInput"
    color="gray"
    ) Оставляя данные, вы принимаете условия <br />
    a.inherited-link( target="_blank" href="https://docs.google.com/document/d/1l9I4EyDn7thrLgVAWwM-Eh4r_B5XS-2r-3m6dbZT0J0/edit")
      | Политики Конфиденциальности
    |  и 
    a.inherited-link( target="_blank" href="https://docs.google.com/document/d/1Z4I_yLTtUeJxyKyV8Ps6dcoYHQFZX7_A4sQlG8595pM/edit?usp=sharing")
      | Оферты

</template>

<script>
export default {
  props: {
    value: {
      default: false,
    },
    error: {}
  },
  data() {
    return {
      isCheck: false
    }
  },
  methods: {
    onInput(val) {
      this.isCheck = val;
      this.$emit('input', this.isCheck)
    }
  },
  mounted() {
    this.isCheck = this.value
  },
  watch: {
    value() {
      if(this.value != this.isCheck)
        this.isCheck = this.value
    }
  }

}
</script>

<style>

</style>