<template lang="pug">
  .login__content
    form.login__form(@submit.prevent="register")
      .login-modal-input.login__input
        UiInput.login__input(
          title="Email"
          placeholder="Введите вашу почту"
          v-model.trim="user.email"
          :error="$v.$dirty && (!$v.user.email.required || !$v.user.email.email) || err.email"
          :popup="validPopup(!$v.user.email.required, 'Не забудьте заполнить это поле :)') || validPopup(!$v.user.email.email, 'Проверьте email') || {msg: err.email}"
          @focus="clearError('email')"
          @input="clearValidEmailError"
          )
        .login-modal-input__modal-wrap(
          v-if="modal.isOpen"
        )
          .login-modal-input__modal
            .login-modal-input__header
              p Ваш email указан верно?
            .login-modal-input__body
              p 
                | При допущении ошибки в email ты не сможешь получать
                | письма. Проверьте, пожалуйста, данные.

            .login-modal-input__footer
            UiButton.login-modal-input__button(
              @click="acceptUnvalidEmail"
            ) Данные верны
            .login-modal-input__close-wrap(@click="closeModal")
              Icon.login-modal-input__close(icon="ui-close")



      UiInput.login__input(
        title="Пароль"
        placeholder="Введите пароль"
        v-model.trim="user.plainPassword"
        type="password"
        :error="$v.$dirty && $v.user.plainPassword.$error || err.plainPassword "
        :popup="validPopup(!$v.user.plainPassword.required, 'Не забудьте заполнить это поле :)') || validPopup(!$v.user.plainPassword.minLength, 'Минимальная длина пароля - 6 символов') || {msg: err.plainPassword}"
        @focus="clearError('plainPassword')"
        )
      UiInput.login__input(
        title="Пароль"
        placeholder="Повторите пароль"
        v-model.trim="user.repeatPassword"
        type="password"
        :popup="validPopup(!$v.user.repeatPassword.required, 'Не забудьте заполнить это поле :)') || validPopup(!$v.user.repeatPassword.equal, 'Пароли не совпадают')"
        @focus="clearError('plainPassword')"
        )
      router-link.login__restore(to="#").-hidden- Забыли пароль?
      UiButton(
        type="submit"
        :disabled="!isValidEmail"
      ) Создать аккаунт
      Socials
      span.login__text
        | Уже есть аккаунт? 
        router-link.login__link(to="/login") Войти
      PrivacyPolicy.login__privacy-policy(
        v-model="user.agreeTerms"
        :error="$v.$dirty &&  !$v.user.agreeTerms.isChecked"
        )
</template>

<script>
  import Socials from './Socials'
  import {mapState} from 'vuex'
  import {required, email, minLength} from 'vuelidate/lib/validators'
  import PrivacyPolicy from './PrivacyPolicy'
  import unvalidEmail from './unvalidEmail/list'

  export default {
    components: {Socials, PrivacyPolicy},
    data: () => ({
      modal: {
        isOpen: false,
        findUnvalid: false,
        accept: false,
      },
      user: {
        email: '',
        plainPassword: '',
        repeatPassword: '',
        agreeTerms: true,
      },
      err: {
        email: '',
      }
    }),
    computed: {
      ...mapState('security', {
        registering: s => s.meta.registering,
        errors: s => s.data.authErrors
      }),
      regexpEmail() {
        let reg = new RegExp(`@${unvalidEmail.join('$|@')}$`, 'i')
        return reg
      },
      isValidEmail() {
        return (!this.modal.findUnvalid || this.modal.accept)
      }
    },
    methods: {
      register(){
        if(this.registering) return
        this.$v.$touch()
        if(this.$v.$invalid) return

        this.checkValidEmail()
        if(!this.isValidEmail) {
          this.openModal()
          return
        }
        this.$store.dispatch('security/register', this.user)
      },
      clearError(field){
        if(this.errors.find(e => e.field === field))
          this.$store.dispatch('security/removeAuthError', field)
      },
      validPopup(isErr, text) {
        if(!this.$v.$dirty) 
          return
        if(isErr)
          return({
            msg: text,
            error: true
        })
      },
      openModal() {
        this.modal.isOpen = true
      },
      closeModal() {
        this.modal.isOpen = false
        this.modal.findUnvalid = false
      },
      acceptUnvalidEmail() {
        this.closeModal()
        this.modal.accept = true
        this.register()
      },
      checkValidEmail() {
        let res = this.regexpEmail.test(this.user.email)
        if(res)
          this.modal.findUnvalid = true
      },
      clearValidEmailError() {
        this.closeModal()
        this.modal.accept = false
        this.modal.findUnvalid = false
      }
    },
    watch: {
      errors() {
        this.err.email='',
        this.err.plainPassword=''
        this.errors.forEach(item=> {
          switch(item.field) {
            case "plainPassword":
              this.err.plainPassword = item.message
              break;
            case "email":
              this.err.email = item.message
              break;
          }
        })
      },
    },
    destroyed() {
      if(this.errors.length > 0)
        this.$store.dispatch('security/clearAuthErrors')
    },
    validations: {
      user: {
        email: {required, email},
        plainPassword: {
          required,
          minLength: minLength(6),
        },
        repeatPassword: {
          required,
          equal() {
            return this.user.plainPassword === this.user.repeatPassword
          },
        },
        agreeTerms: {
          isChecked(val) {
            return val
          }
        }
      }
    }
  }
</script>