<template lang="pug">
  .social-auth
    .social-auth__title Войти через социальные сети
    .social-auth__list
      a.social-auth__item(:href="authServerUrl + '/connect/vkontakte?platform=lms'" target="_self")
        Icon.social-auth__icon.-vk-(icon="ui-vk")
      a.social-auth__item.-fb-(:href="authServerUrl + '/connect/yandex?platform=lms'" target="_self")
        Icon.social-auth__icon.-yandex-(icon="ui-yandex")
      a.social-auth__item(:href="authServerUrl + '/connect/facebook?platform=lms'" target="_self")
        Icon.social-auth__icon.-fb-(icon="ui-fb")
      a.social-auth__item(:href="authServerUrl + '/connect/google?platform=lms'" target="_self")
        Icon.social-auth__icon.-google-(icon="ui-google")
    </div>
  </div>
</template>

<script>
  export default {
    computed: {
      authServerUrl(){
        return process.env.AUTH_SERVER_URL
      }
    }
  }
</script>