<template lang="pug">
  .user-icon
    .user-icon__img(
      :class="{'-no-img-': !avatar}"
      :style="{backgroundImage: `url('`+avatar+`')`}"
    )
      Icon.user-icon__unknown(v-if="!avatar" icon="user-unknown")

    UiFile.user-icon__file(
      @getFiles="upload"
      :dataName="'avatar'"
      :onlyImages="true"
      :icon="'ui-pencil'"
      :clear="false"
    ) Сменить


</template>

<script>
  import {mapState, mapActions} from 'vuex'
  export default {
    props: {
      propAvatar: {
        default: ''
      },
      email: {
        default: ''
      }
    },
    data: () => ({
      avatar: '',
      fileExt: ['.png', '.jpg', 'jpeg'],
    }),
    computed: {
      acceptTypes() {
        return this.fileExt.reduce((res, item) => res + item + ',', '')
      }
    },
    mounted() {
      this.avatar = this.propAvatar
    },
    watch: {
      propAvatar(val) {
        this.avatar = val
      },
    },
    methods: {
      ...mapActions('settingStore', [
        'settingLoadAvatar'
      ]),
      upload({formData}) {
        try {
          const reader = new FileReader()
          reader.readAsDataURL(formData.get("avatar"))
          reader.onload = e => {
            this.avatar = e.target.result
          }
          this.settingLoadAvatar(formData)
        } catch (e) {}
      },
    },
  }
</script>