<template lang="pug">
  .profile-edit
    UserIcon(:propAvatar="user ? user.avatar : ''")
    UiButton.profile-edit__button.-outside-(color="light" to="/user/settings/resetpassword")
      Icon.profile-edit__button-icon(icon="ui-key")
      | Сменить пароль
    .profile-edit__slider
      Swiper(
        ref="userSwiper"
        :options="swiperOptions"
      )
        SwiperSlide(v-if="gettingUserInfo")
          .ajax__line(
            style="height: 39px; width: 100%; margin: 9px 0"
            v-for="i in 6"
          )
        template(v-else)
          SwiperSlide
            .profile-edit__row
              .profile-edit__col
                .profile-edit__field
                  UiInput.profile-edit__input(
                    title='Имя'
                    placeholder='Как вас зовут?'
                    v-model.trim="user.name"
                    :popup="validPopup(!$v.user.name.required, 'Обязательное поле')"
                    )

                .profile-edit__field
                  UiInput.profile-edit__input(
                    title='Фамилия'
                    placeholder='Какая у вас фамилия?'
                    v-model.trim="user.lastname"
                    :popup="validPopup(!$v.user.lastname.required, 'Обязательное поле')"
                    )
                .profile-edit__field
                  UiInput.profile-edit__input(
                    title='Отчество'
                    placeholder='Какое у вас Отчество?'
                    v-model.trim="user.patronymic"
                    :popup="validPopup(!$v.user.patronymic.required, 'Обязательное поле')"
                    )

                .profile-edit__field
                  UiCityInput.profile-edit__input(
                    title='Местоположение'
                    placeholder='Где вы проживаете?'
                    v-model.trim="user.city"
                    :popup="validPopup(!$v.user.city.required, 'Обязательное поле')"
                  )

                .profile-edit__field
                  UiInput.profile-edit__input(
                    title='E-mail'
                    placeholder='Какая ваша почта?'
                    v-model.trim="user.email"
                    :error="$v.$dirty && (!$v.user.email.required || !$v.user.email.email)"
                    :popup="validPopup(!$v.user.email.required, 'Обязательное поле') || validPopup(!$v.user.email.email, 'Некорректный email')"
                    )

              .profile-edit__col
                .profile-edit__field
                  UiInput.profile-edit__input(
                    title='Телефон'
                    placeholder='Какой ваш номер телефона?'
                    v-model="user.phone")

                .profile-edit__field
                  UiInput.profile-edit__input(
                    title='VK'
                    placeholder='Укажите вашу ссылку Вконтакте'
                    v-model="user.vkLink"
                    :error="$v.$dirty && !$v.user.vkLink.isUrl"
                    :popup="validPopup(!$v.user.vkLink.isUrl, 'Некорректная ссылка')")

                .profile-edit__field
                  UiInput.profile-edit__input(
                    title='Facebook'
                    placeholder='Укажите вашу ссылку Фейсбук'
                    v-model="user.fbLink"
                    :error="$v.$dirty && !$v.user.fbLink.isUrl"
                    :popup="validPopup(!$v.user.fbLink.isUrl, 'Некорректная ссылка')")

                .profile-edit__field
                  UiInput.profile-edit__input(
                    title='Instagram'
                    placeholder='Укажите вашу ссылку Инстаграм'
                    v-model="user.instaLink"
                    :error="$v.$dirty && !$v.user.instaLink.isUrl"
                    :popup="validPopup(!$v.user.instaLink.isUrl, 'Некорректная ссылка')")

                .profile-edit__field
                  UiInput.profile-edit__input(
                    title='Telegram'
                    placeholder='Укажите ваш Телеграм'
                    v-model="user.telegram"
                    :error="$v.$dirty && !$v.user.telegram.isUrl"
                    :popup="validPopup(!$v.user.telegram.isUrl, 'Можно использовать латиницу (a-z), цифры (0-9) и подчеркивание. Минимальная длина - 5 символов')")

          SwiperSlide
            .profile-edit__row
              .profile-edit__col
                .profile-edit__field
                  UiInput.profile-edit__input(
                    title='Информация о бизнесе'
                    placeholder='Чем вы занимаетесь?'
                    v-model="user.businessInfo")

                .profile-edit__field
                  UiInput.profile-edit__input(
                    title='Ниша'
                    placeholder='На какой нише фокусируетесь?'
                    v-model="user.niche"
                    :error="$v.$dirty && !$v.user.niche.required")

                .profile-edit__field
                  UiSelect.profile-edit__input(
                    title='Тип бизнеса'
                    placeholder='Онлайн, оффлайн или совмещенный?'
                    :option="businessLocationsArray"
                    v-model="user.businessLocationTypeId")

                .profile-edit__field
                  UiInput.profile-edit__input(
                    title='Прибыль в неделю'
                    placeholder='Как много чистых денег получаете за неделю?'
                    v-model="user.profitPerWeek")

              .profile-edit__col
                .profile-edit__field
                  UiCityInput.profile-edit__input(
                    :max-height="120"
                    title='Местоположение'
                    placeholder='Где вы ведете деятельность?'
                    v-model.trim="user.businessCity")

                .profile-edit__field
                  UiSelect.profile-edit__input(
                    title='Сфера бизнеса'
                    placeholder='В каком направлении развиваетесь?'
                    v-model="user.businessCategoryId"
                    :option="businessOption"
                    :error="$v.$dirty && !$v.user.businessCategoryId.required"
                    :appendBody="true"
                    :maxHeight="110")
                .profile-edit__field
                  UiInput.profile-edit__input(
                    title='Франшизы'
                    placeholder='В каких городах действует франшиза вашей сети?'
                    v-model="user.franchises"
                    :error="$v.$dirty && !$v.user.fbLink.isUrl")

    .profile-edit__pagination(
      slot="pagination"
      )
    .profile-edit__row(v-if="activeIndex==0")
      .profile-edit__col
        uiButton.profile-edit__button(:color="$v.$dirty ? 'primary' : 'light'" @click="updateUser") Сохранить изменения
      .profile-edit__col
        uiButton.profile-edit__button(@click="openSlide(1)" :color="$v.$dirty ? 'light' : 'primary' ") Перейти к бизнес профилю
        .profile-edit__row
    .profile-edit__row(v-else-if="activeIndex==1")
      .profile-edit__col
        uiButton.profile-edit__button(color="light" @click="openSlide(0)") Перейти к общему профилю
      .profile-edit__col
        uiButton.profile-edit__button(@click="updateUser") Сохранить изменения
</template>

<script>
import UserIcon from './UserIcon'
import UiCityInput from '@lms/components/UiKit/CityInput'

import { Swiper, SwiperSlide, directive, } from 'vue-awesome-swiper'
import SwiperCore, { Pagination } from 'swiper';
import 'swiper/swiper-bundle.css'
import {required, email} from 'vuelidate/lib/validators';
import {mapState, mapActions} from 'vuex'

SwiperCore.use([ Pagination ]);

export default {
  props: ['storeUser'],
  components: {
    Swiper,
    SwiperSlide,
    UserIcon,
    UiCityInput
  },
  data: ()=> ({
    swiperOptions: {
      loop: false,
      simulateTouch: false,
      autoHeight: true,
      pagination: {
        el: '.profile-edit__pagination',
        clickable: true,
      }
    },
    activeIndex: '',
    user: {
      avatar: '',
      email: '',
      name: '',
      lastname: '',
      patronymic: '',
      phone: '',
      city: '',
      vkLink: '',
      fbLink: '',
      instaLink: '',
      telegram: '',

      niche: '',
      businessInfo: '',
      businessCity: '',
      businessCategoryId: '',
      businessLocationTypeId: '',
      profitPerWeek: '',
      franchises: '',
    },
    businessLocationsArray: [
      {title: 'Онлайн', value: '1'},
      {title: 'Офлайн', value: '2'},
      {title: 'Совмещенный', value: '3'},
    ],
  }),
  methods: {
    async updateUser(data) {
      if(this.$v.$invalid){
        this.$v.$touch()
        this.openNotValidSlide()
        return
      }
      await this.$store.dispatch('settingStore/setData', {path: 'stagedUserMain', value: this.user})
      let status = await this.$store.dispatch('settingStore/settingUpdate', {type: 'main'})
      if(status)
        this.closeEdit()
    },
    closeEdit(){
      this.$emit('update:isEditMain', false)
    },
    validPopup(isErr, text) {
      if(!this.$v.$dirty)
        return
      if(isErr)
        return({
          msg: text,
          error: true
        })
    },
    openSlide(slide) {
      this.swiper.slideTo(slide)
    },
    onChangeSlide() {
      this.activeIndex = this.swiper.activeIndex;
    },
    openNotValidSlide() {
      let userSlide = [
      'email',
      'name',
      'lastname',
      'patronymic',
      'city',
      'vkLink',
      'fbLink',
      'instaLink',
      ]

      let businessSlide = [
        'niche',
        'businessCategoryId',
      ]

      console.log(this.$v.user)

      let userError = userSlide.find(field => this.$v.user[field].$invalid)
      let businessError = businessSlide.find(field => this.$v.user[field].$invalid)

      console.log(userError + ' ' + businessError)

      if (userError) {
        this.openSlide(0)
      } else if(businessError) {
        this.openSlide(1)
      }

    }
  },
  computed: {
    ...mapState('auth', {
      userData: s => s.data.user,
      gettingUserInfo: s => s.meta.gettingUserInfo,
    }),
    ...mapState('auth', {
      businessTypes: s => s.data.businessTypes,
    }),

    swiper() {
      return this.$refs.userSwiper.$swiper
    },
    businessOption() {
      return this.businessTypes.map(item => {
        return {
          title: item.text,
          value: item.id,
        }
      })
    }
  },
  beforeCreate() {
    this.$store.dispatch('auth/getUserBusinessTypes')
  },
  mounted() {
    this.user = _.cloneDeep(this.userData);
    //Костыль. По какой-то причине computed: {swiper()} нормально работает только при глобальной регистрации слайдера
    this.activeIndex = this.swiper.activeIndex
    this.swiper.on('slideChange', this.onChangeSlide);
  },
  validations: {
    user: {
      email: {required, email},
      name: {required},
      lastname: {required},
      city: {required},
      patronymic: {required},
      vkLink: {
        isUrl(value){
          return value ? /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&\/\/=]*)/.test(value) : true
        }
      },
      fbLink: {
        isUrl(value){
          return value ? /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&\/\/=]*)/.test(value) : true
        }
      },
      instaLink: {
        isUrl(value){
          return value ? /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&\/\/=]*)/.test(value) : true
        }
      },
      telegram: {
        isUrl(value){
          return value ? /^[a-zA-Z0-9_]{5,32}$/.test(value) : true
        }
      },
      niche: {required},
      businessCategoryId: {required},
    },
  },
  watch: {
    gettingUserInfo() {
      if (!this.gettingUserInfo)
        this.user = _.cloneDeep(this.userData);
    }
  }


}
</script>
