<template lang="pug">
label.ui-kit-checkbox(:class="[color ? `-${color}-` : '', {'-reverse-': reverse, '-wide-': wide, '-error-': error}]")
  input.ui-kit-checkbox__real-input(
    type="checkbox"
    hidden
    :value="value"
    @input="onChange"
    :disabled="disabled"
  )
  span.ui-kit-checkbox__input(
    :class="{'-active-': value, '-disabled-': disabled}"
    @click="$emit('checkboxClick', !value)"
    )
    Icon.ui-kit-checkbox__icon(
      v-if="value"
      :icon="'ui-check'"
      :class="{'-disabled-': disabled}")
  span.ui-kit-checkbox__title(
    :style="titleMargin"
    @click="$emit('titleClick', !value)"
    )
    slot

</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    reverse: {
      type: Boolean,
      default: false
    },
    wide: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: ''
    },
    error: {
      type: Boolean,
      default: false
    },
  },
  methods: {
    onChange(e) {
      this.$emit('input', !this.value)
      this.$emit('change', !this.value)
      this.$emit('checked', e.target.value)
    }
  },
  computed: {
    titleMargin() {
      return this.reverse ? {marginRight: "7px"} : {marginLeft: "7px" }
    }
  }
}
</script>

<style>

</style>
