<!DOCTYPE html>
<html lang="ru">
<head>
    <head>
        <meta charset="UTF-8"/>
        <meta name="yandex-verification" content="a47e0b0d5fcefc94"/>

        {% block indexProperty %}<meta name="robots" content="noindex,nofollow">{% endblock %}

        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Образовательная платформа – Like Центр"/>
        <meta property="og:image" content="/lms/img/og/og-image.jpg"/>

        <link rel="shortcut icon" href="{{ asset('lms/img/favicon/favicon.ico') }}" type="image/x-icon"/>
        <link rel="apple-touch-icon" href="{{ asset('lms/img/favicon/apple-touch-icon.png') }}"/>

        {{ encore_entry_link_tags('lms') }}

        <title>{% block metaTitle %}Образовательная платформа{% endblock %}</title>


        {# {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('lms/css/style.css') }}?ts={{ get_asset_ts('lms/css/style.css') }}"/>
        {% endblock %} #}

        {% block javascript_head %}{% endblock %}

        {% if app.environment == "prod" %}
            <script>
              (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
                var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
              })(window, document, 'script', 'dataLayer', 'GTM-5H6TT6G');
            </script>
        {% endif %}


        <!--[if lt IE 10]>
        <p class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер.Пожалуйста, <a href="http://browsehappy.com/">обновите
            его до последней версии</a>, чтобы эта страница отображалась корректно.</p>
        <![endif]-->
    </head>

<body>
<!-- Google Tag Manager (noscript)-->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5H6TT6G" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!--End Google Tag Manager (noscript) -->


{% block page_content %}<div id="app"></div>{% endblock %}

{% block body_modules %}{% endblock %}




{% block body_javascript %}

    {{ encore_entry_script_tags('lms') }}

{% endblock %}
<script async src="https://lib.usedesk.ru/secure.usedesk.ru/widget_161568_31727.js"></script>
{#{% if app.environment == "prod" or app.environment == "development" %}#}
{#    <!-- usedesk {literal} -->#}
{#    <script async src="https://lib.usedesk.ru/secure.usedesk.ru/widget_161568_31727.js"></script>#}
{#    <!-- /usedesk {/literal} -->#}
{#{% endif %}#}

{% if app.environment == "prod" %}
    <!-- Pixel -->
    <script type="text/javascript" src="https://pixel.likecentre.ru/static/pixel_toolbox.js"></script>
    <script type="text/javascript">
        pixel(13665);
    </script>
    <!-- Pixel -->
{% endif %}

</body>
</html>
