<template lang='pug'>

  ul.table__row
    li.table__col
      p.table__text
        | {{user.name}} {{user.patronymic}} {{user.lastname}} 

    li.table__col
      p.table__text
        | {{user.city}}

    li.table__col
      p.table__text
        | {{user.email}}
        // user.phone
    li.table__col
      p.table__text
        Phone( :value="user.phone" )

    li.table__col
      InlineSocials(
        :vk="user.vkLink"
        :fb="user.fbLink"
        :insta="user.instaLink"
      )

    li.table__col
      p.table__text
        | {{user.niche}}

    li.table__col
      p.table__text
        | {{user.profitPerWeek}}
    li.table__col
      p.table__text
        | {{user.createdAt}}
      li.table__col.-controls-
        OptionsList(
          v-if="optionsFields.length > 0"
          :optionsFields="optionsFields"
        )
		
</template>
	
<script>
  import InlineSocials from '@lms/components/InlineSocials'  
  import { mapState } from 'vuex';
  
	export default {
		props: ['user'],
    components: {InlineSocials},
    data() {
		  return {
        options: 
          {
            text: 'Удалить',
            func: this.deleteUser,
            icon: 'delete',
            iconWidth: '10px',
            confirm: true,
            confirmTitle: 'Вы уверены, что хотите удалить пользователя из группы?',
            confirmApplyText: 'Удалить',
            confirmCancelText: 'Отменить',
            red: true
          }
      }
    },
    computed:{
      ...mapState('auth',{
        $permissions: s => s.data.user.permissions.userGroupModuleAdmin,
        isAdmin: s => s.data.user.permissions.isAdmin
      }),
      optionsFields(){
        let arr = []
        if(this.$permissionsDelete)
          arr.push(this.options)

        return arr
      },
    },
    methods: {
		  openUser() {
        this.$store.dispatch('usersGroupsUsers/setAsideData',{path: 'user', value: this.user})
        this.$store.dispatch('usersGroupsUsers/setAsideMeta', {path: 'isOpen', value: true})
      },
      deleteUser() {
        this.$store.dispatch('usersGroupsUsers/deleteUser', {user: this.user, groupId: this.$route.params.groupId})
      }
    }
	}
</script>