<template lang="pug">
  ul.table__row
    li.table__col(v-for="item in colsAmount")
      p.ajax__line.ajax__line-table-text

    li.table__col.-controls-
      OptionsList( :optionsFields="[]" )

</template>

<script>
  export default {
    props: {
      colsAmount: {
        type: Number,
        default: 7
      }
    }
  }
</script>