<template lang="pug">

  .lesson-block__content.lesson-test-preview.-user-(v-if="content.preview")
    .lesson-test-preview__info
      .lesson-test-preview__title
        | {{content.preview.title}}
      .lesson-test-preview__description.form-item__markdown(
        v-html="makeHtml(content.preview.description)"
      )
    .lesson-test-preview__img(
      v-if="content.preview.img && content.preview.img.url"
      :style="{backgroundImage: `url('${content.preview.img.url}')`}"
    )
    Button.-xs-.lesson-test-preview__button(
      @click="startTest"
    )
      | Начать


</template>

<script>
  import markdownToHtml from "@lms/functions/converterMarkdownToHtml";

  export default {
    props: ['content'],
    methods: {
      makeHtml(value) {
        return markdownToHtml.makeHtml(value)
      },
      startTest() {
        this.$emit('startTest')
      }
    }
  }
</script>