<template lang="pug">
  .menu-course-navigation(ref="menu")

    Links(
      v-if="course.id"
      :lessons="lessons"
      :course="course"
    )

    .menu__subblock
      ul.nav__list
        CommonLink.-toolbox-(
          tag="a"
          target="_self"
          path="https://toolbox.bz"
          title="Toolbox"
          icon="toolbox"
          :key="1"
        )
        CommonLink(
          v-if="isInFranchGame"
          tag="a"
          target="_self"
          path="/franch"
          title="Франчбург"
          icon="student"
          :key="2"
        )
        CommonLink(
          path="/courses/folder/list"
          title="Курсы"
          :activePaths="['courses/course', 'courses/folder', 'courses/lesson']"
          icon="dashboard"
          :key="4"
        )
        CommonLink(
          path="/user/settings"
          title="Профиль"
          icon="gear"
          :key="3"
        )
        CommonLink(
          v-if="user.isHundredCourse"
          :path="`/rating/hundred/user/${user.id}`"
          title="Аналитика Сотка"
          icon="user-tie"
          exact
          :key="7"
        )
        CommonLink(
          v-if="user.isMSACourse"
          :path="`/rating/msa/user/${user.id}`"
          title="Аналитика МсА"
          icon="user-tie"
          exact
          :key="6"
        )
        CommonLink(
          v-if="user.isSpeedCourse"
          :path="`/rating/speed/user/${user.id}`"
          title="Аналитика Скорость"
          icon="user-tie"
          exact
          :key="8"
        )
        CommonLink(
          path="/logout"
          title="Выйти"
          icon="logout"
          :key="5"
        )

</template>

<script>
  import Links from "./components/Links/index";
  import CommonLink from '../../components/CommonLink'

  import {mapState} from 'vuex'

  export default {
    props: ['isInFranchGame'],
    components: {Links, CommonLink},
    data: () => ({
      scrollTop: 0,
      tooltipIsOpen: false,
      tooltipData: {},
      menuDom: undefined
    }),
    computed: {
      ...mapState('lms', {
        lessons: s => s.menu.data.lessonArray,
        course: s => s.menu.data.course,
      }),
      ...mapState('auth', {
        user: s => s.data.user
      }),
    },
    mounted(){
      setTimeout(() => {
        this.menuDom = document.querySelector('.menu__body')
        this.menuDom.addEventListener('scroll', () => {
          this.scrollTop = this.$refs.menu.scrollTop
        })
      }, 0)
    },
    methods: {
      closeMenu() {
        this.$store.dispatch( 'mainLayout/setMenuMeta', {path: 'menuNoAdminIsOpen', value: false} )
      },
      showMemberTooltip({member, coords}){
        this.tooltipIsOpen = false
        this.tooltipData.name = member.name
        this.tooltipData.lastname = member.lastname
        this.tooltipData.coords = {
          top: coords.top,
          left: coords.left
        }
        this.tooltipData = {...this.tooltipData}

        setTimeout(() => {
          this.tooltipIsOpen = true
        }, 0)
      }
    },
    beforeDestroy() {
      this.menuDom.removeEventListener('scroll', () => {
        this.scrollTop = this.$refs.menu.scrollTop
      })
    }
  }
</script>