<template lang="pug">
  .menu__subblock
    .menu__nav.nav

      ul.nav__list
        template(v-for="item in navList")
          li.nav__item(v-if="item.sublist")
            .nav__dropdown
              .nav__link(
                :class="{'-active-': isCurrentRoute(`/${item.path}/`, item.exact)}"
                @click="$emit('setActiveList', item.path)"
              )
                Icon.nav__icon(:icon="item.icon")
                p.nav__text {{ item.title }}

              SlideUpDown(
                :active="activeList === item.path"
                :duration="slideDuration"
              )
                ol.nav__sublist
                  CommonLink(
                    v-for="subitem in item.sublist" :key="subitem.title"
                    :path="subitem.path"
                    :title="subitem.title"
                    :activePaths="subitem.activePaths"
                    type="subitem"
                  )

          CommonLink(
            v-else
            target="_self"
            :path="item.path"
            :title="item.title"
            :activePaths="item.activePaths"
            :icon="item.icon"
            :tag="item.tag"
          )
</template>

<script>
  import CommonLink from '../components/CommonLink'

  export default {
    props: ['navList'],
    components: {CommonLink},
    computed: {
      isCurrentRoute(){
        return path => this.$route.path.includes(path)
      },
    }
  }
</script>