<template lang='pug'>
  ul.table__row(
  )
    li.table__col
      p.table__text.-overflow-.-users-table-text
        | {{dataUser.id}}
    li.table__col
      p.table__text.-overflow-.-users-table-text.pointer( @click="openAside" )
        | {{dataUser.name}} {{dataUser.patronymic}} {{dataUser.lastname}} 

    li.table__col
      p.table__text.-overflow-.-users-table-text
        | {{dataUser.city}}

    li.table__col
      p.table__text.-overflow-.-users-table-text
        | {{dataUser.email}}

    li.table__col
      p.table__text.-overflow-.-users-table-text
        Phone( :value="dataUser.phone")
        //- | {{dataUser.phone}}

    li.table__col
      template(v-if="groupsArray && groupsArray.length > 0")
        p.table__text.-overflow-.-users-table-text.pointer(
          v-if="groupsArray.length === 1"
          @click="openGroup(groupsArray[0].id)"
        ) {{groupsArray[0].name}}

        Button.button.button-action.-users-table-__button.-users-table-text.pointer(
          v-else
          @click="openGroupsList"
          ref="tablerow"
        )
          | {{groupCounter(groupsArray.length)}}

        Popup.users-groups-popup(
          v-if="isOpen"
          v-model="isOpen"
          :parent="$refs.tablerow.$el"
          :scrollTrigger="scrollTrigger"
        )
          template(v-for="(group, idx) in groupsArray")
            p.table__text.-users-table-text.pop__up-row(:key="'popup'+idx+'_'+dataUser.id" ).-overflow-
              span( @click="openGroup(group.id)") {{group.name}}
              Icon.width-10px(v-if="$permissionsDelete" icon="delete" @click="selectedGroup(group.id)")

            transition(v-if="confirm === group.id" name="fadePreloader")
              Confirm.table__confirm-action(
                :parent="$refs.tablerow.$el"
                :isOpen.sync="confirm"
                v-model="selected"
                :selectedField="selectedField"
                :scrollTrigger="scrollTrigger"
              )

      p.table__text(v-else)

    li.table__col
      InlineSocials(
        :vk="dataUser.vkLink"
        :fb="dataUser.fbLink"
        :insta="dataUser.instaLink"
      )

    li.table__col
      p.table__text.-overflow-.-users-table-text
        | {{dataUser.niche}}

    li.table__col
      p.table__text.-overflow-.-users-table-text
        | {{dataUser.profitPerWeek}}
    li.table__col(v-if="$permissionsUpdate")
      p.table__text.-users-table-text
        template
          .width-15px.position-relative(v-tiny-text-tooltip="{text: 'Получить ссылку сброса пароля'}")
            Icon.pointer( icon="reset-password" @click="resetPassword")


</template>

<script>
  import vClickOutside from 'v-click-outside'
  import InlineSocials from '@lms/components/InlineSocials'
  import counterNameFilter from "@lms/filters/counterName.filter";

  import {mapState, mapActions} from 'vuex';

  export default {
    directives: {clickOutside: vClickOutside.directive},
    props: ['user', 'groups', 'deleteFunc'],
    components: {InlineSocials},
    data() {
      return {
        dataUser: '',
        selected: '',
        confirm: false,
        isOpen: false,
        promiseInterval: '',
        selectedField: {
          text: 'Удалить',
          func: this.deleteUser,
          icon: 'delete',
          iconWidth: '10px',
          confirm: true,
          confirmTitle: 'Вы уверены, что хотите удалить пользователя из группы?',
          confirmApplyText: 'Удалить',
          confirmCancelText: 'Отменить',
          red: true
        },
      }
    },
    mounted() {
      this.dataUser = _.cloneDeep(this.user)
    },
    computed: {
      ...mapState('auth', {
        link: s => s.data.resetPasswordLink,
        $permissions: s => s.data.user.permissions.userModuleAdmin,
        isAdmin: s => s.data.user.permissions.isAdmin
      }),
      groupsArray() {
        let arr = []
        if (this.dataUser.groupIds && this.dataUser.groupIds.length && this.groups.length)
          this.dataUser.groupIds.forEach(el => {
            let group = this.groups.find(elem => elem.id === el)
            if (group)
              arr.push(group)
          })

        return arr
      },
      scrollTrigger() {
        return document.querySelector('.-users-table- .table__body')
      }
    },
    watch: {
      link(val) {
        navigator.clipboard.writeText(val)
      }
    },
    methods: {
      ...mapActions('auth', ['getResetPasswordLink']),
      ...mapActions('users', [
				'setAsideMeta',
        'setAsideData',
			]),
      openUser() {
        this.$store.dispatch('users/setAsideData', {path: 'user', value: this.user})
        this.$store.dispatch('users/setAsideMeta', {path: 'isOpen', value: true})
      },
      openGroup(groupId) {
        this.$router.push({path: `/users/group/${groupId}/users`})
      },
      openAside() {
				this.setAsideData({path: 'user', value: this.dataUser } )
				this.setAsideMeta({path: 'isOpen', value: true})
      },
      openGroupsList() {
        this.isOpen = true
      },
      async selectedGroup(id) {
        let result;

        this.confirm = id
        result = await new Promise((res, rej) => {
          this.promiseInterval = setInterval(() => {
            if (this.selected === 'success')
              res('next')
            else if (this.selected === 'cancel')
              res('cancel')
          }, 50)
        })

        this.clearConfirmData()

        if (result === 'cancel')
          return
        if (result === 'next') {
          setTimeout(() => {
            this.dataUser.groupIds = [...this.dataUser.groupIds.filter(el => el != id)]
            this.$emit('click', {groupId: id, user: this.user})
          }, 0)
        }


      },
      clearConfirmData() {
        this.confirm = false
        this.selected = ''
        if (this.promiseInterval)
          clearInterval(this.promiseInterval)
      },
      resetPassword() {
        this.getResetPasswordLink(this.dataUser.authUserId)
      },
      groupCounter(counter) {
        const names = ['группа', 'группы', 'групп']
        return counterNameFilter(+counter, names)
      },
    }
  }
</script>