<template lang="pug">
  .filters.filters__modal-block.-contacts-
    p.filters__modal-title Поиск по контактам
    .filters__contacts
      .filters__contacts-input
        input.form-item__input.-input-only-(
          title="Межстрочное расстояние"
          v-model="input"
          placeholder="Поиск по контакту"
          @input="getContacts"
        )
</template>
<script>
  import replaceRouteQuery from "@lms/functions/replaceMultipleRouteQuery"
  import {mapState} from 'vuex'

  export default {
    data: () => ({
      input: '',
    }),
    props:['storePath'],
    mounted(){
       if(this.$route.query.name) {
        this.input = this.$route.query.name
        //this.loadUsers()
      }
    },
    watch:{
      isLoadAllUsers(curr, prev){
        if(prev == true){
            this.loadUsers()
        }
        
      }
    },
    computed:{
      isLoadAllUsers(){
        return this.$store.state[`${this.storePath}`].meta.loaded
      }
    },
    methods: {
      async getContacts(){
          replaceRouteQuery([{value:this.input, name:'name', method:'replace'}])
          this.loadUsers()
      },
      async loadUsers(){
        this.$store.dispatch(`${this.storePath}/searchMethods`, this.input)
      }
    }
  }
</script>