<template lang="pug">
    ul.table__row
      li.table__col
        p.ajax__line.ajax__line-table-text

      li.table__col
        p.ajax__line.ajax__line-table-text


      li.table__col
        p.ajax__line.ajax__line-table-text


      li.table__col
        p.ajax__line.ajax__line-table-text


      li.table__col
        p.ajax__line.ajax__line-table-text

      li.table__col
        p.ajax__line.ajax__line-table-text

      li.table__col
        p.ajax__line.ajax__line-table-text

      li.table__col
        p.ajax__line.ajax__line-table-text


      li.table__col
        p.ajax__line.ajax__line-table-text

      li.table__col(
        v-if="permissionsUpdate"
      )
        p.ajax__line.ajax__line-table-text
		
</template>

<script>
export default {
  props: {
    permissionsUpdate: {}
  }
}
</script>