<template lang='pug'>
  .main-block
    .table.-users-table-
      .table__header
        .table__header-inner
          p.table__title Список пользователей
          SearchFilter(
            contacts="true"
            storePath="users"
          )
          .table__buttons(v-if="$permissionsCreate")
            Button.-s-(@click="openAside")
              | Добавить пользователя

      .table__body
        .table__body-content
          .table__nav
            ul.table__nav-list
              li.table__col
                p.table__col-title
                  | ID
              li.table__col
                p.table__col-title
                  | ФИО
              li.table__col
                p.table__col-title
                  | Город
              li.table__col
                p.table__col-title
                  | Email
              li.table__col
                p.table__col-title
                  | Телефон
              li.table__col.hidden
                p.table__col-title
                  | Группы
              li.table__col
                p.table__col-title
                  | Соц. сети
              li.table__col
                p.table__col-title
                  | Ниша
              li.table__col
                p.table__col-title
                  | Прибыль в неделю
              li.table__col(v-if="$permissionsUpdate")
                p.table__col-title
                  | Действия
          .table__content
            PageScroll(
              v-if="!loadedUsers"
              :data="users"
              :isLoading="loadedUsers || isAddingPage"
              @incrementPage="addingPage"
            )
              TableRow(
                v-for="user in users" :key="user.id"
                :user="user"
                @click="deleteUser"
                :groups="groups"
              )
              SkeletRow(
                v-if="isAddingPage"
                :permissionsUpdate="$permissionsUpdate"
              )
            template(v-else)  
              SkeletRow(
                v-for="i in 5" :key="i"
                :permissionsUpdate="$permissionsUpdate"
              )
            
</template>
	
<script>
  import TableRow from './components/Row'
  import SkeletRow from './components/SkeletRow'
	import {mapState, mapActions} from 'vuex'
	
	export default {
    components: {TableRow, SkeletRow},
    computed: {
      ...mapState('users', {
        users: s => s.data.users,
        loadedUsers: s => s.meta.loadedUsers,
        groups: s => s.data.groups,
        isAddingPage: s => s.meta.isAddingPage,
        noMorePage: s => s.meta.noMorePage
      }),
      ...mapState('auth',{
        $permissions: s => s.data.user.permissions.userModuleAdmin,
        isAdmin: s => s.data.user.permissions.isAdmin
      }),
    },
    mounted(){
      this.$store.dispatch('auth/getCoursesForEmail');
    },
		methods: {
			...mapActions('users', [
				'setAsideMeta',
        'setAsideData',
        'addPage',
        'searchMethods'
			]),
			openAside() {
				this.setAsideData({path: 'user', value: {}})
				this.setAsideMeta({path: 'isOpen', value: true})
      },
      addingPage(id){
        if(this.noMorePage) return
        this.addPage({page:id})
      },
      deleteUser({groupId, user}){
        this.$store.dispatch('usersGroupsUsers/deleteUser', {user: user, groupId: groupId})
      }
		}
	}
</script>