<template lang="pug">
  transition(:name="transitionName" appear)
    .ui-kit-loader-dots
      .ui-kit-loader-dots__dot.-pulse-(v-for="i in 3")

</template>

<script>
  export default {
    name: 'UiLoaderDots',
    props: {
      transitionName: {
        default: 'fade'
      }
    }
  }
</script>