<template lang="pug">
  li.form-item
    span.form-item__title(v-if="title")
      | {{ title }}

    ul.action__list(
      :style="{minHeight: '39px'}"
    )
      template(v-for="(item, idx) in actionsState")
        template(v-if="idx === actionsState.length-1 && disabled")
        li.action__item(
          v-else :key="idx"
          :class="{'-hidden-': item.delete}"
        )
          Checkbox.action__icon(
            :checking="item.isComplete"
            type="number"
            :disabled="disabled"
            @changeCheckbox="changeCheck($event, idx)"
          )

          span.action__input(
            ref="editable"
            :contenteditable="!disabled"
            @focusin="actionFocused(idx)"
            @focusout="actionFocusedOut(idx)"
            @input="actionInput(idx)"
            v-html="item.action"
          )

</template>

<script>
  export default {
    props: {
      title: {},
      actions: {},
      disabled: {
        default: false
      }
    },
    data: () => ({
      empty: true,
      focused: false,
      actionsState: []
    }),
    mounted() {
      setTimeout(() => {
        this.actionsState = _.cloneDeep(this.actions);
      }, 0);
    },
    methods: {
      changeCheck(value, idx) {
        if (this.disabled) return;

        this.actionsState[idx].isComplete = value;
        this.$emit("actionsUpdate", this.actionsState);
      },

      actionFocused(idx) {
        if (this.disabled)
          return

        if (
          this.actionsState[idx].action === "" &&
          this.actionsState.length === idx + 1
        )
          this.actionsState.push({id: "", action: "", isComplete: 0});
      },

      actionFocusedOut(idx) {
        if (this.disabled)
          return;
        if (this.$refs.editable[idx] === undefined)
          return;

        this.actionsState[idx].action = this.$refs.editable[
          idx
          ].innerText.replace(/\n/g, "<br>");

        if (this.actionsState[idx].action === "<br>")
          this.actionsState[idx].action = "";

        if (
          this.actionsState[idx].action === "" &&
          this.actionsState.length !== 1
        ) {
          if (this.actionsState[idx].id === "") this.actionsState.splice(idx, 1);
          else this.actionsState[idx].delete = true;
        }

        this.$emit("actionsUpdate", this.actionsState);
      },
      actionInput(idx) {
        if (this.disabled)
          return;
        if (this.$refs.editable[idx] === undefined)
          return;

        this.$emit("actionsUpdateText", {
          idx,
          text: this.$refs.editable[idx].innerText.replace(/\n/g, "<br>")
        });
      }
    }
  };
</script>