<script>
import { Line, mixins } from 'vue-chartjs';
import 'chartjs-plugin-style';
import numberFormat from '@lms/filters/numberFormat.filter';
const { reactiveProp } = mixins

export default {
  name: "Chart",
  extends: Line,
  mixins: [ reactiveProp ],
  props: {
    measurements: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    options: {
      responsive: true,
      maintainAspectRatio: false,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          offset: true,
          gridLines: {
            borderDash: [4, 4]
          },
        }],
        yAxes: [{
          offset: true,
          maxTicksLimit: 4,
          ticks: {
            callback: v => numberFormat(v)
          }
        }]
      },
      tooltips: {
        backgroundColor: 'white',
        titleFontFamily: ['Helvetica Neue', 'Helvetica'],
        titleFontColor: '#ABABBA',
        titleFontSize: 10,
        titleFontStyle: '700',
        bodyFontFamily: ['Helvetica Neue', 'Helvetica'],
        bodyFontColor: '#76767B',
        bodyFontSize: 12,
        bodyFontStyle: '500',
        xPadding: 15,
        yPadding: 4,
        cornerRadius: 12,
        shadowOffsetX: -5,
        shadowOffsetY: 15,
        shadowBlur: 30,
        shadowColor: 'rgba(105, 121, 248, 0.35)',
        callbacks: {
          labelColor: function() {
            return {
              backgroundColor: '#ACB5F8',
              borderColor: '#FFF',
            }
          },
          label: undefined
        }
      }
    },
  }),
  watch: {
    chartData () {
      this.$data._chart.update()
    }
  },
  mounted() {
    this.options.tooltips.callbacks.label = this.labelFormat
    this.renderChart(this.chartData, this.options)
  },
  methods: {
    labelFormat: function(tooltipItem) {
      return numberFormat(tooltipItem.value) + ' ' + this.measurements
    }
  }
}
</script>

<style scoped>

</style>
