<template lang="pug">
  .niche-comment__box
    .niche-comment__header
      .niche-comment__header_text Комментарии
      .niche-comment__header_total {{ comments.length }}
    .niche-comment__comment-list(v-if="!loadingComments")
      .niche-comment__comment-item(v-for="(comment, index) in comments" :key="`${comment.user.lastname}_${index}_${comment.createdAt}`")
        .comment-item__header
          .comment-item__header_avatar(:style="{ backgroundImage: `url('${comment.user.avatar}')`}")
          .comment-item__header_name {{ comment.user.name }} {{ comment.user.lastname }}
          .comment-item__header_date {{ comment.createdAt | dateFilter('DD.MM.YYYY') }}
        .comment-item__text {{ comment.text }}
      .niche-comment__comment-item_empty(v-if="comments.length === 0")
        p Комментарии отсутствуют
    .niche-comment__comment-list(v-else)
      .niche-comment__comment-item_empty
        p Загружаем комментарии...
</template>

<script>
import {createNamespacedHelpers} from "vuex"
import dateFilter from '@lms/filters/date.filter'


const {mapState} = createNamespacedHelpers('ratingUnifiedUser')

export default {
  name: "CommentsPopover",
  filters: {
    dateFilter
  },
  data: () => ({}),
  computed: {
    ...mapState({
      comments: state => state.data.nicheComments,
      loadingComments: state => state.meta.isLoadingNicheComments
    })
  },
  methods: {}
}
</script>
