<template lang="pug">
  .metrics-chart-layout
    .header(v-if="!isLoading")
      .total
        .total-header
          | {{ chartMeta.title }}
          .total-sum
            | {{ seriesTotal | numberFormat(true) }} {{ chartMeta.titleMeasurement }}
        Icon.total-icon(:icon="chartMeta.icon")
      .dynamics
        .dynamics-header
          | {{ chartMeta.dynamicsTitle }}
        .dynamics-sum
          | {{ seriesDynamics | numberFormat(true) }} {{ chartMeta.dynamicsMeasurement }}
    .ajax__line.-round-(
      v-else
      :style="{height: '9em', width: '100%'}"
    )
    Chart.chart(
      ref="chart"
      :measurements="chartMeta.titleMeasurement"
      :chart-data="chartData"
    )

</template>

<script>
import moment from 'moment';
import _ from 'lodash';

import Icon from '@lms/components/Icon';
import Chart from './Chart';
import numberFormat from '@lms/filters/numberFormat.filter';
import { getMonthRange } from "@lms/store/rating/unified/createTractionTimeline";

export default {
  name: "MetricsChart",
  components: { Chart, Icon },
  filters: { numberFormat },
  props: {
    chartMeta: {
      type: Object,
      default: () => ({
        title: 'Выручка',
        titleAmount: 0,
        titleMeasurement: '₽',
        dynamicsTitle: 'Динамика выручки',
        dynamics: 10000,
        dynamicsMeasurement: '₽',
        icon: 'icon-squared-wallet'
      })
    },
    tractionData: {
      type: Object,
      required: true
    },
    metricsKey: {
      type: String,
      required: true
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    aggregateFunction: {
      type: String,
      default: 'sum'
    }
  },
  data: function() {
    return {
      chartData: {
        labels: [],
        backgroundColor: '#FFF',
        datasets: [
          {
            data: [],
            pointRadius: 4,
            borderColor: '#6979F8',
            borderWidth: 2,
            fill: false
          }
        ]
      },
    }
  },
  computed: {
    seriesLabels() {
      return this.seriesByMonth.map(d => moment(d.date).format('MMMM'));
    },
    seriesData() {
      return this.seriesByMonth.map(d => d.value);
    },
    series() {
      return this.tractionData.bands.filter(b => !b.disabled).map(b => ({
        date: moment(b.startDate),
        value: b.metrics[this.metricsKey],
        trueNull: _.isNaN(b.metrics[this.metricsKey]) || _.isNil(b.metrics[this.metricsKey])
      }));
    },
    seriesByMonth() {
      const series = [];

      if (this.series.length > 1) {
        const startDate = this.series[0].date;
        const endDate = this.series[this.series.length - 1].date;
        let currentDate = moment(startDate).startOf('month');

        while (currentDate.isSameOrBefore(endDate, 'month')) {
          const monthRange = getMonthRange(currentDate);
          const dataInRange = this.series.filter(s => {
            return (s.date.isBetween(monthRange.monthStartCorrected, monthRange.monthEndCorrected, undefined, '[]') && s.date.date() !== 1)
              || (s.date.date() === 1 && s.date.isoWeekday() !== 1 && currentDate.isSame(s.date, 'month'))
          });
          const sum = this.aggregateFunction === 'sum'
              ? _.sum(dataInRange.map(d => d.value))
              : _.mean(dataInRange.filter(d => !d.trueNull).map(d => d.value))
          series.push({
            date: moment(currentDate),
            value: !_.isNaN(sum) && !_.isNil(sum) ? sum : 0
          });
          currentDate.add(1, 'month');
        }
      }
      return series;
    },
    seriesTotal() {
      return (this.aggregateFunction === 'sum'
          ? _.sum(this.seriesData)
          : _.mean(this.series.filter(d => !d.trueNull).map(d => d.value))) ?? 0;
    },
    seriesDynamics() {
      const compactSeries = _.compact(this.seriesData)
      let dynamics = 0;
      if (compactSeries.length >= 2) {
        dynamics = compactSeries.pop() - compactSeries.pop();
      } else if (compactSeries.length === 1) {
        dynamics = compactSeries[0];
      }
      return dynamics;
    }
  },
  watch: {
    tractionData() {
      this.getGradient();
    }
  },
  created() {
    this.initChartData();
  },
  mounted() {
    this.getGradient();
  },

  methods: {
    initChartData() {
      this.chartData = {
        ...this.chartData,
        datasets: [
          {
            data: this.seriesData,
            pointRadius: 4,
            borderColor: '#6979F8',
            borderWidth: 2,
            fill: false
          }
        ],
        labels: this.seriesLabels
      }
    },
    getGradient() {
      const ctx = this.$refs.chart.$refs.canvas.getContext('2d');
      const gradient = ctx.createLinearGradient(0, 0, 0, 200);
      gradient.addColorStop(0, '#9C80EA');
      gradient.addColorStop(0.0376, '#6979F8');
      gradient.addColorStop(0.1461, '#9EA8FA');
      gradient.addColorStop(0.3177, '#41B3E9');
      gradient.addColorStop(0.4844, '#7988FD');
      gradient.addColorStop(0.7604, '#69B3F8');
      gradient.addColorStop(0.8962, '#1CC0E4');
      gradient.addColorStop(0.9276, '#1BA9E5');
      gradient.addColorStop(1, '#1778EA');
      this.chartData = {
        ...this.chartData,
        datasets: [
          {
            data: this.seriesData,
            pointRadius: 4,
            borderColor: gradient,
            borderWidth: 2,
            fill: false
          }
        ],
        labels: this.seriesLabels
      }
    },
    numberFormatF: numberFormat
  }
}
</script>

<style scoped lang="scss">
@import 'public/lms/sass/utils/*';

.metrics-chart {
  &-layout {
    @include uiFont;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 300px;
    flex: 1;

    .header {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      .total {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        &-header {
          @extend %text-500-14;
        }

        &-sum {
          @extend %text-500-18;
          font-size: 20px;
        }

        &-icon {
          width: 50px;
          height: 50px;
        }
      }
      .dynamics {
        display: flex;
        justify-content: space-between;
        &-header {
          @extend %text-500-14;
        }
        &-sum {
          @extend %text-500-14;
        }
      }
    }

    .chart {
      width: 100%;
      max-height: 200px;
    }
  }
}
</style>
