<template lang="pug">
  .metrics-table-layout
    .selector-row(v-if="!isLoading")
      .table-title
        | Данные за период
        Tooltip(v-if="showTooltip")
          | Данные заполняются в этой таблице.
          br
          | Если вы ошиблись при заполнении, то их
          br
          | можно исправить, нажав на нужное поле.

      UiSelect.-background-main-(
        v-if="canSelectCourse"
        :value="selectedStream"
        :option="streams"
        :placeholder="'Выбери курс'"
        @input="$emit('streamChanged', $event)"
      )
    .table-wrapper(v-show="!isLoading")
      .table-header(
        :style="{ gridTemplateColumns: `repeat(${bandsHeaders.length + 1}, 1fr)` }"
      )
        .table-header__top
          .table-header__cell.table-header__cell-top.fixed.rowspan
            | Метрики
          .table-header__cell.table-header__cell-top(
            v-for="header in headerTypes"
            :style="{ gridColumn: `span ${header.colspan}` }"
          )
            .band-type(v-for="type in header.types")
              .color-indicator(
                :class=`{
                  red: type.slug === 'speed' || type.slug === 'speed_club',
                  green: type.slug === 'hundred',
                  blue: type.slug === 'before_course',
                  orange: type.slug === 'skills',
                  'light-blue': type.slug === 'msa',
                  purple: type.slug === 'mi' || type.slug === 'mi_intensiv',
                  violet: type.slug === 'fastcash'
                }`
              )
              | {{ type.name }}
        .table-header__bottom
          .table-header__cell.table-header__cell-bottom(
            v-for="(band, index) in bandsHeaders"
            :class="{ current: index === tractionData.current, inactive: band.disabled }"
          )
            .color-indicator(
              v-for="type in band.types"
              :class=`{
                  red: type.slug === 'speed' || type.slug === 'speed_club',
                  green: type.slug === 'hundred',
                  blue: type.slug === 'before_course',
                  orange: type.slug === 'skills',
                  'light-blue': type.slug === 'msa',
                  purple: type.slug === 'mi' || type.slug === 'mi_intensiv',
                  violet: type.slug === 'fastcash'
                }`
            )
            | {{ band.dates }}
      .table-body
        .table-body__row(v-for="metric in sortTractionMetrics")
          .table-body__cell.fixed
            | {{ metric.title }}
            span.measurements {{ measurements[metric.id] }}
          .table-body__cell(
            v-for="(band, index) in tractionData.bands"
            :class="{ current: index === tractionData.current, inactive: band.disabled }"
          )
            .vertical-border
            UiInput(
              :value="band.disabled ? 'Ввод недоступен' : numberFormatF(band.metrics[metric.id])"
              :disabled="band.disabled || !canEdit"
              @input="prepareToSave(band, metric.id, $event)"
              @blur="valueChanged(editPayload)"
              placeholder="Введи данные"
            )
            .vertical-border(v-if="index === tractionData.current")
    .ajax__line.-round-(
      v-if="isLoading"
      :style="{height: '9em', width: '100%'}"
    )
</template>

<script>
import _ from 'lodash';
import UiSelect from '@ui/Select';
import UiInput from '@ui/Input';
import Tooltip from '@views/Rating/components/Tooltip';
import numberFormat from '@lms/filters/numberFormat.filter';

export default {
  name: "MetricsTable",
  components: { UiSelect, UiInput, Tooltip },
  filters: { numberFormat },
  props: {
    tractionData: {
      type: Object,
      required: true
    },
    tractionMetrics: {
      type: Array,
      required: true
    },
    streams: {
      type: Array,
      default: () => ([])
    },
    selectedStream: {
      type: [String, Number],
      default: ''
    },
    canEdit: {
      type: Boolean,
      default: false
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    showTooltip: {
      type: Boolean,
      default: true
    },
    canSelectCourse: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    measurements: {
      1: '₽',
      2: '₽',
      3: '%',
      4: '',
      5: '',
      6: '',
      7: '₽'
    },
    editPayload: {}
  }),
  computed: {
    headerTypes: function() {
      const result = []
      this.tractionData.bands.forEach(b => {
        if (result.length === 0) {
          result.push({ types: b.streams, colspan: 1 })
        } else if (_.isEqual(b.streams, result[result.length - 1].types)) {
          result[result.length - 1].colspan++
        } else {
          result.push({ types: b.streams, colspan: 1 })
        }
      })
      return result
    },
    bandsHeaders: function() {
      return this.tractionData.bands.map(
        b => ({
          dates: b.period,
          types: b.streams,
          endDate: b.endDate,
          disabled: b.disabled
        })
      )
    },
    sortTractionMetrics: function() {
      return this.tractionMetrics.slice().sort(function (a, b) {
        return a.position - b.position
      })
    }
  },
  watch: {
    selectedStream(stream) {
      const table = document.querySelector('.table-wrapper')
      const xPos = this.tractionData.bands.indexOf(this.tractionData.bands.find(b => _.some(b.streams, c => c.name === stream)))
      table.scrollTo(xPos * 150, 0)
    },
    isLoading(value) {
      if (!value) {
        setTimeout(() => {
          const table = document.querySelector('.table-wrapper')
          table.scrollTo((this.tractionData.current) * 150, 0)
        }, 300)
      }
    }
  },
  methods: {
    prepareToSave(band, key, value) {
      this.editPayload = { band, key, value }
    },
    valueChanged({band, key, value}) {
      if (band?.startDate) {
        let parsedValue;
        if (typeof value === 'string') {
          parsedValue = value.replaceAll(' ', '')
          parsedValue = Number.parseInt(parsedValue)
        } else {
          parsedValue = value
        }
        this.$emit('input', {
          band,
          key,
          value: parsedValue
        })
      }
    },
    numberFormatF: numberFormat
  }
}
</script>

<style scoped lang="scss">
@import 'public/lms/sass/utils/*';

.metrics-table {
  &-layout {
    @include uiFont;
    display: flex;
    flex-direction: column;

    .selector-row {
      display: flex;
      align-items: baseline;
      flex-direction: row;
      justify-content: flex-end;
      margin-bottom: 16px;

      .table-title {
        display: flex;
        margin-right: auto;
        @extend %text-500-14;
        line-height: unset;

        .rating-tooltip {
          margin-left: 4px;
        }
      }

      .ui-kit-select {
        margin-left: 16px;
        min-width: unset;
        max-width: 150px;
        min-height: 28px;
        & /deep/ .ui-kit-select__field {
          margin-right: 13px;
        }
      }
    }

    .table {
      &-wrapper {
        display: grid;
        grid-auto-flow: row;
        overflow-x: auto;
        scroll-behavior: smooth;
        padding-bottom: 8px;
        margin-bottom: -8px;

        .fixed {
          position: sticky;
          left: 0;
          z-index: 10;
        }
      }

      &-header {
        display: grid;
        @extend %text-500-14;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 4px;

        &__top, &__bottom {
          display: contents;
        }

        &__top {
          & .table-header__cell:first-child {
            margin-bottom: 0;
          }
        }

        &__bottom {
          & .table-header__cell {
            margin-bottom: 0;
          }
        }

        &__cell {
          background-color: $main-bg;
          border-radius: 4px;
          padding: 5px 0;
          margin-bottom: 4px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          min-width: 130px;

          &.fixed {
            min-width: 190px;

            @include media(425px) {
              min-width: 150px;
            }
          }

          &:last-child {
            margin-right: 0;
          }

          &.rowspan {
            grid-row: span 2;
          }

          .band-type {
            display: flex;
            align-items: center;
            margin-right: 8px;

            &:last-child {
              margin-right: unset;
            }
          }

          .color-indicator {
            height: 6px;
            width: 6px;
            border-radius: 50%;
            margin-right: 4px;

            &.red {
              background-color: #EB5757;
            }

            &.orange {
              background-color: #F39200;
            }

            &.blue {
              background-color: $ui-blue-accident;
            }

            &.light-blue {
              background-color: #69B3F8;
            }

            &.green {
              background-color: #26CD58;
            }

            &.purple {
              background-color: #E63CEA;
            }

            &.violet {
              background-color: #9757FF;
            }
          }

          &.inactive {
            color: $ui-gray-less;
          }

          &.current {
            color: $ui-blue-accident;
            background-color: #F0F2FE;
          }
        }
      }

      &-body {
        display: grid;
        @extend %text-400-14;
        grid-auto-flow: row;

        &__row {
          display: grid;
          grid-auto-flow: column;
          grid-auto-columns: 1fr;
          border-top: thin solid $ui-background;

          &:last-child {
            border-bottom: thin solid $ui-background;
          }
        }

        &__cell {
          min-width: 150px;
          background-color: $ui-white;
          border-radius: 4px;
          align-items: center;
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;


          &.fixed {
            border-left: thin solid $ui-background;
            justify-content: center;
            text-align: center;
            min-width: 190px;

            @include media(425px) {
              min-width: 150px;
            }
          }

          &:last-child {
            border-right: thin solid $ui-background;
          }

          .vertical-border {
            background-color: $ui-background;
            height: 24px;
            width: 1px;
          }

          .ui-kit-input {
            padding: 8px 10px;
            min-width: unset;

            & /deep/ input {
              text-align: center;
            }
          }

          &.inactive {
            & /deep/ input {
              color: $ui-light-grey-low-contrast;
            }
          }

          &.current {
            .vertical-border {
              background-color: $ui-light-blue;
              z-index: 5;

              &:last-child {
                margin-right: -1px;
              }
            }
            & /deep/ input {
              color: $ui-blue-accident;

              &::placeholder {
                color: $ui-blue-accident;
              }
            }
          }

          .measurements {
            color: $ui-gray-less;
            margin-left: 4px;
          }
        }
      }
    }
  }
}
</style>
