<template lang="pug">
  .rating-investments-user-niches__row
    UiModal(
      :value="modalOpened"
      :accept-text="modalMode === 'edit' ? 'Сохранить' : modalMode === 'create' ? 'Добавить' : 'Сохранить'"
      :accept-disabled="!canSaveNiche"
      reject-text="Отменить"
      accept-color="primary"
      reject-color="blue-gray"
      @accept="saveModal"
      @reject="closeModal"
      @close="closeModal"
    )
      .investment-reg__card-header {{ modalTitle }}
      .investment-reg__card-text {{ modalDescription }}
      .investment-reg__card-form(style="grid-template-columns: unset")
        UiInput.fill-row(
          v-model="$v.nicheCopy.name.$model"
          title="Название ниши"
          placeholder="Укажи название ниши"
          :error="$v.nicheCopy.name.$dirty && $v.nicheCopy.name.$invalid"
          :popup="titlePopup"
        )
        UiTextarea.fill-row(
          v-model="$v.nicheCopy.description.$model"
          title="Описание ниши"
          placeholder="Расскажи про свою нишу"
          :error="$v.nicheCopy.description.$dirty && $v.nicheCopy.description.$invalid"
          :popup="descriptionPopup"
        )
        .fill-row.text
          | Есть ли конкуренты которые запустились меньше 1 г. назад в городе,
          | который похож на твой и зарабатывают столько, сколько ты хочешь?
        .radio-set
          UiRadio(
            :value="true"
            :val="nicheCopy.hasRivals"
            @input="nicheCopy.hasRivals = true"
          )
            | Да
          UiRadio(
            :value="false"
            :val="nicheCopy.hasRivals"
            @input="nicheCopy.hasRivals = false"
          )
            | Нет
    .rating-investments-user-niches__header
      .rating-investments-user-niches__header_text Твои ниши
        Tooltip(direction='right')
          | У тебя может быть одна или несколько ниш, в которых ты хочешь вырасти
      .rating-investments-user-niches__header_add-new(v-if="niches.length < 4 && canCreate" @click="showCreateModal()")
        Icon(icon="plus-circle")
        | Добавить ещё нишу
    .rating-investments-user-niches__card(
      v-for="niche in niches"
      :key="niche.id"
    )
      .rating-investments-user-niches__card_header
        .rating-investments-user-niches__card_header-title
          span.-title-(:title="niche.name") {{ niche.name }}
          span.-primary-(v-if="niche.main") Основная ниша
          span.-accepted-(v-if="niche.verified") Аяз верифицировал нишу
          span.-awaits-(v-else) Ожидает проверки
          v-popover(
            offset="15"
            placement="auto"
            trigger="click"
            @show="openComments(niche.id)"
            @hide="clearComments()"
          )
            Icon.tooltip-target(icon="ui-comment")
            sup.comment-total-user(v-if="niche.comments.length > 0") {{ niche.comments.length }}
            CommentsPopover(slot="popover" :niche-id="niche.id")
        .rating-investments-user-niches__card_header-icons
          Icon(v-if="canEdit" icon="edit" @click="showEditModal(niche.id)")
          Icon(v-if="niches.length > 1 && canDelete" icon="delete" @click="deleteNiche(niche.id)")
      .rating-investments-user-niches__card_body {{ niche.description }}


</template>

<script>
import Tooltip from '../../../components/Tooltip'
import { required, maxLength } from 'vuelidate/lib/validators'
import _ from 'lodash'
import CommentsPopover from './CommentsPopover'

export default {
  name: 'NicheList',
  components: {
    Tooltip,
    CommentsPopover
  },
  props: {
    niches: {
      type: Array,
      default: () => ([])
    }
  },
  data: () => ({
    modalMode: 'edit',
    modalOpened: false,
    modalTitle: 'Редактирование ниши',
    modalDescription: 'Указывай только точную информацию о своей нише',
    nicheCopy: {
      id: -1,
      name: '',
      description: '',
      hasRivals: false,
      verified: false,
      main: false,
      comments: []
    }
  }),
  validations: {
    nicheCopy: {
      name: {
        required,
        maxLength: maxLength(100)
      },
      description: {
        required,
        maxLength: maxLength(300)
      }
    }
  },
  computed: {
    isSameUser() {
      return this.$store.state.ratingUnifiedUser.data.userInfo.id === this.$store.state.auth.data.user.id
    },
    canSaveNiche() {
      return !this.$v.nicheCopy.$invalid
    },
    canEdit() {
      return this.isSameUser
    },
    canDelete() {
      return this.isSameUser
    },
    canCreate() {
      return this.isSameUser
    },
    titlePopup() {
      if (!this.$v.nicheCopy.name.required) {
        return this.invalidPopup(this.$v.nicheCopy.name.$dirty, this.$v.nicheCopy.name.$invalid, 'Обязательное поле')
      } else if (!this.$v.nicheCopy.name.maxLength) {
        return this.invalidPopup(this.$v.nicheCopy.name.$dirty, this.$v.nicheCopy.name.$invalid, 'Максимальная длина названия - 100 символов')
      } else return {}
    },
    descriptionPopup() {
      if (!this.$v.nicheCopy.description.required) {
        return this.invalidPopup(this.$v.nicheCopy.description.$dirty, this.$v.nicheCopy.description.$invalid, 'Обязательное поле')
      } else if (!this.$v.nicheCopy.description.maxLength) {
        return this.invalidPopup(this.$v.nicheCopy.description.$dirty, this.$v.nicheCopy.description.$invalid, 'Максимальная длина описания - 300 символов')
      } else return {}
    }
  },
  methods: {
    showEditModal(nicheId) {
      this.modalMode = 'edit'
      this.modalOpened = true
      this.modalTitle = 'Редактирование ниши'
      this.modalDescription = 'Указывай только точную информацию о своей нише'
      this.nicheCopy = _.cloneDeep(this.niches.find(n => n.id === nicheId))
    },
    showCreateModal() {
      this.modalMode = 'create'
      this.modalOpened = true
      this.modalTitle = 'Добавь новую нишу'
      this.modalDescription = 'Заполни данные, чтобы отправить нишу на подтверждение Аязу'
      this.clearNiche()
    },
    saveModal() {
      if (this.canSaveNiche) {
        this.modalOpened = false
        this.$v.nicheCopy.$reset()
        if (this.modalMode === 'create') {
          this.addNiche(this.nicheCopy)
        } else if (this.modalMode === 'edit') {
          this.editNiche(this.nicheCopy)
        }
      }
    },
    closeModal() {
      this.modalOpened = false
      this.$v.nicheCopy.$reset()
    },
    deleteNiche(id) {
      this.$store.dispatch('ratingUnifiedUser/removeNiche', id)
    },
    addNiche(niche) {
      this.$store.dispatch('ratingUnifiedUser/addNiche', { niche: niche })
    },
    editNiche(niche) {
      this.$store.dispatch('ratingUnifiedUser/editNiche', { niche: niche })
    },
    clearNiche() {
      this.nicheCopy = {
        id: Math.max(...this.niches.map(n => n.id)) + 1,
        name: '',
        description: '',
        hasRivals: false,
        verified: false,
        main: false,
        comments: []
      }
    },
    invalidPopup(isDirty, isInvalid, errorMessage) {
      if(!isDirty)
        return
      if(isInvalid)
        return({
          msg: errorMessage,
          error: isInvalid
        })
    },
    openComments(nicheId) {
      this.$store.dispatch('ratingUnifiedUser/getNicheComments', nicheId)
    },
    clearComments() {
      this.$store.dispatch('ratingUnifiedUser/clearNicheComments')
    }

  }
}
</script>
