<template lang="pug">
  .onboarding(
    :class="{'onboarding-reverse': dir === 'bottom'}"
   )
    .onboarding-caret(
      :style="{ borderTop: dir === 'top' ? 'unset' : '8px solid white', borderBottom: dir === 'bottom' ? 'unset' : '8px solid white' }"
    )
    .onboarding-modal-wrapper
      .onboarding-modal
        h3.onboarding-title {{ step.title }}
        p.onboarding-text(v-for="stepText in step.text")
          | {{ stepText }}
        UiButton.onboarding-modal-button(@click="step.finalStep ? $emit('finish') : $emit('nextStep')")
          | {{ step.btnText }}
      Icon.onboarding-close(
        icon="ui-close"
        @click="$emit('finish')"
      )
</template>

<script>
import UiButton from '@lms/components/UiKit/Button';
import Icon from '@lms/components/Icon';

export default {
  name: "OnboardingModal",
  components: { UiButton, Icon },
  props: {
    step: {
      type: Object,
      required: true
    },
    dir: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">
@import 'public/lms/sass/utils/*';

.onboarding {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  &-reverse {
    flex-direction: column-reverse;
  }
  &-modal {
    @include uiFont;

    background-color: white;
    border-radius: 8px;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;

    &-wrapper {
      display: flex;
    }

    &-button:hover {
      @media screen and (max-width: 1024px) {
        background: #6979F8;
        color: #fff;
      }
    }

    .onboarding-title {
      @extend %text-700-18;
      text-align: center;
      margin-bottom: 20px;
    }

    .onboarding-text {
      @extend %text-500-14;
      text-align: center;
      margin-bottom: 20px;
    }

    .ui-kit-button {
      max-width: unset;
    }
  }

  &-caret {
    margin-left: 45%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid white;
  }

  &-close {
    width: 16px;
    height: 16px;
    margin-left: 16px;
    cursor: pointer;
    & path {
      stroke: #FFF;
    }
  }
}
</style>
