<template>
  <div
    class="metrics-table-layout"
    style="padding:20px;"
  >
    <div
      v-if="isLoading"
      class="ajax__line -round-"
      :style="{height: '9em', width: '100%'}"
    />
    <div
      v-if="!isLoading"
    >
      <div class="table-title">
        Выполненные действия
      </div>
      <div class="table">
        <div class="task-row">
          <div
            v-for="item in checkBoxList"
            :key="item.priority"
            class="task"
            :class="{'active' : !item.value.value}"
          >
            <div class="task__checkbox">
              <CheckBox
                :value="item.value.value"
                @checked="itemChecked(item, $event)"
              >
                <div
                  class="task__title"
                  :class="{'active' : !item.value.value}"
                >
                  {{ item.name }}
                </div>
              </CheckBox>
            </div>

            <img
              v-if="item.value.filename && mode === 'fastcash'"
              :src="uploadImg"
              alt="file"
              style="position: absolute; right: 10px; cursor: pointer"
              @click="downloadFile(item.value.filename)"
            >
          </div>
        </div>
        <div class="status">
          <div class="status__title">
            Процесс выполнения задач
          </div>
          <div class="status__description">
            Здесь ты можешь наблюдать за своим прогрессом выполненных задач
          </div>
          <div class="status__img">
            <img
              :src="getStatusImg.img"
              alt="statusImg"
            >
          </div>
          <div class="status__count">
            {{ getUserAverage }} <span class="status__percent">/ 100</span>
          </div>
          <div class="status__label">
            {{ getStatusImg.name }}
          </div>
        </div>
      </div>
    </div>
    <Modal
      :value="isOpen"
      :reject-text="rejText"
      :accept-text="acceptText"
      :accept-color="acceptColor"
      :reject-color="rejColor"
      :accept-class="acceptCl"
      :reject-class="rejCl"
      :accept-disabled="!acceptShow"
      :loading-accept="acceptLoading"
      @close="closeModal"
      @reject="closeModal"
      @accept="checkTaskWithFile"
    >
      <div style="color: #2B2D34;font-size: 18px;text-align:center;padding: 5px 0px;">
        Подтверждение действия
      </div>
      <div style="color: #2B2D34;font-size:14px;padding: 5px 0px;font-weight: 400;">
        Подтверди выполнение действия, прикрепив файл
      </div>
      <File
        :icon="inputIcon"
        :large-files="true"
        :multiple="false"
        :is-custom="false"
        @clear="fileClear"
        @getCheckListFiles="getFile($event, inputItem)"
      />
    </Modal>
  </div>
</template>
<script>
import _ from 'lodash'
import axios from 'axios'
import {mapActions} from 'vuex'
import CheckBox from '../../../../../components/UiKit/Checkbox/index.vue'
import status1 from "../../../../../../../../public/lms/img/fast-cash/first.svg"
import status2 from "../../../../../../../../public/lms/img/fast-cash/second.svg"
import status3 from "../../../../../../../../public/lms/img/fast-cash/third.svg"
import status4 from "../../../../../../../../public/lms/img/fast-cash/fourth.svg"
import status5 from "../../../../../../../../public/lms/img/fast-cash/fifth.svg"
import status6 from "../../../../../../../../public/lms/img/fast-cash/sixth.svg"
import status7 from "../../../../../../../../public/lms/img/fast-cash/seventh.svg"
import fileImg from "../../../../../../../../public/lms/img/fast-cash/file.svg"
import downloadImg from "../../../../../../../../public/lms/img/fast-cash/download.png"
import File from '../../../../../components/UiKit/File/index.vue'
import Modal from '../../../../../components/UiKit/Modal/index.vue'
export default {
  name: "UserCheckBox",
  components: { CheckBox, File, Modal },
  props: {
    isLoading: {
      type: Boolean,
      default: false
    },
    checkData: {
      type: Array,
      default: () => []
    },
    userId: {
      type: Number,
      default: 0
    },
    mode: {
      type: String,
      default: 'fastcash'
    }
  },
  data() {
    return {
      statusImg: null,
      uploadImg: fileImg,
      downloadImg: downloadImg,
      selectedItem: {},
      uploadIcon: false,
      isOpen: false,
      acceptShow: false,
      acceptLoading: false,
      inputItem: {},
      inputIcon: 'ui-file',
      acceptCl: '-gray-',
      rejCl: '-gray-',
      rejText: 'Отменить',
      acceptText: 'Отправить',
      inputTitle: 'Прикрепить файл',
      rejColor: 'dark-gray',
      acceptColor: 'primary',
      checkboxColor: '-primary-',
      statusText: [
        {min: 0, max: 14, name: 'Так держать!', img: status1},
        {min: 15, max: 29, name: 'Продолжай!', img: status2},
        {min: 30, max: 44, name: 'На правильном пути!', img: status3},
        {min: 45, max: 59, name: 'Ты добьешься своего!', img: status4},
        {min: 60, max: 74, name: 'Еще чуть-чуть!', img: status5},
        {min: 75, max: 89, name: 'Успех! Продолжай!', img: status6},
        {min: 90, max: 100, name: 'Миссия выполнена!', img: status7}
      ]
    }
  },
  computed: {
    checkBoxList() {
      return this.checkData.map(el => {
        if (el.value === null) el.value = { value:false }
        return el
      }).sort((a, b) => b.priority - a.priority)
    },
    getUserAverage() {
      const localChecked = Math.round(this.checkBoxList.filter(item => item.value.value === true).length)
      const average = Math.round((100 / this.checkBoxList.length) * (localChecked ? localChecked : 0))
      return !(_.isNaN(average) || _.isNil(average)) ? average : 0
    },
    getStatusImg() {
      return this.statusText.find((item) => {
        return item.min <= this.getUserAverage && item.max >= this.getUserAverage;
      })
    }
  },
  mounted() {},
  methods: {
    ...mapActions('ratingUnifiedUser', ['checkTask']),
    getFile(e, item) {
      this.selectedItem = item
      this.selectedItem.file = e.file
      this.acceptShow = true
    },
    openModal(item) {
      this.isOpen = true
      this.inputItem = item
    },
    closeModal() {
      this.isOpen = false
      this.inputItem = {}
      this.selectedItem = {}
    },
    async downloadFile(filename) {
      const baseURL = process.env.NODE_ENV === 'production'
        ? 'https://s3.us-east-2.amazonaws.com/toolbox-lms/'
        : 'https://s3.us-east-2.amazonaws.com/toolbox-lms-dev/'
      const fileURL = baseURL + filename

      const response = await axios({
        method: 'get',
        url: fileURL,
        responseType: 'blob'
      })

      if (response.status === 200 && response.data) {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', filename)
        document.body.appendChild(link)
        link.click()
        link.parentNode.removeChild(link)
      }
    },
    checkTaskWithFile() {
      this.selectedItem.value.value = true
      this.acceptLoading = true
      this.checkTask(this.selectedItem).then(res => {
        if(res.data.status === 'success') {
          this.acceptLoading = false
          this.isOpen = false
          this.selectedItem.value.value = true
          this.selectedItem.value.filename = res.data.data.filename
        }
      })
    },
    fileClear() {
      this.acceptShow = false
    },
    itemChecked(item, еvent) {
      this.selectedItem = item;
      if(!this.selectedItem.value.filename && this.mode === 'fastcash') {
        this.openModal(item)
      } else if (this.mode === 'mi') {
        this.checkTaskWithFile()
      }
    },

  }
}
</script>
<style lang="scss" scoped>
@import 'public/lms/sass/utils/*';
.ui-kit-file__field {
  background:#EFF1F8;
}
.table-title {
  @extend %text-500-14;
  display: inline-flex;
  margin-bottom: 10px;
}

.task {
  display: inline-flex;
  background: #ffffff;
  border-radius: 8px;
  height: 65px;
  padding: 20px 10px;
  margin: 0 0 10px 0;
  position: relative;
  opacity: 0.9;
  width: 100%;
  align-items: center;

  &__title {
    @extend %text-400-14;
    display: inline;
    vertical-align: text-top;
    color: #B8B8BE;
    margin-right: 15px;
    height: fit-content;
    &.active {
      color: #1c1c1d;
    }
  }
  &.active {
    opacity: 1;
  }
}

.status {
  flex-direction: column;
  max-width: 384px;
  background: #ffffff;
  border-radius: 8px;
  height: 550px;
  padding: 25px 20px;

  &__title {
    @extend %text-500-14;
    color: #36383E;
    margin-bottom: 15px;
  }

  &__description {
    @extend %text-400-14;
    color: #76767B;
    font-size: 14px;
    width: 80%;
  }

  &__img {
    padding: 50px 50px;
    text-align: center;
  }

  &__count {
    color: #2DC14E;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
  }

  &__percent {
    color: #3040C2;
    font-weight: 600;
  }
  &__label {
    padding: 20px 10px;
    text-align: center;
    font-size: 16px;
  }
}

.metrics-table {
  &-layout {
    @include uiFont;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.table {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.task-row {
  flex-direction: column;
  column-count: 2;
  margin-right: 10px;
  column-gap: 10px;
}

@include media(1024px) {
  .table {
    grid-template-columns: 1fr;
  }
  .status {
    width: 100%;
    max-width: unset;
    &__description {
      width: 100%;
      max-width: unset;
    }
  }
}

@include media(773px) {
  .task-row {
    column-count: 1;
  }
}

</style>
