<template lang="pug">
  .user-info-layout
    .user-credentials
      .avatar(
        :style="{ backgroundImage: user.avatar ? `url(${user.avatar})` : 'unset' }"
      )
      .info(v-if="!isLoading")
        h4.full-name(:title="user.name + ' ' + user.lastname") {{ user.name }} {{ user.lastname }}
        p(:title="user.email") {{ user.email }}
        .phone
          Icon.icon-tg(v-if="user.telegram" icon="tg-small" v-tooltip="'@' + user.telegram")
          Phone(:value="user.phone")
      .ajax__line.-round-(
        v-else
        :style="{height: '5em', width: '150px'}"
      )
    .spacer
    .business-data(v-if="!isLoading")
      UiSelect.-background-main-(
        title="Сфера бизнеса"
        placeholder="Отсутствует"
        :option="businessOptions"
        v-model="userBusiness"
        :disabled="!canEdit"
      )
      UiInput.-background-main-(
        title="Ниша"
        placeholder="Отсутствует"
        :value="user.niche"
        :disabled="true"
      )
      UiInput.-background-main-(
        title="Факультет / сборная"
        placeholder="Отсутствует"
        :value="user.faculty"
        :disabled="true"
      )
      UiInput.-background-main-(
        title="Местоположение"
        placeholder="Не указано"
        :value="user.city"
        :disabled="true"
      )
    .ajax__line.-round-(
      v-else
      :style="{height: '5em', width: '70%'}"
    )
    .onboarding(v-if="!isLoading")
      UiButton.onboarding-start(
        v-if="showOnboarding"
        color="primary-invert"
        @click="$emit('onboardingClicked')"
      ) Как пользоваться?
</template>

<script>
import UiSelect from '@lms/components/UiKit/Select';
import UiInput from '@lms/components/UiKit/Input';
import UiButton from '@lms/components/UiKit/Button';
import Icon from '@lms/components/Icon';

export default {
  name: "UserInfo",
  components: { UiSelect, UiInput, UiButton, Icon },
  props: {
    user: {
      type: Object,
      required: true
    },
    businessOptions: {
      type: Array,
      default: () => []
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    isLoadingBusiness: {
      type: Boolean,
      default: false
    },
    canEdit: {
      type: Boolean,
      default: false
    },
    showOnboarding: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    userBusiness: {
      get: function() {
        return { id: this.user.businessCategoryId, text: this.user.businessCategoryName }
      },
      set: function(newBusiness) {
        this.$emit('businessChanged', newBusiness)
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import 'public/lms/sass/utils/*';

.user-info {
  &-layout {
    @include uiFont;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    & > div {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .user-credentials {
      display: flex;

      & > div {
        margin-right: 16px;

        &:last-child {
          margin-right: 0;
        }
      }

      .avatar {
        width: 80px;
        min-width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $ui-gray-less;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .info {
        display: flex;
        flex-direction: column;
        max-width: 150px;
        @extend %text-400-14;
        color: $ui-dark-blue;

        & > div {
          margin-right: 8px;
        }

        .full-name {
          @extend %text-700-16;
          color: $ui-black-dark;
          cursor: pointer;
          margin-bottom: 8px;
        }
        p {
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 8px;
        }
        .phone {
          cursor: pointer;
          display: flex;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          & /deep/ .phone__text-number {
            font: inherit;
          }
          .icon-tg {
            width: 16px;
          }
        }
      }
    }

    .spacer {
      height: 100px;
      width: 1px;
      background-color: $border-color;
      @include media(773px) {
        width: 100%;
        height: 1px;
        margin: 10px 0;
      }
    }

    .business-data {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;

      .ui-kit-select, .ui-kit-input {
        margin-right: 12px;

        min-width: unset;
        max-width: 145px;
        height: fit-content;
        @include media(960px) {
          margin-right: 0;
          max-width: 100%;
        }

        @include media(1370px) {
          margin-bottom: 12px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .onboarding-start.ui-kit-button {
      min-width: unset;
      font-size: 12px;
      padding: 10px 15px;
    }
  }
}

</style>
