<template lang="pug">

  .form-item.group__select
    span.form-item__title(v-if="title")
      | {{title}}
    .form-item__block(v-click-outside="close")
      slot
      span.form-item__error(v-if="error")
          | {{error}}

      .form-item__select.select(@click="toggleOpen")
        input.form-item__input(
          :value="selectedFolder.name ? selectedFolder.name : ''"
          :disabled="true"
          :placeholder="placeholder"
        )

      SlideUpDown.select__slider(
        :duration="slideDuration"
        :active="isOpen"
      )
        .select__field
          SelectBlock(
            v-for="(field, idx) in fields" :key="'field'+idx"
            :data="field"
            :paddingLeft="15"
            @click="click($event, field)"
          )

      Icon.select__icon.form-item__icon(
        :icon="!icon ? 'arrow-down' : icon"
        @click="toggleOpen"
        :class="{'-opened-': isOpen}"
      )

</template>

<script>
  import SlideUpDown from 'vue-slide-up-down';
  import vClickOutside from 'v-click-outside';
  import SelectBlock from './SelectBlock';

  export default {
    name: "SelectFeed",
    components: {
      SelectBlock,
      SlideUpDown
    },
    directives: {
      clickOutside: vClickOutside.directive
    },
    props: {
      fields: {
        type: Array,
        default: () => []
      },
      title: {},
      error: {},
      placeholder: {
        default: 'Выберите папку'
      },
      icon: {},
      value: {}
    },
    data() {
      return {
        isOpen: false,
        slideDuration: 200,
        selectData: {},
        selectedFolder: {}
      }
    },
    mounted() {
      this.findResult()
    },
    methods: {
      findResult() {
        if(this.fields.length) {
          let result;

          let findInChildren = (item) => {
            if(result)
              return

            let res = item.find(iItem => iItem.folder.id === this.value)

            if(res)
              result = res.folder
            else
              item.forEach(iItem => {
                if(iItem.childrenFolders && iItem.childrenFolders.length)
                  findInChildren(iItem.childrenFolders)
              })
          }

          this.fields.forEach((item) => {
            if(item.folder.id === this.value)
              result = item.folder

            if(!result && item.childrenFolders && item.childrenFolders.length)
              findInChildren(item.childrenFolders)
          })

          if(result) {
            this.selectedFolder = {...result}
          }
        }
      },
      toggleOpen() {
        if (this.fields)
          this.isOpen = !this.isOpen
      },
      close() {
        this.isOpen = false
      },
      click(folder, field) {
        this.selectedFolder = _.cloneDeep(folder)
        this.$emit('input', folder.id)
        this.close()
      },
    }
  }
</script>