<template lang="pug">
  .select__block(v-if="data")
    p.select__text(
      @click="$emit('click', data.folder)"
      :style="{paddingLeft: paddingLeft+'px'}"
    )
      | {{data.folder.name}}
    template(v-if="data.childrenFolders && data.childrenFolders.length")
      SelectBlock(
        v-for="folder in data.childrenFolders" :key="folder.folder.id"
        :data="folder"
        :paddingLeft="offsetPaddingLeft"
        @click="$emit('click', $event)"
      )
        
</template>
<script>
  export default {
    name: "SelectBlock",
    props: {
      paddingLeft: {},
      data: {},
    },
    computed: {
      offsetPaddingLeft() {
        return +this.paddingLeft + 10
      }
    }
  }
</script>
