<template lang="pug">
  .club-list__filter-form(v-if="openFilter && filters && !isLoadingFilters")
    .club-list__filter-title
      | Фильтр по участникам
    .club-list__filter-closer(@click="filterClose()")
      Icon(icon="close" fill="#B8B8BE")
    UiSelect.club-list__filter-field(title="Город" placeholder="Выберете город" :option="filtersOptions.cities" v-model="filters.city")
    UiSelect.club-list__filter-field(title="Пол" placeholder="Выберете пол" :option="sexOptions" v-model="filters.sex")
    .club-list__filter-label Возраст
    .club-list__filter-between
      UiInput.club-list__filter-field(title="" placeholder="от" v-model="filters.ageFrom")
      .club-list__filter-between-dash -
      UiInput.club-list__filter-field(title="" placeholder="до" v-model="filters.ageTo")
    UiSelect.club-list__filter-field(title="Сфера" placeholder="Выберете сферу" :option="filtersOptions.business" v-model="filters.business")
    .club-list__filter-label Прибыль
    .club-list__filter-between
      UiInput.club-list__filter-field(title="" placeholder="от" v-model="filters.profitFrom")
      .club-list__filter-between-dash -
      UiInput.club-list__filter-field(title="" placeholder="до" v-model="filters.profitTo")
    .club-list__filter-spacer
    UiButton.-wide-(@click="changeRoute(filters)") Применить
    UiButton.-wide-.-gray-(@click="clearFilter()") Сбросить все
</template>

<script>
import {mapState} from "vuex"
import replaceRouteQuery from "@lms/functions/replaceMultipleRouteQuery"

export default {
  directives: {
    'click-outside': {
      bind: function (el, binding, vnode) {
        el.clickOutsideEvent = function (event) {
          // here I check that click was outside the el and his children
          if (!(el == event.target || el.contains(event.target))) {
            // and if it did, call method provided in attribute value
            vnode.context[binding.expression](event);
          }
        };
        document.body.addEventListener('click', el.clickOutsideEvent)
      },
      unbind: function (el) {
        document.body.removeEventListener('click', el.clickOutsideEvent)
      },
    }
  },
  data() {
    return {
      filters: {
        city: null,
        sex: null,
        ageFrom: null,
        ageTo: null,
        businessCategoryId: null,
        profitFrom: null,
        profitTo: null,
      },
      sexOptions: [
        {
          title: 'Мужской',
          value: 1
        },
        {
          title: 'Женский',
          value: 2
        }
      ]
    }
  },
  computed: {
    ...mapState('club', {
      filtersOptions: s => s.data.filters,
      openFilter: s => s.data.openFilter,
      isLoadingFilters: s => s.meta.isLoadingFilters
    })
  },
  mounted() {
    this.visible = this.show
    this.initFilters()
  },
  methods: {
    initFilters() {
      let query = this.$route.query
      let filters = this.filters
      if (query['params']) {
        let params = JSON.parse(query['params'])
        this.filters.city = params['city'] || filters.city;
        this.filters.ageFrom = params['ageFrom'] || filters.ageFrom;
        this.filters.ageTo = params['ageTo'] || filters.ageTo;
        this.filters.businessCategoryId = params['businessCategoryId'] || filters.businessCategoryId;
        this.filters.profitFrom = params['profitFrom'] || filters.profitFrom;
        this.filters.profitTo = params['profitTo'] || filters.profitTo;
      }
    },
    filterClose() {
      this.$store.dispatch('club/openFilter', false)
    },
    changeRoute(filters) {
      const arrayRoute = Object.entries(
          {...this.$route.query, ['params']: JSON.stringify(this.getFilter(filters))}
      ).map( el =>
          ({
            value: el[1],
            name: el[0],
            method: 'replace'
          })
      )
      replaceRouteQuery( arrayRoute )
      this.filterClose()
    },
    clearFilter() {
      this.filters.city = null
      this.filters.sex = null
      this.filters.ageFrom = null
      this.filters.ageTo = null
      this.filters.businessCategoryId = null
      this.filters.profitFrom = null
      this.filters.profitTo = null

      this.changeRoute({})
    },
    getFilter(filters) {
      let params = {}
      if (filters.city) {
        params.city = filters.city
      }
      if (filters.ageFrom) {
        params.ageFrom = filters.ageFrom
      }
      if (filters.ageTo) {
        params.ageTo = filters.ageTo
      }
      if (filters.business) {
        params.business = filters.business
      }
      if (filters.profitFrom) {
        params.profitFrom = filters.profitFrom
      }
      if (filters.profitTo) {
        params.profitTo = filters.profitTo
      }
      if (filters.sex !== null) {
        params.sex = filters.sex
      }

      return params
    }
  },
}
</script>

<style scoped>

</style>
