<template lang="pug">
  .club-list__search
    .club-list__search-input(v-if="openSearch")
      InputSearch(v-model="search")
      .club-list__search-cancel(@click="resetSearch()") Отмена
    .club-list__search-buttons
      .club-list__search-item(@click="openSearch = !openSearch")
        Icon(icon="search" fill="none")
      .club-list__search-item(@click="dispatchOpenFilter()")
        icon(icon="filter-strainer" fill="#36383E")
        .club-list__search-notification(v-if="hasFilters")
</template>

<script>
import {mapState} from "vuex";

export default {
  props: {
    hasFilters: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      search: '',
      openSearch: false
    }
  },
  computed: {
    ...mapState('club', {
      openFilter: s => s.data.openFilter,
    })
  },
  methods: {
    dispatchOpenFilter() {
      this.$store.dispatch('club/openFilter', !this.openFilter)
    },
    resetSearch() {
      this.search = ''
      this.openSearch = false
    }
  }
}
</script>
