<template lang="pug">
  .aside__block
    Head
    Form

</template>

<script>
  import Head from './Head'
  import Form from './Form'

  import {mapActions} from 'vuex'

  export default {
    components: {Head, Form},
    methods: {
      ...mapActions('usersTeamMembers', [
        'setAsideMeta',
        'setAsideData',
      ])
    },
    beforeMount() {
      this.$store.dispatch('auth/getCoursesForEmail');
    },
  }
</script>