<template lang="pug">
  .users__list(v-if="!isLoadUsers")
    .users__list-card.margin-height__10(v-for="user in list" :key="user.id")
      Avatar(
        :img="user.avatar"
        circle
        size="xs"
      )
      .users__list-card__info
        .users__list-card__text
          | {{user.name}} {{ user.lastname}}
        .users__list-card__email
          | {{user.email}}
      .users__list-card__action
        Icon.width-15px.pointer(
          icon="delete"
          @click="$emit('remove', user)"
        )
  .users__list(v-else)
    .users__list-card.margin-height__10(v-for="i in 5" :key="i")
      Avatar(
        circle
        size="xs"
      )
      .users__list-card__info
        .users__list-card__text.ajax-card__list
          p.ajax__line.ajax__line-table-text
        .users__list-card__email.ajax-card__list
          p.ajax__line.ajax__line-table-text
      .users__list-card__action
        Icon.width-15px.pointer( icon="delete" )

</template>
<script>
import {mapState} from 'vuex'

export default {
  props:{
    data:{
      type:Array,
      default: () => []
    },
  },
  computed:{
    ...mapState('usersTeamMembers',{
      isLoadUsers: s => s.meta.isLoadUsers
    }),
    list(){
      return this.data.filter(el => !el.isLeader && !el.isCaptian && !el.isDelete)
    }
  }
}
</script>