<template lang='pug'>
		
	.users-groups
		Body

		MainAsideRight(
			:isOpen="isOpen"
			:asideCanSave="canSave"
			storePath="usersTeam"
		)
			Aside
		
</template>
	
<script>
	import Aside from './layouts/Aside'
	import Body from './layouts/Body'
	import MainAsideRight from '@lms/components/MainAsideRight'
	import {mapState, mapActions} from 'vuex'

	export default {
    components: {Aside, MainAsideRight, Body},
    computed: {
      ...mapState('usersTeam', {
        canSave: s => s.aside.meta.canSave,
        isOpen: s => s.aside.meta.isOpen,
      }),
    },
    mounted() {
      this.getListTeams();
    },
    methods: {
      ...mapActions('usersTeam', [
        'getListTeams'
      ]),
    }
  }
</script>