<template lang="pug">
span.ui-kit-filter-select(
  :class="[getStatus ? `-${getStatus}-` : '', {'-active-': isOpen}]"
  v-click-outside="closeOption"
  ref="el"
)
  span.ui-kit-select__hood(@click="smart ? openSmartOption() : toggleOption()")
    span.ui-kit-filter-select__label(v-if="showTitle && (title || popup)") {{ title }}
    span.ui-kit-filter-select__field
      Icon.ui-kit-filter-select__icon(v-if="icon" :icon="icon")
      input.ui-kit-filter-select__input(
        ref="smartInput"
        v-if="smart && isOpen"
        :placeholder="inputTitle"
        :value="input"
        @input="onSmartInput($event.target.value)"
      )
      span.ui-kit-filter-select__input(
        v-else
        :class="{'-placeholder-': !activeItem}"
      ) {{selectedOption}}

    Icon.ui-kit-filter-select__dropdown-icon(
      v-if="!disabled"
      :icon="'ui-down'"
      :class="{'-active-': isOpen}"
    )

  SlideUpDown.ui-kit-filter-select__option(
    :active="isOpen"
    :duration="300"
    :tag="'span'"
    style="position: absolute; display: flex; flex-direction: column; overflow: auto;"
    :style="{top: optionPosition.top + 'px', left: optionPosition.left + 'px', width: optionPosition.width + 'px', zIndex: zIndex, maxHeight: maxHeight + 'px'}"
    ref="option"
    @close-start="blurInput"
    @open-end="focusInput"
  )
    UiInput(
      :class="inputClass"
      v-if="!smart"
      :title="inputTitle"
      :placeholder="inputPlaceholder"
      status="gray"
      v-model="input"
      icon="ui-search"
      ref="input"
    )
    .ui-kit-filter-select__option-list-wrap
      span.ui-kit-filter-select__option-list
        .ui-kit-filter-select__option-item-wrap(v-if="loading")
          .ui-kit-filter-select__option-item.-loading-
            UiLoaderDots
        template(v-else-if="filterOption && filterOption.length > 0")
          span.ui-kit-filter-select__option-item-wrap
            span.ui-kit-filter-select__option-item(
              :class="unsetClass"
              v-if="canUnset"
              key="__null-value__"
              @click="changeOption(unsetValue)"
            )
              span.ui-kit-filter-select__option-title {{unsetText}}
          span.ui-kit-filter-select__option-item-wrap(
            v-for="(item, idx) in filterOption"
            :key="`${idx}_${item.value}`"
          )
            span.ui-kit-filter-select__option-item(
              :class="{'-active-': item.value == activeItem.value}"
              @click="changeOption(item)"
              )
                span.ui-kit-filter-select__option-title {{item.title}}
            .ui-kit-filter-select__option-icon(
              v-if="idx === 0 && hideIconInFirstOption"
            )
            Icon.ui-kit-filter-select__option-icon(
              v-else-if="optionIcon"
              :icon="optionIcon"
              @click="$emit('iconClick', item)")
        span.ui-kit-filter-select__option-item-wrap(
          v-else
        )
          span.ui-kit-filter-select__option-item.-empty- Ничего не найдено

      .ui-kit-filter-select__slot(v-if="!!$slots.default")
        slot

  Popup(v-if="popup"
    :popup="popup"
    :status="getStatus")
</template>

<script>

import Popup from "../Popup"
import SlideUpDown from 'vue-slide-up-down'
import vClickOutside from 'v-click-outside'
import UiLoaderDots from "../LoaderDots";

export default {
  directives: {clickOutside: vClickOutside.directive},
  components: {
    Popup,
    SlideUpDown,
    UiLoaderDots
  },
  props: {
    value: {
      type: [Object, String, Number],
      default: undefined
    },
    title: {
      type: String,
      default: undefined
    },
    placeholder: {
      type: String,
      default: 'значение не выбранно'
    },
    inputTitle: {
      type: String,
      default: 'Поиск'
    },
    inputPlaceholder: {
      type: String,
      default: undefined
    },
    icon: {
      type: String,
      default: undefined
    },
    optionIcon: {
      type: String,
      default: undefined
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    status: {
      type: String,
      default: ''
    },
    popup: {
      type: [Object, Function],
      default: undefined
    },
    option: {
      type: Array,
      default: () => [],
    },
    hideIconInFirstOption: {
      type: Boolean,
      default: false
    },
    error: {
      type: Boolean,
      default: false,
    },
    zIndex: {
      type: Number,
      default: 1
    },
    appendBody: {
      type: Boolean,
      default: false,
    },
    maxHeight: {
      type: Number,
      default: undefined
    },
    smart: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    showTitle: {
      type: Boolean,
      default: true
    },
    noSelectedOption: {
      type: Boolean,
      default: false
    },
    inputClass: {
      default: 'ui-kit-filter-select__filter',
      type: String
    },
    canUnset: {
      type: Boolean,
      default: false,
    },
    unsetText: {
      type: String,
      default: 'Не выбрано'
    },
    unsetValue: {
      type: String,
      default: ''
    },
    unsetClass: {
      type: String,
      default: '-unset-'
    },
  },
  data() {
    return {
      activeItem: '',
      isOpen: false,
      optionPosition: {
        top: '',
        left: '',
        width: ''
      },
      input: '',
    }
  },
  mounted() {
    this.setParentPropsValue()

    if(!this.appendBody) return
    this.calcPosition();
    document.body.append(this.$refs.option.$el)
    window.addEventListener(`resize`, this.calcPosition);

  },
  beforeDestroy() {
    if(!this.appendBody) return
    this.$el.append(this.$refs.option.$el)
    window.removeEventListener(`resize`, this.calcPosition);
  },
  methods: {
    calcPosition() {
      if(!this.appendBody) return
      let x = window.pageXOffset
      let y = window.pageYOffset

      let clientRect = this.$refs.el.getBoundingClientRect();

      this.optionPosition.top = clientRect.top + +y + clientRect.height ;
      this.optionPosition.left = clientRect.left +x ;
      this.optionPosition.width = clientRect.width;

    },
    toggleOption() {
      if(this.disabled)
        return

      this.isOpen = !this.isOpen;
    },
    closeOption(e) {
      //TODO: Не самая лучшая проверка. option находятся в body
      if(e && e.path.indexOf(this.$refs.option.$el) !== -1) return
      this.isOpen = false;
    },
    openSmartOption() {
      if(this.disabled)
        return

      this.isOpen = true;
      this.$nextTick(()=> {
        this.$refs.smartInput.focus()
      })
    },
    changeOption(item) {
      this.closeOption();
      // if(!item)
      //   this.activeItem = {title: '', value: this.unsetValue};
      // else
      //   this.activeItem = item;
      this.activeItem = item;
      this.$emit('input', this.activeItem.value)
      this.$emit('change', this.activeItem.value)
      this.$emit('update', item.id)
    },
    setParentPropsValue() {

      if(!this.option.length)
        return


      if (this.value !== undefined) {
        let selectOption = this.option.find(item=> item.value == this.value)
        if (!selectOption) return
        this.changeOption(selectOption)
      } else {
        this.changeOption('')
      }
    },
    onSmartInput(e) {
      this.input = e
      this.$emit('smartInput', e)
    },
    focusInput() {
      if(!this.smart)
        this.$refs.input.$el.focus()
    },
    blurInput() {
      if(!this.smart)
        this.$refs.input.$el.blur()
    }
  },
  watch: {
    value() {
      this.setParentPropsValue()
    },
    option() {
      this.setParentPropsValue()
    },
    isOpen() {
      if (this.isOpen == true)
        this.calcPosition()
      else
        this.input=""
    }
  },
  computed: {
    getStatus() {
      if(this.popup) {
        if(this.popup.error) {
          return 'error'
        } else if(this.popup.status) {
          return this.popup.status
        }
      }

      if(this.error) {
        return 'error'
      } else if(this.status) {
        return this.status
      }
      return ''
    },
    filterOption() {
      return this.option.filter(item => {
        return item.title.toLowerCase().indexOf(this.input.toLowerCase()) !== -1
      })
    },
    selectedOption() {
      if (this.noSelectedOption) return this.placeholder
      return this.activeItem ? this.activeItem.title : this.placeholder
    }
  },
};
</script>
