<template lang="pug">
label.ui-kit-radio.-reverse-.-wide-
  span.ui-kit-radio__input.-warning-(:class="{'-active-': value}")
    Icon.ui-kit-radio__icon(
      v-if="value"
      :icon="'ui-check'"
    )
  span.ui-kit-radio__title.ui-kit-nested-filter__group-title(:style="{marginRight: '7px'}")
    slot

</template>

<script>
export default {
  props: {
    value: {
      default: false
    }
  }
}
</script>

<style>

</style>