<template lang="pug">
  .ui-kit-nested-filter(
    )
    .ui-kit-nested-filter__hood(
    )
      UiInput.ui-nested-filter__input(
        :title="title"
        :placeholder="placeholder"
        v-model="input"
        @focus="open"
        @blur="close"
      )
      Icon.ui-kit-select__dropdown-icon(:icon="'ui-down'" :class="{'-active-': isOpen}")
    .ui-kit-nested-filter__dropdown-wrap(
      @mousedown.prevent
    )
      SlideUpDown.ui-kit-nested-filter__dropdown(
        :active="isOpen"
        :duration="300"
      )
        .ui-kit-nested-filter__option-list(

        )
          template(v-if="hasFilterData")
            List(
              v-for="(item, idx) in filter"
              v-if="item.length !== 0"
              :key="item.id"
              :option="item"
              :value="activeValue"
              @input="onInput"
              @radioInput="radioInput"
              :radio="radio"
              :parentCheck="parentCheck"
              :openCategory="openCategory"
              )
          .ui-kit-nested-filter__item(v-else="filter.length")
            .ui-kit-nested-filter__err
              span Ничего не найденно
        slot

</template>

<script>
import List from "./List"
import SlideUpDown from 'vue-slide-up-down'

export default {
  components: {
    List,
    SlideUpDown,
  },
  props: {
    option: {
      type: Array,
      required: true,
      default: () => ([]),
    },
    value: {
      type: Array,
      default: () => ([])
    },
    title: {
      type: String,
      default: 'Поиск'
    },
    placeholder: {
      type: String,
      default: ''
    },
    radio: {
      type: Boolean,
      default: false
    },
    parentCheck: {
      type: Boolean,
      default: true
    },
    openCategory: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      isOpen: false,
      input: '',
      activeValue: [],
    }
  },
  computed: {
    filter() {
      return this.filterOptions(this.option)
    },
    hasFilterData() {
      return !!this.filter.find(item => !Array.isArray(item))
    },

  },
  mounted() {
    this.setParentPropsValue()
  },
  methods: {
    toggleActive() {
      this.isOpen = !this.isOpen
    },
    open() {
      this.isOpen = true
    },
    close() {
      this.isOpen = false
    },
    findPart(text) {
      return text.toLowerCase().indexOf(this.input.toLowerCase()) !== -1
    },
    filterOptions(item) {

      return item.map(item=> {

        if(this.findPart(item.title)) {
          return item;
        } else if (item.list !== undefined) {
          if(this.arrayFilter(item.list).length == 0 ) return []

          return {
            title: item.title,
            id: item.id,
            list: this.filterOptions(item.list)
          }
        }
        return []
      })
    },
    arrayFilter(item) {
      return item.filter(item=> {
        if (this.findPart(item.title)) {
          return true
        } else if (item.list !== undefined) {
          return this.arrayFilter(item.list).length
        } else {
          return false
        }
      })
    },
    setParentPropsValue() {
      if(!this.option.length)
        return
      this.activeValue = this.value
    },
    onInput(id) {
      let idx = this.activeValue.indexOf(id)
      if(idx === -1)
         this.activeValue.push(id)
      else
        this.activeValue.splice(idx, 1)
      this.$emit('input', this.activeValue)
    },
    radioInput(id) {
      this.activeValue = [id]
      this.$emit('input', this.activeValue)
      console.log(this.activeValue)
    }
  }
}
</script>
