<template lang="pug">
  .ui-kit-nested-filter__item
    template(v-if="option.list")
      .ui-kit-nested-filter__title(
        :class="{'-text-': !parentCheck}"
      )
        template(v-if="parentCheck")
          UiRadio.ui-kit-nested-filter__group-check(
            v-if="radio"
            color="light-gray"
            :value="option.id"
            @radioClick="radioInput"
            @titleClick="toggleOpen"
            :val="value"
          ) {{option.title}}
            Icon.ui-kit-nested-filter__group-icon(
              icon="ui-down"
              :class="{'-active-': isOpen}")
          UiCheckbox.ui-kit-nested-filter__group-check(
            v-else
            color="light-gray"
            :value="isChecked"
            @checkboxClick="onInput"
            @titleClick="toggleOpen"
          ) {{option.title}}
            Icon.ui-kit-nested-filter__group-icon(
              icon="ui-down"
              :class="{'-active-': isOpen}")
        span.ui-kit-nested-filter__group-title(
          v-else
          @click="toggleOpen"
          ) {{option.title}}
            Icon.ui-kit-nested-filter__group-icon(
              icon="ui-down"
              :class="{'-active-': isOpen}")

      SlideUpDown.ui-kit-nested-filter__list(:active="isOpen" :duration="300")
        List(
          v-for="list in option.list"
          v-if="list.length !== 0"
          :option="list"
          :value="value"
          @input="listInput"
          @radioInput="id => $emit('radioInput', id)"
          :radio="radio"
          :key="list.id"
          :parentCheck="parentCheck"
          )
    template(v-else)
      .ui-kit-nested-filter__title
        UiRadio.ui-kit-nested-filter__group-check(
          v-if="radio"
          color="light-gray"
          :value="option.id"
          @input="radioInput"
          :val="value"
        ) {{option.title}}
        UiCheckbox.ui-kit-nested-filter__checkbox(
          v-else 
          color="light-gray"
          :value="isChecked"
          @input="onInput"
        ) {{option.title}}
    
</template>

<script>
import SlideUpDown from 'vue-slide-up-down'
import GroupCheck from './GroupCheck'

export default {
  name: "List",
  components: {SlideUpDown, GroupCheck},
  props: {
    option: {},
    value: {},
    radio: {
      default: false
    },
    parentCheck: {},
    openCategory: {},
  },
  data() {
    return {
      isChecked: false,
      isOpen: false,
    }
  },
  methods: {
    toggleOpen() {
      this.isOpen = !this.isOpen
    },
    onInput() {
      this.$emit('input', this.option.id)
    },
    radioInput() {
      console.log(this.option.id)
      this.$emit("radioInput", this.option.id)
    },
    listInput(id) {
      this.$emit('input', id)
    },
    checkActive() {
      this.isChecked = this.value.filter(id=> id === this.option.id).length ? true : false
    }
  },
  mounted() {
    this.checkActive()
    this.isOpen = this.openCategory;
  },
  watch: {
    value() {
      this.checkActive()
    }
  }
}
</script>