<template lang="pug">
  TableEmpty( v-if="!loading && users.length === 0" style="top: 50%") 
  PageScroll(
    v-else
    :data="users"
    @incrementPage="incrementPage"
    :isLoading="loading || noMorePage"
  )
    Table(
      :navTitles="navTitles"
    )
      template(v-if="loading && !loadMore")
        Row(
          v-for="i in 5" :key="`load-${i}`"
          :loading="true"
          :navTitles="navTitles"
          loadCellClass="-full-border-"
          height="43px"
        )
      template(v-else)
        Row.-pointer-(
          v-for="user in users" :key="user.id"
          :navTitles="navTitles"
          height="43px"
          @click="goTo(user)"
        )
          Cell.-full-border-
            | {{ user.name }} 
            | {{ user.patronymic }} 
            | {{ user.lastname }}
          Cell.-full-border-
            | {{ user.niche }}
          Cell.-full-border-
            | {{ getUserChanel(user, 0) }}
          Cell.-full-border-
            | {{ getUserChanel(user, 1) }}
          Cell.-full-border-
            | {{ getUserChanel(user, 2) }}
      Row(
        v-if="loadMore"
        :key="`load-more`"
        :loading="true"
        :navTitles="navTitles"
        loadCellClass="-full-border-"
        height="43px"
      )

</template>

<script>
import { mapState } from 'vuex';

import Table from '../../components/Table'
import Row from '../../components/Table/Row'
import Cell from '../../components/Table/Cell'

export default {
  components: {
    Table,
    Row,
    Cell,
  },
  data: ()=> ({
    navTitles: [
      {
        title: 'Имя',
        id: 1,
        key: 'title',
        width: '2fr'
      },
      {
        title: 'Ниша',
        id: 2,
        key: 'pipeline',
        width: '1fr'
      },
      {
        title: 'Выручка',
        id: 3,
        key: 'price',
        width: '1fr'
      },
      {
        title: 'Прибыль',
        id: 4,
        key: 'contact',
        width: '1fr'
      },
      {
        title: 'NPS',
        id: 5,
        key: 'source',
        width: '1fr'
      },
    ],
    loadMore: false,
  }),
  computed: {
    ...mapState('ratingMsa',
    {
      users: s => s.data.users,
      page: s => s.data.page,
      isLoading: s => s.meta.isLoading,
      isLoadingPage: s => s.meta.isLoadingPage,
      noMorePage: s =>s.meta.noMorePage,
    }),
    isAdmin()
    {
      return this.$store.state['auth'].data.user.permissions.isAdmin
    },
    loading() {
      return this.isLoading || this.isLoadingPage
    }
  },
  methods: {
    goTo(user) {
      if(!this.isAdmin)
        return
      this.$router.push(`/rating/msa/user/${user.id}`)
    },
    async incrementPage(value) {    
      this.loadMore = true  
      this.$store.dispatch('ratingMsa/setData', { path:'page', value: this.page + 1})
      await this.$store.dispatch('ratingMsa/getUsersList')
      this.loadMore = false  
    },
    getUserChanel(user, id) {
      let chanel = user.info.find(({channelId}) => channelId === id )
      return chanel ? chanel.fullProfit : 0
    }
  },
  destroyed() {
    this.$store.dispatch('ratingMsa/clearUsersList')
  },
}
</script>

<style>

</style>