<template lang='pug'>
		
  .users-groups.-helvetica-
    Body

    MainAsideRight(
      :isOpen="isOpen"
      :asideCanSave="canSave"
      storePath="usersGroups"
    )
      UserInfoAside(v-if="isUserOpen")
      Aside(v-else)
		
</template>
	
<script>
	import Aside from './layouts/Aside'
	import UserInfoAside from './layouts/UserInfoAside'
	import Body from './layouts/Body'
	import MainAsideRight from '@lms/components/MainAsideRight'
	import {mapState, mapActions} from 'vuex'

	export default {
		components: {Aside, MainAsideRight, Body, UserInfoAside},
		computed: {
			...mapState('usersGroups', {
				canSave: s => s.aside.meta.canSave,
				isOpen: s => s.aside.meta.isOpen,
				isUserOpen: s => s.aside.meta.isUserOpen,
			}),
		},
    mounted() {
      this.getGroups()
    },
    methods: {
      ...mapActions('usersGroups', [
        'getGroups'
      ]),
    }
	}
</script>
