<template lang="pug">
  .rating-chart-with-table(v-if="!loading && values")
    .rating-chart-with-table__title
      | {{ title }}
    .rating-chart-with-table__chart
      .rating-chart-with-table__left-bar
        .rating-chart-with-table__percent {{ formatLeftBarValue(getMax()) }}
        .rating-chart-with-table__percent {{ formatLeftBarValue(getAverage()) }}
        .rating-chart-with-table__percent 0
      .rating-chart-with-table__columns-table
        .rating-chart-with-table__columns(:style="getGridStyle()")
          .rating-chart-with-table__col-background
            .rating-chart-with-table__col.-pointer-
          .rating-chart-with-table__col-background(
            v-for="(week, index) in values.weeks"
            :key="index"
           )
            .rating-chart-with-table__col.-pointer-(:style="getHeight(index)")
        .rating-chart-with-table__labels(:style="getGridStyle()")
          .rating-chart-with-table__label-text Учас.
          .rating-chart-with-table__label-text До курса
          .rating-chart-with-table__label-text(
            v-for="(week, index) in values.weeks.length - 1"
            :key="index"
           ) {{ index + 1 }} н.
    .rating-chart-with-table__table
      .rating-chart-with-table__table-row.-pointer-(
        v-for="(number, index) in 4"
        :key="index"
        :class="{'-active-': index === value}"
        @click="$emit('input', index)"
      )
        .rating-chart-with-table__table-row-title {{ getTitle(index) }}
        .rating-chart-with-table__table-data(:style="getGridStyle()")
          .rating-chart-with-table__table-col {{ index === 0 ? values.totalUser : '' }}
          .rating-chart-with-table__table-col(
            v-for="(item, index2) in values.weeks"
            :key="index2"
          ) {{ getFormattedValue(getValueByIndexes(index, index2)) }}
</template>

<script>
import numberFormat from "toolbox/filters/numberFormat.filter"

export default {
  props: {
    loading: {
      default: false
    },
    title: {
      type: String,
    },
    values: {
      type: Object,
      default: null
    },
    value: {
      type: Number,
    }
  },
  methods: {
    getGridStyle(add = 1) {
      if (this.values) {
        return "grid-template-columns: repeat(" + (this.values.weeks.length + add) + ", 1fr)"
      } else {
        return "grid-template-columns: repeat(5, 1fr)"
      }
    },
    getTitle(index) {
      switch (index) {
        case 0:
          return 'Людей'
        case 1:
          return 'Зап-ть %'
        case 2:
          return 'Всего ₽'
        case 3:
          return 'Сред-е ₽'
      }
    },
    getValueByIndexes(index, index2) {
      return this.values.weeks[index2][this.getVarName(index)]
    },
    getVarName(index) {
      switch (index) {
        case 0:
          return 'fill'
        case 1:
          return 'fillPercent'
        case 2:
          return 'sum'
        case 3:
          return 'avSum'
      }
    },
    getFormattedValue(value) {
      return numberFormat(value, this.noDot)
    },
    formatLeftBarValue(value) {
      return this.getFormattedValue(Math.round(value))
    },
    getWeeks() {
      return this.values.weeks.map(week => week[this.getVarName(this.value)]);
    },
    getMax() {
      return this.value === 0 ? this.values.totalUser : Math.max.apply(null, this.getWeeks())
    },
    getAverage() {
      return this.getMax() / 2
    },
    getHeight(index) {
      let weeks = this.getWeeks()
      let max = this.getMax()
      let percent = 100 / (max/weeks[index])

      if (percent < 2) {
        percent = 2
      }
      return 'max-height: ' + percent + '%'
    }
  }
}
</script>

<style scoped>

</style>
