<template lang="pug">
  .aside__subblock
    p.aside__subblock-desc(v-if="idx === ''")
      | Заполните данные, чтобы создать новый курс.
    .aside__list
      .aside__item.-full-
        Input(
          title="Название курс"
          placeholder="Курс..."
          :error="$v.course.name.$dirty && !$v.course.name.required"
          v-model.trim="course.name"
          @input="compare"
        )
          span.form-item__error(v-if="$v.course.name.$dirty && !$v.course.required")
            | Обязательное поле

      .aside__item.-full-
        Input(
          title="Описание"
          placeholder="Отличный курс с огненным контентом"
          v-model.trim="course.description"
          @input="compare"
        )

      .aside__item.-full-
        DropAsideImage(
          v-model="course.img"
          @input="compare"
        )

      .aside__item.-full-
        DropAsideImage(
          v-model="course.coverImg"
          dragText="Загрузить обложку для приложения (290х190 или 420х190)"
          @input="compare"
        )

      InputDate.aside__item.-full-(
        title="Дата старта курса"
        v-model="course.dateOfStart"
        @input="compare"
      )

      InputDate.aside__item.-full-(
        title="Дата конца курса"
        v-model="course.dateOfFinish"
        @input="compare"
      )

      .aside__item.-full-
        SelectGroups.aside__select(
          title="Группа"
          placeholder="Выберите группу"
          v-model="course.groups"
          :fetchOnMount="false"
          @input="compare"
        )


</template>

<script>
  import {mapState, mapActions} from 'vuex'
  import {required} from 'vuelidate/lib/validators'
  import SelectGroups from './components/Select'
  import moment from 'moment';

  export default {
    components: {SelectGroups},
    data: () => ({
      course: {
        name: '',
        description: '',
        img: {},
        coverImg: {},
        dateOfStart: '',
        dateOfFinish: '',
        groups: []
      },
      courseBackup: {}
    }),
    computed: {
      ...mapState('coursesCourse', {
        idx: s => s.aside.data.idx,
        storeCourse: s => s.aside.data.course,
        canSave: s => s.aside.meta.canSave,
      }),
      ...mapState('usersGroups', {
        folders: s => s.data.folders
      }),
    },
    beforeMount() {
      this.setData();
    },
    methods: {
      setData() {
        if (this.idx) {
          this.course = _.cloneDeep(this.storeCourse)
          this.courseBackup = _.cloneDeep(this.course)
          if(!this.folders.length)
            this.$store.dispatch('coursesCourse/setAsideMeta', {path: 'canSave', value: false})
        }
      },
      compare() {
        let object = {
          ...this.course,
          dateOfStart: this.course.dateOfStart ? moment(this.course.dateOfStart).format('YYYY-MM-DD') : '',
          dateOfFinish: this.course.dateOfFinish ? moment(this.course.dateOfFinish).format('YYYY-MM-DD') : '',
          groups: [...new Set(this.course.groups)].sort((a, b) => a - b),
        }

        if (this.$v.$invalid) {
          this.$v.$touch()
          if (this.canSave)
            this.$store.dispatch('coursesCourse/setAsideMeta', {path: 'canSave', value: false})
          return
        }

        if (!_.isEqual(object, this.courseBackup)) {
          object.img = this.course.img.id  ? this.course.img.id : null;
          object.coverImg = this.course.coverImg.id ? this.course.coverImg.id : null;

          this.$store.dispatch('coursesCourse/setAsideMeta', {path: 'canSave', value: true});
          this.$store.dispatch('coursesCourse/setAsideData', {path: 'course', value: object})
        } else {
          this.$store.dispatch('coursesCourse/setAsideMeta', {path: 'canSave', value: false});
          this.$store.dispatch('coursesCourse/setAsideData', {path: 'course', value: {}})
        }
      },
    },
    destroyed() {
      this.$store.dispatch('coursesCourse/setAsideData', {path: 'idx', value: ''})
      this.$store.dispatch('coursesCourse/setAsideData', {path: 'course', value: {}})
      this.$store.dispatch('coursesCourse/setAsideMeta', {path: 'canSave', value: false});
    },
    validations: {
      course: {
        name: {required},
      }
    },
  }
</script>