<template lang="pug">
  MainAsideRightHead(
      :title="idx !== '' ? 'Редактирование курс' : 'Создание курс'"
      storePath="coursesCourse"
      :canSave="canSave"
      :optionsVisible="false"
      :saveText="idx !== '' ? 'Сохранить' : 'Создать курс'"
      @save="save"
    )

</template>

<script>
  import MainAsideRightHead from '@lms/components/MainAsideRight/MainAsideRightHead'
  import {mapState} from 'vuex'

  export default {
    components: {MainAsideRightHead},
    computed: {
      ...mapState('coursesCourse', {
        canSave: s => s.aside.meta.canSave,
        idx: s => s.aside.data.idx,
      })
    },
    methods: {
      save(){
        let id = this.$route.path.split('/').splice(3,1)[0]


        if(!this.canSave) return

        if(this.idx)
          this.$store.dispatch('coursesCourse/editCourse', id)
        else
          this.$store.dispatch('coursesCourse/createCourse', id)
        this.closeAside()
      },
      closeAside(){
        this.$store.dispatch('coursesCourse/setAsideMeta', {path: 'forceClose', value: true})
      }
    }
  }
</script>