<template lang="pug">
  aside.menu(:class="{'-closed-' : !isOpen}")
    .menu__block
      .menu-like
        Icon.menu-like__logo(icon="like-logo-white")
        .menu-like__text
          | Like Центр

      .menu__body
        Franch(v-if="isFranch")

        AdminMenu(
          v-else-if="!isFranch && isAdmin"
          :navList="getNavList"
        )

        CourseNavigation(
          v-else-if="showCourseNavigation && course.id"
          :isInFranchGame="isInFranchGame"
        )

        // Если юзер не админ, но и в курс не зашел
        .menu__subblock(v-else)

          ul.nav__list
            CommonLink.-toolbox-(
              tag="a"
              target="_self"
              path="https://toolbox.bz"
              title="Toolbox"
              icon="toolbox"
              :key="1"
            )
            CommonLink(
              v-if="isInFranchGame"
              tag="a"
              target="_self"
              path="/franch"
              title="Франчбург"
              icon="student"
              :key="2"
            )

            CommonLink(
              path="/courses/folder/list"
              title="Курсы"
              :activePaths="['courses/course', 'courses/folder', 'courses/lesson']"
              icon="dashboard"
              exact
              :key="3"
            )

            CommonLink(
              path="/user/settings"
              title="Профиль"
              icon="gear"
              exact
              :key="4"
            )
            CommonLink(
              v-if="user.isHundredCourse"
              :path="`/rating/hundred/user/${user.id}`"
              title="Аналитика Сотка"
              icon="user-tie"
              exact
              :key="7"
            )
            CommonLink(
              v-if="user.isMSACourse"
              :path="`/rating/msa/user/${user.id}`"
              title="Аналитика МсА"
              icon="user-tie"
              exact
              :key="6"
            )
            CommonLink(
              v-if="user.isSpeedCourse"
              :path="`/rating/speed/user/${user.id}`"
              title="Аналитика Скорость"
              icon="user-tie"
              exact
              :key="8"
            )
            CommonLink(
              path="/logout"
              title="Выход"
              icon="logout"
              exact
              :key="5"
            )

        .menu__subblock
          .nav__link.-toggle-link-(@click="toggleMenu" title="Скрыть меню")
            Icon.nav__icon.-toggle-icon-(
              :class="{'-closed-': !isOpen}"
              icon="arrow-left"
            )
            p.nav__hide Свернуть

</template>

<script>
  import AdminMenu from './layouts/AdminMenu'
  import CourseNavigation from './layouts/CourseNavigation'
  import CommonLink from './components/CommonLink'
  import Franch from './layouts/Franch'

  import {mapState} from 'vuex'
  import SlideUpDown from 'vue-slide-up-down'

  export default {
    components: {CourseNavigation, CommonLink, AdminMenu, SlideUpDown, Franch},
    data: () => ({
      mounted: false,
      activeList: '',
      slideDuration: 300,
      menuIsOpen: false,
      franch: '/franch',
      navList: [
        {title: 'Toolbox', path: 'https://toolbox.bz', icon: 'toolbox', tag: 'a', type: []},
        {title: 'Курсы', path: '/courses/folder/list', icon: 'dashboard', type: [], activePaths: ['courses/course', 'courses/folder', 'courses/lesson']},
        {title: 'Проверка заданий', path: '/answers/validating', icon: 'book-teach', type: ['taskAnswerCheckAdmin']},
        {title: 'Лента ответов', path: '/answers/validating/feed', icon: 'answers-feed', type: ['taskAnswerCheckAdmin']},
        {title: 'Аналитика проверяющих', path: '/answers/analytics/validators', icon: 'f200', type: ['analyticsModelAdmin']},
        {title: 'Комментарии', path: '/answers/comments', icon: 'f200', type: ['analyticsModelAdmin']},
        {title: 'Аналитика Сотка', path: '/rating/hundred',  icon: 'user-tie', type: ['analyticsModelAdmin'] }, 
        {title: 'Аналитика  MCA', path: '/rating/msa',  icon: 'user-tie', type: ['analyticsModelAdmin'] }, 
        {title: 'Аналитика Скорость', path: '/rating/speed',  icon: 'user-tie', type: ['analyticsModelAdmin'] }, 
        {title: 'Команды', path: '/users/team', icon: 'teams', type: ['userGroupModuleAdmin']},
        {title: 'Группы', path: '/users/group/list', icon: 'user-group', type: ['userGroupModuleAdmin']},
        {title: 'Пользователи', path: '/users/list', icon: 'user-tie', type: ['userModuleAdmin']},
        {title: 'Баллы', path: '/users/points', icon: 'points', type: ['userModuleAdmin']},
        {title: 'Профиль', path: '/user/settings', icon: 'gear', type: []},
        {title: 'Выйти', path: '/logout', icon: 'logout', type: []},
      ],
    }),
    computed: {
      ...mapState('lms', {
        isOpen: s => s.menu.meta.isOpen,
        course: s => s.menu.data.course,
        isFranch: s => s.menu.meta.isFranch
      }),
      ...mapState('auth', {
        $permissions: s => s.data.user.permissions,
        isAdmin: s => s.data.user.permissions.isAdmin,
        isInFranchGame: s => s.data.user.isInFranchGame,
        user: s => s.data.user
      }),
      getNavList() {
        let arr = []
        if (Object.keys(this.$permissions).length > 0)
          arr = this.navList.filter(el => {
            return !el.type.length || el.type.some( elm => this.$permissions[elm].read != 0)
          })
        return arr
      },
      path() {
        return this.$route.path
      },
      async showCourseNavigation() {
        let show = false;
        if (!this.isAdmin && this.$route.meta.isCourse && this.isAdmin !== undefined && this.course.id) {
          await this.$store.dispatch('lms/getMenu')
          show = true
        }
        return true
      }
    },
    beforeMount() {
      if (this.path.indexOf(this.franch) !== -1)
        this.$store.dispatch('lms/getFranch')

    },
    mounted()
    {
      let store = localStorage.getItem('menuIsOpen');
      let boolean = store !== null && store != 'false';

      this.$store.dispatch('lms/setMenuMeta', {path: 'isOpen', value: boolean})
    },
    watch: {
      isOpen(v, o)
      {
        localStorage.setItem('menuIsOpen', this.isOpen)
      },
      path(current, old) {
        if (!this.path.includes(this.activeList))
          this.activeList = ''

        if (this.isOpen && window.innerWidth < 1440 && current !== old)
          this.toggleMenu()
      }
    },
    methods: {
      setActiveList(name = '') {
        this.activeList = this.activeList !== name ? name : ''

        if (!this.isOpen)
          this.toggleMenu()
      },
      toggleMenu(menuIsOpen) {
        this.$store.dispatch('lms/setMenuMeta', {path: 'isOpen', value: !this.isOpen})
        if (!this.isOpen)
          this.activeList = ""
      },
    },
  }
</script>