=bg($url, $size: cover, $position: center, $color: null)
	background: $color url("../img/" + $url) + ' ' + $position + ' no-repeat '
	background-size: $size

=media ($max: false, $min: false)
	@if ($max and $min)
		@media only screen and (max-width: $max) and (min-width: $min)
			@content
	@else if ($max)
		@media only screen and (max-width: $max)
			@content
	@else if ($min)
		@media only screen and (min-width: $min)
			@content

=clearfix
	&:after, &:before
		content: ''
		display: table
	&:after
		clear: both

=cx($transform: null)
	left: 50%
	transform: translateX(-50%) $transform

=cy($transform: null)
	top: 50%
	transform: translateY(-50%) $transform

=cxy($transform: null)
	left: 50%
	top: 50%
	transform: translate(-50%, -50%) $transform

=tr($tr...)
	transition: $tr

=size($width, $height: $width)
	width: $width
	height: $height

=pseudo($content: '', $pos: absolute, $display: block)
	position: relative
	&::after, &::before
		content: $content
		display: $display
		position: $pos

=border-top-bottom($br...)
	border-top: $br
	border-bottom: $br

=border-left-right($br...)
	border-left: $br
	border-right: $br

=ie
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
		@content

=selection
	&::selection
		@content
	&::-moz-selection
		@content

=keyframes($keyframes)
	@-webkit-keyframes #{$keyframes}
		@content
	@-moz-keyframes #{$keyframes} 
		@content
	@-o-keyframes #{$keyframes}
		@content
	@keyframes #{$keyframes}
  	@content

	
=dotdotdot
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden
	max-width: 100%


=pointer($none: none)

	@if ($none == none)
		pointer-events: none
		opacity: 0
	
	@else
		pointer-events: auto
		opacity: 1


=ratio($x,$y)
	$padding: unquote(($y/$x) * 100 + '%')
	padding-bottom: $padding


=hideScroll
  -ms-overflow-style: none
  scrollbar-width: none
  &::-webkit-scrollbar
    display: none

=uiFont
  font-family: $ui-kit-font
  letter-spacing: -.3px

=children
	& > *
		@content

=nextChildren
	& > * + *
		@content