/* === Старые цвета === */
$main-bg: #F7F8FC
$main-color: #4F4F4F
$main-second-color: #EB5757
$main-third-color: #EEDFF2
$main-error-bg: #D92938

$main-accent-color: #6979F8
$main-accent-second-color: #A5AFFB
$main-accent-third-color: #E5E7FA
$main-accent-fourth-color: #C882FD

$color-success: #26ADB3
$color-success-light: #7DDFC3
$color-success-disable: #D5F2EA

$color-error: #FF647C
$color-error-light: #FDAFBB
$color-error-disable: #FBE4E8

$color-primary: #0084F4
$color-primary-light: #66B5F8
$color-primary-disable: #D5E9FA

$color-warning: #FFCF5C
$color-warning-light: #FFE29D
$color-warning-disable: #FFF8E7

$color-accent: #FFA26B
$color-accent-light: #FFC7A6
$color-accent-disable: #FFE8DA

$main-dark-color: #1A051D
$main-light-color: #FFF

$neutral-light-color: #F7F5F9
$neutral-color: #ECE9F1
$neutral-dark-color: #D0C9D6

$text-color: #2B2D34
$text-dark-color: #4F4F4F
$text-extra-color: #9FA2B4
$text-extra-light-color: #C5C7CD

$border-color: #DFE0EB
$border-color-dark: #C4C4C4

$main-box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.15)
$second-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15)
$main-popup-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07)

$main-gradient: linear-gradient(250deg, $main-accent-color 0%, #2C50EF 100%)
$second-gradient: linear-gradient(191.77deg, #CDDDF4 3.26%, #CDBAFA 100%)

$ajax-bg: #dcdcdc

$color-error-new: #EB5757

// Transitions

$main-transitions: .3s

// Fonts

$main-fonts: 'Gilroy', sans-serif
$secondary-fonts: 'Helvetica', sans-serif
$input-font: $main-fonts
$ui-kit-font: $secondary-fonts

//========== РЕДИЗАЙН ==========

//Шрифты
$secondary-fonts: 'Helvetica', sans-serif
$ui-kit-font: $secondary-fonts

// Новые цвета

$ui-black: #36383E
$ui-black-dark: #2B2D34
$ui-black-darkest: #1A051D

$ui-white: #fff
$ui-white-dark: #F8F8FD
$ui-white-contrast: #FDFDFD
$ui-background: #EFF1F8
$ui-space-background: #eef1f8
$ui-gray-less-contrast: #898989
$ui-gray-less: #B8B8BE
$ui-gray-middle: #ABABBA
$ui-gray-dark: #9FA2B4
$ui-gray-dark-less: #818181
$ui-light-grey-low-contrast: #CECED6
$ui-light-grey-4-5-contrast: #76767B
$ui-gray-light: #FAFBFE




$ui-border: #DFE0EB

$ui-blue-accident: #6979F8
$ui-blue-less-contras: #3040C2
$ui-dark-blue: #2B305F
$ui-light-blue: #ACB5F8


$ui-yellow: #EEBF1B
$ui-orange-extra-accident: #F39200
$ui-red: #EB5757
$ui-success: #2DC14E


// Sizes

%text

	&-400

		&-10
			font-size: rem(10px)
			line-height: 1.3
			font-weight: normal

			+media(640px)
				font-size: rem(12px)

		&-12
			font-size: rem(12px)
			line-height: 1.3
			font-weight: normal

		&-13
			font-size: rem(13px)
			line-height: 1.3
			font-weight: normal

		&-14
			font-size: rem(14px)
			line-height: 1.3
			font-weight: normal

		&-15
			font-size: rem(15px)
			line-height: 1.3
			font-weight: normal

		&-16
			font-size: rem(16px)
			line-height: 1.3
			font-weight: normal

		&-18
			font-size: rem(18px)
			line-height: 1.3
			font-weight: normal

	&-500

		&-22
			font-size: rem(22px)
			line-height: 1.3
			font-weight: 500

		&-20
			font-size: rem(22px)
			line-height: 1.3
			font-weight: 500

		&-18
			font-size: rem(18px)
			line-height: 1.3
			font-weight: 500

		&-16
			font-size: rem(16px)
			line-height: 1.3
			font-weight: 500

		&-15
			font-size: rem(15px)
			line-height: 1.3
			font-weight: 500

		&-14
			font-size: rem(14px)
			line-height: 1.3
			font-weight: 500

		&-13
			font-size: rem(13px)
			line-height: 1.3
			font-weight: 500

		&-11
			font-size: rem(11px)
			line-height: 1.3
			font-weight: 500

			+media(640px)
				font-size: rem(12px)


		&-12
			font-size: rem(12px)
			line-height: 1.3
			font-weight: 500

	&-600

		&-24
			font-size: rem(24px)
			line-height: 1.3
			font-weight: 600

		&-18
			font-size: rem(18px)
			line-height: 1.3
			font-weight: 600

		&-16
			font-size: rem(16px)
			line-height: 1.3
			font-weight: 600

		&-15
			font-size: rem(15px)
			line-height: 1.3
			font-weight: 600

		&-14
			font-size: rem(14px)
			line-height: 1.3
			font-weight: 600

		&-12
			font-size: rem(12px)
			line-height: 1.3
			font-weight: 600

		&-10
			font-size: rem(10px)
			line-height: 1.3
			font-weight: 600

	&-700

		&-12
			font-size: rem(12px)
			line-height: 1.3
			font-weight: 700

		&-14
			font-size: rem(14px)
			line-height: 1.3
			font-weight: 700

		&-15
			font-size: rem(15px)
			line-height: 1.3
			font-weight: 700

		&-16
			font-size: rem(16px)
			line-height: 1.3
			font-weight: 700

		&-17
			font-size: rem(17px)
			line-height: 1.3
			font-weight: 700

		&-18
			font-size: rem(18px)
			line-height: 1.3
			font-weight: 700

		&-20
			font-size: rem(20px)
			line-height: 1.3
			font-weight: 700

		&-22
			font-size: rem(22px)
			line-height: 1.3
			font-weight: 700

		&-24
			font-size: rem(24px)
			line-height: 1.3
			font-weight: 700

		&-36
			font-size: rem(36px)
			line-height: 1.3
			font-weight: 700

		&-38
			font-size: rem(38px)
			line-height: 1.3
			font-weight: 700

.text
	&-center
		text-align: center

%title

	&-700

		&-22
			font-size: rem(22px)
			line-height: 1.3
			font-weight: 700

		&-17
			font-size: rem(17px)
			line-height: 1.3
			font-weight: 700

		&-16
			font-size: rem(16px)
			line-height: 1.3
			font-weight: 700

		&-15
			font-size: rem(15px)
			line-height: 1.3
			font-weight: 700

.pointer
	cursor: pointer
.cursor-default
	cursor: default !important
.height
	&-45px
		height: 45px !important
		min-height: 45px !important
	&-40px
		&-min
			min-height: 40px
	&-30px
			height: 30px !important
			min-height: 30px !important
	&-25px
			height: 25px !important
			min-height: 25px !important
	&-15px
			height: 15px !important
			min-height: 15px !important
.width
		&-100
			width: 100% !important
		&-80
			width: 80% !important
		&-60
			width: 60%  !important
		&-80px
			width: 80px !important
			min-width: 80px !important
		&-70px
			width: 70px !important
			min-width: 70px !important
		&-60px
			width: 60px !important
			min-width: 60px !important
		&-50px
			width: 50px !important
			min-width: 50px !important
		&-45px
			width: 45px !important
			min-width: 45px !important
		&-40px
			width: 40px !important
			min-width: 40px !important
		&-30px
			width: 30px !important
			min-width: 30px !important
		&-25px
			width: 25px !important
			min-width: 25px !important
		&-20px
			width: 20px !important
			min-width: 20px !important
		&-15px
			width: 15px !important
			min-width: 15px !important
		&-10px
			width: 10px !important
			min-width: 10px !important

.position
	&-relative
		position: relative
	&-absolute
		position: absolute
	&-top
		top: 0px !important
		&-5
			top: 5px
		&-10
			top: 10px
		&-15
			top: 15px
		&-40
			top: 40px
	&-left
		left: 0
	&-bottom
		bottom: 0
	&-right
		right: 0
		&-5
			right: 5px
		&-10
			right: 10px
		&-15
			right: 15px
	
.flex
	display: flex !important
	&-row
		flex-flow: row !important
		&-wrap
			flex-flow: row wrap !important
	&-col
		flex-flow: column !important
		&-wrap
			flex-flow: column wrap !important

.justify
	&-start
		justify-content: flex-start !important
	&-between
		justify-content: space-between !important
	&-end
		justify-content: flex-end !important
	&-around
		justify-content: space-around !important
	&-center
		justify-content: center !important


.align
	&-start
		align-items: flex-start !important
	&-end
		align-items: flex-end !important
	&-center
		align-items: center !important

.margin
	margin: auto
	&-full
		&__50
			margin: 50px
		&__25
			margin: 25px
		&__20
			margin: 20px
		&__15
			margin: 15px
		&__10
			margin: 10px
		&__5
			margin: 5px
			
	&-height
		&__50
			margin: 50px 0px
		&__25
			margin: 25px 0px
		&__20
			margin: 20px 0px
		&__15
			margin: 15px 0px
		&__10
			margin: 10px 0px
		&__5
			margin: 5px 0px
	&-top
		&__30
			margin-top: 30px
		&__25
			margin-top: 25px
		&__20
			margin-top: 20px
		&__15
			margin-top: 15px !important
		&__10
			margin-top: 10px
		&__5
			margin-top: 5px
	&-width
		&__50
			margin: 0 50px
		&__25
			margin: 0 25px
		&__20
			margin: 0 20px
		&__15
			margin: 0 15px
		&__10
			margin: 0 10px
		&__5
			margin: 0 5px
	&-bottom
		&-20
			margin-bottom: 20px
	&-left
		&__15
			margin-left: 15px
		&__10
			margin-left: 10px
		&__5
			margin-left: 5px
	&-right
		&__15
			margin-right: 15px
		&__10
			margin-right: 10px
		&__5
			margin-right: 5px

.padding
	&-left__right
		&-20
			padding: 0 20px !important
		&-15
			padding: 0 15px !important
		&-10
			padding: 0 10px !important
		&-5
			padding: 0 5px !important
	&-top
		&-20
			padding-top: 20px
		&-15
			padding-top: 15px
		&-10
			padding-top: 10px
	&-left
		&-30
			padding-left: 30px !important
		&-25
			padding-left: 25px !important
		&-20
			padding-left: 20px !important
		&-15
			padding-left: 15px !important
		&-10
			padding-left: 10px !important
		&-5
			padding-left: 5px !important
	&-right
		&__15
			padding-right: 15px
		&__10
			padding-right: 10px
		&__5
			padding-right: 5px

.hidden
	overflow: hidden

.-disabled-
	pointer-events: none
	color: $border-color
	background: $main-light-color
	border-color: $border-color
.-error__class-
	color: $color-error !important
	border-color: $color-error !important
.grey-color
	color: $text-extra-color
