<template>
  <div class="auth-layout">
    <NotificationHandler />
    <Eruda v-if="initEruda"/>
    <keep-alive>
        <div class="login">
          <Icon icon='like-logo' class="login__logo"></Icon>
          <router-view></router-view>
        </div>
    </keep-alive>
  </div>
</template>

<script>
  import NotificationHandler from '@lms/components/NotificationHandler/index'
  import Eruda from '@lms/components/Eruda'
  import cookieMethod  from '@lms/functions/cookieMethod'

  export default {
    components: {NotificationHandler, Eruda},
    data: () => ({
      initEruda: false,
    }),
    async mounted() {
      this.checkForFlash()
      let eruda = await cookieMethod({name: 'eruda', method: 'get'})
      if(this.$route.query.eruda === 'true' || eruda) {
        document.cookie = "eruda=true;"
        this.initEruda = true
      }
    },
    methods: {
      checkForFlash(){
        if(this.$route.query.flashMessage){
          this.$store.dispatch('ajax/addMessage', {message: this.$route.query.flashMessage, type: 'notification'}, {root: true})
          let newQuery = _.cloneDeep(this.$route.query)
          delete newQuery.flashMessage
          this.$router.replace({query: {...newQuery}})
        }
      },
      getCookie(name) {
        let matches = document.cookie.match(new RegExp(
          "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
      }
    }
  }
</script>
