<template>
  <div class="wrapper">
    <NotificationHandler />
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
  </div>
</template>

<script>
  import NotificationHandler from '@lms/components/NotificationHandler/index'
  export default {
    components: {NotificationHandler},
  }
</script>