<template lang="pug">
  ul.filters__contacts-list
    li.filters__contacts-list-item(
      v-for="(contact, idx) in Object.entries(existedContacts)" :key="idx"
      @click="selectContact(contact)"
    )
      p {{contact[1].toString}}
</template>

<script>
  export default {
    props: ['existedContacts'],
    methods: {
      selectContact(entry){
        this.$emit('setContact', {id: entry[0], name: entry[1].name})
      }
    }
  }
</script>