<template lang="pug">
  .ui-kit-tab
    .ui-kit-tab__header
      .ui-kit-tab__list
        .ui-kit-tab__item(
          v-for="tab in tabList" :key="tab.id"
          :class="{'-active-': tab.id === value}"

          @click="selectTab(tab.id)"
        ) 
          p.ui-kit-tab__title {{tab.title}}
      .ui-kit-tab__header-slot(
        v-if="hasHeader"
      )
        slot(
          name="header"
        ) 
    .ui-kit-tab__body
      transition(
        name="fade"
        appear
        mode="out-in"
        :duration="100"
      )
        keep-alive
          slot
  
</template>

<script>
export default {
  props: {
    value: {
      default: 0,
    },
    tabList: {

    }
  },
  computed: {
    hasHeader() {
      return 'header' in this.$slots
    }
  },
  methods: {
    selectTab(id) {
      this.$emit('input', id)
    }
  }

}
</script>

<style>

</style>
