<template lang="pug">
  .form-item.recursion__select
    span.form-item__title(v-if="title")
      | {{title}}
    .form-item__block(v-click-outside="close")
      span.form-item__error(v-if="error")
        | {{error}}

      .form-item__select.select(@click="toggleOpen")
        input.form-item__input(
          :value="value"
          :disabled="true"
          :placeholder="placeholder"
        )
      SlideUpDown.select__slider(
        :duration="slideDuration"
        :active="isOpen"
      )
        .select__field
            SelectRecursionItem(
                v-for="(option, idx) in fields"
                :option="option"
                folder
                @choosen="setChoosen"
                :key="idx"
            )

      Icon.select__icon.form-item__icon(
        :icon="!icon ? 'arrow-down' : icon"
        @click="toggleOpen"
        :class="{'-opened-': isOpen}"
      )
</template>
<script>
import SlideUpDown from 'vue-slide-up-down';
import vClickOutside from 'v-click-outside';
import SelectRecursionItem from './SelectRecursionItem';

export default {
    directives: { 
        clickOutside: vClickOutside.directive
    },
    components:{
        SelectRecursionItem,
        SlideUpDown
    },
    props:{
        fields:{
            type:Array,
            default:[]
        },
        title: {},
        error: {},
        placeholder: {},
        icon: {},
        value:{}
    },
    data(){
        return{
            isOpen:false,
            slideDuration: 200,
            selectData:{},
        }
    },
  
    methods:{
        toggleOpen() {
          if(this.fields)
            this.isOpen = !this.isOpen
        },
        close() {
          this.isOpen = false
        },
        setChoosen(string){
          this.$emit('input', string)
          this.close()
        },
    }
}
</script>