<template lang="pug">
    .recursion__select-item
        span.recursion__select-item-text(
            :class="{'folder__type': folder }"
            @click="$emit('choosen', value + `${ folder ? '' : ',' }`+ option.id)"
        )    
            
            div.recursion__select-item-name
                span.recursion__select-item-info(
                    :class="{'item__hover': !folder }"
                )
                    template(v-if="folder") Папка:&nbsp
                    | {{option.text}} 
                p.recursion__select-item-tasks 
                    template(v-if="!folder")
                        | {{option.tasks}} работ
        
        template( v-if="option.children && option.children.length" )
                SelectRecursionItem(
                    v-for="item in option.children"
                    :key="item.id"
                    :option="item"
                    :value="value +`${ folder ? '' : ',' }`+ option.id"
                    @choosen="$emit('choosen', $event)"
                )
</template>
<script>
export default {
    name:'SelectRecursionItem',
    props:{
        option:{
            type:Object,
            default: {}
        },
        folder:{
            type:Boolean,
            default: false
        },
        value:{
            type:String,
            default: ''
        }
    },
}
</script>