<template lang="pug">

  .course-points-shop-product
    .course-points-shop-product__header()
      .ajax__line.ajax__line-card
      
      .course-points-shop-product__prices
        .course-points-shop-product__price
          .course-points-shop-product__loading.ajax__line.ajax__line-card(
            style="height: 14px"
          )
          
    .course-points-shop-product__content
      .course-points-shop-product__content-top
        p.course-points-shop-product__title
          .course-points-shop-product__loading.ajax__line.ajax__line-card(
            style="height: 21px"
          )
        p.course-points-shop-product__description
          .course-points-shop-product__loading.ajax__line.ajax__line-card(
            v-for="i in 3" :key="i"
            style="height: 10px; margin-bottom: 10px"
          )
      .course-points-shop-product__offers
        .course-points-shop-product__loading.ajax__line.ajax__line-card(
          style="height: 40px"
        )

</template>

<script>
  export default {
  }
</script>