<template lang="pug">
  MainAsideRight(
    storePath="hypothesis"
    :isOpen="isOpen"
    :asideCanSave="true"
    :optionsVisible="false"
    :ignorePopup="true"
  )
    .aside__block
      MainAsideRightHead(
          title="Гипотеза"
          storePath="hypothesis"
          :canSave="canSave"
          @save="save"
      )
      .aside__subblock
        .aside__list
          .aside__item.-full-
            Input.-bg-light-gray-(
              title="Моя гипотеза"
              :error="$v.$dirty && !$v.name"
              v-model="hypothesis.name"
              @input="formChangeHandler"
            )
              span.form-item__error(v-if="$v.$dirty && !$v.hypothesis.name")
                | Обязательное поле
          .aside__item.-full-
            InputDate.-bg-light-gray-(
              title="Дата окончания"
              :showClear="false"
              v-model="hypothesis.date"
              @input="formChangeHandler"
            )
          .aside__item.-full-
            Select.-bg-light-gray-(
              title="Категория"
              :selectData="categoryToSelect"
              v-model="hypothesis.category"
              @input="formChangeHandler"
            )
          .aside__item.-full-
            Actions(
              title="Добавить действие"
              :actions="hypothesis.actions"
              @actionsUpdate="actionsUpdate"
              @actionsUpdateText="actionsUpdateText"
            )
</template>

<script>
import MainAsideRight from '@lms/components/MainAsideRight'
import MainAsideRightHead from '@lms/components/MainAsideRight/MainAsideRightHead'
import Actions from '@lms/components/Form/Actions'
import { mapState, mapActions } from 'vuex';
import {required} from 'vuelidate/lib/validators'
import moment from 'moment'

export default {
  components: {
    MainAsideRight,
    MainAsideRightHead,
    Actions
  },
  data () {
    return {
      hypothesis: {
        name: '',
        date: null,
        category: 'Анализ ниши',
        actions: [
          {
            id: '',
            action: '',
            isComplete: 0
          }
        ]
      }
    }
  },
  computed: {
    ...mapState('hypothesis', {
      isOpen: s => s.aside.meta.isOpen,
      canSave: s => s.aside.meta.canSave,
      categoryToSelect: s => s.aside.data.categoryToSelect
    }),
  },
  async mounted () {
    this.hypothesis.date = moment().format('YYYY-MM-DD')
    this.getCategoryToSelect()
  },
  destroyed() {
    this.clearHypothesis()
    this.clearData()
  },
  methods: {
    ...mapActions('hypothesis', [
      'setAsideData',
      'setAsideMeta',
      'getCategoryToSelect',
      'saveHypothesis',
      'clearData'
    ]),
    async save() {
      this.$emit('saved', this.hypothesis)
      this.saveHypothesis()

      this.closeAside()
    },
    formChangeHandler() {
      this.setAsideData({path: 'hypothesis', value: _.cloneDeep(this.hypothesis)})

      if (this.$v.$invalid) {
        this.setAsideMeta({path: 'canSave', value: false})
        this.$v.$touch();
        return
      }

      this.setAsideMeta({path: 'canSave', value: true})
    },
    closeAside() {
      this.$v.$reset()
      this.clearHypothesis()
      this.setAsideMeta({path: 'canSave', value: false})
      this.setAsideMeta({path: 'forceClose', value: true})
    },
    clearHypothesis() {
      this.hypothesis = {
        name: '',
        date: moment().format('YYYY-MM-DD'),
        category: 'Анализ ниши',
        actions: [
          {
            id: '',
            action: '',
            isComplete: 0
          }
        ]
      }
    },
    actionsUpdate(newActions) {
      this.hypothesis.actions = _.cloneDeep(newActions)
      this.formChangeHandler()
    },
    actionsUpdateText({idx, text}) {
      this.hypothesis.actions[idx].action = text
      this.formChangeHandler()
    },
  },
  validations: {
    hypothesis: {
      name: {required},
    }
  },
}
</script>
