<template lang='pug'>

  .users-groups
    Body

    MainAsideRight(
      :isOpen="isOpen"
      :asideCanSave="canSave"
      storePath="users"
    )
      Aside

</template>

<script>
  import Aside from './layouts/Aside'
  import Body from './layouts/Body'
  import MainAsideRight from '@lms/components/MainAsideRight'
  import {mapState, mapActions} from 'vuex'

  export default {
    components: {Aside, MainAsideRight, Body},
    computed: {
      ...mapState('users', {
        canSave: s => s.aside.meta.canSave,
        isOpen: s => s.aside.meta.isOpen,
      }),
    },
    mounted() {
      this.getUsers();
    },
    methods: {
      ...mapActions('users', [
        'getUsers'
      ]),
    }
  }
</script>