<template lang="pug">
  label.ui-kit-input.-m-.-date-(
    :class="[getStatus ? `-${getStatus}-` : '', {'-focus-': focus}]"
  )
    span.ui-kit-input__label(v-if="title || popup") {{ title }}
    span.ui-kit-input__field
      Icon.ui-kit-input__icon(
        v-if="icon"
        :icon="icon"
        :class="iconClass")
      DatePicker(
        v-model="date"
        :editable="false"
        :width="'100%'"
        input-class="ui-kit-input__input pointer"
        :lang="lang"
        :first-day-of-week="1"
        :format="format"
        :append-to-body="true"
        :placeholder="placeholder"
        :type="type"
        :disabled="disabled"
        :disabled-days="disabledDays"
        :clearable="clearable"
        @focus="onFocus"
        @blur="onBlur"
        @change="onInput"
      )
        template(v-slot:calendar-icon)
          p(style="display:none;")
      Icon.ui-kit-input__icon(
        v-if="clearable && date"
        :icon="'ui-close'"
        style="cursor: pointer"
        @click="onClear"
      )
    Popup(v-if="popup"
      :popup="popup"
      :status="getStatus")

</template>

<script>
  import Popup from "./Popup"
  import DatePicker from 'vue2-datepicker'
  import dateFilter from "toolbox/filters/date.filter";

  export default {
    props: {
      value: {
      },
      title: {},
      placeholder: {},
      icon: {},
      iconClass: {},
      type: {
        type: String,
        default: "date",
      },
      disabled: {
        default: false,
      },
      format: {
        default: 'YYYY-MM-DD'
      },
      formattedFormat: {
        default: 'YYYY-MM-DD'
      },
      status: '',
      error: false,
      popup: {},
      defaultNow: {
        default: true
      },
      clearable: {
        type: Boolean,
        default: false
      },
      disabledDays: {
        type: Function,
        default: undefined
      }
    },
    components: {
      Popup,
      DatePicker
    },
    data() {
      return {
        focus: false,
        date: '',
        lang: {
          days: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
          months: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
          pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
          placeholder: {
            date: '',
            dateRange: ''
          }
        },
      }
    },
    beforeMount() {
      this.setInitialValue()
    },
    computed: {
      getStatus() {
        if (this.popup) {
          if (this.popup.error) {
            return 'error'
          } else if (this.popup.status) {
            return this.popup.status
          }
        }

        if (this.error) {
          return 'error'
        } else if (this.status) {
          return this.status
        }
        return ''
      }
    },
    watch: {
      value(val) {
        if(val !== this.date)
          this.date = this.value
      }
    },
    methods: {
      setInitialValue() {
        if (!this.value && this.defaultNow) {
          this.date = new Date()
          this.onInput()
        } else  {
          this.date = this.value
        }
      },
      onFocus() {
        this.$emit('focus')
        this.focus = true;
      },
      onBlur() {
        this.$emit('blur')
        this.focus = false;
      },
      onInput() {
        if(!this.disabled)
          this.$emit('input', dateFilter(this.date, this.formattedFormat))
      },
      onClear() {
        this.$emit('input', undefined)
      }
    }
  }
</script>
