<template lang='pug'>

  .users-groups
    Body

    MainAsideRight(
      :isOpen="isOpen"
      :asideCanSave="canSave"
      storePath="usersGroupsUsers"
    )
      Aside

</template>

<script>
  import Aside from './layouts/Aside'
  import Body from './layouts/Body'
  import MainAsideRight from '@lms/components/MainAsideRight'
  import {mapState, mapActions} from 'vuex'

  export default {
    components: {Aside, MainAsideRight, Body},
    computed: {
      ...mapState('usersGroupsUsers', {
        canSave: s => s.aside.meta.canSave,
        isOpen: s => s.aside.meta.isOpen,
      }),
      ...mapState('auth',{
        $permissions: s => s.data.user.permissions.userGroupModuleAdmin,
        isAdmin: s => s.data.user.permissions.isAdmin
      }),
    },
    mounted() {
      this.getUsers({groupId: this.$route.params.groupId})
    },
    methods: {
      ...mapActions('usersGroupsUsers', [
        'getUsers',
        'clearUsers'
      ]),
    },
    destroyed(){
      this.clearUsers()
    }
  }
</script>