<template lang="pug">
  .rating
    Header
      .rating-header__block
        UiSelect.rating-header__item.-m-(
          v-model="streamId"
          title="Выбор потока"
          placeholder="Ничего не выбрано"
          :option="streamData"
          :canUnset="true"

          @input="changeValue($event, 'streamId')"
        )
        UiInput.rating-header__item.-l-(
          v-model='name'
          
          title="Найти участника"
          icon="ui-search"
          placeholder="Введите имя участника"
          :option="[]"

          @input="changeValue($event, 'name')"
        )
      .rating-header__block
        UiDateInput.rating-header__item.-s-.-background-main-(
          v-model="date_start"
          title="Выберите дату"
          placeholder="От"
          icon="ui-calendar"
          iconClass="rating-icon -calendar-"
          :defaultNow="false"

          @input="changeValue($event, 'date_start')"
        )
        UiDateInput.rating-header__item.-s-.-background-main-(
          v-model="date_end"
          title="Выберите дату"
          placeholder="До"
          icon="ui-calendar"
          iconClass="rating-icon -calendar-"
          :defaultNow="false"
          @input="changeValue($event, 'date_end')"
        )
        UiButton.-transparent-blue-.rating-header__item(
          v-if="isAdmin"
          @click="openModal"
        )
          Icon.rating-header__icon(icon="ui-export")
          | Экспорт CSV
        UiButton.-transparent-blue-.rating-header__item(
          v-else
          :to="`/rating/msa/user/${user.id}`"
        ) Моя карточка
    MsaTable

    UiModal.rating__msa-modal(
      v-model="isShowModal"
    )
      .rating__msa-modal__body
        .rating__msa-modal__field-list
          SelectData.-background-(
            v-model="csvDate.months"
            title="Интервал месяцев"
            type="month"
            format="MM"
            :range="true"
            :appendToBody="true"
            placeholder="Месяц"
            :moment="true"
          )
          SelectData.-background-(
            v-model="csvDate.year"
            title="Год"
            type="year"
            format="YYYY"
            :appendToBody="true"
            placeholder="Год"
            :moment="true"
          )
      template(#footer)
        .rating__msa-modal__footer
          RouterLink(
            :to="csvLink"
            target="_blank"
            download
            :style="{textDecoration: 'none'}"
          )
            UiButton() Выгрузить

</template>

<script>
import Header from '../components/Header'
import Body from '../components/Body'

import MsaTable from './components/MsaTable'

import SelectData from './layouts/components/SelectData'

import replaceRouteQuery from "@lms/functions/replaceMultipleRouteQuery"
import moment from 'moment'

import { mapState } from 'vuex'

export default {
  components: {
    Header,
    Body,
    MsaTable,
    SelectData,
  },
  computed: {
    ...mapState('auth', {
      isAdmin: s => s.data.user.permissions.isAdmin,
      user: s => s.data.user, 
    }),
    ...mapState('ratingMsa', {
      isLoadingCSV: s => s.meta.isLoadingCSV,
      streamData: s => s.data.streams.map(({text, value}) => ({title: text, value })) 
    }),
    streams() {
      return [
        {
          text: 'Не выбрано',
          value: undefined
        },
        ...this.streamData]
    },
    isAdminMsa() {
      return !this.$store.state['auth'].data.user.permissions.isAdmin && this.$store.state['auth'].data.user.isMSACourse
    },
    csvLink() {
      let monthList = []
      let yearFormat = moment(this.csvDate.year).format('YYYY')
      let [monthFrom, monthTo] = this.csvDate.months

      do {
        monthList.push(moment(monthFrom).format('MM'))
        monthFrom = moment(monthFrom).add(1, 'M');
      } while (!moment(monthFrom).isAfter(monthTo, 'month'))

      return {
        path: `/analytics/msa/csv/get`,
        query: {
          'months[]': monthList,
          year: yearFormat,
        }
      }
    }
  },
  data: ()=> ({
    streamId: '',
    name:'',
    date_start: '',
    date_end: '',
    isShowModal: false,
    csvDate: {
      months: '',
      year: '',
    },
  }),
  beforeMount() {
    this.setCsvDate()
  },
  mounted() {
    this.$store.dispatch('ratingMsa/loadStreams');
    this.loadingData()

    Object.entries(this.$route.query).forEach( el => {
      this[el[0]] = el[1]
    })
  },
  watch: {
    '$route.query'() {
      this.loadingData();
    }
  },
  methods: {
    loadingData() {
      this.$store.dispatch('ratingMsa/getUsersList')
      this.$store.dispatch('ratingMsa/setMeta', { path: 'isLoadingCSV', value: false })
    },
        loadCSV()
    {
      !this.isLoadingCSV && this.$store.dispatch('ratingMsa/')
    },
    changeValue( value, name )
    {
      let obj = {}
      obj[name] = value
    
      let arrQuery = Object.entries({...this.$route.query, ...obj }).map( el => 
      ({
        method: 'replace',
        name: el[0],
        value: el[1]
      }))

      replaceRouteQuery( arrQuery )
    },
    goTo() {
      if(!this.isAdmin) return
      this.$router.push(`/rating/msa/user/${this.$store.state['auth'].data.user.id}`)
    },
    openModal() {
      this.isShowModal = true
    },
    setCsvDate() {
      let date = moment()
      this.csvDate = {
        months: [date, date],
        year: date,
      }
    },
    getCsv() {
      // this.$store.dispatch('ratingMsa/loadIntervalCsv', this.csvDate)


      let monthList = []
      let yearFormat = moment(this.csvDate.year).format('YYYY')
      let [monthFrom, monthTo] = this.csvDate.months

      do {
        monthList.push(moment(monthFrom).format('MM'))
        monthFrom = moment(monthFrom).add(1, 'M');
      } while (!moment(monthFrom).isAfter(monthTo, 'month'))

      this.$router.push({path: `/analytics/msa/csv/get`, query: {
        'months[]': monthList,
        year: yearFormat,
      }, })
    }
  },
}
</script>

<style>

</style>