<template lang="pug">
  .rating-card-list(
    :style="gridTemplateColumns"
  )
    .rating-card-list__item(
      v-for="card in cardList" :key="card.id"
    )
      Icon.rating-card-list__icon(
        :icon="card.icon"
      )
      .rating-card-list__content
        .rating-card-list__title
          .ajax__line.-round-(
            v-if="loading"
            :style="{height: '1em', width: '80px', margin: '2px 0'}"
          )
          p.-no-wrap-(v-else)
            | {{card.title}}
        p.rating-card-list__description
          | {{card.description}}
  
</template>

<script>
export default {
  props: {
    cardList: {},
    loading: {
      default: false,
    },
    width: {},
    nameClass: {},
    titleClass: {},
  },
  computed: {
    gridTemplateColumns() {
      if (this.width !== null && this.width !== undefined)
        return {gridTemplateColumns: `repeat(auto-fit, minmax(${this.width}, 1fr))`}
    }
  }

}
</script>

<style>

</style>