<template lang="pug">
  MainAsideRightHead(
      title="Добавить блок"
      storePath="coursesLesson"
      :canSave="canSave"
      :optionsVisible="false"
      saveText=""
      @save="save"
    )

</template>

<script>
  import MainAsideRightHead from '@lms/components/MainAsideRight/MainAsideRightHead'
  import {mapState} from 'vuex'

  export default {
    components: {MainAsideRightHead},
    computed: {
      ...mapState('coursesLesson', {
        canSave: s => s.aside.meta.canSave,
        idx: s => s.aside.data.idx,
      })
    },
    methods: {
      save(){
        if(!this.canSave)
          return

        if(this.lesson.id)
          this.$store.dispatch('coursesCourse/editLesson')
        else
          this.$store.dispatch('coursesCourse/addLesson')
        this.closeAside()
      },
      closeAside(){
        this.$store.dispatch('coursesCourse/setAsideMeta', {path: 'forceClose', value: true})
      }
    }
  }
</script>