<template lang="pug">
	button.button-cancel(:type="type" @click="click")
		slot
</template>
	
<script>
	export default {
		props: {
			type: {
				default: 'button',
			}
		},
		methods: {
			click() {
				this.$emit('click')
			}
		}
		
	}
</script>