<template lang="pug">
	component.button(
			:is="href ? 'a' : 'button'"
			:type="href ? null : type"
			:href="href"
			@click="click"
			:target="target"
			:class="[{'button-loading': isLoading}, color]")
		slot

</template>
	
<script>
	export default {
		props: {
			href: '',
			target: '',
			color: {
				default: 'button-primary',
			},
			type: {
				default: 'button',
			},
			isLoading: {
				default: false,
				type: Boolean
			},
		},
		methods: {
			click() {
			  if(this.isLoading)
			    return

				this.$emit('click')
			}
		}
		
	}
</script>