<template lang="pug">
  header.header-mobile
    .header-mobile__logo
      Icon(icon="toolbox")

    p.header-mobile__title {{title}}
    Notification.notification__header

    button.burger.header-mobile__burger(
      @click="toggleMenu"
      :class="{'-active-': isOpenUiMenu}"
      type="button" 
    )
      span

</template>

<script>
  import {mapState} from 'vuex'

  export default {
    components: {},
    computed: {
      ...mapState('menu', {
        isOpenUiMenu: s => s.meta.isOpen,
      }),
      ...mapState('auth', {
        avatar: s => s.data.user.avatar,
      }),
      title() {
        return this.$route.meta.docTitle ? this.$route.meta.docTitle : ''
      },
    },
    methods: {
      toggleMenu() {
        this.$store.dispatch('menu/setMeta', {path: 'isOpen', value: !this.isOpenUiMenu})
      }
    },
  }
</script>
