<template lang="pug">
  MainAsideRightHead(
      :title="idx !== '' ? 'Редактирование урока' : 'Создание урока'"
      storePath="coursesCourse"
      :canSave="canSave"
      :optionsVisible="false"
      :saveText="idx !== '' ? 'Сохранить' : 'Создать урок'"
      @save="save"
    )

</template>

<script>
  import MainAsideRightHead from '@lms/components/MainAsideRight/MainAsideRightHead'
  import {mapState} from 'vuex'

  export default {
    components: {MainAsideRightHead},
    computed: {
      ...mapState('coursesCourse', {
        canSave: s => s.aside.meta.canSave,
        idx: s => s.aside.data.idx,
        lesson: s => s.aside.data.lesson
      })
    },
    methods: {
      save(){
        if(!this.canSave) return

        if(this.lesson.id)
          this.$store.dispatch('coursesCourse/editLesson')
        else
          this.$store.dispatch('coursesCourse/addLesson')
        this.closeAside()
      },
      closeAside(){
        this.$store.dispatch('coursesCourse/setAsideMeta', {path: 'forceClose', value: true})
      }
    }
  }
</script>