<template>
<svg width="260" height="265" viewBox="0 0 260 265" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M259.594 204.715C248.631 242.817 150.039 265 82.2271 265C14.2832 265 -32.8134 225.478 28.2854 199.373C89.0301 173.257 269.676 166.719 259.594 204.715Z" fill="#D7D7E8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M169.182 70.5076C169.13 58.845 169.702 48.0181 182.25 48.0181C182.887 48.0181 182.958 48.9541 183.162 49.5376C184.198 61.4515 187.404 84.8763 199.877 114.879C203.904 124.453 197.505 147.061 199.877 159.554C202.325 172.146 206.104 175.335 220.847 200.886C235.52 226.2 170.687 251.742 162.496 221.552C154.017 191.255 153.409 182.386 140.006 173.23C126.894 164.116 109.311 140.103 109.311 140.103H157.025C157.025 140.103 169.157 76.1628 169.182 70.5076Z" fill="#F9D2AB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M169.182 70.5076C169.13 58.845 169.702 48.0181 182.25 48.0181C182.887 48.0181 182.958 48.9541 183.162 49.5376C184.198 61.4515 187.404 84.8763 199.877 114.879C203.904 124.453 197.505 147.061 199.877 159.554C202.325 172.146 206.104 175.335 220.847 200.886C235.52 226.2 170.687 251.742 162.496 221.552C154.017 191.255 153.409 182.386 140.006 173.23C126.894 164.116 109.311 140.103 109.311 140.103H157.025C157.025 140.103 169.157 76.1628 169.182 70.5076Z" fill="url(#paint0_linear)"/>
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="109" y="48" width="114" height="188">
<path fill-rule="evenodd" clip-rule="evenodd" d="M169.182 70.5076C169.13 58.845 169.702 48.0181 182.25 48.0181C182.887 48.0181 182.958 48.9541 183.162 49.5376C184.198 61.4515 187.404 84.8763 199.877 114.879C203.904 124.453 197.505 147.061 199.877 159.554C202.325 172.146 206.104 175.335 220.847 200.886C235.52 226.2 170.687 251.742 162.496 221.552C154.017 191.255 153.409 182.386 140.006 173.23C126.894 164.116 109.311 140.103 109.311 140.103H157.025C157.025 140.103 169.157 76.1628 169.182 70.5076Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M169.182 70.5076C169.13 58.845 169.702 48.0181 182.25 48.0181C182.887 48.0181 182.958 48.9541 183.162 49.5376C184.198 61.4515 187.404 84.8763 199.877 114.879C203.904 124.453 197.505 147.061 199.877 159.554C202.325 172.146 206.104 175.335 220.847 200.886C235.52 226.2 170.687 251.742 162.496 221.552C154.017 191.255 153.409 182.386 140.006 173.23C126.894 164.116 109.311 140.103 109.311 140.103H157.025C157.025 140.103 169.157 76.1628 169.182 70.5076Z" stroke="white"/>
</mask>
<g mask="url(#mask0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M140.918 157.427C128.537 157.427 121.462 149.345 116.363 140.104L158.241 140.104C161.114 140.104 164.024 139.877 165.938 138.027C164.132 148.801 156.963 157.427 140.918 157.427Z" fill="url(#paint1_linear)"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M111.438 0L159.761 0C165.635 0 170.397 4.76232 170.397 10.6369V129.467C170.397 135.341 165.635 140.104 159.761 140.104H111.438C105.564 140.104 100.802 135.341 100.802 129.467V10.6369C100.802 4.76232 105.564 0 111.438 0Z" fill="#393E41"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M111.438 0L159.761 0C165.635 0 170.397 4.76232 170.397 10.6369V129.467C170.397 135.341 165.635 140.104 159.761 140.104H111.438C105.564 140.104 100.802 135.341 100.802 129.467V10.6369C100.802 4.76232 105.564 0 111.438 0Z" fill="url(#paint2_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M117.518 4.25488C117.518 4.25488 118.429 4.25488 118.429 5.16662C118.429 7.93838 120.244 9.11748 122.988 9.11748C127.477 9.11748 144.95 9.11748 148.213 9.11748C151.148 9.11748 152.771 7.93838 152.771 5.16662C152.771 4.25488 153.683 4.25488 153.683 4.25488L160.065 4.25488C163.422 4.25488 166.144 6.97621 166.144 10.3331V129.771C166.144 133.128 163.422 135.849 160.065 135.849H111.135C107.778 135.849 105.057 133.128 105.057 129.771V10.3331C105.057 6.97621 107.778 4.25488 111.135 4.25488L117.518 4.25488Z" fill="white"/>
<mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="105" y="4" width="62" height="132">
<path fill-rule="evenodd" clip-rule="evenodd" d="M117.518 4.25488C117.518 4.25488 118.429 4.25488 118.429 5.16662C118.429 7.93838 120.244 9.11748 122.988 9.11748C127.477 9.11748 144.95 9.11748 148.213 9.11748C151.148 9.11748 152.771 7.93838 152.771 5.16662C152.771 4.25488 153.683 4.25488 153.683 4.25488L160.065 4.25488C163.422 4.25488 166.144 6.97621 166.144 10.3331V129.771C166.144 133.128 163.422 135.849 160.065 135.849H111.135C107.778 135.849 105.057 133.128 105.057 129.771V10.3331C105.057 6.97621 107.778 4.25488 111.135 4.25488L117.518 4.25488Z" fill="white"/>
</mask>
<g mask="url(#mask1)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M109.616 128.859H161.585C162.424 128.859 163.104 129.539 163.104 130.378C163.104 131.218 162.424 131.898 161.585 131.898H109.616C108.776 131.898 108.096 131.218 108.096 130.378C108.096 129.539 108.776 128.859 109.616 128.859Z" fill="#C5CCFB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M109.616 121.261H161.585C162.424 121.261 163.104 121.942 163.104 122.781C163.104 123.62 162.424 124.3 161.585 124.3H109.616C108.776 124.3 108.096 123.62 108.096 122.781C108.096 121.942 108.776 121.261 109.616 121.261Z" fill="#C5CCFB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M109.616 113.663H161.585C162.424 113.663 163.104 114.344 163.104 115.183C163.104 116.022 162.424 116.702 161.585 116.702H109.616C108.776 116.702 108.096 116.022 108.096 115.183C108.096 114.344 108.776 113.663 109.616 113.663Z" fill="#C5CCFB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M109.616 106.065H161.585C162.424 106.065 163.104 106.746 163.104 107.585C163.104 108.424 162.424 109.105 161.585 109.105H109.616C108.776 109.105 108.096 108.424 108.096 107.585C108.096 106.746 108.776 106.065 109.616 106.065Z" fill="#C5CCFB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M109.616 98.4678H161.585C162.424 98.4678 163.104 99.1481 163.104 99.9873C163.104 100.827 162.424 101.507 161.585 101.507H109.616C108.776 101.507 108.096 100.827 108.096 99.9873C108.096 99.1481 108.776 98.4678 109.616 98.4678Z" fill="#C5CCFB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M109.616 90.8699H161.585C162.424 90.8699 163.104 91.5502 163.104 92.3894C163.104 93.2287 162.424 93.909 161.585 93.909H109.616C108.776 93.909 108.096 93.2287 108.096 92.3894C108.096 91.5502 108.776 90.8699 109.616 90.8699Z" fill="#C5CCFB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M111.743 79.0173H159.457C161.471 79.0173 163.104 80.6501 163.104 82.6643C163.104 84.6784 161.471 86.3112 159.457 86.3112H111.743C109.729 86.3112 108.096 84.6784 108.096 82.6643C108.096 80.6501 109.729 79.0173 111.743 79.0173Z" fill="#6979F8"/>
<path opacity="0.7" fill-rule="evenodd" clip-rule="evenodd" d="M127.85 66.8608H146.389C147.228 66.8608 147.908 67.5412 147.908 68.3804C147.908 69.2196 147.228 69.9 146.389 69.9H127.85C127.011 69.9 126.331 69.2196 126.331 68.3804C126.331 67.5412 127.011 66.8608 127.85 66.8608Z" fill="#C5CCFB"/>
<path opacity="0.7" fill-rule="evenodd" clip-rule="evenodd" d="M127.85 60.7825H161.584C162.424 60.7825 163.104 61.4628 163.104 62.302C163.104 63.1413 162.424 63.8216 161.584 63.8216H127.85C127.011 63.8216 126.331 63.1413 126.331 62.302C126.331 61.4628 127.011 60.7825 127.85 60.7825Z" fill="#C5CCFB"/>
<circle cx="115.694" cy="65.3412" r="7.59781" fill="#52A5F1"/>
<g clip-path="url(#clip0)">
<path d="M114.105 66.5497L113.954 68.671C114.17 68.671 114.263 68.5783 114.375 68.467L115.387 67.5002L117.483 69.0354C117.868 69.2496 118.139 69.1368 118.242 68.6817L119.618 62.2342L119.619 62.2338C119.741 61.6655 119.413 61.4432 119.038 61.5827L110.951 64.6791C110.399 64.8934 110.407 65.2011 110.857 65.3405L112.925 65.9837L117.727 62.9784C117.954 62.8287 118.159 62.9115 117.99 63.0612L114.105 66.5497Z" fill="white"/>
</g>
<rect x="105.057" y="4.25488" width="61.0864" height="45.5868" fill="#D8D8D8"/>
<mask id="mask2" mask-type="alpha" maskUnits="userSpaceOnUse" x="105" y="4" width="62" height="46">
<rect x="105.057" y="4.25488" width="61.0864" height="45.5868" fill="white"/>
</mask>
<g mask="url(#mask2)">
<circle cx="124.355" cy="27.2003" r="31.151" fill="#6979F8"/>
<circle cx="163.56" cy="13.5242" r="23.5532" fill="#ACB5F8"/>
<circle cx="154.595" cy="49.234" r="31.9108" fill="#3040C2"/>
</g>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M100.801 72.635C92.953 73.9644 86.8208 79.4261 86.8208 84.7915C86.8208 90.3195 95.0992 96.6253 98.6734 99.0754C102.205 101.428 108.978 99.2446 108.399 92.6932C107.649 85.9272 100.775 81.4975 100.801 78.7133C100.775 75.9221 100.775 76.7027 100.801 72.635Z" fill="#F9D2AB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M100.801 72.635C92.953 73.9644 86.8208 79.4261 86.8208 84.7915C86.8208 90.3195 95.0992 96.6253 98.6734 99.0754C102.205 101.428 108.978 99.2446 108.399 92.6932C107.649 85.9272 100.775 81.4975 100.801 78.7133C100.775 75.9221 100.775 76.7027 100.801 72.635Z" fill="url(#paint3_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M100.801 47.4104C96.8999 46.9437 90.9365 46.3926 88.9482 50.7534C86.6696 55.3965 91.2259 60.0768 100.801 65.0373V47.4104Z" fill="#F9D2AB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M100.801 47.4104C96.8999 46.9437 90.9365 46.3926 88.9482 50.7534C86.6696 55.3965 91.2259 60.0768 100.801 65.0373V47.4104Z" fill="url(#paint4_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M183.162 49.5376C184.368 61.4644 187.582 84.9143 199.877 114.879C204.131 124.533 197.713 147.166 199.877 159.554C200.13 159.874 156.934 155.161 163.407 118.222C170.198 81.4071 169.3 76.3634 169.182 70.5076C169.3 58.9478 169.867 48.1646 182.25 48.0181C183.057 48.06 183.129 48.9672 183.162 49.5376Z" fill="#FAD2AC"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M175.962 49.2885C177.623 48.47 179.687 48.0181 182.25 48.0181C182.888 48.0181 182.958 48.9541 183.162 49.5376C184.198 61.4515 187.404 84.8763 199.877 114.879C203.905 124.453 197.506 147.061 199.877 159.554C202.325 172.146 206.104 175.335 220.847 200.886C224.688 207.513 223.081 214.155 218.467 219.809C206.436 199.786 197.381 184.314 191.302 173.394C181.065 155.002 193.597 138.852 186.579 118.981C180.123 100.7 176.5 61.5816 175.962 49.2885H175.962Z" fill="url(#paint5_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M84.0864 196.935C90.6488 186.416 109.616 184.049 119.34 169.887C128.849 155.805 146.547 114.75 145.173 110.624C143.655 106.479 132.193 106.013 126.33 117.006C120.691 128.035 115.198 140.531 112.958 139.496C110.657 138.453 122.208 115.267 126.33 107.889C130.676 100.396 157.544 73.1196 154.898 64.4294C152.53 55.6865 143.207 62.4886 130.585 75.0663C118.145 87.5207 111.054 95.3409 108.095 96.3402C105.274 97.0475 97.2895 93.1559 88.949 98.1636C80.9039 102.922 79.3914 106.388 74.969 107.889C70.8037 109.275 60.2727 110.614 56.1264 121.869C51.6785 133.158 46.7257 172.602 43.9699 177.485C41.0614 182.228 25.7902 202.125 23.3039 212.435C19.0826 229.704 61.3518 246.224 74.969 225.807C82.5478 214.622 77.6568 207.542 84.0864 196.935Z" fill="#FAD2AC"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M84.0864 196.935C90.6488 186.416 109.616 184.049 119.34 169.887C128.849 155.805 146.547 114.75 145.173 110.624C143.655 106.479 132.193 106.013 126.33 117.006C120.691 128.035 115.198 140.531 112.958 139.496C110.657 138.453 122.208 115.267 126.33 107.889C130.676 100.396 157.544 73.1196 154.898 64.4294C152.53 55.6865 143.207 62.4886 130.585 75.0663C118.145 87.5207 111.054 95.3409 108.095 96.3402C105.274 97.0475 97.2895 93.1559 88.949 98.1636C80.9039 102.922 79.3914 106.388 74.969 107.889C70.8037 109.275 60.2727 110.614 56.1264 121.869C51.6785 133.158 46.7257 172.602 43.9699 177.485C41.0614 182.228 25.7902 202.125 23.3039 212.435C19.0826 229.704 61.3518 246.224 74.969 225.807C82.5478 214.622 77.6568 207.542 84.0864 196.935Z" fill="url(#paint6_linear)"/>
<mask id="mask3" mask-type="alpha" maskUnits="userSpaceOnUse" x="23" y="60" width="133" height="176">
<path fill-rule="evenodd" clip-rule="evenodd" d="M84.0864 196.935C90.6488 186.416 109.616 184.049 119.34 169.887C128.849 155.805 146.547 114.75 145.173 110.624C143.655 106.479 132.193 106.013 126.33 117.006C120.691 128.035 115.198 140.531 112.958 139.496C110.657 138.453 122.208 115.267 126.33 107.889C130.676 100.396 157.544 73.1196 154.898 64.4294C152.53 55.6865 143.207 62.4886 130.585 75.0663C118.145 87.5207 111.054 95.3409 108.095 96.3402C105.274 97.0475 97.2895 93.1559 88.949 98.1636C80.9039 102.922 79.3914 106.388 74.969 107.889C70.8037 109.275 60.2727 110.614 56.1264 121.869C51.6785 133.158 46.7257 172.602 43.9699 177.485C41.0614 182.228 25.7902 202.125 23.3039 212.435C19.0826 229.704 61.3518 246.224 74.969 225.807C82.5478 214.622 77.6568 207.542 84.0864 196.935Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M84.0864 196.935C90.6488 186.416 109.616 184.049 119.34 169.887C128.849 155.805 146.547 114.75 145.173 110.624C143.655 106.479 132.193 106.013 126.33 117.006C120.691 128.035 115.198 140.531 112.958 139.496C110.657 138.453 122.208 115.267 126.33 107.889C130.676 100.396 157.544 73.1196 154.898 64.4294C152.53 55.6865 143.207 62.4886 130.585 75.0663C118.145 87.5207 111.054 95.3409 108.095 96.3402C105.274 97.0475 97.2895 93.1559 88.949 98.1636C80.9039 102.922 79.3914 106.388 74.969 107.889C70.8037 109.275 60.2727 110.614 56.1264 121.869C51.6785 133.158 46.7257 172.602 43.9699 177.485C41.0614 182.228 25.7902 202.125 23.3039 212.435C19.0826 229.704 61.3518 246.224 74.969 225.807C82.5478 214.622 77.6568 207.542 84.0864 196.935Z" stroke="white"/>
</mask>
<g mask="url(#mask3)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M59.3447 234.953C65.6096 210.993 71.4255 195.382 76.7924 188.122C87.4298 174.096 103.686 169.718 110.527 162.897C116.541 156.675 131.999 123.104 144.452 109.516C144.778 109.845 145.024 110.217 145.173 110.624C146.547 114.75 128.849 155.804 119.34 169.887C109.616 184.048 90.6488 186.416 84.0863 196.935C77.6567 207.542 82.5477 214.622 74.969 225.807C71.3294 231.264 65.6431 234.082 59.3447 234.953H59.3447Z" fill="url(#paint7_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M126.33 107.889C122.554 114.594 113.312 134.66 112.958 139.496C107.894 139.496 112.208 118.507 122.683 103.938C129.676 94.1324 143.161 75.7031 154.898 65.645C155.192 75.3942 130.375 100.814 126.33 107.889Z" fill="url(#paint8_linear)"/>
<path d="M111.505 92.3159C111.751 92.0877 112.135 92.1022 112.364 92.3484C112.592 92.5945 112.577 92.9791 112.331 93.2073C112.154 93.3715 111.972 93.5386 111.782 93.71C111.834 93.6629 106.016 98.7086 104.166 100.491C100.961 103.58 98.1449 106.869 95.3749 110.942C95.1861 111.219 94.808 111.291 94.5305 111.102C94.2529 110.914 94.1809 110.536 94.3697 110.258C97.1887 106.113 100.059 102.761 103.323 99.6157C105.2 97.8068 111.04 92.7427 110.966 92.8088C111.152 92.6405 111.331 92.4767 111.505 92.3159Z" fill="white"/>
<path d="M82.135 102.78C78.5152 105.824 75.4418 108.918 72.447 112.727C72.2396 112.991 71.8575 113.037 71.5935 112.829C71.3296 112.622 71.2839 112.24 71.4913 111.976C74.5413 108.096 77.6726 104.944 81.3525 101.849C82.8704 100.573 83.628 101.524 82.135 102.78Z" fill="white"/>
</g>
<defs>
<linearGradient id="paint0_linear" x1="143.076" y1="159.232" x2="143.076" y2="235.249" gradientUnits="userSpaceOnUse">
<stop stop-color="#C74D75" stop-opacity="0.01"/>
<stop offset="1" stop-color="#AF493B" stop-opacity="0.28943"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="190.725" y1="147.53" x2="177.09" y2="113.38" gradientUnits="userSpaceOnUse">
<stop stop-color="#FF6663" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="100.802" y1="0" x2="100.802" y2="140.104" gradientUnits="userSpaceOnUse">
<stop stop-color="#393E41" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="93.2294" y1="88.882" x2="93.2294" y2="99.9871" gradientUnits="userSpaceOnUse">
<stop stop-color="#C74D75" stop-opacity="0.01"/>
<stop offset="1" stop-color="#AF493B" stop-opacity="0.28943"/>
</linearGradient>
<linearGradient id="paint4_linear" x1="92.041" y1="57.7573" x2="92.041" y2="65.0373" gradientUnits="userSpaceOnUse">
<stop stop-color="#C74D75" stop-opacity="0.01"/>
<stop offset="1" stop-color="#AF493B" stop-opacity="0.28943"/>
</linearGradient>
<linearGradient id="paint5_linear" x1="152.443" y1="133.914" x2="239.958" y2="157.876" gradientUnits="userSpaceOnUse">
<stop stop-color="#FF6663" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint6_linear" x1="62.2636" y1="164.279" x2="62.2636" y2="235.228" gradientUnits="userSpaceOnUse">
<stop stop-color="#C74D75" stop-opacity="0.01"/>
<stop offset="1" stop-color="#AF3B6E" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint7_linear" x1="16.3929" y1="172.234" x2="133.348" y2="252.329" gradientUnits="userSpaceOnUse">
<stop stop-color="#FF6663" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint8_linear" x1="176.931" y1="102.57" x2="111.938" y2="63.7885" gradientUnits="userSpaceOnUse">
<stop stop-color="#FF6663" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.1"/>
</linearGradient>
<clipPath id="clip0">
<rect width="9.11737" height="9.11737" fill="white" transform="translate(110.527 60.7825)"/>
</clipPath>
</defs>
</svg>


</template>