<template>
<svg width="210" height="384" viewBox="0 0 210 384" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M209.277 367.858C200.467 344.914 121.245 331.556 66.7569 331.556C12.1621 331.556 -25.6813 355.355 23.4133 371.075C72.2233 386.802 217.377 390.739 209.277 367.858Z" fill="#D7D7E8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M131.548 339.239C126.151 341.835 115.91 356.19 119.462 364.383C123.384 373.43 139.262 368.117 143.094 362.415C146.925 356.713 144.893 341.407 144.988 338.589C141.394 340.761 135.335 343.163 131.548 339.239Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M131.548 339.239C126.151 341.835 115.91 356.19 119.462 364.383C123.384 373.43 139.262 368.117 143.094 362.415C146.925 356.713 144.893 341.407 144.988 338.589C141.394 340.761 135.335 343.163 131.548 339.239Z" fill="url(#paint0_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M84.3441 339.239C78.9467 341.835 63.9869 351.471 67.539 359.664C71.4614 368.711 89.6988 363.398 93.5301 357.696C97.3614 351.994 100.048 341.407 100.144 338.589C96.5491 340.761 88.1312 343.163 84.3441 339.239Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M84.3441 339.239C78.9467 341.835 63.9869 351.471 67.539 359.664C71.4614 368.711 89.6988 363.398 93.5301 357.696C97.3614 351.994 100.048 341.407 100.144 338.589C96.5491 340.761 88.1312 343.163 84.3441 339.239Z" fill="url(#paint1_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M93.0663 178.625C72.3146 201.289 78.7401 321.431 79.3821 334.342C79.5014 346.647 99.3479 343.495 102.032 339.532C104.351 334.945 112.087 223.432 114.772 223.453C117.328 223.432 122.716 332.485 125.153 339.532C128.33 345.955 144.051 344.4 146.387 339.532C149.673 334.039 165.547 214.093 142.612 179.569C140.372 175.856 96.5188 174.912 93.0663 178.625Z" fill="#434EA9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M93.0663 178.625C72.3146 201.289 78.7401 321.431 79.3821 334.342C79.5014 346.647 99.3479 343.495 102.032 339.532C104.351 334.945 112.087 223.432 114.772 223.453C117.328 223.432 122.716 332.485 125.153 339.532C128.33 345.955 144.051 344.4 146.387 339.532C149.673 334.039 165.547 214.093 142.612 179.569C140.372 175.856 96.5188 174.912 93.0663 178.625Z" fill="url(#paint2_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M159.599 112.093C159.373 127.729 158.259 173.059 145.443 178.626C132.371 183.868 99.5368 181.458 93.0653 178.626C86.8911 175.627 81.4295 107.024 101.087 99.3522C120.24 91.8771 159.373 96.2752 159.599 112.093Z" fill="#B4B4FA"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M159.599 112.093C159.373 127.729 158.259 173.059 145.443 178.626C132.371 183.868 99.5368 181.458 93.0653 178.626C86.8911 175.627 81.4295 107.024 101.087 99.3522C120.24 91.8771 159.373 96.2752 159.599 112.093Z" fill="url(#paint3_linear)"/>
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="87" y="95" width="73" height="87">
<path fill-rule="evenodd" clip-rule="evenodd" d="M159.599 112.093C159.373 127.729 158.259 173.059 145.443 178.626C132.371 183.868 99.5368 181.458 93.0653 178.626C86.8911 175.627 81.4295 107.024 101.087 99.3522C120.24 91.8771 159.373 96.2752 159.599 112.093Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M159.599 112.093C159.373 127.729 158.259 173.059 145.443 178.626C132.371 183.868 99.5368 181.458 93.0653 178.626C86.8911 175.627 81.4295 107.024 101.087 99.3522C120.24 91.8771 159.373 96.2752 159.599 112.093Z" stroke="white"/>
</mask>
<g mask="url(#mask0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M139.781 182.872C143.748 182.872 140.231 130.123 139.781 129.551C130.664 128.32 136.839 169.2 112.413 150.313C111.876 150.183 83.344 144.368 84.573 150.313C85.8843 156.567 103.748 153.572 109.11 156.447C121.792 162.594 124.742 182.872 139.781 182.872Z" fill="url(#paint4_linear)"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M117.499 87.5012C128.646 87.5012 152.405 89.6665 166.531 99.5704C180.821 109.712 157.547 173.494 117.499 173.494C77.2803 173.494 74.553 103.135 82.0459 95.2959C89.6947 87.5012 106.181 87.5012 117.499 87.5012Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M117.499 87.5012C128.646 87.5012 152.405 89.6665 166.531 99.5704C180.821 109.712 157.547 173.494 117.499 173.494C77.2803 173.494 74.553 103.135 82.0459 95.2959C89.6947 87.5012 106.181 87.5012 117.499 87.5012Z" fill="url(#paint5_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M123.029 102.207C123.029 102.207 124.582 117.412 84.0555 168.215L138.618 155.894C147.008 131.046 123.029 102.207 123.029 102.207Z" fill="url(#paint6_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M82.297 95.046C74.7324 100.997 73.2743 117.52 73.2451 139.048C73.2743 160.915 76.3462 171.199 89.5889 173.999C102.832 176.798 144.655 170.227 144.655 170.227C144.655 170.227 145.838 154.171 139.374 154.135C127.871 154.171 98.8922 150.112 98.8922 150.112C98.8922 150.112 92.2169 132.905 92.1033 124.213C92.1012 97.3508 89.8616 89.095 82.297 95.046Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M82.297 95.046C74.7324 100.997 73.2743 117.52 73.2451 139.048C73.2743 160.915 76.3462 171.199 89.5889 173.999C102.832 176.798 144.655 170.227 144.655 170.227C144.655 170.227 145.838 154.171 139.374 154.135C127.871 154.171 98.8922 150.112 98.8922 150.112C98.8922 150.112 92.2169 132.905 92.1033 124.213C92.1012 97.3508 89.8616 89.095 82.297 95.046Z" fill="url(#paint7_linear)"/>
<path d="M92.4788 124.208C92.4761 124 92.305 123.833 92.0967 123.836C91.8885 123.838 91.7218 124.01 91.7245 124.218C91.801 130.068 94.0738 138.738 98.539 150.248C98.5884 150.375 98.7029 150.466 98.8383 150.485C118.173 153.193 131.682 154.536 139.374 154.512C139.582 154.511 139.751 154.342 139.75 154.134C139.749 153.925 139.58 153.757 139.372 153.758C131.754 153.781 118.346 152.451 99.1623 149.769C94.7799 138.439 92.5534 129.912 92.4788 124.208Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M81.544 39.5511C81.544 49.1076 89.2944 56.8546 98.855 56.8546C100.949 56.8546 102.956 56.4831 104.925 55.731C102.588 72.1353 97.9963 82.4729 116.841 82.4729C139.512 82.4729 157.982 64.0107 157.982 41.1241C157.982 18.4622 139.512 0 116.841 0C115.388 0 110.287 0 108.747 0C93.7735 0 81.544 8.40105 81.544 18.8766C81.544 22.3364 82.997 25.6754 85.5907 28.5397C83.0363 31.5125 81.544 35.3576 81.544 39.5511Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M81.544 39.5511C81.544 49.1076 89.2944 56.8546 98.855 56.8546C100.949 56.8546 102.956 56.4831 104.925 55.731C102.588 72.1353 97.9963 82.4729 116.841 82.4729C139.512 82.4729 157.982 64.0107 157.982 41.1241C157.982 18.4622 139.512 0 116.841 0C115.388 0 110.287 0 108.747 0C93.7735 0 81.544 8.40105 81.544 18.8766C81.544 22.3364 82.997 25.6754 85.5907 28.5397C83.0363 31.5125 81.544 35.3576 81.544 39.5511Z" fill="url(#paint8_linear)"/>
<path d="M129.318 74.9298H107.191V90.0163C107.191 96.1265 112.145 101.08 118.255 101.08C124.365 101.08 129.318 96.1265 129.318 90.0163V74.9298Z" fill="#FBCFA4"/>
<path d="M129.318 74.9298H107.191V90.0163C107.191 96.1265 112.145 101.08 118.255 101.08C124.365 101.08 129.318 96.1265 129.318 90.0163V74.9298Z" fill="url(#paint9_linear)"/>
<mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="107" y="74" width="23" height="28">
<path d="M129.318 74.9298H107.191V90.0163C107.191 96.1265 112.145 101.08 118.255 101.08C124.365 101.08 129.318 96.1265 129.318 90.0163V74.9298Z" fill="white"/>
<path d="M129.318 74.9298H107.191V90.0163C107.191 96.1265 112.145 101.08 118.255 101.08C124.365 101.08 129.318 96.1265 129.318 90.0163V74.9298Z" stroke="white"/>
</mask>
<g mask="url(#mask1)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M105.989 92.4382C106.664 92.4883 107.363 92.5142 108.088 92.5142C115.156 92.5142 121.765 90.3787 127.082 86.9151V72.6758H104.955V87.7623C104.955 89.4333 105.326 91.0179 105.989 92.4382Z" fill="url(#paint10_linear)"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M141.391 47.2702C139.685 48.1661 137.72 48.6525 135.608 48.7789C128.437 48.6525 122.598 42.8156 122.533 35.7039C122.598 35.3502 122.606 35.0869 122.533 34.6982C118.56 36.4702 113.824 37.4137 108.703 37.464C102.645 37.4137 96.9918 36.0297 92.611 33.6924C90.7608 37.6485 89.9501 42.1169 90.0966 46.7674C89.9421 59.702 88.5555 64.7743 90.0966 70.1515C91.277 75.845 95.7548 85.7409 109.961 85.7409C124.436 85.7409 136.949 77.0011 140.636 66.1284C146.076 66.2514 148.585 60.274 148.683 54.3106C148.445 48.7831 144.044 47.0925 141.391 47.2702Z" fill="#FBCFA4"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M141.391 47.2702C139.685 48.1661 137.72 48.6525 135.608 48.7789C128.437 48.6525 122.598 42.8156 122.533 35.7039C122.598 35.3502 122.606 35.0869 122.533 34.6982C118.56 36.4702 113.824 37.4137 108.703 37.464C102.645 37.4137 96.9918 36.0297 92.611 33.6924C90.7608 37.6485 89.9501 42.1169 90.0966 46.7674C89.9421 59.702 88.5555 64.7743 90.0966 70.1515C91.277 75.845 95.7548 85.7409 109.961 85.7409C124.436 85.7409 136.949 77.0011 140.636 66.1284C146.076 66.2514 148.585 60.274 148.683 54.3106C148.445 48.7831 144.044 47.0925 141.391 47.2702Z" fill="url(#paint11_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M143.145 49.7859C142.938 49.7859 142.736 49.8487 142.566 49.966L118.947 66.2641C118.673 66.4531 118.51 66.7637 118.51 67.0954V80.0586C118.51 80.3669 118.649 80.6429 118.867 80.8284L121.304 83.2545V70.2134L144.161 54.2516L146.446 52.6586L143.918 50.1413C143.732 49.9238 143.454 49.7859 143.145 49.7859Z" fill="#F0F0F6"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M145.075 52.4355L121.426 68.7014C121.152 68.89 120.989 69.2 120.989 69.5311V82.4687C120.989 83.0262 121.444 83.4781 122.006 83.4781C122.213 83.4781 122.415 83.4154 122.585 83.2983L146.234 67.0324C146.508 66.8438 146.672 66.5338 146.672 66.2027V53.2652C146.672 52.7077 146.216 52.2557 145.655 52.2557C145.448 52.2557 145.245 52.3184 145.075 52.4355Z" fill="#D6DFEA"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M165.024 98.5651C173.651 103.847 175.885 113.985 169.047 132.258C166.491 139.164 163.496 146.329 160.247 152.625C155.115 162.629 149.399 170.226 144.154 170.226C135.583 170.226 139.763 124.845 147.172 111.892C154.744 98.859 156.595 93.2107 165.024 98.5651Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M165.024 98.5651C173.651 103.847 175.885 113.985 169.047 132.258C166.491 139.164 163.496 146.329 160.247 152.625C155.115 162.629 149.399 170.226 144.154 170.226C135.583 170.226 139.763 124.845 147.172 111.892C154.744 98.859 156.595 93.2107 165.024 98.5651Z" fill="url(#paint12_linear)"/>
<path d="M139.16 158.932C139.174 159.14 139.354 159.297 139.561 159.283C139.769 159.269 139.926 159.09 139.912 158.882C139.098 146.714 141.547 127.747 145.348 116.977C145.417 116.78 145.314 116.565 145.117 116.496C144.921 116.426 144.706 116.529 144.636 116.726C140.801 127.595 138.338 146.664 139.16 158.932Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M137.613 166.706C143.137 172.955 147.208 170.165 149.431 164.695C151.846 159.04 152.511 150.866 151.442 145.837C149.367 135.759 134.215 101.273 133.59 93.5368C133.813 93.1123 141.959 78.8711 142.139 74.6787C141.959 70.5451 142.445 64.7968 140.128 62.8609C137.942 61.0039 131.147 52.3812 126.298 59.0893C121.218 65.8002 120.113 68.2456 125.292 71.1585C130.778 74.272 123.531 80.7579 122.527 82.4734C118.418 91.0138 126.258 153.899 137.613 166.706Z" fill="#FBCFA4"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M137.613 166.706C143.137 172.955 147.208 170.165 149.431 164.695C151.846 159.04 152.511 150.866 151.442 145.837C149.367 135.759 134.215 101.273 133.59 93.5368C133.813 93.1123 141.959 78.8711 142.139 74.6787C141.959 70.5451 142.445 64.7968 140.128 62.8609C137.942 61.0039 131.147 52.3812 126.298 59.0893C121.218 65.8002 120.113 68.2456 125.292 71.1585C130.778 74.272 123.531 80.7579 122.527 82.4734C118.418 91.0138 126.258 153.899 137.613 166.706Z" fill="url(#paint13_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.8484 38.66C94.5514 40.4485 99.6061 41.5499 105.179 41.5499C110.619 41.5499 115.566 40.5001 119.243 38.786C119.229 39.032 119.222 39.2799 119.222 39.5294C119.222 46.7208 125.057 52.5505 132.255 52.5505C136.497 52.5505 140.266 50.5254 142.646 47.39C142.227 47.3458 141.829 47.3466 141.467 47.387C139.664 48.1761 137.698 48.6629 135.625 48.734C128.419 48.6629 122.582 42.8219 122.593 35.7129C122.582 35.3514 122.59 35.0878 122.593 34.8149C118.545 36.4721 113.811 37.4162 108.661 37.5089C102.635 37.4162 96.9843 36.0314 92.483 33.6924C91.7925 35.2747 91.2485 36.939 90.8484 38.66Z" fill="url(#paint14_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="145.442" y1="338.589" x2="145.442" y2="369.244" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="100.144" y1="338.589" x2="100.144" y2="364.525" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="154.796" y1="176.268" x2="154.796" y2="343.786" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="159.599" y1="95.8083" x2="159.599" y2="181.718" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint4_linear" x1="170.217" y1="156.211" x2="117.02" y2="213.174" gradientUnits="userSpaceOnUse">
<stop stop-color="#464D89" stop-opacity="0.3"/>
<stop offset="1" stop-color="#A7A7EE" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint5_linear" x1="170.764" y1="87.5012" x2="170.764" y2="173.494" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint6_linear" x1="104.402" y1="194.489" x2="47.9931" y2="138.616" gradientUnits="userSpaceOnUse">
<stop stop-color="#464D89" stop-opacity="0.3"/>
<stop offset="1" stop-color="#A7A7EE" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint7_linear" x1="144.838" y1="93.215" x2="144.838" y2="174.835" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint8_linear" x1="157.982" y1="0" x2="157.982" y2="82.4729" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint9_linear" x1="129.318" y1="74.9298" x2="129.318" y2="101.08" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint10_linear" x1="116.019" y1="62.7565" x2="135.739" y2="84.7523" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.25"/>
<stop offset="1" stop-color="#FFC42C" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint11_linear" x1="148.683" y1="33.6924" x2="148.683" y2="85.7409" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint12_linear" x1="173.07" y1="96.5536" x2="173.07" y2="170.226" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint13_linear" x1="151.945" y1="56.5749" x2="151.945" y2="170.227" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint14_linear" x1="116.747" y1="24.2633" x2="128.871" y2="57.5653" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.15"/>
<stop offset="1" stop-color="#FFC42C" stop-opacity="0.01"/>
</linearGradient>
</defs>
</svg>

</template>