<template>
  <svg width="220" height="400" viewBox="0 0 220 400" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M180.851 381.326C174.537 354.915 117.754 339.538 78.6986 339.538C39.567 339.538 12.4423 366.933 47.6315 385.029C82.6167 403.132 186.658 407.664 180.851 381.326Z" fill="#D7D7E8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M119.911 355.92C119.879 356.912 119.898 357.838 119.981 358.601C120.499 363.374 122.867 366.557 126.609 371.589C130.351 376.621 139.277 387.124 148.353 381.151C156.857 375.555 143.229 358.878 137.406 355.407C133.401 358.249 124.3 359.014 119.911 355.92Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M119.911 355.92C119.879 356.912 119.898 357.838 119.981 358.601C120.499 363.374 122.867 366.557 126.609 371.589C130.351 376.621 139.277 387.124 148.353 381.151C156.857 375.555 143.229 358.878 137.406 355.407C133.401 358.249 124.3 359.014 119.911 355.92Z" fill="url(#paint0_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M75.626 354.349C69.3396 356.93 51.5469 367.785 55.684 375.931C60.2524 384.928 78.3119 374.697 82.5011 371.754C86.6903 368.812 90.2531 365.257 92.0524 361.871C92.6908 360.669 93.0367 357.912 93.1479 355.11C88.9615 357.269 80.0367 358.25 75.626 354.349Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M75.626 354.349C69.3396 356.93 51.5469 367.785 55.684 375.931C60.2524 384.928 78.3119 374.697 82.5011 371.754C86.6903 368.812 90.2531 365.257 92.0524 361.871C92.6908 360.669 93.0367 357.912 93.1479 355.11C88.9615 357.269 80.0367 358.25 75.626 354.349Z" fill="url(#paint1_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M86.4448 191.939C65.7408 214.636 72.0853 335.85 72.7542 348.512C72.837 360.897 92.4335 357.766 94.8698 353.802C97.374 349.273 105.012 238.506 107.507 238.488C110.187 238.506 115.507 346.83 118.038 353.802C121.05 360.209 136.574 358.665 139.101 353.802C142.125 348.374 156.401 226.417 133.835 191.939C131.543 188.436 89.64 188.436 86.4448 191.939Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M86.4448 191.939C65.7408 214.636 72.0853 335.85 72.7542 348.512C72.837 360.897 92.4335 357.766 94.8698 353.802C97.374 349.273 105.012 238.506 107.507 238.488C110.187 238.506 115.507 346.83 118.038 353.802C121.05 360.209 136.574 358.665 139.101 353.802C142.125 348.374 156.401 226.417 133.835 191.939C131.543 188.436 89.64 188.436 86.4448 191.939Z" fill="url(#paint2_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M154.757 24.2745C146.141 -0.0224241 110.382 -7.04593 91.5696 11.5793C72.5903 30.5189 63.7221 18.4991 53.6572 26.9193C43.5239 35.596 53.623 51.4544 63.6619 60.2441C73.6063 69.1647 50.6425 85.5191 56.8166 106.793C62.914 128.022 91.3388 119.907 100.521 132.712C109.87 145.67 126.765 121.313 155.81 118.43C184.524 115.313 189.184 81.078 167.921 65.0048C146.291 48.8379 163.042 48.8379 154.757 24.2745Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M154.757 24.2745C146.141 -0.0224241 110.382 -7.04593 91.5696 11.5793C72.5903 30.5189 63.7221 18.4991 53.6572 26.9193C43.5239 35.596 53.623 51.4544 63.6619 60.2441C73.6063 69.1647 50.6425 85.5191 56.8166 106.793C62.914 128.022 91.3388 119.907 100.521 132.712C109.87 145.67 126.765 121.313 155.81 118.43C184.524 115.313 189.184 81.078 167.921 65.0048C146.291 48.8379 163.042 48.8379 154.757 24.2745Z" fill="url(#paint3_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M76.2602 122.593C83.6397 124.516 91.4438 125.528 96.7781 129.13C98.2396 130.105 99.5092 131.274 100.523 132.712C102.816 135.864 105.815 136.753 109.424 136.285C118.123 134.704 130.409 124.084 147.491 119.872C164.977 100.148 150.991 56.6884 141.068 74.5257C133.363 88.221 114.238 82.929 83.6732 58.6567C69.6715 81.4277 65.6143 99.6421 71.5623 113.14C73.2494 117.023 74.7323 120.062 76.2602 122.593Z" fill="url(#paint4_linear)"/>
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="68" y="58" width="88" height="79">
<path fill-rule="evenodd" clip-rule="evenodd" d="M76.2602 122.593C83.6397 124.516 91.4438 125.528 96.7781 129.13C98.2396 130.105 99.5092 131.274 100.523 132.712C102.816 135.864 105.815 136.753 109.424 136.285C118.123 134.704 130.409 124.084 147.491 119.872C164.977 100.148 150.991 56.6884 141.068 74.5257C133.363 88.221 114.238 82.929 83.6732 58.6567C69.6715 81.4277 65.6143 99.6421 71.5623 113.14C73.2494 117.023 74.7323 120.062 76.2602 122.593Z" fill="white"/>
</mask>
<g mask="url(#mask0)">
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M111.43 115.287C110.954 115.267 110.477 115.257 110 115.257C109.52 115.257 109.042 115.267 108.566 115.286C108.354 115.266 108.13 115.256 107.894 115.257C91.0469 115.187 75.127 121.806 59.4502 152.813C57.6064 156.151 35.4924 117.675 35.7549 114.199C35.4924 110.68 34.5672 93.8053 32.5956 92.5112C30.0898 92.1002 28.2952 93.4997 29.9628 101.504C30.9209 110.321 2.1841 89.461 0.475372 97.2719C-1.95853 105.463 5.12263 113.513 17.8519 116.315C30.5056 119.879 28.6273 118.457 30.4893 126.894C32.3285 135.697 43.7869 174.731 59.4502 175.559C63.7626 175.781 70.9572 171.008 78.6447 164.062L86.3048 191.957C94.1868 195.483 102.085 197.246 110 197.246C117.903 197.246 125.801 195.483 133.695 191.957L141.355 164.062C149.043 171.008 156.237 175.781 160.55 175.559C176.213 174.731 187.672 135.697 189.511 126.894C191.373 118.457 189.494 119.879 202.148 116.315C214.877 113.513 221.959 105.463 219.525 97.2719C217.816 89.461 189.079 110.321 190.037 101.504C191.705 93.4997 189.91 92.1002 187.404 92.5112C185.433 93.8053 184.508 110.68 184.245 114.199C184.508 117.675 162.394 156.151 160.55 152.813C144.873 121.806 128.953 115.187 112.106 115.257C111.868 115.256 111.643 115.266 111.43 115.287Z" fill="#FCD4AD"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M111.43 115.287C110.954 115.267 110.477 115.257 110 115.257C109.52 115.257 109.042 115.267 108.566 115.286C108.354 115.266 108.13 115.256 107.894 115.257C91.0469 115.187 75.127 121.806 59.4502 152.813C57.6064 156.151 35.4924 117.675 35.7549 114.199C35.4924 110.68 34.5672 93.8053 32.5956 92.5112C30.0898 92.1002 28.2952 93.4997 29.9628 101.504C30.9209 110.321 2.1841 89.461 0.475372 97.2719C-1.95853 105.463 5.12263 113.513 17.8519 116.315C30.5056 119.879 28.6273 118.457 30.4893 126.894C32.3285 135.697 43.7869 174.731 59.4502 175.559C63.7626 175.781 70.9572 171.008 78.6447 164.062L86.3048 191.957C94.1868 195.483 102.085 197.246 110 197.246C117.903 197.246 125.801 195.483 133.695 191.957L141.355 164.062C149.043 171.008 156.237 175.781 160.55 175.559C176.213 174.731 187.672 135.697 189.511 126.894C191.373 118.457 189.494 119.879 202.148 116.315C214.877 113.513 221.959 105.463 219.525 97.2719C217.816 89.461 189.079 110.321 190.037 101.504C191.705 93.4997 189.91 92.1002 187.404 92.5112C185.433 93.8053 184.508 110.68 184.245 114.199C184.508 117.675 162.394 156.151 160.55 152.813C144.873 121.806 128.953 115.187 112.106 115.257C111.868 115.256 111.643 115.266 111.43 115.287Z" fill="url(#paint5_linear)"/>
<mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="92" width="220" height="106">
<path fill-rule="evenodd" clip-rule="evenodd" d="M111.43 115.287C110.954 115.267 110.477 115.257 110 115.257C109.52 115.257 109.042 115.267 108.566 115.286C108.354 115.266 108.13 115.256 107.894 115.257C91.0469 115.187 75.127 121.806 59.4502 152.813C57.6064 156.151 35.4924 117.675 35.7549 114.199C35.4924 110.68 34.5672 93.8053 32.5956 92.5112C30.0898 92.1002 28.2952 93.4997 29.9628 101.504C30.9209 110.321 2.1841 89.461 0.475372 97.2719C-1.95853 105.463 5.12263 113.513 17.8519 116.315C30.5056 119.879 28.6273 118.457 30.4893 126.894C32.3285 135.697 43.7869 174.731 59.4502 175.559C63.7626 175.781 70.9572 171.008 78.6447 164.062L86.3048 191.957C94.1868 195.483 102.085 197.246 110 197.246C117.903 197.246 125.801 195.483 133.695 191.957L141.355 164.062C149.043 171.008 156.237 175.781 160.55 175.559C176.213 174.731 187.672 135.697 189.511 126.894C191.373 118.457 189.494 119.879 202.148 116.315C214.877 113.513 221.959 105.463 219.525 97.2719C217.816 89.461 189.079 110.321 190.037 101.504C191.705 93.4997 189.91 92.1002 187.404 92.5112C185.433 93.8053 184.508 110.68 184.245 114.199C184.508 117.675 162.394 156.151 160.55 152.813C144.873 121.806 128.953 115.187 112.106 115.257C111.868 115.256 111.643 115.266 111.43 115.287Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M111.43 115.287C110.954 115.267 110.477 115.257 110 115.257C109.52 115.257 109.042 115.267 108.566 115.286C108.354 115.266 108.13 115.256 107.894 115.257C91.0469 115.187 75.127 121.806 59.4502 152.813C57.6064 156.151 35.4924 117.675 35.7549 114.199C35.4924 110.68 34.5672 93.8053 32.5956 92.5112C30.0898 92.1002 28.2952 93.4997 29.9628 101.504C30.9209 110.321 2.1841 89.461 0.475372 97.2719C-1.95853 105.463 5.12263 113.513 17.8519 116.315C30.5056 119.879 28.6273 118.457 30.4893 126.894C32.3285 135.697 43.7869 174.731 59.4502 175.559C63.7626 175.781 70.9572 171.008 78.6447 164.062L86.3048 191.957C94.1868 195.483 102.085 197.246 110 197.246C117.903 197.246 125.801 195.483 133.695 191.957L141.355 164.062C149.043 171.008 156.237 175.781 160.55 175.559C176.213 174.731 187.672 135.697 189.511 126.894C191.373 118.457 189.494 119.879 202.148 116.315C214.877 113.513 221.959 105.463 219.525 97.2719C217.816 89.461 189.079 110.321 190.037 101.504C191.705 93.4997 189.91 92.1002 187.404 92.5112C185.433 93.8053 184.508 110.68 184.245 114.199C184.508 117.675 162.394 156.151 160.55 152.813C144.873 121.806 128.953 115.187 112.106 115.257C111.868 115.256 111.643 115.266 111.43 115.287Z" stroke="white"/>
</mask>
<g mask="url(#mask1)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M73.5254 168.413C75.1879 167.095 76.9034 165.632 78.644 164.058L86.3052 191.956C94.2224 195.483 102.121 197.246 110 197.246C117.874 197.246 125.772 195.483 133.696 191.956L141.357 164.058C142.602 165.184 143.835 166.253 145.044 167.254C149.954 165.873 153.121 162.939 154.557 161.455C155.993 159.97 158.695 157.919 160.55 152.813C144.858 121.749 128.951 115.123 112.107 115.256C111.862 115.255 111.631 115.264 111.413 115.286C110.943 115.266 110.472 115.256 110 115.256C109.526 115.256 109.054 115.266 108.584 115.285C108.367 115.264 108.137 115.255 107.894 115.256C91.0499 115.123 75.1431 121.749 59.4506 152.813C59.4506 152.813 59.7095 156.25 64.0516 161.455C68.3937 166.659 73.5254 168.413 73.5254 168.413Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M73.5254 168.413C75.1879 167.095 76.9034 165.632 78.644 164.058L86.3052 191.956C94.2224 195.483 102.121 197.246 110 197.246C117.874 197.246 125.772 195.483 133.696 191.956L141.357 164.058C142.602 165.184 143.835 166.253 145.044 167.254C149.954 165.873 153.121 162.939 154.557 161.455C155.993 159.97 158.695 157.919 160.55 152.813C144.858 121.749 128.951 115.123 112.107 115.256C111.862 115.255 111.631 115.264 111.413 115.286C110.943 115.266 110.472 115.256 110 115.256C109.526 115.256 109.054 115.266 108.584 115.285C108.367 115.264 108.137 115.255 107.894 115.256C91.0499 115.123 75.1431 121.749 59.4506 152.813C59.4506 152.813 59.7095 156.25 64.0516 161.455C68.3937 166.659 73.5254 168.413 73.5254 168.413Z" fill="url(#paint6_linear)"/>
<ellipse rx="9.47809" ry="11.6372" transform="matrix(-1 0 0 1 102.101 119.489)" fill="white"/>
<ellipse rx="9.47809" ry="11.6372" transform="matrix(-1 0 0 1 117.897 119.489)" fill="white"/>
<path d="M139.873 169.476C139.797 169.758 139.963 170.048 140.244 170.124C140.524 170.201 140.814 170.034 140.889 169.752C140.902 169.705 140.902 169.705 140.915 169.658C141.09 169.009 141.958 165.948 142.168 165.145C142.589 163.538 142.839 162.28 142.954 161.057C143.397 156.339 141.692 151.969 136.516 145.458C136.335 145.23 136.003 145.193 135.776 145.375C135.549 145.557 135.512 145.89 135.693 146.118C140.713 152.433 142.32 156.55 141.905 160.957C141.796 162.115 141.557 163.319 141.15 164.877C140.943 165.666 140.077 168.721 139.899 169.381C139.886 169.428 139.886 169.428 139.873 169.476Z" fill="white"/>
<path d="M79.1657 170.131C79.2417 170.413 79.5308 170.58 79.8115 170.504C80.0922 170.428 80.2582 170.137 80.1823 169.855C80.0736 169.452 79.1709 166.219 78.9476 165.346C78.5474 163.782 78.3082 162.551 78.1964 161.37C77.7603 156.763 79.3874 152.497 84.4576 146.118C84.6391 145.89 84.602 145.557 84.3747 145.375C84.1475 145.193 83.8162 145.23 83.6347 145.458C78.4078 152.034 76.6828 156.556 77.148 161.47C77.2658 162.715 77.5148 163.997 77.9277 165.61C78.1544 166.496 79.0597 169.738 79.1657 170.131Z" fill="white"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M110.004 100.445C105.06 100.445 101.052 105.02 101.052 110.664V116.675C101.052 122.319 105.06 126.894 110.004 126.894C114.947 126.894 118.955 122.319 118.955 116.675V110.664C118.955 105.02 114.947 100.445 110.004 100.445Z" fill="#FCD4AD"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M110.004 100.445C105.06 100.445 101.052 105.02 101.052 110.664V116.675C101.052 122.319 105.06 126.894 110.004 126.894C114.947 126.894 118.955 122.319 118.955 116.675V110.664C118.955 105.02 114.947 100.445 110.004 100.445Z" fill="url(#paint7_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M101.053 116.462C102.264 116.711 103.495 116.843 104.739 116.843C108.896 116.843 113.935 115.722 118.957 113.61L118.957 109.967C118.957 105 114.949 100.974 110.005 100.974C105.061 100.974 101.053 105 101.053 109.967V116.462Z" fill="url(#paint8_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M147.387 79.2864C152.247 71.0481 144.892 66.0539 142.648 69.765C141.528 71.3636 141.164 72.884 141.068 74.5257C136.761 81.8729 120.452 66.2044 115.266 60.2436C109.608 53.9575 108.796 47.3364 104.735 60.2436C101.874 68.7857 91.5827 65.4062 83.6728 58.6568C83.5877 61.1569 83.6729 63.8282 83.6728 66.5912C83.6729 69.086 80.5134 72.3852 80.5134 84.0471C80.5134 95.6008 92.6514 111.553 106.315 111.553C116.725 111.553 132.666 104.521 140.015 92.5105C146.138 92.5034 142.312 87.5005 147.387 79.2864Z" fill="#FCD4AD"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M147.387 79.2864C152.247 71.0481 144.892 66.0539 142.648 69.765C141.528 71.3636 141.164 72.884 141.068 74.5257C136.761 81.8729 120.452 66.2044 115.266 60.2436C109.608 53.9575 108.796 47.3364 104.735 60.2436C101.874 68.7857 91.5827 65.4062 83.6728 58.6568C83.5877 61.1569 83.6729 63.8282 83.6728 66.5912C83.6729 69.086 80.5134 72.3852 80.5134 84.0471C80.5134 95.6008 92.6514 111.553 106.315 111.553C116.725 111.553 132.666 104.521 140.015 92.5105C146.138 92.5034 142.312 87.5005 147.387 79.2864Z" fill="url(#paint9_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M104.733 70.8227C108.795 57.9179 109.606 64.5626 115.264 70.8227C120.435 76.8534 133.899 86.6268 141.065 74.5255C136.722 81.9607 120.435 66.2362 115.264 60.2434C109.606 53.9454 108.795 47.3007 104.733 60.2434C101.883 68.8267 91.6062 65.4351 83.6703 58.6565C83.6224 61.1706 83.7074 63.8515 83.6703 66.591C83.7074 69.1281 101.883 79.4439 104.733 70.8227Z" fill="url(#paint10_linear)"/>
<path d="M142.382 89.3374C142.092 89.3374 141.856 89.5742 141.856 89.8664C141.856 90.1585 142.092 90.3953 142.382 90.3953C142.565 90.3953 142.904 90.8482 143.184 91.731C143.51 92.7594 143.699 94.1721 143.699 95.685C143.699 97.1978 143.51 98.6105 143.184 99.639C142.904 100.522 142.565 100.975 142.382 100.975C142.2 100.975 141.861 100.522 141.581 99.639C141.255 98.6105 141.066 97.1978 141.066 95.685C141.066 95.2267 141.083 94.7758 141.117 94.3392C141.14 94.048 140.923 93.7935 140.633 93.7708C140.343 93.7482 140.09 93.9659 140.067 94.2572C140.031 94.7212 140.013 95.1994 140.013 95.685C140.013 99.1969 140.911 102.033 142.382 102.033C143.854 102.033 144.752 99.1969 144.752 95.685C144.752 92.173 143.854 89.3374 142.382 89.3374Z" fill="white"/>
<defs>
<linearGradient id="paint0_linear" x1="151.073" y1="355.407" x2="151.073" y2="382.937" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="93.1479" y1="354.349" x2="93.1479" y2="379.554" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="146.335" y1="189.312" x2="146.335" y2="358.048" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="181.085" y1="1" x2="181.085" y2="136.415" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint4_linear" x1="199.261" y1="97.5293" x2="121.996" y2="183.895" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.3"/>
<stop offset="1" stop-color="#1F1845" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint5_linear" x1="220" y1="92.447" x2="220" y2="197.246" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint6_linear" x1="160.55" y1="115.254" x2="160.55" y2="197.246" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint7_linear" x1="118.955" y1="100.445" x2="118.955" y2="126.894" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint8_linear" x1="110.414" y1="93.0396" x2="126.085" y2="111.527" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.35"/>
<stop offset="1" stop-color="#FFC62C" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint9_linear" x1="148.966" y1="52.8381" x2="148.966" y2="111.553" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint10_linear" x1="112.368" y1="39.0848" x2="133.808" y2="83.8222" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.2"/>
<stop offset="1" stop-color="#FFC62C" stop-opacity="0.01"/>
</linearGradient>
</defs>
</svg>

</template>

<script>
export default {

}
</script>

<style>

</style>