<template>
<svg width="280" height="368" viewBox="0 0 280 368" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M279.277 351.858C270.468 328.914 191.246 315.556 136.757 315.556C82.1623 315.556 44.3189 339.355 93.4135 355.075C142.224 370.802 287.377 374.739 279.277 351.858Z" fill="#D7D7E8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.8703 131.721C69.8072 114.796 51.5177 76.7906 63.6368 40.683C75.605 4.83679 117.721 -10.6404 150.395 10.7262C182.565 32.3097 182.708 53.7362 227.427 63.2479C271.845 72.9418 288.663 131.884 247.657 154.285C206.32 177.061 111.926 148.603 90.8703 131.721Z" fill="#444C95"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.8703 131.721C69.8072 114.796 51.5177 76.7906 63.6368 40.683C75.605 4.83679 117.721 -10.6404 150.395 10.7262C182.565 32.3097 182.708 53.7362 227.427 63.2479C271.845 72.9418 288.663 131.884 247.657 154.285C206.32 177.061 111.926 148.603 90.8703 131.721Z" fill="url(#paint0_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M244.168 156.03C210.913 171.128 149.48 158.102 113.959 143.829C104.931 135.64 96.1094 125.94 87.7577 114.601C72.8572 94.6549 70.9119 75.2024 81.9219 56.244H148.449C161.624 67.4532 172.388 75.4936 180.74 80.365C193.517 87.4687 231.475 94.0319 245.323 109.544C256.91 122.701 253.528 141.497 244.168 156.03Z" fill="url(#paint1_linear)"/>
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="74" y="56" width="179" height="107">
<path fill-rule="evenodd" clip-rule="evenodd" d="M244.168 156.03C210.913 171.128 149.48 158.102 113.959 143.829C104.931 135.64 96.1094 125.94 87.7577 114.601C72.8572 94.6549 70.9119 75.2024 81.9219 56.244H148.449C161.624 67.4532 172.388 75.4936 180.74 80.365C193.517 87.4687 231.475 94.0319 245.323 109.544C256.91 122.701 253.528 141.497 244.168 156.03Z" fill="white"/>
</mask>
<g mask="url(#mask0)">
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M25.121 139.503C25.121 139.503 9.51459 137.964 7.61383 131.333C5.79976 124.599 -0.746089 117.056 1.38905 114.215C3.804 111.617 7.18485 120.263 9.17003 121.217C11.7952 122.271 10.6853 92.7794 20.4525 100.209C30.2213 107.883 27.9469 114.43 26.6772 123.163C25.5379 132.269 25.121 139.503 25.121 139.503Z" fill="#FBD3AA"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M25.121 139.503C25.121 139.503 9.51459 137.964 7.61383 131.333C5.79976 124.599 -0.746089 117.056 1.38905 114.215C3.804 111.617 7.18485 120.263 9.17003 121.217C11.7952 122.271 10.6853 92.7794 20.4525 100.209C30.2213 107.883 27.9469 114.43 26.6772 123.163C25.5379 132.269 25.121 139.503 25.121 139.503Z" fill="url(#paint2_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M110.712 109.934C91.2822 109.934 25.9674 124.391 22.3977 125.107C18.6639 125.968 16.9306 135.504 22.3977 138.724C27.7007 142.183 94.5792 140.73 98.6513 140.669C103 140.73 130.308 109.934 110.712 109.934Z" fill="#B1B7F0"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M110.712 109.934C91.2822 109.934 25.9674 124.391 22.3977 125.107C18.6639 125.968 16.9306 135.504 22.3977 138.724C27.7007 142.183 94.5792 140.73 98.6513 140.669C103 140.73 130.308 109.934 110.712 109.934Z" fill="url(#paint3_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M164.012 303.291C166.433 309.574 188.742 323.306 188.911 327.412C188.742 331.167 196.303 333.665 196.303 325.467C196.303 316.951 188.742 311.249 188.911 305.236C188.742 298.925 185.847 287.878 177.24 290.063C168.227 291.642 161.051 296.7 164.012 303.291Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M164.012 303.291C166.433 309.574 188.742 323.306 188.911 327.412C188.742 331.167 196.303 333.665 196.303 325.467C196.303 316.951 188.742 311.249 188.911 305.236C188.742 298.925 185.847 287.878 177.24 290.063C168.227 291.642 161.051 296.7 164.012 303.291Z" fill="url(#paint4_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M110.712 109.934H220.813C231.528 109.934 228.634 126.469 220.813 126.663C215.652 126.629 153.119 135.966 153.119 139.113C153.119 142.259 160.9 186.577 160.9 186.577L110.712 194.747C96.9988 174.578 86.2021 158.153 86.2021 143.781C86.2021 129.41 91.8759 109.934 110.712 109.934Z" fill="#B6BCF3"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M110.712 109.934H220.813C231.528 109.934 228.634 126.469 220.813 126.663C215.652 126.629 153.119 135.966 153.119 139.113C153.119 142.259 160.9 186.577 160.9 186.577L110.712 194.747C96.9988 174.578 86.2021 158.153 86.2021 143.781C86.2021 129.41 91.8759 109.934 110.712 109.934Z" fill="url(#paint5_linear)"/>
<path d="M99.3816 139.083L99.7803 150.5L107.855 150.218L107.782 148.108L102.217 148.302L101.892 138.996L99.3816 139.083ZM110.72 140.56L110.655 138.69L108.385 138.769L108.45 140.64L110.72 140.56ZM108.495 141.919L108.783 150.186L111.054 150.107L110.765 141.84L108.495 141.919ZM112.351 138.63L112.75 150.047L115.02 149.968L114.921 147.122L115.771 146.244L118.171 149.858L120.921 149.762L117.268 144.654L120.28 141.507L117.594 141.601L114.836 144.675L114.622 138.551L112.351 138.63ZM126.813 144.529L123.12 144.658C123.125 144.498 123.15 144.316 123.196 144.111C123.253 143.906 123.348 143.711 123.48 143.525C123.623 143.338 123.81 143.183 124.04 143.057C124.281 142.921 124.583 142.846 124.945 142.833C125.499 142.814 125.915 142.949 126.192 143.238C126.479 143.527 126.687 143.957 126.813 144.529ZM123.17 146.097L129.134 145.889C129.154 145.248 129.08 144.637 128.91 144.056C128.74 143.475 128.477 142.961 128.12 142.514C127.773 142.068 127.334 141.72 126.803 141.472C126.271 141.213 125.653 141.096 124.949 141.12C124.32 141.142 123.748 141.274 123.234 141.516C122.73 141.758 122.298 142.083 121.939 142.49C121.579 142.887 121.308 143.355 121.124 143.895C120.94 144.435 120.859 145.015 120.88 145.633C120.903 146.273 121.019 146.855 121.229 147.382C121.451 147.908 121.749 148.356 122.125 148.727C122.501 149.098 122.954 149.381 123.483 149.576C124.013 149.761 124.603 149.842 125.253 149.819C126.191 149.786 126.983 149.545 127.629 149.095C128.275 148.646 128.741 147.92 129.026 146.917L127.027 146.987C126.962 147.246 126.768 147.498 126.445 147.744C126.123 147.979 125.732 148.105 125.274 148.121C124.634 148.143 124.138 147.995 123.785 147.677C123.433 147.358 123.227 146.832 123.17 146.097Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M114.213 199.027C108.685 213.575 107.333 237.548 114.213 246.88C121.039 256.265 158.432 300.553 164.012 303.292C169.589 306.214 178.017 299.764 178.017 293.565C178.017 287.24 158.741 250.745 143.781 235.986C128.816 221.714 119.687 184.924 114.213 199.027Z" fill="#434EA9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M114.213 199.027C108.685 213.575 107.333 237.548 114.213 246.88C121.039 256.265 158.432 300.553 164.012 303.292C169.589 306.214 178.017 299.764 178.017 293.565C178.017 287.24 158.741 250.745 143.781 235.986C128.816 221.714 119.687 184.924 114.213 199.027Z" fill="url(#paint6_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M106.821 100.985C106.821 94.7538 111.873 89.7025 118.104 89.7025C124.335 89.7025 129.386 94.7538 129.386 100.985V112.267C129.386 118.498 124.335 123.55 118.104 123.55C111.873 123.55 106.821 118.498 106.821 112.267V100.985Z" fill="#FCDDBD"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M106.821 100.985C106.821 94.7538 111.873 89.7025 118.104 89.7025C124.335 89.7025 129.386 94.7538 129.386 100.985V112.267C129.386 118.498 124.335 123.55 118.104 123.55C111.873 123.55 106.821 118.498 106.821 112.267V100.985Z" fill="url(#paint7_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M129.386 109.4C124.867 111.519 119.535 112.656 113.046 112.656C110.827 112.656 108.753 112.388 106.821 111.902V100.985C106.821 94.7538 111.873 89.7025 118.104 89.7025C124.335 89.7025 129.386 94.7538 129.386 100.985V109.4Z" fill="url(#paint8_linear)" fill-opacity="0.8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M62.4695 211.476C66.8534 235.21 133.665 241.044 133.665 241.044C133.665 241.044 138.207 240.499 140.279 235.597C142.709 230.52 142.749 226.768 142.614 226.649C167.044 226.768 177.035 195.696 160.51 176.85C144.197 158.23 58.6323 187.611 62.4695 211.476Z" fill="#434EA9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M62.4695 211.476C66.8534 235.21 133.665 241.044 133.665 241.044C133.665 241.044 138.207 240.499 140.279 235.597C142.709 230.52 142.749 226.768 142.614 226.649C167.044 226.768 177.035 195.696 160.51 176.85C144.197 158.23 58.6323 187.611 62.4695 211.476Z" fill="url(#paint9_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M147.672 56.2443C147.672 56.2443 160.731 56.4744 158.565 67.5268C157.189 75.8203 154.168 83.5524 147.283 82.6997C139.809 96.4394 130.721 104.875 113.046 104.875C95.5606 104.875 87.1237 88.2312 85.813 79.1982C82.4016 70.0377 85.6562 37.3715 86.9802 34.0685C89.4936 26.2185 105.521 40.4439 123.162 45.74C140.356 51.4989 147.672 56.2443 147.672 56.2443Z" fill="#FBD3AC"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M147.672 56.2443C147.672 56.2443 160.731 56.4744 158.565 67.5268C157.189 75.8203 154.168 83.5524 147.283 82.6997C139.809 96.4394 130.721 104.875 113.046 104.875C95.5606 104.875 87.1237 88.2312 85.813 79.1982C82.4016 70.0377 85.6562 37.3715 86.9802 34.0685C89.4936 26.2185 105.521 40.4439 123.162 45.74C140.356 51.4989 147.672 56.2443 147.672 56.2443Z" fill="url(#paint10_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M88.1958 47.2975C88.1958 47.2975 106.12 47.2975 112.657 47.2975C119.732 47.2975 137.119 47.2975 137.119 47.2975C143.483 47.2975 149.228 55.2228 149.228 64.9992C149.228 74.7756 143.483 82.701 137.119 82.701C137.119 82.701 119.037 82.701 112.657 82.701C105.425 82.701 88.1958 82.701 88.1958 82.701C81.8317 82.701 76.0867 74.7756 76.0867 64.9992C76.0867 55.2228 81.8317 47.2975 88.1958 47.2975Z" fill="url(#paint11_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M88.1948 43.4053C88.1948 43.4053 106.119 43.4053 112.656 43.4053C119.731 43.4053 137.118 43.4053 137.118 43.4053C143.482 43.4053 149.227 51.3306 149.227 61.107C149.227 70.8834 143.482 78.8087 137.118 78.8087C137.118 78.8087 119.036 78.8087 112.656 78.8087C105.424 78.8087 88.1948 78.8087 88.1948 78.8087C81.8308 78.8087 76.0857 70.8834 76.0857 61.107C76.0857 51.3306 81.8308 43.4053 88.1948 43.4053Z" fill="#D6DFEA"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M82.2491 48.0737C82.2491 48.0737 101.68 48.0737 108.766 48.0737C116.436 48.0737 135.283 48.0737 135.283 48.0737C142.182 48.0737 143.391 53.9088 143.391 61.1068C143.391 68.3048 142.182 74.14 135.283 74.14C135.283 74.14 115.682 74.14 108.766 74.14C100.926 74.14 82.2491 74.14 82.2491 74.14C75.3503 74.14 74.1406 68.3048 74.1406 61.1068C74.1406 53.9088 75.3503 48.0737 82.2491 48.0737Z" fill="#1F1845"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M141.057 51.9642L145.988 52.2108C147.585 52.2906 148.838 53.6084 148.838 55.207V56.2438L141.057 62.4686V51.9642Z" fill="#1F1845"/>
<path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M92.0369 61.3018C92.0369 56.3598 96.0431 52.3536 100.985 52.3536H112.267C117.209 52.3536 121.216 56.3598 121.216 61.3018C121.216 66.2437 117.209 70.2499 112.267 70.2499H100.985C96.0431 70.2499 92.0369 66.2437 92.0369 61.3018Z" fill="#7BC1EB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M97.8723 61.3007C97.8723 59.5818 99.2658 58.1883 100.985 58.1883H112.267C113.986 58.1883 115.38 59.5818 115.38 61.3007C115.38 63.0196 113.986 64.4131 112.267 64.4131H100.985C99.2658 64.4131 97.8723 63.0196 97.8723 61.3007Z" fill="#7BC1EB"/>
<path d="M93.8306 201.144C93.5195 201.06 93.3356 200.74 93.4199 200.429C93.5041 200.117 93.8246 199.934 94.1357 200.018C100.224 201.667 105.565 204.479 112.796 209.409C114.407 210.507 120.047 214.469 120.175 214.558C129.096 220.76 135.368 224.278 143.187 226.872C143.493 226.973 143.659 227.303 143.557 227.609C143.456 227.915 143.126 228.081 142.82 227.979C134.872 225.343 128.514 221.777 119.509 215.516C119.375 215.423 113.742 211.466 112.138 210.373C105.005 205.51 99.7676 202.753 93.8306 201.144Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M220.813 126.662C211.484 126.662 210.001 98.066 213.81 97.8727C217.698 98.066 215.176 109.412 218.867 109.544C222.598 109.412 220.537 82.5563 230.539 84.256C240.364 86.126 241.532 105.956 236.764 114.991C232.064 123.94 229.797 126.662 220.813 126.662Z" fill="#FBD3AA"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M220.813 126.662C211.484 126.662 210.001 98.066 213.81 97.8727C217.698 98.066 215.176 109.412 218.867 109.544C222.598 109.412 220.537 82.5563 230.539 84.256C240.364 86.126 241.532 105.956 236.764 114.991C232.064 123.94 229.797 126.662 220.813 126.662Z" fill="url(#paint12_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M133.666 241.044C133.666 241.044 171.501 247.139 177.239 239.488C182.666 231.631 159.717 229.544 154.285 225.093C148.807 220.944 144.68 219.969 141.836 222.758C138.967 225.726 142.119 228.956 140.669 234.041C139.097 239.587 133.666 241.044 133.666 241.044Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M133.666 241.044C133.666 241.044 171.501 247.139 177.239 239.488C182.666 231.631 159.717 229.544 154.285 225.093C148.807 220.944 144.68 219.969 141.836 222.758C138.967 225.726 142.119 228.956 140.669 234.041C139.097 239.587 133.666 241.044 133.666 241.044Z" fill="url(#paint13_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="59.7463" y1="1" x2="59.7463" y2="162.844" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="-13.9893" y1="109.505" x2="79.9385" y2="266.272" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.3"/>
<stop offset="1" stop-color="#1F1845" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="1" y1="99.0417" x2="1" y2="139.503" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="18.8962" y1="109.934" x2="18.8962" y2="141.058" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint4_linear" x1="163.234" y1="289.674" x2="163.234" y2="330.913" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint5_linear" x1="86.2021" y1="109.934" x2="86.2021" y2="194.747" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint6_linear" x1="109.546" y1="195.863" x2="109.546" y2="304.017" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint7_linear" x1="106.821" y1="89.7025" x2="106.821" y2="123.55" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF9B63" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint8_linear" x1="123.745" y1="89.7025" x2="101.027" y2="100.869" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.2"/>
<stop offset="1" stop-color="#FFC42C" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint9_linear" x1="62.4695" y1="171.015" x2="62.4695" y2="241.044" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint10_linear" x1="84.2568" y1="31.7343" x2="84.2568" y2="104.875" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint11_linear" x1="112.657" y1="29.5958" x2="84.8896" y2="86.9619" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.15"/>
<stop offset="1" stop-color="#FFC42C" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint12_linear" x1="211.859" y1="84.1786" x2="211.859" y2="126.662" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint13_linear" x1="133.666" y1="221.202" x2="133.666" y2="243.767" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
</defs>
</svg>


</template>
