<template>
<svg width="304" height="239" viewBox="0 0 304 239" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M303.526 223.033C290.707 200.259 175.43 187 96.1424 187C16.7003 187 -38.3664 210.622 33.0722 226.225C104.097 241.835 315.313 245.743 303.526 223.033Z" fill="#D7D7E8"/>
<path d="M160.288 63.9396C160.288 62.2827 161.631 60.9396 163.288 60.9396H292.71C294.367 60.9396 295.71 62.2827 295.71 63.9396V145.759H160.288V63.9396Z" fill="white"/>
<path d="M160.288 63.9396C160.288 62.2827 161.631 60.9396 163.288 60.9396H292.71C294.367 60.9396 295.71 62.2827 295.71 63.9396V145.759H160.288V63.9396Z" fill="url(#paint0_linear)"/>
<rect x="169.928" y="70.5784" width="53.0121" height="7.22892" rx="3.61446" fill="#D6DFEA"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M169.928 85.0365C169.928 83.7057 171.007 82.6268 172.337 82.6268H254.265C255.596 82.6268 256.675 83.7057 256.675 85.0365C256.675 86.3673 255.596 87.4461 254.265 87.4461H172.337C171.007 87.4461 169.928 86.3673 169.928 85.0365Z" fill="#D6DFEA"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M169.928 94.6745C169.928 93.3437 171.007 92.2649 172.337 92.2649H239.807C241.138 92.2649 242.217 93.3437 242.217 94.6745C242.217 96.0053 241.138 97.0842 239.807 97.0842H172.337C171.007 97.0842 169.928 96.0053 169.928 94.6745Z" fill="#D6DFEA"/>
<rect x="153.06" y="145.759" width="149.88" height="14.4578" rx="7.22892" fill="#1F1845"/>
<rect x="153.06" y="145.759" width="149.88" height="14.4578" rx="7.22892" fill="url(#paint1_linear)"/>
<path d="M212.819 60.9399C212.819 56.9474 216.056 53.7109 220.048 53.7109H235.952C239.944 53.7109 243.181 56.9474 243.181 60.9399H212.819Z" fill="#1F1845"/>
<path d="M212.819 60.9399C212.819 56.9474 216.056 53.7109 220.048 53.7109H235.952C239.944 53.7109 243.181 56.9474 243.181 60.9399H212.819Z" fill="url(#paint2_linear)"/>
<path d="M222.458 51.5422C222.458 48.4813 224.939 46 228 46C231.061 46 233.542 48.4813 233.542 51.5422V53.7108H222.458V51.5422Z" fill="#1F1845"/>
<path d="M222.458 51.5422C222.458 48.4813 224.939 46 228 46C231.061 46 233.542 48.4813 233.542 51.5422V53.7108H222.458V51.5422Z" fill="url(#paint3_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M196.434 160.217H203.422L176.916 217.084H169.928L196.434 160.217Z" fill="#1F1845"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M196.434 160.217H203.422L176.916 217.084H169.928L196.434 160.217Z" fill="url(#paint4_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M259.566 160.217L286.072 217.084H279.084L252.578 160.217H259.566Z" fill="#1F1845"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M259.566 160.217L286.072 217.084H279.084L252.578 160.217H259.566Z" fill="url(#paint5_linear)"/>
<path d="M178 123.181C185.309 104.837 202.341 94.2717 225.501 108.727C248.662 123.181 268.955 80.7715 286.727 80.7715" stroke="#E2628C" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
<circle cx="183.182" cy="110.097" r="3.61446" fill="#E2628C"/>
<circle cx="227.998" cy="123.35" r="3.61446" fill="#E2628C"/>
<circle cx="272.82" cy="102.144" r="3.61446" fill="#E2628C"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M86.5697 140.687C84.1718 138.041 70.4171 143.013 68.653 146.937C66.9508 150.945 75.0253 162.277 80.3197 159.854C85.5147 157.368 88.8937 143.387 86.5697 140.687Z" fill="#AF3B6E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M86.5697 140.687C84.1718 138.041 70.4171 143.013 68.653 146.937C66.9508 150.945 75.0253 162.277 80.3197 159.854C85.5147 157.368 88.8937 143.387 86.5697 140.687Z" fill="url(#paint6_linear)"/>
<path d="M65.4238 181.625H80.8405V196.208C80.8405 200.466 77.3894 203.917 73.1322 203.917C68.875 203.917 65.4238 200.466 65.4238 196.208V181.625Z" fill="#E478A3"/>
<path d="M65.4238 181.625H80.8405V196.208C80.8405 200.466 77.3894 203.917 73.1322 203.917C68.875 203.917 65.4238 200.466 65.4238 196.208V181.625Z" fill="url(#paint7_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M66.0941 199.357C65.6634 198.396 65.4238 197.33 65.4238 196.208V181.625H80.8405V190.161C77.1005 194.168 72.0128 197.367 66.0941 199.357Z" fill="url(#paint8_linear)"/>
<path d="M11.5565 156.889C12.0248 156.164 12.992 155.956 13.7169 156.424C14.4417 156.892 14.6496 157.86 14.1813 158.584C12.8802 160.598 12.8107 162.897 13.8111 164.857C14.7397 166.677 16.4239 167.838 18.1085 167.838C18.9715 167.838 19.671 168.537 19.671 169.4C19.671 170.263 18.9715 170.963 18.1085 170.963C15.179 170.963 12.4632 169.091 11.0275 166.277C9.53139 163.345 9.63678 159.86 11.5565 156.889Z" fill="#AF3B6E"/>
<path d="M11.5565 156.889C12.0248 156.164 12.992 155.956 13.7169 156.424C14.4417 156.892 14.6496 157.86 14.1813 158.584C12.8802 160.598 12.8107 162.897 13.8111 164.857C14.7397 166.677 16.4239 167.838 18.1085 167.838C18.9715 167.838 19.671 168.537 19.671 169.4C19.671 170.263 18.9715 170.963 18.1085 170.963C15.179 170.963 12.4632 169.091 11.0275 166.277C9.53139 163.345 9.63678 159.86 11.5565 156.889Z" fill="url(#paint9_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M35.8411 194.969V196.208C35.8411 200.465 32.39 203.917 28.1328 203.917C23.8756 203.917 20.4245 200.465 20.4245 196.208V184.349C17.765 180.66 16.2578 176.278 16.2578 171.312C16.2578 155.147 32.231 142.042 51.9349 142.042C71.6388 142.042 87.612 155.147 87.612 171.312C87.612 184.206 77.4514 193.164 63.3411 196.263V198.292C63.3411 202.549 59.89 206 55.6328 206C51.3756 206 47.9245 202.549 47.9245 198.292V197.318C43.6185 197.013 39.5443 196.215 35.8411 194.969L35.8411 194.969Z" fill="#E478A3"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M35.8411 194.969V196.208C35.8411 200.465 32.39 203.917 28.1328 203.917C23.8756 203.917 20.4245 200.465 20.4245 196.208V184.349C17.765 180.66 16.2578 176.278 16.2578 171.312C16.2578 155.147 32.231 142.042 51.9349 142.042C71.6388 142.042 87.612 155.147 87.612 171.312C87.612 184.206 77.4514 193.164 63.3411 196.263V198.292C63.3411 202.549 59.89 206 55.6328 206C51.3756 206 47.9245 202.549 47.9245 198.292V197.318C43.6185 197.013 39.5443 196.215 35.8411 194.969L35.8411 194.969Z" fill="url(#paint10_linear)"/>
<rect x="65.4238" y="167.146" width="18.3333" height="13.8542" rx="6.92708" fill="#AF3B6E"/>
<rect x="65.4238" y="167.146" width="18.3333" height="13.8542" rx="6.92708" fill="url(#paint11_linear)"/>
<circle cx="72.0905" cy="174.125" r="1.35417" fill="white"/>
<circle cx="72.0905" cy="174.125" r="1.35417" fill="url(#paint12_linear)"/>
<circle cx="78.9655" cy="174.125" r="1.35417" fill="white"/>
<circle cx="78.9655" cy="174.125" r="1.35417" fill="url(#paint13_linear)"/>
<circle cx="64.3822" cy="159.229" r="1.77083" fill="#393E41"/>
<circle cx="78.5492" cy="159.229" r="1.77083" fill="#393E41"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M148.638 2.88796C134.553 6.15306 119.131 18.3852 127.333 53.4519C135.593 88.3362 197.498 116.231 197.498 116.231L179.033 18.5116C179.033 18.5116 163.004 -0.513809 148.638 2.88796Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M148.638 2.88796C134.553 6.15306 119.131 18.3852 127.333 53.4519C135.593 88.3362 197.498 116.231 197.498 116.231L179.033 18.5116C179.033 18.5116 163.004 -0.513809 148.638 2.88796Z" fill="url(#paint14_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M27.6854 141.371C22.3583 134.541 44.6322 137.151 54.53 128.54C64.4278 119.93 71.2665 115.029 71.2665 115.029L87.5719 120.975C87.5719 120.975 67.1212 128.187 67.0577 134.143C66.9942 140.099 62.723 144.372 54.3725 143.307C46.0221 142.243 33.0124 148.201 27.6854 141.371Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M27.6854 141.371C22.3583 134.541 44.6322 137.151 54.53 128.54C64.4278 119.93 71.2665 115.029 71.2665 115.029L87.5719 120.975C87.5719 120.975 67.1212 128.187 67.0577 134.143C66.9942 140.099 62.723 144.372 54.3725 143.307C46.0221 142.243 33.0124 148.201 27.6854 141.371Z" fill="url(#paint15_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M198.493 129.37C193.713 144.185 170.31 140.314 154.951 140.314C150.186 140.314 121.731 107.874 119.947 107.874C118.163 107.874 72.7611 134.563 72.7611 134.563C72.7611 134.563 65.6617 134.689 61.1967 129.37C56.7318 124.051 58.2755 118.837 58.2755 118.837C58.2755 118.837 107.558 79.0178 119.947 79.0178C132.336 79.0178 163.788 111.837 169.78 111.837C185.639 111.837 203.274 114.556 198.493 129.37Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M198.493 129.37C193.713 144.185 170.31 140.314 154.951 140.314C150.186 140.314 121.731 107.874 119.947 107.874C118.163 107.874 72.7611 134.563 72.7611 134.563C72.7611 134.563 65.6617 134.689 61.1967 129.37C56.7318 124.051 58.2755 118.837 58.2755 118.837C58.2755 118.837 107.558 79.0178 119.947 79.0178C132.336 79.0178 163.788 111.837 169.78 111.837C185.639 111.837 203.274 114.556 198.493 129.37Z" fill="url(#paint16_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M164.748 68.5212C156.692 68.5212 154.5 106.78 154.5 109.457C154.5 112.133 165.085 114.705 166.34 113.363C167.595 112.022 177.436 94.2671 178.384 86.4432C179.332 78.6193 172.805 68.5212 164.748 68.5212Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M164.748 68.5212C156.692 68.5212 154.5 106.78 154.5 109.457C154.5 112.133 165.085 114.705 166.34 113.363C167.595 112.022 177.436 94.2671 178.384 86.4432C179.332 78.6193 172.805 68.5212 164.748 68.5212Z" fill="url(#paint17_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M164.748 68.5212C156.692 68.5212 154.5 106.78 154.5 109.457C154.5 112.133 165.085 114.705 166.34 113.363C167.595 112.022 177.436 94.2671 178.384 86.4432C179.332 78.6193 172.805 68.5212 164.748 68.5212Z" fill="url(#paint18_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M124.129 122.585C118.871 124.685 113.982 126.985 112.59 128.391C111.198 129.798 110.626 132.806 110.626 135.505C110.626 138.204 110.481 143.115 115.777 142.052C121.074 140.988 129.705 131.321 129.705 128.391C129.705 125.462 129.388 120.485 124.129 122.585Z" fill="#FBCC9D"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M124.129 122.585C118.871 124.685 113.982 126.985 112.59 128.391C111.198 129.798 110.626 132.806 110.626 135.505C110.626 138.204 110.481 143.115 115.777 142.052C121.074 140.988 129.705 131.321 129.705 128.391C129.705 125.462 129.388 120.485 124.129 122.585Z" fill="url(#paint19_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M51.3276 100.039H97.7018L108.3 143.501H58.2603C57.7718 143.501 57.3465 143.167 57.2307 142.692L47.8954 104.41C47.4331 102.514 48.5949 100.602 50.4904 100.14C50.7645 100.073 51.0455 100.039 51.3276 100.039Z" fill="#D6DFEA"/>
<circle cx="76.4841" cy="121.912" r="3.12474" fill="#F2F5F9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M108.556 138.201H139.734C141.198 138.201 142.386 139.387 142.386 140.851C142.386 142.315 141.198 143.501 139.734 143.501H105.606V140.604L96.1229 101.755C95.9411 101.011 96.3979 100.26 97.1431 100.078C97.2508 100.052 97.3613 100.039 97.4721 100.039C98.5101 100.039 99.4135 100.748 99.6594 101.755L108.556 138.201Z" fill="#B6C5D9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M160.496 73.6576C160.496 43.1735 201.466 63.1848 203.747 116.798C205.899 170.613 150.283 131.54 165.966 121.628C174.165 116.377 170.71 102.114 164.593 96.1791C157.082 88.8904 160.496 87.5988 160.496 73.6576Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M160.496 73.6576C160.496 43.1735 201.466 63.1848 203.747 116.798C205.899 170.613 150.283 131.54 165.966 121.628C174.165 116.377 170.71 102.114 164.593 96.1791C157.082 88.8904 160.496 87.5988 160.496 73.6576Z" fill="url(#paint20_linear)"/>
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="159" y="59" width="45" height="86">
<path fill-rule="evenodd" clip-rule="evenodd" d="M160.496 73.6576C160.496 43.1735 201.466 63.1848 203.747 116.798C205.899 170.613 150.283 131.54 165.966 121.628C174.165 116.377 170.71 102.114 164.593 96.1791C157.082 88.8904 160.496 87.5988 160.496 73.6576Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M160.496 73.6576C160.496 43.1735 201.466 63.1848 203.747 116.798C205.899 170.613 150.283 131.54 165.966 121.628C174.165 116.377 170.71 102.114 164.593 96.1791C157.082 88.8904 160.496 87.5988 160.496 73.6576Z" stroke="white"/>
</mask>
<g mask="url(#mask0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M177.279 142.061C173.554 140.303 170.137 137.805 167.6 135.107C169.326 123.244 174.997 94.9255 189.783 94.9255C194.48 94.9255 198.611 97.4619 201.903 101.341C202.869 106.126 203.513 111.285 203.748 116.799C204.277 130.031 201.313 137.648 196.775 141.462C189.724 142.829 182.723 142.643 177.279 142.061Z" fill="url(#paint21_linear)"/>
<ellipse cx="158.723" cy="61.8318" rx="9.37421" ry="10.3684" fill="white"/>
<ellipse cx="172.642" cy="66.377" rx="9.37421" ry="10.3684" fill="white"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M154.849 51.5969L170.23 41.574L175.52 50.6135C178.29 55.347 177.677 61.3292 174.003 65.4017C171.426 68.2594 167.019 68.4865 164.162 65.9088C163.686 65.4797 163.272 64.987 162.93 64.4447L154.849 51.5969Z" fill="#FBCC9D"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M154.849 51.5969L170.23 41.574L175.52 50.6135C178.29 55.347 177.677 61.3292 174.003 65.4017C171.426 68.2594 167.019 68.4865 164.162 65.9088C163.686 65.4797 163.272 64.987 162.93 64.4447L154.849 51.5969Z" fill="url(#paint22_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M176.399 52.4345C174.276 58.4172 169.538 63.162 163.56 65.2944C163.329 65.0278 163.119 64.7438 162.93 64.4447L154.849 51.5969L170.23 41.574L175.52 50.6135C175.865 51.2032 176.158 51.8122 176.399 52.4345Z" fill="url(#paint23_linear)"/>
<mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="154" y="41" width="23" height="25">
<path fill-rule="evenodd" clip-rule="evenodd" d="M176.399 52.4345C174.276 58.4172 169.538 63.162 163.56 65.2944C163.329 65.0278 163.119 64.7438 162.93 64.4447L154.849 51.5969L170.23 41.574L175.52 50.6135C175.865 51.2032 176.158 51.8122 176.399 52.4345Z" fill="white"/>
</mask>
<g mask="url(#mask1)">
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M183.791 62.2314C174.443 62.2314 166.394 95.328 166.394 98.6939C166.394 102.06 119.714 124.44 119.714 124.44C119.714 124.44 122.564 125.059 124.319 128.79C126.073 132.521 128.349 132.867 128.349 132.867C128.349 132.867 180.875 114.753 183.791 111.079C186.707 107.404 194.995 95.625 195.3 81.1219C195.604 66.6189 193.139 62.2314 183.791 62.2314Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M183.791 62.2314C174.443 62.2314 166.394 95.328 166.394 98.6939C166.394 102.06 119.714 124.44 119.714 124.44C119.714 124.44 122.564 125.059 124.319 128.79C126.073 132.521 128.349 132.867 128.349 132.867C128.349 132.867 180.875 114.753 183.791 111.079C186.707 107.404 194.995 95.625 195.3 81.1219C195.604 66.6189 193.139 62.2314 183.791 62.2314Z" fill="url(#paint24_linear)"/>
<path d="M183.791 61.521C184.026 61.521 184.217 61.7118 184.217 61.9471C184.217 62.1824 184.026 62.3732 183.791 62.3732C179.926 62.3732 175.779 68.6973 171.987 79.0625C169.277 86.4697 166.819 96.2269 166.819 98.4096C166.819 99.789 163.276 102.302 155.853 106.405C150.003 109.638 141.773 113.813 131.153 118.935C131.087 118.967 131.021 118.999 130.956 119.031C128.61 120.161 128.2 119.413 130.518 118.296C130.589 118.261 130.661 118.227 130.732 118.193C141.359 113.068 149.596 108.889 155.44 105.659C162.346 101.842 165.967 99.2741 165.967 98.4096C165.967 96.1005 168.445 86.2644 171.186 78.7697C175.114 68.0322 179.384 61.521 183.791 61.521Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M173.919 46.9182C168.202 60.5666 168.35 78.1975 175.623 94.6415C182.992 111.129 224.049 129.34 211.7 90.6645C198.929 51.8448 203.459 38.2927 193.519 20.2159C183.559 2.35223 167.258 -5.36868 144.66 4.02407C122.491 13.4821 179.318 33.2857 173.919 46.9182Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M173.919 46.9182C168.202 60.5666 168.35 78.1975 175.623 94.6415C182.992 111.129 224.049 129.34 211.7 90.6645C198.929 51.8448 203.459 38.2927 193.519 20.2159C183.559 2.35223 167.258 -5.36868 144.66 4.02407C122.491 13.4821 179.318 33.2857 173.919 46.9182Z" fill="url(#paint25_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M142.671 24.193C143.145 24.193 155.822 32.0048 172.782 32.9991C174.586 31.6108 179 31.6108 179.316 37.5441C179.555 41.7555 178.115 46.2243 174.486 46.6343C172.182 54.5524 168.53 61.0127 158.863 62.542C149.195 64.0714 143.08 57.4413 140.967 53.1678C138.328 48.9547 135.959 32.1818 136.137 30.4425C138.975 29.067 142.021 24.193 142.671 24.193Z" fill="#FBCC9D"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M142.671 24.193C143.145 24.193 155.822 32.0048 172.782 32.9991C174.586 31.6108 179 31.6108 179.316 37.5441C179.555 41.7555 178.115 46.2243 174.486 46.6343C172.182 54.5524 168.53 61.0127 158.863 62.542C149.195 64.0714 143.08 57.4413 140.967 53.1678C138.328 48.9547 135.959 32.1818 136.137 30.4425C138.975 29.067 142.021 24.193 142.671 24.193Z" fill="url(#paint26_linear)"/>
<circle cx="174.704" cy="39.4651" r="2.48899" fill="url(#paint27_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M92.3471 220.289C86.5594 211.677 111.116 203.559 111.812 195.073C112.275 189.416 112.928 186.199 113.769 185.424L124.487 184.145C124.507 191.724 125.365 197.337 127.061 200.986C129.604 206.459 126.181 212.407 117.437 212.86C108.693 213.312 98.1347 228.901 92.3471 220.289Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M92.3471 220.289C86.5594 211.677 111.116 203.559 111.812 195.073C112.275 189.416 112.928 186.199 113.769 185.424L124.487 184.145C124.507 191.724 125.365 197.337 127.061 200.986C129.604 206.459 126.181 212.407 117.437 212.86C108.693 213.312 98.1347 228.901 92.3471 220.289Z" fill="url(#paint28_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M179.322 152.875C170.215 152.875 150.409 152.875 144.627 152.875L127.685 190.954C127.685 190.954 125.033 194.014 118.875 194.014C112.716 194.014 111.129 190.954 111.129 190.954C111.129 190.954 114.816 127.11 132.436 123.236C173.126 114.291 203.586 119.383 203.586 119.383C203.586 119.383 205.945 152.875 179.322 152.875Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M179.322 152.875C170.215 152.875 150.409 152.875 144.627 152.875L127.685 190.954C127.685 190.954 125.033 194.014 118.875 194.014C112.716 194.014 111.129 190.954 111.129 190.954C111.129 190.954 114.816 127.11 132.436 123.236C173.126 114.291 203.586 119.383 203.586 119.383C203.586 119.383 205.945 152.875 179.322 152.875Z" fill="url(#paint29_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M39.5905 140.687C41.9884 138.041 55.7431 143.013 57.5072 146.937C59.2094 150.945 51.1349 162.277 45.8405 159.854C40.6455 157.368 37.2665 143.387 39.5905 140.687Z" fill="#AF3B6E"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M39.5905 140.687C41.9884 138.041 55.7431 143.013 57.5072 146.937C59.2094 150.945 51.1349 162.277 45.8405 159.854C40.6455 157.368 37.2665 143.387 39.5905 140.687Z" fill="url(#paint30_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="160.288" y1="60.9396" x2="160.288" y2="145.759" gradientUnits="userSpaceOnUse">
<stop stop-color="#F2F5F9" stop-opacity="0.01"/>
<stop offset="1" stop-color="#B6C5D9" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="153.06" y1="145.759" x2="153.06" y2="160.217" gradientUnits="userSpaceOnUse">
<stop stop-color="#1F1845" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.5"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="212.819" y1="53.7109" x2="212.819" y2="60.9399" gradientUnits="userSpaceOnUse">
<stop stop-color="#1F1845" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.5"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="222.458" y1="46" x2="222.458" y2="53.7108" gradientUnits="userSpaceOnUse">
<stop stop-color="#1F1845" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.5"/>
</linearGradient>
<linearGradient id="paint4_linear" x1="169.928" y1="160.217" x2="169.928" y2="217.084" gradientUnits="userSpaceOnUse">
<stop stop-color="#1F1845" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.5"/>
</linearGradient>
<linearGradient id="paint5_linear" x1="252.578" y1="160.217" x2="252.578" y2="217.084" gradientUnits="userSpaceOnUse">
<stop stop-color="#1F1845" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.5"/>
</linearGradient>
<linearGradient id="paint6_linear" x1="87.2988" y1="139.958" x2="87.2988" y2="160.167" gradientUnits="userSpaceOnUse">
<stop stop-color="#AF3B6E" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint7_linear" x1="65.4238" y1="181.625" x2="65.4238" y2="203.917" gradientUnits="userSpaceOnUse">
<stop stop-color="#E478A3" stop-opacity="0.01"/>
<stop offset="1" stop-color="#AF3B6E" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint8_linear" x1="83.9922" y1="190.491" x2="68.017" y2="184.812" gradientUnits="userSpaceOnUse">
<stop stop-color="#AF3B6E" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint9_linear" x1="10" y1="156.174" x2="10" y2="170.963" gradientUnits="userSpaceOnUse">
<stop stop-color="#AF3B6E" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint10_linear" x1="16.2578" y1="142.042" x2="16.2578" y2="206" gradientUnits="userSpaceOnUse">
<stop stop-color="#E478A3" stop-opacity="0.01"/>
<stop offset="1" stop-color="#AF3B6E" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint11_linear" x1="65.4238" y1="167.146" x2="65.4238" y2="181" gradientUnits="userSpaceOnUse">
<stop stop-color="#AF3B6E" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint12_linear" x1="70.7363" y1="172.771" x2="70.7363" y2="175.479" gradientUnits="userSpaceOnUse">
<stop stop-color="white" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.05"/>
</linearGradient>
<linearGradient id="paint13_linear" x1="77.6113" y1="172.771" x2="77.6113" y2="175.479" gradientUnits="userSpaceOnUse">
<stop stop-color="white" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.05"/>
</linearGradient>
<linearGradient id="paint14_linear" x1="125.061" y1="2.31982" x2="125.061" y2="116.231" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint15_linear" x1="28.4678" y1="148.709" x2="90.5323" y2="137.765" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint16_linear" x1="57.8789" y1="79.0178" x2="57.8789" y2="140.77" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint17_linear" x1="154.5" y1="68.5212" x2="154.5" y2="113.731" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint18_linear" x1="171.66" y1="79.5123" x2="152.428" y2="77.7486" gradientUnits="userSpaceOnUse">
<stop stop-color="#464D89" stop-opacity="0.6"/>
<stop offset="1" stop-color="#A7A7EE" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint19_linear" x1="110.626" y1="122.083" x2="110.626" y2="142.2" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint20_linear" x1="159.722" y1="59.3513" x2="159.722" y2="144.617" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint21_linear" x1="149.495" y1="118.713" x2="195.351" y2="153.614" gradientUnits="userSpaceOnUse">
<stop stop-color="#464D89" stop-opacity="0.3"/>
<stop offset="1" stop-color="#A7A7EE" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint22_linear" x1="154.849" y1="41.574" x2="154.849" y2="67.7028" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint23_linear" x1="160.344" y1="39.4291" x2="144.959" y2="56.2483" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.1"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint24_linear" x1="119.714" y1="62.2314" x2="119.714" y2="132.867" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint25_linear" x1="139.504" y1="0" x2="139.504" y2="113.669" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint26_linear" x1="136.128" y1="24.193" x2="136.128" y2="62.7666" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint27_linear" x1="174.704" y1="34.4871" x2="169.726" y2="39.4651" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.2"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint28_linear" x1="91.4648" y1="184.145" x2="91.4648" y2="222.879" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint29_linear" x1="111.129" y1="117.536" x2="111.129" y2="194.014" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint30_linear" x1="38.8613" y1="139.958" x2="38.8613" y2="160.167" gradientUnits="userSpaceOnUse">
<stop stop-color="#AF3B6E" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
</defs>
</svg>

</template>