<template>
<svg width="210" height="379" viewBox="0 0 210 379" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M209.277 362.858C200.467 339.914 121.245 326.556 66.7569 326.556C12.1621 326.556 -25.6813 350.355 23.4133 366.075C72.2233 381.802 217.377 385.739 209.277 362.858Z" fill="#D7D7E8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M145.553 330.11C149.263 336.167 154.508 354.977 154.508 359.853C154.508 364.728 138.755 359.351 135.752 346.764C132.748 334.176 129.757 338.607 129.757 332.069C129.757 325.53 141.843 324.054 145.553 330.11Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M145.553 330.11C149.263 336.167 154.508 354.977 154.508 359.853C154.508 364.728 138.755 359.351 135.752 346.764C132.748 334.176 129.757 338.607 129.757 332.069C129.757 325.53 141.843 324.054 145.553 330.11Z" fill="url(#paint0_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M80.6202 330.129C83.4652 337.162 79.8765 353.435 73.0556 360.897C66.2348 368.36 59.3757 353.6 61.8768 350.3C64.378 347 70.2976 340.531 70.2976 331.679C70.2976 322.826 77.7752 323.097 80.6202 330.129Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M80.6202 330.129C83.4652 337.162 79.8765 353.435 73.0556 360.897C66.2348 368.36 59.3757 353.6 61.8768 350.3C64.378 347 70.2976 340.531 70.2976 331.679C70.2976 322.826 77.7752 323.097 80.6202 330.129Z" fill="url(#paint1_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M94.2022 128.469C86.7561 137.476 93.3425 163.694 88.3519 170.09C82.9469 176.366 71.5772 183.648 66.3008 196.495C61.1627 209.494 96.7553 182.871 100.052 178.146C103.772 173.029 101.369 119.671 94.2022 128.469Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M94.2022 128.469C86.7561 137.476 93.3425 163.694 88.3519 170.09C82.9469 176.366 71.5772 183.648 66.3008 196.495C61.1627 209.494 96.7553 182.871 100.052 178.146C103.772 173.029 101.369 119.671 94.2022 128.469Z" fill="url(#paint2_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M94.2022 128.469C86.7561 137.476 93.3425 163.694 88.3519 170.09C82.9469 176.366 71.5772 183.648 66.3008 196.495C61.1627 209.494 96.7553 182.871 100.052 178.146C103.772 173.029 101.369 119.671 94.2022 128.469Z" fill="url(#paint3_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M138.306 179.488C149.946 200.562 155.407 230.057 155.407 253.49C155.407 276.923 148.307 330.313 148.307 330.313C148.307 330.313 146.763 334.783 139.018 334.783C131.273 334.783 129.83 330.313 129.83 330.313C129.83 330.313 126.018 287.903 126.018 274.682C126.018 261.461 118.687 215.287 114.986 215.287C111.286 215.287 102.729 252.73 97.8649 274.682C93.001 296.633 82.9336 330.313 82.9336 330.313C82.9336 330.313 81.9177 334.783 74.412 334.783C66.9062 334.783 65.4027 330.313 65.4027 330.313C65.4027 330.313 68.7451 246.921 74.412 222.859C79.4732 201.369 91.954 179.488 91.954 179.488C91.954 179.488 126.666 158.413 138.306 179.488Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M138.306 179.488C149.946 200.562 155.407 230.057 155.407 253.49C155.407 276.923 148.307 330.313 148.307 330.313C148.307 330.313 146.763 334.783 139.018 334.783C131.273 334.783 129.83 330.313 129.83 330.313C129.83 330.313 126.018 287.903 126.018 274.682C126.018 261.461 118.687 215.287 114.986 215.287C111.286 215.287 102.729 252.73 97.8649 274.682C93.001 296.633 82.9336 330.313 82.9336 330.313C82.9336 330.313 81.9177 334.783 74.412 334.783C66.9062 334.783 65.4027 330.313 65.4027 330.313C65.4027 330.313 68.7451 246.921 74.412 222.859C79.4732 201.369 91.954 179.488 91.954 179.488C91.954 179.488 126.666 158.413 138.306 179.488Z" fill="url(#paint4_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M132.474 136.828C154.985 133.388 188.036 105.291 169.637 68.9334C151.237 32.5762 121.723 53.709 104.717 22.5615C87.711 -8.58608 47.574 -4.65371 28.2641 17.1874C8.95424 39.0285 8.95424 72.9859 40.1179 104.75C71.2816 136.514 109.962 140.268 132.474 136.828Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M132.474 136.828C154.985 133.388 188.036 105.291 169.637 68.9334C151.237 32.5762 121.723 53.709 104.717 22.5615C87.711 -8.58608 47.574 -4.65371 28.2641 17.1874C8.95424 39.0285 8.95424 72.9859 40.1179 104.75C71.2816 136.514 109.962 140.268 132.474 136.828Z" fill="url(#paint5_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.2806 73.7817C23.2442 84.0122 30.057 94.4957 40.118 104.75C60.1158 125.134 83.2087 133.982 103.138 136.798C124.109 131.679 139.582 119.871 136.711 97.6549C129.739 43.7016 53.198 128.955 19.2806 73.7817V73.7817Z" fill="url(#paint6_linear)"/>
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="19" y="73" width="119" height="64">
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.2806 73.7817C23.2442 84.0122 30.057 94.4957 40.118 104.75C60.1158 125.134 83.2087 133.982 103.138 136.798C124.109 131.679 139.582 119.871 136.711 97.6549C129.739 43.7016 53.198 128.955 19.2806 73.7817V73.7817Z" fill="white"/>
</mask>
<g mask="url(#mask0)">
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M138.305 179.487C133.563 170.106 132.876 171.752 136.505 161.586C139.348 151.16 143.71 150.392 145.956 137.867C147.469 125.586 135.598 112.924 120.304 120.413C105.309 127.951 106.957 123.066 97.8033 127.126C88.6068 131.537 90.1925 141.171 94.2032 150.845C98.454 160.535 98.594 169.919 91.953 179.487C85.9625 189.126 142.783 188.939 138.305 179.487Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M138.305 179.487C133.563 170.106 132.876 171.752 136.505 161.586C139.348 151.16 143.71 150.392 145.956 137.867C147.469 125.586 135.598 112.924 120.304 120.413C105.309 127.951 106.957 123.066 97.8033 127.126C88.6068 131.537 90.1925 141.171 94.2032 150.845C98.454 160.535 98.594 169.919 91.953 179.487C85.9625 189.126 142.783 188.939 138.305 179.487Z" fill="url(#paint7_linear)"/>
<rect width="13.0507" height="23.7194" rx="6.52533" transform="matrix(-1 0 0 1 121.206 106.988)" fill="#FFD7AD"/>
<rect width="13.0507" height="23.7194" rx="6.52533" transform="matrix(-1 0 0 1 121.206 106.988)" fill="url(#paint8_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M140.162 102.529C141.81 102.418 143.538 100.814 143.538 96.5831C143.538 91.0904 147.648 89.3637 147.648 85.6945C147.648 82.0253 143.747 80.5197 141.732 82.9539C139.94 78.9112 136.809 80.3429 123.295 76.7456C109.782 73.1483 104.497 63.1968 93.309 67.9877C93.2362 70.1021 93.3091 76.9178 93.309 79.2546C93.3091 81.3645 90.6042 84.1547 90.6042 94.0175C90.6042 103.789 100.996 117.28 112.693 117.28C121.168 117.28 134.895 112.427 140.162 102.529Z" fill="#FFD7AD"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M140.162 102.529C141.81 102.418 143.538 100.814 143.538 96.5831C143.538 91.0904 147.648 89.3637 147.648 85.6945C147.648 82.0253 143.747 80.5197 141.732 82.9539C139.94 78.9112 136.809 80.3429 123.295 76.7456C109.782 73.1483 104.497 63.1968 93.309 67.9877C93.2362 70.1021 93.3091 76.9178 93.309 79.2546C93.3091 81.3645 90.6042 84.1547 90.6042 94.0175C90.6042 103.789 100.996 117.28 112.693 117.28C121.168 117.28 134.895 112.427 140.162 102.529Z" fill="url(#paint9_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M108.063 80.6083C116.111 84.8179 135.041 87.4589 141.793 78.0478C139.576 76.4762 134.918 79.8399 123.294 76.7456C109.78 73.1483 104.495 63.1968 93.3073 67.9877C93.2489 69.6856 93.2844 74.4151 93.3006 77.4225C96.0367 77.4378 100.016 76.3988 108.063 80.6083Z" fill="url(#paint10_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M140.162 148.121C153.246 141.8 141.994 101.039 140.162 85.6184C138.331 70.1976 135.683 45.17 135.683 40.0184C135.683 34.8668 125.255 34.0123 125.255 40.0184C125.255 46.0245 127.079 73.9495 127.079 85.6184C127.079 97.2872 127.079 154.441 140.162 148.121Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M140.162 148.121C153.246 141.8 141.994 101.039 140.162 85.6184C138.331 70.1976 135.683 45.17 135.683 40.0184C135.683 34.8668 125.255 34.0123 125.255 40.0184C125.255 46.0245 127.079 73.9495 127.079 85.6184C127.079 97.2872 127.079 154.441 140.162 148.121Z" fill="url(#paint11_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M135.605 39.4094C135.605 33.9723 139.013 30.1247 146.907 31.1916C154.801 32.2585 159.176 33.9093 157.881 31.1916C157.246 29.8585 153.609 27.33 145.998 26.1328C143.265 25.703 134.279 26.6828 134.279 26.6828C134.279 26.6828 129.264 24.8981 125.69 26.1328C122.116 27.3676 117.083 23.2562 114.742 26.1328C112.4 29.0095 126.14 29.8926 125.69 32.9094C125.24 35.9261 125.24 38.557 125.24 40.8077C125.24 43.0583 135.605 44.8465 135.605 39.4094Z" fill="#FFD7AD"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M135.605 39.4094C135.605 33.9723 139.013 30.1247 146.907 31.1916C154.801 32.2585 159.176 33.9093 157.881 31.1916C157.246 29.8585 153.609 27.33 145.998 26.1328C143.265 25.703 134.279 26.6828 134.279 26.6828C134.279 26.6828 129.264 24.8981 125.69 26.1328C122.116 27.3676 117.083 23.2562 114.742 26.1328C112.4 29.0095 126.14 29.8926 125.69 32.9094C125.24 35.9261 125.24 38.557 125.24 40.8077C125.24 43.0583 135.605 44.8465 135.605 39.4094Z" fill="url(#paint12_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M74.0096 197.498C67.9131 202.409 63.9215 202.364 65.9202 209.148C67.9188 215.932 72.2092 216.217 70.3154 218.485C68.4216 220.752 63.8845 212.341 58.9346 211.224C53.9847 210.106 39.264 212.096 37.1609 209.148C35.0578 206.2 38.8597 205.229 48.7188 204.095C58.5779 202.961 68.2359 191.421 71.1892 187.939C73.2365 185.524 77.8951 194.367 74.0096 197.498Z" fill="#FFD7AD"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M74.0096 197.498C67.9131 202.409 63.9215 202.364 65.9202 209.148C67.9188 215.932 72.2092 216.217 70.3154 218.485C68.4216 220.752 63.8845 212.341 58.9346 211.224C53.9847 210.106 39.264 212.096 37.1609 209.148C35.0578 206.2 38.8597 205.229 48.7188 204.095C58.5779 202.961 68.2359 191.421 71.1892 187.939C73.2365 185.524 77.8951 194.367 74.0096 197.498Z" fill="url(#paint13_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M121.206 116.01C118.146 116.858 115.192 117.28 112.694 117.28C111.151 117.28 109.632 117.045 108.155 116.616V121.091C109.632 121.521 111.151 121.755 112.694 121.755C115.192 121.755 118.146 121.333 121.206 120.485V116.01L121.206 116.01Z" fill="url(#paint14_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="154.508" y1="326.279" x2="154.508" y2="361.635" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="81.6016" y1="324.938" x2="81.6016" y2="362.978" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="101.853" y1="127.574" x2="101.853" y2="200.075" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="98.7963" y1="192.543" x2="66.662" y2="193.424" gradientUnits="userSpaceOnUse">
<stop stop-color="#464D89" stop-opacity="0.6"/>
<stop offset="1" stop-color="#A7A7EE" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint4_linear" x1="155.407" y1="170.121" x2="155.407" y2="334.783" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint5_linear" x1="175" y1="0" x2="175" y2="137.867" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint6_linear" x1="195.942" y1="105.29" x2="143.516" y2="203.271" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.3"/>
<stop offset="1" stop-color="#1F1845" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint7_linear" x1="146.086" y1="118.17" x2="146.086" y2="186.646" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint8_linear" x1="0" y1="0" x2="0" y2="23.7194" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint9_linear" x1="147.648" y1="66.7086" x2="147.648" y2="117.28" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint10_linear" x1="117.534" y1="57.845" x2="128.962" y2="89.1238" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.2"/>
<stop offset="1" stop-color="#FFC42C" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint11_linear" x1="146.406" y1="35.8281" x2="146.406" y2="148.607" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint12_linear" x1="158.106" y1="25.0883" x2="158.106" y2="42.9933" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint13_linear" x1="75.5088" y1="187.526" x2="75.5088" y2="218.871" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint14_linear" x1="101.006" y1="119.432" x2="104.997" y2="109.497" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.2"/>
<stop offset="1" stop-color="#FFC42C" stop-opacity="0.01"/>
</linearGradient>
</defs>
</svg>


</template>