<template>
<svg width="254" height="418" viewBox="0 0 254 418" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M139.87 43.0469C139.87 31.3486 151.956 11.4367 149.496 9.70675C144.279 6.03758 136.2 22.5359 134.327 27.3524C132.453 32.169 140.663 0 136.863 0C130.492 0 128.054 19.381 128.054 21.9942C128.054 24.6074 120.226 15.4203 111.851 23.7796C103.477 32.1388 139.87 44.6631 139.87 43.0469Z" fill="#FCD4AD"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M139.87 43.0469C139.87 31.3486 151.956 11.4367 149.496 9.70675C144.279 6.03758 136.2 22.5359 134.327 27.3524C132.453 32.169 140.663 0 136.863 0C130.492 0 128.054 19.381 128.054 21.9942C128.054 24.6074 120.226 15.4203 111.851 23.7796C103.477 32.1388 139.87 44.6631 139.87 43.0469Z" fill="url(#paint0_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M253.215 398.791C242.723 371.465 148.373 355.556 83.4796 355.556C18.4593 355.556 -26.6106 383.9 31.8591 402.622C89.9898 421.351 262.862 426.041 253.215 398.791Z" fill="#D7D7E8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M147.991 374.587C144.857 376.855 136.496 375.646 131.478 377.781C125.29 380.037 119.159 392.683 128.726 394.387C138.753 395.085 153.522 392.683 159.55 389.916C165.654 387.384 164.605 379.739 163.953 373.949C162.099 375.163 159.319 375.765 155.697 375.865C152.423 375.765 149.838 375.338 147.991 374.587Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M147.991 374.587C144.857 376.855 136.496 375.646 131.478 377.781C125.29 380.037 119.159 392.683 128.726 394.387C138.753 395.085 153.522 392.683 159.55 389.916C165.654 387.384 164.605 379.739 163.953 373.949C162.099 375.163 159.319 375.765 155.697 375.865C152.423 375.765 149.838 375.338 147.991 374.587Z" fill="url(#paint1_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M191.384 373.948C191.899 376.222 191.885 379.242 190.789 383.022C189.589 389.948 196.984 407.222 207.434 405.708C218.312 403.733 219.226 389.948 213.378 384.724C208.413 380.529 207.711 377.938 207.434 374.515C205.688 374.926 203.303 375.179 200.3 375.082C196.711 375.179 193.811 374.767 191.384 373.948Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M191.384 373.948C191.899 376.222 191.885 379.242 190.789 383.022C189.589 389.948 196.984 407.222 207.434 405.708C218.312 403.733 219.226 389.948 213.378 384.724C208.413 380.529 207.711 377.938 207.434 374.515C205.688 374.926 203.303 375.179 200.3 375.082C196.711 375.179 193.811 374.767 191.384 373.948Z" fill="url(#paint2_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M209.817 214.528C202.344 191.964 160.707 202.332 153.812 214.528C148.738 223.162 145.841 273.312 137.519 369.351C138.811 374.43 143.635 377.322 151.775 378.037C160.351 379.187 165.678 377.901 168.068 374.461L178.76 263.581L185.378 372.928C185.873 376.507 190.949 378.254 200.143 378.037C209.845 378.254 214.921 376.507 215.417 372.928C215.625 288.927 219.575 242.744 209.817 214.528Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M209.817 214.528C202.344 191.964 160.707 202.332 153.812 214.528C148.738 223.162 145.841 273.312 137.519 369.351C138.811 374.43 143.635 377.322 151.775 378.037C160.351 379.187 165.678 377.901 168.068 374.461L178.76 263.581L185.378 372.928C185.873 376.507 190.949 378.254 200.143 378.037C209.845 378.254 214.921 376.507 215.417 372.928C215.625 288.927 219.575 242.744 209.817 214.528Z" fill="url(#paint3_linear)"/>
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="137" y="201" width="80" height="178">
<path fill-rule="evenodd" clip-rule="evenodd" d="M209.817 214.528C202.344 191.964 160.707 202.332 153.812 214.528C148.738 223.162 145.841 273.312 137.519 369.351C138.811 374.43 143.635 377.322 151.775 378.037C160.351 379.187 165.678 377.901 168.068 374.461L178.76 263.581L185.378 372.928C185.873 376.507 190.949 378.254 200.143 378.037C209.845 378.254 214.921 376.507 215.417 372.928C215.625 288.927 219.575 242.744 209.817 214.528Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M209.817 214.528C202.344 191.964 160.707 202.332 153.812 214.528C148.738 223.162 145.841 273.312 137.519 369.351C138.811 374.43 143.635 377.322 151.775 378.037C160.351 379.187 165.678 377.901 168.068 374.461L178.76 263.581L185.378 372.928C185.873 376.507 190.949 378.254 200.143 378.037C209.845 378.254 214.921 376.507 215.417 372.928C215.625 288.927 219.575 242.744 209.817 214.528Z" stroke="white"/>
</mask>
<g mask="url(#mask0)">
<path d="M178.017 277.809C178.017 278.092 178.245 278.32 178.526 278.32C178.807 278.32 179.035 278.092 179.035 277.809C179.035 276.766 179.044 276.332 179.12 273.155C179.215 269.199 179.237 266.778 179.163 264.133C178.921 255.401 177.611 249.733 174.532 247.51C174.304 247.345 173.986 247.397 173.822 247.626C173.658 247.855 173.71 248.175 173.938 248.339C176.65 250.298 177.913 255.761 178.145 264.162C178.218 266.784 178.197 269.191 178.102 273.131C178.026 276.319 178.017 276.754 178.017 277.809Z" fill="white"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M177.232 144.014C205.64 147.577 209.817 203.412 209.817 214.528C209.817 225.821 153.303 223.435 153.303 214.528C153.303 206.122 137.519 153.723 137.519 153.723C137.519 153.723 148.804 140.979 177.232 144.014Z" fill="#C5CBFF"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M177.232 144.014C205.64 147.577 209.817 203.412 209.817 214.528C209.817 225.821 153.303 223.435 153.303 214.528C153.303 206.122 137.519 153.723 137.519 153.723C137.519 153.723 148.804 140.979 177.232 144.014Z" fill="url(#paint4_linear)"/>
<mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="137" y="143" width="73" height="80">
<path fill-rule="evenodd" clip-rule="evenodd" d="M177.232 144.014C205.64 147.577 209.817 203.412 209.817 214.528C209.817 225.821 153.303 223.435 153.303 214.528C153.303 206.122 137.519 153.723 137.519 153.723C137.519 153.723 148.804 140.979 177.232 144.014Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M177.232 144.014C205.64 147.577 209.817 203.412 209.817 214.528C209.817 225.821 153.303 223.435 153.303 214.528C153.303 206.122 137.519 153.723 137.519 153.723C137.519 153.723 148.804 140.979 177.232 144.014Z" stroke="white"/>
</mask>
<g mask="url(#mask1)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M204.765 178.511C200.895 175.627 198.945 219.751 202.05 224.408C205.156 229.066 212.886 220.077 212.886 220.077C212.886 220.077 208.635 181.395 204.765 178.511Z" fill="url(#paint5_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M172.854 135.838C186.767 144.605 167.417 163.215 158.919 176.714C150.421 190.214 161.701 197.796 159.66 204.595C157.619 211.393 148.005 213.055 142.925 204.595C137.845 196.134 142.974 183.618 147.505 176.714C152.036 169.811 149.344 162.859 154.702 151.901C160.061 140.942 160.637 139.921 172.854 135.838Z" fill="url(#paint6_linear)"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M101.598 369.242C96.058 371.889 85.5457 386.528 89.1919 394.883C93.2182 404.109 109.517 398.691 113.449 392.876C117.382 387.061 115.296 371.453 115.394 368.579C111.705 370.793 105.486 373.243 101.598 369.242Z" fill="#403F9F"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M101.598 369.242C96.058 371.889 85.5457 386.528 89.1919 394.883C93.2182 404.109 109.517 398.691 113.449 392.876C117.382 387.061 115.296 371.453 115.394 368.579C111.705 370.793 105.486 373.243 101.598 369.242Z" fill="url(#paint7_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M53.1438 369.242C47.6034 371.889 32.2475 381.716 35.8936 390.071C39.9199 399.297 58.6403 393.879 62.573 388.064C66.5057 382.249 69.2636 371.453 69.3616 368.579C65.6719 370.793 57.0311 373.243 53.1438 369.242Z" fill="#403F9F"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M53.1438 369.242C47.6034 371.889 32.2475 381.716 35.8936 390.071C39.9199 399.297 58.6403 393.879 62.573 388.064C66.5057 382.249 69.2636 371.453 69.3616 368.579C65.6719 370.793 57.0311 373.243 53.1438 369.242Z" fill="url(#paint8_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M103.154 25.1702C162.208 25.1702 152.284 88.8236 152.284 111.823C152.284 134.657 148.103 185.001 115.894 187.931C83.838 191.182 66.2476 180.924 61.4918 152.888C56.2798 125.064 44.1 25.1702 103.154 25.1702Z" fill="#1F1845"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M103.154 25.1702C162.208 25.1702 152.284 88.8236 152.284 111.823C152.284 134.657 148.103 185.001 115.894 187.931C83.838 191.182 66.2476 180.924 61.4918 152.888C56.2798 125.064 44.1 25.1702 103.154 25.1702Z" fill="url(#paint9_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M29.6035 13.5832L19.9365 3.95848C17.9403 1.97099 14.7167 1.98388 12.7363 3.98727C12.0339 4.69782 11.5549 5.59975 11.3588 6.58109L3.57551 45.5258C3.23913 47.2089 3.76738 48.9491 4.98169 50.1581L14.6487 59.7829C16.6449 61.7703 19.8685 61.7575 21.8489 59.7541C22.5513 59.0435 23.0303 58.1416 23.2264 57.1602L31.0097 18.2155C31.3461 16.5324 30.8178 14.7922 29.6035 13.5832Z" fill="#1F1744"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M15.8418 2.50126C17.3019 2.35483 18.8135 2.83983 19.9366 3.95802L29.6036 13.5828C30.8179 14.7918 31.3462 16.5319 31.0098 18.2151L23.2265 57.1598C23.0304 58.1411 22.5514 59.0431 21.849 59.7536C20.8621 60.752 19.5665 61.256 18.2678 61.2645C22.7666 61.5551 25.6574 61.0515 26.9404 59.7536C27.6428 59.0431 28.1218 58.1411 28.3179 57.1598L36.1012 18.2151C36.4376 16.5319 35.9093 14.7918 34.695 13.5828L25.028 3.95802C23.6972 2.63303 20.6329 2.13895 15.8352 2.4758C15.8374 2.4843 15.8396 2.49278 15.8418 2.50126Z" fill="#50467F"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M4.71785 62.8831C5.12965 65.9794 5.44113 68.8374 5.65229 71.4571C17.0622 73.5174 21.6445 72.3252 19.399 67.8803C16.0788 62.1727 15.7587 63.4283 16.9363 61.0972C16.0993 60.8765 15.3072 60.4386 14.6487 59.783L10.9209 56.0715C9.56169 49.9236 5.08462 44.2512 7.35703 42.2419C10.0191 39.888 11.7851 45.4244 16.9952 42.2419C22.2052 39.0594 24.277 26.6519 20.5771 23.9041C16.8773 21.1563 7.65888 24.8136 4.8004 26.6519C1.94192 28.4903 2.68457 39.8783 0.568735 45.6073C-1.5471 51.3364 3.64137 53.6955 4.63401 62.2597C4.65904 62.4756 4.68704 62.6834 4.71785 62.8831Z" fill="#F9D2AB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M4.71785 62.8831C5.12965 65.9794 5.44113 68.8374 5.65229 71.4571C17.0622 73.5174 21.6445 72.3252 19.399 67.8803C16.0788 62.1727 15.7587 63.4283 16.9363 61.0972C16.0993 60.8765 15.3072 60.4386 14.6487 59.783L10.9209 56.0715C9.56169 49.9236 5.08462 44.2512 7.35703 42.2419C10.0191 39.888 11.7851 45.4244 16.9952 42.2419C22.2052 39.0594 24.277 26.6519 20.5771 23.9041C16.8773 21.1563 7.65888 24.8136 4.8004 26.6519C1.94192 28.4903 2.68457 39.8783 0.568735 45.6073C-1.5471 51.3364 3.64137 53.6955 4.63401 62.2597C4.65904 62.4756 4.68704 62.6834 4.71785 62.8831Z" fill="url(#paint10_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M61.6579 203.796C50.7594 232.201 48.7015 350.694 49.3605 363.859C49.4829 376.408 69.855 373.194 72.6099 369.153C74.991 364.474 86.3824 246.849 89.1385 246.869C91.7616 246.849 93.8419 361.966 96.3437 369.153C99.6041 375.702 115.742 374.117 118.14 369.153C121.513 363.551 138.455 244.968 120.209 203.796C118.216 199.3 64.1831 197.215 61.6579 203.796Z" fill="#1F1845"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M61.6579 203.796C50.7594 232.201 48.7015 350.694 49.3605 363.859C49.4829 376.408 69.855 373.194 72.6099 369.153C74.991 364.474 86.3824 246.849 89.1385 246.869C91.7616 246.849 93.8419 361.966 96.3437 369.153C99.6041 375.702 115.742 374.117 118.14 369.153C121.513 363.551 138.455 244.968 120.209 203.796C118.216 199.3 64.1831 197.215 61.6579 203.796Z" fill="url(#paint11_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M84.5686 124.085C78.0339 117.919 44.8423 114.641 36.7096 104.668C34.6979 96.7469 23.9984 73.6244 19.3989 67.8783C15.4436 62.6493 5.65213 66.2944 5.65213 71.4551C5.65213 76.6217 14.6454 116.554 21.4354 123.063C27.6073 128.544 46.5915 138.646 57.0751 145.035C56.9171 147.989 57.1869 151.602 57.5843 155.765C61.8326 184.956 65.5876 184.956 61.6574 203.796C57.7531 223.265 127.123 215.318 120.208 203.796C113.294 192.274 112.364 184.211 114.608 176.715C115.335 172.795 118.971 166.043 121.227 158.831C134.998 153.875 154.182 150.733 155.848 148.1C157.009 145.073 148.287 131.698 142.61 131.238C136.871 130.521 114.327 127.854 99.8428 126.129C98.1388 125.456 84.8586 124.712 84.5686 124.085Z" fill="#4556D8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M84.5686 124.085C78.0339 117.919 44.8423 114.641 36.7096 104.668C34.6979 96.7469 23.9984 73.6244 19.3989 67.8783C15.4436 62.6493 5.65213 66.2944 5.65213 71.4551C5.65213 76.6217 14.6454 116.554 21.4354 123.063C27.6073 128.544 46.5915 138.646 57.0751 145.035C56.9171 147.989 57.1869 151.602 57.5843 155.765C61.8326 184.956 65.5876 184.956 61.6574 203.796C57.7531 223.265 127.123 215.318 120.208 203.796C113.294 192.274 112.364 184.211 114.608 176.715C115.335 172.795 118.971 166.043 121.227 158.831C134.998 153.875 154.182 150.733 155.848 148.1C157.009 145.073 148.287 131.698 142.61 131.238C136.871 130.521 114.327 127.854 99.8428 126.129C98.1388 125.456 84.8586 124.712 84.5686 124.085Z" fill="url(#paint12_linear)"/>
<mask id="mask2" mask-type="alpha" maskUnits="userSpaceOnUse" x="5" y="65" width="151" height="151">
<path fill-rule="evenodd" clip-rule="evenodd" d="M84.5686 124.085C78.0339 117.919 44.8423 114.641 36.7096 104.668C34.6979 96.7469 23.9984 73.6244 19.3989 67.8783C15.4436 62.6493 5.65213 66.2944 5.65213 71.4551C5.65213 76.6217 14.6454 116.554 21.4354 123.063C27.6073 128.544 46.5915 138.646 57.0751 145.035C56.9171 147.989 57.1869 151.602 57.5843 155.765C61.8326 184.956 65.5876 184.956 61.6574 203.796C57.7531 223.265 127.123 215.318 120.208 203.796C113.294 192.274 112.364 184.211 114.608 176.715C115.335 172.795 118.971 166.043 121.227 158.831C134.998 153.875 154.182 150.733 155.848 148.1C157.009 145.073 148.287 131.698 142.61 131.238C136.871 130.521 114.327 127.854 99.8428 126.129C98.1388 125.456 84.8586 124.712 84.5686 124.085Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M84.5686 124.085C78.0339 117.919 44.8423 114.641 36.7096 104.668C34.6979 96.7469 23.9984 73.6244 19.3989 67.8783C15.4436 62.6493 5.65213 66.2944 5.65213 71.4551C5.65213 76.6217 14.6454 116.554 21.4354 123.063C27.6073 128.544 46.5915 138.646 57.0751 145.035C56.9171 147.989 57.1869 151.602 57.5843 155.765C61.8326 184.956 65.5876 184.956 61.6574 203.796C57.7531 223.265 127.123 215.318 120.208 203.796C113.294 192.274 112.364 184.211 114.608 176.715C115.335 172.795 118.971 166.043 121.227 158.831C134.998 153.875 154.182 150.733 155.848 148.1C157.009 145.073 148.287 131.698 142.61 131.238C136.871 130.521 114.327 127.854 99.8428 126.129C98.1388 125.456 84.8586 124.712 84.5686 124.085Z" stroke="white"/>
</mask>
<g mask="url(#mask2)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M78.9682 139.925C83.9276 141.667 89.4488 138.267 91.6967 132.261C93.4834 126.59 91.2329 120.524 86.6053 118.975C81.6459 117.234 76.1247 120.634 73.8768 126.64C72.0901 132.31 74.3406 138.377 78.9682 139.925Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M95.2607 142.481C99.9281 144.179 105.402 140.69 107.48 134.816C109.241 128.966 106.879 122.95 101.88 121.531C97.2122 119.833 91.7379 123.322 89.6602 129.196C87.899 135.046 90.2612 141.062 95.2607 142.481Z" fill="white"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M155.843 146.514C154.863 141.914 147.573 131.64 142.611 131.239C139.911 130.902 133.492 130.133 125.942 129.233C128.816 135.034 133.95 140.746 142.611 144.013C147.208 145.786 151.644 146.564 155.843 146.514Z" fill="url(#paint13_linear)"/>
<mask id="mask3" mask-type="alpha" maskUnits="userSpaceOnUse" x="125" y="129" width="31" height="18">
<path fill-rule="evenodd" clip-rule="evenodd" d="M155.843 146.514C154.863 141.914 147.573 131.64 142.611 131.239C139.911 130.902 133.492 130.133 125.942 129.233C128.816 135.034 133.95 140.746 142.611 144.013C147.208 145.786 151.644 146.564 155.843 146.514Z" fill="white"/>
</mask>
<g mask="url(#mask3)">
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M220 213.506C220.254 217.386 224.726 221.449 226.618 221.682C228.6 221.449 226.738 213.678 230.182 213.506C234.101 213.678 238.877 223.567 235.783 229.857C232.787 236.133 223.534 238.096 216.436 234.967C209.168 232.246 207.78 217.243 207.78 213.506C207.78 210.113 220.254 209.971 220 213.506Z" fill="#FAD2AB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M220 213.506C220.254 217.386 224.726 221.449 226.618 221.682C228.6 221.449 226.738 213.678 230.182 213.506C234.101 213.678 238.877 223.567 235.783 229.857C232.787 236.133 223.534 238.096 216.436 234.967C209.168 232.246 207.78 217.243 207.78 213.506C207.78 210.113 220.254 209.971 220 213.506Z" fill="url(#paint14_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M175.705 144.014C190.957 144.014 234.765 156.098 234.765 166.497C234.765 177.079 219.773 208.983 220 213.506C219.773 217.915 207.768 215.751 207.78 213.506C207.768 211.147 211.695 181.535 214.399 178.76C217.22 176.057 198.744 181.259 190.47 176.205C182.231 171.224 159.8 144.014 175.705 144.014Z" fill="#C5CBFF"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M175.705 144.014C190.957 144.014 234.765 156.098 234.765 166.497C234.765 177.079 219.773 208.983 220 213.506C219.773 217.915 207.768 215.751 207.78 213.506C207.768 211.147 211.695 181.535 214.399 178.76C217.22 176.057 198.744 181.259 190.47 176.205C182.231 171.224 159.8 144.014 175.705 144.014Z" fill="url(#paint15_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M101.863 105.359H81.0357V123.395C81.0357 129.147 85.6981 133.809 91.4495 133.809C97.2009 133.809 101.863 129.147 101.863 123.395V105.359Z" fill="#FBD3AC"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M101.863 105.359H81.0357V123.395C81.0357 129.147 85.6981 133.809 91.4495 133.809C97.2009 133.809 101.863 129.147 101.863 123.395V105.359Z" fill="url(#paint16_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M81.0357 118.996C83.5011 120.381 86.2972 121.448 89.4217 122.078C92.774 122.755 97.2066 122.739 101.863 121.651V105.359H81.0357V118.996Z" fill="url(#paint17_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M127.05 93.3292C127.009 87.3866 131.409 85.5461 131.409 81.7802C131.409 77.8067 127.4 76.1858 125.244 78.7298C125.201 78.6224 125.157 78.5164 125.113 78.4118C123.158 74.209 123.033 76.4947 108.509 72.4212C93.6291 67.0767 88.8425 55.1382 76.7503 60.3579C76.6856 62.5631 74.4217 69.5496 73.2172 74.6693C72.6915 76.9035 68.394 79.8039 67.4553 89.9038C66.5165 100.004 73.936 113.844 89.4217 116.969C98.5356 118.809 115.634 115.533 123.514 99.4841C125.29 99.3412 127.019 97.6132 127.05 93.3292Z" fill="#FFD8B0"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M127.05 93.3292C127.009 87.3866 131.409 85.5461 131.409 81.7802C131.409 77.8067 127.4 76.1858 125.244 78.7298C125.201 78.6224 125.157 78.5164 125.113 78.4118C123.158 74.209 123.033 76.4947 108.509 72.4212C93.6291 67.0767 88.8425 55.1382 76.7503 60.3579C76.6856 62.5631 74.4217 69.5496 73.2172 74.6693C72.6915 76.9035 68.394 79.8039 67.4553 89.9038C66.5165 100.004 73.936 113.844 89.4217 116.969C98.5356 118.809 115.634 115.533 123.514 99.4841C125.29 99.3412 127.019 97.6132 127.05 93.3292Z" fill="url(#paint18_linear)"/>
<mask id="mask4" mask-type="alpha" maskUnits="userSpaceOnUse" x="67" y="59" width="65" height="59">
<path fill-rule="evenodd" clip-rule="evenodd" d="M127.05 93.3292C127.009 87.3866 131.409 85.5461 131.409 81.7802C131.409 77.8067 127.4 76.1858 125.244 78.7298C125.201 78.6224 125.157 78.5164 125.113 78.4118C123.158 74.209 123.033 76.4947 108.509 72.4212C93.6291 67.0767 88.8425 55.1382 76.7503 60.3579C76.6856 62.5631 74.4217 69.5496 73.2172 74.6693C72.6915 76.9035 68.394 79.8039 67.4553 89.9038C66.5165 100.004 73.936 113.844 89.4217 116.969C98.5356 118.809 115.634 115.533 123.514 99.4841C125.29 99.3412 127.019 97.6132 127.05 93.3292Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M127.05 93.3292C127.009 87.3866 131.409 85.5461 131.409 81.7802C131.409 77.8067 127.4 76.1858 125.244 78.7298C125.201 78.6224 125.157 78.5164 125.113 78.4118C123.158 74.209 123.033 76.4947 108.509 72.4212C93.6291 67.0767 88.8425 55.1382 76.7503 60.3579C76.6856 62.5631 74.4217 69.5496 73.2172 74.6693C72.6915 76.9035 68.394 79.8039 67.4553 89.9038C66.5165 100.004 73.936 113.844 89.4217 116.969C98.5356 118.809 115.634 115.533 123.514 99.4841C125.29 99.3412 127.019 97.6132 127.05 93.3292Z" stroke="white"/>
</mask>
<g mask="url(#mask4)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M125.3 78.099C125.3 78.099 107.454 80.1028 96.8077 75.0804C86.1617 70.0579 81.3132 66.8749 68.8499 70.0226C56.3865 73.1702 75.9135 48.9738 75.9135 48.9738L122.754 56.1273L125.3 78.099Z" fill="url(#paint19_linear)"/>
</g>
<path d="M170.613 135.356H152.207V149.435C152.207 154.518 156.328 158.638 161.41 158.638C166.493 158.638 170.613 154.518 170.613 149.435V135.356Z" fill="#F9D2AB"/>
<path d="M170.613 135.356H152.207V149.435C152.207 154.518 156.328 158.638 161.41 158.638C166.493 158.638 170.613 154.518 170.613 149.435V135.356Z" fill="url(#paint20_linear)"/>
<mask id="mask5" mask-type="alpha" maskUnits="userSpaceOnUse" x="152" y="135" width="19" height="24">
<path d="M170.613 135.356H152.207V149.435C152.207 154.518 156.328 158.638 161.41 158.638C166.493 158.638 170.613 154.518 170.613 149.435V135.356Z" fill="white"/>
<path d="M170.613 135.356H152.207V149.435C152.207 154.518 156.328 158.638 161.41 158.638C166.493 158.638 170.613 154.518 170.613 149.435V135.356Z" stroke="white"/>
</mask>
<g mask="url(#mask5)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M170.613 136.599V130.245H152.208V142.897C154.516 143.48 156.774 143.814 158.973 143.922C157.679 145.83 156.443 148.341 154.703 151.9C149.344 162.859 152.036 169.81 147.505 176.714C142.974 183.618 137.845 196.134 142.925 204.594C148.005 213.055 157.619 211.392 159.66 204.594C161.701 197.796 150.421 190.214 158.919 176.714C167.417 163.214 186.767 144.605 172.854 135.837C172.059 136.103 171.314 136.355 170.613 136.599Z" fill="url(#paint21_linear)"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M177.945 135.838C190.999 144.064 174.771 160.954 165.698 174.158C165.101 175.028 154.67 172.55 155.142 170.354C156.235 165.259 156.049 159.558 159.794 151.901C165.152 140.942 165.728 139.921 177.945 135.838Z" fill="#403F9F"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M177.945 135.838C190.999 144.064 174.771 160.954 165.698 174.158C165.101 175.028 154.67 172.55 155.142 170.354C156.235 165.259 156.049 159.558 159.794 151.901C165.152 140.942 165.728 139.921 177.945 135.838Z" fill="url(#paint22_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M155.142 170.355C154.67 172.551 153.961 174.636 152.596 176.716C148.065 183.619 142.936 196.135 148.016 204.596C153.096 213.056 162.71 211.394 164.751 204.596C166.792 197.797 155.512 190.215 164.01 176.716C164.535 175.882 165.101 175.028 165.698 174.159C165.101 175.028 154.67 172.551 155.142 170.355V170.355Z" fill="#F8D1AB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M155.142 170.355C154.67 172.551 153.961 174.636 152.596 176.716C148.065 183.619 142.936 196.135 148.016 204.596C153.096 213.056 162.71 211.394 164.751 204.596C166.792 197.797 155.512 190.215 164.01 176.716C164.535 175.882 165.101 175.028 165.698 174.159C165.101 175.028 154.67 172.551 155.142 170.355V170.355Z" fill="url(#paint23_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M200.143 119.488C202.65 112.387 196.766 108.362 194.033 108.247C199.596 96.4406 201.668 80.7909 181.814 68.391C162.079 56.006 145.207 67.9778 138.537 84.742C132.733 99.2376 127.56 103.838 127.845 111.823C128.156 119.887 132.49 133.165 147.702 138.905C163.267 144.909 176.99 139.499 185.887 129.196C191.885 131.666 197.331 126.16 200.143 119.488Z" fill="#F9D2AB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M200.143 119.488C202.65 112.387 196.766 108.362 194.033 108.247C199.596 96.4406 201.668 80.7909 181.814 68.391C162.079 56.006 145.207 67.9778 138.537 84.742C132.733 99.2376 127.56 103.838 127.845 111.823C128.156 119.887 132.49 133.165 147.702 138.905C163.267 144.909 176.99 139.499 185.887 129.196C191.885 131.666 197.331 126.16 200.143 119.488Z" fill="url(#paint24_linear)"/>
<mask id="mask6" mask-type="alpha" maskUnits="userSpaceOnUse" x="127" y="63" width="74" height="79">
<path fill-rule="evenodd" clip-rule="evenodd" d="M200.143 119.488C202.65 112.387 196.766 108.362 194.034 108.247C199.596 96.4406 201.668 80.7909 181.814 68.3911C162.079 56.006 145.207 67.9778 138.537 84.742C132.733 99.2377 127.56 103.838 127.846 111.823C128.156 119.887 132.49 133.165 147.702 138.905C163.267 144.909 176.99 139.499 185.887 129.196C191.885 131.666 197.331 126.16 200.143 119.488Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M200.143 119.488C202.65 112.387 196.766 108.362 194.034 108.247C199.596 96.4406 201.668 80.7909 181.814 68.3911C162.079 56.006 145.207 67.9778 138.537 84.742C132.733 99.2377 127.56 103.838 127.846 111.823C128.156 119.887 132.49 133.165 147.702 138.905C163.267 144.909 176.99 139.499 185.887 129.196C191.885 131.666 197.331 126.16 200.143 119.488Z" stroke="white"/>
</mask>
<g mask="url(#mask6)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M197.102 109.511C197.102 109.511 201.668 80.7892 181.814 68.3894C162.694 56.39 146.261 67.2541 139.19 83.1886C141.398 84.509 143.966 85.2674 146.684 85.2674C148.32 85.2674 149.889 85.0243 151.357 84.5738C154.345 87.9111 158.541 90.2029 163.275 90.7596C165.719 97.5376 171.344 102.862 178.287 104.861C178.263 105.143 178.25 105.428 178.25 105.716C178.25 111.081 182.582 115.43 187.924 115.43C195.218 115.43 197.102 109.511 197.102 109.511Z" fill="url(#paint25_linear)"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M138.274 71.3054C135.67 73.1681 133.955 76.2221 133.955 79.6314C133.955 82.7511 135.225 85.4631 137.455 87.3539C137.812 86.5196 138.174 85.6498 138.538 84.741C139.636 81.9799 141.011 79.3489 142.63 76.9352C145.161 78.9527 148.348 80.1584 151.775 80.1584C153.411 80.1584 154.98 79.9153 156.448 79.4648C159.436 82.8021 163.632 85.0939 168.366 85.6506C170.81 92.4286 176.435 97.7526 183.379 99.7515C183.354 100.034 183.342 100.319 183.342 100.607C183.342 105.972 187.673 110.321 193.015 110.321C194.46 110.321 195.83 110.003 197.061 109.433C198.794 110.597 200.447 112.617 200.714 115.399C207.693 111.515 212.363 104.127 212.363 95.4952C212.363 92.4189 211.731 89.4797 210.587 86.8002C211.732 84.1199 212.363 81.1827 212.363 78.1135C212.363 65.2936 202.219 55.1082 189.451 55.1082C188.04 55.1082 186.657 55.2432 185.315 55.5015C181.862 51.1913 176.56 48.4623 170.613 48.4623C166.304 48.4623 162.333 49.8953 159.159 52.3246C156.981 51.166 154.469 50.5072 151.775 50.5072C143.735 50.5072 137.01 57.1448 137.01 65.3328C137.01 67.4577 137.463 69.4782 138.274 71.3054Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M138.274 71.3054C135.67 73.1681 133.955 76.2221 133.955 79.6314C133.955 82.7511 135.225 85.4631 137.455 87.3539C137.812 86.5196 138.174 85.6498 138.538 84.741C139.636 81.9799 141.011 79.3489 142.63 76.9352C145.161 78.9527 148.348 80.1584 151.775 80.1584C153.411 80.1584 154.98 79.9153 156.448 79.4648C159.436 82.8021 163.632 85.0939 168.366 85.6506C170.81 92.4286 176.435 97.7526 183.379 99.7515C183.354 100.034 183.342 100.319 183.342 100.607C183.342 105.972 187.673 110.321 193.015 110.321C194.46 110.321 195.83 110.003 197.061 109.433C198.794 110.597 200.447 112.617 200.714 115.399C207.693 111.515 212.363 104.127 212.363 95.4952C212.363 92.4189 211.731 89.4797 210.587 86.8002C211.732 84.1199 212.363 81.1827 212.363 78.1135C212.363 65.2936 202.219 55.1082 189.451 55.1082C188.04 55.1082 186.657 55.2432 185.315 55.5015C181.862 51.1913 176.56 48.4623 170.613 48.4623C166.304 48.4623 162.333 49.8953 159.159 52.3246C156.981 51.166 154.469 50.5072 151.775 50.5072C143.735 50.5072 137.01 57.1448 137.01 65.3328C137.01 67.4577 137.463 69.4782 138.274 71.3054Z" fill="url(#paint26_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="149.826" y1="0" x2="149.826" y2="43.1891" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="164.504" y1="373.949" x2="164.504" y2="394.387" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="216.945" y1="373.948" x2="216.945" y2="405.708" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="216.436" y1="201.242" x2="216.436" y2="378.548" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint4_linear" x1="209.817" y1="143.503" x2="209.817" y2="222.192" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint5_linear" x1="219.073" y1="202.187" x2="195.891" y2="208.21" gradientUnits="userSpaceOnUse">
<stop stop-color="#464D89" stop-opacity="0.3"/>
<stop offset="1" stop-color="#A7A7EE" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint6_linear" x1="196.203" y1="173.086" x2="136.92" y2="202.47" gradientUnits="userSpaceOnUse">
<stop stop-color="#464D89" stop-opacity="0.3"/>
<stop offset="1" stop-color="#A7A7EE" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint7_linear" x1="115.86" y1="368.579" x2="115.86" y2="399.84" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint8_linear" x1="69.3616" y1="368.579" x2="69.3616" y2="395.028" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint9_linear" x1="152.912" y1="25.1702" x2="152.912" y2="188.51" gradientUnits="userSpaceOnUse">
<stop stop-color="#1F1845" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint10_linear" x1="22.4539" y1="22.9151" x2="22.4539" y2="72.4359" gradientUnits="userSpaceOnUse">
<stop stop-color="#FF6663" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.05"/>
</linearGradient>
<linearGradient id="paint11_linear" x1="128.533" y1="199.606" x2="128.533" y2="373.491" gradientUnits="userSpaceOnUse">
<stop stop-color="#1F1845" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint12_linear" x1="155.953" y1="65.3328" x2="155.953" y2="215.603" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint13_linear" x1="170.793" y1="137.875" x2="155.818" y2="163.784" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.288581"/>
<stop offset="1" stop-color="#3E3D9C" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint14_linear" x1="236.801" y1="210.951" x2="236.801" y2="236.5" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint15_linear" x1="234.765" y1="144.014" x2="234.765" y2="216.061" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint16_linear" x1="101.863" y1="105.359" x2="101.863" y2="133.809" gradientUnits="userSpaceOnUse">
<stop stop-color="#FF6663" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.05"/>
</linearGradient>
<linearGradient id="paint17_linear" x1="91.4495" y1="96.7693" x2="108.314" y2="117.216" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.3"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint18_linear" x1="131.409" y1="59.0665" x2="131.409" y2="117.428" gradientUnits="userSpaceOnUse">
<stop stop-color="#FF6663" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.05"/>
</linearGradient>
<linearGradient id="paint19_linear" x1="98.6502" y1="39.3986" x2="118.975" y2="81.7087" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.2"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint20_linear" x1="170.613" y1="135.356" x2="170.613" y2="158.638" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint21_linear" x1="159.279" y1="90.2008" x2="220.182" y2="118.28" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.2"/>
<stop offset="1" stop-color="#FFC42C" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint22_linear" x1="182.833" y1="135.838" x2="182.833" y2="174.337" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint23_linear" x1="165.698" y1="170.355" x2="165.698" y2="210.335" gradientUnits="userSpaceOnUse">
<stop stop-color="#FF6663" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.05"/>
</linearGradient>
<linearGradient id="paint24_linear" x1="200.652" y1="63.2814" x2="200.652" y2="141.459" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint25_linear" x1="168.573" y1="37.2082" x2="220.351" y2="95.5572" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.3"/>
<stop offset="1" stop-color="#FFC42C" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint26_linear" x1="212.363" y1="48.4623" x2="212.363" y2="115.399" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.3"/>
</linearGradient>
</defs>
</svg>

</template>
