<template>
<svg width="270" height="291" viewBox="0 0 270 291" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M40.0481 222.192C-31.0164 247.267 1.02484 290.151 69.6803 290.151C138.336 290.151 259.479 275.867 269.566 249.029C279.654 222.192 111.113 197.117 40.0481 222.192Z" fill="#D7D7E8"/>
<rect x="50.9961" y="153.922" width="53.8524" height="96.0503" fill="#A7A7EE"/>
<rect x="50.9961" y="153.922" width="53.8524" height="96.0503" fill="url(#paint0_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M104.846 134.797C104.846 107.183 127.231 84.7974 154.846 84.7974H186.262C213.876 84.7974 236.262 107.183 236.262 134.797V153.921H104.846V134.797Z" fill="#403F9F"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M104.846 134.797C104.846 107.183 127.231 84.7974 154.846 84.7974H186.262C213.876 84.7974 236.262 107.183 236.262 134.797V153.921H104.846V134.797Z" fill="url(#paint1_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M139.788 136.559C150.255 117.282 158.946 94.443 151.05 94.443C137.507 94.443 128.897 101.564 124.59 116.743C123.109 121.966 121.921 127.113 120.965 131.698C120.965 131.698 125.127 134.247 130.284 135.239C135.44 136.232 139.788 136.559 139.788 136.559Z" fill="#F2F5F9"/>
<rect x="68.2812" y="183.661" width="57.4694" height="66.3108" fill="#A7A7EE"/>
<rect x="68.2812" y="183.661" width="57.4694" height="66.3108" fill="url(#paint2_linear)"/>
<path d="M33.3105 171.404C33.3105 161.749 41.1375 153.922 50.7925 153.922C60.4475 153.922 68.2744 161.749 68.2744 171.404V249.972H42.0424C37.2199 249.972 33.3105 246.063 33.3105 241.24V171.404Z" fill="#403F9F"/>
<path d="M33.3105 171.404C33.3105 161.749 41.1375 153.922 50.7925 153.922C60.4475 153.922 68.2744 161.749 68.2744 171.404V249.972H42.0424C37.2199 249.972 33.3105 246.063 33.3105 241.24V171.404Z" fill="url(#paint3_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M44.5647 260.019C37.2477 256.98 43.6612 246.677 50.9948 245.551C58.3808 244.316 63.1797 242.983 63.0513 237.916C63.1797 232.921 76.9171 236.824 77.1173 239.121C76.9171 241.617 80.0802 250.11 77.1173 251.58C73.7541 252.974 51.9565 262.793 44.5647 260.019Z" fill="#1F1845"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M44.5647 260.019C37.2477 256.98 43.6612 246.677 50.9948 245.551C58.3808 244.316 63.1797 242.983 63.0513 237.916C63.1797 232.921 76.9171 236.824 77.1173 239.121C76.9171 241.617 80.0802 250.11 77.1173 251.58C73.7541 252.974 51.9565 262.793 44.5647 260.019Z" fill="url(#paint4_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.7862 237.915C92.6788 238.731 95.1625 239.142 98.422 239.121C100.807 239.142 102.849 238.89 104.45 238.317C104.581 241.892 105.182 244.474 109.273 248.766C114.441 253.863 113.658 267.603 104.45 269.664C95.3959 271.08 89.064 253.863 89.9824 247.158C91.0296 243.191 91.0416 240.182 90.7862 237.915Z" fill="#1F1845"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M90.7862 237.915C92.6788 238.731 95.1625 239.142 98.422 239.121C100.807 239.142 102.849 238.89 104.45 238.317C104.581 241.892 105.182 244.474 109.273 248.766C114.441 253.863 113.658 267.603 104.45 269.664C95.3959 271.08 89.064 253.863 89.9824 247.158C91.0296 243.191 91.0416 240.182 90.7862 237.915Z" fill="url(#paint5_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M119.418 158.763C101.64 158.763 50.0186 157.785 43.5375 169.712C37.0563 181.639 55.4874 235.529 55.4874 237.983C55.4874 240.437 76.6603 239.711 80.2924 239.711C83.9246 239.711 69.2127 190.346 71.1465 187.542C73.0804 184.738 133.686 189.174 138.236 180.637C142.786 172.101 137.196 158.763 119.418 158.763Z" fill="#1F1845"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M119.418 158.763C101.64 158.763 50.0186 157.785 43.5375 169.712C37.0563 181.639 55.4874 235.529 55.4874 237.983C55.4874 240.437 76.6603 239.711 80.2924 239.711C83.9246 239.711 69.2127 190.346 71.1465 187.542C73.0804 184.738 133.686 189.174 138.236 180.637C142.786 172.101 137.196 158.763 119.418 158.763Z" fill="url(#paint6_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M155.114 161.913C137.336 161.913 104.744 155.969 98.2625 167.896C91.7813 179.823 86.7666 234.786 86.7666 237.24C86.7666 239.694 106.417 241.46 110.049 241.46C113.681 241.46 121.18 188.312 126.752 186.28C132.324 184.249 173.406 194.817 177.956 186.28C182.506 177.744 172.892 161.913 155.114 161.913Z" fill="#1F1845"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M162.611 95.6479H178.395C193.098 95.6479 190.605 110.913 190.605 125.617C190.605 140.32 183.62 161.557 183.62 161.557L129.82 161.037C129.82 161.037 129.627 139.245 131.436 125.036C133.246 110.827 143.141 95.6479 162.611 95.6479Z" fill="#F2F5F9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M117.605 148.421C118.16 147.139 119.137 140.44 120.959 131.698C123.734 133.397 126.841 134.577 130.278 135.239C130.337 135.25 130.395 135.261 130.454 135.273C130.134 139.926 129.932 145.02 129.845 150.555C126.305 151.251 123.189 152.005 121.825 152.719C120.748 153.283 116.93 156.469 115.45 158.776L113.133 149.275C115.697 149.083 117.418 148.855 117.605 148.421Z" fill="#FFD6AC"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M117.605 148.421C118.16 147.139 119.137 140.44 120.959 131.698C123.734 133.397 126.841 134.577 130.278 135.239C130.337 135.25 130.395 135.261 130.454 135.273C130.134 139.926 129.932 145.02 129.845 150.555C126.305 151.251 123.189 152.005 121.825 152.719C120.748 153.283 116.93 156.469 115.45 158.776L113.133 149.275C115.697 149.083 117.418 148.855 117.605 148.421Z" fill="url(#paint7_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M117.605 148.421C118.16 147.139 119.137 140.44 120.959 131.698C123.734 133.397 126.841 134.577 130.278 135.239C130.337 135.25 130.395 135.261 130.454 135.273C130.134 139.926 129.932 145.02 129.845 150.555C126.305 151.251 123.189 152.005 121.825 152.719C120.748 153.283 116.93 156.469 115.45 158.776L113.133 149.275C115.697 149.083 117.418 148.855 117.605 148.421Z" fill="url(#paint8_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M50.4846 116.948H103.239L115.296 166.38H58.3712C57.8154 166.38 57.3316 166 57.1999 165.46L46.5802 121.919C46.0543 119.763 47.376 117.589 49.5323 117.063C49.844 116.987 50.1638 116.948 50.4846 116.948Z" fill="#D6DFEA"/>
<circle cx="79.1296" cy="141.865" r="3.61695" fill="#F2F5F9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M115.839 160.352H151.269C152.933 160.352 154.283 161.701 154.283 163.366C154.283 165.03 152.933 166.38 151.269 166.38H112.487V163.085L101.71 118.9C101.504 118.054 102.023 117.2 102.87 116.993C102.992 116.963 103.118 116.948 103.244 116.948C104.423 116.948 105.45 117.755 105.729 118.9L115.839 160.352Z" fill="#B6C5D9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M201.305 153.921V102.279C201.305 92.6243 209.132 84.7974 218.787 84.7974C228.442 84.7974 236.269 92.6243 236.269 102.279V153.921H201.305Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M201.305 153.921V102.279C201.305 92.6243 209.132 84.7974 218.787 84.7974C228.442 84.7974 236.269 92.6243 236.269 102.279V153.921H201.305Z" fill="url(#paint9_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M236.267 153.922V239.972C236.267 245.495 231.79 249.972 226.267 249.972H143.432V153.922H236.267Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M236.267 153.922V239.972C236.267 245.495 231.79 249.972 226.267 249.972H143.432V153.922H236.267Z" fill="url(#paint10_linear)"/>
<path d="M125.746 171.404C125.746 161.749 133.573 153.922 143.228 153.922C152.883 153.922 160.71 161.749 160.71 171.404V249.972H125.746V171.404Z" fill="#403F9F"/>
<path d="M125.746 171.404C125.746 161.749 133.573 153.922 143.228 153.922C152.883 153.922 160.71 161.749 160.71 171.404V249.972H125.746V171.404Z" fill="url(#paint11_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M129.685 160.351H115.839L115.455 158.776C116.935 156.468 120.753 153.283 121.83 152.719C125.784 150.649 144.456 148.242 145.542 147.896C156.459 146.753 161.472 145.71 183.721 144.681C183.723 138.802 171.301 95.6668 178.094 95.6512C184.692 95.6668 201.827 95.7123 203.815 115.745C205.802 135.779 209.992 161.219 195.777 160.756C187.12 160.901 163.301 155.457 150.712 153.921H143.432C137.782 153.921 132.892 156.427 129.685 160.351Z" fill="#FFD6AC"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M129.685 160.351H115.839L115.455 158.776C116.935 156.468 120.753 153.283 121.83 152.719C125.784 150.649 144.456 148.242 145.542 147.896C156.459 146.753 161.472 145.71 183.721 144.681C183.723 138.802 171.301 95.6668 178.094 95.6512C184.692 95.6668 201.827 95.7123 203.815 115.745C205.802 135.779 209.992 161.219 195.777 160.756C187.12 160.901 163.301 155.457 150.712 153.921H143.432C137.782 153.921 132.892 156.427 129.685 160.351Z" fill="url(#paint12_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M182.099 136.617C178.982 122.367 172.255 95.6635 177.744 95.6512C184.52 95.6668 202.118 95.7123 204.159 115.745C204.78 121.84 205.611 128.434 206.054 134.648C206.124 135.617 202.632 137.363 194.059 137.847C185.485 138.331 182.099 136.617 182.099 136.617Z" fill="#F2F5F9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M151.064 64.7028H176.784L175.177 96.0498C175.021 103.251 169.062 108.91 161.914 108.91C154.992 108.91 149.456 103.408 149.456 96.4517C149.456 96.435 149.46 96.2489 149.456 96.0498L151.064 64.7028Z" fill="#FFD6AC"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M151.064 64.7028H176.784L175.177 96.0498C175.021 103.251 169.062 108.91 161.914 108.91C154.992 108.91 149.456 103.408 149.456 96.4517C149.456 96.435 149.46 96.2489 149.456 96.0498L151.064 64.7028Z" fill="url(#paint13_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M175.986 80.3762C170.691 87.793 161.441 92.8346 155.49 92.8346C153.983 92.8346 151.981 92.396 149.863 91.629L151.069 64.7028H176.789L175.986 80.3762Z" fill="url(#paint14_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M151.67 18.4867C165.32 18.4867 176.386 29.5524 176.386 43.2026V64.1005C176.386 77.7507 160.198 88.8164 151.67 88.8164C143.141 88.8164 126.954 77.7507 126.954 64.1005C126.954 64.1005 128.16 54.6435 128.16 53.9275C128.16 53.2114 126.954 43.2026 126.954 43.2026C126.954 29.5524 138.02 18.4867 151.67 18.4867Z" fill="#FFD6AC"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M151.67 18.4867C165.32 18.4867 176.386 29.5524 176.386 43.2026V64.1005C176.386 77.7507 160.198 88.8164 151.67 88.8164C143.141 88.8164 126.954 77.7507 126.954 64.1005C126.954 64.1005 128.16 54.6435 128.16 53.9275C128.16 53.2114 126.954 43.2026 126.954 43.2026C126.954 29.5524 138.02 18.4867 151.67 18.4867Z" fill="url(#paint15_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M176.313 73.9429L176.787 64.7033L176.385 57.8185C172.311 55.5554 169.553 51.208 169.553 46.2166C169.553 45.1031 169.69 44.0216 169.949 42.9882C169.751 42.9971 169.552 43.0016 169.352 43.0016C162.626 43.0016 157.087 37.9172 156.37 31.3821C154.349 32.3885 152.071 32.9545 149.66 32.9545C146.077 32.9545 142.786 31.704 140.199 29.6156C139.062 30.2082 137.769 30.5432 136.398 30.5432C134.56 30.5432 132.863 29.9415 131.492 28.9243C129.468 31.7799 128.035 35.084 127.37 38.6584C124.164 35.9309 122.131 31.867 122.131 27.3281C122.131 19.5986 128.028 13.2466 135.569 12.5264C137.73 6.84806 143.224 2.81319 149.66 2.81319C152.348 2.81319 154.872 3.51702 157.057 4.75046C160.304 1.79892 164.618 0 169.352 0C179.063 0 187.006 7.57008 187.602 17.1311C194.71 18.4371 200.096 24.6649 200.096 32.1507C200.096 36.3481 198.403 40.15 195.662 42.9105C195.933 43.9674 196.077 45.0752 196.077 46.2166C196.077 50.6193 193.932 54.521 190.63 56.9332C190.776 57.7596 190.853 58.6103 190.853 59.4788C190.853 67.359 184.162 73.7677 176.313 73.9429Z" fill="#1F1845"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M176.313 73.9429L176.787 64.7033L176.385 57.8185C172.311 55.5554 169.553 51.208 169.553 46.2166C169.553 45.1031 169.69 44.0216 169.949 42.9882C169.751 42.9971 169.552 43.0016 169.352 43.0016C162.626 43.0016 157.087 37.9172 156.37 31.3821C154.349 32.3885 152.071 32.9545 149.66 32.9545C146.077 32.9545 142.786 31.704 140.199 29.6156C139.062 30.2082 137.769 30.5432 136.398 30.5432C134.56 30.5432 132.863 29.9415 131.492 28.9243C129.468 31.7799 128.035 35.084 127.37 38.6584C124.164 35.9309 122.131 31.867 122.131 27.3281C122.131 19.5986 128.028 13.2466 135.569 12.5264C137.73 6.84806 143.224 2.81319 149.66 2.81319C152.348 2.81319 154.872 3.51702 157.057 4.75046C160.304 1.79892 164.618 0 169.352 0C179.063 0 187.006 7.57008 187.602 17.1311C194.71 18.4371 200.096 24.6649 200.096 32.1507C200.096 36.3481 198.403 40.15 195.662 42.9105C195.933 43.9674 196.077 45.0752 196.077 46.2166C196.077 50.6193 193.932 54.521 190.63 56.9332C190.776 57.7596 190.853 58.6103 190.853 59.4788C190.853 67.359 184.162 73.7677 176.313 73.9429Z" fill="url(#paint16_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M173.573 67.5165C168.596 67.4308 168.911 49.3477 173.573 49.4318C178.628 49.5175 182.497 53.6344 182.414 58.2732C182.323 63.6215 178.313 67.6007 173.573 67.5165Z" fill="#FFD6AC"/>
<circle cx="174.78" cy="58.675" r="3.21507" fill="url(#paint17_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M170.501 51.0315C170.128 51.0367 169.506 51.0394 169.353 51.0394C162.627 51.0394 157.088 45.955 156.37 39.4199C154.35 40.4263 152.071 40.9923 149.661 40.9923C146.077 40.9923 142.786 39.7418 140.2 37.6534C139.062 38.246 137.77 38.581 136.398 38.581C134.561 38.581 132.863 37.9793 131.493 36.9621C129.469 39.817 128.036 43.1201 127.371 46.6934C127.247 45.6433 127.108 44.4797 126.954 43.2026C126.954 37.8835 128.634 32.9568 131.493 28.9244C132.863 29.9416 134.561 30.5433 136.398 30.5433C137.77 30.5433 139.062 30.2083 140.2 29.6157C142.786 31.7041 146.077 32.9546 149.661 32.9546C152.071 32.9546 154.35 32.3886 156.37 31.3822C157.088 37.9173 162.627 43.0017 169.353 43.0017C169.553 43.0017 169.752 42.9972 169.95 42.9883C169.691 44.0217 169.862 45.151 169.95 46.2637C170.345 51.2878 170.616 51.0299 170.501 51.0315Z" fill="url(#paint18_linear)"/>
<path d="M129.851 150.58C130.005 140.647 130.534 132.133 131.438 125.036" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M183.716 144.682C183.717 142.383 181.82 134.393 179.914 125.51" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<defs>
<linearGradient id="paint0_linear" x1="50.9961" y1="153.922" x2="50.9961" y2="249.972" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#403F9F" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="104.846" y1="84.7974" x2="104.846" y2="153.921" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="68.2812" y1="183.661" x2="68.2812" y2="249.972" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#403F9F" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="33.3105" y1="153.922" x2="33.3105" y2="249.972" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint4_linear" x1="41.3496" y1="235.504" x2="41.3496" y2="260.421" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint5_linear" x1="89.9824" y1="237.915" x2="89.9824" y2="269.664" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint6_linear" x1="101.503" y1="132.845" x2="22.1739" y2="169.535" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.5"/>
<stop offset="1" stop-color="#1F1845"/>
</linearGradient>
<linearGradient id="paint7_linear" x1="84.752" y1="131.698" x2="84.752" y2="163.952" gradientUnits="userSpaceOnUse">
<stop stop-color="#C74D75" stop-opacity="0.01"/>
<stop offset="1" stop-color="#AF3B6E" stop-opacity="0.05"/>
</linearGradient>
<linearGradient id="paint8_linear" x1="153.304" y1="155.888" x2="140.653" y2="120.035" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.5"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint9_linear" x1="201.305" y1="84.7974" x2="201.305" y2="153.921" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#403F9F" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint10_linear" x1="143.432" y1="153.922" x2="143.432" y2="249.972" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#403F9F" stop-opacity="0.3"/>
</linearGradient>
<linearGradient id="paint11_linear" x1="125.746" y1="153.922" x2="125.746" y2="249.972" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint12_linear" x1="115.455" y1="95.6512" x2="115.455" y2="160.763" gradientUnits="userSpaceOnUse">
<stop stop-color="#C74D75" stop-opacity="0.01"/>
<stop offset="1" stop-color="#AF3B6E" stop-opacity="0.05"/>
</linearGradient>
<linearGradient id="paint13_linear" x1="149.456" y1="64.7028" x2="149.456" y2="108.91" gradientUnits="userSpaceOnUse">
<stop stop-color="#C74D75" stop-opacity="0.01"/>
<stop offset="1" stop-color="#AF3B6E" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint14_linear" x1="161.18" y1="102.416" x2="189.075" y2="79.9728" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.1"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint15_linear" x1="127.6" y1="20.3236" x2="127.6" y2="88.8164" gradientUnits="userSpaceOnUse">
<stop stop-color="#C74D75" stop-opacity="0.01"/>
<stop offset="1" stop-color="#AF3B6E" stop-opacity="0.05"/>
</linearGradient>
<linearGradient id="paint16_linear" x1="122.131" y1="0" x2="122.131" y2="73.9429" gradientUnits="userSpaceOnUse">
<stop stop-color="#1F1845" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint17_linear" x1="174.78" y1="52.2449" x2="168.349" y2="58.675" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.2"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint18_linear" x1="138.065" y1="26.9247" x2="127.752" y2="51.376" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.1"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.01"/>
</linearGradient>
</defs>
</svg>

</template>