<template>
<svg width="210" height="374" viewBox="0 0 210 374" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M209.277 357.858C200.467 334.914 121.245 321.556 66.7569 321.556C12.1621 321.556 -25.6813 345.355 23.4133 361.075C72.2233 376.802 217.377 380.739 209.277 357.858Z" fill="#D7D7E8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M167.673 202.504C170.264 208.617 173.835 216.083 170.944 223.08C168.054 230.078 161.604 234.144 161.604 228.612C161.604 223.08 162.931 218.723 162.276 216.437C161.62 214.152 161.62 219.583 159.58 219.583C157.539 219.583 158.739 203.977 158.739 203.977C158.739 203.977 165.081 196.391 167.673 202.504Z" fill="#FACDA5"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M167.673 202.504C170.264 208.617 173.835 216.083 170.944 223.08C168.054 230.078 161.604 234.144 161.604 228.612C161.604 223.08 162.931 218.723 162.276 216.437C161.62 214.152 161.62 219.583 159.58 219.583C157.539 219.583 158.739 203.977 158.739 203.977C158.739 203.977 165.081 196.391 167.673 202.504Z" fill="url(#paint0_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M150.234 163.294C151.081 168.229 154.203 200.869 156.651 203.627C159.814 207.189 165.077 207.189 168.527 203.627C175.063 196.878 172.384 152.509 169.859 138.78C167.334 125.05 159.12 112.402 159.12 112.402C159.12 112.402 148.161 151.217 150.234 163.294Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M150.234 163.294C151.081 168.229 154.203 200.869 156.651 203.627C159.814 207.189 165.077 207.189 168.527 203.627C175.063 196.878 172.384 152.509 169.859 138.78C167.334 125.05 159.12 112.402 159.12 112.402C159.12 112.402 148.161 151.217 150.234 163.294Z" fill="url(#paint1_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M150.234 163.294C151.081 168.229 154.203 200.869 156.651 203.627C159.814 207.189 165.077 207.189 168.527 203.627C175.063 196.878 172.384 152.509 169.859 138.78C167.334 125.05 159.12 112.402 159.12 112.402C159.12 112.402 148.161 151.217 150.234 163.294Z" fill="url(#paint2_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M133.523 358.143C117.946 355.334 110.413 352.01 110.413 345.616C110.413 340.972 118.823 338.453 125.351 339.869C125.351 339.869 145.659 351.525 147.466 351.316C147.282 357.011 145.501 360.303 133.523 358.143Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M133.523 358.143C117.946 355.334 110.413 352.01 110.413 345.616C110.413 340.972 118.823 338.453 125.351 339.869C125.351 339.869 145.659 351.525 147.466 351.316C147.282 357.011 145.501 360.303 133.523 358.143Z" fill="url(#paint3_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M76.2601 357.649C60.6832 354.84 53.1504 351.516 53.1504 345.122C53.1504 341.144 59.3238 338.724 65.1977 339.004C65.1312 339.773 87.5054 350.597 90.2199 349.947C90.1727 356.173 88.8398 359.917 76.2601 357.649Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M76.2601 357.649C60.6832 354.84 53.1504 351.516 53.1504 345.122C53.1504 341.144 59.3238 338.724 65.1977 339.004C65.1312 339.773 87.5054 350.597 90.2199 349.947C90.1727 356.173 88.8398 359.917 76.2601 357.649Z" fill="url(#paint4_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M151.877 189.936C156.814 217.033 156.814 346.257 156.814 346.257C156.814 346.257 155.736 351.629 141.264 351.629C126.793 351.629 125.715 346.257 125.715 346.257L119.297 233.985L96.0963 346.257C96.0963 346.257 92.5781 351.643 79.7767 350.21C66.9752 348.776 64.9971 341.32 64.9971 341.32C64.9971 341.32 77.7433 193.375 85.2363 180.267C92.4628 167.664 146.941 162.838 151.877 189.936Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M151.877 189.936C156.814 217.033 156.814 346.257 156.814 346.257C156.814 346.257 155.736 351.629 141.264 351.629C126.793 351.629 125.715 346.257 125.715 346.257L119.297 233.985L96.0963 346.257C96.0963 346.257 92.5781 351.643 79.7767 350.21C66.9752 348.776 64.9971 341.32 64.9971 341.32C64.9971 341.32 77.7433 193.375 85.2363 180.267C92.4628 167.664 146.941 162.838 151.877 189.936Z" fill="url(#paint5_linear)"/>
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="64" y="170" width="93" height="182">
<path fill-rule="evenodd" clip-rule="evenodd" d="M151.877 189.936C156.814 217.033 156.814 346.257 156.814 346.257C156.814 346.257 155.736 351.629 141.264 351.629C126.793 351.629 125.715 346.257 125.715 346.257L119.297 233.985L96.0963 346.257C96.0963 346.257 92.5781 351.643 79.7767 350.21C66.9752 348.776 64.9971 341.32 64.9971 341.32C64.9971 341.32 77.7433 193.375 85.2363 180.267C92.4628 167.664 146.941 162.838 151.877 189.936Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M151.877 189.936C156.814 217.033 156.814 346.257 156.814 346.257C156.814 346.257 155.736 351.629 141.264 351.629C126.793 351.629 125.715 346.257 125.715 346.257L119.297 233.985L96.0963 346.257C96.0963 346.257 92.5781 351.643 79.7767 350.21C66.9752 348.776 64.9971 341.32 64.9971 341.32C64.9971 341.32 77.7433 193.375 85.2363 180.267C92.4628 167.664 146.941 162.838 151.877 189.936Z" stroke="white"/>
</mask>
<g mask="url(#mask0)">
<path d="M118.138 245.282C118.094 245.551 117.84 245.733 117.571 245.689C117.302 245.645 117.12 245.391 117.164 245.122L121.884 216.479C121.929 216.21 122.183 216.028 122.452 216.073C122.721 216.117 122.903 216.371 122.859 216.64L118.138 245.282Z" fill="white"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M116.337 81.3027H141.019V103.023H116.337V81.3027Z" fill="#FACDA5"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M116.337 81.3027H141.019V103.023H116.337V81.3027Z" fill="url(#paint6_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M34.8855 89.2007C33.7976 84.3054 33.0202 80.8703 32.4173 79.8216C30.1301 76.5819 23.4121 69.6983 26.9873 65.0124C31.0581 60.5691 36.9559 61.1826 36.86 58.5951C36.9559 56.1101 30.9281 45.3729 33.4046 43.7859C35.9676 42.5007 42.8022 60.9523 45.2519 62.0506C47.5267 63.1596 50.8509 61.5475 50.6819 65.0124C50.8509 68.7198 45.5134 75.9506 46.2392 79.8216C46.4663 80.946 47.0688 82.9806 47.7201 85.7452C43.4417 83.9538 37.3559 85.4264 34.8855 89.2007Z" fill="#FACDA5"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M34.8855 89.2007C33.7976 84.3054 33.0202 80.8703 32.4173 79.8216C30.1301 76.5819 23.4121 69.6983 26.9873 65.0124C31.0581 60.5691 36.9559 61.1826 36.86 58.5951C36.9559 56.1101 30.9281 45.3729 33.4046 43.7859C35.9676 42.5007 42.8022 60.9523 45.2519 62.0506C47.5267 63.1596 50.8509 61.5475 50.6819 65.0124C50.8509 68.7198 45.5134 75.9506 46.2392 79.8216C46.4663 80.946 47.0688 82.9806 47.7201 85.7452C43.4417 83.9538 37.3559 85.4264 34.8855 89.2007Z" fill="url(#paint7_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M95.6203 101.888C99.8143 99.9523 106.376 97.9896 113.867 97.0224V92.1197C113.867 91.3018 114.53 90.6388 115.348 90.6388C115.455 90.6388 115.562 90.6504 115.666 90.6733C118.685 91.337 123.022 91.6688 128.677 91.6688C134.331 91.6688 138.668 91.337 141.687 90.6733C142.486 90.4977 143.276 91.0029 143.451 91.8018C143.474 91.9062 143.486 92.0128 143.486 92.1197V100.044C149.549 102.534 155.06 106.479 159.282 112.402C168.719 125.64 161.908 173.99 152.371 187.928C142.383 202.331 94.4957 202.331 82.7681 187.928C76.9293 181.141 78.5194 161.272 81.9793 142.513C71.9796 145.304 60.3798 147.137 53.1498 145.475C42.3156 143.254 33.5225 100.684 33.5225 92.378C33.5225 84.0723 47.3113 81.2407 51.7371 87.9788C56.1629 94.7169 62.3685 113.858 62.3685 116.391C62.3685 118.925 83.7632 106.856 95.32 102.006C95.4211 101.964 95.5212 101.925 95.6203 101.888H95.6203Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M95.6203 101.888C99.8143 99.9523 106.376 97.9896 113.867 97.0224V92.1197C113.867 91.3018 114.53 90.6388 115.348 90.6388C115.455 90.6388 115.562 90.6504 115.666 90.6733C118.685 91.337 123.022 91.6688 128.677 91.6688C134.331 91.6688 138.668 91.337 141.687 90.6733C142.486 90.4977 143.276 91.0029 143.451 91.8018C143.474 91.9062 143.486 92.0128 143.486 92.1197V100.044C149.549 102.534 155.06 106.479 159.282 112.402C168.719 125.64 161.908 173.99 152.371 187.928C142.383 202.331 94.4957 202.331 82.7681 187.928C76.9293 181.141 78.5194 161.272 81.9793 142.513C71.9796 145.304 60.3798 147.137 53.1498 145.475C42.3156 143.254 33.5225 100.684 33.5225 92.378C33.5225 84.0723 47.3113 81.2407 51.7371 87.9788C56.1629 94.7169 62.3685 113.858 62.3685 116.391C62.3685 118.925 83.7632 106.856 95.32 102.006C95.4211 101.964 95.5212 101.925 95.6203 101.888H95.6203Z" fill="url(#paint8_linear)"/>
<mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="33" y="84" width="131" height="115">
<path fill-rule="evenodd" clip-rule="evenodd" d="M95.6203 101.888C99.8143 99.9523 106.376 97.9896 113.867 97.0224V92.1197C113.867 91.3018 114.53 90.6388 115.348 90.6388C115.455 90.6388 115.562 90.6504 115.666 90.6733C118.685 91.337 123.022 91.6688 128.677 91.6688C134.331 91.6688 138.668 91.337 141.687 90.6733C142.486 90.4977 143.276 91.0029 143.451 91.8018C143.474 91.9062 143.486 92.0128 143.486 92.1197V100.044C149.549 102.534 155.06 106.479 159.282 112.402C168.719 125.64 161.908 173.99 152.371 187.928C142.383 202.331 94.4957 202.331 82.7681 187.928C76.9293 181.141 78.5194 161.272 81.9793 142.513C71.9796 145.304 60.3798 147.137 53.1498 145.475C42.3156 143.254 33.5225 100.684 33.5225 92.378C33.5225 84.0723 47.3113 81.2407 51.7371 87.9788C56.1629 94.7169 62.3685 113.858 62.3685 116.391C62.3685 118.925 83.7632 106.856 95.32 102.006C95.4211 101.964 95.5212 101.925 95.6203 101.888H95.6203Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M95.6203 101.888C99.8143 99.9523 106.376 97.9896 113.867 97.0224V92.1197C113.867 91.3018 114.53 90.6388 115.348 90.6388C115.455 90.6388 115.562 90.6504 115.666 90.6733C118.685 91.337 123.022 91.6688 128.677 91.6688C134.331 91.6688 138.668 91.337 141.687 90.6733C142.486 90.4977 143.276 91.0029 143.451 91.8018C143.474 91.9062 143.486 92.0128 143.486 92.1197V100.044C149.549 102.534 155.06 106.479 159.282 112.402C168.719 125.64 161.908 173.99 152.371 187.928C142.383 202.331 94.4957 202.331 82.7681 187.928C76.9293 181.141 78.5194 161.272 81.9793 142.513C71.9796 145.304 60.3798 147.137 53.1498 145.475C42.3156 143.254 33.5225 100.684 33.5225 92.378C33.5225 84.0723 47.3113 81.2407 51.7371 87.9788C56.1629 94.7169 62.3685 113.858 62.3685 116.391C62.3685 118.925 83.7632 106.856 95.32 102.006C95.4211 101.964 95.5212 101.925 95.6203 101.888H95.6203Z" stroke="white"/>
</mask>
<g mask="url(#mask1)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M82.7476 187.918C75.182 180.07 81.772 143.508 81.772 143.508C81.772 143.508 86.9642 141.751 94.6716 137.918C96.1542 137.18 96.9315 202.63 82.7476 187.918Z" fill="url(#paint9_linear)"/>
<path d="M75.8331 145.089C75.5682 145.154 75.3012 144.991 75.2368 144.726C75.1723 144.461 75.3348 144.194 75.5997 144.13C83.1414 142.296 91.6072 139.637 94.2075 137.947C94.4361 137.798 94.7418 137.863 94.8904 138.092C95.039 138.32 94.9741 138.626 94.7455 138.775C92.012 140.551 83.501 143.224 75.8331 145.089Z" fill="white"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M145.608 8.56606C161.687 13.482 170.954 33.1307 166.062 49.1322C161.544 61.6649 156.346 70.9797 150.469 77.0767C141.653 86.2222 127.886 91.4246 114.72 87.4311C101.553 83.4377 92.7419 68.5312 96.8537 57.3804C100.966 46.2297 102.739 44.7532 104.261 37.4048C104.766 34.9668 103.018 29.7239 108.131 19.9676C113.244 10.2113 129.529 3.65016 145.608 8.56606Z" fill="#FACDA5"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M145.608 8.56606C161.687 13.482 170.954 33.1307 166.062 49.1322C161.544 61.6649 156.346 70.9797 150.469 77.0767C141.653 86.2222 127.886 91.4246 114.72 87.4311C101.553 83.4377 92.7419 68.5312 96.8537 57.3804C100.966 46.2297 102.739 44.7532 104.261 37.4048C104.766 34.9668 103.018 29.7239 108.131 19.9676C113.244 10.2113 129.529 3.65016 145.608 8.56606Z" fill="url(#paint10_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M128.676 53.6587C119.239 53.8446 112.889 48.3605 107.944 40.824C106.618 38.9692 105.329 35.3323 104.491 31.1834C104.649 29.6604 104.976 27.8812 105.64 25.8145C106.33 28.0025 107.13 29.8127 107.944 30.9513C112.889 38.4877 119.239 43.9718 128.676 43.7859C135.738 43.9386 136.423 51.0342 133.791 55.8639C132.744 54.5667 131.079 53.7106 128.676 53.6587Z" fill="url(#paint11_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M116.336 1.82679C98.532 -7.89315 102.985 24.0098 107.945 30.9515C112.891 38.4879 119.241 43.972 128.677 43.7861C137.272 43.972 136.421 54.4429 131.639 58.5952C126.455 62.9734 120.84 72.8331 125.222 79.8217C129.604 86.8102 138.824 89.3965 153.359 79.8217C167.982 70.6557 183.176 40.9857 165.7 21.0787C148.611 1.60254 133.827 11.0982 116.336 1.82679Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M116.336 1.82679C98.532 -7.89315 102.985 24.0098 107.945 30.9515C112.891 38.4879 119.241 43.972 128.677 43.7861C137.272 43.972 136.421 54.4429 131.639 58.5952C126.455 62.9734 120.84 72.8331 125.222 79.8217C129.604 86.8102 138.824 89.3965 153.359 79.8217C167.982 70.6557 183.176 40.9857 165.7 21.0787C148.611 1.60254 133.827 11.0982 116.336 1.82679Z" fill="url(#paint12_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="158.295" y1="199.776" x2="158.295" y2="231.193" gradientUnits="userSpaceOnUse">
<stop stop-color="#FEDFBB" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="149.904" y1="112.402" x2="149.904" y2="206.298" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="151.832" y1="196.544" x2="172.109" y2="196.814" gradientUnits="userSpaceOnUse">
<stop stop-color="#464D89" stop-opacity="0.6"/>
<stop offset="1" stop-color="#A7A7EE" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="110.413" y1="339.475" x2="110.413" y2="358.811" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint4_linear" x1="53.1504" y1="338.982" x2="53.1504" y2="358.317" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint5_linear" x1="64.9971" y1="170.157" x2="64.9971" y2="351.629" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint6_linear" x1="116.337" y1="81.3027" x2="116.337" y2="103.023" gradientUnits="userSpaceOnUse">
<stop stop-color="#FEDFBB" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint7_linear" x1="26" y1="43.7859" x2="26" y2="133.628" gradientUnits="userSpaceOnUse">
<stop stop-color="#FEDFBB" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint8_linear" x1="33.5225" y1="84.2179" x2="33.5225" y2="198.73" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint9_linear" x1="87.0712" y1="111.831" x2="56.726" y2="121.566" gradientUnits="userSpaceOnUse">
<stop stop-color="#464D89" stop-opacity="0.3"/>
<stop offset="1" stop-color="#A7A7EE" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint10_linear" x1="95.835" y1="6.89429" x2="95.835" y2="88.7913" gradientUnits="userSpaceOnUse">
<stop stop-color="#FEDFBB" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint11_linear" x1="96.0459" y1="57.2965" x2="135.438" y2="67.8636" gradientUnits="userSpaceOnUse">
<stop stop-color="#FACDA5" stop-opacity="0"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint12_linear" x1="103.538" y1="0" x2="103.538" y2="86.0704" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
</defs>
</svg>


</template>