<template>
<svg width="300" height="367" viewBox="0 0 300 367" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M254.663 339.395C244.664 316.943 164.852 307.749 110.438 310.601C55.9182 313.458 19.3723 339.205 69.2223 352.335C118.789 365.485 263.95 361.82 254.663 339.395Z" fill="#D7D7E8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M97.6716 0H210.715C224.458 0 235.599 11.1408 235.599 24.8836V302.869C235.599 316.612 224.458 327.753 210.715 327.753H97.6716C83.9287 327.753 72.7878 316.612 72.7878 302.869V24.8836C72.7878 11.1408 83.9287 0 97.6716 0Z" fill="#1C2321"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M111.715 9.80273C111.715 9.80273 113.846 9.80273 113.846 11.9348C113.846 18.4163 118.088 21.1735 124.501 21.1735C134.992 21.1735 175.835 21.1735 183.46 21.1735C190.32 21.1735 194.115 18.4163 194.115 11.9348C194.115 9.80273 196.246 9.80273 196.246 9.80273L211.163 9.80273C219.009 9.80273 225.37 16.1663 225.37 24.0162V303.31C225.37 311.16 219.009 317.524 211.163 317.524H96.7977C88.9515 317.524 82.5908 311.16 82.5908 303.31V24.0162C82.5908 16.1663 88.9515 9.80273 96.7977 9.80273L111.715 9.80273Z" fill="white"/>
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="82" y="9" width="144" height="309">
<path fill-rule="evenodd" clip-rule="evenodd" d="M111.715 9.80273C111.715 9.80273 113.846 9.80273 113.846 11.9348C113.846 18.4163 118.088 21.1735 124.501 21.1735C134.992 21.1735 175.835 21.1735 183.46 21.1735C190.32 21.1735 194.115 18.4163 194.115 11.9348C194.115 9.80273 196.246 9.80273 196.246 9.80273L211.163 9.80273C219.009 9.80273 225.37 16.1663 225.37 24.0162V303.31C225.37 311.16 219.009 317.524 211.163 317.524H96.7977C88.9515 317.524 82.5908 311.16 82.5908 303.31V24.0162C82.5908 16.1663 88.9515 9.80273 96.7977 9.80273L111.715 9.80273Z" fill="white"/>
</mask>
<g mask="url(#mask0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M225.37 6.05981V329.365C225.37 329.887 225.23 330.31 225.059 330.31H82.9016C82.7298 330.31 82.5906 329.887 82.5906 329.365V6.05981C82.5906 5.53771 82.7298 5.11447 82.9016 5.11447L225.059 5.11447C225.23 5.11447 225.37 5.53771 225.37 6.05981Z" fill="#8D93CD"/>
<mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="82" y="5" width="144" height="326">
<path fill-rule="evenodd" clip-rule="evenodd" d="M225.37 6.05981V329.365C225.37 329.887 225.23 330.31 225.059 330.31H82.9016C82.7298 330.31 82.5906 329.887 82.5906 329.365V6.05981C82.5906 5.53771 82.7298 5.11447 82.9016 5.11447L225.059 5.11447C225.23 5.11447 225.37 5.53771 225.37 6.05981Z" fill="white"/>
</mask>
<g mask="url(#mask1)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M278.519 366.175C270.065 339.91 308.809 252.833 294.701 230.68C280.592 208.527 236.121 267.535 220.91 218.755C205.699 169.975 217.282 146.643 197.716 135.138C178.149 123.633 181.819 211.854 161.56 191.954C141.3 172.053 158.99 106.613 138.792 98.2177C118.595 89.822 127.988 134.386 112.746 140.292C97.5044 146.197 100.498 88.2543 85.8258 75.0259C71.1531 61.7976 49.1 82.8619 65.5894 135.138C82.0787 187.414 28.1289 135.091 17.0889 159.286C6.04884 183.482 93.4675 194.143 85.8258 218.755C78.1841 243.367 -25.9268 199.95 -4.41894 248.921C17.0889 297.892 112.746 241.395 112.746 279.289C112.746 317.184 65.5894 287.686 65.5894 328.122C65.5894 368.558 286.974 392.44 278.519 366.175Z" fill="#676FAE"/>
<path d="M98.5236 137.151C96.832 154.738 98.9856 173.783 104.517 195.795C104.595 196.106 104.674 196.417 104.752 196.727C105.697 184.957 109.901 176.459 117.366 171.232C129.531 162.714 143.529 161.718 148.632 169.006C153.736 176.294 148.011 189.107 135.847 197.625C127.966 203.144 117.901 204 105.652 200.194C108.866 212.326 112.775 224.432 119.532 244.002C119.932 245.162 120.311 246.259 120.67 247.3C121.565 235.368 125.778 226.765 133.308 221.492C145.473 212.974 159.471 211.978 164.574 219.266C169.678 226.554 163.953 239.368 151.789 247.885C143.948 253.376 133.944 254.251 121.779 250.511C126.742 264.895 127.306 266.595 129.475 273.354C132.706 283.419 135.168 292.053 137.027 300.091C138.076 288.67 142.261 280.396 149.583 275.269C161.747 266.751 175.745 265.755 180.849 273.043C185.952 280.331 180.228 293.145 168.063 301.662C160.199 307.169 150.16 308.033 137.947 304.255C141.928 323.2 142.322 338.86 138.57 352.61C138.477 352.951 138.125 353.152 137.785 353.059C137.444 352.966 137.243 352.614 137.336 352.274C141.204 338.103 140.592 321.805 136.109 301.818C134.223 293.411 131.673 284.383 128.258 273.745C125.802 266.093 125.406 264.934 118.323 244.419C110.741 222.459 106.736 209.874 103.277 196.106C97.6847 173.853 95.5215 154.586 97.2767 136.762C97.152 136.722 97.0271 136.681 96.902 136.64C97.3159 123.239 101.578 113.699 109.687 108.02C121.852 99.5027 135.85 98.5061 140.953 105.794C146.057 113.083 140.333 125.896 128.168 134.414C120.405 139.849 110.524 140.762 98.5236 137.151Z" fill="#BEC3FA"/>
</g>
<rect width="197.334" height="77.9958" rx="38.9979" transform="matrix(-1 0 0 1 214.715 46.8827)" fill="url(#paint0_linear)"/>
<rect x="108.163" y="188.383" width="197.334" height="77.9958" rx="38.9979" fill="url(#paint1_linear)"/>
</g>
<path d="M166.553 283.379C166.553 278.227 170.73 274.051 175.882 274.051H190.847C204.264 274.051 215.141 284.927 215.141 298.344V305.59H188.764C176.498 305.59 166.553 295.646 166.553 283.379Z" fill="url(#paint2_linear)"/>
<path d="M160.16 283.427C160.16 274.718 167.22 267.658 175.93 267.658H194.377C202.314 267.658 208.748 274.092 208.748 282.029V299.197H175.93C167.22 299.197 160.16 292.137 160.16 283.427Z" fill="#EDEDF3"/>
<circle cx="184.454" cy="283.427" r="9.37654" fill="#FFE55E"/>
<circle cx="184.454" cy="283.427" r="9.37654" fill="url(#paint3_linear)"/>
<circle cx="181.044" cy="281.722" r="1.70483" fill="#313131"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M181.044 285.984C181.044 287.677 182.571 289.394 184.454 289.394C186.337 289.394 187.864 287.677 187.864 285.984C187.864 284.281 181.044 284.281 181.044 285.984Z" fill="#FD6563"/>
<circle cx="187.864" cy="281.722" r="1.70483" fill="#313131"/>
<rect x="99.6389" y="179.859" width="197.334" height="77.9958" rx="38.9979" fill="#F0F0F6"/>
<rect x="99.6389" y="179.859" width="197.334" height="77.9958" rx="38.9979" fill="url(#paint4_linear)"/>
<circle cx="253.713" cy="218.857" r="30.4738" fill="white"/>
<mask id="mask2" mask-type="alpha" maskUnits="userSpaceOnUse" x="223" y="188" width="62" height="62">
<circle cx="253.713" cy="218.857" r="30.4738" fill="white"/>
</mask>
<g mask="url(#mask2)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M252.8 219.559H277.561L276.013 249.737C275.863 256.669 270.126 262.117 263.246 262.117C256.582 262.117 251.252 256.82 251.252 250.123C251.252 250.107 251.256 249.928 251.252 249.737L252.8 219.559Z" fill="#FAD2AB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M252.8 219.559H277.561L276.013 249.737C275.863 256.669 270.126 262.117 263.246 262.117C256.582 262.117 251.252 256.82 251.252 250.123C251.252 250.107 251.256 249.928 251.252 249.737L252.8 219.559Z" fill="url(#paint5_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M276.787 234.648C271.69 241.788 262.785 246.641 257.056 246.641C255.606 246.641 253.678 246.219 251.639 245.481L252.8 219.559H277.561L276.787 234.648Z" fill="url(#paint6_linear)"/>
</g>
<rect x="129.473" y="222.054" width="42.6206" height="6.3931" rx="3.19655" fill="#DBDBE8"/>
<rect x="129.473" y="209.267" width="80.9792" height="6.3931" rx="3.19655" fill="#DBDBE8"/>
<rect x="129.473" y="196.481" width="80.9792" height="6.3931" rx="3.19655" fill="#DBDBE8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M277.174 205.327C280.645 206.512 283.041 209.778 282.977 213.369C282.905 217.562 280.332 220.881 276.914 221.925C274.85 233.676 260.967 242.772 253.38 242.772C245.17 242.772 229.586 232.12 229.586 218.979C230.36 212.909 230.747 209.645 230.747 209.185C230.747 208.726 230.36 205.284 229.586 198.861C229.586 185.72 240.239 175.067 253.38 175.067C266.521 175.067 277.174 185.72 277.174 198.861V205.327Z" fill="#FAD2AB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M277.174 205.327C280.645 206.512 283.041 209.778 282.977 213.369C282.905 217.562 280.332 220.881 276.914 221.925C274.85 233.676 260.967 242.772 253.38 242.772C245.17 242.772 229.586 232.12 229.586 218.979C230.36 212.909 230.747 209.645 230.747 209.185C230.747 208.726 230.36 205.284 229.586 198.861C229.586 185.72 240.239 175.067 253.38 175.067C266.521 175.067 277.174 185.72 277.174 198.861V205.327Z" fill="url(#paint7_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M277.104 228.454L277.56 219.559L277.174 212.931C273.251 210.753 270.596 206.568 270.596 201.762C270.596 200.69 270.729 199.649 270.977 198.654C270.787 198.663 270.596 198.667 270.403 198.667C263.928 198.667 258.596 193.773 257.905 187.481C255.96 188.45 253.766 188.995 251.445 188.995C247.996 188.995 244.828 187.791 242.338 185.781C241.243 186.351 239.998 186.674 238.678 186.674C236.909 186.674 235.275 186.095 233.956 185.115C232.007 187.864 230.627 191.045 229.988 194.486C226.901 191.86 224.944 187.948 224.944 183.579C224.944 176.138 230.621 170.023 237.881 169.329C239.96 163.863 245.249 159.978 251.445 159.978C254.033 159.978 256.463 160.656 258.567 161.843C261.693 159.002 265.846 157.27 270.403 157.27C279.752 157.27 287.398 164.558 287.972 173.762C294.815 175.019 300 181.015 300 188.221C300 192.262 298.37 195.922 295.731 198.58C295.992 199.597 296.131 200.664 296.131 201.762C296.131 206.001 294.066 209.757 290.887 212.079C291.028 212.875 291.102 213.694 291.102 214.53C291.102 222.116 284.66 228.285 277.104 228.454Z" fill="#1F1845"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M277.104 228.454L277.56 219.559L277.174 212.931C273.251 210.753 270.596 206.568 270.596 201.762C270.596 200.69 270.729 199.649 270.977 198.654C270.787 198.663 270.596 198.667 270.403 198.667C263.928 198.667 258.596 193.773 257.905 187.481C255.96 188.45 253.766 188.995 251.445 188.995C247.996 188.995 244.828 187.791 242.338 185.781C241.243 186.351 239.998 186.674 238.678 186.674C236.909 186.674 235.275 186.095 233.956 185.115C232.007 187.864 230.627 191.045 229.988 194.486C226.901 191.86 224.944 187.948 224.944 183.579C224.944 176.138 230.621 170.023 237.881 169.329C239.96 163.863 245.249 159.978 251.445 159.978C254.033 159.978 256.463 160.656 258.567 161.843C261.693 159.002 265.846 157.27 270.403 157.27C279.752 157.27 287.398 164.558 287.972 173.762C294.815 175.019 300 181.015 300 188.221C300 192.262 298.37 195.922 295.731 198.58C295.992 199.597 296.131 200.664 296.131 201.762C296.131 206.001 294.066 209.757 290.887 212.079C291.028 212.875 291.102 213.694 291.102 214.53C291.102 222.116 284.66 228.285 277.104 228.454Z" fill="url(#paint8_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M271.508 206.397C271.149 206.402 270.55 206.405 270.403 206.405C263.928 206.405 258.596 201.51 257.905 195.219C255.96 196.188 253.766 196.733 251.446 196.733C247.996 196.733 244.828 195.529 242.338 193.519C241.243 194.089 239.998 194.411 238.678 194.411C236.909 194.411 235.275 193.832 233.956 192.853C232.008 195.601 230.628 198.781 229.988 202.221C229.868 201.21 229.735 200.09 229.586 198.861C229.586 193.74 231.204 188.997 233.956 185.115C235.275 186.094 236.909 186.674 238.678 186.674C239.998 186.674 241.243 186.351 242.338 185.781C244.828 187.791 247.996 188.995 251.446 188.995C253.766 188.995 255.96 188.45 257.905 187.481C258.596 193.773 263.928 198.667 270.403 198.667C270.596 198.667 270.787 198.663 270.978 198.654C270.729 199.649 270.893 200.736 270.978 201.808C271.359 206.644 271.619 206.396 271.508 206.397Z" fill="url(#paint9_linear)"/>
<path d="M96.2292 164.089C96.2292 150.672 107.106 139.796 120.523 139.796H129.047C137.756 139.796 144.817 146.856 144.817 155.565C144.817 164.275 137.756 171.335 129.047 171.335H96.2292V164.089Z" fill="url(#paint10_linear)"/>
<path d="M89.8362 157.696C89.8362 144.279 100.713 133.403 114.13 133.403H122.654C131.363 133.403 138.424 140.463 138.424 149.172C138.424 157.882 131.363 164.942 122.654 164.942H89.8362V157.696Z" fill="#EDEDF3"/>
<circle cx="114.13" cy="149.172" r="9.37654" fill="#FFDB5A"/>
<circle cx="114.13" cy="149.172" r="9.37654" fill="url(#paint11_linear)"/>
<circle cx="110.72" cy="147.467" r="1.70483" fill="#313131"/>
<path d="M110.72 151.729C110.72 153.613 112.247 155.139 114.13 155.139C116.013 155.139 117.54 153.613 117.54 151.729" stroke="#313131" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
<circle cx="117.54" cy="147.467" r="1.70483" fill="#313131"/>
<rect x="10.988" y="40.4897" width="197.334" height="77.9958" rx="38.9979" fill="#F0F0F6"/>
<rect x="10.988" y="40.4897" width="197.334" height="77.9958" rx="38.9979" fill="url(#paint12_linear)"/>
<rect x="97.5078" y="95.4703" width="46.8827" height="6.3931" rx="3.19655" fill="#DBDBE8"/>
<rect x="97.5078" y="82.6841" width="80.9792" height="6.3931" rx="3.19655" fill="#DBDBE8"/>
<rect x="97.5078" y="69.8979" width="80.9792" height="6.3931" rx="3.19655" fill="#DBDBE8"/>
<rect x="97.5078" y="57.1118" width="80.9792" height="6.3931" rx="3.19655" fill="#DBDBE8"/>
<circle cx="49.986" cy="79.4876" r="30.4738" fill="white"/>
<mask id="mask3" mask-type="alpha" maskUnits="userSpaceOnUse" x="19" y="49" width="62" height="61">
<circle cx="49.986" cy="79.4876" r="30.4738" fill="white"/>
</mask>
<g mask="url(#mask3)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M49.986 86.0938C54.8114 86.0938 58.7232 92.6554 58.7232 100.75V109.371C58.7232 117.465 54.8114 124.026 49.986 124.026C45.1606 124.026 41.2488 117.465 41.2488 109.371V100.75C41.2488 92.6554 45.1606 86.0938 49.986 86.0938Z" fill="#FAD2AB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M49.986 86.0938C54.8114 86.0938 58.7232 92.6554 58.7232 100.75V109.371C58.7232 117.465 54.8114 124.026 49.986 124.026C45.1606 124.026 41.2488 117.465 41.2488 109.371V100.75C41.2488 92.6554 45.1606 86.0938 49.986 86.0938Z" fill="url(#paint13_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M58.7232 106.173C57.5415 106.42 56.3397 106.552 55.1254 106.552C51.0681 106.552 46.15 105.438 41.2488 103.339V99.5194C41.2488 94.6939 45.1606 90.7821 49.986 90.7821C54.8114 90.7821 58.7232 94.6939 58.7232 99.5193V106.173Z" fill="url(#paint14_linear)"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.215 38.2842C23.5053 20.6187 49.611 15.5121 63.345 29.0539C77.2008 42.8244 83.6751 34.0851 91.0229 40.2072C98.4208 46.5158 91.0479 58.0459 83.719 64.4366C76.4591 70.9225 93.2238 82.8133 88.7164 98.2809C84.265 113.716 58.0018 88.9307 30.5428 100.472C3.08374 112.013 -9.08185 79.4326 7.60457 67.898C24.291 56.3634 11.1665 56.1435 17.215 38.2842Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.215 38.2842C23.5053 20.6187 49.611 15.5121 63.345 29.0539C77.2008 42.8244 83.6751 34.0851 91.0229 40.2072C98.4208 46.5158 91.0479 58.0459 83.719 64.4366C76.4591 70.9225 93.2238 82.8133 88.7164 98.2809C84.265 113.716 58.0018 88.9307 30.5428 100.472C3.08374 112.013 -9.08185 79.4326 7.60457 67.898C24.291 56.3634 11.1665 56.1435 17.215 38.2842Z" fill="url(#paint15_linear)"/>
<mask id="mask4" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="21" width="95" height="83">
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.215 38.2842C23.5053 20.6187 49.611 15.5121 63.345 29.0539C77.2008 42.8244 83.6751 34.0851 91.0229 40.2072C98.4208 46.5158 91.0479 58.0459 83.719 64.4366C76.4591 70.9225 93.2238 82.8133 88.7164 98.2809C84.265 113.716 58.0018 88.9307 30.5428 100.472C3.08374 112.013 -9.08185 79.4326 7.60457 67.898C24.291 56.3634 11.1665 56.1435 17.215 38.2842Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.215 38.2842C23.5053 20.6187 49.611 15.5121 63.345 29.0539C77.2008 42.8244 83.6751 34.0851 91.0229 40.2072C98.4208 46.5158 91.0479 58.0459 83.719 64.4366C76.4591 70.9225 93.2238 82.8133 88.7164 98.2809C84.265 113.716 58.0018 88.9307 30.5428 100.472C3.08374 112.013 -9.08185 79.4326 7.60457 67.898C24.291 56.3634 11.1665 56.1435 17.215 38.2842Z" stroke="white"/>
</mask>
<g mask="url(#mask4)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M59.544 114.522C58.4771 115.231 57.5502 116.081 56.8099 117.126C55.136 119.418 52.9463 120.065 50.3119 119.724C43.9608 118.574 34.9914 110.853 22.5206 107.791C9.7552 93.4497 19.9658 61.8518 27.2099 74.8207C32.8351 84.7782 46.7974 80.9305 69.1113 63.2829C79.3332 79.839 82.2952 93.0821 77.9528 102.896C76.7212 105.719 75.6386 107.929 74.5231 109.769C69.1357 111.167 63.4384 111.903 59.544 114.522Z" fill="url(#paint16_linear)"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M23.2544 78.4392C19.7166 72.4586 25.0707 68.833 26.7042 71.5272C27.5196 72.6876 27.7841 73.7914 27.8542 74.9832C30.9895 80.3169 42.8621 68.9423 46.6366 64.6151C50.7561 60.0517 51.3471 55.2451 54.303 64.6151C56.3861 70.8162 63.8775 68.3629 69.6356 63.4631C69.6975 65.2781 69.6355 67.2173 69.6356 69.2231C69.6355 71.0342 71.9355 73.4293 71.9355 81.8953C71.9355 90.2827 63.0995 101.863 53.153 101.863C45.5748 101.863 33.9705 96.7585 28.6208 88.0393C24.1637 88.0341 26.9484 84.4023 23.2544 78.4392Z" fill="#FAD2AB"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M23.2544 78.4392C19.7166 72.4586 25.0707 68.833 26.7042 71.5272C27.5196 72.6876 27.7841 73.7914 27.8542 74.9832C30.9895 80.3169 42.8621 68.9423 46.6366 64.6151C50.7561 60.0517 51.3471 55.2451 54.303 64.6151C56.3861 70.8162 63.8775 68.3629 69.6356 63.4631C69.6975 65.2781 69.6355 67.2173 69.6356 69.2231C69.6355 71.0342 71.9355 73.4293 71.9355 81.8953C71.9355 90.2827 63.0995 101.863 53.153 101.863C45.5748 101.863 33.9705 96.7585 28.6208 88.0393C24.1637 88.0341 26.9484 84.4023 23.2544 78.4392Z" fill="url(#paint17_linear)"/>
<path d="M26.5446 85.6676C26.78 85.6676 26.9708 85.8584 26.9708 86.0938C26.9708 86.3292 26.78 86.52 26.5446 86.52C26.3833 86.52 26.1161 86.8429 25.8921 87.4829C25.6311 88.2286 25.4791 89.2554 25.4791 90.3558C25.4791 91.4563 25.6311 92.4831 25.8921 93.2288C26.1161 93.8688 26.3833 94.1917 26.5446 94.1917C26.706 94.1917 26.9732 93.8688 27.1972 93.2288C27.4581 92.4831 27.6102 91.4563 27.6102 90.3558C27.6102 90.0222 27.5963 89.6941 27.5691 89.3764C27.549 89.1419 27.7229 88.9355 27.9574 88.9154C28.1919 88.8953 28.3983 89.0692 28.4184 89.3037C28.4476 89.6457 28.4626 89.9981 28.4626 90.3558C28.4626 92.9382 27.7255 95.0441 26.5446 95.0441C25.3638 95.0441 24.6267 92.9382 24.6267 90.3558C24.6267 87.7735 25.3638 85.6676 26.5446 85.6676Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M54.3133 72.3689C51.3275 62.9575 50.7316 67.8034 46.5733 72.3689C42.7727 76.767 32.8773 83.8948 27.6101 75.0693C30.8025 80.4918 42.7727 69.024 46.5733 64.6535C50.7316 60.0604 51.3275 55.2144 54.3133 64.6535C56.4079 70.9132 63.9608 68.4398 69.7935 63.4961C69.8287 65.3297 69.7662 67.2848 69.7935 69.2827C69.7662 71.133 56.4079 78.6563 54.3133 72.3689Z" fill="url(#paint18_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="98.6668" y1="-38.9979" x2="45.3419" y2="95.9171" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.18266"/>
<stop offset="1" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="206.83" y1="149.385" x2="153.505" y2="284.3" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.18266"/>
<stop offset="1" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="190.847" y1="258.281" x2="162.04" y2="302.66" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.18266"/>
<stop offset="1" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="175.077" y1="274.051" x2="175.077" y2="292.804" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint4_linear" x1="99.6389" y1="179.859" x2="99.6389" y2="257.855" gradientUnits="userSpaceOnUse">
<stop stop-color="#F0F0F6" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.03"/>
</linearGradient>
<linearGradient id="paint5_linear" x1="251.252" y1="219.559" x2="251.252" y2="262.117" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint6_linear" x1="262.534" y1="255.866" x2="289.388" y2="234.259" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.1"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint7_linear" x1="229.586" y1="175.067" x2="229.586" y2="242.772" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint8_linear" x1="224.944" y1="157.27" x2="224.944" y2="228.454" gradientUnits="userSpaceOnUse">
<stop stop-color="#1F1845" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint9_linear" x1="240.283" y1="183.19" x2="230.355" y2="206.729" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.1"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint10_linear" x1="120.523" y1="124.026" x2="91.7156" y2="168.405" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.18266"/>
<stop offset="1" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint11_linear" x1="104.753" y1="139.796" x2="104.753" y2="158.549" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint12_linear" x1="10.988" y1="40.4897" x2="10.988" y2="118.485" gradientUnits="userSpaceOnUse">
<stop stop-color="#F0F0F6" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.03"/>
</linearGradient>
<linearGradient id="paint13_linear" x1="41.2488" y1="86.0938" x2="41.2488" y2="124.026" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint14_linear" x1="49.5864" y1="82.8973" x2="33.9709" y2="100.992" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.35"/>
<stop offset="1" stop-color="#FFC62C" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint15_linear" x1="0" y1="21.3578" x2="0" y2="103.512" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint16_linear" x1="-15.2742" y1="91.546" x2="40.8775" y2="154.568" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.3"/>
<stop offset="1" stop-color="#1F1845" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint17_linear" x1="22.0693" y1="59.2428" x2="22.0693" y2="101.863" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint18_linear" x1="48.7073" y1="49.2269" x2="33.1857" y2="81.9215" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.2"/>
<stop offset="1" stop-color="#FFC62C" stop-opacity="0.01"/>
</linearGradient>
</defs>
</svg>


</template>