<template>
<svg width="224" height="381" viewBox="0 0 224 381" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M209.277 363.858C200.467 340.914 121.245 327.556 66.7569 327.556C12.1621 327.556 -25.6813 351.355 23.4133 367.075C72.2233 382.802 217.377 386.739 209.277 363.858Z" fill="#D7D7E8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M132.517 335.434C127.221 337.981 117.173 352.065 120.658 360.103C124.507 368.98 140.085 363.767 143.844 358.173C147.603 352.578 145.609 337.561 145.703 334.796C142.176 336.927 136.232 339.284 132.517 335.434Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M132.517 335.434C127.221 337.981 117.173 352.065 120.658 360.103C124.507 368.98 140.085 363.767 143.844 358.173C147.603 352.578 145.609 337.561 145.703 334.796C142.176 336.927 136.232 339.284 132.517 335.434Z" fill="url(#paint0_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M86.2028 335.434C80.9073 337.981 66.2298 347.435 69.7149 355.474C73.5632 364.35 91.4565 359.137 95.2155 353.543C98.9745 347.949 101.61 337.561 101.704 334.796C98.1775 336.927 89.9184 339.284 86.2028 335.434Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M86.2028 335.434C80.9073 337.981 66.2298 347.435 69.7149 355.474C73.5632 364.35 91.4565 359.137 95.2155 353.543C98.9745 347.949 101.61 337.561 101.704 334.796C98.1775 336.927 89.9184 339.284 86.2028 335.434Z" fill="url(#paint1_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M149.852 2.38889C179.485 9.78391 179.727 30.2727 197.074 48.2222C214.456 66.0559 235.881 85.5433 213.278 103.778C195.364 117.661 215.483 142.952 182.722 165.815C149.626 188.95 55.8704 145.111 55.8704 103.778C55.8704 61.9954 103.447 67.1661 98.463 42.6667C93.6173 18.1937 119.767 -4.99249 149.852 2.38889Z" fill="#464D89"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M149.852 2.38889C179.485 9.78391 179.727 30.2727 197.074 48.2222C214.456 66.0559 235.881 85.5433 213.278 103.778C195.364 117.661 215.483 142.952 182.722 165.815C149.626 188.95 55.8704 145.111 55.8704 103.778C55.8704 61.9954 103.447 67.1661 98.463 42.6667C93.6173 18.1937 119.767 -4.99249 149.852 2.38889Z" fill="url(#paint2_linear)"/>
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="55" y="0" width="169" height="173">
<path fill-rule="evenodd" clip-rule="evenodd" d="M149.852 2.38889C179.485 9.78391 179.727 30.2727 197.074 48.2222C214.456 66.0559 235.881 85.5433 213.278 103.778C195.364 117.661 215.483 142.952 182.722 165.815C149.626 188.95 55.8704 145.111 55.8704 103.778C55.8704 61.9954 103.447 67.1661 98.463 42.6667C93.6173 18.1937 119.767 -4.99249 149.852 2.38889Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M149.852 2.38889C179.485 9.78391 179.727 30.2727 197.074 48.2222C214.456 66.0559 235.881 85.5433 213.278 103.778C195.364 117.661 215.483 142.952 182.722 165.815C149.626 188.95 55.8704 145.111 55.8704 103.778C55.8704 61.9954 103.447 67.1661 98.463 42.6667C93.6173 18.1937 119.767 -4.99249 149.852 2.38889Z" stroke="white"/>
</mask>
<g mask="url(#mask0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M102.629 40.3521C102.629 40.3521 55.0913 65.0001 50.7775 73.2224C43.546 87.4347 41.1332 92.695 37.8146 124.148C34.6811 155.272 97.3458 166.732 102.629 170.856C110.646 176.837 180.181 172.696 175.168 107.229C172.524 69.984 152.629 56.0928 152.629 56.0928L102.629 40.3521Z" fill="url(#paint3_linear)"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M94.7591 177.852C74.399 200.088 80.7032 317.963 81.3331 330.629C81.4501 342.703 100.922 339.61 103.555 335.722C105.831 331.221 113.421 221.813 116.055 221.833C118.563 221.813 123.849 328.808 126.241 335.722C129.357 342.023 144.782 340.498 147.074 335.722C150.298 330.333 165.872 212.65 143.37 178.778C141.172 175.135 98.1464 174.209 94.7591 177.852Z" fill="#434EA9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M94.7591 177.852C74.399 200.088 80.7032 317.963 81.3331 330.629C81.4501 342.703 100.922 339.61 103.555 335.722C105.831 331.221 113.421 221.813 116.055 221.833C118.563 221.813 123.849 328.808 126.241 335.722C129.357 342.023 144.782 340.498 147.074 335.722C150.298 330.333 165.872 212.65 143.37 178.778C141.172 175.135 98.1464 174.209 94.7591 177.852Z" fill="url(#paint4_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M113.741 97.7595C93.6284 97.7595 76.2307 120.415 73.4631 144.056C70.6757 167.512 66.7172 174.368 76.2409 173.222C88.5788 170.49 133.911 97.7595 113.741 97.7595Z" fill="#A7A7EE"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M113.741 97.7595C93.6284 97.7595 76.2307 120.415 73.4631 144.056C70.6757 167.512 66.7172 174.368 76.2409 173.222C88.5788 170.49 133.911 97.7595 113.741 97.7595Z" fill="url(#paint5_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M113.741 97.7595C93.6284 97.7595 76.2307 120.415 73.4631 144.056C70.6757 167.512 66.7172 174.368 76.2409 173.222C88.5788 170.49 133.911 97.7595 113.741 97.7595Z" fill="url(#paint6_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M160.036 112.574C159.814 127.915 158.722 172.39 146.147 177.852C133.323 182.995 101.108 180.631 94.7584 177.852C88.7007 174.91 83.3422 107.601 102.629 100.074C121.421 92.7401 159.814 97.0553 160.036 112.574Z" fill="#B4B4FA"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M160.036 112.574C159.814 127.915 158.722 172.39 146.147 177.852C133.323 182.995 101.108 180.631 94.7584 177.852C88.7007 174.91 83.3422 107.601 102.629 100.074C121.421 92.7401 159.814 97.0553 160.036 112.574Z" fill="url(#paint7_linear)"/>
<mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="89" y="96" width="72" height="85">
<path fill-rule="evenodd" clip-rule="evenodd" d="M160.036 112.574C159.814 127.915 158.722 172.39 146.147 177.852C133.323 182.995 101.108 180.631 94.7584 177.852C88.7007 174.91 83.3422 107.601 102.629 100.074C121.421 92.7401 159.814 97.0553 160.036 112.574Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M160.036 112.574C159.814 127.915 158.722 172.39 146.147 177.852C133.323 182.995 101.108 180.631 94.7584 177.852C88.7007 174.91 83.3422 107.601 102.629 100.074C121.421 92.7401 159.814 97.0553 160.036 112.574Z" stroke="white"/>
</mask>
<g mask="url(#mask1)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M140.592 182.018C144.484 182.018 141.033 130.265 140.592 129.704C131.647 128.496 137.706 168.604 113.741 150.074C113.214 149.947 85.2201 144.241 86.4258 150.074C87.7124 156.21 105.239 153.271 110.5 156.093C122.942 162.123 125.836 182.018 140.592 182.018Z" fill="url(#paint8_linear)"/>
</g>
<path fill-rule="evenodd" clip-rule="evenodd" d="M139.447 153.754C133.316 151.285 126.806 149.07 123.462 147.76C119.491 146.805 115.794 154.164 118.369 156.556C126.552 164.673 133.403 180.63 143.369 180.63C146.702 180.63 149.68 178.81 151.786 176.16C155.559 171.927 158.39 164.415 160.036 153.778C163.595 131.357 165.719 109.092 153.555 103.778C141.275 98.8536 140.774 130.516 140.592 144.982C140.628 147.877 140.149 150.838 139.447 153.754H139.447Z" fill="#B3B3F9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M139.447 153.754C133.316 151.285 126.806 149.07 123.462 147.76C119.491 146.805 115.794 154.164 118.369 156.556C126.552 164.673 133.403 180.63 143.369 180.63C146.702 180.63 149.68 178.81 151.786 176.16C155.559 171.927 158.39 164.415 160.036 153.778C163.595 131.357 165.719 109.092 153.555 103.778C141.275 98.8536 140.774 130.516 140.592 144.982C140.628 147.877 140.149 150.838 139.447 153.754H139.447Z" fill="url(#paint9_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M76.2401 173.222C67.8063 174.668 62.8141 166.451 62.8141 142.667C62.8141 128.113 73.0828 131.59 77.166 138.963C83.2122 149.88 84.9055 171.369 76.2401 173.222Z" fill="#B3B3F9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M76.2401 173.222C67.8063 174.668 62.8141 166.451 62.8141 142.667C62.8141 128.113 73.0828 131.59 77.166 138.963C83.2122 149.88 84.9055 171.369 76.2401 173.222Z" fill="url(#paint10_linear)"/>
<rect width="63.4259" height="53.43" rx="3" transform="matrix(-1 0 0 1 86.4258 82.2964)" fill="#E4524F"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M57.5561 101.481C58.2207 101.038 59.1108 101.514 59.1108 102.313V115.243C59.1108 116.041 58.2207 116.518 57.5561 116.075L47.8589 109.61C47.2652 109.214 47.2652 108.342 47.8589 107.946L57.5561 101.481Z" fill="#F2F5F9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M75.7771 135.722C75.7771 135.722 63.3991 135.729 62.8142 135.722C62.2612 135.729 50.9763 134.738 38.2771 129.704C30.2511 126.791 29.2329 131.109 31.3327 135.722C32.8671 138.313 35.3637 141.061 38.2771 142.667C46.0872 146.127 62.6379 137.78 62.8142 142.667C62.6379 149.595 76.8307 144.063 77.166 138.963C77.1754 138.063 76.5429 136.87 75.7771 135.722Z" fill="#FBD2A9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M75.7771 135.722C75.7771 135.722 63.3991 135.729 62.8142 135.722C62.2612 135.729 50.9763 134.738 38.2771 129.704C30.2511 126.791 29.2329 131.109 31.3327 135.722C32.8671 138.313 35.3637 141.061 38.2771 142.667C46.0872 146.127 62.6379 137.78 62.8142 142.667C62.6379 149.595 76.8307 144.063 77.166 138.963C77.1754 138.063 76.5429 136.87 75.7771 135.722Z" fill="url(#paint11_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M123.462 147.759C120.311 146.327 116.72 143.997 116.055 142.667C113.253 137.523 117.173 129.628 113.74 128.315C110.731 126.325 108.717 132.777 109.573 137.574C110.714 141.799 103.411 140.928 98.4622 138.5C93.1192 135.587 77.3097 144.11 85.4992 149.148C93.6275 153.796 107.729 151.438 112.814 151.463C113.945 151.438 118.37 156.556 118.37 156.556C118.37 156.556 127.825 149.837 123.462 147.759Z" fill="#FBD2A9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M123.462 147.759C120.311 146.327 116.72 143.997 116.055 142.667C113.253 137.523 117.173 129.628 113.74 128.315C110.731 126.325 108.717 132.777 109.573 137.574C110.714 141.799 103.411 140.928 98.4622 138.5C93.1192 135.587 77.3097 144.11 85.4992 149.148C93.6275 153.796 107.729 151.438 112.814 151.463C113.945 151.438 118.37 156.556 118.37 156.556C118.37 156.556 127.825 149.837 123.462 147.759Z" fill="url(#paint12_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M133.185 81.5554H113.278V97.9906C113.278 103.488 117.734 107.944 123.231 107.944C128.729 107.944 133.185 103.488 133.185 97.9906V81.5554Z" fill="#FBD2A9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M133.185 81.5554H113.278V97.9906C113.278 103.488 117.734 107.944 123.231 107.944C128.729 107.944 133.185 103.488 133.185 97.9906V81.5554Z" fill="url(#paint13_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M113.278 93.189C116.148 94.8833 119.297 95.9073 122.537 95.9073C125.636 95.9073 129.387 95.2915 133.185 94.0597V81.5554H113.278V93.189V93.189Z" fill="url(#paint14_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M151.102 75.903C152.799 75.7655 154.452 74.103 154.482 69.9814C154.442 64.2641 158.648 62.4934 158.648 58.8703C158.648 55.0473 154.816 53.4879 152.755 55.9355C152.714 55.8321 152.673 55.7302 152.63 55.6295C150.761 51.586 147.531 53.0671 133.648 49.148C119.642 45.6245 114.188 35.33 102.63 40.3517C102.568 42.4734 102.643 49.5239 102.63 51.9258C102.643 54.1239 99.8521 57.0103 99.8521 67.2036C99.8521 77.3212 110.575 91.2777 122.537 91.2777C131.475 91.2777 145.841 86.1553 151.102 75.903Z" fill="#FBD2A9"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M151.102 75.903C152.799 75.7655 154.452 74.103 154.482 69.9814C154.442 64.2641 158.648 62.4934 158.648 58.8703C158.648 55.0473 154.816 53.4879 152.755 55.9355C152.714 55.8321 152.673 55.7302 152.63 55.6295C150.761 51.586 147.531 53.0671 133.648 49.148C119.642 45.6245 114.188 35.33 102.63 40.3517C102.568 42.4734 102.643 49.5239 102.63 51.9258C102.643 54.1239 99.8521 57.0103 99.8521 67.2036C99.8521 77.3212 110.575 91.2777 122.537 91.2777C131.475 91.2777 145.841 86.1553 151.102 75.903Z" fill="url(#paint15_linear)"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M152.73 55.872C152.697 55.7903 152.664 55.7095 152.63 55.6295C150.761 51.586 147.531 53.0671 133.648 49.148C119.642 45.6245 114.188 35.33 102.63 40.3517C102.596 41.5156 102.603 44.1626 102.615 46.7119C107.103 46.1154 111.892 47.4436 116.982 50.6967C132.413 60.5586 146.089 57.0666 152.73 55.872H152.73Z" fill="url(#paint16_linear)"/>
<mask id="mask2" mask-type="alpha" maskUnits="userSpaceOnUse" x="102" y="38" width="51" height="20">
<path fill-rule="evenodd" clip-rule="evenodd" d="M152.73 55.872C152.697 55.7903 152.664 55.7095 152.63 55.6295C150.761 51.586 147.531 53.0671 133.648 49.148C119.642 45.6245 114.188 35.33 102.63 40.3517C102.596 41.5156 102.603 44.1626 102.615 46.7119C107.103 46.1154 111.892 47.4436 116.982 50.6967C132.413 60.5586 146.089 57.0666 152.73 55.872H152.73Z" fill="white"/>
</mask>
<g mask="url(#mask2)">
</g>
<defs>
<linearGradient id="paint0_linear" x1="146.148" y1="334.796" x2="146.148" y2="364.873" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="101.704" y1="334.796" x2="101.704" y2="360.243" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="223" y1="1" x2="223" y2="172.296" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="244.289" y1="106.586" x2="111.92" y2="244.208" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.3"/>
<stop offset="1" stop-color="#1F1845" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint4_linear" x1="155.324" y1="175.539" x2="155.324" y2="339.896" gradientUnits="userSpaceOnUse">
<stop stop-color="#403F9F" stop-opacity="0.01"/>
<stop offset="1" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint5_linear" x1="118.833" y1="97.7595" x2="118.833" y2="173.222" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint6_linear" x1="114.707" y1="165.383" x2="71.34" y2="166.925" gradientUnits="userSpaceOnUse">
<stop stop-color="#464D89" stop-opacity="0.6"/>
<stop offset="1" stop-color="#A7A7EE" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint7_linear" x1="160.036" y1="96.5972" x2="160.036" y2="180.886" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint8_linear" x1="170.454" y1="155.861" x2="118.261" y2="211.749" gradientUnits="userSpaceOnUse">
<stop stop-color="#464D89" stop-opacity="0.3"/>
<stop offset="1" stop-color="#A7A7EE" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint9_linear" x1="162.81" y1="103.263" x2="162.81" y2="180.63" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint10_linear" x1="82.2236" y1="132.592" x2="82.2236" y2="173.382" gradientUnits="userSpaceOnUse">
<stop stop-color="#A7A7EE" stop-opacity="0.01"/>
<stop offset="1" stop-color="#4C55A0" stop-opacity="0.2"/>
</linearGradient>
<linearGradient id="paint11_linear" x1="77.166" y1="128.778" x2="77.166" y2="145.907" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint12_linear" x1="124.851" y1="127.852" x2="124.851" y2="156.556" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint13_linear" x1="133.185" y1="81.5554" x2="133.185" y2="107.944" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint14_linear" x1="123.231" y1="74.3795" x2="136.848" y2="93.2667" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.2"/>
<stop offset="1" stop-color="#FFC42C" stop-opacity="0.01"/>
</linearGradient>
<linearGradient id="paint15_linear" x1="158.648" y1="38.9966" x2="158.648" y2="91.2777" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFC62C" stop-opacity="0.01"/>
<stop offset="1" stop-color="#FF6663" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint16_linear" x1="127.668" y1="29.7671" x2="139.639" y2="62.2763" gradientUnits="userSpaceOnUse">
<stop stop-opacity="0.1"/>
<stop offset="1" stop-color="#FFC42C" stop-opacity="0.01"/>
</linearGradient>
</defs>
</svg>


</template>