<template lang="pug">

  .lesson-block.main-block
    .lesson-block__content(v-if="!isEditLocal")
      p.main-block__label.answers-card__label
        | Вопрос:

      .lesson-block__markdown.form-item__markdown(
        v-if="contentLocal.description"
        v-html="makeHtml(contentLocal.description)"
      )

      .lesson-block__row
        p.main-block__label.answers-card__label
          | Ответ:

      Input.lesson-block__edit(
        :style="{width: '30%'}"
        :disabled="true"
        title=""
        placeholder="Ответ на вопрос"
      )

      .lesson-block__buttons
        Button.-xs-(
          @click="showAdminMessage"
        )
          | Отправить


    EditState(
      v-else-if="isEditLocal"
      :propContentLocal.sync="contentLocal"
      @saveBlock="saveBlock"
      @cancel="cancel"
      :isLoading="isLoading"
    )

    ControlsArrow.lesson__controls(
      :firstBlock="isFirstBlock"
      :lastBlock="isLastBlock"
      v-if="$permissionsUpdate"
      @moveUp="moveUp"
      @moveDown="moveDown")


    OptionsList.course-lesson__options(
      v-if="optionsFields.length"
      :optionsFields="optionsFields"
    )

</template>

<script>
  import EditState from './EditState'
  import markdownToHtml from "@lms/functions/converterMarkdownToHtml";
  import blockPermissionMixin from '@lms/views/Courses/Lesson/components/block.permission.mixin'

  export default {
    mixins: [blockPermissionMixin],
    props: {
      permissions: {},
      content: {},
      isEdit: {
        default: false,
        type: Boolean
      },
      arrows: {
        default: true,
        type: Boolean
      },
      isFirstBlock: false,
      isLastBlock: false,
    },
    components: {EditState},
    data() {
      return {
        sendData: {
          answer: ''
        },
        contentLocal: {
          taskBlock: {}
        },
        isEditLocal: false,
        isLoading: false,
      }
    },
    computed: {
      optionsFields(){
        let arr = []
        if(this.$permissionsUpdate)
          arr.push({
            text: 'Редактировать',
            func: this.openBlockEdit,
            icon: 'edit',
          })
        if(this.$permissionsDelete)
          arr.push({
            text: 'Удалить',
            func: this.deleteBlock,
            icon: 'delete',
            iconWidth: '10px',
            confirm: true,
            confirmTitle: 'Вы уверены, что хотите удалить этот блок?',
            confirmDescription: 'Блок будет удален навсегда',
            confirmApplyText: 'Удалить',
            confirmCancelText: 'Отменить',
            red: true
          })

        return arr
      },
    },
    mounted() {
      this.setData()

      if(this.contentLocal.forceEdit) {
        this.isEditLocal = true
        delete this.contentLocal.forceEdit
      }
    },
    methods: {
      setData() {
        this.contentLocal = _.cloneDeep(this.content)
      },
      openBlockEdit() {
        this.isEditLocal = true
      },
      deleteBlock() {
        this.$emit('deleteBlock')
      },
      saveBlock() {
        if(this.isLoading)
          return

        this.isLoading = !this.isLoading

        setTimeout(() => {
          this.isEditLocal = false
          this.isLoading = !this.isLoading
        }, 1000)

        this.$emit('saveBlock', this.contentLocal)
      },
      cancel() {
        this.isEditLocal = false
        this.setData()
      },
      moveUp() {
        this.$emit('moveUp')
      },
      moveDown() {
        this.$emit('moveDown')
      },
      showAdminMessage(){
        this.$store.dispatch('ajax/addMessage', {message: 'В режиме администратора не работает', type: 'success'}, {root: true})
      },
      makeHtml(value) {
        return markdownToHtml.makeHtml(value)
      }
    },
    watch: {
      isEditDefault() {
        this.isEditLocal = this.isEdit
      },
      content() {
        this.setData()
      },
    }
  }
</script>