<template lang="pug">
  .course-points-shop-order
    .course-points-shop-order__info
      .course-points-shop-order__date
        p.ajax__line.ajax__line-card(style="width: 100px; height: 18px")
        p.ajax__line.ajax__line-card(style="width: 33px; height: 18px")
      .course-points-shop-order__description
        .ajax__line.ajax__line-card(style="width: 250px; height: 18px")

    p.course-points-shop-order__promocode.ajax__line.ajax__line-card(style="width: 91px; height: 28px")
</template>

<script>
export default {

}
</script>

<style>

</style>