<template lang="pug">
  .lessont-test-slide-interval
    .lesson-test-slide-controls
      .lesson-test-slide-controls__left.-asc-
        .lesson-test-slide-interval__title
          | Интервал {{idx+1}}

      .lesson-test-slide-controls__right
        Button.-xs-(
          v-if="resultsLength > 1"
          @click="$emit('deleteInterval')"
          color="button-cancel"
        )
          | Удалить интервал
        Button.-xs-.lesson-test-slide-controls__button(
          @click="$emit('addInterval')"
        )
          | Добавить интервал

    .lesson-test-slide-controls
      .lesson-test-slide-controls__left
        UploadFile(
          @getFiles="getFile"
          :fileMime="['image/*']"
          :fileExt="[]"
          :buttonClass="interval.img && interval.img.id ? 'button-primary -disabled-' : 'button-primary'"
          buttonText="Добавить картинку"
          :disabled="interval.img && interval.img.id"
        )

        File(
          v-if="interval.img && interval.img.id"
          :file="interval.img"
          icon="image"
          @deleteFile="addFileToDelete"
        )

    .lesson-test-slide-interval-points.lesson-test-slide__input
      .lesson-test-slide-interval-points__title
        | Интервал баллов
      .lesson-test-slide-interval-points-row
        .lesson-test-slide-interval-points__point
          Input(
            v-model="interval.pointsFrom"
            :show-icon="false"
            type="number"
            @input="updateInterval"
          )
        .lesson-test-slide-interval-points__point
          Input(
            v-model="interval.pointsTo"
            :show-icon="false"
            type="number"
            @input="updateInterval"
          )


    MarkdownText.lesson-test-slide__input.-markdown-.form-item__markdown(
      title="Описание результата"
      v-model="interval.text"
      placeholder="Описание результата"
      @input="updateInterval"
    )

</template>

<script>
  import File from "@lms/components/File/File";
  import UploadFile from "@lms/components/Form/UploadFiles";
  import MarkdownText from '@lms/components/Form/MarkdownText'

  export default {
    props: ['propData', 'currentSlideIdx', 'slidesLength', 'questionSlidesLength', 'idx', 'resultsLength'],
    components: {
      File,
      UploadFile,
      MarkdownText
    },
    data: () => ({
      interval: {
        img: {},
        text: '',
        pointsFrom: undefined,
        pointsTo: undefined,
      }
    }),
    mounted() {
      this.setData()
    },
    watch: {
      currentSlideIdx(val) {
        if(val === this.idx)
          this.setNavText()
      },
    },
    methods: {
      setData() {
        this.interval = _.cloneDeep(this.propData)
        if(!this.interval.img)
          this.interval.img = {}
      },
      async getFile({formData, fileUrl, file}) {
        let res = await this.$store.dispatch('ajax/uploadImage', {formData})
        if(res)
          this.interval.img = {...res}

        this.updateInterval()
      },
      async addFileToDelete() {
        let files = [{
          id: this.interval.img.id
        }]
        this.$store.dispatch('coursesLesson/deleteFiles', {files})

        this.interval.img = {}

        this.updateInterval()
      },
      updateInterval() {
        this.$emit('updateInterval', this.interval)
      }
    }
  }
</script>