<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=400"/>
    <title>Формирование команд на Скорости 10</title>
    <style type="text/css">
        .ExternalClass {
            width: 100%;
        }
        img {
            border: 0 none;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }
        a img {
            border: 0 none;
        }
        #outlook a {
            padding: 0;
        }
        #allrecords {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
            -webkit-font-smoothing: antialiased;
            line-height: 1.45;
        }
        #allrecords td {
            margin: 0;
            padding: 0;
        }
        #allrecords ul {
            -webkit-padding-start: 30px;
        }
        @media only screen and (max-width: 600px) {
            .r {
                width: 100% !important;
                min-width: 400px !important;
            }
        }
        @media only screen and (max-width: 480px) {
            .t-emailBlock {
                display: block !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
                width: 100% !important;
            }
            .t-emailBlockPadding {
                padding-top: 15px !important;
            }
            .t-emailBlockPadding30 {
                padding-top: 30px !important;
            }
            .t-emailAlignLeft {
                text-align: left !important;
                margin-left: 0 !important;
            }
            .t-emailAlignCenter {
                text-align: center !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }
    </style>
</head>
<body cellpadding="0" cellspacing="0" style="padding: 0; margin: 0; border: 0; width:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; background-color: #efefef;">
<!--allrecords-->
<table id="allrecords" data-tilda-email="yes" data-tilda-project-id="439017" data-tilda-page-id="11870875"
       data-tilda-page-alias="123" cellpadding="0" cellspacing="0"
       style="width:100%; border-collapse:collapse; border-spacing:0; padding:0; margin:0; border:0;">
    <tr>
        <td style="background-color: #efefef; ">
            <!--record_mail-->
            <table id="rec199223804" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;"
                   cellpadding="0" cellspacing="0" data-record-type="619">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin199223804" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;"
                               align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table valign="top" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td style="height:30px;" height="30px"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record--><!--record_mail-->
            <table id="rec199223805" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;"
                   cellpadding="0" cellspacing="0" data-record-type="322">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin199223805" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;"
                               align="center">
                            <tr>
                                <td style="padding-top:0px;padding-bottom:0px;padding-left:0;padding-right:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td style="width:100%; text-align: center;">
                                                <img src="https://toolbox-lms.s3.us-east-2.amazonaws.com/email/speed_zahvat.png" width="600" align="center" style="width: 100%; height: auto;" imgfield="img">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record--><!--record_mail-->
            <table id="rec199223806" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;"
                   cellpadding="0" cellspacing="0" data-record-type="323">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin199223806" class="r"
                               style="margin: 0 auto;background-color:#ffffff;border-spacing: 0;width:600px;"
                               align="center">
                            <tr>
                                <td style="padding-top:30px;padding-bottom:15px;padding-left:30px;padding-right:30px;">
                                    <table valign="top" border="0" cellpadding="0" cellspacing="0" width="100%"
                                           style="width: 100%;">
                                        <tr>
                                            <td style="text-align: left; padding: 0 0 0;">
                                                <div style="margin-right: auto; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color:#222222;font-size:26px;font-weight:bold;">
                                                    Привет, участник Скорости 10 & Захват Территории!
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record--><!--record_mail-->
            <table id="rec199223807" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;" cellpadding="0" cellspacing="0" data-record-type="329">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin199223807" class="r" style="margin: 0 auto;background-color:#ffffff;border-spacing: 0;width:600px;" align="center">
                            <tr>
                                <td style="padding-top:15px;padding-bottom:15px;padding-left:30px;padding-right:30px;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%;">
                                        <tr>
                                            <td style="text-align: left; padding: 0 0 0;">
                                                <div style="margin-right: auto; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; color:#444444;font-size:18px;line-height:1.45;">
                                                    Обязательно заполни форму, чтобы мы смогли определить тебя в команду, с которой ты будешь проходить курс:
                                                    <a href="https://clck.ru/NqV5C">https://clck.ru/NqV5C</a>
                                                    <br><br>
                                                    Если ты уже заполнил форму ранее - ты красавчик!
                                                    <br><br>
                                                    Если что-то изменилось после последнего заполнения - внеси обновленные данные еще раз.
                                                    <br><br>
                                                    DDL 7 июня 23:30 (МСК)
                                                    <br>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--/record--><!--record_mail-->
            <table id="rec199223808" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;"
                   cellpadding="0" cellspacing="0" data-record-type="618">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin199223808" class="r" style="margin: 0 auto;background-color:#ffffff;border-spacing: 0;width:600px;" align="center">
                            <tr>
                                <td style="padding-top:30px;padding-bottom:45px;padding-left:30px;padding-right:30px;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
                                                    <tr>
                                                        <td>
                                                            <a  href="https://clck.ru/NqV5C" style="display: table-cell; text-decoration: none; padding: 15px 30px; font-size: 15px; text-align: center; font-weight: bold; font-family:Helvetica Neue, Helvetica, Arial, sans-serif; width: 100%;color:#ffffff; border:0px solid ; background-color:#f2245b; border-radius: 3px;">
                                                                Открыть форму
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table id="rec199223809" style="width:100%; border-collapse:collapse; border-spacing:0; margin:0; border:0;"
                   cellpadding="0" cellspacing="0" data-record-type="627">
                <tr>
                    <td style="padding-left:15px; padding-right:15px; ">
                        <table id="recin199223809" class="r" style="margin: 0 auto;border-spacing: 0;width:600px;"
                               align="center">
                            <tr>
                                <td style="padding-top:30px;padding-bottom:30px;padding-left:30px;padding-right:30px;">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/allrecords-->
</body>
</html>