<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting" />
    <title></title>

    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900,900i');
        /* CLIENT-SPECIFIC STYLES */
        body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
        table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
        img { -ms-interpolation-mode: bicubic; }
        /* RESET STYLES */
        img { border: 0; outline: none; text-decoration: none; }
        table { border-collapse: collapse !important; }
        body { margin: 0 !important; padding: 0 !important; width: 100% !important; }
        /* iOS BLUE LINKS */
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }
        /* ANDROID CENTER FIX */
        div[style*="margin: 16px 0;"] { margin: 0 !important; }
        /* MEDIA QUERIES */
        @media all and (max-width:699px){
            .wrapper{ width: 100% !important; padding: 0 !important; }
            .container{ width: 100% !important;  padding: 0 !important; border-radius: 0 !important; }
            .container95{ width: 95% !important;  padding: 0 !important; }
            .mobile{ width: 100% !important; display:block!important; padding: 0 !important; }
            .img{ width:100% !important; height:auto !important; }
            .die {display: none;}
            .to-center {text-align: center !important;}
            .fix1 {display: table !important; border-left: 0 !important; border-right: 0 !important; border-bottom: 2px solid #dddddd !important;}
            p, li{text-align: left !important;}
        }
    </style>
</head>
<body style="margin:0; padding:0; background-color:#eaeaea; ">
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="background:url('') #eaeaea center top no-repeat; font-family: Helvetica; font-weight: 400; font-size: 16px; color: #111; line-height: 24px;">
    <tr>
        <td align="center" valign="top">

            <table border="0" cellpadding="0" cellspacing="0" width="600" class="container fix1">
                <tr>
                    <td align="right" style="padding: 10px;" width="50%">
                    </td>
                </tr>
            </table>

            <table width="600" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="container fix1" style="border-left:2px solid #dddddd; border-right:2px solid #dddddd; border-bottom:3px solid #dddddd; border-radius: 12px; display: block;" >
                <tr>
                    <td align="center" valign="top" width="100%">

                        <!-- Начало контента-->

                        <p style="margin: 28px; text-align: center; font-weight: 600; font-size: 24px; color: #4F4F4F; line-height: 28px;">
                            Получи награды за свои труды!
                        </p>

                        <p style="margin: 28px; text-align: center; font-weight: 600; font-size: 24px; color: #9FA2B4; line-height: 28px;">
                            [Магазин бонусов]
                        </p>

                        <a href="{{ url }}" target="_blank">
                            <img alt="Магазин бонусов" src="http://suite34.emarsys.net/custloads/794454674/md_341615.png" style="display:block; width:100%; height:auto; margin: 14px 0 28px;" />
                        </a>

                        <p style="text-align: justify; margin: 28px">
                            Ты  отлично работал и учился на протяжении 6 недель и теперь мы хотим наградить тебя подарком!
                        </p>

                        <p style="text-align: justify; margin: 28px">
                            Ты набрал: <span style="color: #6979F8;"> {{ points }} </span> бонусов
                        </p>

                        <p style="text-align: justify; margin: 28px">
                            Теперь их можно обменять на новые знания!
                        </p>

                        <p style="text-align: justify; margin: 28px">
                            Нажми на кнопку и выбери свой подарок.
                        </p>

                        <table bgcolor="#6979F8" border="0" cellpadding="0" cellspacing="0" height="44" style="border-radius: 6px; margin: 28px 0;" width="auto">
                            <tr>
                                <td align="center" height="44" style="" valign="middle">
                                    <a href="{{ url }}" style="color:#ffffff !important; display: inline-block; text-decoration: none !important; line-height: 44px; font-weight: 700; padding-left: 60px; padding-right: 60px; font-size:14px; " target="_blank">Перейти к выбору подарка</a>
                                </td>
                            </tr>
                        </table>

                        <!-- Конец контента шаблона -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>