<template lang="pug">
  .menu__subblock.-with-padding-
    p.menu__subblock-title(v-if="team && team.id")
      | Команда (ID {{team.id}}): {{team.name}}
    p.menu__subblock-title(v-else)
      | Команда:
    ul.menu-teammates
      component(
        v-for="(member, idx) in checkedTeammates" :key="idx"
        :is="member.id ? 'User' : 'Unknown'"
        :member="member"
        :leader="team.leader"
        :black="team.captain"
        @click="click"
        :scrolltop="scrollTop"
      )

</template>
	
<script>
  import User from './components/User'
  import Unknown from './components/Unknown'
  import {mapActions} from 'vuex'
	export default {
		props: ['scrollTop', 'teammates', 'team', 'amount'],
		components: {User, Unknown},
		computed: {
      checkedTeammates() {
        let _teammates = _.cloneDeep(this.teammates)
        
        while(_teammates.length < this.amount)
          _teammates.push({unknown: true})

        return _teammates
      }
		},
    methods: {
      ...mapActions('teamsCommand', [
        'setData'
      ]),
      showMemberTooltip(obj) {
        this.$emit('showMemberTooltip', obj)
      },
      click(){
        this.setData({path:'id', value:this.team.id})
        this.$router.push('/teams/command')
      }
    }
	}
</script>