<template lang="pug">
  //- <div class="auth">

  //-   <p class="auth__title-standart">Восстановление пароля</p>
  //-   <form
  //-       @submit.prevent="submit"
  //-       class="auth__form"
  //-   >
  //-     <label
  //-         :class="{'-error-': $v.form.$dirty && (!$v.form.newPassword1.minLength || !$v.form.newPassword1.required || form.newPassword1 !== form.newPassword2)}"
  //-         class="auth__form-block">
  //-       <input
  //-           v-model.trim="form.newPassword1"
  //-           type="password"
  //-           class="auth__form-input"
  //-           placeholder="Пароль"
  //-       >
  //-       <span class="auth__form-error" v-if="$v.form.$dirty && !$v.form.newPassword1.required">
  //-         Введите пароль
  //-       </span>
  //-       <span class="auth__form-error" v-else-if="$v.form.$dirty && !$v.form.newPassword1.minLength">
  //-         Минимальная длина пароля {{$v.form.newPassword1.$params.minLength.min}} символов
  //-       </span>
  //-       <span class="auth__form-error" v-else-if="$v.form.$dirty && form.newPassword1 !== form.newPassword2">
  //-         Пароли не сопвпадают
  //-       </span>
  //-     </label>

  //-     <label
  //-         :class="{'-error-': $v.form.$dirty && (!$v.form.newPassword2.minLength || !$v.form.newPassword2.required || form.newPassword1 !== form.newPassword2)}"
  //-         class="auth__form-block">
  //-       <input
  //-           v-model.trim="form.newPassword2"
  //-           type="password"
  //-           class="auth__form-input"
  //-           placeholder="Подтвердите пароль"
  //-       >
  //-       <span class="auth__form-error" v-if="$v.form.$dirty && !$v.form.newPassword2.required">
  //-         Введите пароль
  //-       </span>
  //-       <span class="auth__form-error" v-else-if="$v.form.$dirty && !$v.form.newPassword2.minLength">
  //-         Минимальная длина пароля {{$v.form.newPassword2.$params.minLength.min}} символов
  //-       </span>
  //-       <span class="auth__form-error" v-else-if="$v.form.$dirty && form.newPassword1 !== form.newPassword2">
  //-         Пароли не сопвпадают
  //-       </span>
  //-     </label>

  //-     <button class="auth__form-button" type="submit">Изменить пароль</button>


  //-     <div class="auth__restore">
  //-       <p class="auth__text-bottom">Вспомнили пароль?
  //-         <router-link class="auth__link" to="/login">Войти</router-link>
  //-       </p>
  //-     </div>
  //-   </form>
  //- </div>
  .login__content
    form.login__form(@submit.prevent="submit")
      UiInput.login__input(
        type="password"
        title="Пароль"
        placeholder="Введите пароль"
        v-model.trim="form.newPassword1"
        :popup="validPopup(!$v.form.newPassword1.required, 'Не забудьте заполнить это поле :)' || validPopup(!$v.form.newPassword1.minLength, `Минимальная длина пароля ${$v.form.newPassword1.$params.minLength.min} символов`))"
        )
      UiInput.login__input(
        type="password"
        title="Подтвердите пароль"
        placeholder="Повторите пароль"
        v-model.trim="form.newPassword2"
        :popup="validPopup(!$v.form.newPassword2.required, 'Не забудьте заполнить это поле :)')"
        )
      router-link.login__restore(to="/login") Вспомнили пароль?
      UiButton(type="submit") Изменить пароль
</template>

<script>
  import {required, minLength} from 'vuelidate/lib/validators'
  export default {
    data: () => ({
      form: {
        newPassword1: '',
        newPassword2: ''
      }
    }),
    methods: {
      focusedIn(e){
        if(e.target.classList.contains('form__input'))
          e.target.closest('.form__block').classList.add('focus')
      },
      focusedOut(e){
        if(e.target.classList.contains('form__input'))
          e.target.closest('.form__block').classList.remove('focus')
      },
      async submit(){
        if(this.$v.$invalid || this.form.newPassword1 !== this.form.newPassword2){
          this.$v.$touch()
          return
        }

        let res = await this.$store.dispatch('security/changePassword', {user: this.form, hash: this.$route.params.hash})
        if(res === 'success')
          await this.$router.replace('/login')
      },
      validPopup(isErr, text) {
        if(!this.$v.$dirty) 
          return
        if(isErr) 
          return { 
            msg: text,
            error: true
          }
      },
    },
    validations: {
      form: {
        newPassword1: {required, minLength: minLength(6)},
        newPassword2: {required, minLength: minLength(6)},
      },
    }
  }
</script>